Repository apache/inlong, pull requests merged in 2021-12, with the labels that each got.

#1870 [INLONG-1852] The Master of TubeMQ supports monitoring indicators with JMX
  inlong-tubemq/pom.xml
  inlong-tubemq/tubemq-server/pom.xml
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/TMaster.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/balance/DefaultLoadBalancer.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/metrics/MasterMetric.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/nodemanage/nodebroker/BrokerAbnHolder.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/nodemanage/nodebroker/DefBrokerRunManager.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/nodemanage/nodeconsumer/ConsumeGroupInfo.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/nodemanage/nodeconsumer/ConsumerEventManager.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/nodemanage/nodeconsumer/ConsumerInfoHolder.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/nodemanage/nodeproducer/ProducerInfoHolder.java
  inlong-tubemq/tubemq-server/src/test/java/org/apache/inlong/tubemq/server/master/MasterMetricsTest.java
  inlong-tubemq/tubemq-server/src/test/java/org/apache/inlong/tubemq/server/master/nodemanage/nodeconsumer/ConsumerEventManagerTest.java
Labels: inlong-tubemq, feature

#1871 [INLONG-1863] [TubeMQ] exposed repHelperHost configuration for master
  inlong-tubemq/conf/master.ini
Labels: inlong-tubemq

#1900 [INLONG-1898] The error of the incharges for the second edit
  inlong-website/src/pages/ConsumeCreate/Info/index.tsx
Labels: inlong-website

#1899 [INLONG-1897] form cannot use chain name
  inlong-website/src/components/FormGenerator/FormGenerator.tsx
Labels: inlong-website

#1846 [INLONG-810] Sort Module Support store data to ApacheDoris
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/configuration/Constants.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/sink/DorisSinkInfo.java
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/flink/Entrance.java
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/flink/doris/DorisMultiSinkFunction.java
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/flink/doris/DorisSinkFunction.java
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/flink/doris/DorisSinkOptions.java
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/flink/doris/DorisSinkOptionsBuilder.java
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/flink/doris/load/DorisBeInfoResponse.java
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/flink/doris/load/DorisConnectParam.java
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/flink/doris/load/DorisHttpUtils.java
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/flink/doris/load/DorisRespond.java
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/flink/doris/load/DorisRespondMsg.java
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/flink/doris/load/DorisRowConverter.java
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/flink/doris/load/DorisStreamLoad.java
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/flink/doris/output/DorisOutputFormat.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/flink/doris/TestDorisSink.java
Labels: inlong-sort

#1884 [INLONG][feature][audit] add inlong audit feature code module struct
  inlong-audit/audit-common/pom.xml
  inlong-audit/audit-dist/assembly/assembly.xml
  inlong-audit/audit-dist/pom.xml
  inlong-audit/audit-docker/Dockerfile
  inlong-audit/audit-docker/README.md
  inlong-audit/audit-docker/audit-docker.sh
  inlong-audit/audit-docker/pom.xml
  inlong-audit/audit-source/assembly/assembly.xml
  inlong-audit/audit-source/bin/audit-ng
  inlong-audit/audit-source/bin/prepare_env.sh
  inlong-audit/audit-source/bin/start.sh
  inlong-audit/audit-source/bin/stop.sh
  inlong-audit/audit-source/conf/logback.xml
  inlong-audit/audit-source/pom.xml
  inlong-audit/audit-store/assembly/assembly.xml
  inlong-audit/audit-store/bin/prepare_env.sh
  inlong-audit/audit-store/bin/start.sh
  inlong-audit/audit-store/bin/stop.sh
  inlong-audit/audit-store/pom.xml
  inlong-audit/pom.xml
  pom.xml
Labels: inlong-audit

#1903 [INLONG-1902] Access create params error
  inlong-website/src/pages/AccessCreate/Business/config.tsx
  inlong-website/src/pages/AccessCreate/index.tsx
Labels: inlong-website

#1887 [INLONG-1886][Improve][InLong-Manager] Refactor and delete unused entities
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/TaskDefEntity.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/TaskEntity.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/TaskFlowDefEntity.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/TaskFlowEntity.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/TaskDefEntityMapper.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/TaskEntityMapper.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/TaskFlowDefEntityMapper.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/TaskFlowEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/mappers/DataSourceCmdConfigEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/SourceFileDetailEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/TaskDefEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/TaskEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/TaskFlowDefEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/TaskFlowEntityMapper.xml
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/AgentTaskServiceImpl.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/ConsumptionController.java
Labels: inlong-manager

#1907 [INLONG-1872]The Broker of TubeMQ supports metrics with JMX
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/metric/AbsMetricItem.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/metric/CountMetricItem.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/metric/GaugeMaxMetricItem.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/metric/GaugeMinMetricItem.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/metric/GaugeNormMetricItem.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/metric/MetricType.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/metric/MetricValue.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/metric/MetricValueType.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/metric/MetricValues.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/BrokerServiceServer.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/TubeBroker.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/metrics/BrokerMetricMXBean.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/metrics/BrokerMetrics.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/metrics/BrokerMetricsHolder.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/msgstore/disk/FileSegment.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/msgstore/disk/MsgFileStore.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/msgstore/mem/MsgMemStore.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/offset/DefaultOffsetManager.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/common/offsetstorage/ZkOffsetStorage.java
  inlong-tubemq/tubemq-server/src/test/java/org/apache/inlong/tubemq/server/broker/BrokerMetricsTest.java
Labels: inlong-tubemq, feature

#1906 [INLONG][feature][audit] add audit-store module
  inlong-audit/audit-store/conf/application.properties
  inlong-audit/audit-store/conf/logback.xml
  inlong-audit/audit-store/conf/server.properties
  inlong-audit/audit-store/sql/audit.sql
  inlong-audit/audit-store/src/main/java/org/apache/inlong/store/Application.java
  inlong-audit/audit-store/src/main/java/org/apache/inlong/store/config/DataServerConfig.java
  inlong-audit/audit-store/src/main/java/org/apache/inlong/store/config/PulsarConfig.java
  inlong-audit/audit-store/src/main/java/org/apache/inlong/store/db/DruidConfig.java
  inlong-audit/audit-store/src/main/java/org/apache/inlong/store/db/DruidDataSourceProperties.java
  inlong-audit/audit-store/src/main/java/org/apache/inlong/store/db/dao/AuditDataDao.java
  inlong-audit/audit-store/src/main/java/org/apache/inlong/store/db/entities/AuditDataPo.java
  inlong-audit/audit-store/src/main/java/org/apache/inlong/store/service/AuditMsgConsumerServer.java
  inlong-audit/audit-store/src/main/resources/mapper/AuditDataDao.xml
  inlong-audit/audit-store/src/test/java/org/apache/inlong/store/service/AuditStoreTest.java
Labels: inlong-audit

#1905 [INLONG][feature][audit] add audit-source module
  inlong-audit/audit-source/conf/audit.conf
  inlong-audit/audit-source/conf/pulsar.properties
  inlong-audit/audit-source/pom.xml
  inlong-audit/audit-source/src/main/java/org/apache/inlong/audit/base/HighPriorityThreadFactory.java
  inlong-audit/audit-source/src/main/java/org/apache/inlong/audit/base/NamedThreadFactory.java
  inlong-audit/audit-source/src/main/java/org/apache/inlong/audit/channel/FailoverChannelSelector.java
  inlong-audit/audit-source/src/main/java/org/apache/inlong/audit/node/Application.java
  inlong-audit/audit-source/src/main/java/org/apache/inlong/audit/sink/EventStat.java
  inlong-audit/audit-source/src/main/java/org/apache/inlong/audit/sink/PulsarSink.java
  inlong-audit/audit-source/src/main/java/org/apache/inlong/audit/sink/pulsar/CreatePulsarClientCallBack.java
  inlong-audit/audit-source/src/main/java/org/apache/inlong/audit/sink/pulsar/PulsarClientService.java
  inlong-audit/audit-source/src/main/java/org/apache/inlong/audit/sink/pulsar/SendMessageCallBack.java
  inlong-audit/audit-source/src/main/java/org/apache/inlong/audit/source/DefaultServiceDecoder.java
  inlong-audit/audit-source/src/main/java/org/apache/inlong/audit/source/ServerMessageFactory.java
  inlong-audit/audit-source/src/main/java/org/apache/inlong/audit/source/ServerMessageHandler.java
  inlong-audit/audit-source/src/main/java/org/apache/inlong/audit/source/ServiceDecoder.java
  inlong-audit/audit-source/src/main/java/org/apache/inlong/audit/source/SimpleTcpSource.java
  inlong-audit/audit-source/src/main/java/org/apache/inlong/audit/utils/FailoverChannelProcessorHolder.java
  inlong-audit/audit-source/src/main/java/org/apache/inlong/audit/utils/LogCounter.java
  inlong-audit/audit-source/src/main/java/org/apache/inlong/audit/utils/NetworkUtils.java
  inlong-audit/audit-source/src/test/java/org/apache/inlong/audit/sink/PulsarSinkTest.java
Labels: inlong-audit

#1917 [INLONG-1916][website] modify the business to InLong Group
  inlong-website/src/locales/cn.json
  inlong-website/src/locales/en.json
Labels: inlong-website

#1913 [INLONG-1889] add Inlong-sort-standalone module structure
  inlong-sort-standalone/bin/prepare_env.sh
  inlong-sort-standalone/bin/sort-standalone
  inlong-sort-standalone/bin/sort-start.sh
  inlong-sort-standalone/bin/sort-stop.sh
  inlong-sort-standalone/conf/common.properties
  inlong-sort-standalone/pom.xml
  inlong-sort-standalone/sort-standalone-dist/pom.xml
  inlong-sort-standalone/sort-standalone-dist/src/main/assembly/assembly.xml
  inlong-sort-standalone/sort-standalone-source/pom.xml
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/SortStandaloneApplication.java
  pom.xml
Labels: inlong-sort-standalone

#1924 [INLONG-1915][Bug] tubemq master can not start
  inlong-tubemq/conf/master.ini
Labels: inlong-tubemq, bug

#1923 [INLONG-1890] Inlong-Sort-Standalone add sort-standalone-common module.
  inlong-sort-standalone/pom.xml
  inlong-sort-standalone/sort-standalone-common/pom.xml
  inlong-sort-standalone/sort-standalone-common/src/main/java/org/apache/inlong/sort/standalone/config/holder/CommonPropertiesHolder.java
  inlong-sort-standalone/sort-standalone-common/src/main/java/org/apache/inlong/sort/standalone/config/holder/SortClusterConfigHolder.java
  inlong-sort-standalone/sort-standalone-common/src/main/java/org/apache/inlong/sort/standalone/config/loader/ClassResourceCommonPropertiesLoader.java
  inlong-sort-standalone/sort-standalone-common/src/main/java/org/apache/inlong/sort/standalone/config/loader/ClassResourceSortClusterConfigLoader.java
  inlong-sort-standalone/sort-standalone-common/src/main/java/org/apache/inlong/sort/standalone/config/loader/CommonPropertiesLoader.java
  inlong-sort-standalone/sort-standalone-common/src/main/java/org/apache/inlong/sort/standalone/config/loader/ManagerSortClusterConfigLoader.java
  inlong-sort-standalone/sort-standalone-common/src/main/java/org/apache/inlong/sort/standalone/config/loader/SortClusterConfigLoader.java
  inlong-sort-standalone/sort-standalone-common/src/main/java/org/apache/inlong/sort/standalone/config/pojo/CacheClusterConfig.java
  inlong-sort-standalone/sort-standalone-common/src/main/java/org/apache/inlong/sort/standalone/config/pojo/InlongId.java
  inlong-sort-standalone/sort-standalone-common/src/main/java/org/apache/inlong/sort/standalone/config/pojo/SortClusterConfig.java
  inlong-sort-standalone/sort-standalone-common/src/main/java/org/apache/inlong/sort/standalone/config/pojo/SortClusterRequest.java
  inlong-sort-standalone/sort-standalone-common/src/main/java/org/apache/inlong/sort/standalone/config/pojo/SortClusterResponse.java
  inlong-sort-standalone/sort-standalone-common/src/main/java/org/apache/inlong/sort/standalone/config/pojo/SortTaskConfig.java
  inlong-sort-standalone/sort-standalone-common/src/main/java/org/apache/inlong/sort/standalone/config/pojo/type/CacheType.java
  inlong-sort-standalone/sort-standalone-common/src/main/java/org/apache/inlong/sort/standalone/config/pojo/type/DataType.java
  inlong-sort-standalone/sort-standalone-common/src/main/java/org/apache/inlong/sort/standalone/config/pojo/type/SortType.java
  inlong-sort-standalone/sort-standalone-common/src/main/java/org/apache/inlong/sort/standalone/metrics/MetricItemValue.java
  inlong-sort-standalone/sort-standalone-common/src/main/java/org/apache/inlong/sort/standalone/metrics/MetricListener.java
  inlong-sort-standalone/sort-standalone-common/src/main/java/org/apache/inlong/sort/standalone/metrics/MetricListenerRunnable.java
  inlong-sort-standalone/sort-standalone-common/src/main/java/org/apache/inlong/sort/standalone/metrics/MetricObserver.java
  inlong-sort-standalone/sort-standalone-common/src/main/java/org/apache/inlong/sort/standalone/metrics/SortMetricItem.java
  inlong-sort-standalone/sort-standalone-common/src/main/java/org/apache/inlong/sort/standalone/metrics/SortMetricItemSet.java
  inlong-sort-standalone/sort-standalone-common/src/main/java/org/apache/inlong/sort/standalone/utils/BufferQueue.java
  inlong-sort-standalone/sort-standalone-common/src/main/java/org/apache/inlong/sort/standalone/utils/Constants.java
  inlong-sort-standalone/sort-standalone-common/src/main/java/org/apache/inlong/sort/standalone/utils/InlongLoggerFactory.java
  inlong-sort-standalone/sort-standalone-common/src/main/java/org/apache/inlong/sort/standalone/utils/SizeSemaphore.java
Labels: inlong-sort-standalone

#1937 [INLONG-1920]Failed to start up MultiSession factory by following the demo code
  inlong-tubemq/tubemq-example/src/main/java/org/apache/inlong/tubemq/example/MessagePullSetConsumerExample.java
Labels: inlong-tubemq, bug

#1918 [INLONG-1911] add pulling metric of prometheus, pulling metric value will not be resetted.
  inlong-common/src/main/java/org/apache/inlong/commons/config/metrics/MetricItemMBean.java
  inlong-common/src/main/java/org/apache/inlong/commons/config/metrics/MetricItemSetMBean.java
  inlong-common/src/main/java/org/apache/inlong/commons/config/metrics/MetricRegister.java
  inlong-common/src/test/java/org/apache/inlong/commons/config/metrics/item/TestMetricItemMBean.java
  inlong-common/src/test/java/org/apache/inlong/commons/config/metrics/set/TestMetricItemSetMBean.java
  inlong-dataproxy/conf/common.properties
  inlong-dataproxy/dataproxy-source/pom.xml
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/metrics/DataProxyMetricItem.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/metrics/MetricListenerRunnable.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/metrics/prometheus/PrometheusMetricListener.java
  inlong-dataproxy/dataproxy-source/src/test/java/org/apache/inlong/dataproxy/metrics/TestDataProxyMetricItemSet.java
  inlong-dataproxy/dataproxy-source/src/test/java/org/apache/inlong/dataproxy/sink/pulsar/federation/TestPulsarProducerFederation.java
Labels: inlong-dataproxy

#1930 [INLONG-1891] Inlong-Sort-Standalone add sort-standalone-source module.
  inlong-sort-standalone/pom.xml
  inlong-sort-standalone/sort-standalone-common/pom.xml
  inlong-sort-standalone/sort-standalone-common/src/main/java/org/apache/inlong/sort/standalone/config/holder/SortClusterConfigHolder.java
  inlong-sort-standalone/sort-standalone-common/src/main/java/org/apache/inlong/sort/standalone/config/pojo/SortClusterResponse.java
  inlong-sort-standalone/sort-standalone-common/src/main/java/org/apache/inlong/sort/standalone/config/pojo/type/CacheType.java
  inlong-sort-standalone/sort-standalone-common/src/main/java/org/apache/inlong/sort/standalone/config/pojo/type/DataType.java
  inlong-sort-standalone/sort-standalone-common/src/main/java/org/apache/inlong/sort/standalone/config/pojo/type/SortType.java
  inlong-sort-standalone/sort-standalone-common/src/main/java/org/apache/inlong/sort/standalone/utils/InlongLoggerFactory.java
  inlong-sort-standalone/sort-standalone-source/pom.xml
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/PropertiesConfigurationProvider.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/SortCluster.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/SortStandaloneApplication.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/SortTask.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/channel/BufferQueueChannel.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/channel/ProfileEvent.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/channel/ProfileTransaction.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/dispatch/DispatchManager.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/dispatch/DispatchProfile.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/SinkContext.java
Labels: feature, inlong-sort-standalone

#1936 [INLONG-1935] package the SQL file for the manager
  docker/docker-compose/README.md
  inlong-manager/manager-web/assembly.xml
  inlong-manager/manager-web/pom.xml
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
  inlong-website/src/locales/en.json
Labels: inlong-manager, inlong-website

#1940 [INLONG-1938][DataProxy] add multi-pulsar cluster config demo
  inlong-dataproxy/README.md
  inlong-dataproxy/conf/flume-mulit-pulsar-demo.conf
Labels: inlong-dataproxy

#1961 [INLONG-1954][Sort] Sort module supports pulsar source
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/flink/Entrance.java
Labels: inlong-sort

#1960 [INLONG-1953][Bug]It can not be submitted when I create data access using file data source
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/business/BusinessInfo.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/business/BusinessPageRequest.java
  inlong-manager/manager-dao/src/main/resources/mappers/BusinessEntityMapper.xml
  inlong-manager/manager-dao/src/test/resources/sql/apache_inlong_manager.sql
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
  inlong-manager/manager-web/src/test/resources/sql/apache_inlong_manager.sql
Labels: inlong-manager

#1962 [INLONG-1958][Bug]Avoid the security risks of the log4j package
  inlong-manager/manager-dao/pom.xml
  inlong-manager/manager-service/pom.xml
  inlong-manager/manager-web/bin/startup.sh
  inlong-manager/pom.xml
Labels: inlong-manager, bug

#1951 [INLONG-1926] Inlong-Sort-Standalone support JMX metrics listener for pulling.
  inlong-sort-standalone/conf/common.properties
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/metrics/prometheus/PrometheusMetricListener.java
Labels: feature, inlong-sort-standalone

#1963 [INLONG-1955] Do not set the disabled of the hive field
  inlong-website/src/components/AccessHelper/FieldsConfig/businessFields.tsx
  inlong-website/src/components/MetaData/StorageHive.tsx
Labels: inlong-website, bug

#1969 [INLONG-1967][Bug][InLong-Manager] Cannot create the Pulsar subscription
  inlong-manager/manager-dao/src/test/resources/sql/apache_inlong_manager.sql
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
  inlong-manager/manager-web/src/test/resources/sql/apache_inlong_manager.sql
Labels: inlong-manager

#1970 Revert "[INLONG-1967][Bug][InLong-Manager] Cannot create the Pulsar subscription
  inlong-manager/manager-dao/src/test/resources/sql/apache_inlong_manager.sql
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
  inlong-manager/manager-web/src/test/resources/sql/apache_inlong_manager.sql
Labels: inlong-manager

#1971 [INLONG-1967][Bug][InLong-Manager] Cannot create the Pulsar subscription
  inlong-manager/manager-dao/src/test/resources/sql/apache_inlong_manager.sql
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
  inlong-manager/manager-web/src/test/resources/sql/apache_inlong_manager.sql
Labels: inlong-manager

#1968 [INLONG-1734][feature][audit] audit-sdk module
  inlong-audit/audit-sdk/README.md
  inlong-audit/audit-sdk/pom.xml
  inlong-audit/audit-sdk/src/main/java/org/apache/inlong/audit/AuditImp.java
  inlong-audit/audit-sdk/src/main/java/org/apache/inlong/audit/send/SenderChannel.java
  inlong-audit/audit-sdk/src/main/java/org/apache/inlong/audit/send/SenderGroup.java
  inlong-audit/audit-sdk/src/main/java/org/apache/inlong/audit/send/SenderHandler.java
  inlong-audit/audit-sdk/src/main/java/org/apache/inlong/audit/send/SenderManager.java
  inlong-audit/audit-sdk/src/main/java/org/apache/inlong/audit/util/AuditData.java
  inlong-audit/audit-sdk/src/main/java/org/apache/inlong/audit/util/Config.java
  inlong-audit/audit-sdk/src/main/java/org/apache/inlong/audit/util/Decoder.java
  inlong-audit/audit-sdk/src/main/java/org/apache/inlong/audit/util/Encoder.java
  inlong-audit/audit-sdk/src/main/java/org/apache/inlong/audit/util/IpPort.java
  inlong-audit/audit-sdk/src/main/java/org/apache/inlong/audit/util/SenderResult.java
  inlong-audit/audit-sdk/src/main/java/org/apache/inlong/audit/util/StatInfo.java
  inlong-audit/audit-sdk/src/test/java/org/apache/inlong/audit/AuditImpTest.java
  inlong-audit/audit-sdk/src/test/java/org/apache/inlong/audit/send/SenderChannelTest.java
  inlong-audit/audit-sdk/src/test/java/org/apache/inlong/audit/send/SenderGroupTest.java
  inlong-audit/audit-sdk/src/test/java/org/apache/inlong/audit/send/SenderManagerTest.java
  inlong-audit/audit-sdk/src/test/java/org/apache/inlong/audit/util/AuditDataTest.java
  inlong-audit/audit-sdk/src/test/java/org/apache/inlong/audit/util/ConfigTest.java
  inlong-audit/audit-sdk/src/test/java/org/apache/inlong/audit/util/IpPortTest.java
  inlong-audit/pom.xml
Labels: feature, inlong-audit

#1976 [INLONG-1975][Bug]error occurs when deleting a data access
  inlong-manager/manager-dao/src/main/resources/mappers/BusinessPulsarEntityMapper.xml
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/DataStreamServiceImpl.java
Labels: inlong-manager, bug

#1974 [INLONG-1973][Bug][InLong-Manager] modify demo config class package
  inlong-dataproxy/conf/flume-mulit-pulsar-demo.conf
Labels: inlong-dataproxy, bug

#1977 [INLONG-1943] Add 0.12.0 version release modification to CHANGES
  CHANGES.md
Labels: release

#1982 [INLONG-1981][Bug] When compiling the project, the InLong-audit module reported Warning errors
  inlong-agent/agent-common/pom.xml
  inlong-agent/agent-plugins/pom.xml
  inlong-agent/agent-release/assembly.xml
  inlong-agent/agent-release/pom.xml
  inlong-agent/pom.xml
  inlong-audit/audit-common/pom.xml
  inlong-audit/audit-dist/assembly/assembly.xml
  inlong-audit/audit-dist/pom.xml
  inlong-audit/audit-docker/pom.xml
  inlong-audit/audit-source/assembly/assembly.xml
  inlong-audit/audit-source/pom.xml
  inlong-audit/audit-store/assembly/assembly.xml
  inlong-audit/audit-store/pom.xml
  inlong-audit/pom.xml
  inlong-dataproxy/dataproxy-dist/pom.xml
  inlong-dataproxy/dataproxy-dist/src/main/assembly/assembly.xml
  inlong-distribution/distribution.xml
  inlong-manager/manager-web/assembly.xml
  inlong-manager/manager-web/pom.xml
  inlong-sdk/pom.xml
  inlong-sort-standalone/sort-standalone-dist/pom.xml
  inlong-sort-standalone/sort-standalone-dist/src/main/assembly/assembly.xml
  inlong-tubemq/tubemq-client/pom.xml
  inlong-tubemq/tubemq-client/src/main/assembly/assembly.xml
  inlong-tubemq/tubemq-example/pom.xml
  inlong-tubemq/tubemq-example/src/main/assembly/assembly.xml
  inlong-tubemq/tubemq-manager/pom.xml
  inlong-tubemq/tubemq-manager/src/main/assembly/assembly.xml
  inlong-tubemq/tubemq-server/pom.xml
  inlong-tubemq/tubemq-server/src/main/assembly/assembly.xml
Labels: inlong-tubemq, inlong-manager, inlong-dataproxy, inlong-agent, bug

#1983 [INLONG-1978][Bug][InLong-Agent] Create multiple file import tasks, and inlong-agent reports an error when registering metric
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/utils/AgentUtils.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sinks/ProxySink.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sinks/PulsarSink.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/SqlReader.java
Labels: inlong-agent, bug

#1985 [INLONG-1984][Bug][InLong-Manager] Create pulsar access, modify pulsar related parameters failed
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/BusinessServiceImpl.java
Labels: inlong-manager, bug

#1986 [INLONG-1980][Bug][InLong-Dataproxy] the content of topics.properties generated incorrectly，and too much backup files generate automatically
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/RemoteConfigJson.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/holder/PropertiesConfigHolder.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/remote/ConfigMessageServlet.java
Labels: inlong-dataproxy

#1988 [INLONG-1987][Improve] Add function comment information in TubeMQ
  inlong-tubemq/tubemq-client/src/main/java/org/apache/inlong/tubemq/client/config/TubeClientConfig.java
  inlong-tubemq/tubemq-client/src/main/java/org/apache/inlong/tubemq/client/config/TubeClientConfigUtils.java
  inlong-tubemq/tubemq-client/src/main/java/org/apache/inlong/tubemq/client/consumer/ClientSubInfo.java
  inlong-tubemq/tubemq-client/src/main/java/org/apache/inlong/tubemq/client/consumer/MessageConsumer.java
  inlong-tubemq/tubemq-client/src/main/java/org/apache/inlong/tubemq/client/consumer/MessageFetchManager.java
  inlong-tubemq/tubemq-client/src/main/java/org/apache/inlong/tubemq/client/consumer/RmtDataCache.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/Message.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/policies/FlowCtrlItem.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/policies/FlowCtrlRuleHandler.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/utils/AddressUtils.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/utils/OpsSyncInfo.java
  inlong-tubemq/tubemq-server/src/test/java/org/apache/inlong/tubemq/server/broker/metadata/BrokerMetadataManagerTest.java
  inlong-tubemq/tubemq-server/src/test/java/org/apache/inlong/tubemq/server/broker/utils/DataStoreUtilsTest.java
Labels: inlong-tubemq, improve

#1990 [INLONG-1981][Bug] When compiling the project, the InLong-audit module reported Warning errors (addendum)
  inlong-agent/agent-release/assembly.xml
  inlong-agent/agent-release/pom.xml
  inlong-audit/audit-dist/assembly/assembly.xml
  inlong-audit/audit-dist/pom.xml
  inlong-audit/audit-source/assembly/assembly.xml
  inlong-audit/audit-source/pom.xml
  inlong-audit/audit-store/assembly/assembly.xml
  inlong-audit/audit-store/pom.xml
  inlong-dataproxy/dataproxy-dist/pom.xml
  inlong-dataproxy/dataproxy-dist/src/main/assembly/assembly.xml
  inlong-manager/manager-web/assembly.xml
  inlong-manager/manager-web/pom.xml
  inlong-sort-standalone/sort-standalone-dist/pom.xml
  inlong-sort-standalone/sort-standalone-dist/src/main/assembly/assembly.xml
  inlong-tubemq/tubemq-client/pom.xml
  inlong-tubemq/tubemq-client/src/main/assembly/assembly.xml
  inlong-tubemq/tubemq-example/pom.xml
  inlong-tubemq/tubemq-example/src/main/assembly/assembly.xml
  inlong-tubemq/tubemq-manager/pom.xml
  inlong-tubemq/tubemq-manager/src/main/assembly/assembly.xml
  inlong-tubemq/tubemq-server/pom.xml
  inlong-tubemq/tubemq-server/src/main/assembly/assembly.xml
Labels: inlong-tubemq, inlong-manager, inlong-dataproxy, inlong-agent

#1999 [INLONG-1995] [Bug] Compile Audit-SDK and report TestNGException
  inlong-audit/audit-sdk/pom.xml
  inlong-audit/audit-sdk/src/test/java/org/apache/inlong/audit/send/SenderChannelTest.java
Labels: bug, inlong-audit

#2000 [INLONG-1984][Bug][InLong-Manager] Set Pulsar params for workflow form after submitting approval
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/BusinessProcessOperation.java
Labels: inlong-manager, bug

#2001 [INLONG-1996][Bug] Compile the project and InLong-Agent module throws 3 exceptions
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/TextFileReader.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/TestFileAgent.java
  inlong-sort/sort-formats/pom.xml
Labels: inlong-agent, inlong-sort

#2003 [INLONG-1997][Bug][InLong-DataProxy] modify build can not create lib package error
  inlong-dataproxy/dataproxy-dist/pom.xml
  inlong-dataproxy/dataproxy-dist/src/main/assembly/assembly.xml
Labels: inlong-dataproxy, bug

#2004 [INLONG-1995][Bug] Compile Audit-SDK and report TestNGException(addendum)
  inlong-audit/audit-sdk/pom.xml
  inlong-audit/audit-sdk/src/test/java/org/apache/inlong/audit/AuditImpTest.java
  inlong-audit/audit-sdk/src/test/java/org/apache/inlong/audit/send/SenderChannelTest.java
  inlong-audit/audit-sdk/src/test/java/org/apache/inlong/audit/send/SenderGroupTest.java
  inlong-audit/audit-sdk/src/test/java/org/apache/inlong/audit/send/SenderManagerTest.java
  inlong-audit/audit-sdk/src/test/java/org/apache/inlong/audit/util/IpPortTest.java
Labels: bug, inlong-audit

#2005 [INLONG-1958][Bug]Avoid the security risks of log4j package(addendum)
  inlong-manager/manager-dao/pom.xml
  inlong-manager/pom.xml
Labels: inlong-manager, bug

#2006 [INLONG-1997][Bug][InLong-DataProxy] package of DataProxy is not exist in distribution dir
  inlong-dataproxy/dataproxy-dist/pom.xml
  inlong-dataproxy/dataproxy-dist/src/main/assembly/assembly.xml
Labels: inlong-dataproxy, bug

#2007 [INLONG-1975][Bug]error occurs when deleting a data access(addendum)
  inlong-manager/manager-dao/src/main/resources/mappers/DataStreamEntityMapper.xml
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/DataStreamController.java
Labels: inlong-manager, bug

#2008 [INLONG-2002] creating data access with pulsar, users should be able to change the ensemble param
  inlong-website/src/pages/AccessCreate/Business/config.tsx
  inlong-website/src/pages/AccessDetail/Info/config.tsx
Labels: inlong-website, feature

#2010 [INLONG-2009][InLong-Manager] Topic obtained through "openapi/dataproxy/getConfig" is wrong
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/BusinessEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/mappers/BusinessEntityMapper.xml
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/BusinessServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/DataProxyClusterServiceImpl.java
Labels: inlong-manager, bug

#2011 [INLONG-2009][InLong-DataProxy] Topic obtained through "openapi/dataproxy/getConfig" is wrong bug inlong-manager
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/ServerMessageHandler.java
Labels: inlong-dataproxy, bug

#2013 [INLONG-2012][InLong-Manager] Inlong-Agent could not fetch file agent task through "fileAgent/getTaskConf"
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/BizConstant.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/EntityStatus.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/agent/FileAgentCommandInfo.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/SourceFileDetailEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/mappers/SourceFileDetailEntityMapper.xml
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/AgentTaskServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/SourceDbServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/SourceFileServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/business/listener/BusinessCompleteProcessListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/stream/StreamCompleteProcessListener.java
Labels: inlong-manager, bug

#2016 [INLONG-2014][InLong-DataProxy] inlong-dataproxy could not identify the groupId and topic format of topics.properties
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/ServerMessageHandler.java
Labels: inlong-dataproxy, bug

#2019 [INLONG-2018][InLong-Manager] After approving data access, some failures happen and the data access is always in the state of configuration
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/SourceFileDetailEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/mappers/SourceFileDetailEntityMapper.xml
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/DataStreamServiceImpl.java
Labels: inlong-manager, bug

#2021 [INLONG-2020][InLong-Sort] Fix missing dependency of jul-to-slf4j
  inlong-sort/pom.xml
Labels: bug, inlong-sort

#2025 [INLONG-2023][Bug] Agent stream id is not passed to proxy
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sinks/ProxySink.java
Labels: inlong-agent, bug

#2027 [INLONG-2026][Bug] Found Pulsar client create failure when starting Sort
  inlong-sort/pom.xml
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/flink/pulsar/PulsarUtils.java
Labels: bug, inlong-sort

#2031 [INLONG-2030][Bug]inlong-agent raises NPE error when running
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sinks/ProxySink.java
Labels: inlong-agent, bug

#2033 [INLONG-2032][Bug]"javax.xml.parsers.FactoryConfigurationError" throwed in flink when starting a inlong-sort job
  inlong-sort/pom.xml
Labels: bug, inlong-sort

#2037 [INLONG-2034] Update the definition of InLong more clearly
  .asf.yaml
  README.md
  inlong-manager/manager-web/src/main/resources/application-dev.properties
  inlong-manager/manager-web/src/main/resources/application-prod.properties
  inlong-manager/manager-web/src/main/resources/application-test.properties
  inlong-manager/manager-web/src/test/resources/application-test.properties
  pom.xml
Labels: inlong-manager, improve

#2039 [INLONG-2035][Bug] Agent use wrong tid __ to generate message
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/constants/CommonConstants.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/message/ProxyMessage.java
Labels: inlong-agent, bug

#2044 [INLONG-2043][InLong-Sort] Rename tid to streamId
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/flink/deserialization/MultiTenancyTDMsgMixedDeserializerTest.java
  inlong-sort/sort-formats/format-tdmsg-base/src/main/java/org/apache/inlong/sort/formats/tdmsg/TDMsgUtils.java
  inlong-sort/sort-formats/format-tdmsg-csv/src/main/java/org/apache/inlong/sort/formats/tdmsgcsv/TDMsgCsvUtils.java
  inlong-sort/sort-formats/format-tdmsg-csv/src/test/java/org/apache/inlong/sort/formats/tdmsgcsv/TDMsgCsvFormatDeserializerTest.java
Labels: feature, inlong-sort

#2041 [INLONG-2038][Bug]inlong-sort abandon data from pulsar due to an ClassCastException
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/flink/TDMsgMixedSerializedRecord.java
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/flink/deserialization/DeserializationSchema.java
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/flink/deserialization/MultiTenancyDeserializer.java
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/flink/deserialization/MultiTenancyTDMsgMixedDeserializer.java
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/flink/deserialization/TDMsgDeserializer.java
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/flink/deserialization/TDMsgMixedDeserializer.java
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/flink/tubemq/MultiTenancyTubeConsumer.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/flink/deserialization/MultiTenancyTDMsgMixedDeserializerTest.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/flink/deserialization/TDMsgMixedDeserializerTest.java
Labels: bug, inlong-sort

#2047 [INLONG-2046][Bug]inlong-sort could not identify tube master address when inlong-sort and tube-master were deployed in the same machine
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/flink/tubemq/MultiTenancyTubeConsumer.java
  inlong-tubemq/tubemq-connectors/tubemq-connector-flink/src/main/java/org/apache/flink/connectors/tubemq/TubemqSourceFunction.java
Labels: inlong-tubemq, bug, inlong-sort

#2048 [INLONG-1943] Add 0.12.0 version release modification to CHANGES(addendum)
  CHANGES.md
Labels: doc, release

#2059 [INLONG-2058] The metric of Sort-standalone append a dimension(minute level) of event time, supporting audit reconciliation of minute level.
  inlong-sort-standalone/sort-standalone-common/src/main/java/org/apache/inlong/sort/standalone/config/holder/CommonPropertiesHolder.java
  inlong-sort-standalone/sort-standalone-common/src/main/java/org/apache/inlong/sort/standalone/metrics/SortMetricItem.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/pulsar/PulsarFederationWorker.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/pulsar/PulsarProducerCluster.java
Labels: inlong-sort-standalone

#2057 [INLONG-2056] The metric of DataProxy append a dimension(minute level) of event time, supporting audit reconciliation of minute level.
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/holder/CommonPropertiesHolder.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/metrics/DataProxyMetricItem.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/pulsar/federation/PulsarFederationWorker.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/pulsar/federation/PulsarProducerCluster.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/ServerMessageHandler.java
Labels: inlong-dataproxy

#2036 [INLONG-1892][Inlong-sort-standalone] Sort-standalone support consume events from Pulsar.
  inlong-sort-standalone/sort-standalone-common/src/main/java/org/apache/inlong/sort/standalone/utils/Constants.java
  inlong-sort-standalone/sort-standalone-source/pom.xml
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/pulsar/PulsarProducerCluster.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/source/SourceContext.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/source/sortsdk/DefaultTopicChangeListener.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/source/sortsdk/FetchCallback.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/source/sortsdk/SortSdkSource.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/source/sortsdk/SortSdkSourceContext.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/source/sortsdk/SubscribeFetchResult.java
  inlong-sort-standalone/sort-standalone-source/src/main/test/org/apache/inlong/sort/standalone/source/sortsdk/SortSdkSourceTest.java
Labels: inlong-sort-standalone

#2067 [INLONG-2066][inlong-tubemq] Confirm the message correctly in Go SDK
  inlong-tubemq/tubemq-client-twins/tubemq-client-go/client/consumer_impl.go
  inlong-tubemq/tubemq-client-twins/tubemq-client-go/config/config.go
  inlong-tubemq/tubemq-client-twins/tubemq-client-go/config/config_test.go
  inlong-tubemq/tubemq-client-twins/tubemq-client-go/tdmsg/td_msg_test.go
Labels: inlong-tubemq, bug

#2065 [INLONG-2064] tubemq-manager TopicEntry.java:[28,36] package javax.validation.constraints not exists
  inlong-tubemq/tubemq-manager/pom.xml
Labels: inlong-tubemq

#2069 [INLONG-2068][Bug] the class name in dataproxy stop.sh is wrong
  inlong-dataproxy/bin/dataproxy-stop.sh
Labels: inlong-dataproxy

#2022 [INLONG-1992] sort-flink support configurable loader of getting configuration.
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/meta/MetaDataFlowInfoListener.java
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/meta/MetaManager.java
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/meta/MetaWatcher.java
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/meta/zookeeper/ZookeeperMetaWatcher.java
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/meta/zookeeper/ZookeeperWatcherUtils.java
  inlong-sort/sort-formats/format-base/src/test/java/org/apache/inlong/sort/formats/base/TableFormatUtilsTest.java
Labels: inlong-sort

#2079 [INLONG-2078] create partition topic for serial model
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/thirdpart/mq/PulsarOptServiceImpl.java
Labels: inlong-manager

#2071 [INLONG-2070] update the default pulsar demo configuration for dataproxy
  inlong-dataproxy/conf/flume-mulit-pulsar-demo.conf
Labels: inlong-dataproxy

#2074 [INLONG-2073][Improve] remove spring 2.5.6 from dependencyManagement
  inlong-agent/pom.xml
Labels: inlong-agent

#2083 [INLONG-2082] add GET method for getIpList
  inlong-agent/conf/agent.properties
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/openapi/DataProxyController.java
Labels: inlong-manager, inlong-agent

#2086 [INLONG-2084][Bug]A bug in the Go SDK demo, and the API result class is not clear enough
  inlong-tubemq/tubemq-client-twins/tubemq-client-go/README.md
  inlong-tubemq/tubemq-client-twins/tubemq-client-go/client/consumer.go
  inlong-tubemq/tubemq-client-twins/tubemq-client-go/client/consumer_impl.go
  inlong-tubemq/tubemq-client-twins/tubemq-client-go/client/version.go
  inlong-tubemq/tubemq-client-twins/tubemq-client-go/example/consumer.go
  inlong-tubemq/tubemq-client-twins/tubemq-client-go/example/multi_routine_consumer.go
Labels: inlong-tubemq

#2090 [INLONG-2089] tubemq-manager throws error when starting: java.lang.ClassNotFoundException: javax.validation.ClockProvider
  inlong-tubemq/tubemq-manager/pom.xml
Labels: inlong-tubemq

#2093 [INLONG-2087][Bug] Miss a "-p" flag before 2181:2181 in the command "Start Standalone Container"
  inlong-tubemq/tubemq-docker/tubemq-all/README.md
Labels: inlong-tubemq, bug
