Repository apache/inlong, pull requests merged in 2021-11, with the labels that each got.

#1728 [INLONG-1726][Feature] [InLong-Website] Adapt the Manager module and modify the field names of bid and dsid
  inlong-website/src/components/AccessHelper/DataSourcesEditor/index.tsx
  inlong-website/src/components/AccessHelper/DataStorageEditor/DetailModal.tsx
  inlong-website/src/components/AccessHelper/DataStorageEditor/Editor.tsx
  inlong-website/src/components/AccessHelper/FieldsConfig/businessFields.tsx
  inlong-website/src/components/AccessHelper/FieldsConfig/dataFields.tsx
  inlong-website/src/components/AccessHelper/index.ts
  inlong-website/src/components/ConsumeHelper/BusinessSelect/MyBusinessModal.tsx
  inlong-website/src/components/ConsumeHelper/BusinessSelect/index.tsx
  inlong-website/src/components/ConsumeHelper/FieldsConfig/basicFields.tsx
  inlong-website/src/locales/cn.json
  inlong-website/src/locales/en.json
  inlong-website/src/pages/AccessCreate/Business/config.tsx
  inlong-website/src/pages/AccessCreate/Business/index.tsx
  inlong-website/src/pages/AccessCreate/DataStream/config.tsx
  inlong-website/src/pages/AccessCreate/DataStream/helper.ts
  inlong-website/src/pages/AccessCreate/DataStream/index.tsx
  inlong-website/src/pages/AccessCreate/index.tsx
  inlong-website/src/pages/AccessDashboard/ExecutionLogModal.tsx
  inlong-website/src/pages/AccessDashboard/config.tsx
  inlong-website/src/pages/AccessDashboard/index.tsx
  inlong-website/src/pages/AccessDetail/DataSources/index.tsx
  inlong-website/src/pages/AccessDetail/DataStorage/index.tsx
  inlong-website/src/pages/AccessDetail/DataStream/StreamItemModal.tsx
  inlong-website/src/pages/AccessDetail/DataStream/config.tsx
  inlong-website/src/pages/AccessDetail/DataStream/index.tsx
  inlong-website/src/pages/AccessDetail/Info/config.tsx
  inlong-website/src/pages/AccessDetail/Info/index.tsx
  inlong-website/src/pages/AccessDetail/common.d.ts
  inlong-website/src/pages/AccessDetail/index.tsx
  inlong-website/src/pages/ApprovalDetail/AccessConfig.tsx
  inlong-website/src/pages/ApprovalDetail/ConsumeConfig.tsx
  inlong-website/src/pages/Approvals/Applies/config.tsx
  inlong-website/src/pages/Approvals/Approvals/config.tsx
  inlong-website/src/pages/ConsumeCreate/Info/config.tsx
  inlong-website/src/pages/ConsumeCreate/Info/index.tsx
  inlong-website/src/pages/ConsumeDashboard/config.tsx
  inlong-website/src/pages/ConsumeDetail/Info/config.tsx
  inlong-website/src/pages/ConsumeDetail/Info/index.tsx
  inlong-website/src/pages/UserManagement/config.tsx
Labels: inlong-website

#1730 [INLONG-1729] [sort] Avoid using constant value as version when referencing other modules
  .idea/vcs.xml
  inlong-sort/pom.xml
  pom.xml
Labels: inlong-sort

#1733 [INLONG-1732][InLong-Agent] Modify bid and tid to inlongGroupId and inlongStreamId
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/constants/CommonConstants.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/message/ProxyMessage.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/plugin/MessageFilter.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/plugin/Sink.java
  inlong-agent/agent-docker/README.md
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/fetcher/ManagerResultFormatter.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/fetcher/dtos/DataConfig.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/fetcher/dtos/JobProfileDto.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/filter/DefaultMessageFilter.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/message/PackProxyMessage.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sinks/ProxySink.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sinks/SenderManager.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/TestFileAgent.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/filter/TestStreamIdFilter.java
Labels: inlong-agent

#1743 [INLONG-1741] [dataproxy] Modify bid and tid (or dsid) to inlongGroupId and inlongStreamId
  inlong-common/src/main/java/org/apache/inlong/commons/msg/AttributeConstants.java
  inlong-common/src/main/java/org/apache/inlong/commons/msg/TDMsg1.java
  inlong-dataproxy-sdk/src/main/java/org/apache/inlong/dataproxy/DefaultMessageSender.java
  inlong-dataproxy-sdk/src/main/java/org/apache/inlong/dataproxy/MessageSender.java
  inlong-dataproxy-sdk/src/main/java/org/apache/inlong/dataproxy/ProxyClientConfig.java
  inlong-dataproxy-sdk/src/main/java/org/apache/inlong/dataproxy/codec/EncodeObject.java
  inlong-dataproxy-sdk/src/main/java/org/apache/inlong/dataproxy/codec/ProtocolEncoder.java
  inlong-dataproxy-sdk/src/main/java/org/apache/inlong/dataproxy/config/EncryptConfigEntry.java
  inlong-dataproxy-sdk/src/main/java/org/apache/inlong/dataproxy/config/ProxyConfigEntry.java
  inlong-dataproxy-sdk/src/main/java/org/apache/inlong/dataproxy/config/ProxyConfigManager.java
  inlong-dataproxy-sdk/src/main/java/org/apache/inlong/dataproxy/demo/Event.java
  inlong-dataproxy-sdk/src/main/java/org/apache/inlong/dataproxy/http/InternalHttpSender.java
  inlong-dataproxy-sdk/src/main/java/org/apache/inlong/dataproxy/metric/MessageRecord.java
  inlong-dataproxy-sdk/src/main/java/org/apache/inlong/dataproxy/network/ClientMgr.java
  inlong-dataproxy-sdk/src/main/java/org/apache/inlong/dataproxy/network/HttpMessage.java
  inlong-dataproxy-sdk/src/main/java/org/apache/inlong/dataproxy/network/HttpProxySender.java
  inlong-dataproxy-sdk/src/main/java/org/apache/inlong/dataproxy/network/Sender.java
  inlong-dataproxy-sdk/src/main/java/org/apache/inlong/dataproxy/threads/MetricWorkerThread.java
  inlong-dataproxy-sdk/src/main/java/org/apache/inlong/dataproxy/utils/ProxyUtils.java
  inlong-dataproxy-sdk/src/main/java/org/apache/inlong/dataproxy/utils/ServiceDiscoveryUtils.java
  inlong-dataproxy/bin/prepare_env.sh
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/base/ProxyMessage.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/ConfigManager.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/RemoteConfigJson.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/RemoteConfigManager.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/holder/GroupIdPropertiesHolder.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/remote/ConfigMessageServlet.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/consts/AttributeConstants.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/consts/ConfigConstants.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/MetaSink.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/PulsarSink.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/pulsar/PulsarClientService.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/DefaultServiceDecoder.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/ServerMessageHandler.java
Labels: inlong-dataproxy

#1747 [INLONG-1746][Dataproxy] [improve] the log4j properties for dataproxy contains some useless code and some class name are incorrect
  inlong-dataproxy/conf/log4j.properties
Labels: inlong-dataproxy

#1749 [INLONG-1748][Improve] Optimize the realization of class MessagePullConsumerExample
  inlong-tubemq/tubemq-example/src/main/java/org/apache/inlong/tubemq/example/MessagePullConsumerExample.java
  inlong-tubemq/tubemq-example/src/main/java/org/apache/inlong/tubemq/example/MsgRecvStats.java
Labels: inlong-tubemq, improve

#1757 [INLONG-1756] Use metadata to manage data sources and flow fields
  inlong-website/src/components/AccessHelper/DataSourcesEditor/CreateModal.tsx
  inlong-website/src/components/AccessHelper/DataSourcesEditor/DbConfig.tsx
  inlong-website/src/components/AccessHelper/DataSourcesEditor/index.tsx
  inlong-website/src/components/AccessHelper/DataStorageEditor/DetailModal.tsx
  inlong-website/src/components/AccessHelper/DataStorageEditor/Editor.tsx
  inlong-website/src/components/AccessHelper/FieldsConfig/dataFields.tsx
  inlong-website/src/components/AccessHelper/FieldsConfig/sourceFields.ts
  inlong-website/src/components/AccessHelper/index.ts
  inlong-website/src/components/MetaData/DataSourcesFile.ts
  inlong-website/src/components/MetaData/SourceDataFields.ts
  inlong-website/src/components/MetaData/StorageHive.tsx
  inlong-website/src/pages/AccessDetail/DataSources/index.tsx
  inlong-website/src/pages/AccessDetail/DataStorage/index.tsx
Labels: inlong-website

#1759 [INLONG-1758] Optimize the realization of class MessagePullSetConsumerExample
  inlong-tubemq/tubemq-client/src/main/java/org/apache/inlong/tubemq/client/consumer/MessageConsumer.java
  inlong-tubemq/tubemq-example/src/main/java/org/apache/inlong/tubemq/example/MessagePullConsumerExample.java
  inlong-tubemq/tubemq-example/src/main/java/org/apache/inlong/tubemq/example/MessagePullSetConsumerExample.java
  inlong-tubemq/tubemq-example/src/main/java/org/apache/inlong/tubemq/example/MessagePushConsumerExample.java
Labels: inlong-tubemq, improve

#1762 [INLONG-1760] Optimize the realization of class MessageProducerExample
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/utils/MixedUtils.java
  inlong-tubemq/tubemq-example/src/main/java/org/apache/inlong/tubemq/example/MessageProducerExample.java
  inlong-tubemq/tubemq-example/src/main/java/org/apache/inlong/tubemq/example/MessagePullConsumerExample.java
  inlong-tubemq/tubemq-example/src/main/java/org/apache/inlong/tubemq/example/MessagePullSetConsumerExample.java
  inlong-tubemq/tubemq-example/src/main/java/org/apache/inlong/tubemq/example/MessagePushConsumerExample.java
  inlong-tubemq/tubemq-example/src/main/java/org/apache/inlong/tubemq/example/MsgSendReceiveStats.java
Labels: inlong-tubemq, improve

#1763 [INLONG-1761] Optimize the realization of class MAMessageProducerExample
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/utils/MixedUtils.java
  inlong-tubemq/tubemq-example/src/main/java/org/apache/inlong/tubemq/example/MAMessageProducerExample.java
  inlong-tubemq/tubemq-example/src/main/java/org/apache/inlong/tubemq/example/MessageProducerExample.java
Labels: inlong-tubemq, improve

#1766 [INLONG-1765] Optimize the realization of class CliProducer
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/tools/cli/CliProducer.java
Labels: inlong-tubemq, improve

#1767 [INLONG-1739][Improve] Optimization of TubeMQ SDK usage demo
  inlong-tubemq/tubemq-client/src/main/java/org/apache/inlong/tubemq/client/config/TubeClientConfig.java
  inlong-tubemq/tubemq-client/src/main/java/org/apache/inlong/tubemq/client/consumer/MessageConsumer.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/cluster/MasterInfo.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/utils/MixedUtils.java
  inlong-tubemq/tubemq-example/src/main/java/org/apache/inlong/tubemq/example/MAMessageProducerExample.java
  inlong-tubemq/tubemq-example/src/main/java/org/apache/inlong/tubemq/example/MessageConsumerExample.java
  inlong-tubemq/tubemq-example/src/main/java/org/apache/inlong/tubemq/example/MessageProducerExample.java
  inlong-tubemq/tubemq-example/src/main/java/org/apache/inlong/tubemq/example/MessagePullConsumerExample.java
  inlong-tubemq/tubemq-example/src/main/java/org/apache/inlong/tubemq/example/MessagePullSetConsumerExample.java
  inlong-tubemq/tubemq-example/src/main/java/org/apache/inlong/tubemq/example/MessagePushConsumerExample.java
  inlong-tubemq/tubemq-example/src/main/java/org/apache/inlong/tubemq/example/MsgSendReceiveStats.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/tools/cli/CliProducer.java
Labels: inlong-tubemq, improve

#1770 [INLONG-1769][TubeMQ]Fix bug in util function `SplitToMap` in Go SDK
  inlong-tubemq/tubemq-client-twins/tubemq-client-go/util/util.go
  inlong-tubemq/tubemq-client-twins/tubemq-client-go/util/util_test.go
Labels: inlong-tubemq, bug

#1774 [INLONG-1687] Supports paging query for workflow execution log
  inlong-website/src/pages/AccessDashboard/ExecutionLogModal.tsx
Labels: inlong-website

#1779 [INLONG-1775]Define the PB messages used in client partition-assigned
  inlong-tubemq/tubemq-client/src/main/java/org/apache/inlong/tubemq/client/consumer/ConsumerResult.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/rv/ProcessResult.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corerpc/RpcConstants.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corerpc/codec/PbEnDecoder.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corerpc/service/MasterService.java
  inlong-tubemq/tubemq-core/src/main/proto/MasterService.proto
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/TMaster.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/metamanage/metastore/impl/bdbimpl/BdbBrokerConfigMapperImpl.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/metamanage/metastore/impl/bdbimpl/BdbClusterConfigMapperImpl.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/metamanage/metastore/impl/bdbimpl/BdbGroupConsumeCtrlMapperImpl.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/metamanage/metastore/impl/bdbimpl/BdbGroupResCtrlMapperImpl.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/metamanage/metastore/impl/bdbimpl/BdbTopicCtrlMapperImpl.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/metamanage/metastore/impl/bdbimpl/BdbTopicDeployMapperImpl.java
Labels: inlong-tubemq, improve

#1782 [INLONG-1781]Fix bug in parsing attributes of tdmsg v4 in Go SDK
  inlong-tubemq/tubemq-client-twins/tubemq-client-go/tdmsg/bin_msg.go
  inlong-tubemq/tubemq-client-twins/tubemq-client-go/tdmsg/td_msg.go
  inlong-tubemq/tubemq-client-twins/tubemq-client-go/tdmsg/td_msg_test.go
Labels: inlong-tubemq, bug

#1784 [INLONG-1783]Make topic filters take effect in Go SDK
  inlong-tubemq/tubemq-client-twins/tubemq-client-go/sub/info.go
  inlong-tubemq/tubemq-client-twins/tubemq-client-go/sub/info_test.go
Labels: inlong-tubemq, bug

#1788 [INLONG-1786] Inlong-common provide monitor indicator #1786
  inlong-common/src/main/java/org/apache/inlong/commons/config/metrics/CountMetric.java
  inlong-common/src/main/java/org/apache/inlong/commons/config/metrics/Dimension.java
  inlong-common/src/main/java/org/apache/inlong/commons/config/metrics/GaugeMetric.java
  inlong-common/src/main/java/org/apache/inlong/commons/config/metrics/MetricDomain.java
  inlong-common/src/main/java/org/apache/inlong/commons/config/metrics/MetricItem.java
  inlong-common/src/main/java/org/apache/inlong/commons/config/metrics/MetricItemMBean.java
  inlong-common/src/main/java/org/apache/inlong/commons/config/metrics/MetricItemSet.java
  inlong-common/src/main/java/org/apache/inlong/commons/config/metrics/MetricItemSetMBean.java
  inlong-common/src/main/java/org/apache/inlong/commons/config/metrics/MetricRegister.java
  inlong-common/src/main/java/org/apache/inlong/commons/config/metrics/MetricUtils.java
  inlong-common/src/main/java/org/apache/inlong/commons/config/metrics/MetricValue.java
  inlong-common/src/test/java/org/apache/inlong/commons/config/metrics/item/AgentMetricItem.java
  inlong-common/src/test/java/org/apache/inlong/commons/config/metrics/item/TestMetricItemMBean.java
  inlong-common/src/test/java/org/apache/inlong/commons/config/metrics/set/DataProxyMetricItem.java
  inlong-common/src/test/java/org/apache/inlong/commons/config/metrics/set/DataProxyMetricItemSet.java
  inlong-common/src/test/java/org/apache/inlong/commons/config/metrics/set/TestMetricItemSetMBean.java
Labels: inlong-platform, feature

#1790 [INLONG-1789]Adjust the logic of the consumer group on the Master side
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/TErrCodeConstants.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/cluster/ConsumerInfo.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/common/paramcheck/PBParameterUtils.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/common/utils/ClientSyncInfo.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/TMaster.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/balance/DefaultLoadBalancer.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/balance/LoadBalancer.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/metamanage/MetaDataManager.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/nodemanage/nodebroker/TopicPSInfoManager.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/nodemanage/nodeconsumer/ConsumeGroupInfo.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/nodemanage/nodeconsumer/ConsumeType.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/nodemanage/nodeconsumer/ConsumerBandInfo.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/nodemanage/nodeconsumer/ConsumerEventManager.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/nodemanage/nodeconsumer/ConsumerInfo.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/nodemanage/nodeconsumer/ConsumerInfoHolder.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/nodemanage/nodeconsumer/TopicConfigInfo.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/web/action/screen/Master.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/web/handler/WebAdminGroupCtrlHandler.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/web/handler/WebOtherInfoHandler.java
  inlong-tubemq/tubemq-server/src/test/java/org/apache/inlong/tubemq/server/master/nodemanage/nodebroker/TopicPSInfoManagerTest.java
Labels: inlong-tubemq, improve

#1792 [INLONG-1791][Feature][InLong-Manager] Some bid fields have not been modified
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/dataconsumption/ConsumptionInfo.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/datasource/SourceFileBasicInfo.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/datastorage/BaseStorageInfo.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/datastream/DataStreamApproveInfo.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/datastream/DataStreamFieldInfo.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/BusinessExtEntityMapper.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/DataStreamEntityMapper.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/DataStreamExtEntityMapper.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/DataStreamFieldEntityMapper.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/SourceDbBasicEntityMapper.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/SourceDbDetailEntityMapper.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/SourceFileBasicEntityMapper.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/SourceFileDetailEntityMapper.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/StorageHiveEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/mappers/SourceFileDetailEntityMapper.xml
  inlong-manager/manager-dao/src/test/resources/sql/apache_inlong_manager.sql
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/BusinessService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/DataStreamService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/SourceDbService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/SourceFileService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/StorageService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/BusinessServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/DataStreamServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/StorageHiveOperation.java
Labels: inlong-manager, feature

#1793 [INLONG-1791][Feature][InLong-Manager] Some bid fields have not been modified (replace_bid)
  inlong-manager/doc/sql/apache_inlong_manager.sql
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/BizErrorCodeEnum.java
  inlong-manager/manager-dao/src/main/resources/mappers/DataStreamEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/DataStreamExtEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/DataStreamFieldEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/SourceDbBasicEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/SourceDbDetailEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/SourceFileBasicEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/SourceFileDetailEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/StorageHiveEntityMapper.xml
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/DataStreamService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/BusinessServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/DataStreamServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/WorkflowServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/WorkflowTaskExecuteLogQuery.java
  inlong-manager/manager-web/src/test/java/org/apache/inlong/manager/service/workflow/WorkflowServiceTest.java
Labels: inlong-manager

#1795 [INLONG-1794] Add consumer message processing logic
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/TBaseConstants.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/utils/OpsSyncInfo.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/MasterConfig.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/TMaster.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/nodemanage/nodeconsumer/ConsumeGroupInfo.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/nodemanage/nodeconsumer/TopicConfigInfo.java
Labels: inlong-tubemq, feature

#1799 [INLONG-1798] RestTemplate does not read configuration from the configuration file.
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/config/RestTemplateConfig.java
  inlong-manager/manager-web/src/main/resources/application-test.properties
Labels: inlong-manager, improve

#1800 [INLONG-1518] WebSite Support ClickHouse
  inlong-website/src/components/AccessHelper/DataStorageEditor/DetailModal.tsx
  inlong-website/src/components/AccessHelper/FieldsConfig/dataFields.tsx
  inlong-website/src/components/MetaData/DataSourcesFile.ts
  inlong-website/src/components/MetaData/SourceDataFields.ts
  inlong-website/src/components/MetaData/StorageClickhouse.tsx
  inlong-website/src/components/MetaData/StorageHive.tsx
  inlong-website/src/locales/cn.json
  inlong-website/src/locales/en.json
  inlong-website/src/pages/AccessDetail/DataStorage/index.tsx
  inlong-website/src/utils/index.ts
  inlong-website/src/utils/metaData.ts
Labels: inlong-website

#1804 [INLONG-1803]Add the client interface that supports partition allocation
  inlong-tubemq/tubemq-client/src/main/java/org/apache/inlong/tubemq/client/common/ConfirmResult.java
  inlong-tubemq/tubemq-client/src/main/java/org/apache/inlong/tubemq/client/common/ConsumeResult.java
  inlong-tubemq/tubemq-client/src/main/java/org/apache/inlong/tubemq/client/common/PeerInfo.java
  inlong-tubemq/tubemq-client/src/main/java/org/apache/inlong/tubemq/client/common/QueryMetaResult.java
  inlong-tubemq/tubemq-client/src/main/java/org/apache/inlong/tubemq/client/common/TClientConstants.java
  inlong-tubemq/tubemq-client/src/main/java/org/apache/inlong/tubemq/client/config/ConsumerConfig.java
  inlong-tubemq/tubemq-client/src/main/java/org/apache/inlong/tubemq/client/consumer/BaseMessageConsumer.java
  inlong-tubemq/tubemq-client/src/main/java/org/apache/inlong/tubemq/client/consumer/ClientBalanceConsumer.java
  inlong-tubemq/tubemq-client/src/main/java/org/apache/inlong/tubemq/client/factory/MessageSessionFactory.java
  inlong-tubemq/tubemq-client/src/main/java/org/apache/inlong/tubemq/client/factory/TubeBaseSessionFactory.java
  inlong-tubemq/tubemq-client/src/main/java/org/apache/inlong/tubemq/client/factory/TubeMultiSessionFactory.java
  inlong-tubemq/tubemq-client/src/main/java/org/apache/inlong/tubemq/client/factory/TubeSingleSessionFactory.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/TBaseConstants.java
Labels: inlong-tubemq, feature

#1806 [INLONG-1805]Add ClientBalanceConsumer class implementation
  inlong-tubemq/tubemq-client/src/main/java/org/apache/inlong/tubemq/client/consumer/BaseMessageConsumer.java
  inlong-tubemq/tubemq-client/src/main/java/org/apache/inlong/tubemq/client/consumer/ClientSubInfo.java
  inlong-tubemq/tubemq-client/src/main/java/org/apache/inlong/tubemq/client/consumer/RmtDataCache.java
  inlong-tubemq/tubemq-client/src/main/java/org/apache/inlong/tubemq/client/consumer/SimpleClientBalanceConsumer.java
  inlong-tubemq/tubemq-client/src/main/java/org/apache/inlong/tubemq/client/factory/TubeBaseSessionFactory.java
  inlong-tubemq/tubemq-client/src/main/java/org/apache/inlong/tubemq/client/factory/TubeMultiSessionFactory.java
  inlong-tubemq/tubemq-client/src/main/java/org/apache/inlong/tubemq/client/factory/TubeSingleSessionFactory.java
  inlong-tubemq/tubemq-client/src/test/java/org/apache/inlong/tubemq/client/consumer/RmtDataCacheTest.java
  inlong-tubemq/tubemq-example/src/main/java/org/apache/inlong/tubemq/example/ClientBalanceConsumerExample.java
Labels: inlong-tubemq, feature

#1813 [INLONG-1798]RestTemplate does not read configuration from the config…
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/config/RestTemplateConfig.java
  inlong-manager/manager-web/src/main/resources/application-test.properties
Labels: inlong-manager

#1820 [INLONG-1819] Optimize GC parameter configuration in TubeMQ's env.sh file
  inlong-tubemq/bin/env.sh
Labels: inlong-tubemq, improve

#1827 [INLONG-1826][Feature][InLong-Agent] Use jmx metric defined in inlong-common
  inlong-agent/agent-common/src/test/java/org/apache/inlong/agent/metrics/TestMetrics.java
  inlong-agent/agent-core/pom.xml
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/job/JobManager.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/job/JobMetrics.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/task/TaskManager.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/task/TaskMetrics.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/task/TaskWrapper.java
  inlong-agent/agent-core/src/test/java/org/apache/inlong/agent/core/TestTaskMetrics.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/channel/MemoryChannel.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/metrics/PluginMetric.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sinks/PulsarSink.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sinks/SenderManager.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/TextFileReader.java
Labels: inlong-agent

#1829 [INLONG-1828]Fix bug when parsing tdmsg v1 in Go SDK
  inlong-tubemq/tubemq-client-twins/tubemq-client-go/tdmsg/td_msg.go
  inlong-tubemq/tubemq-client-twins/tubemq-client-go/tdmsg/td_msg_test.go
Labels: inlong-tubemq

#1841 [INLONG-1837] Add pulsar i18n
  inlong-website/src/locales/cn.json
  inlong-website/src/locales/en.json
Labels: inlong-website

#1842 [INLONG-1838] Public components perfect for use in pulsar
  inlong-website/public/index.html
  inlong-website/src/components/FormGenerator/FormItemContent.tsx
  inlong-website/src/components/HighSelect/index.tsx
  inlong-website/src/utils/index.ts
Labels: inlong-website

#1843 [INLONG-1834] Access support pulsar
  inlong-website/src/components/AccessHelper/FieldsConfig/businessFields.tsx
  inlong-website/src/components/AccessHelper/FieldsConfig/dataFields.tsx
  inlong-website/src/pages/AccessCreate/Business/config.tsx
  inlong-website/src/pages/AccessCreate/Business/index.tsx
  inlong-website/src/pages/AccessCreate/DataStream/config.tsx
  inlong-website/src/pages/AccessCreate/DataStream/helper.ts
  inlong-website/src/pages/AccessCreate/DataStream/index.tsx
  inlong-website/src/pages/AccessCreate/index.tsx
  inlong-website/src/pages/AccessDashboard/ExecutionLogModal.tsx
  inlong-website/src/pages/AccessDetail/DataStream/StreamItemModal.tsx
  inlong-website/src/pages/AccessDetail/DataStream/config.tsx
  inlong-website/src/pages/AccessDetail/DataStream/index.tsx
  inlong-website/src/pages/AccessDetail/Info/config.tsx
  inlong-website/src/pages/AccessDetail/Info/index.tsx
  inlong-website/src/pages/AccessDetail/common.d.ts
  inlong-website/src/pages/AccessDetail/index.tsx
Labels: inlong-website

#1844 [INLONG-1835] Consume support pulsar
  inlong-website/src/components/ConsumeHelper/BusinessSelect/MyBusinessModal.tsx
  inlong-website/src/components/ConsumeHelper/BusinessSelect/index.tsx
  inlong-website/src/components/ConsumeHelper/FieldsConfig/basicFields.tsx
  inlong-website/src/pages/ConsumeCreate/Info/config.tsx
  inlong-website/src/pages/ConsumeCreate/Info/index.tsx
  inlong-website/src/pages/ConsumeDetail/Info/config.tsx
  inlong-website/src/pages/ConsumeDetail/Info/index.tsx
Labels: inlong-website

#1845 [INLONG-1836] Audit support pulsar
  inlong-website/src/pages/ApprovalDetail/AccessConfig.tsx
  inlong-website/src/pages/ApprovalDetail/ConsumeConfig.tsx
Labels: inlong-website

#1850 [INLONG-1849][Feature][InLong-Manager] Push Pulsar info for Sort
  docker/docker-compose/sql/apache_inlong_manager.sql
  inlong-manager/doc/sql/apache_inlong_manager.sql
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/BizConstant.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/business/BusinessInfo.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/business/BusinessMqExtBase.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/business/BusinessPulsarInfo.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/consumption/ConsumptionInfo.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/datastorage/StorageHiveInfo.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/datastorage/StorageHiveSortInfo.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/datastorage/StoragePageRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/datastream/DataStreamInfo.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/datastream/DataStreamInfoToHiveConfig.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/datastream/DataStreamPageRequest.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/DataStreamEntity.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/DataStreamEntityMapper.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/StorageHiveEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/mappers/DataStreamEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/StorageHiveEntityMapper.xml
  inlong-manager/manager-dao/src/test/resources/sql/apache_inlong_manager.sql
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/DataStreamService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/BusinessServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/DataStreamServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/StorageHiveOperation.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/StorageServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/WorkflowApproverServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/thirdpart/hive/CreateHiveTableForAllStreamListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/thirdpart/hive/CreateHiveTableForOneStreamListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/thirdpart/hive/HiveTableOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/thirdpart/sort/PushHiveConfigTaskListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/thirdpart/sort/SortFieldFormatUtils.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/newconsumption/listener/ConsumptionCompleteProcessListener.java
  inlong-manager/manager-web/src/test/resources/sql/apache_inlong_manager.sql
  inlong-manager/manager-workflow-engine/src/main/java/org/apache/inlong/manager/workflow/core/processor/StartEventProcessor.java
  inlong-manager/manager-workflow-engine/src/main/java/org/apache/inlong/manager/workflow/core/processor/UserTaskProcessor.java
  inlong-manager/manager-workflow-engine/src/main/java/org/apache/inlong/manager/workflow/util/WorkflowFormParserUtils.java
Labels: inlong-manager

#1855 [INLONG-1854][Feature][InLong-Agent] Agent Rmi args should be added in agent-env.sh
  inlong-agent/bin/agent-env.sh
Labels: inlong-agent, feature

#1860 [INLONG-1859][Improve][InLong-Manager] Remove duplicate SQL files
  inlong-manager/doc/sql/apache_inlong_manager.sql
  inlong-manager/sql/apache_inlong_manager.sql
Labels: inlong-manager

#1862 [INLONG-1861][Improve] Update document for docker-compose
  docker/README.md
  docker/docker-compose/README.md
  inlong-manager/manager-web/src/test/resources/sql/apache_inlong_manager.sql
Labels: inlong-manager
