Repository apache/inlong, pull requests merged in 2021-07, with the labels that each got.

#1404 [INLONG-1394][Platform] Update the document after Migrate InLong Issue
  .asf.yaml
  README.md
  inlong-tubemq/pom.xml
Labels: doc, feature, inlong-platform

#1406 [INLONG-1405][Platform] modify the notifications for issue status, to avoid too many issue mails
  .asf.yaml
Labels: inlong-platform

#1408 [INLONG-1407][DataProxy]Adjust the pom dependency of the DataProxy module
  inlong-dataproxy/dataproxy-source/pom.xml
  inlong-dataproxy/pom.xml
Labels: inlong-dataproxy
