Repository apache/inlong, pull requests merged in 2021-09, with the labels that each got.

#1515 [INLONG-1514] fix the the incorrect license header
  inlong-website/nginx.conf
Labels: inlong-website

#1534 [INLONG-1533]Provide more example for Go SDK
  tubemq-client-twins/tubemq-client-go/example/consumer.go
Labels: inlong-tubemq

#1536 [INLONG-1535]Go SDK should be closed before stopping the event processing goroutine
  tubemq-client-twins/tubemq-client-go/client/consumer_impl.go
  tubemq-client-twins/tubemq-client-go/flowctrl/handler.go
  tubemq-client-twins/tubemq-client-go/remote/remote.go
Labels: inlong-tubemq, bug

#1539 [INLONG-1538] TubeMQ reports the error "Topic xxx not publish" when producing data
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/metamanage/MetaDataManager.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/metamanage/metastore/MetaStoreService.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/nodemanage/nodebroker/DefBrokerRunManager.java
Labels: inlong-tubemq, bug

#1543 [INLONG-1541] Add replica node request and response define in the BrokerService.proto
  inlong-tubemq/tubemq-core/src/main/proto/BrokerService.proto
Labels: inlong-tubemq, feature

#1545 [INLONG-1544] Add replica consumption logic in broker node
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/msgstore/MessageStore.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/msgstore/MessageStoreManager.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/msgstore/StoreService.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/msgstore/disk/MsgFileStore.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/msgstore/mem/MsgMemStore.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/nodeinfo/ReplicaNodeInfo.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/utils/DataStoreUtils.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/common/TServerConstants.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/common/utils/WebParameterUtils.java
  inlong-tubemq/tubemq-server/src/test/java/org/apache/inlong/tubemq/server/broker/msgstore/mem/MsgMemStoreTest.java
Labels: inlong-tubemq, feature

#1546 Revert "[INLONG-1544] Add replica consumption logic in broker node"
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/msgstore/MessageStore.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/msgstore/MessageStoreManager.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/msgstore/StoreService.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/msgstore/disk/MsgFileStore.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/msgstore/mem/MsgMemStore.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/nodeinfo/ReplicaNodeInfo.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/utils/DataStoreUtils.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/common/TServerConstants.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/common/utils/WebParameterUtils.java
  inlong-tubemq/tubemq-server/src/test/java/org/apache/inlong/tubemq/server/broker/msgstore/mem/MsgMemStoreTest.java
Labels: inlong-tubemq

#1547 Revert "[INLONG-1541] Add replica node request and response define in the BrokerService.proto"
  inlong-tubemq/tubemq-core/src/main/proto/BrokerService.proto
Labels: inlong-tubemq

#1548 [INLONG-1541] Add replica node request and response define in the BrokerService.proto
  inlong-tubemq/tubemq-core/src/main/proto/BrokerService.proto
Labels: inlong-tubemq, feature

#1549 [INLONG-1544] Add replica consumption logic in broker node
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/msgstore/MessageStore.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/msgstore/MessageStoreManager.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/msgstore/StoreService.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/msgstore/disk/MsgFileStore.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/msgstore/mem/MsgMemStore.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/nodeinfo/ReplicaNodeInfo.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/utils/DataStoreUtils.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/common/TServerConstants.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/common/utils/WebParameterUtils.java
  inlong-tubemq/tubemq-server/src/test/java/org/apache/inlong/tubemq/server/broker/msgstore/mem/MsgMemStoreTest.java
Labels: inlong-tubemq, feature

#1551 [INLONG-1550]Go SDK should obey the flow control rule
  tubemq-client-twins/tubemq-client-go/client/consumer_impl.go
  tubemq-client-twins/tubemq-client-go/flowctrl/handler.go
  tubemq-client-twins/tubemq-client-go/metadata/partition.go
Labels: inlong-tubemq, bug

#1556 [INLONG-1552]Java SDK should deal with the default flow control rule
  inlong-tubemq/tubemq-client/src/main/java/org/apache/inlong/tubemq/client/consumer/BaseMessageConsumer.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/policies/FlowCtrlRuleHandler.java
  inlong-tubemq/tubemq-core/src/test/java/org/apache/inlong/tubemq/corebase/policies/TestFlowCtrlRuleHandler.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/TubeBroker.java
Labels: inlong-tubemq, bug

#1561 [INLONG-1560] C++ SDK can not return error code of PartInUse and PartWaiting correctly
  inlong-tubemq/tubemq-client-twins/tubemq-client-cpp/src/rmt_data_cache.cc
Labels: inlong-tubemq, bug

#1564 [INLONG-1563] Fix the bug which can't stop the heartbeat timer and make close can be called once
  tubemq-client-twins/tubemq-client-go/client/consumer.go
  tubemq-client-twins/tubemq-client-go/client/consumer_impl.go
  tubemq-client-twins/tubemq-client-go/client/heartbeat.go
  tubemq-client-twins/tubemq-client-go/example/consumer.go
  tubemq-client-twins/tubemq-client-go/example/multi_routine_consumer.go
Labels: inlong-tubemq, bug

#1567 [INLONG-1566]Fix the bug which will cause the user defined partition offset can not take effect
  tubemq-client-twins/tubemq-client-go/client/consumer_impl.go
  tubemq-client-twins/tubemq-client-go/client/heartbeat.go
  tubemq-client-twins/tubemq-client-go/remote/remote.go
  tubemq-client-twins/tubemq-client-go/sub/info.go
Labels: inlong-tubemq, bug

#1576 [INLONG-1568][TubeMQ] C++ SDK cant not return the whether the partition has been registered correctly
  inlong-tubemq/tubemq-client-twins/tubemq-client-cpp/src/rmt_data_cache.cc
Labels: inlong-tubemq, bug

#1577 [INLONG-1569][TubeMQ] The first_registered is not the same with its naming
  inlong-tubemq/tubemq-client-twins/tubemq-client-cpp/src/baseconsumer.cc
  inlong-tubemq/tubemq-client-twins/tubemq-client-cpp/src/client_subinfo.cc
  inlong-tubemq/tubemq-client-twins/tubemq-client-cpp/src/client_subinfo.h
Labels: inlong-tubemq, bug

#1578 [INLONG-1570] Provide a more elegant way to set the parameter of config
  tubemq-client-twins/tubemq-client-go/client/consumer_impl.go
  tubemq-client-twins/tubemq-client-go/config/config.go
  tubemq-client-twins/tubemq-client-go/config/config_test.go
  tubemq-client-twins/tubemq-client-go/errs/errs.go
  tubemq-client-twins/tubemq-client-go/example/consumer.go
  tubemq-client-twins/tubemq-client-go/transport/client.go
  tubemq-client-twins/tubemq-client-go/util/util.go
Labels: inlong-tubemq, feature

#1582 [INLONG-1579] Fix the license header error in cmd and conf files
  inlong-tubemq/bin/broker.cmd
  inlong-tubemq/bin/env.cmd
  inlong-tubemq/bin/master.cmd
  inlong-tubemq/tubemq-client-twins/tubemq-client-cpp/conf/client.conf
  inlong-tubemq/tubemq-client-twins/tubemq-client-python/src/python/tubemq/client.conf
Labels: inlong-tubemq

#1588 [INLONG-1587][Sort] Fix compile error
  inlong-sort/pom.xml
Labels: inlong-sort

#1591 [INLONG-1589] Manager provide an openapi of DataProxy configuration data for multi-subcluster
  docker/docker-compose/sql/apache_inlong_manager.sql
  inlong-common/src/main/java/org/apache/inlong/commons/pojo/dataproxy/CacheClusterObject.java
  inlong-common/src/main/java/org/apache/inlong/commons/pojo/dataproxy/CacheClusterSetObject.java
  inlong-common/src/main/java/org/apache/inlong/commons/pojo/dataproxy/CacheTopicObject.java
  inlong-common/src/main/java/org/apache/inlong/commons/pojo/dataproxy/DataProxyCluster.java
  inlong-common/src/main/java/org/apache/inlong/commons/pojo/dataproxy/DataProxyConfigResponse.java
  inlong-common/src/main/java/org/apache/inlong/commons/pojo/dataproxy/IRepository.java
  inlong-common/src/main/java/org/apache/inlong/commons/pojo/dataproxy/InLongIdObject.java
  inlong-common/src/main/java/org/apache/inlong/commons/pojo/dataproxy/ProxyChannel.java
  inlong-common/src/main/java/org/apache/inlong/commons/pojo/dataproxy/ProxyClusterObject.java
  inlong-common/src/main/java/org/apache/inlong/commons/pojo/dataproxy/ProxySink.java
  inlong-common/src/main/java/org/apache/inlong/commons/pojo/dataproxy/ProxySource.java
  inlong-common/src/main/java/org/apache/inlong/commons/pojo/dataproxy/RepositoryTimerTask.java
  inlong-manager/doc/sql/apache_inlong_manager.sql
  inlong-manager/manager-common/pom.xml
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/dataproxy/DataProxyClusterSet.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/CacheCluster.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/CacheClusterExt.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/CacheTopic.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/ClusterSet.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/DataProxyConfig.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/FlumeChannel.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/FlumeChannelExt.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/FlumeSink.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/FlumeSinkExt.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/FlumeSource.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/FlumeSourceExt.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/InLongId.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/ProxyCluster.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/ProxyClusterToCacheCluster.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/BusinessEntityMapper.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/ClusterSetMapper.java
  inlong-manager/manager-dao/src/main/resources/mappers/ClusterSetMapper.xml
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/DataProxyClusterService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/DataProxyClusterServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/repository/DataProxyConfigRepository.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/openapi/DataProxyController.java
  inlong-manager/pom.xml
Labels: inlong-manager
