Repository apache/inlong, pull requests merged in 2021-08, with the labels that each got.

#1414 [INLONG-1413][tubemq] init tubemq cluster for tubemq manager docker image
  inlong-tubemq/tubemq-docker/tubemq-manager/Dockerfile
  inlong-tubemq/tubemq-docker/tubemq-manager/README.md
  inlong-tubemq/tubemq-docker/tubemq-manager/manager-docker.sh
  inlong-tubemq/tubemq-manager/src/main/resources/application.properties
Labels: inlong-tubemq

#1416 [INLONG-1415][TubeMQ] Docker image expose zookeeper port for other component usages
  inlong-tubemq/tubemq-docker/tubemq-all/Dockerfile
  inlong-tubemq/tubemq-docker/tubemq-all/README.md
Labels: inlong-tubemq

#1418 [INLONG-1417][Platform] rename the distribution file for inlong
  inlong-distribution/pom.xml
Labels: inlong-platform, bug

#1425 [INLONG-1424][InLong-Manager]change the format of the configuration file: make the yaml to properties
  inlong-manager/manager-web/src/main/resources/application-dev.properties
  inlong-manager/manager-web/src/main/resources/application-dev.yml
  inlong-manager/manager-web/src/main/resources/application-prod.properties
  inlong-manager/manager-web/src/main/resources/application-prod.yml
  inlong-manager/manager-web/src/main/resources/application-test.properties
  inlong-manager/manager-web/src/main/resources/application-test.yml
  inlong-manager/manager-web/src/main/resources/application.properties
Labels: inlong-manager

#1426 [INLONG-1423][InLong-Manager] modify the docker image of the inlong-manager module
  inlong-manager/manager-docker/Dockerfile
  inlong-manager/manager-docker/README.md
  inlong-manager/manager-docker/manager-docker.sh
  inlong-manager/manager-docker/pom.xml
  inlong-manager/manager-web/bin/startup.sh
  inlong-manager/manager-web/src/main/resources/application-dev.properties
  inlong-manager/manager-web/src/main/resources/application-prod.properties
  inlong-manager/manager-web/src/main/resources/application-test.properties
Labels: inlong-manager, bug

#1433 [INLONG-1432][InLong-Dataproxy][InLong-Agent] The manager url of agent and dataproxy need to be updated since manager merged openapi and api into one module
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/fetcher/constants/FetcherConstants.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/ConfigManager.java
Labels: inlong-dataproxy, inlong-agent

#1435 [INLONG-1320][platform] Support Standalone mode to run InLong Using Docker Compose
  docker/docker-compose/README.md
  docker/docker-compose/docker-compose.yml
  docker/docker-compose/sql/apache_inlong_manager.sql
  docker/docker-compose/sql/tubemanager.sql
  inlong-dataproxy/bin/flume-ng
  inlong-dataproxy/dataproxy-docker/README.md
  inlong-manager/manager-docker/Dockerfile
  inlong-manager/manager-docker/README.md
  inlong-manager/manager-docker/manager-docker.sh
  inlong-manager/manager-docker/pom.xml
  inlong-manager/manager-web/bin/restart.sh
  inlong-manager/manager-web/bin/shutdown.sh
  inlong-manager/manager-web/bin/startup.sh
  inlong-sort/pom.xml
  inlong-sort/sort-formats/pom.xml
  inlong-tubemq/tubemq-manager/bin/start-manager.sh
  inlong-website/Dockerfile
  inlong-website/nginx.conf
  inlong-website/website-docker.sh
Labels: inlong-platform

#1437 [INLONG-1436][CI] Delete checkstyle workflow
  .github/workflows/ci_checkstyle.yml
Labels: inlong-platform, feature

#1440 [INLONG-1439] Add the port legal check and remove the useless deleteWhen field
  inlong-tubemq/resources/assets/scripts/brokerDetail.js
  inlong-tubemq/resources/assets/scripts/common/module.js
  inlong-tubemq/resources/assets/scripts/topicDetail.js
  inlong-tubemq/resources/templates/screen/config/brokerDetail.vm
  inlong-tubemq/resources/templates/screen/config/topicDetail.vm
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/BrokerConfig.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/common/utils/WebParameterUtils.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/MasterConfig.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/metamanage/MetaDataManager.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/web/handler/WebBrokerConfHandler.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/web/handler/WebMasterInfoHandler.java
Labels: inlong-tubemq

#1442 [INLONG-1441]Repair Broker configuration API bugs
  inlong-tubemq/resources/assets/scripts/common/module.js
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/common/statusdef/ManageStatus.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/metamanage/MetaDataManager.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/metamanage/metastore/dao/entity/BrokerConfEntity.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/nodemanage/nodebroker/BrokerRunStatusInfo.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/web/handler/WebBrokerConfHandler.java
Labels: inlong-tubemq

#1446 [INLONG-772] Checkstyle detected that many classes and methods miss Javadoc
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/beans/PageResult.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/util/PageUtils.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/HiveServerDao.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/CommonDBServerService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/CommonFileServerService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/ConsumptionService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/WorkflowEventService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/builder/CommonDBServerInfoBuilder.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/builder/CommonFileServerInfoBuilder.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/AgentSysConfigServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/CommonDBServerServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/CommonFileServerServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/ConsumptionServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/DataStorageServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/WorkflowEventServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/operationlog/OperationLog.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/thirdpart/hive/HiveTableOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/thirdpart/hive/builder/HiveDropTableSqlBuilder.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/thirdpart/mq/TubeMqOptService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/thirdpart/sort/SortFieldFormatUtils.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/WorkflowService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/WorkflowServiceImpl.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/CommonDBServerController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/CommonFileServerController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/ConsumptionController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/WorkflowController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/WorkflowEventController.java
  inlong-manager/manager-workflow-engine/src/main/java/org/apache/inlong/manager/workflow/core/impl/WorkflowContextBuilderImpl.java
  inlong-manager/manager-workflow-engine/src/main/java/org/apache/inlong/manager/workflow/model/Action.java
  inlong-manager/manager-workflow-engine/src/main/java/org/apache/inlong/manager/workflow/model/view/EventLogQuery.java
  inlong-manager/manager-workflow-engine/src/main/java/org/apache/inlong/manager/workflow/model/view/EventLogView.java
  inlong-manager/manager-workflow-engine/src/main/java/org/apache/inlong/manager/workflow/model/view/TaskListView.java
  inlong-manager/manager-workflow-engine/src/main/java/org/apache/inlong/manager/workflow/model/view/TaskView.java
Labels: inlong-manager

#1445 [INLONG-1444] Fix Web API multiple field search logic bug
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/metamanage/MetaDataManager.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/metamanage/metastore/BdbMetaStoreServiceImpl.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/metamanage/metastore/MetaStoreService.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/metamanage/metastore/dao/entity/TopicDeployEntity.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/metamanage/metastore/dao/mapper/GroupConsumeCtrlMapper.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/metamanage/metastore/dao/mapper/TopicDeployMapper.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/metamanage/metastore/impl/bdbimpl/BdbBrokerConfigMapperImpl.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/metamanage/metastore/impl/bdbimpl/BdbGroupConsumeCtrlMapperImpl.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/metamanage/metastore/impl/bdbimpl/BdbTopicDeployMapperImpl.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/web/handler/WebTopicDeployHandler.java
Labels: inlong-tubemq

#1450 [INLONG-1447] Fix Group Control API logic bug
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/policies/FlowCtrlRuleHandler.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/utils/TStringUtils.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/common/fielddef/WebFieldDef.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/bdbstore/bdbentitys/BdbGroupFlowCtrlEntity.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/metamanage/MetaDataManager.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/metamanage/metastore/dao/entity/GroupConsumeCtrlEntity.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/metamanage/metastore/dao/entity/TopicCtrlEntity.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/metamanage/metastore/impl/bdbimpl/BdbBrokerConfigMapperImpl.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/metamanage/metastore/impl/bdbimpl/BdbGroupConsumeCtrlMapperImpl.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/web/handler/WebAdminGroupCtrlHandler.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/web/handler/WebGroupConsumeCtrlHandler.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/web/handler/WebGroupResCtrlHandler.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/web/handler/WebTopicDeployHandler.java
Labels: inlong-tubemq

#1452 [INLONG-1451] Fix the bugs of topic control api
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/common/utils/WebParameterUtils.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/metamanage/MetaDataManager.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/metamanage/metastore/BdbMetaStoreServiceImpl.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/web/handler/WebAdminFlowRuleHandler.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/web/handler/WebTopicCtrlHandler.java
Labels: inlong-tubemq

#1454 [INLONG-1453] agent connect dataproxy fail when using docker-compose
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/fetcher/constants/FetcherConstants.java
  inlong-dataproxy-sdk/src/main/java/org/apache/inlong/dataproxy/utils/ServiceDiscoveryUtils.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/openapi/AgentController.java
Labels: inlong-manager, inlong-dataproxy, inlong-agent

#1456 [INLONG-1455][platform] add a script to publish docker images
  docker/README.md
  docker/get-project-version.py
  docker/publish.sh
Labels: inlong-platform, feature

#1463 [INLONG-1462][dataproxy] fix the properties error
  docker/docker-compose/docker-compose.yml
  inlong-dataproxy/dataproxy-docker/dataproxy-docker.sh
Labels: inlong-dataproxy

#1465 [INLONG-1464] Add code CheckStyle rules
  codestyle/checkstyle.xml
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/TestFileAgent.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/sources/TestTextFileReader.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/trigger/TestWatchDirTrigger.java
  inlong-dataproxy-sdk/src/test/java/org/apache/inlong/dataproxy/TestMetricWorkerThread.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/workflow/WorkflowApproverFilterContext.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/AgentSysConfigServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/ClusterInfoServiceImpl.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/source/TubeSourceInfo.java
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/flink/deserialization/MultiTenancyTDMsgMixedDeserializer.java
  inlong-sort/sort-formats/format-tdmsg-csv/src/main/java/org/apache/inlong/sort/formats/tdmsgcsv/TDMsgCsvMixedFormatDeserializer.java
Labels: inlong-manager, inlong-sort, inlong-dataproxy, inlong-agent

#1467 [INLONG-1466][agent] fix the snappy error for agent
  inlong-agent/agent-docker/Dockerfile
Labels: inlong-agent

#1469 [INLONG-1468][dataproxy] The update interval of dataproxy is quite long and may cause produce error when config is not updated
  inlong-dataproxy/conf/common.properties
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/ConfigManager.java
Labels: inlong-dataproxy

#1471 [INLONG-1470]Java.util.ConcurrentModificationException error when rebalance
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/TMaster.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/balance/DefaultLoadBalancer.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/nodemanage/nodeconsumer/ConsumerInfoHolder.java
Labels: inlong-tubemq, bug

#1472 [INLONG-748][Agent] Support file name pattern YYYYDDMM
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/fetcher/ManagerResultFormatter.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/fetcher/dtos/DataConfig.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/fetcher/dtos/JobProfileDto.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/utils/PluginUtils.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/TestFileAgent.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/sinks/MockSink.java
Labels: inlong-agent

#1473 [INLONG-1443] Provide management interface SDK
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/common/utils/HttpUtils.java
Labels: inlong-tubemq

#1476 [INLONG-1474] the interface of get data proxy configurations got abnormal status result
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/BusinessEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/mappers/BusinessEntityMapper.xml
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/DataProxyClusterServiceImpl.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/openapi/DataProxyController.java
Labels: inlong-manager

#1477 [INLONG-1475][inlong-tubemq] Tube manager compile ch.qos.logback with error
  inlong-tubemq/tubemq-manager/pom.xml
Labels: inlong-tubemq

#1500 [INLONG-1494] Adjust the version information of all pom.xml to 0.10.0-incubating
  inlong-agent/agent-common/pom.xml
  inlong-agent/agent-core/pom.xml
  inlong-agent/agent-docker/pom.xml
  inlong-agent/agent-plugins/pom.xml
  inlong-agent/agent-release/pom.xml
  inlong-agent/pom.xml
  inlong-common/pom.xml
  inlong-dataproxy-sdk/pom.xml
  inlong-dataproxy/dataproxy-dist/pom.xml
  inlong-dataproxy/dataproxy-docker/pom.xml
  inlong-dataproxy/dataproxy-source/pom.xml
  inlong-dataproxy/pom.xml
  inlong-distribution/pom.xml
  inlong-manager/manager-common/pom.xml
  inlong-manager/manager-dao/pom.xml
  inlong-manager/manager-docker/pom.xml
  inlong-manager/manager-service/pom.xml
  inlong-manager/manager-web/pom.xml
  inlong-manager/manager-workflow-engine/pom.xml
  inlong-manager/pom.xml
  inlong-sort/pom.xml
  inlong-sort/sort-api/pom.xml
  inlong-sort/sort-common/pom.xml
  inlong-sort/sort-core/pom.xml
  inlong-sort/sort-dist/pom.xml
  inlong-sort/sort-formats/format-base/pom.xml
  inlong-sort/sort-formats/format-common/pom.xml
  inlong-sort/sort-formats/format-csv/pom.xml
  inlong-sort/sort-formats/format-kv/pom.xml
  inlong-sort/sort-formats/format-tdmsg-base/pom.xml
  inlong-sort/sort-formats/format-tdmsg-csv/pom.xml
  inlong-sort/sort-formats/pom.xml
  inlong-tubemq/pom.xml
  inlong-tubemq/tubemq-client/pom.xml
  inlong-tubemq/tubemq-connectors/pom.xml
  inlong-tubemq/tubemq-connectors/tubemq-connector-flink/pom.xml
  inlong-tubemq/tubemq-connectors/tubemq-connector-flume/pom.xml
  inlong-tubemq/tubemq-connectors/tubemq-connector-spark/pom.xml
  inlong-tubemq/tubemq-core/pom.xml
  inlong-tubemq/tubemq-docker/pom.xml
  inlong-tubemq/tubemq-docker/tubemq-all/pom.xml
  inlong-tubemq/tubemq-docker/tubemq-build/pom.xml
  inlong-tubemq/tubemq-docker/tubemq-cpp/pom.xml
  inlong-tubemq/tubemq-docker/tubemq-manager/pom.xml
  inlong-tubemq/tubemq-example/pom.xml
  inlong-tubemq/tubemq-manager/pom.xml
  inlong-tubemq/tubemq-server/pom.xml
  inlong-website/pom.xml
  pom.xml
Labels: inlong-tubemq, inlong-manager, inlong-sort, inlong-dataproxy, inlong-website, inlong-agent

#1503 [INLONG-1496] Release 0.10.0
  CHANGES.md
  inlong-agent/agent-common/pom.xml
  inlong-agent/agent-core/pom.xml
  inlong-agent/agent-docker/pom.xml
  inlong-agent/agent-plugins/pom.xml
  inlong-agent/agent-release/pom.xml
  inlong-agent/pom.xml
  inlong-common/pom.xml
  inlong-dataproxy-sdk/pom.xml
  inlong-dataproxy/dataproxy-dist/pom.xml
  inlong-dataproxy/dataproxy-docker/pom.xml
  inlong-dataproxy/dataproxy-source/pom.xml
  inlong-dataproxy/pom.xml
  inlong-distribution/pom.xml
  inlong-manager/manager-common/pom.xml
  inlong-manager/manager-dao/pom.xml
  inlong-manager/manager-docker/pom.xml
  inlong-manager/manager-service/pom.xml
  inlong-manager/manager-web/pom.xml
  inlong-manager/manager-workflow-engine/pom.xml
  inlong-manager/pom.xml
  inlong-sort/pom.xml
  inlong-sort/sort-api/pom.xml
  inlong-sort/sort-common/pom.xml
  inlong-sort/sort-core/pom.xml
  inlong-sort/sort-dist/pom.xml
  inlong-sort/sort-formats/format-base/pom.xml
  inlong-sort/sort-formats/format-common/pom.xml
  inlong-sort/sort-formats/format-csv/pom.xml
  inlong-sort/sort-formats/format-kv/pom.xml
  inlong-sort/sort-formats/format-tdmsg-base/pom.xml
  inlong-sort/sort-formats/format-tdmsg-csv/pom.xml
  inlong-sort/sort-formats/pom.xml
  inlong-tubemq/pom.xml
  inlong-tubemq/tubemq-client/pom.xml
  inlong-tubemq/tubemq-connectors/pom.xml
  inlong-tubemq/tubemq-connectors/tubemq-connector-flink/pom.xml
  inlong-tubemq/tubemq-connectors/tubemq-connector-flume/pom.xml
  inlong-tubemq/tubemq-connectors/tubemq-connector-spark/pom.xml
  inlong-tubemq/tubemq-core/pom.xml
  inlong-tubemq/tubemq-docker/pom.xml
  inlong-tubemq/tubemq-docker/tubemq-all/pom.xml
  inlong-tubemq/tubemq-docker/tubemq-build/pom.xml
  inlong-tubemq/tubemq-docker/tubemq-cpp/pom.xml
  inlong-tubemq/tubemq-docker/tubemq-manager/pom.xml
  inlong-tubemq/tubemq-example/pom.xml
  inlong-tubemq/tubemq-manager/pom.xml
  inlong-tubemq/tubemq-server/pom.xml
  inlong-website/pom.xml
  pom.xml
Labels: inlong-tubemq, inlong-manager, inlong-sort, inlong-dataproxy, inlong-website, inlong-agent

#1504 [INLONG-1492] Bumped version to 0.11.0-incubating-SNAPSHOT
  inlong-agent/agent-common/pom.xml
  inlong-agent/agent-core/pom.xml
  inlong-agent/agent-docker/pom.xml
  inlong-agent/agent-plugins/pom.xml
  inlong-agent/agent-release/pom.xml
  inlong-agent/pom.xml
  inlong-common/pom.xml
  inlong-dataproxy-sdk/pom.xml
  inlong-dataproxy/dataproxy-dist/pom.xml
  inlong-dataproxy/dataproxy-docker/pom.xml
  inlong-dataproxy/dataproxy-source/pom.xml
  inlong-dataproxy/pom.xml
  inlong-distribution/pom.xml
  inlong-manager/manager-common/pom.xml
  inlong-manager/manager-dao/pom.xml
  inlong-manager/manager-docker/pom.xml
  inlong-manager/manager-service/pom.xml
  inlong-manager/manager-web/pom.xml
  inlong-manager/manager-workflow-engine/pom.xml
  inlong-manager/pom.xml
  inlong-sort/pom.xml
  inlong-sort/sort-api/pom.xml
  inlong-sort/sort-common/pom.xml
  inlong-sort/sort-core/pom.xml
  inlong-sort/sort-dist/pom.xml
  inlong-sort/sort-formats/format-base/pom.xml
  inlong-sort/sort-formats/format-common/pom.xml
  inlong-sort/sort-formats/format-csv/pom.xml
  inlong-sort/sort-formats/format-kv/pom.xml
  inlong-sort/sort-formats/format-tdmsg-base/pom.xml
  inlong-sort/sort-formats/format-tdmsg-csv/pom.xml
  inlong-sort/sort-formats/pom.xml
  inlong-tubemq/pom.xml
  inlong-tubemq/tubemq-client/pom.xml
  inlong-tubemq/tubemq-connectors/pom.xml
  inlong-tubemq/tubemq-connectors/tubemq-connector-flink/pom.xml
  inlong-tubemq/tubemq-connectors/tubemq-connector-flume/pom.xml
  inlong-tubemq/tubemq-connectors/tubemq-connector-spark/pom.xml
  inlong-tubemq/tubemq-core/pom.xml
  inlong-tubemq/tubemq-docker/pom.xml
  inlong-tubemq/tubemq-docker/tubemq-all/pom.xml
  inlong-tubemq/tubemq-docker/tubemq-build/pom.xml
  inlong-tubemq/tubemq-docker/tubemq-cpp/pom.xml
  inlong-tubemq/tubemq-docker/tubemq-manager/pom.xml
  inlong-tubemq/tubemq-example/pom.xml
  inlong-tubemq/tubemq-manager/pom.xml
  inlong-tubemq/tubemq-server/pom.xml
  inlong-website/pom.xml
  pom.xml
Labels: inlong-tubemq, inlong-manager, inlong-sort, inlong-dataproxy, inlong-website, inlong-agent

#1506 [INLONG-1505] fix dependencies error when build release-0.10.0
  inlong-sort/pom.xml
Labels: inlong-sort
