Repository apache/inlong, pull requests merged in 2022-06, with the labels that each got.

#4467 [INLONG-4466][Manager] the oracle data source could not be parsed
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/util/InlongParser.java
Labels: inlong-manager

#4460 [INLONG-4458][Sort][Manager] Unify the meta field naming
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/InlongStreamImpl.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/MetaFieldType.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/stream/StreamField.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/InlongStreamFieldEntity.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/StreamSinkFieldEntity.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/StreamSourceFieldEntity.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/StreamTransformFieldEntity.java
  inlong-manager/manager-dao/src/main/resources/mappers/InlongStreamFieldEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/StreamSinkFieldEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/StreamSourceFieldEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/StreamTransformFieldEntityMapper.xml
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sort/util/FieldInfoUtils.java
  inlong-manager/manager-test/src/main/resources/sql/apache_inlong_manager.sql
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/BuiltInFieldInfo.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/FieldInfo.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/MetaFieldInfo.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/transformation/FunctionParam.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/BuiltInFieldInfoTest.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/FieldInfoTest.java
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/parser/impl/FlinkSqlParser.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/AllMigrateTest.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/DistinctNodeSqlParseTest.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/MetaFieldSyncTest.java
Labels: inlong-manager, inlong-sort

#4474 [INLONG-4470][TubeMQ] The "admin_query_black_consumer_group_info" method adds query topicName field
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/web/handler/WebAdminGroupCtrlHandler.java
Labels: inlong-tubemq, improve

#4425 [INLONG-4250][Sort] Add Elasticsearch load node
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/LoadNode.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/Node.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/load/ElasticsearchLoadNode.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/node/load/ElasticSearchNodeTest.java
  inlong-sort/sort-connectors/elasticsearch-6/pom.xml
  inlong-sort/sort-connectors/elasticsearch-7/pom.xml
  inlong-sort/sort-connectors/oracle-cdc/pom.xml
  inlong-sort/sort-connectors/pom.xml
  inlong-sort/sort-core/pom.xml
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/ElasticsearchSqlParseTest.java
  licenses/inlong-sort/LICENSE
  licenses/inlong-sort/NOTICE
Labels: inlong-sort

#4475 [INLONG-4473][Manager] Fix DuplicateKeyException when save StreamSinkField
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/InlongStreamServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/StreamSinkServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sort/util/FieldInfoUtils.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/StreamSourceServiceImpl.java
Labels: inlong-manager

#4454 [INLONG-4453][Sort-Standalone] Fix bug that report wrong audit when send to kafka failed
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/kafka/KafkaFederationSink.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/kafka/KafkaFederationWorker.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/kafka/KafkaProducerCluster.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/source/sortsdk/FetchCallback.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/source/sortsdk/SortSdkSource.java
Labels: inlong-sort-standalone

#4357 [INLONG-4356][Manager] Support create postgres resource
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/postgres/PostgresColumnInfo.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/postgres/PostgresSinkDTO.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/postgres/PostgresTableInfo.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/postgres/PostgresJdbcUtils.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/postgres/PostgresResourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/postgres/PostgresSqlBuilder.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/sink/PostgresStreamSinkServiceTest.java
Labels: inlong-manager

#4485 [INLONG-4484][Pom] Improve spring version to 5.3.20
  licenses/inlong-audit/LICENSE
  licenses/inlong-audit/NOTICE
  licenses/inlong-audit/licenses/LICENSE-spring-aop.txt
  licenses/inlong-audit/licenses/LICENSE-spring-beans.txt
  licenses/inlong-audit/licenses/LICENSE-spring-context.txt
  licenses/inlong-audit/licenses/LICENSE-spring-core.txt
  licenses/inlong-audit/licenses/LICENSE-spring-expression.txt
  licenses/inlong-audit/licenses/LICENSE-spring-jcl.txt
  licenses/inlong-audit/licenses/LICENSE-spring-jdbc.txt
  licenses/inlong-audit/licenses/LICENSE-spring-tx.txt
  licenses/inlong-manager/LICENSE
  licenses/inlong-manager/NOTICE
  licenses/inlong-manager/licenses/LICENSE-spring-beans.txt
  licenses/inlong-manager/licenses/LICENSE-spring-context.txt
  licenses/inlong-manager/licenses/LICENSE-spring-core.txt
  licenses/inlong-manager/licenses/LICENSE-spring-jcl.txt
  licenses/inlong-manager/licenses/LICENSE-spring-jdbc.txt
  licenses/inlong-manager/licenses/LICENSE-spring-tx.txt
  licenses/inlong-manager/licenses/LICENSE-spring-web.txt
  licenses/inlong-tubemq-manager/LICENSE
  licenses/inlong-tubemq-manager/NOTICE
  licenses/inlong-tubemq-manager/licenses/LICENSE-spring-beans.txt
  licenses/inlong-tubemq-manager/licenses/LICENSE-spring-context.txt
  licenses/inlong-tubemq-manager/licenses/LICENSE-spring-core.txt
  licenses/inlong-tubemq-manager/licenses/LICENSE-spring-jcl.txt
  licenses/inlong-tubemq-manager/licenses/LICENSE-spring-jdbc.txt
  licenses/inlong-tubemq-manager/licenses/LICENSE-spring-orm.txt
  licenses/inlong-tubemq-manager/licenses/LICENSE-spring-web.txt
  licenses/inlong-tubemq-server/LICENSE
  licenses/inlong-tubemq-server/NOTICE
  licenses/inlong-tubemq-server/licenses/LICENSE-spring-aop.txt
  licenses/inlong-tubemq-server/licenses/LICENSE-spring-beans.txt
  licenses/inlong-tubemq-server/licenses/LICENSE-spring-context.txt
  licenses/inlong-tubemq-server/licenses/LICENSE-spring-core.txt
  licenses/inlong-tubemq-server/licenses/LICENSE-spring-expression.txt
  licenses/inlong-tubemq-server/licenses/LICENSE-spring-jcl.txt
  licenses/inlong-tubemq-server/licenses/LICENSE-spring-jdbc.txt
  licenses/inlong-tubemq-server/licenses/LICENSE-spring-orm.txt
  licenses/inlong-tubemq-server/licenses/LICENSE-spring-tx.txt
  pom.xml
Labels: dependencies

#4489 [INLONG-4488][Dashboard] Remove useless modules
  inlong-dashboard/src/configs/menus/index.ts
  inlong-dashboard/src/configs/routes/index.tsx
  inlong-dashboard/src/pages/AccessCreate/Business/config.tsx
  inlong-dashboard/src/pages/AccessCreate/Business/index.tsx
  inlong-dashboard/src/pages/AccessCreate/DataStream/config.tsx
  inlong-dashboard/src/pages/AccessCreate/DataStream/index.tsx
  inlong-dashboard/src/pages/AccessCreate/index.tsx
  inlong-dashboard/src/pages/AccessDetail/DataStream/StreamItemModal.tsx
  inlong-dashboard/src/pages/AccessDetail/DataStream/helper.ts
  inlong-dashboard/src/pages/AccessDetail/DataStream/index.tsx
Labels: inlong-dashboard

#4492 [INLONG-4491][Sort] Fix missing dependencies after packaging for sort-dist module
  inlong-sort/sort-dist/pom.xml
Labels: inlong-sort

#4494 [INLONG-4493][Sort] Remove hiveConfDir not null constraint
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/load/HiveLoadNode.java
Labels: inlong-sort

#4495 [INLONG-4486][TubeMQ] Adjust the parameter requirements of group consume delete control APIs
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/metamanage/DefaultMetaDataService.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/metamanage/MetaDataService.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/metamanage/metastore/dao/mapper/ConsumeCtrlMapper.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/metamanage/metastore/dao/mapper/MetaConfigMapper.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/metamanage/metastore/impl/AbsConsumeCtrlMapperImpl.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/metamanage/metastore/impl/AbsMetaConfigMapperImpl.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/web/handler/WebAdminGroupCtrlHandler.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/web/handler/WebGroupConsumeCtrlHandler.java
Labels: inlong-tubemq, bug

#4496 [INLONG-4487][Manager] Fix JSON parse exception for stream source and stream sink
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/InnerInlongManagerClient.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/SinkListResponse.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/StreamSink.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/SourceListResponse.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/StreamSource.java
Labels: inlong-manager

#4479 [INLONG-4468][Manager] Use the user-configured URL instead of the DNS of Pulsar
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/mq/CreatePulsarGroupTaskListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/mq/CreatePulsarResourceTaskListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/mq/CreatePulsarSubscriptionTaskListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/mq/CreatePulsarTopicTaskListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/consumption/listener/ConsumptionCompleteProcessListener.java
Labels: inlong-manager

#4465 [INLONG-4464][Manager] Fix problems emerged from full link path tests
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/group/InlongGroupRequest.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/flink/FlinkOperation.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/flink/FlinkService.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/flink/dto/FlinkInfo.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/util/FlinkUtils.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/repository/DataProxyConfigRepository.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sort/CreateSortConfigListenerV2.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sort/util/LoadNodeUtils.java
  inlong-manager/manager-test/src/main/resources/sql/apache_inlong_manager.sql
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
Labels: inlong-manager

#4501 [INLONG-4500][Manager][Dashboard] Remove non-null restriction on hiveConfDir parameter
  inlong-dashboard/src/components/MetaData/StorageHive.tsx
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/hive/HiveSinkRequest.java
Labels: inlong-manager, inlong-dashboard

#4498 [INLONG-4497][Manager] Fix the method of asynchronously deleting the inlong group in the client
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/InnerInlongManagerClient.java
Labels: inlong-manager

#4507 [INLONG-3475][TubeMQ] Add an API for batch deletion of authorized consumer group records(addendum)
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/web/handler/WebAdminGroupCtrlHandler.java
Labels: inlong-tubemq, improve

#4504 [INLONG-4503][Manager] Fix the error of manager client executes the request
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/InnerInlongManagerClient.java
  inlong-manager/manager-client/src/test/java/org/apache/inlong/manager/client/api/impl/InnerInlongManagerClientTest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/group/InlongGroupRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/StreamSource.java
Labels: inlong-manager

#4499 [INLONG-4439][Manager] Remove gson adapter
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/AbstractCommandRunner.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/CreateCommand.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/DescribeCommand.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/ListCommand.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/pojo/GroupInfo.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/pojo/SinkInfo.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/pojo/SourceInfo.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/pojo/StreamInfo.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/util/CharsetAdapter.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/util/DataFormatAdapter.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/util/GsonUtils.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/util/InlongGroupInfoAdapter.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/util/ParseStatus.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/util/PrintUtils.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/util/SortBaseConfAdapter.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/util/StatusAdapter.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/util/StreamSinkAdapter.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/util/StreamSourceAdapter.java
Labels: inlong-manager

#4509 [INLONG-4508][Manager] Remove the config management of the DB and file servers
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/ErrorCodeEnum.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/commonserver/CommonDbServerInfo.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/commonserver/CommonDbServerListVo.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/commonserver/CommonDbServerPageRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/commonserver/CommonFileServerInfo.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/commonserver/CommonFileServerListVo.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/commonserver/CommonFileServerPageRequest.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/CommonDbServerEntity.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/CommonFileServerEntity.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/CommonDbServerEntityMapper.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/CommonFileServerEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/mappers/CommonDbServerEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/CommonFileServerEntityMapper.xml
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/CommonDBServerService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/CommonFileServerService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/CommonDBServerServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/CommonFileServerServiceImpl.java
  inlong-manager/manager-test/src/main/resources/sql/apache_inlong_manager.sql
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/CommonDBServerController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/CommonFileServerController.java
  inlong-manager/manager-web/src/main/resources/common_db_server_template.csv
  inlong-manager/manager-web/src/main/resources/common_file_server_template.csv
Labels: inlong-manager

#4506 [INLONG-4505][Manager] Improve the return information of validation rules
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/config/ControllerExceptionHandler.java
Labels: inlong-manager

#4514 [INLONG-4512][Manager] Remove third_party_cluster and data_proxy_cluster related classes
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/cluster/ClusterNodeRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/cluster/InlongClusterPageRequest.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/DataProxyClusterEntity.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/ThirdPartyClusterEntity.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/DataProxyClusterEntityMapper.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/InlongClusterEntityMapper.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/ThirdPartyClusterEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/mappers/DataProxyClusterEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/InlongClusterEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/ThirdPartyClusterEntityMapper.xml
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/CommonOperateService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/DataProxyClusterService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/InlongClusterService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/ThirdPartyClusterService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/DataProxyClusterServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/InlongClusterServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/ThirdPartyClusterServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/repository/DataProxyConfigRepository.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/impl/InlongClusterServiceTest.java
  inlong-manager/manager-test/src/main/resources/sql/apache_inlong_manager.sql
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/InlongClusterController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/openapi/AgentController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/openapi/DataProxyController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/openapi/OpenClusterController.java
Labels: inlong-manager

#4511 [INLONG-4510][Manager] Remove GsonUtils, InlongParser, and Gson dependency
  inlong-manager/manager-client/pom.xml
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/InlongGroupImpl.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/InnerGroupContext.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/InnerInlongManagerClient.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/util/GsonUtils.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/util/InlongParser.java
  inlong-manager/manager-client/src/test/java/org/apache/inlong/manager/client/api/impl/InlongGroupImplTest.java
  inlong-manager/manager-client/src/test/java/org/apache/inlong/manager/client/api/inner/InnerInlongManagerClientTest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/workflow/form/NewGroupProcessForm.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/workflow/form/ProcessForm.java
Labels: inlong-manager

#4517 [INLONG-4516][Manager] Get the MQ cluster for data proxy from the inlong cluster table
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/InlongClient.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/InlongClientImpl.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/ClusterType.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/ErrorCodeEnum.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/cluster/ClusterRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/cluster/ClusterResponse.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/cluster/InlongClusterPageRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/cluster/pulsar/PulsarClusterDTO.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/dataproxy/DataProxyNodeInfo.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/group/InlongGroupBriefInfo.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/group/InlongGroupInfo.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/group/InlongGroupPageRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/group/InlongGroupRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/stream/InlongStreamBriefInfo.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/stream/InlongStreamInfo.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/stream/InlongStreamPageRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/stream/InlongStreamRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/stream/InlongStreamResponse.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/settings/InlongGroupSettings.java
  inlong-manager/manager-common/src/test/java/org/apache/inlong/manager/common/pojo/transform/TransformDefinitionTest.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/InlongClusterEntityMapper.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/InlongGroupEntityMapper.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/InlongStreamEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/mappers/InlongClusterEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/InlongGroupEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/InlongStreamEntityMapper.xml
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/CommonOperateService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/InlongClusterService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/InlongStreamService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/ConsumptionServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/InlongClusterServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/InlongStreamServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/mq/CreatePulsarResourceTaskListener.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/impl/InlongClusterServiceTest.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/openapi/DataProxyController.java
Labels: inlong-manager

#4341 [INLONG-4280][Manager] Add params for Iceberg sink
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/iceberg/IcebergSink.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/iceberg/IcebergSinkDTO.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/iceberg/IcebergSinkListResponse.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/iceberg/IcebergSinkRequest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sort/util/LoadNodeUtils.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/constant/IcebergConstant.java
Labels: inlong-manager, inlong-sort

#4526 [INLONG-4521][DataProxy][Manager] Change the naming of third-party cluster related classes
  inlong-common/src/main/java/org/apache/inlong/common/pojo/dataproxy/DataProxyCluster.java
  inlong-common/src/main/java/org/apache/inlong/common/pojo/dataproxy/DataProxyConfig.java
  inlong-common/src/main/java/org/apache/inlong/common/pojo/dataproxy/DataProxyTopicInfo.java
  inlong-common/src/main/java/org/apache/inlong/common/pojo/dataproxy/MQClusterInfo.java
  inlong-common/src/main/java/org/apache/inlong/common/pojo/dataproxy/ThirdPartyClusterDTO.java
  inlong-common/src/main/java/org/apache/inlong/common/pojo/dataproxy/ThirdPartyClusterInfo.java
  inlong-dataproxy/bin/dataproxy-start.sh
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/ConfigManager.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/RemoteConfigJson.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/RemoteConfigManager.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/holder/CommonPropertiesHolder.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/holder/MQClusterConfigHolder.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/holder/PropertiesConfigHolder.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/loader/ClassResourceCommonPropertiesLoader.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/loader/CommonPropertiesLoader.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/pojo/MQClusterConfig.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/consts/AttributeConstants.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/consts/ConfigConstants.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/http/Context.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/http/HttpBaseSource.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/http/MappedContext.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/http/MessageFilter.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/http/MessageHandler.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/http/MessageProcessServlet.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/http/SimpleHttpSource.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/http/SimpleMessageHandler.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/http/StatusCode.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/PulsarSink.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/SinkContext.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/TubeSink.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/pulsar/PulsarClientService.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/pulsar/SinkTask.java
  inlong-dataproxy/dataproxy-source/src/test/java/org/apache/inlong/dataproxy/config/holder/TestMQClusterConfigLoader.java
  inlong-dataproxy/dataproxy-source/src/test/java/org/apache/inlong/dataproxy/config/loader/TestClassResourceCommonPropertiesLoader.java
  inlong-dataproxy/dataproxy-source/src/test/java/org/apache/inlong/dataproxy/config/loader/TestContextCacheClusterConfigLoader.java
  inlong-dataproxy/dataproxy-source/src/test/java/org/apache/inlong/dataproxy/config/loader/TestContextIdTopicConfigLoader.java
  inlong-dataproxy/dataproxy-source/src/test/java/org/apache/inlong/dataproxy/metrics/TestDataProxyMetricItemSet.java
  inlong-dataproxy/dataproxy-source/src/test/java/org/apache/inlong/dataproxy/metrics/TestMetricListenerRunnable.java
  inlong-dataproxy/dataproxy-source/src/test/java/org/apache/inlong/dataproxy/utils/MockUtils.java
  inlong-dataproxy/dataproxy-source/src/test/resources/common.properties
  inlong-dataproxy/dataproxy-source/src/test/resources/dataproxy-pulsar.conf
  inlong-dataproxy/dataproxy-source/src/test/resources/mq_cluster.properties
  inlong-dataproxy/dataproxy-source/src/test/resources/topics.properties
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/InlongClusterService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/InlongClusterServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/mq/util/PulsarUtils.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/openapi/DataProxyController.java
Labels: inlong-manager, inlong-dataproxy

#4533 [INLONG-4532][Manager] Fix init sort config error during initing group info in the client
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/InlongGroupImpl.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/util/InlongGroupTransfer.java
Labels: inlong-manager

#4542 [INLONG-4541][Manager] Support save extension params for inlong cluster
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/cluster/InlongClusterInfo.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/cluster/InlongClusterRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/cluster/dataproxy/DataProxyClusterInfo.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/cluster/dataproxy/DataProxyClusterRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/cluster/pulsar/PulsarClusterDTO.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/cluster/pulsar/PulsarClusterInfo.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/cluster/pulsar/PulsarClusterRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/cluster/tube/TubeClusterInfo.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/cluster/tube/TubeClusterRequest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/AbstractClusterOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/DataProxyClusterOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/InlongClusterOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/InlongClusterOperatorFactory.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/InlongClusterService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/InlongClusterServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/PulsarClusterOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/TubeClusterOperator.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/cluster/InlongClusterServiceTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/impl/ConsumptionServiceTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/impl/InlongClusterServiceTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/impl/InlongStreamServiceTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/group/InlongGroupServiceTest.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/InlongClusterController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/openapi/AgentController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/openapi/DataProxyController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/openapi/OpenClusterController.java
Labels: inlong-manager

#4545 [INLONG-4544][Dashboard] Pulsar Cluster support tenant param
  inlong-dashboard/src/i18n.ts
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/locales/en.json
  inlong-dashboard/src/pages/Clusters/CreateModal.tsx
  inlong-dashboard/src/pages/Clusters/config/Pulsar.tsx
Labels: inlong-dashboard

#4525 [INLONG-4519][Manager] Add params and load node for Elasticsearch sink
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/es/ElasticsearchSink.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/es/ElasticsearchSinkDTO.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/es/ElasticsearchSinkListResponse.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/es/ElasticsearchSinkRequest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sort/util/LoadNodeUtils.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/sink/ElasticsearchStreamSinkServiceTest.java
Labels: inlong-manager

#4546 [INLONG-4543][Manager] Query MQ clusters from inlong cluster table
  inlong-common/src/main/java/org/apache/inlong/common/pojo/dataproxy/PulsarClusterInfo.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/CommonOperateService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/InlongClusterService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/InlongClusterServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/ConsumptionServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/group/GroupCheckService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/mq/CreatePulsarGroupTaskListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/mq/CreatePulsarResourceTaskListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/mq/CreatePulsarSubscriptionTaskListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/mq/CreatePulsarTopicTaskListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/mq/CreateTubeGroupTaskListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/mq/CreateTubeTopicTaskListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/mq/util/PulsarOptServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/mq/util/PulsarUtils.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/mq/util/TubeMqOptService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/StreamSinkServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sort/CreateSortConfigListenerV2.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sort/CreateStreamSortConfigListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sort/PushSortConfigListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sort/util/DataFlowUtils.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/StreamSourceServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/transform/StreamTransformServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/consumption/listener/ConsumptionCompleteProcessListener.java
Labels: inlong-manager

#4522 [INLONG-4520][Audit] Audit-proxy supports Pulsar authenticate
  inlong-audit/audit-proxy/src/main/java/org/apache/inlong/audit/sink/pulsar/PulsarClientService.java
  inlong-audit/conf/audit-proxy-pulsar.conf
Labels: inlong-audit

#4554 [INLONG-1858][Manager] Fix hive add column bug
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/FieldType.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/operation/InlongStreamProcessOperation.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/StreamSinkServiceImpl.java
Labels: inlong-manager

#4530 [INLONG-4529][Manager] Fix PluginClassLoader unit test error
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/group/InlongGroupInfo.java
  inlong-manager/manager-service/src/test/resources/plugins/manager-plugin-example.jar
Labels: inlong-manager

#4404 [INLONG-4397][Agent] Supports collect of full data for file type
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/constant/FileCollectType.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/constant/JobConstants.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/pojo/FileJob.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/pojo/JobProfileDto.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/job/JobWrapper.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/trigger/TriggerManager.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/TextFileSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/trigger/DirectoryTrigger.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/TestFileAgent.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/utils/TestUtils.java
Labels: inlong-agent

#4560 [INLONG-4557][Sort] Fix HBase connector dependecy and pom relocation problem
  inlong-sort/pom.xml
  inlong-sort/sort-connectors/hbase/pom.xml
  inlong-sort/sort-connectors/hbase/src/main/resources/hbase-default.xml
  licenses/inlong-sort/LICENSE
Labels: inlong-sort

#4531 [INLONG-4528][Manager] Support Greenplum sink
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/SinkType.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/greenplum/GreenplumSink.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/greenplum/GreenplumSinkDTO.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/greenplum/GreenplumSinkListResponse.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/greenplum/GreenplumSinkRequest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/greenplum/GreenplumSinkOperation.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sort/util/LoadNodeUtils.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/sink/GreenplumStreamSinkServiceTest.java
Labels: inlong-manager

#4553 [INLONG-4552][Manager] Add composite index for table in DDL
  inlong-manager/manager-dao/src/main/resources/mappers/InlongGroupEntityMapper.xml
  inlong-manager/manager-test/src/main/resources/sql/apache_inlong_manager.sql
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
Labels: inlong-manager

#4566 [INLONG-4565][CI] Add the 1.2.0 version option for the bug report
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: github

#4415 [INLONG-4414][Manager] Support MySQL sink
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/SinkType.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/mysql/MySQLSink.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/mysql/MySQLSinkDTO.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/mysql/MySQLSinkListResponse.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/mysql/MySQLSinkRequest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/mysql/MySQLSinkOperation.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sort/util/LoadNodeUtils.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/sink/MysqlStreamSinkServiceTest.java
Labels: inlong-manager

#4582 [INLONG-4580][Dashboard] Add required for file source IP and hive conf dir
  inlong-dashboard/src/components/MetaData/DataSourcesFile.ts
  inlong-dashboard/src/components/MetaData/StorageHive.tsx
Labels: inlong-dashboard

#4584 [INLONG-4583][Manager] Fix the SQL error for query InlongGroup
  inlong-manager/manager-dao/src/main/resources/mappers/InlongGroupEntityMapper.xml
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/group/InlongGroupServiceImpl.java
Labels: inlong-manager

#4539 [INLONG-4534][Manager] Add complete create data flow task unit test
  inlong-manager/manager-client-examples/pom.xml
  inlong-manager/manager-client-examples/src/test/java/org/apache/inlong/manager/client/ut/BaseTest.java
  inlong-manager/manager-client-examples/src/test/java/org/apache/inlong/manager/client/ut/Kafka2HiveTest.java
Labels: inlong-manager

#4587 [INLONG-4586][Manager] Fix redefined streamFields in stream source
  inlong-manager/manager-client-examples/src/test/java/org/apache/inlong/manager/client/BaseExample.java
  inlong-manager/manager-client-examples/src/test/java/org/apache/inlong/manager/client/File2HBaseExample.java
  inlong-manager/manager-client-examples/src/test/java/org/apache/inlong/manager/client/File2IcebergExample.java
  inlong-manager/manager-client-examples/src/test/java/org/apache/inlong/manager/client/ut/BaseTest.java
  inlong-manager/manager-client-examples/src/test/java/org/apache/inlong/manager/client/ut/Kafka2HiveTest.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/util/StreamTransformTransfer.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/StreamSink.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/StreamSource.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/stream/StreamNode.java
  inlong-manager/manager-common/src/test/java/org/apache/inlong/manager/common/pojo/transform/TransformDefinitionTest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/ck/ClickHouseSinkOperation.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/es/ElasticsearchSinkOperation.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/greenplum/GreenplumSinkOperation.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/hbase/HBaseSinkOperation.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/hdfs/HdfsSinkOperation.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/hive/HiveSinkOperation.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/iceberg/IcebergSinkOperation.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/kafka/KafkaSinkOperation.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/mysql/MySQLSinkOperation.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/postgres/PostgresSinkOperation.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/sqlserver/SqlServerSinkOperation.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sort/util/LoadNodeUtils.java
Labels: inlong-manager

#4589 [INLONG-4588][Dashboard] Approval management splits different routes
  inlong-dashboard/src/configs/menus/index.ts
  inlong-dashboard/src/configs/routes/index.tsx
  inlong-dashboard/src/pages/ApprovalDetail/Steps.tsx
  inlong-dashboard/src/pages/ApprovalDetail/index.tsx
  inlong-dashboard/src/pages/Approvals/Applies/config.tsx
  inlong-dashboard/src/pages/Approvals/Applies/index.tsx
  inlong-dashboard/src/pages/Approvals/Approvals/config.tsx
  inlong-dashboard/src/pages/Approvals/Approvals/index.tsx
  inlong-dashboard/src/pages/Approvals/index.tsx
Labels: inlong-dashboard

#4597 [INLONG-4596][Sort] Fix jdbc-connector packaging lost dependencies
  inlong-sort/sort-connectors/jdbc/pom.xml
Labels: inlong-sort

#4604 [INLONG-4601][Manager] The fieldList in SinkRequest should be changed to sinkFieldList
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/SinkRequest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/StreamSinkServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/ck/ClickHouseSinkOperation.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/es/ElasticsearchSinkOperation.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/greenplum/GreenplumSinkOperation.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/hbase/HBaseSinkOperation.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/hdfs/HdfsSinkOperation.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/hive/HiveSinkOperation.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/iceberg/IcebergSinkOperation.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/kafka/KafkaSinkOperation.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/mysql/MySQLSinkOperation.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/postgres/PostgresSinkOperation.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/sqlserver/SqlServerSinkOperation.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/sink/GreenplumStreamSinkServiceTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/sink/HdfsStreamSinkServiceTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/sink/MysqlStreamSinkServiceTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/sort/DisableZkForSortTest.java
Labels: inlong-manager

#4518 [INLONG-4403][Manager] Support Oracle sink
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/SinkType.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/oracle/OracleSink.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/oracle/OracleSinkDTO.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/oracle/OracleSinkListResponse.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/oracle/OracleSinkRequest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/oracle/OracleSinkOperation.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sort/util/LoadNodeUtils.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/sink/OracleStreamSinkServiceTest.java
Labels: inlong-manager

#4608 [INLONG-4607][Manager] Add ck field type
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/FieldType.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sort/util/FieldInfoUtils.java
Labels: inlong-manager

#4611 [INLONG-4610][Dashboard] Change the fieldList to sinkFieldList
  inlong-dashboard/src/components/AccessHelper/DataStorageEditor/DetailModal.tsx
  inlong-dashboard/src/components/MetaData/StorageClickhouse.tsx
  inlong-dashboard/src/components/MetaData/StorageHive.tsx
  inlong-dashboard/src/components/MetaData/StorageIceberg.tsx
Labels: inlong-dashboard

#4614 [INLONG-4613][Release] Change the tag of Docker images to 1.2.0-incubating
  conf/inlong.conf
  docker/docker-compose/docker-compose.yml
  docker/publish.sh
  inlong-agent/agent-docker/README.md
  inlong-audit/audit-docker/README.md
  inlong-dataproxy/dataproxy-docker/README.md
  inlong-manager/manager-docker/README.md
  inlong-tubemq/tubemq-docker/tubemq-all/README.md
  inlong-tubemq/tubemq-docker/tubemq-manager/README.md
Labels: inlong-tubemq, inlong-manager, inlong-dataproxy, inlong-agent, release, inlong-audit, docker

#4411 [INLONG-4374][Manager] Support TDSQL Postgres sink
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/SinkType.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/tdsqlpostgresql/TDSQLPostgreSQLSink.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/tdsqlpostgresql/TDSQLPostgreSQLSinkDTO.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/tdsqlpostgresql/TDSQLPostgreSQLSinkListResponse.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/tdsqlpostgresql/TDSQLPostgreSQLSinkRequest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/tdsqlpostgresql/TDSQLPostgreSQLSinkOperation.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sort/util/LoadNodeUtils.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/sink/TDSQLPostgreSQLStreamSinkServiceTest.java
Labels: inlong-manager

#4581 [INLONG-4579][Audit] Delete redundant configuration in channel and sink
  inlong-audit/conf/audit-proxy-pulsar.conf
  inlong-audit/conf/audit-proxy-tube.conf
Labels: inlong-audit

#4562 [INLONG-4559][Audit] Support select channels by random routing
  inlong-audit/audit-sdk/src/main/java/org/apache/inlong/audit/send/SenderChannel.java
  inlong-audit/audit-sdk/src/main/java/org/apache/inlong/audit/send/SenderGroup.java
  inlong-audit/audit-sdk/src/main/java/org/apache/inlong/audit/send/SenderManager.java
  inlong-audit/audit-sdk/src/main/java/org/apache/inlong/audit/util/Config.java
  inlong-audit/audit-sdk/src/test/java/org/apache/inlong/audit/send/SenderGroupTest.java
Labels: inlong-audit

#4590 [INLONG-4483][Agent] Many ConnectException logs in unit test of Kafka source
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/sources/TestKafkaReader.java
Labels: inlong-agent

#4617 [INLONG-4615][Manager] PluginClassLoader adapts to the Windows system
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/plugin/PluginClassLoader.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/plugin/PluginClassLoaderTest.java
Labels: inlong-manager

#4618 [INLONG-4612][Dashboard][Manager] Update iceberg config ui and related protocol key names
  inlong-dashboard/src/components/MetaData/StorageIceberg.tsx
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/locales/en.json
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/iceberg/IcebergSink.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/iceberg/IcebergSinkRequest.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/flink/FlinkOperation.java
Labels: inlong-manager, inlong-dashboard

#4620 [INLONG-4619][Sort] Fix hive connector maven package problem
  inlong-sort/sort-connectors/hive/pom.xml
Labels: inlong-sort

#4595 [INLONG-4594][Audit] Make Elasticsearch authentication configurable
  inlong-audit/audit-store/src/main/java/org/apache/inlong/audit/config/ElasticsearchConfig.java
  inlong-audit/conf/application.properties
Labels: inlong-audit

#4625 [INLONG-4624][Sort] Package pulsar and hive connectors to same file
  inlong-distribution/src/main/assemblies/release.xml
Labels: inlong-sort

#4627 [INLONG-4626][Manager] Remove redundant connector sub directory
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/flink/FlinkOperation.java
Labels: inlong-manager

#4629 [INLONG-4628][License] Update inlong-manager's third-party dependency LICENSE
  licenses/inlong-manager/LICENSE
Labels: license

#4639 [INLONG-4638][Sort] Remove the dependency of spotbugs-annotations
  inlong-sort/sort-connectors/hbase/pom.xml
Labels: inlong-sort

#4646 [INLONG-4643][Manager] Add some parameters in ElasticsearchSinkDTO
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/es/ElasticsearchSinkDTO.java
Labels: inlong-manager

#4630 [INLONG-4602][Manager] Remove the ClusterBean class
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/beans/ClusterBean.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/ConsumptionServiceImpl.java
  inlong-manager/manager-test/src/main/resources/application-test.properties
  inlong-manager/manager-web/src/main/resources/application-dev.properties
  inlong-manager/manager-web/src/main/resources/application-prod.properties
  inlong-manager/manager-web/src/main/resources/application-test.properties
Labels: inlong-manager

#4645 [INLONG-4631][Manager] Replace InlongStreamTopicInfo and StreamBriefResponse with InlongStreamBriefInfo
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/group/InlongGroupTopicInfo.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/stream/InlongStreamBriefInfo.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/stream/InlongStreamTopicInfo.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/stream/StreamBriefResponse.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/workflow/form/NewGroupProcessForm.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/InlongStreamService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/ConsumptionServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/InlongStreamServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/operation/InlongGroupProcessOperation.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/listener/AbstractSourceOperateListener.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/InlongStreamController.java
Labels: inlong-manager

#4661 [INLONG-4660][Manager] PluginServiceTest adapts to the Windows system
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/plugin/PluginServiceTest.java
Labels: inlong-manager

#4655 [INLONG-4431][Sort] Sort lightweight support load data to DLC
  inlong-sort/pom.xml
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/constant/DLCConstant.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/LoadNode.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/Node.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/load/DLCIcebergLoadNode.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/node/load/DLCIcebergLoadNodeTest.java
  inlong-sort/sort-connectors/iceberg-dlc/pom.xml
  inlong-sort/sort-connectors/iceberg-dlc/src/main/java/org/apache/inlong/sort/iceberg/catalog/hybris/CachedClientPool.java
  inlong-sort/sort-connectors/iceberg-dlc/src/main/java/org/apache/inlong/sort/iceberg/catalog/hybris/DLCWrappedHybrisClientPool.java
  inlong-sort/sort-connectors/iceberg-dlc/src/main/java/org/apache/inlong/sort/iceberg/catalog/hybris/DlcWrappedHybrisCatalog.java
  inlong-sort/sort-connectors/iceberg-dlc/src/main/java/org/apache/inlong/sort/iceberg/catalog/hybris/HiveTableOperations.java
  inlong-sort/sort-connectors/pom.xml
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/DLCIcebergSqlParseTest.java
  licenses/inlong-sort-connectors/LICENSE
  licenses/inlong-sort-connectors/licenses/LICENSE-cos_api-bundle.txt
  licenses/inlong-sort-connectors/notices/NOTICE-cos_api-bundle.txt
  pom.xml
Labels: inlong-sort

#4600 [INLONG-4551][TubeMQ] Batch delete consumer groups and authorized consumer groups from the blacklist
  inlong-tubemq/tubemq-manager/src/main/java/org/apache/inlong/tubemq/manager/controller/group/GroupController.java
  inlong-tubemq/tubemq-manager/src/main/java/org/apache/inlong/tubemq/manager/controller/group/request/BatchDeleteGroupReq.java
  inlong-tubemq/tubemq-manager/src/main/java/org/apache/inlong/tubemq/manager/service/TopicServiceImpl.java
  inlong-tubemq/tubemq-manager/src/main/java/org/apache/inlong/tubemq/manager/service/TubeConst.java
Labels: inlong-tubemq

#4654 [INLONG-4653][CI] Add concurrency support on GitHub Actions
  .github/workflows/ci_build.yml
  .github/workflows/ci_chart_test.yml
  .github/workflows/ci_check_license.yml
  .github/workflows/ci_docker.yml
  .github/workflows/ci_ut.yml
Labels: ci

#4536 [INLONG-4535][Agent] Support configurable automatic exit function when OOM happens
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/common/AgentThreadFactory.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/constant/AgentConstants.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/utils/AgentUtils.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/utils/ThreadUtils.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/HeartbeatManager.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/job/Job.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/job/JobManager.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/task/TaskManager.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/task/TaskPositionManager.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/trigger/TriggerManager.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/fetcher/ManagerFetcher.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sinks/ProxySink.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/snapshot/BinlogSnapshotBase.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/trigger/DirectoryTrigger.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/trigger/PathPattern.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/TestOOMExit.java
  inlong-agent/conf/agent.properties
Labels: inlong-agent

#4637 [INLONG-4636][CI] Add check PR title workflow
  .github/workflows/README.md
  .github/workflows/ci_check_pr_title.yml
Labels: ci

#4667 [INLONG-4663][Manager] Change Mongo data source mapping to MongoDB
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/SourceType.java
Labels: inlong-manager

#4672 [INLONG-4670][Sort] Update the README.md for the Sort module
  inlong-sort/README.md
Labels: inlong-sort

#4666 [INLONG-4665][Sort] The primary key must be _id in mongoDB CDC Connector
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sort/util/ExtractNodeUtils.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/extract/MongoExtractNode.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/node/extract/MongoExtractNodeTest.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/MongoExtractFlinkSqlParseTest.java
Labels: inlong-manager, inlong-sort

#4680 [INLONG-4678][Sort] Add util class of parsing meta info for data node
  inlong-common/src/main/java/org/apache/inlong/common/enums/MetaField.java
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/parser/impl/FlinkSqlParser.java
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/util/MetaInfoParseUtil.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/util/MetaInfoParseUtilTest.java
Labels: inlong-sort

#4683 [INLONG-4682][Manager] Upgrade Jupiter engine version
  inlong-manager/pom.xml
  pom.xml
Labels: inlong-manager

#4689 [INLONG-4687][Manager] Add middlewareType field back to adapt the old behavior
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/GroupStatus.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/group/InlongGroupInfo.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/group/InlongGroupRequest.java
Labels: inlong-manager

#4691 [INLONG-3266][Agent] Get local IP when IP in config is not present
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/utils/AgentUtils.java
  inlong-agent/agent-common/src/test/java/org/apache/inlong/agent/common/TestAgentUtils.java
Labels: inlong-agent

#4690 [INLONG-4685][Sort] Add data type convert implicitly support
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/parser/impl/FlinkSqlParser.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/DataTypeConvertSqlParseTest.java
Labels: inlong-sort

#4692 [INLONG-4676][Manager] Optimize group init process in Client
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/enums/SimpleGroupStatus.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/GroupStatus.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/group/listener/light/LightGroupUpdateCompleteListener.java
Labels: inlong-manager

#4681 [INLONG-4674][Manager] Refactor the client by using the Retrofit framework
  inlong-manager/manager-client/pom.xml
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/InnerInlongManagerClient.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/service/AuthInterceptor.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/service/InlongGroupApi.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/service/InlongStreamApi.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/service/StreamSinkApi.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/service/StreamSourceApi.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/service/StreamTransformApi.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/service/WorkflowApi.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/util/JsonUtils.java
  licenses/inlong-manager/LICENSE
  pom.xml
Labels: inlong-manager

#4694 [INLONG-4632][Manager] Abstract operations on sink configuration to reduce repetitive code
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/AbstractSinkOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/ck/ClickHouseSinkOperation.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/es/ElasticsearchSinkOperation.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/greenplum/GreenplumSinkOperation.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/hbase/HBaseSinkOperation.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/hdfs/HdfsSinkOperation.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/hive/HiveSinkOperation.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/iceberg/IcebergSinkOperation.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/kafka/KafkaSinkOperation.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/mysql/MySQLSinkOperation.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/oracle/OracleSinkOperation.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/postgres/PostgresSinkOperation.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/sqlserver/SqlServerSinkOperation.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/tdsqlpostgresql/TDSQLPostgreSQLSinkOperation.java
Labels: inlong-manager

#4714 [INLONG-4713][Manager] Fix ut execution script error in web module
  inlong-manager/manager-test/src/main/java/org/apache/inlong/manager/test/BaseTest.java
  inlong-manager/manager-test/src/main/resources/application-unit-test.properties
  inlong-manager/manager-test/src/main/resources/h2/apache_inlong_manager.sql
Labels: inlong-manager

#4718 [INLONG-4717][Doc] Remove DISCLAIMER file
  .licenserc.yaml
  DISCLAIMER
  inlong-dashboard/.headerignore
  inlong-distribution/src/main/assemblies/release.xml
  inlong-tubemq/tubemq-client/src/main/assembly/assembly.xml
  inlong-tubemq/tubemq-example/src/main/assembly/assembly.xml
  pom.xml
Labels: inlong-tubemq, doc, improve

#4729 [INLONG-4727][Doc] Update InLong project link in readme and pom.xml
  .github/ISSUE_TEMPLATE/config.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/ct.yml
  .github/workflows/README.md
  .github/workflows/ci_check_pr_title.yml
  CONTRIBUTING.md
  README.md
  docker/kubernetes/Chart.yaml
  docker/kubernetes/README.md
  inlong-dashboard/README.md
  inlong-tubemq/pom.xml
  inlong-tubemq/tubemq-client-twins/tubemq-client-cpp/README.md
  inlong-tubemq/tubemq-client-twins/tubemq-client-cpp/proto/readme.md
  inlong-tubemq/tubemq-client-twins/tubemq-client-go/README.md
  inlong-tubemq/tubemq-client-twins/tubemq-client-python/README.md
  pom.xml
Labels: inlong-tubemq, inlong-dashboard, doc, improve, ci, k8s, github

#4731 [INLONG-4730][Sort] Fix meta field format is null when parse json to sql
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/parser/impl/FlinkSqlParser.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/DataTypeConvertSqlParseTest.java
  inlong-sort/sort-formats/format-base/src/main/java/org/apache/inlong/sort/formats/base/TableFormatUtils.java
Labels: inlong-sort

#4712 [INLONG-4711][Manager] Fix JSON parse failed in client
  inlong-common/src/main/java/org/apache/inlong/common/enums/MetaField.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/InlongGroupImpl.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/InnerInlongManagerClient.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/service/InlongGroupApi.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/service/InlongStreamApi.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/service/StreamTransformApi.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/GroupStatus.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/transform/filter/FilterDefinition.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/util/JsonUtils.java
Labels: inlong-manager

#4734 [INLONG-4721][TubeMQ] Remove the "incubat*" tag in the tubemq-go-sdk code
  inlong-tubemq/tubemq-client-twins/tubemq-client-go/README.md
  inlong-tubemq/tubemq-client-twins/tubemq-client-go/client/consumer.go
  inlong-tubemq/tubemq-client-twins/tubemq-client-go/client/consumer_impl.go
  inlong-tubemq/tubemq-client-twins/tubemq-client-go/client/heartbeat.go
  inlong-tubemq/tubemq-client-twins/tubemq-client-go/codec/tubemq_codec.go
  inlong-tubemq/tubemq-client-twins/tubemq-client-go/codec/tubemq_codec_test.go
  inlong-tubemq/tubemq-client-twins/tubemq-client-go/config/config.go
  inlong-tubemq/tubemq-client-twins/tubemq-client-go/example/consumer.go
  inlong-tubemq/tubemq-client-twins/tubemq-client-go/example/multi_routine_consumer.go
  inlong-tubemq/tubemq-client-twins/tubemq-client-go/flowctrl/handler.go
  inlong-tubemq/tubemq-client-twins/tubemq-client-go/flowctrl/item.go
  inlong-tubemq/tubemq-client-twins/tubemq-client-go/go.mod
  inlong-tubemq/tubemq-client-twins/tubemq-client-go/metadata/node.go
  inlong-tubemq/tubemq-client-twins/tubemq-client-go/metadata/partition.go
  inlong-tubemq/tubemq-client-twins/tubemq-client-go/metadata/subscribe_info.go
  inlong-tubemq/tubemq-client-twins/tubemq-client-go/multiplexing/multiplexing.go
  inlong-tubemq/tubemq-client-twins/tubemq-client-go/multiplexing/multlplexing_test.go
  inlong-tubemq/tubemq-client-twins/tubemq-client-go/remote/remote.go
  inlong-tubemq/tubemq-client-twins/tubemq-client-go/rpc/broker.go
  inlong-tubemq/tubemq-client-twins/tubemq-client-go/rpc/client.go
  inlong-tubemq/tubemq-client-twins/tubemq-client-go/rpc/master.go
  inlong-tubemq/tubemq-client-twins/tubemq-client-go/selector/selector.go
  inlong-tubemq/tubemq-client-twins/tubemq-client-go/sub/info.go
  inlong-tubemq/tubemq-client-twins/tubemq-client-go/sub/info_test.go
  inlong-tubemq/tubemq-client-twins/tubemq-client-go/tdmsg/bin_msg.go
  inlong-tubemq/tubemq-client-twins/tubemq-client-go/tdmsg/td_msg.go
  inlong-tubemq/tubemq-client-twins/tubemq-client-go/transport/client.go
  inlong-tubemq/tubemq-client-twins/tubemq-client-go/util/util.go
  inlong-tubemq/tubemq-client-twins/tubemq-client-python/setup.py
Labels: inlong-tubemq, improve

#4738 [INLONG-4737][Doc] Remove "(Incubating)" tag in licenses dirs
  licenses/LICENSE
  licenses/inlong-agent/LICENSE
  licenses/inlong-audit/LICENSE
  licenses/inlong-dashboard/LICENSE
  licenses/inlong-dataproxy/LICENSE
  licenses/inlong-manager/LICENSE
  licenses/inlong-sort-connectors/LICENSE
  licenses/inlong-sort-standalone/LICENSE
  licenses/inlong-sort/LICENSE
  licenses/inlong-tubemq-manager/LICENSE
  licenses/inlong-tubemq-server/LICENSE
Labels: doc, improve

#4736 [INLONG-4735][Sort] Add precision support for DecimalFormatInfo, TimeFormatInfo
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/DecimalFormatSqlParseTest.java
  inlong-sort/sort-formats/format-base/src/main/java/org/apache/inlong/sort/formats/base/TableFormatUtils.java
  inlong-sort/sort-formats/format-common/src/main/java/org/apache/inlong/sort/formats/common/DecimalFormatInfo.java
  inlong-sort/sort-formats/format-common/src/main/java/org/apache/inlong/sort/formats/common/TimeFormatInfo.java
  inlong-sort/sort-formats/format-common/src/main/java/org/apache/inlong/sort/formats/common/TypeInfo.java
Labels: inlong-sort

#4740 [INLONG-4739][Dashboard] The pagination of the execution log of the group is invalid
  inlong-dashboard/src/pages/AccessDashboard/ExecutionLogModal.tsx
Labels: inlong-dashboard

#4700 [INLONG-4442][Manager] Support DLCIceberg sink
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/SinkType.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/dlc/DLCIcebergSink.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/dlc/DLCIcebergSinkDTO.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/dlc/DLCIcebergSinkListResponse.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/dlc/DLCIcebergSinkRequest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/dlc/DLCIcebergSinkOperation.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sort/util/LoadNodeUtils.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/sink/DLCIcebergStreamSinkServiceTest.java
Labels: inlong-manager

#4743 [INLONG-4742][Manager] Support Reset when inlong group is pending on Configuring
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/InlongGroup.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/BlankInlongGroup.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/InlongGroupImpl.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/InnerInlongManagerClient.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/service/InlongGroupApi.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/service/InlongStreamApi.java
  inlong-manager/manager-client/src/test/java/org/apache/inlong/manager/client/api/inner/InnerInlongManagerClientTest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/group/InlongGroupResetRequest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/operation/InlongGroupProcessOperation.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/InlongGroupController.java
Labels: inlong-manager

#4733 [INLONG-4732][Sort] Fix Iceberg commit Hive catalog table not found
  inlong-sort/pom.xml
  inlong-sort/sort-connectors/iceberg/pom.xml
Labels: inlong-sort

#4753 [INLONG-4752][Dashboard] Keyword param error
  inlong-dashboard/src/pages/Clusters/NodeManage.tsx
  inlong-dashboard/src/pages/Clusters/index.tsx
Labels: inlong-dashboard

#4754 [INLONG-4751][Sort] Optimize the metadata implementation of Extract Nodes and Load Nodes
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/Metadata.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/extract/KafkaExtractNode.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/extract/MongoExtractNode.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/extract/MySqlExtractNode.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/extract/OracleExtractNode.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/extract/PostgresExtractNode.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/extract/SqlServerExtractNode.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/load/KafkaLoadNode.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/node/extract/KafkaExtractNodeTest.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/node/extract/MongoExtractNodeTest.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/node/extract/MySqlExtractNodeTest.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/node/extract/OracleExtractNodeTest.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/node/extract/PostgresExtractNodeTest.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/node/extract/SqlServerExtractNodeTest.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/node/load/KafkaLoadNodeTest.java
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/parser/impl/FlinkSqlParser.java
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/util/MetaInfoParseUtil.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/MongoExtractFlinkSqlParseTest.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/OracleExtractSqlParseTest.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/PostgresExtractFlinkSqlParseTest.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/SqlServerNodeSqlParseTest.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/util/MetaInfoParseUtilTest.java
Labels: inlong-sort

#4767 [INLONG-4653][Revert] Add concurrency support on GitHub Actions
  .github/workflows/ci_build.yml
  .github/workflows/ci_chart_test.yml
  .github/workflows/ci_check_license.yml
  .github/workflows/ci_docker.yml
  .github/workflows/ci_ut.yml
Labels: ci

#4757 [INLONG-4745][Manager] Support list dataproxy nodes by extTag
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/cluster/InlongClusterPageRequest.java
  inlong-manager/manager-dao/src/main/resources/mappers/InlongClusterEntityMapper.xml
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/InlongClusterService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/InlongClusterServiceImpl.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/cluster/InlongClusterServiceTest.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/openapi/DataProxyController.java
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/config/ProxyConfigManager.java
Labels: inlong-manager, inlong-sdk

#4772 [INLONG-4771][Manager] Change junit-jupiter dependency to test scope
  inlong-manager/manager-client-examples/pom.xml
  inlong-manager/manager-client-tools/pom.xml
  inlong-manager/manager-client/pom.xml
  inlong-manager/manager-common/pom.xml
  inlong-manager/manager-plugins/pom.xml
  inlong-manager/pom.xml
Labels: inlong-manager

#4770 [INLONG-4769][CI] Fix error trigger condition in the docker workflow
  .github/workflows/ci_docker.yml
Labels: ci

#4784 [INLONG-4701][Manager] Change the operating classes name from Operation to Operator
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/AgentServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/group/InlongGroupServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/SinkResourceOperatorFactory.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/AbstractSinkOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/SinkOperatorFactory.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/StreamSinkOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/StreamSinkServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/ck/ClickHouseSinkOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/dlc/DLCIcebergSinkOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/es/ElasticsearchSinkOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/greenplum/GreenplumSinkOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/hbase/HBaseSinkOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/hdfs/HdfsSinkOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/hive/HiveSinkOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/iceberg/IcebergSinkOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/kafka/KafkaSinkOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/mysql/MySQLSinkOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/oracle/OracleSinkOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/postgres/PostgresSinkOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/sqlserver/SqlServerSinkOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/tdsqlpostgresql/TDSQLPostgreSQLSinkOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/AbstractSourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/SourceOperatorFactory.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/SourceSnapshotOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/StreamSourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/StreamSourceServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/autopush/AutoPushSourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/binlog/BinlogSourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/file/FileSourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/kafka/KafkaSourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/mongo/MongoDBSourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/oracle/OracleSourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/postgres/PostgresSourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/pulsar/PulsarSourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/sqlserver/SqlServerSourceOperator.java
Labels: inlong-manager

#4776 [INLONG-4688][Manager] Remove unused FullStream-related classes and APIs
  inlong-manager/manager-client-examples/src/test/java/org/apache/inlong/manager/client/ut/Kafka2HiveTest.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/DescribeCommand.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/ListCommand.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/InlongGroupImpl.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/InlongStreamImpl.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/InnerInlongManagerClient.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/service/InlongStreamApi.java
  inlong-manager/manager-client/src/test/java/org/apache/inlong/manager/client/api/impl/InlongGroupImplTest.java
  inlong-manager/manager-client/src/test/java/org/apache/inlong/manager/client/api/impl/InlongStreamImplTest.java
  inlong-manager/manager-client/src/test/java/org/apache/inlong/manager/client/api/inner/InnerInlongManagerClientTest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/stream/FullStreamRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/stream/FullStreamResponse.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/stream/InlongStreamInfo.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/stream/InlongStreamResponse.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/InlongStreamService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/InlongStreamServiceImpl.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/InlongStreamController.java
Labels: inlong-manager

#4782 [INLONG-4781][Manager] Refactor the InlongStreamExtEntityMapper file
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/InlongStreamExtEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/mappers/ConsumptionPulsarEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/InlongGroupExtEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/InlongStreamEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/InlongStreamExtEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/InlongStreamFieldEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/StreamSinkExtEntityMapper.xml
Labels: inlong-manager

#4789 [INLONG-4755][Manager] Resolve LocalDateTime and LocalTime format error in Swagger
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/config/Swagger2Config.java
Labels: inlong-manager

#4794 [INLONG-4793][Manager] Change the userName to username
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/InnerInlongManagerClient.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/auth/DefaultAuthentication.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/consumption/ConsumptionQuery.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/user/UserDetail.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/user/UserDetailPageRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/util/LoginUserUtils.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/UserRoleEntity.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/UserRoleEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/mappers/ConsumptionEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/UserRoleEntityMapper.xml
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/RoleService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/RoleServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/UserServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/operationlog/OperationLogRecorder.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sort/util/ExtractNodeUtils.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/auth/WebAuthorizingRealm.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/config/ControllerExceptionHandler.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/ConsumptionController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/DataNodeController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/InlongClusterController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/InlongGroupController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/InlongStreamController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/StreamSinkController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/StreamSourceController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/StreamTransformController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/UserController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/WorkflowApproverController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/WorkflowController.java
Labels: inlong-manager

#4792 [INLONG-4791][Manager] Remove DataSchema-related API and classes
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/group/DataSchemaInfo.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/DataSchemaEntity.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/DataSchemaEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/mappers/DataSchemaEntityMapper.xml
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/DataSchemaService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/DataSchemaServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/group/InlongGroupServiceImpl.java
  inlong-manager/manager-test/src/main/resources/h2/apache_inlong_manager.sql
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/BasicInfoController.java
Labels: inlong-manager

#4801 [INLONG-4799][Manager] Add Flink plugin initialization for standalone deployment
  bin/init-config.sh
  conf/inlong.conf
  inlong-manager/manager-plugins/src/main/resources/flink-sort-plugin.properties
Labels: inlong-manager

#4804 [INLONG-4803][DataProxy] Add warn log when there is no mq info when start for the first time
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/pulsar/PulsarClientService.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/openapi/DataProxyController.java
Labels: inlong-manager, inlong-dataproxy

#4802 [INLONG-4766][Manager] Fix workflow NP problem when the COMPLETE request is fired directly from client
  inlong-manager/manager-workflow/src/main/java/org/apache/inlong/manager/workflow/processor/ServiceTaskProcessor.java
Labels: inlong-manager

#4291 [INLONG-4232][Agent][Manager] Support collect data from a specified position for MySQL binlog
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/pojo/BinlogJob.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/pojo/JobProfileDto.java
  inlong-agent/agent-core/src/test/resources/log4j2.properties
  inlong-agent/agent-core/src/test/resources/log4j2.xml
  inlong-manager/manager-client-tools/src/test/java/org/apache/inlong/manager/client/cli/TestCommand.java
  inlong-manager/manager-client-tools/src/test/resources/create_group.json
  inlong-manager/manager-client-tools/src/test/resources/log4j2.xml
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/DefaultInlongStreamBuilder.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/group/InlongGroupInfo.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/ck/ClickHouseSink.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sort/BaseSortConf.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sort/FlinkSortConf.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sort/UserDefinedSortConf.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/mysql/MySQLBinlogSource.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/mysql/MySQLBinlogSourceDTO.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/mysql/MySQLBinlogSourceListResponse.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/mysql/MySQLBinlogSourceRequest.java
Labels: inlong-manager, inlong-agent

#4795 [INLONG-4790][SDK] Upgrade DES encryption decryption to AES
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/codec/ProtocolEncoder.java
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/config/EncryptConfigEntry.java
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/config/EncryptInfo.java
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/example/UdpClientExample.java
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/utils/EncryptUtil.java
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/utils/ProxyUtils.java
  inlong-sdk/dataproxy-sdk/src/test/java/org/apache/inlong/sdk/dataproxy/EncryptUtilTest.java
Labels: inlong-sdk

#4778 [INLONG-4777][SortStandalone] Change ack policy from checking message count to checking every message
  inlong-sort-standalone/sort-standalone-common/src/main/java/org/apache/inlong/sort/standalone/config/holder/AckPolicy.java
  inlong-sort-standalone/sort-standalone-common/src/main/java/org/apache/inlong/sort/standalone/config/holder/CommonPropertiesHolder.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/channel/BufferQueueChannel.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/channel/CacheMessageRecord.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/channel/ProfileEvent.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/cls/ClsSinkContext.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/elasticsearch/EsSinkContext.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/source/sortsdk/FetchCallback.java
  inlong-sort-standalone/sort-standalone-source/src/test/java/org/apache/inlong/sort/standalone/sink/cls/TestDefaultEvent2LogItemHandler.java
  inlong-sort-standalone/sort-standalone-source/src/test/java/org/apache/inlong/sort/standalone/sink/elasticsearch/TestEsSinkContext.java
Labels: inlong-sort-standalone

#4817 [INLONG-4816][DataProxy] Add warn log when there is no TubeMQ info when start for the first time
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/TubeSink.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/pulsar/PulsarClientService.java
  pom.xml
Labels: inlong-dataproxy

#4765 [INLONG-4763][Sort] Import sort end2end unit test with sql file input
  .licenserc.yaml
  inlong-sort/pom.xml
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/parser/impl/NativeFlinkSqlParser.java
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/parser/result/FlinkSqlParseResult.java
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/parser/result/ParseResult.java
  inlong-sort/sort-end-to-end-tests/pom.xml
  inlong-sort/sort-end-to-end-tests/src/test/java/org/apache/inlong/sort/tests/KafkaE2ECase.java
  inlong-sort/sort-end-to-end-tests/src/test/java/org/apache/inlong/sort/tests/utils/FlinkContainerTestEnv.java
  inlong-sort/sort-end-to-end-tests/src/test/java/org/apache/inlong/sort/tests/utils/JdbcProxy.java
  inlong-sort/sort-end-to-end-tests/src/test/java/org/apache/inlong/sort/tests/utils/MySqlContainer.java
  inlong-sort/sort-end-to-end-tests/src/test/java/org/apache/inlong/sort/tests/utils/TestUtils.java
  inlong-sort/sort-end-to-end-tests/src/test/resources/docker/mysql/my.cnf
  inlong-sort/sort-end-to-end-tests/src/test/resources/docker/mysql/setup.sql
  inlong-sort/sort-end-to-end-tests/src/test/resources/flinkSql/kafka_test.sql
  inlong-sort/sort-end-to-end-tests/src/test/resources/log4j2-test.properties
  licenses/inlong-sort/LICENSE
  pom.xml
Labels: inlong-sort

#4813 [INLONG-4811][Manager] Add delete MQ task in group and stream workflow definition
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/mq/CreateTubeTopicTaskListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/mq/DeletePulsarResourceTaskListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/mq/DeletePulsarTopicTaskListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/mq/PulsarResourceCreateSelector.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/mq/PulsarResourceDeleteSelector.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/mq/PulsarTopicCreateSelector.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/mq/PulsarTopicDeleteSelector.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/mq/util/PulsarOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/group/DeleteGroupWorkflowDefinition.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/listener/GroupTaskListenerFactory.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/listener/StreamTaskListenerFactory.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/stream/DeleteStreamWorkflowDefinition.java
  inlong-manager/manager-workflow/src/main/java/org/apache/inlong/manager/workflow/definition/ServiceTaskType.java
Labels: inlong-manager
