Repository apache/inlong, pull requests merged in 2022-05, with the labels that each got.

#4047 [INLONG-4046][Manager] Fix Filter Function of Join node
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sort/util/ExtractNodeUtils.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sort/util/FieldInfoUtils.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sort/util/FilterFunctionUtils.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sort/util/NodeRelationShipUtils.java
Labels: inlong-manager

#4054 [INLONG-4052][Manager] Remove zone_tag field of inlong cluster table
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/cluster/InlongClusterPageRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/cluster/InlongClusterRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/cluster/InlongClusterResponse.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/InlongClusterEntity.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/InlongClusterEntityMapper.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/InlongClusterNodeEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/mappers/InlongClusterEntityMapper.xml
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/InlongClusterServiceImpl.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/impl/InlongClusterServiceTest.java
  inlong-manager/manager-test/src/main/resources/sql/apache_inlong_manager.sql
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
Labels: inlong-manager

#4053 [INLONG-3823][Sort] Fix error caused by unregistered custom function
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/parser/impl/FlinkSqlParser.java
Labels: inlong-sort

#4057 [INLONG-3816][Sort] Fix NPE in RegexpReplaceFirstFunction
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/function/RegexpReplaceFirstFunction.java
Labels: inlong-sort

#4061 [INLONG-4060][Manager] Fix NodeUtils for sort
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sort/util/ExtractNodeUtils.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sort/util/LoadNodeUtils.java
Labels: inlong-manager

#4055 [INLONG-3815][Sort] Fix meta field sync error
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/format/CanalJsonFormat.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/load/KafkaLoadNode.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/parser/impl/FlinkSqlParser.java
  inlong-sort/sort-single-tenant/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
  inlong-sort/sort-single-tenant/src/test/java/org/apache/inlong/sort/singletenant/flink/parser/MetaFieldSyncTest.java
Labels: inlong-sort

#2902 [INLONG-2901][Manager] Fix maven tests
  inlong-manager/manager-dao/src/test/java/org/apache/inlong/manager/dao/DaoBaseTest.java
  inlong-manager/manager-plugins/src/test/java/org/apache/inlong/manager/plugin/listener/DeleteSortListenerTest.java
  inlong-manager/manager-plugins/src/test/java/org/apache/inlong/manager/plugin/listener/RestartSortListenerTest.java
  inlong-manager/manager-plugins/src/test/java/org/apache/inlong/manager/plugin/listener/StartupSortListenerTest.java
  inlong-manager/manager-plugins/src/test/java/org/apache/inlong/manager/plugin/listener/SuspendSortListenerTest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/WorkflowServiceImpl.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/ServiceBaseTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/impl/AgentServiceTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/impl/ConsumptionServiceTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/impl/InlongClusterServiceTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/impl/InlongGroupProcessOperationTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/impl/InlongGroupServiceTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/impl/InlongStreamServiceTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/sink/ClickHouseStreamSinkServiceTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/sink/HiveStreamSinkServiceTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/sink/IcebergStreamSinkServiceTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/sink/KafkaStreamSinkServiceTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/source/StreamSourceServiceTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/mq/util/PulsarUtilsTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/resource/hive/HiveSinkEventSelectorTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/sort/DisableZkForSortTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/source/listener/DataSourceListenerTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/workflow/ServiceTaskListenerFactoryTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/workflow/WorkflowServiceImplTest.java
  inlong-manager/manager-test/src/main/resources/sql/apache_inlong_manager.sql
  inlong-manager/manager-web/pom.xml
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
  inlong-manager/manager-web/src/main/resources/application-test.properties
  inlong-manager/manager-web/src/test/java/org/apache/inlong/manager/web/controller/openapi/SortControllerTest.java
  inlong-manager/pom.xml
Labels: inlong-manager

#4068 [INLONG-4067][Manager] Optimize fieldRelationShip in split transform
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sort/util/FieldRelationShipUtils.java
Labels: inlong-manager

#4072 [INLONG-4069][Manager] Add ext_tag field for inlong cluster table
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/cluster/InlongClusterPageRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/cluster/InlongClusterRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/cluster/InlongClusterResponse.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/InlongClusterEntity.java
  inlong-manager/manager-dao/src/main/resources/mappers/InlongClusterEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/InlongClusterNodeEntityMapper.xml
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/InlongClusterServiceImpl.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/impl/InlongClusterServiceTest.java
  inlong-manager/manager-test/src/main/resources/sql/apache_inlong_manager.sql
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
Labels: inlong-manager

#4074 [INLONG-4070][Manager] Add update and delete APIs for inlong stream in manager client
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/InlongStream.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/DefaultInlongStreamBuilder.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/InlongGroupImpl.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/InlongStreamImpl.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/InnerInlongManagerClient.java
  inlong-manager/manager-client/src/test/java/org/apache/inlong/manager/client/api/impl/InlongStreamImplTest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sort/util/FieldInfoUtils.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sort/util/LoadNodeUtils.java
Labels: inlong-manager

#4076 [INLONG-4075][Manager] Add update, delete source, sink and transform APIs in manager client
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/InlongStream.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/InlongStreamImpl.java
Labels: inlong-manager

#4079 [INLONG-4078][Manager] Add Java docs for manager client APIs
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/InlongStream.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/InlongStreamImpl.java
Labels: inlong-manager

#4082 [INLONG-4081][Sort] Fix upsert_kafka constant to upsert-kafka
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/constant/KafkaConstant.java
Labels: inlong-sort

#4083 [INLONG-4071][Manager] Add data node table and other related classes
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/node/DataNodePageRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/node/DataNodeRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/node/DataNodeResponse.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/DataNodeEntity.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/DataNodeEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/generatorConfig.xml
  inlong-manager/manager-dao/src/main/resources/mappers/DataNodeEntityMapper.xml
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/DataNodeService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/DataNodeServiceImpl.java
  inlong-manager/manager-test/src/main/resources/sql/apache_inlong_manager.sql
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/DataNodeController.java
Labels: inlong-manager

#4098 [INLONG-4097][Sort] Use javax constrain notNull annotation
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/cdc/debezium/table/RowDataDebeziumDeserializeSchema.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/cdc/mysql/table/MySqlReadableMetadata.java
Labels: inlong-sort

#4101 [INLONG-4100][Manager] Add id in update request for source/sink/transform
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/DefaultInlongStreamBuilder.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/InlongStreamImpl.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/stream/InlongStreamResponse.java
Labels: inlong-manager

#4062 [INLONG-3636][TubeMQ] Fix the warning logs during the build
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/policies/FlowCtrlRuleHandler.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/utils/TStringUtils.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corerpc/netty/NettyClientFactory.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corerpc/netty/NettyRpcServer.java
  inlong-tubemq/tubemq-manager/src/main/java/org/apache/inlong/tubemq/manager/controller/TubeMQResult.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/common/utils/HttpUtils.java
Labels: inlong-tubemq

#4020 [INLONG-4012][Manager] Support kafka sink resource operation
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/kafka/KafkaSinkDTO.java
  inlong-manager/manager-service/pom.xml
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/CreateSinkResourceListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/kafka/KafkaResourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/ServiceTaskListenerFactory.java
  inlong-manager/manager-workflow/src/main/java/org/apache/inlong/manager/workflow/event/EventSelector.java
  licenses/inlong-manager/licenses/LICENSE-kafka-clients.txt
  licenses/inlong-manager/notices/NOTICE-kafka-clients.txt
Labels: inlong-manager

#4103 [INLONG-4102][Dashboard] Add tooltip for dataPath of the Hive sink
  inlong-dashboard/src/components/MetaData/StorageHive.tsx
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/locales/en.json
Labels: inlong-dashboard

#4107 [INLONG-3835][Sort] Register CascadeFunctionWrapper in the parent interface
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/transformation/Function.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/transformation/FunctionParam.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/transformation/function/CascadeFunctionWrapperTest.java
Labels: inlong-sort

#4096 [INLONG-4095][Manager] Fix UT error and align special characters
  inlong-manager/manager-client-tools/pom.xml
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/CommandUtil.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/pojo/GroupInfo.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/util/PrintUtil.java
  inlong-manager/manager-client-tools/src/test/java/org/apache/inlong/manager/client/cli/TestCommand.java
Labels: inlong-manager

#4111 [INLONG-4110][Manager] Create cascade function wrapper
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sort/util/FieldRelationShipUtils.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sort/util/NodeRelationShipUtils.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/transform/StreamTransformServiceImpl.java
Labels: inlong-manager

#4106 [INLONG-4105][Manager] Refactor the sink workflow and sink resource operator
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/SinkResourceListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/SinkResourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/hive/HiveResourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/hive/HiveSinkEventSelector.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/kafka/KafkaResourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/ServiceTaskListenerFactory.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/resource/hive/HiveSinkEventSelectorTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/workflow/WorkflowServiceImplTest.java
  inlong-manager/manager-workflow/src/main/java/org/apache/inlong/manager/workflow/definition/ServiceTask.java
Labels: inlong-manager

#4116 [INLONG-4114][TubeMQ] Fix the tubemq all image can not start
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corerpc/netty/NettyClientFactory.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corerpc/netty/NettyRpcServer.java
  inlong-tubemq/tubemq-docker/tubemq-all/README.md
  inlong-tubemq/tubemq-docker/tubemq-all/tubemq-docker.sh
Labels: inlong-tubemq, docker

#4093 [INLONG-4084][Manager] Add some fields for stream_source and stream_sink
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/source/MySQLBinlogSource.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/util/InlongStreamSourceTransfer.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/SinkListResponse.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/SinkPageRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/SinkRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/SinkResponse.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/SourceListResponse.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/SourceRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/SourceResponse.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/binlog/BinlogSourceDTO.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/binlog/BinlogSourceListResponse.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/binlog/BinlogSourceRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/binlog/BinlogSourceResponse.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/stream/StreamNode.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/stream/StreamSink.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/stream/StreamSource.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/StreamSinkEntity.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/StreamSourceEntity.java
  inlong-manager/manager-dao/src/main/resources/mappers/StreamSinkEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/StreamSourceEntityMapper.xml
  inlong-manager/manager-test/src/main/resources/sql/apache_inlong_manager.sql
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
Labels: inlong-manager

#4109 [INLONG-4108][Manager] Merge enum in managerctl and manager-client
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/CommandList.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/enums/InlongGroupState.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/InlongGroupContext.java
Labels: inlong-manager

#4122 [INLONG-4120][Manager] Change the keyWord to keyword in query params
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/InnerInlongManagerClient.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/cluster/ClusterPageRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/group/InlongGroupPageRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/SinkPageRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/SourcePageRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/stream/InlongStreamPageRequest.java
  inlong-manager/manager-dao/src/main/resources/mappers/DataProxyClusterEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/InlongGroupEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/InlongStreamEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/StreamSinkEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/StreamSourceEntityMapper.xml
Labels: inlong-manager

#4104 [INLONG-4077][Manager] Implement the APIs of data node management
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/DataNodeEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/mappers/DataNodeEntityMapper.xml
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/DataNodeServiceImpl.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/impl/DataNodeServiceTest.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/DataNodeController.java
Labels: inlong-manager

#4121 [INLONG-3553][TubeMQ] Update Helm Chart for latest configuration
  docker/kubernetes/Chart.yaml
  docker/kubernetes/templates/tubemq-broker-configmap.yaml
  docker/kubernetes/templates/tubemq-broker-ini-configmap.yaml
  docker/kubernetes/templates/tubemq-broker-pdb.yaml
  docker/kubernetes/templates/tubemq-broker-statefulset.yaml
  docker/kubernetes/templates/tubemq-master-configmap.yaml
  docker/kubernetes/templates/tubemq-master-ini-configmap.yaml
  docker/kubernetes/templates/tubemq-master-pdb.yaml
  docker/kubernetes/templates/tubemq-master-statefulset.yaml
  docker/kubernetes/templates/zookeeper-pdb.yaml
  docker/kubernetes/values.yaml
  inlong-tubemq/tubemq-docker/README.md
  inlong-tubemq/tubemq-docker/tubemq-k8s/.helmignore
  inlong-tubemq/tubemq-docker/tubemq-k8s/Chart.yaml
  inlong-tubemq/tubemq-docker/tubemq-k8s/README.md
  inlong-tubemq/tubemq-docker/tubemq-k8s/templates/_broker.tpl
  inlong-tubemq/tubemq-docker/tubemq-k8s/templates/_helpers.yaml
  inlong-tubemq/tubemq-docker/tubemq-k8s/templates/_master.tpl
  inlong-tubemq/tubemq-docker/tubemq-k8s/templates/_zookeeper.tpl
  inlong-tubemq/tubemq-docker/tubemq-k8s/templates/broker-configmap.yaml
  inlong-tubemq/tubemq-docker/tubemq-k8s/templates/broker-ini-configmap.yaml
  inlong-tubemq/tubemq-docker/tubemq-k8s/templates/broker-pdb.yaml
  inlong-tubemq/tubemq-docker/tubemq-k8s/templates/broker-service.yaml
  inlong-tubemq/tubemq-docker/tubemq-k8s/templates/broker-statefulset.yaml
  inlong-tubemq/tubemq-docker/tubemq-k8s/templates/master-configmap.yaml
  inlong-tubemq/tubemq-docker/tubemq-k8s/templates/master-ini-configmap.yaml
  inlong-tubemq/tubemq-docker/tubemq-k8s/templates/master-pdb.yaml
  inlong-tubemq/tubemq-docker/tubemq-k8s/templates/master-service.yaml
  inlong-tubemq/tubemq-docker/tubemq-k8s/templates/master-statefulset.yaml
  inlong-tubemq/tubemq-docker/tubemq-k8s/templates/zookeeper-configmap.yaml
  inlong-tubemq/tubemq-docker/tubemq-k8s/templates/zookeeper-pdb.yaml
  inlong-tubemq/tubemq-docker/tubemq-k8s/templates/zookeeper-service.yaml
  inlong-tubemq/tubemq-docker/tubemq-k8s/templates/zookeeper-statefulset.yaml
  inlong-tubemq/tubemq-docker/tubemq-k8s/values.yaml
Labels: inlong-tubemq, docker, k8s

#4124 [INLONG-4119][Dashboard] Change the keyWord to keyword in query request params
  inlong-dashboard/src/components/ConsumeHelper/BusinessSelect/MyBusinessModal.tsx
  inlong-dashboard/src/pages/AccessDashboard/config.tsx
  inlong-dashboard/src/pages/AccessDashboard/index.tsx
  inlong-dashboard/src/pages/AccessDetail/DataSources/index.tsx
  inlong-dashboard/src/pages/AccessDetail/DataStorage/index.tsx
  inlong-dashboard/src/pages/AccessDetail/DataStream/config.tsx
  inlong-dashboard/src/pages/DataSources/index.tsx
Labels: inlong-dashboard

#4126 [INLONG-3636][Manager] Fix the warning logs during the build
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/util/PrintUtil.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/FlinkSortBaseConf.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/TubeBaseConf.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/UserDefinedSortConf.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/consumption/ConsumptionInfo.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/group/InlongGroupRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/pulsar/PulsarTopicBean.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/binlog/BinlogSourceDTO.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/stream/InlongStreamResponse.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/stream/StreamTransform.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/transform/deduplication/DeDuplicationDefinition.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/transform/filter/FilterDefinition.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/transform/joiner/JoinerDefinition.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/transform/replacer/StringReplacerDefinition.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/transform/splitter/SplitterDefinition.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/workflow/ProcessQuery.java
  inlong-manager/manager-workflow/src/main/java/org/apache/inlong/manager/workflow/definition/WorkflowProcess.java
Labels: inlong-manager

#4125 [INLONG-3817][Sort] Fix null point exception in canal-json format
  inlong-sort/sort-formats/format-json/src/main/java/org/apache/inlong/sort/formats/json/canal/CanalJsonEnhancedDecodingFormat.java
  inlong-sort/sort-formats/format-json/src/main/java/org/apache/inlong/sort/formats/json/canal/CanalJsonEnhancedEncodingFormat.java
Labels: inlong-sort

#4127 [INLONG-4118][Manager] It should not return an empty list when paging the auto-push source
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/StreamSourceOperation.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/StreamSourceServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/autopush/AutoPushSourceOperation.java
Labels: inlong-manager

#4129 [INLONG-4128][Manager] Abstracting the logic for creating Hive tables
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/DataNodeType.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/query/ColumnInfoBean.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/query/DatabaseQueryBean.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/query/TableQueryBean.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/query/hive/HiveColumnInfoBean.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/query/hive/HiveColumnQueryBean.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/query/hive/HiveTableQueryBean.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/hive/HiveColumnInfo.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/hive/HiveSinkDTO.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/hive/HiveTableInfo.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/HiveServerDao.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/DataNodeService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/DataSourceService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/DataNodeServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/HiveSourceServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/CreateSinkResourceForStreamListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/SinkResourceListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/SinkResourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/hive/HiveJdbcUtils.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/hive/HiveResourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/hive/SqlBuilder.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/hive/builder/HiveAddColumnSqlBuilder.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/hive/builder/HiveChangeColumnBuilder.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/hive/builder/HiveCreateDbSqlBuilder.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/hive/builder/HiveDropDbSqlBuilder.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/hive/builder/HiveDropTableSqlBuilder.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/hive/builder/HiveQueryTableSqlBuilder.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/hive/builder/HiveReplaceColumnSqlBuilder.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/hive/builder/HiveTableCreateSqlBuilder.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/hive/builder/SqlBuilder.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/kafka/KafkaResourceOperator.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/DataNodeController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/StreamSinkController.java
Labels: inlong-manager

#4140 [INLONG-4139][Manager] Query inlong group by the status list in manager client
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/CommandDescribe.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/CommandList.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/CommandToolMain.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/pojo/GroupInfo.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/util/PrintUtils.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/validator/GroupStatus.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/InlongClient.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/InlongGroupContext.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/InlongClientImpl.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/InlongGroupImpl.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/InnerInlongManagerClient.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/group/InlongGroupPageRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/stream/StreamPipeline.java
  inlong-manager/manager-dao/src/main/resources/mappers/InlongGroupEntityMapper.xml
Labels: inlong-manager

#4145 [INLONG-3635][InLong] Fix the Javadoc check style problems for several modules
  inlong-audit/audit-proxy/src/main/java/org/apache/inlong/audit/utils/EventLoopUtil.java
  inlong-audit/audit-sdk/src/main/java/org/apache/inlong/audit/util/EventLoopUtil.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/utils/EventLoopUtil.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/util/FlinkUtils.java
  inlong-sdk/sdk-common/src/main/java/org/apache/inlong/sdk/commons/protocol/ProxyEvent.java
  inlong-sort-standalone/sort-standalone-common/src/main/java/org/apache/inlong/sort/standalone/utils/UnescapeHelper.java
  inlong-tubemq/tubemq-manager/src/main/java/org/apache/inlong/tubemq/manager/controller/group/GroupController.java
  inlong-tubemq/tubemq-manager/src/main/java/org/apache/inlong/tubemq/manager/controller/topic/TopicWebController.java
  inlong-tubemq/tubemq-manager/src/main/java/org/apache/inlong/tubemq/manager/service/NodeServiceImpl.java
  inlong-tubemq/tubemq-manager/src/main/java/org/apache/inlong/tubemq/manager/service/interfaces/MasterService.java
  inlong-tubemq/tubemq-manager/src/main/java/org/apache/inlong/tubemq/manager/service/interfaces/NodeService.java
Labels: inlong-tubemq, inlong-manager, inlong-dataproxy, inlong-audit, inlong-sort-standalone, inlong-sdk

#4151 [INLONG-3830][Sort] Fix the error that the SQL execution order is inconsistent with the generation order
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/parser/impl/FlinkSqlParser.java
Labels: inlong-sort

#4143 [INLONG-4142][Manager] Improve ServiceTask clone method
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/source/listener/DataSourceListenerTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/workflow/group/CreateGroupWorkflowDefinitionTest.java
  inlong-manager/manager-workflow/src/main/java/org/apache/inlong/manager/workflow/definition/ServiceTask.java
  inlong-manager/manager-workflow/src/main/java/org/apache/inlong/manager/workflow/definition/WorkflowProcess.java
Labels: inlong-manager

#4149 [INLONG-4130][TubeMQ] Optimize the broker replication method and topic replication method
  inlong-tubemq/tubemq-manager/src/main/java/org/apache/inlong/tubemq/manager/controller/node/request/AddTopicReq.java
  inlong-tubemq/tubemq-manager/src/main/java/org/apache/inlong/tubemq/manager/controller/node/request/CloneBrokersReq.java
  inlong-tubemq/tubemq-manager/src/main/java/org/apache/inlong/tubemq/manager/controller/node/request/CloneTopicReq.java
  inlong-tubemq/tubemq-manager/src/main/java/org/apache/inlong/tubemq/manager/service/NodeServiceImpl.java
  inlong-tubemq/tubemq-manager/src/main/java/org/apache/inlong/tubemq/manager/service/TopicServiceImpl.java
Labels: inlong-tubemq

#4154 [INLONG-4153][CI] Add support for first interaction
  .github/workflows/ci_greeting.yml
Labels: ci

#4162 [INLONG-4161][CI] Fix incorrect name in stale workflow
  .github/workflows/ci_stale.yml
Labels: ci

#4163 [INLONG-4144][K8s] Fix the HTTP error appears on the login dashboard when deploying InLong using helm
  docker/kubernetes/Chart.yaml
  docker/kubernetes/templates/dashboard-statefulset.yaml
Labels: k8s

#4004 [INLONG-3883][Manager] Support create table of ClickHouse
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/ck/ClickHouseColumnInfo.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/ck/ClickHouseSinkDTO.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/ck/ClickHouseSinkRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/ck/ClickHouseTableInfo.java
  inlong-manager/manager-dao/pom.xml
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/ck/ClickHouseJdbcUtils.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/ck/ClickHouseResourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/ck/ClickHouseSqlBuilder.java
  licenses/inlong-manager/licenses/LICENSE-clickhouse-jdbc.txt
Labels: inlong-manager

#4159 [INLONG-3828][Sort] Enhanced the node filter capabilities
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sort/util/FilterFunctionUtils.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sort/util/LoadNodeUtils.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sort/util/TransformNodeUtils.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/enums/FilterStrategy.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/LoadNode.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/load/HiveLoadNode.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/load/KafkaLoadNode.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/transform/DistinctNode.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/transform/TransformNode.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/GroupInfoTest.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/StreamInfoTest.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/node/load/HiveLoadNodeTest.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/node/load/KafkaLoadNodeTest.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/node/transform/DistinctNodeTest.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/parser/impl/FlinkSqlParser.java
  inlong-sort/sort-single-tenant/src/test/java/org/apache/inlong/sort/singletenant/flink/parser/AllMigrateTest.java
  inlong-sort/sort-single-tenant/src/test/java/org/apache/inlong/sort/singletenant/flink/parser/DistinctNodeSqlParseTest.java
  inlong-sort/sort-single-tenant/src/test/java/org/apache/inlong/sort/singletenant/flink/parser/FilterParseTest.java
  inlong-sort/sort-single-tenant/src/test/java/org/apache/inlong/sort/singletenant/flink/parser/FlinkSqlParserTest.java
  inlong-sort/sort-single-tenant/src/test/java/org/apache/inlong/sort/singletenant/flink/parser/FullOuterJoinSqlParseTest.java
  inlong-sort/sort-single-tenant/src/test/java/org/apache/inlong/sort/singletenant/flink/parser/InnerJoinRelationShipSqlParseTest.java
  inlong-sort/sort-single-tenant/src/test/java/org/apache/inlong/sort/singletenant/flink/parser/LeftOuterJoinSqlParseTest.java
  inlong-sort/sort-single-tenant/src/test/java/org/apache/inlong/sort/singletenant/flink/parser/MetaFieldSyncTest.java
  inlong-sort/sort-single-tenant/src/test/java/org/apache/inlong/sort/singletenant/flink/parser/RightOuterJoinSqlParseTest.java
Labels: inlong-manager, inlong-sort

#4148 [InLong-4066][Sort] Import inlong format to parse InLongMsg
  inlong-sort/sort-formats/format-inlongmsg-base/pom.xml
  inlong-sort/sort-formats/format-inlongmsg-base/src/main/java/org/apache/inlong/sort/formats/inlongmsg/InLongMsgDecodingFormat.java
  inlong-sort/sort-formats/format-inlongmsg-base/src/main/java/org/apache/inlong/sort/formats/inlongmsg/InLongMsgDeserializationSchema.java
  inlong-sort/sort-formats/format-inlongmsg-base/src/main/java/org/apache/inlong/sort/formats/inlongmsg/InLongMsgFormatFactory.java
  inlong-sort/sort-formats/format-inlongmsg-base/src/main/java/org/apache/inlong/sort/formats/inlongmsg/InLongMsgOptions.java
  inlong-sort/sort-formats/format-inlongmsg-base/src/main/java/org/apache/inlong/sort/formats/inlongmsg/InLongMsgUtils.java
  inlong-sort/sort-formats/format-inlongmsg-base/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
  inlong-sort/sort-formats/format-inlongmsg-base/src/test/java/org/apache/inlong/sort/formats/inlongmsg/InLongMsgFormatFactoryTest.java
  inlong-sort/sort-formats/format-inlongmsg-base/src/test/java/org/apache/inlong/sort/formats/inlongmsg/InLongMsgRowDataSerDeTest.java
  inlong-sort/sort-formats/format-inlongmsg-base/src/test/resources/META-INF/services/org.apache.flink.table.factories.Factory
  inlong-sort/sort-formats/format-inlongmsg-base/src/test/resources/log4j-test.properties
  inlong-sort/sort-formats/format-inlongmsg-csv/src/main/java/org/apache/inlong/sort/formats/inlongmsgcsv/InLongMsgCsvFormatDeserializer.java
  inlong-sort/sort-formats/format-inlongmsg-csv/src/main/java/org/apache/inlong/sort/formats/inlongmsgcsv/InLongMsgCsvMixedFormatDeserializer.java
  inlong-sort/sort-formats/format-inlongmsg-csv/src/main/java/org/apache/inlong/sort/formats/inlongmsgcsv/InLongMsgCsvUtils.java
  inlong-sort/sort-single-tenant/pom.xml
Labels: inlong-sort

#4158 [INLONG-4156][Sort] Add HBase load node
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/constant/HBaseConstant.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/LoadNode.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/Node.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/load/HbaseLoadNode.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/node/load/HbaseLoadNodeTest.java
  inlong-sort/sort-single-tenant/pom.xml
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/parser/impl/FlinkSqlParser.java
  inlong-sort/sort-single-tenant/src/test/java/org/apache/inlong/sort/singletenant/flink/parser/HbaseLoadFlinkSqlParseTest.java
  licenses/inlong-sort/LICENSE
  licenses/inlong-sort/NOTICE
  pom.xml
Labels: inlong-sort

#4160 [INLONG-4155][Manager] Change constants in InlongGroupSettings
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/settings/InlongGroupSettings.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/StreamSourceEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/mappers/StreamSinkEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/StreamSourceEntityMapper.xml
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/AgentServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/StreamSinkServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/StreamSourceServiceImpl.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/source/listener/DataSourceListenerTest.java
  inlong-manager/manager-workflow/src/main/java/org/apache/inlong/manager/workflow/WorkflowContext.java
  inlong-manager/manager-workflow/src/main/java/org/apache/inlong/manager/workflow/definition/ServiceTask.java
  inlong-manager/manager-workflow/src/main/java/org/apache/inlong/manager/workflow/event/process/ProcessEventNotifier.java
  inlong-manager/manager-workflow/src/main/java/org/apache/inlong/manager/workflow/event/task/TaskEventNotifier.java
Labels: inlong-manager

#4182 [INLONG-4181][Manager] Fix transform update api
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/transform/StreamTransformServiceImpl.java
Labels: inlong-manager

#4184 [INLONG-4183][Manager] Fix splitFields in manager service
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sort/util/FieldRelationShipUtils.java
Labels: inlong-manager

#4185 [INLONG-4090][Sort] Add license for sort singleTenant Mysql CDC
  LICENSE
  licenses/LICENSE
  licenses/inlong-agent/LICENSE
  licenses/inlong-audit/LICENSE
  licenses/inlong-dashboard/LICENSE
  licenses/inlong-dataproxy/LICENSE
  licenses/inlong-manager/LICENSE
  licenses/inlong-sort-standalone/LICENSE
  licenses/inlong-sort/LICENSE
  licenses/inlong-tubemq-manager/LICENSE
  licenses/inlong-tubemq-server/LICENSE
Labels: inlong-sort, dependencies

#4190 [INLONG-4188][Manager] Check whether the stream exists in the manager client
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/DefaultInlongStreamBuilder.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/InnerInlongManagerClient.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/InlongStreamServiceImpl.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/InlongStreamController.java
Labels: inlong-manager

#4195 [INLONG-4194][Manager] Add update sort config API in manager client
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/InlongGroup.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/BlankInlongGroup.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/InlongGroupImpl.java
Labels: inlong-manager

#4191 [INLONG-4189][Sort] Change the NOTICE to LICENSE
  LICENSE
  licenses/LICENSE
  licenses/inlong-agent/LICENSE
  licenses/inlong-audit/LICENSE
  licenses/inlong-dashboard/LICENSE
  licenses/inlong-dataproxy/LICENSE
  licenses/inlong-manager/LICENSE
  licenses/inlong-sort-standalone/LICENSE
  licenses/inlong-sort/LICENSE
  licenses/inlong-tubemq-manager/LICENSE
  licenses/inlong-tubemq-server/LICENSE
Labels: inlong-sort, dependencies

#4175 [INLONG-4174][Sort] Add Postgres extract node
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/constant/PostgresConstant.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/ExtractNode.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/Node.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/extract/PostgresExtractNode.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/load/PostgresLoadNode.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/node/extract/PostgresExtractNodeTest.java
  inlong-sort/sort-single-tenant/pom.xml
  inlong-sort/sort-single-tenant/src/test/java/org/apache/inlong/sort/singletenant/flink/parser/PostgresExtractFlinkSqlParseTest.java
  licenses/inlong-sort/LICENSE
  licenses/inlong-sort/NOTICE
  pom.xml
Labels: inlong-sort

#4202 [INLONG-4201][CI] Improve workflows and documentation
  .github/workflows/README.md
  .github/workflows/ci_build.yml
  .github/workflows/ci_chart_test.yml
  .github/workflows/ci_check_license.yml
  .github/workflows/ci_docker.yml
  .github/workflows/ci_labeler.yml
  .github/workflows/ci_ut.yml
Labels: ci

#4173 [INLONG-4170][Sort] Add FileSystem load node
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/LoadNode.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/Node.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/load/FileSystemLoadNode.java
  inlong-sort/sort-single-tenant/pom.xml
  inlong-sort/sort-single-tenant/src/main/resources/META-INF/services/org.apache.flink.core.fs.FileSystemFactory
  inlong-sort/sort-single-tenant/src/test/java/org/apache/inlong/sort/singletenant/flink/parser/FlinkSqlParserTest.java
  licenses/inlong-sort/LICENSE
  licenses/inlong-sort/NOTICE
  pom.xml
Labels: inlong-sort

#4206 [INLONG-4205][CI] Fix error in the greeting workflow
  .github/workflows/ci_greeting.yml
Labels: ci

#4199 [INLONG-4198][Sort] Add Postgres load node
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/constant/PostgresConstant.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/LoadNode.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/Node.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/load/PostgresLoadNode.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/node/load/PostgresLoadNodeTest.java
  inlong-sort/sort-single-tenant/pom.xml
  inlong-sort/sort-single-tenant/src/test/java/org/apache/inlong/sort/singletenant/flink/parser/PostgresLoadNodeFlinkSqlParseTest.java
  licenses/inlong-sort/LICENSE
  licenses/inlong-sort/NOTICE
  licenses/inlong-sort/licenses/LICENSE-postgresql.txt
  pom.xml
Labels: inlong-sort

#4187 [INLONG-4186][Manager] Add token field in cluster and node table
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/cluster/InlongClusterRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/cluster/InlongClusterResponse.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/node/DataNodeRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/node/DataNodeResponse.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/DataNodeEntity.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/InlongClusterEntity.java
  inlong-manager/manager-dao/src/main/resources/mappers/DataNodeEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/InlongClusterEntityMapper.xml
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/DataNodeServiceImpl.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/impl/DataNodeServiceTest.java
  inlong-manager/manager-test/src/main/resources/sql/apache_inlong_manager.sql
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
Labels: inlong-manager

#4209 [INLONG-4208][Manager] Merge UpdateGroupProcessForm into GroupResourceProcessForm
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/workflow/form/BaseProcessForm.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/workflow/form/GroupResourceProcessForm.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/workflow/form/UpdateGroupProcessForm.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/eventselect/DeleteProcessSelector.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/eventselect/RestartProcessSelector.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/eventselect/SuspendProcessSelector.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/listener/DeleteSortListener.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/listener/RestartSortListener.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/listener/SuspendSortListener.java
  inlong-manager/manager-plugins/src/test/java/org/apache/inlong/manager/plugin/listener/DeleteSortListenerTest.java
  inlong-manager/manager-plugins/src/test/java/org/apache/inlong/manager/plugin/listener/RestartSortListenerTest.java
  inlong-manager/manager-plugins/src/test/java/org/apache/inlong/manager/plugin/listener/SuspendSortListenerTest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/InlongGroupProcessOperation.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/CreateSinkResourceForStreamListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/SinkResourceListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sort/CreateSortConfigListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sort/ZookeeperDisabledSelector.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/listener/AbstractSourceOperateListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/listener/SourceDeleteEventSelector.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/listener/SourceRestartEventSelector.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/listener/SourceStopEventSelector.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/group/DeleteGroupWorkflowDefinition.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/group/RestartGroupWorkflowDefinition.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/group/SuspendGroupWorkflowDefinition.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/group/listener/GroupUpdateCompleteListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/group/listener/GroupUpdateFailedListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/group/listener/GroupUpdateListener.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/mocks/MockPlugin.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/sort/DisableZkForSortTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/source/listener/DataSourceListenerTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/workflow/WorkflowServiceImplTest.java
Labels: inlong-manager

#4213 [INLONG-4212][Manager] The processor executor maybe throws a null pointer exception
  inlong-manager/manager-workflow/src/main/java/org/apache/inlong/manager/workflow/core/impl/ProcessorExecutorImpl.java
Labels: inlong-manager

#4219 [INLONG-4218][Dashboard] Unified group page
  inlong-dashboard/src/components/FormGenerator/FormGenerator.tsx
  inlong-dashboard/src/configs/routes/index.tsx
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/locales/en.json
  inlong-dashboard/src/pages/AccessCreate/DataStream/config.tsx
  inlong-dashboard/src/pages/AccessDashboard/config.tsx
  inlong-dashboard/src/pages/AccessDetail/DataSources/index.tsx
  inlong-dashboard/src/pages/AccessDetail/DataStorage/index.tsx
  inlong-dashboard/src/pages/AccessDetail/DataStream/StreamItemModal.tsx
  inlong-dashboard/src/pages/AccessDetail/DataStream/config.tsx
  inlong-dashboard/src/pages/AccessDetail/DataStream/index.tsx
  inlong-dashboard/src/pages/AccessDetail/Info/config.tsx
  inlong-dashboard/src/pages/AccessDetail/Info/index.tsx
  inlong-dashboard/src/pages/AccessDetail/common.d.ts
  inlong-dashboard/src/pages/AccessDetail/index.tsx
Labels: inlong-dashboard

#4222 [INLONG-4221][Manager] Remove duplicate serializationType in KafkaSourceListResponse
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/SourceListResponse.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/kafka/KafkaSourceListResponse.java
Labels: inlong-manager

#4207 [INLONG-4171][Sort] Add FileSystem extract node
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/ExtractNode.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/Node.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/extract/FileSystemExtractNode.java
Labels: inlong-sort

#4216 [INLONG-4215][Sort] Add license for Hive connector of Sort
  licenses/LICENSE
  licenses/inlong-agent/LICENSE
  licenses/inlong-audit/LICENSE
  licenses/inlong-dashboard/LICENSE
  licenses/inlong-dataproxy/LICENSE
  licenses/inlong-manager/LICENSE
  licenses/inlong-sort-standalone/LICENSE
  licenses/inlong-sort/LICENSE
  licenses/inlong-tubemq-manager/LICENSE
  licenses/inlong-tubemq-server/LICENSE
Labels: inlong-sort, dependencies

#4204 [INLONG-4203][Manager] Improve HTTP request and response parse in manager client
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/DefaultInlongStreamBuilder.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/InnerInlongManagerClient.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/util/InlongParser.java
Labels: inlong-manager

#4210 [INLONG-4157][Sort] Sort lightwieght support load data to Iceberg
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/load/IcebergLoadNode.java
  inlong-sort/sort-connectors/pom.xml
  inlong-sort/sort-single-tenant/pom.xml
  inlong-sort/sort-single-tenant/src/test/java/org/apache/inlong/sort/singletenant/flink/parser/IcebergNodeSqlParserTest.java
  licenses/inlong-sort/LICENSE
  pom.xml
Labels: inlong-sort

#4226 [INLONG-4223][Manager] Refactor the consumption table structure
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/ErrorCodeEnum.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/consumption/ConsumptionInfo.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/consumption/ConsumptionListVo.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/consumption/ConsumptionMqExtBase.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/consumption/ConsumptionPulsarInfo.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/consumption/ConsumptionQuery.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/workflow/form/ConsumptionApproveForm.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/workflow/form/NewConsumptionProcessForm.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/ConsumptionEntity.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/ConsumptionPulsarEntity.java
  inlong-manager/manager-dao/src/main/resources/mappers/ClusterSetMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/ConsumptionEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/ConsumptionPulsarEntityMapper.xml
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/ConsumptionService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/ConsumptionServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/mq/MiddlewareFactory.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/consumption/listener/ConsumptionCompleteProcessListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/consumption/listener/ConsumptionPassTaskListener.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/impl/ConsumptionServiceTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/impl/InlongGroupProcessOperationTest.java
  inlong-manager/manager-test/src/main/resources/sql/apache_inlong_manager.sql
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
Labels: inlong-manager

#4246 [INLONG-4244][Sort] Remove flink-avro relocation
  inlong-sort/sort-single-tenant/pom.xml
Labels: inlong-sort

#4211 [INLONG-4197][Manager] Add Hbase sink info and load node utils
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/sink/HbaseSink.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/util/InlongStreamSinkTransfer.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/SinkType.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/hbase/HbaseSinkDTO.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/hbase/HbaseSinkListResponse.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/hbase/HbaseSinkRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/hbase/HbaseSinkResponse.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/hbase/HbaseSinkOperation.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sort/util/LoadNodeUtils.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/sink/HbaseStreamSinkServiceTest.java
Labels: inlong-manager

#4257 [INLONG-4251][GitHub] Improve GitHub configuration in `.asf.yaml`
  .asf.yaml
Labels: github

#4268 [INLONG-4267][GitHub] The checks pipeline of PR was incorrect
  .asf.yaml
  .github/workflows/ci_build.yml
  .github/workflows/ci_chart_test.yml
  .github/workflows/ci_docker.yml
  .github/workflows/ci_ut.yml
Labels: ci

#4272 [INLONG-4267][CI] Revert the CI config
  .github/workflows/ci_build.yml
  .github/workflows/ci_chart_test.yml
  .github/workflows/ci_docker.yml
  .github/workflows/ci_ut.yml
Labels: ci

#4261 [INLONG-4259][Sort] Import inlong format json serialize/deserialize
  inlong-sort/sort-common/pom.xml
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/format/Format.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/format/InLongMsgFormat.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/node/format/InLongMsgFormatTest.java
  inlong-sort/sort-formats/format-inlongmsg-base/src/main/java/org/apache/inlong/sort/formats/inlongmsg/InLongMsgFormatFactory.java
  inlong-sort/sort-formats/format-inlongmsg-base/src/test/java/org/apache/inlong/sort/formats/inlongmsg/InLongMsgFormatFactoryTest.java
  inlong-sort/sort-formats/format-inlongmsg-base/src/test/java/org/apache/inlong/sort/formats/inlongmsg/InLongMsgRowDataSerDeTest.java
Labels: inlong-sort

#4255 [INLONG-4254][Manager] Add flink table dependencies for inlong-manager/manager-plugins
  inlong-manager/manager-plugins/pom.xml
  licenses/inlong-manager/LICENSE
  licenses/inlong-manager/NOTICE
Labels: inlong-manager

#4113 [INLONG-4112][Agent] Support collect data from the specified position for MySQL binlog
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/constant/SnapshotModeConstants.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/pojo/DebeziumOffset.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/utils/DebeziumOffsetSerializer.java
  inlong-agent/agent-plugins/pom.xml
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/message/SchemaRecord.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/BinlogReader.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/utils/DatabaseHistoryUtil.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/utils/InLongDatabaseHistory.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/utils/InLongFileOffsetBackingStore.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/sources/TestBinlogReader.java
  licenses/inlong-agent/LICENSE
  pom.xml
Labels: inlong-agent

#4237 [INLONG-4235][Agent] Add log4j2 config file and fix the mock error of TestTextFileReader
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/BinlogSource.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/sources/TestTextFileReader.java
  inlong-agent/agent-plugins/src/test/resources/log4j2.xml
Labels: inlong-agent

#4252 [INLONG-4167][Sort] Add MongoDB extract node
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/ExtractNode.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/Node.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/extract/MongoExtractNode.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/node/extract/MongoExtractNodeTest.java
  inlong-sort/sort-connectors/pom.xml
  inlong-sort/sort-single-tenant/pom.xml
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/cdc/debezium/internal/DebeziumChangeConsumer.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/cdc/debezium/internal/EmbeddedEngineChangeEvent.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/cdc/debezium/internal/FlinkDatabaseSchemaHistory.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/cdc/mysql/debezium/EmbeddedFlinkDatabaseHistory.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/cdc/mysql/debezium/dispatcher/EventDispatcherImpl.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/cdc/mysql/debezium/reader/BinlogSplitReader.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/cdc/mysql/debezium/reader/SnapshotSplitReader.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/cdc/mysql/debezium/task/MySqlBinlogSplitReadTask.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/cdc/mysql/debezium/task/MySqlSnapshotSplitReadTask.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/cdc/mysql/source/assigners/MySqlBinlogSplitAssigner.java
  inlong-sort/sort-single-tenant/src/test/java/org/apache/inlong/sort/flink/kafka/KafkaSinkTestBase.java
  inlong-sort/sort-single-tenant/src/test/java/org/apache/inlong/sort/flink/kafka/RowToAvroKafkaSinkTest.java
  inlong-sort/sort-single-tenant/src/test/java/org/apache/inlong/sort/flink/kafka/RowToCanalKafkaSinkTest.java
  inlong-sort/sort-single-tenant/src/test/java/org/apache/inlong/sort/flink/kafka/RowToDebeziumJsonKafkaSinkTest.java
  inlong-sort/sort-single-tenant/src/test/java/org/apache/inlong/sort/flink/kafka/RowToJsonKafkaSinkTest.java
  inlong-sort/sort-single-tenant/src/test/java/org/apache/inlong/sort/flink/kafka/RowToStringKafkaSinkTest.java
  inlong-sort/sort-single-tenant/src/test/java/org/apache/inlong/sort/singletenant/flink/parser/MongoExtractFlinkSqlParseTest.java
  licenses/inlong-sort/LICENSE
  licenses/inlong-sort/NOTICE
  pom.xml
Labels: inlong-sort

#4279 [INLONG-4277][License] Check the LICENSE and NOTICE of the project source code
  LICENSE
  NOTICE
  licenses/LICENSE
  licenses/NOTICE
  licenses/inlong-agent/LICENSE
  licenses/inlong-agent/NOTICE
  licenses/inlong-audit/LICENSE
  licenses/inlong-audit/NOTICE
  licenses/inlong-dashboard/LICENSE
  licenses/inlong-dashboard/NOTICE
  licenses/inlong-dataproxy/LICENSE
  licenses/inlong-dataproxy/NOTICE
  licenses/inlong-manager/LICENSE
  licenses/inlong-manager/NOTICE
  licenses/inlong-sort-standalone/LICENSE
  licenses/inlong-sort-standalone/NOTICE
  licenses/inlong-sort/LICENSE
  licenses/inlong-sort/NOTICE
  licenses/inlong-tubemq-manager/LICENSE
  licenses/inlong-tubemq-manager/NOTICE
  licenses/inlong-tubemq-server/LICENSE
  licenses/inlong-tubemq-server/NOTICE
Labels: doc, improve

#4265 [INLONG-4264][Sort] Sort lightweight start pulsar-to-kafka task failed
  inlong-sort/sort-connectors/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
Labels: inlong-sort

#4275 [INLONG-4274][Dashboard] Update the parameters to adapt the manager module
  inlong-dashboard/src/components/AccessHelper/DataStorageEditor/DetailModal.tsx
  inlong-dashboard/src/components/AccessHelper/FieldsConfig/businessFields.tsx
  inlong-dashboard/src/components/ConsumeHelper/BusinessSelect/MyBusinessModal.tsx
  inlong-dashboard/src/components/ConsumeHelper/FieldsConfig/basicFields.tsx
  inlong-dashboard/src/components/MetaData/StorageHive.tsx
  inlong-dashboard/src/components/MetaData/StorageIceberg.tsx
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/locales/en.json
  inlong-dashboard/src/pages/AccessCreate/Business/config.tsx
  inlong-dashboard/src/pages/AccessCreate/Business/index.tsx
  inlong-dashboard/src/pages/AccessCreate/DataStream/config.tsx
  inlong-dashboard/src/pages/AccessCreate/DataStream/index.tsx
  inlong-dashboard/src/pages/AccessCreate/index.tsx
  inlong-dashboard/src/pages/AccessDashboard/config.tsx
  inlong-dashboard/src/pages/AccessDetail/DataStream/StreamItemModal.tsx
  inlong-dashboard/src/pages/AccessDetail/DataStream/config.tsx
  inlong-dashboard/src/pages/AccessDetail/DataStream/index.tsx
  inlong-dashboard/src/pages/AccessDetail/Info/config.tsx
  inlong-dashboard/src/pages/AccessDetail/Info/index.tsx
  inlong-dashboard/src/pages/AccessDetail/common.d.ts
  inlong-dashboard/src/pages/AccessDetail/index.tsx
  inlong-dashboard/src/pages/ApprovalDetail/AccessConfig.tsx
  inlong-dashboard/src/pages/ConsumeCreate/Info/config.tsx
  inlong-dashboard/src/pages/ConsumeCreate/Info/index.tsx
  inlong-dashboard/src/pages/ConsumeDashboard/config.tsx
  inlong-dashboard/src/pages/ConsumeDetail/Info/index.tsx
Labels: inlong-dashboard

#4249 [InLong-4227][Sort] Sort lightwieght support extract data to ClickHouse
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/constant/PostgresConstant.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/LoadNode.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/Node.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/load/ClickHouseLoadNode.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/node/load/ClickHouseLoadNodeTest.java
  inlong-sort/sort-connectors/pom.xml
  inlong-sort/sort-connectors/src/main/java/org/apache/inlong/sort/flink/clickhouse/table/ClickHouseDialect.java
  inlong-sort/sort-connectors/src/main/java/org/apache/inlong/sort/flink/clickhouse/table/ClickHouseRowConverter.java
  inlong-sort/sort-connectors/src/main/java/org/apache/inlong/sort/flink/jdbc/table/AbstractJdbcDialect.java
  inlong-sort/sort-connectors/src/main/java/org/apache/inlong/sort/flink/jdbc/table/JdbcDialects.java
  inlong-sort/sort-connectors/src/main/java/org/apache/inlong/sort/flink/jdbc/table/JdbcDynamicTableFactory.java
  inlong-sort/sort-connectors/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
  inlong-sort/sort-single-tenant/pom.xml
  inlong-sort/sort-single-tenant/src/test/java/org/apache/inlong/sort/singletenant/flink/parser/ClickHouseSqlParserTest.java
Labels: inlong-sort

#4286 [INLONG-4283][Agent] Specifies kafka-clients version to 3.0.0
  inlong-agent/agent-release/pom.xml
  licenses/inlong-agent/LICENSE
Labels: inlong-agent

#4289 [INLONG-4288][License] Update Agent's third-party dependency LICENSE
  licenses/inlong-agent/LICENSE
  licenses/inlong-agent/NOTICE
  licenses/inlong-agent/notices/NOTICE-commons-compress.txt
  licenses/inlong-agent/notices/NOTICE-jackson-module-jaxb-annotations.txt
Labels: improve

#4285 [INLONG-4284][Dashboard] Modify ClickHouse sink parameters
  inlong-dashboard/src/components/EditableTable/index.tsx
  inlong-dashboard/src/components/MetaData/StorageClickhouse.tsx
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/locales/en.json
Labels: inlong-dashboard

#4298 [INLONG-4295][Manager] Add Json sub-type support for InlongGroupInfo
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/InlongGroupImpl.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/InnerInlongManagerClient.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/util/InlongParser.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/group/InlongGroupInfo.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/group/none/InlongNoneMqInfo.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/group/none/InlongNoneMqRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/group/pulsar/InlongPulsarInfo.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/group/tube/InlongTubeInfo.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/group/tube/InlongTubeRequest.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/CityZoneEntity.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/CityZoneInfo.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/InlongGroupEntity.java
  inlong-manager/manager-dao/src/main/resources/mappers/InlongClusterNodeEntityMapper.xml
  inlong-manager/manager-plugins/src/test/java/org/apache/inlong/manager/plugin/listener/DeleteSortListenerTest.java
  inlong-manager/manager-plugins/src/test/java/org/apache/inlong/manager/plugin/listener/RestartSortListenerTest.java
  inlong-manager/manager-plugins/src/test/java/org/apache/inlong/manager/plugin/listener/StartupSortListenerTest.java
  inlong-manager/manager-plugins/src/test/java/org/apache/inlong/manager/plugin/listener/SuspendSortListenerTest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/operationlog/OperationLogPool.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/group/InlongNoneMqOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/consumption/NewConsumptionWorkflowDefinition.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/group/NewGroupWorkflowDefinition.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/mq/util/PulsarUtilsTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/workflow/WorkflowServiceImplTest.java
  inlong-manager/manager-test/src/main/resources/sql/apache_inlong_manager.sql
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
Labels: inlong-manager

#4297 [INLONG-4296][License] Update Audit, DataProxy, TubeMQ's third-party dependency LICENSE
  licenses/inlong-audit/LICENSE
  licenses/inlong-audit/NOTICE
  licenses/inlong-audit/licenses/LICENSE-spring-aop.txt
  licenses/inlong-audit/licenses/LICENSE-spring-beans.txt
  licenses/inlong-audit/licenses/LICENSE-spring-context.txt
  licenses/inlong-audit/licenses/LICENSE-spring-core.txt
  licenses/inlong-audit/licenses/LICENSE-spring-expression.txt
  licenses/inlong-audit/licenses/LICENSE-spring-jcl.txt
  licenses/inlong-audit/licenses/LICENSE-spring-jdbc.txt
  licenses/inlong-audit/licenses/LICENSE-spring-tx.txt
  licenses/inlong-audit/notices/NOTICE-commons-compress.txt
  licenses/inlong-dataproxy/LICENSE
  licenses/inlong-dataproxy/licenses/LICENSE-protobuf-java.txt
  licenses/inlong-dataproxy/notices/NOTICE-commons-compress.txt
  licenses/inlong-tubemq-server/LICENSE
  licenses/inlong-tubemq-server/NOTICE
  licenses/inlong-tubemq-server/licenses/LICENSE-spring-aop.txt
  licenses/inlong-tubemq-server/licenses/LICENSE-spring-beans.txt
  licenses/inlong-tubemq-server/licenses/LICENSE-spring-context.txt
  licenses/inlong-tubemq-server/licenses/LICENSE-spring-core.txt
  licenses/inlong-tubemq-server/licenses/LICENSE-spring-expression.txt
  licenses/inlong-tubemq-server/licenses/LICENSE-spring-jcl.txt
  licenses/inlong-tubemq-server/licenses/LICENSE-spring-jdbc.txt
  licenses/inlong-tubemq-server/licenses/LICENSE-spring-orm.txt
  licenses/inlong-tubemq-server/licenses/LICENSE-spring-tx.txt
Labels: doc, dependencies

#4064 [INLONG-4056][DataProxy] Return the response to the SDK/Agent after saving the event to the cache cluster
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/RemoteConfigManager.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/holder/CommonPropertiesHolder.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/dispatch/DispatchManager.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/dispatch/DispatchProfile.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/dispatch/DispatchProfileCallback.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/metrics/audit/AuditUtils.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/node/Application.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/kafkazone/KafkaClusterProducer.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/kafkazone/KafkaZoneSink.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/kafkazone/KafkaZoneSinkContext.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/pulsarzone/PulsarClusterProducer.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/pulsarzone/PulsarZoneSink.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/pulsarzone/PulsarZoneSinkContext.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/tubezone/TubeClusterProducer.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/tubezone/TubeZoneSink.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/tubezone/TubeZoneSinkContext.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/tcp/InlongTcpChannelHandler.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/tcp/InlongTcpSourceCallback.java
  inlong-dataproxy/pom.xml
  inlong-sdk/sdk-common/src/main/java/org/apache/inlong/sdk/commons/admin/AdminHttpSourceHandler.java
  inlong-sdk/sdk-common/src/main/java/org/apache/inlong/sdk/commons/protocol/ProxyEvent.java
  inlong-sdk/sdk-common/src/main/java/org/apache/inlong/sdk/commons/protocol/ProxyPackEvent.java
  inlong-sdk/sdk-common/src/main/java/org/apache/inlong/sdk/commons/protocol/SourceCallback.java
Labels: inlong-dataproxy, inlong-sdk

#4241 [INLONG-4240][Manager] Support postgres source and sink
  inlong-common/src/main/java/org/apache/inlong/common/enums/TaskTypeEnum.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/sink/PostgresSink.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/source/PostgresSource.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/util/InlongParser.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/util/InlongStreamSinkTransfer.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/util/InlongStreamSourceTransfer.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/SinkType.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/SourceType.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/postgres/PostgresSinkDTO.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/postgres/PostgresSinkListResponse.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/postgres/PostgresSinkRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/postgres/PostgresSinkResponse.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/postgres/PostgresSourceDTO.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/postgres/PostgresSourceListResponse.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/postgres/PostgresSourceRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/postgres/PostgresSourceResponse.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/postgres/PostgresSinkOperation.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sort/util/ExtractNodeUtils.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sort/util/LoadNodeUtils.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/postgres/PostgresSourceOperation.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/sink/PostgresStreamSinkServiceTest.java
Labels: inlong-manager

#4302 [INLONG-4300][Manager] Autowired the workflow resources to simply the bean management
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/InnerInlongManagerClient.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/util/InlongGroupTransfer.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/auth/Authentication.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/auth/DefaultAuthentication.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/auth/SecretAuthentication.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/auth/SecretTokenAuthentication.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/auth/TokenAuthentication.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/util/JsonUtils.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/listener/DeleteSortListener.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/listener/RestartSortListener.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/listener/StartupSortListener.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/listener/SuspendSortListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/CommonOperateService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/operationlog/OperationLogRecorder.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sort/PushSortConfigListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/WorkflowDefinitionRegister.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/WorkflowEngineConfig.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/WorkflowServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/consumption/NewConsumptionProcessDetailHandler.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/sort/DisableZkForSortTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/source/listener/DataSourceListenerTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/workflow/WorkflowServiceImplTest.java
  inlong-manager/manager-workflow/src/main/java/org/apache/inlong/manager/workflow/core/TransactionHelper.java
  inlong-manager/manager-workflow/src/main/java/org/apache/inlong/manager/workflow/core/WorkflowEngine.java
  inlong-manager/manager-workflow/src/main/java/org/apache/inlong/manager/workflow/core/impl/EventListenerServiceImpl.java
  inlong-manager/manager-workflow/src/main/java/org/apache/inlong/manager/workflow/core/impl/ProcessDefinitionServiceImpl.java
  inlong-manager/manager-workflow/src/main/java/org/apache/inlong/manager/workflow/core/impl/ProcessServiceImpl.java
  inlong-manager/manager-workflow/src/main/java/org/apache/inlong/manager/workflow/core/impl/ProcessorExecutorImpl.java
  inlong-manager/manager-workflow/src/main/java/org/apache/inlong/manager/workflow/core/impl/TaskServiceImpl.java
  inlong-manager/manager-workflow/src/main/java/org/apache/inlong/manager/workflow/core/impl/WorkflowContextBuilderImpl.java
  inlong-manager/manager-workflow/src/main/java/org/apache/inlong/manager/workflow/core/impl/WorkflowEngineImpl.java
  inlong-manager/manager-workflow/src/main/java/org/apache/inlong/manager/workflow/core/impl/WorkflowEventNotifier.java
  inlong-manager/manager-workflow/src/main/java/org/apache/inlong/manager/workflow/core/impl/WorkflowQueryServiceImpl.java
  inlong-manager/manager-workflow/src/main/java/org/apache/inlong/manager/workflow/definition/ServiceTask.java
  inlong-manager/manager-workflow/src/main/java/org/apache/inlong/manager/workflow/event/EventListenerManagerFactory.java
  inlong-manager/manager-workflow/src/main/java/org/apache/inlong/manager/workflow/event/LogableEventListener.java
  inlong-manager/manager-workflow/src/main/java/org/apache/inlong/manager/workflow/event/process/ProcessEventListenerManager.java
  inlong-manager/manager-workflow/src/main/java/org/apache/inlong/manager/workflow/event/process/ProcessEventNotifier.java
  inlong-manager/manager-workflow/src/main/java/org/apache/inlong/manager/workflow/event/task/TaskEventListenerManager.java
  inlong-manager/manager-workflow/src/main/java/org/apache/inlong/manager/workflow/event/task/TaskEventNotifier.java
  inlong-manager/manager-workflow/src/main/java/org/apache/inlong/manager/workflow/processor/AbstractNextableElementProcessor.java
  inlong-manager/manager-workflow/src/main/java/org/apache/inlong/manager/workflow/processor/AbstractTaskProcessor.java
  inlong-manager/manager-workflow/src/main/java/org/apache/inlong/manager/workflow/processor/EndEventProcessor.java
  inlong-manager/manager-workflow/src/main/java/org/apache/inlong/manager/workflow/processor/ServiceTaskProcessor.java
  inlong-manager/manager-workflow/src/main/java/org/apache/inlong/manager/workflow/processor/StartEventProcessor.java
  inlong-manager/manager-workflow/src/main/java/org/apache/inlong/manager/workflow/processor/UserTaskProcessor.java
  inlong-manager/manager-workflow/src/main/java/org/apache/inlong/manager/workflow/util/WorkflowBeanUtils.java
  inlong-manager/manager-workflow/src/main/java/org/apache/inlong/manager/workflow/util/WorkflowFormParserUtils.java
Labels: inlong-manager

#4311 [INLONG-4309][Manager] Supplement HBase dependencies and license file
  inlong-manager/manager-service/pom.xml
  licenses/inlong-manager/LICENSE
  licenses/inlong-manager/NOTICE
  pom.xml
Labels: inlong-manager

#4238 [INLONG-4236][Manager] Support create Elasticsearch indices and mappings
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/SinkType.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/SinkFieldBase.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/es/ElasticsearchFieldInfo.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/es/ElasticsearchSinkDTO.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/es/ElasticsearchSinkListResponse.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/es/ElasticsearchSinkRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/es/ElasticsearchSinkResponse.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/StreamSinkFieldEntity.java
  inlong-manager/manager-dao/src/main/resources/mappers/StreamSinkFieldEntityMapper.xml
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/ck/ClickHouseSqlBuilder.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/es/ElasticsearchApi.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/es/ElasticsearchConfig.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/es/ElasticsearchResourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/es/ElasticsearchSinkOperation.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sort/util/SinkInfoUtils.java
  inlong-manager/manager-test/src/main/resources/sql/apache_inlong_manager.sql
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/sink/ElasticsearchSinkInfo.java
Labels: inlong-manager, inlong-sort

#4320 [INLONG-4319][Dashboard] Approve page support cluster info
  inlong-dashboard/src/pages/ApprovalDetail/Access.tsx
  inlong-dashboard/src/pages/ApprovalDetail/AccessConfig.tsx
  inlong-dashboard/src/pages/Approvals/Applies/index.tsx
  inlong-dashboard/src/pages/Approvals/Approvals/index.tsx
Labels: inlong-dashboard

#4322 [INLONG-4321][TubeMQ] Add Javadoc comments for methods
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/utils/ByteUtil.java
  inlong-common/src/main/java/org/apache/inlong/common/msg/DataInputBuffer.java
  inlong-common/src/main/java/org/apache/inlong/common/msg/DataOutputBuffer.java
  inlong-tubemq/tubemq-client/src/main/java/org/apache/inlong/tubemq/client/consumer/RmtDataCache.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corerpc/client/CallFuture.java
  inlong-tubemq/tubemq-example/src/main/java/org/apache/inlong/tubemq/example/ClientBalanceConsumerExample.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/common/zookeeper/RecoverableZooKeeper.java
Labels: inlong-tubemq, inlong-agent, improve

#4308 [INLONG-4306][Sort] Parameter error connector of file system
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/load/FileSystemLoadNode.java
Labels: inlong-sort

#4331 [INLONG-4324][TubeMQ] Add Javadoc for methods
  inlong-tubemq/tubemq-manager/src/main/java/org/apache/inlong/tubemq/manager/controller/group/GroupController.java
  inlong-tubemq/tubemq-manager/src/main/java/org/apache/inlong/tubemq/manager/executors/AddTopicExecutor.java
  inlong-tubemq/tubemq-manager/src/main/java/org/apache/inlong/tubemq/manager/service/TaskServiceImpl.java
  inlong-tubemq/tubemq-manager/src/main/java/org/apache/inlong/tubemq/manager/service/tube/BrokerConf.java
  inlong-tubemq/tubemq-manager/src/main/java/org/apache/inlong/tubemq/manager/service/tube/TubeHttpTopicInfoList.java
Labels: inlong-tubemq

#4338 [INLONG-4337][Manager] Remove inlong group pulsar related tables and classes
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/util/GsonUtil.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/util/InlongGroupInfoAdapter.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/InlongClient.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/InlongGroupConf.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/InlongGroupPulsarConf.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/InlongGroupTubeConf.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/MQBaseConf.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/PulsarBaseConf.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/TdmqPulsarBaseConf.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/TubeBaseConf.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/BlankInlongGroup.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/util/InlongGroupTransfer.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/group/pulsar/InlongTdmqPulsarInfo.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/group/pulsar/InlongTdmqPulsarRequest.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/InlongGroupPulsarEntity.java
  inlong-manager/manager-dao/src/main/resources/mappers/InlongGroupPulsarEntityMapper.xml
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/ThirdPartyClusterServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/mq/CreatePulsarResourceTaskListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/mq/util/PulsarOptService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/mq/util/PulsarOptServiceImpl.java
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
Labels: inlong-manager

#4340 [INLONG-4339][Sort] Rollback debezium-core to 1.5.4
  inlong-sort/pom.xml
  inlong-sort/sort-connectors/jdbc/pom.xml
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/debezium/internal/DebeziumChangeConsumer.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/debezium/internal/EmbeddedEngineChangeEvent.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/debezium/internal/FlinkDatabaseSchemaHistory.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/debezium/EmbeddedFlinkDatabaseHistory.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/debezium/dispatcher/EventDispatcherImpl.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/debezium/reader/BinlogSplitReader.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/debezium/reader/SnapshotSplitReader.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/debezium/task/MySqlBinlogSplitReadTask.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/debezium/task/MySqlSnapshotSplitReadTask.java
  inlong-sort/sort-connectors/pom.xml
  licenses/inlong-sort/LICENSE
Labels: inlong-sort

#4329 [INLONG-4262][Sort] Add SqlServer data extract support
  inlong-sort/pom.xml
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/ExtractNode.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/Node.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/extract/SqlServerExtractNode.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/node/extract/SqlServerExtractNodeTest.java
  inlong-sort/sort-connectors/pom.xml
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/SqlServerNodeSqlParseTest.java
  licenses/inlong-sort/LICENSE
  licenses/inlong-sort/NOTICE
  pom.xml
Labels: inlong-sort

#4344 [INLONG-4342][Sort] Remove the duplicate audit-sdk dependency
  inlong-sort/sort-core/pom.xml
Labels: inlong-sort

#4352 [INLONG-4351]][POM] Update the fastjson to solve the CVE
  inlong-manager/manager-service/pom.xml
  licenses/inlong-agent/LICENSE
  licenses/inlong-dataproxy/LICENSE
  licenses/inlong-manager/LICENSE
  pom.xml
Labels: inlong-manager

#4350 [INLONG-4349][Doc] Update check style to avoid the Javadoc missing and error
  codestyle/checkstyle.xml
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/metrics/meta/MetricsMeta.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/es/ElasticsearchApi.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/cls/IEvent2LogItemHandler.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/MySqlSource.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/source/utils/RecordUtils.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/utils/TStringUtils.java
Labels: inlong-tubemq, inlong-manager, inlong-agent, inlong-sort-standalone, inlong-sort

#4326 [INLONG-4325][Manager] Fix registration SQL function exception
  inlong-manager/manager-test/src/main/resources/application-test.properties
Labels: inlong-manager

#4366 [INLONG-4361][Manager] Refactor the manager client module
  inlong-manager/manager-client-examples/src/test/java/org/apache/inlong/manager/client/AutoPush2HiveExample.java
  inlong-manager/manager-client-examples/src/test/java/org/apache/inlong/manager/client/Binlog2KafkaExample.java
  inlong-manager/manager-client-examples/src/test/java/org/apache/inlong/manager/client/File2HiveExample.java
  inlong-manager/manager-client-examples/src/test/java/org/apache/inlong/manager/client/Kafka2HiveExample.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/AbstractCommand.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/AbstractCommandRunner.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/CommandToolMain.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/CreateCommand.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/DescribeCommand.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/ListCommand.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/pojo/CreateGroupConf.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/util/CharsetAdapter.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/util/ClientUtils.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/util/GsonUtils.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/util/InlongGroupInfoAdapter.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/util/SeparatorAdapter.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/util/SortBaseConfAdapter.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/util/StreamSinkAdapter.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/util/StreamSourceAdapter.java
  inlong-manager/manager-client-tools/src/test/java/org/apache/inlong/manager/client/cli/TestCommand.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/InlongGroupContext.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/InlongStreamConf.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/DefaultInlongStreamBuilder.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/InlongGroupImpl.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/InlongStreamImpl.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/InnerInlongManagerClient.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/sink/HiveSink.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/util/GsonUtils.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/util/InlongParser.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/util/InlongStreamSinkTransfer.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/util/InlongStreamTransformTransfer.java
  inlong-manager/manager-client/src/test/java/org/apache/inlong/manager/client/api/impl/InlongStreamImplTest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/DataSeparator.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/stream/InlongStreamRequest.java
Labels: inlong-manager

#4363 [INLONG-4362][Manager] Add flink table dependency for manager-plugins module
  inlong-manager/manager-plugins/pom.xml
  licenses/inlong-manager/LICENSE
  licenses/inlong-manager/NOTICE
  licenses/inlong-manager/notices/NOTICE-flink-table-planner-blink.txt
Labels: inlong-manager

#4348 [INLONG-4346][Sort] Enhance upsert capability for SqlServer
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/load/SqlServerLoadNode.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/node/load/SqlServerLoadNodeTest.java
  inlong-sort/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/dialect/SqlServerDialect.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/SqlServerNodeSqlParseTest.java
Labels: inlong-sort

#4375 [INLONG-4371][Sort] Remove null constraint on Hive version
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/load/HiveLoadNode.java
Labels: inlong-sort

#4370 [INLONG-4369][Manager] Support for modification of information after approval
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/auth/DefaultAuthentication.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/group/InlongGroupApproveRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/pulsar/PulsarSourceDTO.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/plugin/PluginClassLoader.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/group/InlongGroupServiceImpl.java
  inlong-manager/manager-web/pom.xml
  inlong-manager/manager-workflow/src/main/java/org/apache/inlong/manager/workflow/event/LogableEventListener.java
  inlong-manager/manager-workflow/src/main/java/org/apache/inlong/manager/workflow/util/WorkflowBeanUtils.java
Labels: inlong-manager

#4266 [INLONG-4263][Manager] Support HBase sink resource creation
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/hbase/HbaseColumnFamilyInfo.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/hbase/HbaseSinkDTO.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/hbase/HbaseTableInfo.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/hbase/HbaseApiUtils.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/hbase/HbaseResourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/iceberg/IcebergCatalogUtils.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sort/util/SinkInfoUtils.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/configuration/Constants.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/sink/HbaseSinkInfo.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/sink/SinkInfo.java
Labels: inlong-manager, inlong-sort

#4387 [INLONG-4385][Sort] Excluse or remove the mysql:mysql-connector-java:jar:8.0.21 package
  inlong-sort/pom.xml
  inlong-sort/sort-connectors/mysql-cdc/pom.xml
  inlong-sort/sort-connectors/pom.xml
  licenses/inlong-sort/LICENSE
Labels: inlong-sort

#4391 [INLONG-4390][Sort] Exclude mysql:mysql-connector-java:jar package
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/load/TDSQLPostgresLoadNode.java
  pom.xml
Labels: inlong-sort

#4323 [INLONG-4315][Manager] Fix incorrect task service node order in create-group workflow
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/group/CreateGroupWorkflowDefinition.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/stream/CreateStreamWorkflowDefinition.java
Labels: inlong-manager

#4355 [INLONG-4354][SDK] Fix NPE of the ProxyConfigEntry cluster id
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/config/ProxyConfigManager.java
Labels: inlong-sdk

#4389 [INLONG-4388][Manager] Change Elasticsearch scaling_factor use correct mapping info
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/es/ElasticsearchFieldInfo.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/es/ElasticsearchApi.java
Labels: inlong-manager

#4393 [INLONG-4383][Sort] Add MySQL data load support
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/LoadNode.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/Node.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/load/MySqlLoadNode.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/node/load/MySqlLoadNodeTest.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/MySqlLoadSqlParseTest.java
Labels: inlong-sort

#4333 [INLONG-4332][Manager][Sort] Support ClickHouse load node
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sort/util/LoadNodeUtils.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/load/ClickHouseLoadNode.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/node/load/ClickHouseLoadNodeTest.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/ClickHouseSqlParserTest.java
Labels: inlong-manager, inlong-sort

#4386 [INLONG-4384][Manager] Store the specific field params of the Iceberg to extParams
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/IcebergPartition.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/SinkFieldBase.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/iceberg/IcebergColumnInfo.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/StreamSinkFieldEntity.java
  inlong-manager/manager-dao/src/main/resources/mappers/StreamSinkFieldEntityMapper.xml
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/es/ElasticsearchResourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/hbase/HbaseResourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/iceberg/IcebergCatalogUtils.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/iceberg/IcebergResourceOperator.java
  inlong-manager/manager-test/src/main/resources/sql/apache_inlong_manager.sql
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
Labels: inlong-manager

#4407 [INLONG-4406][Manager] Fix InlongGroupInfo parse exception in client
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/InlongStreamImpl.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/util/InlongGroupTransfer.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/util/InlongParser.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/util/InlongStreamSourceTransfer.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/GroupMode.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/postgres/PostgresSourceResponse.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sort/ZookeeperEnabledSelector.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sort/util/ExtractNodeUtils.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/listener/GroupTaskListenerFactory.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/workflow/WorkflowServiceImplTest.java
Labels: inlong-manager

#4424 [INLONG-4423][Dashboard] Hive Sink adds hiveConfDir parameter
  inlong-dashboard/src/components/MetaData/StorageHive.tsx
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/locales/en.json
Labels: inlong-dashboard

#4413 [INLONG-4394][Sort] Add Oracle data load support
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/LoadNode.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/Node.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/load/OracleLoadNode.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/node/load/OracleLoadNodeTest.java
  inlong-sort/sort-connectors/jdbc/pom.xml
  inlong-sort/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/converter/AbstractJdbcRowConverter.java
  inlong-sort/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/converter/clickhouse/ClickHouseRowConverter.java
  inlong-sort/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/converter/oracle/OracleRowConverter.java
  inlong-sort/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/converter/sqlserver/SqlServerRowConvert.java
  inlong-sort/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/dialect/ClickHouseDialect.java
  inlong-sort/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/dialect/OracleDialect.java
  inlong-sort/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/dialect/SqlServerDialect.java
  inlong-sort/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/table/JdbcDialects.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/OracleLoadSqlParseTest.java
  pom.xml
Labels: inlong-sort

#4401 [INLONG-4400][SDK] Unified dataproxy sdk clusterId property name
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/config/ProxyConfigManager.java
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/example/HttpClientExample.java
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/example/TcpClientExample.java
Labels: inlong-sdk

#4435 [INLONG-4434][Docker] Fix the wrong ENV for Pulsar address
  docker/docker-compose/docker-compose.yml
Labels: docker

#4412 [INLONG-4405][Sort] Support run SQL script
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/configuration/Constants.java
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/Entrance.java
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/parser/impl/NativeFlinkSqlParser.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/NativeFlinkSqlParserTest.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/PostgresLoadNodeFlinkSqlParseTest.java
Labels: inlong-sort

#4430 [INLONG-4429][Sort] Add SQL Server JDBC driver and management version
  inlong-sort/sort-connectors/jdbc/pom.xml
  pom.xml
Labels: inlong-sort

#4440 [INLONG-4438][Manager] Add warning log to remind register dataproxy cluster
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/ThirdPartyClusterServiceImpl.java
Labels: inlong-manager

#4444 [INLONG-4443][Manager] Remove some deprecated classes
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/Constant.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/DBCollectorDetailTaskEntityStatus.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/DBCollectorTaskConstant.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/IcebergPartition.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/iceberg/IcebergPartition.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/iceberg/IcebergType.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/ConsumptionServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/DBCollectorTaskServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/ThirdPartyClusterServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/mq/util/PulsarOptServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/iceberg/IcebergCatalogUtils.java
Labels: inlong-manager

#4446 [INLONG-4445][Manager] Change the relationship to relation to adapt the Sort protocol
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/InlongStreamImpl.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/auth/Authentication.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/GroupMode.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/MetaFieldType.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/TransformType.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sort/BaseSortConf.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/kafka/KafkaOffset.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/stream/StreamNodeRelation.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/stream/StreamPipeline.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/transform/filter/FilterDefinition.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/transform/splitter/SplitterDefinition.java
  inlong-manager/manager-common/src/test/java/org/apache/inlong/manager/common/pojo/stream/StreamPipelineTest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/ConsumptionServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/InlongStreamServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/StreamSinkServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sort/CreateSortConfigListenerV2.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sort/CreateStreamSortConfigListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sort/light/LightGroupSortListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sort/util/ExtractNodeUtils.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sort/util/FieldRelationUtils.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sort/util/FilterFunctionUtils.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sort/util/LoadNodeUtils.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sort/util/NodeRelationUtils.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sort/util/TransformNodeUtils.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/consumption/NewConsumptionWorkflowDefinition.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/group/NewGroupWorkflowDefinition.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/group/listener/GroupUpdateCompleteListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/stream/listener/StreamUpdateCompleteListener.java
Labels: inlong-manager

#4449 [INLONG-4447][Manager] Replace the InlongStreamConf with InlongStreamInfo for manager-client
  inlong-manager/manager-client-examples/src/test/java/org/apache/inlong/manager/client/AutoPush2HiveExample.java
  inlong-manager/manager-client-examples/src/test/java/org/apache/inlong/manager/client/BaseExample.java
  inlong-manager/manager-client-examples/src/test/java/org/apache/inlong/manager/client/Binlog2KafkaExample.java
  inlong-manager/manager-client-examples/src/test/java/org/apache/inlong/manager/client/File2HiveExample.java
  inlong-manager/manager-client-examples/src/test/java/org/apache/inlong/manager/client/Kafka2HiveExample.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/CreateCommand.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/pojo/CreateGroupConf.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/util/InlongGroupInfoAdapter.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/util/SortBaseConfAdapter.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/InlongClient.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/InlongGroup.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/InlongStreamConf.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/BlankInlongGroup.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/DefaultInlongStreamBuilder.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/InlongGroupImpl.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/InlongStreamImpl.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/InnerInlongManagerClient.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/util/InlongParser.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/util/InlongStreamTransfer.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/GlobalConstants.java
Labels: inlong-manager

#4452 [INLONG-4451][TubeMQ] Update the base docker image for TubeMQ
  inlong-tubemq/tubemq-docker/tubemq-all/Dockerfile
Labels: inlong-tubemq, docker

#4396 [INLONG-4301][Manager] Support oracle source
  inlong-common/src/main/java/org/apache/inlong/common/enums/TaskTypeEnum.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/SourceType.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/oracle/OracleSource.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/oracle/OracleSourceDTO.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/oracle/OracleSourceListResponse.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/oracle/OracleSourceRequest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sort/util/ExtractNodeUtils.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/oracle/OracleSourceOperation.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/source/OracleSourceServiceTest.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/constant/OracleConstant.java
Labels: inlong-manager, inlong-sort

#4450 [INLONG-4448][Sort] Add Greenplum database data load support
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/LoadNode.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/Node.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/load/GreenplumLoadNode.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/transformation/FunctionParam.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/node/load/GreenplumLoadNodeTest.java
  inlong-sort/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/dialect/GreenplumDialect.java
  inlong-sort/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/table/JdbcDialects.java
  inlong-sort/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/table/JdbcDynamicTableFactory.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/GreenplumLoadSqlParseTest.java
Labels: inlong-sort

#4457 [INLONG-4451][TubeMQ] Revert update the base docker image for TubeMQ
  inlong-tubemq/tubemq-docker/tubemq-all/Dockerfile
Labels: inlong-tubemq, docker

#4463 [INLONG-4462][Manager] Fix NPE when parsing pageInfo in manager client
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/util/InlongParser.java
Labels: inlong-manager
