Repository apache/inlong, pull requests merged in 2022-09, with the labels that each got.

#5757 [INLONG-5756][Manager] Change the condition of the accept method for SortConfigListener
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/listener/sort/SortConfigListener.java
Labels: component/manager

#5760 [INLONG-5759][Manager] Fix JSON parse error for the subtype not found
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/ApplicationInitRunner.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/config/InlongGlobalConfig.java
Labels: component/manager, 1.3.x/bugfix

#5766 [INLONG-5765][Manager] Add heartbeat API in the manager client
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/Heartbeat.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/HeartbeatImpl.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/client/ClientFactory.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/client/HeartbeatClient.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/service/HeartbeatApi.java
  inlong-manager/manager-client/src/test/java/org/apache/inlong/manager/client/api/inner/HeartbeatClientTest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/heartbeat/ComponentHeartbeatResponse.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/heartbeat/GroupHeartbeatResponse.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/heartbeat/StreamHeartbeatResponse.java
Labels: component/manager

#5763 [INLONG-5762][Sort] Fix the computing for the Pulsar source metric
  inlong-sort/sort-connectors/pulsar/src/main/java/org/apache/inlong/sort/pulsar/table/DynamicPulsarDeserializationSchema.java
  inlong-sort/sort-connectors/pulsar/src/main/java/org/apache/inlong/sort/pulsar/withoutadmin/CallbackCollector.java
Labels: component/sort, 1.3.x/bugfix

#5758 [INLONG-5611][Manager] Set the sink status after updating the sink info
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/StreamStatus.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/StreamSinkEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/mappers/StreamSinkEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/StreamSinkFieldEntityMapper.xml
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/sink/ck/ClickHouseResourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/AbstractSinkOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/StreamSinkOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/StreamSinkServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/stream/InlongStreamProcessService.java
Labels: component/manager

#5595 [INLONG-5101][DataProxy] Optimize load balancing for DataProxy
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/ConfigConstants.java
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/DefaultMessageSender.java
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/LoadBalance.java
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/ProxyClientConfig.java
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/config/ProxyConfigEntry.java
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/config/ProxyConfigManager.java
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/network/ClientMgr.java
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/network/HashRing.java
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/network/NettyClient.java
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/network/Sender.java
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/utils/ConsistencyHashUtil.java
Labels: component/sdk

#5768 [INLONG-5767][Sort] Fix IOUtils interface is incompatible in JDK 17
  inlong-sort/sort-end-to-end-tests/src/test/java/org/apache/inlong/sort/tests/utils/FlinkContainerTestEnv.java
Labels: component/sort

#5771 [INLONG-5769][Manager] Fix the FILE type unsupported for SourceOperateListener
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/listener/source/AbstractSourceOperateListener.java
Labels: component/manager, 1.3.x/bugfix

#5742 [INLONG-5741][Agent] Keep the docker config of Agent consistent with physical machine
  inlong-agent/agent-docker/agent-docker.sh
Labels: component/agent, service/docker

#5773 [INLONG-5772][Audit] Add ClickHouse option in the Audit config comment
  inlong-audit/conf/application.properties
Labels: component/audit, 1.3.x/bugfix

#5612 [INLONG-5608][Sort] Reformat connector codes for reporting metrics
  inlong-sort/sort-connectors/elasticsearch-6/src/main/java/org/apache/inlong/sort/elasticsearch6/ElasticsearchSink.java
  inlong-sort/sort-connectors/elasticsearch-6/src/main/java/org/apache/inlong/sort/elasticsearch6/table/Elasticsearch6DynamicSink.java
  inlong-sort/sort-connectors/elasticsearch-6/src/main/java/org/apache/inlong/sort/elasticsearch6/table/Elasticsearch6DynamicSinkFactory.java
  inlong-sort/sort-connectors/elasticsearch-7/src/main/java/org/apache/inlong/sort/elasticsearch7/ElasticsearchSink.java
  inlong-sort/sort-connectors/elasticsearch-7/src/main/java/org/apache/inlong/sort/elasticsearch7/table/Elasticsearch7DynamicSink.java
  inlong-sort/sort-connectors/elasticsearch-7/src/main/java/org/apache/inlong/sort/elasticsearch7/table/Elasticsearch7DynamicSinkFactory.java
  inlong-sort/sort-connectors/elasticsearch-base/src/main/java/org/apache/inlong/sort/elasticsearch/ElasticsearchSinkBase.java
  inlong-sort/sort-connectors/elasticsearch-base/src/main/java/org/apache/inlong/sort/elasticsearch/table/RowElasticsearchSinkFunction.java
  inlong-sort/sort-connectors/hbase/src/main/java/org/apache/inlong/sort/hbase/HBase2DynamicTableFactory.java
  inlong-sort/sort-connectors/hive/src/main/java/org/apache/inlong/sort/hive/HiveTableSink.java
  inlong-sort/sort-connectors/hive/src/main/java/org/apache/inlong/sort/hive/filesystem/AbstractStreamingWriter.java
  inlong-sort/sort-connectors/hive/src/main/java/org/apache/inlong/sort/hive/filesystem/CompactFileWriter.java
  inlong-sort/sort-connectors/hive/src/main/java/org/apache/inlong/sort/hive/filesystem/StreamingFileWriter.java
  inlong-sort/sort-connectors/hive/src/main/java/org/apache/inlong/sort/hive/filesystem/StreamingSink.java
  inlong-sort/sort-connectors/hive/src/main/java/org/apache/inlong/sort/hive/table/HiveTableInlongFactory.java
  inlong-sort/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/FlinkSink.java
  inlong-sort/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/IcebergStreamWriter.java
  inlong-sort/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/internal/JdbcBatchingOutputFormat.java
  inlong-sort/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/internal/TableJdbcUpsertOutputFormat.java
  inlong-sort/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/table/JdbcDynamicOutputFormatBuilder.java
  inlong-sort/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/table/JdbcDynamicTableFactory.java
  inlong-sort/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/table/JdbcDynamicTableSink.java
  inlong-sort/sort-connectors/kafka/src/main/java/org/apache/inlong/sort/kafka/FlinkKafkaProducer.java
  inlong-sort/sort-connectors/kafka/src/main/java/org/apache/inlong/sort/kafka/KafkaDynamicSink.java
  inlong-sort/sort-connectors/kafka/src/main/java/org/apache/inlong/sort/kafka/table/DynamicKafkaDeserializationSchema.java
  inlong-sort/sort-connectors/kafka/src/main/java/org/apache/inlong/sort/kafka/table/KafkaDynamicSource.java
  inlong-sort/sort-connectors/kafka/src/main/java/org/apache/inlong/sort/kafka/table/KafkaDynamicTableFactory.java
  inlong-sort/sort-connectors/kafka/src/main/java/org/apache/inlong/sort/kafka/table/UpsertKafkaDynamicTableFactory.java
  inlong-sort/sort-connectors/mongodb-cdc/src/main/java/org/apache/inlong/sort/cdc/mongodb/DebeziumSourceFunction.java
  inlong-sort/sort-connectors/mongodb-cdc/src/main/java/org/apache/inlong/sort/cdc/mongodb/table/MongoDBTableSourceFactory.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/debezium/DebeziumSourceFunction.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/table/MySqlTableInlongSourceFactory.java
  inlong-sort/sort-connectors/oracle-cdc/src/main/java/org/apache/inlong/sort/cdc/oracle/DebeziumSourceFunction.java
  inlong-sort/sort-connectors/oracle-cdc/src/main/java/org/apache/inlong/sort/cdc/oracle/table/OracleTableSourceFactory.java
  inlong-sort/sort-connectors/postgres-cdc/src/main/java/org.apache.inlong.sort.cdc.postgres/DebeziumSourceFunction.java
  inlong-sort/sort-connectors/postgres-cdc/src/main/java/org/apache/inlong/sort/cdc/postgres/table/PostgreSQLTableFactory.java
  inlong-sort/sort-connectors/pulsar/src/main/java/org/apache/inlong/sort/pulsar/table/PulsarDynamicTableFactory.java
  inlong-sort/sort-connectors/pulsar/src/main/java/org/apache/inlong/sort/pulsar/table/UpsertPulsarDynamicTableFactory.java
  inlong-sort/sort-connectors/sqlserver-cdc/src/main/java/org/apache/inlong/sort/cdc/sqlserver/table/DebeziumSourceFunction.java
  inlong-sort/sort-connectors/sqlserver-cdc/src/main/java/org/apache/inlong/sort/cdc/sqlserver/table/SqlServerTableFactory.java
Labels: component/sort

#5684 [INLONG-5666][SortStandalone] Supports init multiple Sort SDK to improve performance
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/source/sortsdk/SortSdkSource.java
Labels: component/sort

#5782 [INLONG-5781][Manager] Support creating consumer groups for all sinks
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/InlongConsumeEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/mappers/InlongConsumeEntityMapper.xml
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/queue/pulsar/PulsarTopicInfo.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/consume/InlongConsumeService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/consume/InlongConsumeServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/ConsumptionService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/ConsumptionServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/listener/consumption/ConsumptionCompleteProcessListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/queue/kafka/KafkaOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/queue/kafka/KafkaResourceOperators.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/queue/pulsar/PulsarOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/queue/pulsar/PulsarResourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/queue/tubemq/TubeMQResourceOperator.java
Labels: component/manager

#5778 [INLONG-5770][DataProxy] Optimize the method of obtaining the local IP address
  inlong-audit/audit-proxy/src/main/java/org/apache/inlong/audit/sink/TubeSink.java
  inlong-audit/audit-proxy/src/main/java/org/apache/inlong/audit/sink/pulsar/PulsarClientService.java
  inlong-audit/audit-proxy/src/main/java/org/apache/inlong/audit/utils/NetworkUtils.java
  inlong-common/src/main/java/org/apache/inlong/common/util/NetworkUtils.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/PulsarSink.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/SimpleMessageTubeSink.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/TubeSink.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/common/TubeUtils.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/pulsar/PulsarClientService.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/ServerMessageHandler.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/utils/NetworkUtils.java
Labels: component/dataproxy, component/audit

#5792 [INLONG-5788][DataProxy] Fix the incorrect readFailSize metric value
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/PulsarSink.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/SimpleMessageTubeSink.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/TubeSink.java
Labels: component/dataproxy, 1.3.x/bugfix

#5804 [INLONG-5803][Agent] Fix NPE when collect file data
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/file/FileReaderOperator.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/file/MonitorTextFile.java
Labels: component/agent, 1.3.x/bugfix

#5801 [INLONG-5795][TubeMQ] Optimize the implementation of ConsumerEvent.toStrBuilder()
  inlong-tubemq/tubemq-client/src/main/java/org/apache/inlong/tubemq/client/consumer/BaseMessageConsumer.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/balance/ConsumerEvent.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/cluster/SubscribeInfo.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/TMaster.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/nodemanage/nodeconsumer/ConsumerEventManager.java
Labels: component/tubemq

#5807 [INLONG-5799][Manager] Fix the source delete/stop/restart bug
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/listener/source/AbstractSourceOperateListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/StreamSourceServiceImpl.java
Labels: component/manager, 1.3.x/bugfix

#5813 [INLONG-5812][Manager] Fix if the data group execution fails, it cannot be executed again
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/listener/group/InitGroupFailedListener.java
Labels: component/manager, 1.3.x/bugfix

#5806 [INLONG-5805][Sort] Fix incorrect interceptor initialization
  inlong-sort-standalone/sort-standalone-common/src/main/java/org/apache/inlong/sort/standalone/utils/FlumeConfigGenerator.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/rollback/TimeBasedFilterInterceptor.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/source/sortsdk/SortSdkSource.java
Labels: component/sort, 1.3.x/bugfix

#5817 [INLONG-5816][Docker] Add platform for aarch64
  docker/build-docker-images.sh
Labels: service/docker, 1.3.x/bugfix

#5811 [INLONG-5798][Dashboard] Support stream fields extends
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/locales/en.json
  inlong-dashboard/src/metas/clusters/Pulsar.tsx
  inlong-dashboard/src/metas/clusters/agent.tsx
  inlong-dashboard/src/metas/clusters/dataProxy.tsx
  inlong-dashboard/src/metas/clusters/index.tsx
  inlong-dashboard/src/metas/clusters/pulsar.tsx
  inlong-dashboard/src/metas/clusters/tubeMQ.tsx
  inlong-dashboard/src/metas/sinks/hive.tsx
  inlong-dashboard/src/metas/sources/binLog.ts
  inlong-dashboard/src/metas/stream/extends/index.tsx
  inlong-dashboard/src/metas/stream/index.tsx
  inlong-dashboard/src/metas/stream/status.tsx
  inlong-dashboard/src/pages/ClusterTags/ClusterList.tsx
  inlong-dashboard/src/pages/Clusters/CreateModal.tsx
  inlong-dashboard/src/pages/Clusters/index.tsx
  inlong-dashboard/src/pages/GroupDetail/DataStream/StreamItemModal.tsx
  inlong-dashboard/src/pages/GroupDetail/DataStream/helper.ts
  inlong-dashboard/src/pages/GroupDetail/DataStream/index.tsx
Labels: component/dashboard

#5821 [INLONG-5820][Manager] Fix the auto push source task operating problem
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/AbstractSourceOperator.java
Labels: component/manager, 1.3.x/bugfix

#5819 [INLONG-5818][Sort] Fix metric computing for Pulsar connector
  inlong-sort/sort-connectors/pulsar/src/main/java/org/apache/inlong/sort/pulsar/table/DynamicPulsarDeserializationSchema.java
  inlong-sort/sort-formats/format-inlongmsg-base/src/main/java/org/apache/inlong/sort/formats/inlongmsg/InLongMsgDeserializationSchema.java
Labels: component/sort, 1.3.x/bugfix

#5823 [INLONG-5822][Sort] Fix the error of metric is empty for Elasticsearch
  inlong-sort/sort-connectors/elasticsearch-base/src/main/java/org/apache/inlong/sort/elasticsearch/ElasticsearchSinkBase.java
  inlong-sort/sort-connectors/elasticsearch-base/src/main/java/org/apache/inlong/sort/elasticsearch/table/RowElasticsearchSinkFunction.java
Labels: component/sort, 1.3.x/bugfix

#5826 [INLONG-5824][Manager] Fix the broken logging due to log4j conflicts
  pom.xml
Labels: component/manager

#5827 [INLONG-5825][Manager] Remove the limitation of MQ type of group in SortSourceService
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/SortSourceServiceImpl.java
Labels: component/manager

#5835 [INLONG-5834][DataProxy] Fix the mistake for the sink metric in MQ Zone
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/mqzone/AbstractZoneSinkContext.java
Labels: component/dataproxy, 1.3.x/bugfix

#5831 [INLONG-5830][DataProxy] Fix required parameter topic exception
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/http/HttpBaseSource.java
Labels: component/dataproxy, 1.3.x/bugfix

#5837 [INLONG-5836][Manager] Fix the source status related behavior problems
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/SourceStatus.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/StreamSourceEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/mappers/StreamSourceEntityMapper.xml
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/SourceRequest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/AgentServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/listener/source/AbstractSourceOperateListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/listener/source/SourceRestartListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/listener/source/SourceStopListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/AbstractSourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/StreamSourceServiceImpl.java
Labels: component/manager, 1.3.x/bugfix

#5829 [INLONG-5828][Agent] Fix to merge data error when collect nonstandard log of k8s
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/file/MonitorTextFile.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/utils/FileDataUtils.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/utils/MetaDataUtils.java
Labels: component/agent, 1.3.x/bugfix

#5838 [INLONG-5122][Dashboard] The whitelist input format of binlog source need to be optimized
  inlong-dashboard/src/configs/menus/index.ts
  inlong-dashboard/src/i18n.ts
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/locales/en.json
  inlong-dashboard/src/metas/sources/binLog.ts
Labels: component/dashboard

#5809 [INLONG-5808][SDK] Sort SDK supports parse InlongMsg
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/impl/decode/MessageDeserializer.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/util/StringUtil.java
  inlong-sdk/sort-sdk/src/test/java/org/apache/inlong/sdk/sort/impl/decode/MessageDeserializerTest.java
Labels: component/sdk

#5845 [INLONG-5844][Manager] Sub sources should be filtered when querying task status
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/InlongGroupContext.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/StreamSource.java
Labels: component/manager, 1.3.x/bugfix

#5847 [INLONG-5846][Manager] Fix the SQL exception to check if the consumer exists
  inlong-manager/manager-dao/src/main/resources/mappers/InlongConsumeEntityMapper.xml
Labels: component/manager

#5854 [INLONG-5853][TubeMQ] Fix typo in AddTopicExecutor
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/job/JobManager.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/fetcher/ManagerFetcher.java
  inlong-tubemq/tubemq-manager/src/main/java/org/apache/inlong/tubemq/manager/executors/AddTopicExecutor.java
  inlong-tubemq/tubemq-manager/src/main/java/org/apache/inlong/tubemq/manager/service/BrokerServiceImpl.java
  inlong-tubemq/tubemq-manager/src/main/java/org/apache/inlong/tubemq/manager/service/RegionServiceImpl.java
  inlong-tubemq/tubemq-manager/src/main/java/org/apache/inlong/tubemq/manager/service/TubeMQErrorConst.java
  inlong-tubemq/tubemq-manager/src/main/java/org/apache/inlong/tubemq/manager/service/interfaces/BrokerService.java
  inlong-tubemq/tubemq-manager/src/test/java/org/apache/inlong/tubemq/manager/service/broker/TestBrokerService.java
Labels: component/tubemq, component/agent

#5855 [INLONG-5848][TubeMQ] Get duplicated call when calling TubeMQConsumer::Start()
  inlong-tubemq/tubemq-client-twins/tubemq-client-cpp/src/baseconsumer.cc
  inlong-tubemq/tubemq-client-twins/tubemq-client-cpp/src/tubemq_client.cc
  inlong-tubemq/tubemq-client-twins/tubemq-client-cpp/src/version.h
Labels: component/tubemq

#5860 [INLONG-5859][TubeMQ] Remove the redundant codes in DefaultOffsetManager
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/offset/DefaultOffsetManager.java
Labels: component/tubemq

#5862 [INLONG-5861][Agent] Support symbolic links for file
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/file/MonitorTextFile.java
Labels: component/agent, 1.3.x/bugfix

#5868 [INLONG-5867][TubeMQ] Add registered partition information printing
  inlong-tubemq/tubemq-client-twins/tubemq-client-cpp/src/baseconsumer.cc
  inlong-tubemq/tubemq-client-twins/tubemq-client-cpp/src/baseconsumer.h
Labels: component/tubemq

#5850 [INLONG-5849][Manager] Update the inlong group ext info by the client
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/CreateCommand.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/InlongClientImpl.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/InlongGroupImpl.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/util/InlongGroupTransfer.java
Labels: component/manager, 1.3.x/bugfix

#5877 [INLONG-5875][Manager] Set the version for the issued sub-sources
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/AgentServiceImpl.java
Labels: component/manager, 1.3.x/bugfix

#5871 [INLONG-5870][Docker] Add dependency to fix the arm images building
  .github/workflows/ci_docker.yml
  docker/build-docker-images.sh
Labels: service/ci, service/docker, 1.3.x/bugfix

#5882 [INLONG-5880][DataProxy] Add data reporting time process logic
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/http/SimpleMessageHandler.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/metrics/audit/AuditUtils.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/DefaultServiceDecoder.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/ServerMessageHandler.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/SimpleMessageHandler.java
Labels: component/dataproxy

#5884 [INLONG-5881][Manager] Fix the vulnerability to security attacks for the MySQL JDBC URL
  inlong-manager/manager-pojo/pom.xml
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sink/mysql/MySQLSinkDTO.java
  inlong-manager/manager-pojo/src/test/java/org/apache/inlong/manager/pojo/sink/mysql/MySQLSinkDTOTest.java
  inlong-manager/manager-pojo/src/test/resources/log4j2.xml
Labels: component/manager

#5886 [INLONG-5885][Manager] Refactor the task issue logic to simply code complexity
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/AgentServiceImpl.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/ServiceBaseTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/impl/AgentServiceTest.java
Labels: component/manager, 1.3.x/bugfix

#5878 [INLONG-5876][Manager] Remove the check of data separator
  inlong-manager/manager-client-examples/src/test/java/org/apache/inlong/manager/client/BaseExample.java
  inlong-manager/manager-client-examples/src/test/java/org/apache/inlong/manager/client/ut/BaseTest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/DataSeparator.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sink/hive/HiveSink.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sink/hive/HiveSinkDTO.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sink/hive/HiveSinkRequest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/util/ExtractNodeUtils.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/autopush/AutoPushSource.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/autopush/AutoPushSourceDTO.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/autopush/AutoPushSourceRequest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/kafka/KafkaSource.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/kafka/KafkaSourceDTO.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/kafka/KafkaSourceRequest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/pulsar/PulsarSource.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/pulsar/PulsarSourceDTO.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/pulsar/PulsarSourceRequest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/stream/InlongStreamInfo.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/stream/InlongStreamRequest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/stream/InlongStreamResponse.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/pulsar/PulsarSourceOperator.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/ServiceBaseTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/sort/DisableZkForSortTest.java
  inlong-manager/manager-test/src/main/resources/h2/apache_inlong_manager.sql
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
Labels: component/manager, 1.3.x/bugfix

#5891 [INLONG-5890][Script] Add tcp protocol when connecting to MySQL
  bin/inlong-daemon
Labels: 1.3.x/bugfix

#5893 [INLONG-5881][Manager] Fix the vulnerability for the MySQL JDBC URL (addendum)
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sink/mysql/MySQLSinkDTO.java
  inlong-manager/manager-pojo/src/test/java/org/apache/inlong/manager/pojo/sink/mysql/MySQLSinkDTOTest.java
Labels: component/manager

#5895 [INLONG-5894][Dashboard] Remove the password required restrict for test/development clickhouse cluster
  inlong-dashboard/src/metas/sinks/clickhouse.tsx
Labels: component/dashboard, 1.3.x/bugfix

#5777 [INLONG-5775][Manager] Add unit tests for the Inlong Consume
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/InlongConsumeEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/mappers/ConsumptionEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/InlongConsumeEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/WorkflowProcessEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/WorkflowTaskEntityMapper.xml
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/consume/InlongConsumeCountInfo.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/consume/InlongConsumeServiceImpl.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/consume/InlongConsumeServiceTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/impl/InlongStreamServiceTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/group/InlongGroupServiceTest.java
Labels: component/manager

#5896 [INLONG-5889][Sort] Fix MySQL Node JDBC Url For RCE Vulnerability
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/Constants.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/util/JdbcUrlUtils.java
  inlong-sort/sort-connectors/base/src/test/java/org/apache/inlong/sort/base/metric/TestUrlValidate.java
  inlong-sort/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/table/JdbcDynamicTableFactory.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/table/JdbcUrlUtils.java
Labels: component/sort

#5902 [INLONG-5901][Dashboard] Unified sinks type definition
  inlong-dashboard/package-lock.json
  inlong-dashboard/package.json
  inlong-dashboard/src/components/FormGenerator/FormGenerator.tsx
  inlong-dashboard/src/components/FormGenerator/FormItemContent.tsx
  inlong-dashboard/src/metas/sinks/clickhouse.tsx
  inlong-dashboard/src/metas/sinks/common/status.tsx
  inlong-dashboard/src/metas/sinks/es.tsx
  inlong-dashboard/src/metas/sinks/greenplum.tsx
  inlong-dashboard/src/metas/sinks/hbase.tsx
  inlong-dashboard/src/metas/sinks/hive.tsx
  inlong-dashboard/src/metas/sinks/iceberg.tsx
  inlong-dashboard/src/metas/sinks/index.ts
  inlong-dashboard/src/metas/sinks/kafka.tsx
  inlong-dashboard/src/metas/sinks/mysql.tsx
  inlong-dashboard/src/metas/sinks/oracle.tsx
  inlong-dashboard/src/metas/sinks/postgreSql.tsx
  inlong-dashboard/src/metas/sinks/sqlServer.tsx
  inlong-dashboard/src/metas/sinks/tdsqlPostgreSql.tsx
  inlong-dashboard/src/metas/sources/index.ts
  inlong-dashboard/src/pages/GroupDetail/DataSources/index.tsx
  inlong-dashboard/src/pages/GroupDetail/DataStorage/DetailModal.tsx
  inlong-dashboard/src/pages/GroupDetail/DataStorage/index.tsx
  inlong-dashboard/src/themes/cover.less
Labels: component/dashboard

#5900 [INLONG-5899][DataProxy] Optimize Http's SimpleMessageHandler class
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/http/SimpleMessageHandler.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/utils/DateTimeUtils.java
Labels: component/dataproxy, 1.3.x/bugfix

#5912 [INLONG-5911][Dashboard] Modify the data group name to the data stream group
  inlong-dashboard/src/i18n.ts
  inlong-dashboard/src/locales/cn.json
Labels: component/dashboard, 1.3.x/bugfix

#5916 [INLONG-5915][DataProxy] Optimize source's ServerMessageHandler class
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/http/SimpleMessageHandler.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/DefaultServiceDecoder.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/ServerMessageHandler.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/ServiceDecoder.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/SimpleMessageHandler.java
Labels: component/dataproxy, 1.3.x/bugfix

#5920 [INLONG-5917][DataProxy] Optimize TubeSink class
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/consts/ConfigConstants.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/http/SimpleMessageHandler.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/metrics/audit/AuditUtils.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/SimpleMessageTubeSink.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/TubeSink.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/common/TubeUtils.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/ServerMessageHandler.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/SimpleMessageHandler.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/utils/InLongMsgVer.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/utils/MessageUtils.java
Labels: component/dataproxy

#5921 [INLONG-5919][Manager] Fix that cannot successfully obtain the Kafka info for inlong group
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/group/kafka/InlongKafkaDTO.java
Labels: component/manager

#5905 [INLONG-5904][Manager] Add manager client packages into lib directory
  inlong-manager/manager-client-tools/pom.xml
  inlong-manager/manager-client/pom.xml
  inlong-manager/manager-web/assembly.xml
Labels: component/manager

#5923 [INLONG-5918][DataProxy] Optimize PulsarSink class
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/PulsarSink.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/TubeSink.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/pulsar/PulsarClientService.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/pulsar/SinkTask.java
Labels: component/dataproxy

#5908 [INLONG-5907][TubeMQ] Replace the while-sleep with ScheduledExecutorService for tube server loopProcess
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/daemon/AbstractDaemonService.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/offset/DefaultOffsetManager.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/offset/OffsetRecordService.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/stats/TrafficStatsService.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/utils/SimpleVisitTokenManager.java
Labels: component/tubemq

#5785 [INLONG-5784][Sort] Add metric state for PostgreSQL
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/Constants.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/metric/MetricState.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/metric/SourceMetricData.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/util/MetricStateUtils.java
  inlong-sort/sort-connectors/base/src/test/java/org/apache/inlong/sort/base/util/MetricStateUtilsTest.java
  inlong-sort/sort-connectors/postgres-cdc/src/main/java/org.apache.inlong.sort.cdc.postgres/DebeziumSourceFunction.java
Labels: component/sort

#5925 [INLONG-5924][DataProxy] Supplementary monitoring indicator dimension items
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/consts/ConfigConstants.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/http/HttpBaseSource.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/http/SimpleMessageHandler.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/metrics/DataProxyMetricItemSet.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/PulsarSink.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/TubeSink.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/pulsar/PulsarClientService.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/pulsar/SendMessageCallBack.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/BaseSource.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/ServerMessageHandler.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/SimpleMessageHandler.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/SimpleTcpSource.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/SimpleUdpSource.java
Labels: component/dataproxy

#5927 [INLONG-5922][Sort] Add metric state for kafka and modify mysql metric init
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/Constants.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/metric/MetricState.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/metric/SinkMetricData.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/util/MetricStateUtils.java
  inlong-sort/sort-connectors/kafka/pom.xml
  inlong-sort/sort-connectors/kafka/src/main/java/org/apache/inlong/sort/kafka/FlinkKafkaConsumer.java
  inlong-sort/sort-connectors/kafka/src/main/java/org/apache/inlong/sort/kafka/FlinkKafkaConsumerBase.java
  inlong-sort/sort-connectors/kafka/src/main/java/org/apache/inlong/sort/kafka/FlinkKafkaProducer.java
  inlong-sort/sort-connectors/kafka/src/main/java/org/apache/inlong/sort/kafka/table/DynamicKafkaDeserializationSchema.java
  inlong-sort/sort-connectors/kafka/src/main/java/org/apache/inlong/sort/kafka/table/KafkaDynamicSource.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/debezium/DebeziumSourceFunction.java
  licenses/inlong-sort-connectors/LICENSE
Labels: component/sort

#5864 [INLONG-5863][Manager] Extend Redis extract node
  inlong-common/src/main/java/org/apache/inlong/common/enums/TaskTypeEnum.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/consts/SourceType.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/util/ExtractNodeUtils.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/redis/RedisSource.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/redis/RedisSourceDTO.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/redis/RedisSourceRequest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/redis/RedisSourceOperator.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/source/RedisSourceServiceTest.java
Labels: component/manager

#5883 [INLONG-5874][Agent] Use dataTime to report audit metrics
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sinks/ProxySink.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sinks/SenderManager.java
  inlong-common/src/main/java/org/apache/inlong/common/msg/AttributeConstants.java
Labels: component/agent, 1.3.x/bugfix

#5780 [INLONG-5722][Agent] Support Redis Source
  inlong-agent/agent-plugins/pom.xml
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/RedisSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/RedisReader.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/sources/RedisReaderTest.java
  licenses/inlong-agent/LICENSE
  pom.xml
Labels: component/agent

#5906 [INLONG-5903][Sort] Make InLong metric constructs factory more cohesive
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/configuration/Constants.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/InlongMetric.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/Constants.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/metric/MetricData.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/metric/MetricOption.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/metric/SinkMetricData.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/metric/SourceMetricData.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/util/ValidateMetricOptionUtils.java
  inlong-sort/sort-connectors/elasticsearch-base/src/main/java/org/apache/inlong/sort/elasticsearch/ElasticsearchSinkBase.java
  inlong-sort/sort-connectors/elasticsearch-base/src/main/java/org/apache/inlong/sort/elasticsearch/table/RowElasticsearchSinkFunction.java
  inlong-sort/sort-connectors/filesystem/src/main/java/org/apache/inlong/sort/filesystem/FileSystemTableSink.java
  inlong-sort/sort-connectors/filesystem/src/main/java/org/apache/inlong/sort/filesystem/stream/AbstractStreamingWriter.java
  inlong-sort/sort-connectors/hbase/src/main/java/org/apache/inlong/sort/hbase/HBase2DynamicTableFactory.java
  inlong-sort/sort-connectors/hbase/src/main/java/org/apache/inlong/sort/hbase/sink/HBaseSinkFunction.java
  inlong-sort/sort-connectors/hive/src/main/java/org/apache/inlong/sort/hive/filesystem/AbstractStreamingWriter.java
  inlong-sort/sort-connectors/iceberg-dlc/src/main/java/org/apache/inlong/sort/iceberg/flink/FlinkDynamicTableFactory.java
  inlong-sort/sort-connectors/iceberg-dlc/src/main/java/org/apache/inlong/sort/iceberg/flink/IcebergTableSink.java
  inlong-sort/sort-connectors/iceberg-dlc/src/main/java/org/apache/inlong/sort/iceberg/flink/sink/FlinkSink.java
  inlong-sort/sort-connectors/iceberg-dlc/src/main/java/org/apache/inlong/sort/iceberg/flink/sink/IcebergStreamWriter.java
  inlong-sort/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/IcebergTableSink.java
  inlong-sort/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/FlinkSink.java
  inlong-sort/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/IcebergStreamWriter.java
  inlong-sort/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/internal/JdbcBatchingOutputFormat.java
  inlong-sort/sort-connectors/kafka/src/main/java/org/apache/inlong/sort/kafka/FlinkKafkaConsumerBase.java
  inlong-sort/sort-connectors/kafka/src/main/java/org/apache/inlong/sort/kafka/FlinkKafkaProducer.java
  inlong-sort/sort-connectors/kafka/src/main/java/org/apache/inlong/sort/kafka/table/DynamicKafkaDeserializationSchema.java
  inlong-sort/sort-connectors/mongodb-cdc/src/main/java/org/apache/inlong/sort/cdc/mongodb/DebeziumSourceFunction.java
  inlong-sort/sort-connectors/mongodb-cdc/src/main/java/org/apache/inlong/sort/cdc/mongodb/table/MongoDBTableSourceFactory.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/debezium/DebeziumSourceFunction.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/source/MySqlSource.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/source/metrics/MySqlSourceReaderMetrics.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/table/MySqlTableInlongSourceFactory.java
  inlong-sort/sort-connectors/oracle-cdc/src/main/java/org/apache/inlong/sort/cdc/oracle/DebeziumSourceFunction.java
  inlong-sort/sort-connectors/oracle-cdc/src/main/java/org/apache/inlong/sort/cdc/oracle/table/OracleTableSourceFactory.java
  inlong-sort/sort-connectors/postgres-cdc/src/main/java/org.apache.inlong.sort.cdc.postgres/DebeziumSourceFunction.java
  inlong-sort/sort-connectors/postgres-cdc/src/main/java/org/apache/inlong/sort/cdc/postgres/table/PostgreSQLTableFactory.java
  inlong-sort/sort-connectors/pulsar/src/main/java/org/apache/inlong/sort/pulsar/table/Constants.java
  inlong-sort/sort-connectors/pulsar/src/main/java/org/apache/inlong/sort/pulsar/table/DynamicPulsarDeserializationSchema.java
  inlong-sort/sort-connectors/pulsar/src/main/java/org/apache/inlong/sort/pulsar/table/PulsarDynamicTableFactory.java
  inlong-sort/sort-connectors/pulsar/src/main/java/org/apache/inlong/sort/pulsar/table/UpsertPulsarDynamicTableFactory.java
  inlong-sort/sort-connectors/sqlserver-cdc/src/main/java/org/apache/inlong/sort/cdc/sqlserver/table/DebeziumSourceFunction.java
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/parser/impl/FlinkSqlParser.java
Labels: component/sort, 1.3.x/bugfix

#5932 [INLONG-5931][Dashboard] Support query audit data by role
  inlong-dashboard/src/pages/GroupDetail/Audit/config.tsx
  inlong-dashboard/src/pages/GroupDetail/Audit/index.tsx
Labels: component/dashboard

#5935 [INLONG-5913][Sort] Add metric state for oracle and fix speed computing error
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/metric/SinkMetricData.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/metric/SourceMetricData.java
  inlong-sort/sort-connectors/oracle-cdc/src/main/java/org/apache/inlong/sort/cdc/oracle/DebeziumSourceFunction.java
Labels: component/sort

#5937 [INLONG-5936][Manager] Fix return type of cluster API
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/InlongClient.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/InlongClientImpl.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/client/InlongClusterClient.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/service/InlongClusterApi.java
Labels: component/manager

#5939 [INLONG-5938][Dashboard] The API parameter of calling to get the topic is lost
  inlong-dashboard/src/components/FormGenerator/FormGenerator.tsx
Labels: component/dashboard

#5942 [INLONG-5941][DataProxy] Store the initial number of message items in
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/ServerMessageHandler.java
Labels: component/dataproxy

#5945 [INLONG-5940][Sort] Compatible with the old version of sort protocol with mysql and kafka extract node
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/extract/KafkaExtractNode.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/extract/MySqlExtractNode.java
Labels: component/sort, 1.3.x/bugfix

#5934 [INLONG-5930][Sort] Support metric state recovery for sqlserver-cdc
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/util/MetricStateUtils.java
  inlong-sort/sort-connectors/mongodb-cdc/src/main/java/org/apache/inlong/sort/cdc/mongodb/DebeziumSourceFunction.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/debezium/DebeziumSourceFunction.java
  inlong-sort/sort-connectors/oracle-cdc/src/main/java/org/apache/inlong/sort/cdc/oracle/DebeziumSourceFunction.java
  inlong-sort/sort-connectors/postgres-cdc/src/main/java/org.apache.inlong.sort.cdc.postgres/DebeziumSourceFunction.java
  inlong-sort/sort-connectors/sqlserver-cdc/src/main/java/org/apache/inlong/sort/cdc/sqlserver/table/DebeziumSourceFunction.java
Labels: component/sort

#5949 [INLONG-5948][Audit] Add the enable audit environment
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/constant/AgentConstants.java
  inlong-agent/agent-docker/Dockerfile
  inlong-agent/agent-docker/agent-docker.sh
  inlong-agent/conf/agent.properties
  inlong-dataproxy/dataproxy-docker/Dockerfile
  inlong-dataproxy/dataproxy-docker/dataproxy-docker.sh
Labels: component/dataproxy, component/agent, service/docker, 1.3.x/bugfix

#5961 [INLONG-5959][Sort] Support metric state recovery for filesystem
  inlong-sort/sort-connectors/filesystem/src/main/java/org/apache/inlong/sort/filesystem/stream/AbstractStreamingWriter.java
Labels: component/sort, 1.3.x/bugfix

#5960 [INLONG-5955][Sort] Support metric state recovery for HBase
  inlong-sort/sort-connectors/hbase/src/main/java/org/apache/inlong/sort/hbase/sink/HBaseSinkFunction.java
Labels: component/sort, 1.3.x/bugfix

#5951 [INLONG-5950][Sort] Support metric state recovery for mongodb-cdc
  inlong-sort/sort-connectors/mongodb-cdc/src/main/java/org/apache/inlong/sort/cdc/mongodb/DebeziumSourceFunction.java
Labels: component/sort, 1.3.x/bugfix

#5947 [INLONG-5946][TubeMQ] AbstractDaemonService implementation optimization
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/daemon/AbstractDaemonService.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/offset/DefaultOffsetManager.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/offset/OffsetRecordService.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/stats/TrafficStatsService.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/utils/SimpleVisitTokenManager.java
Labels: component/tubemq

#5965 [INLONG-5963][Audit] Solve the sdk memory leak problem
  inlong-audit/audit-sdk/src/main/java/org/apache/inlong/audit/send/SenderGroup.java
Labels: component/audit, 1.3.x/bugfix

#5910 [INLONG-5909][Agent] Fix WatchService is no effect in the k8s
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/constant/JobConstants.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/db/Db.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/db/JobProfileDb.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/db/RocksDbImp.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/pojo/JobProfileDto.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/AgentManager.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/job/Job.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/job/JobManager.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/job/JobWrapper.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/task/Task.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/task/TaskManager.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/trigger/TriggerManager.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/fetcher/ManagerFetcher.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/filter/DateFormatRegex.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/file/FileReaderOperator.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/file/MonitorTextFile.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/file/TextFileReader.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/trigger/DirectoryTrigger.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/trigger/PathPattern.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/utils/PluginUtils.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/TestFileAgent.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/filter/TestDateFormatRegex.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/sources/TestTextFileReader.java
  inlong-agent/agent-plugins/src/test/resources/fileAgent.trigger.json
  inlong-agent/agent-plugins/src/test/resources/fileAgentJob.json
Labels: component/agent, 1.3.x/bugfix

#5954 [INLONG-5953][Manager] Filter DataProxy nodes by status when necessary
  inlong-manager/manager-dao/src/main/resources/mappers/InlongClusterNodeEntityMapper.xml
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/node/DataNodeRequest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/InlongClusterServiceImpl.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/cluster/InlongClusterServiceTest.java
Labels: component/manager, 1.3.x/bugfix

#5976 [INLONG-5975][Manager] Support transform nodes in standard mode
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/sort/DefaultSortConfigOperator.java
Labels: component/manager, 1.3.x/bugfix

#5972 [INLONG-5969][Sort] Support metrics state restore for hive connector
  inlong-sort/sort-connectors/hive/src/main/java/org/apache/inlong/sort/hive/filesystem/AbstractStreamingWriter.java
Labels: component/sort, 1.3.x/bugfix

#5973 [INLONG-5970][Sort] Support metrics state restore for iceberg connector
  inlong-sort/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/IcebergStreamWriter.java
Labels: component/sort, 1.3.x/bugfix

#5974 [INLONG-5971][Sort] Support metrics state restore for dlc-iceberg connector
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/metric/MetricOption.java
  inlong-sort/sort-connectors/iceberg-dlc/src/main/java/org/apache/inlong/sort/iceberg/flink/sink/IcebergStreamWriter.java
Labels: component/sort, 1.3.x/bugfix

#5966 [INLONG-5943][Sort] Add metric state for JDBC
  inlong-sort/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/internal/AbstractJdbcOutputFormat.java
  inlong-sort/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/internal/GenericJdbcSinkFunction.java
  inlong-sort/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/internal/JdbcBatchingOutputFormat.java
Labels: component/sort

#5980 [INLONG-5952][Sort] Support metrics state restore for Pulsar connector without adminUrl
  inlong-sort/sort-connectors/pulsar/src/main/java/org/apache/inlong/sort/pulsar/table/DynamicPulsarDeserializationSchema.java
  inlong-sort/sort-connectors/pulsar/src/main/java/org/apache/inlong/sort/pulsar/table/PulsarDynamicTableSource.java
  inlong-sort/sort-connectors/pulsar/src/main/java/org/apache/inlong/sort/pulsar/withoutadmin/FlinkPulsarSource.java
Labels: component/sort

#5958 [INLONG-5102][Manager] Command tools add CRUD for inlong cluster
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/CreateCommand.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/DeleteCommand.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/DescribeCommand.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/ListCommand.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/UpdateCommand.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/pojo/ClusterInfo.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/validator/ClusterTypeValidator.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/client/InlongClusterClient.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/ClusterType.java
Labels: component/manager

#5987 [INLONG-5986][Dashboard] Support fieldType field to set length
  inlong-dashboard/src/components/EditableTable/index.tsx
  inlong-dashboard/src/metas/sinks/clickhouse.tsx
  inlong-dashboard/src/metas/sinks/mysql.tsx
Labels: component/dashboard

#5982 [INLONG-5981][TubeMQ] Simplify the setup file for the TubeMQ Python client
  inlong-tubemq/tubemq-client-twins/tubemq-client-python/README.md
  inlong-tubemq/tubemq-client-twins/tubemq-client-python/setup.py
Labels: component/tubemq, type/improve

#5964 [INLONG-5962][Manager] Add additional parameters for the agent cluster
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/cluster/agent/AgentClusterDTO.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/cluster/agent/AgentClusterInfo.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/cluster/agent/AgentClusterRequest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/AgentClusterOperator.java
Labels: component/manager

#5983 [INLONG-5926][Dashboard] Change the consume related config to adapt the Manager module
  inlong-dashboard/src/configs/menus/index.ts
  inlong-dashboard/src/configs/routes/index.tsx
  inlong-dashboard/src/i18n.ts
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/locales/en.json
  inlong-dashboard/src/metas/consume/extends/index.tsx
  inlong-dashboard/src/metas/consume/index.tsx
  inlong-dashboard/src/metas/consume/status.tsx
  inlong-dashboard/src/metas/group/index.tsx
  inlong-dashboard/src/pages/ConsumeDashboard/config.tsx
  inlong-dashboard/src/pages/ConsumeDashboard/index.tsx
  inlong-dashboard/src/pages/ConsumeDetail/Info/config.tsx
  inlong-dashboard/src/pages/ConsumeDetail/Info/index.tsx
  inlong-dashboard/src/pages/ConsumeDetail/index.tsx
  inlong-dashboard/src/pages/GroupDetail/index.tsx
  inlong-dashboard/src/pages/ProcessDetail/Consume.tsx
  inlong-dashboard/src/pages/ProcessDetail/ConsumeConfig.tsx
  inlong-dashboard/src/pages/ProcessDetail/index.tsx
Labels: component/dashboard

#5991 [INLONG-5990][Manager] Command tools add CRUD for inlong cluster tag
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/CreateCommand.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/DeleteCommand.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/DescribeCommand.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/ListCommand.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/UpdateCommand.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/pojo/ClusterTagInfo.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/util/ClientUtils.java
Labels: component/manager

#5852 [INLONG-5851][TubeMQ] Optimize while-sleep to ScheduledExecutorService in tubemq-manager
  inlong-tubemq/tubemq-manager/src/main/java/org/apache/inlong/tubemq/manager/service/TopicBackendWorker.java
Labels: component/tubemq

#5999 [INLONG-5998][Manager] Only allow lower case letters for source name
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/AgentServiceImpl.java
Labels: component/manager, 1.3.x/bugfix

#5994 [INLONG-5992][Sort] Fix runtimeContext not initialized in JDBC and ES when reload metric status
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/metric/SinkMetricData.java
  inlong-sort/sort-connectors/elasticsearch-base/src/main/java/org/apache/inlong/sort/elasticsearch/ElasticsearchSinkBase.java
  inlong-sort/sort-connectors/elasticsearch-base/src/main/java/org/apache/inlong/sort/elasticsearch/ElasticsearchSinkFunction.java
  inlong-sort/sort-connectors/elasticsearch-base/src/main/java/org/apache/inlong/sort/elasticsearch/table/RowElasticsearchSinkFunction.java
  inlong-sort/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/internal/GenericJdbcSinkFunction.java
Labels: component/sort, 1.3.x/bugfix

#5997 [INLONG-5996][Manager] Add a previous status field for InlongConsume
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/InlongConsumeEntity.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/InlongConsumeEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/mappers/InlongConsumeEntityMapper.xml
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/consume/InlongConsumeInfo.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/group/InlongGroupInfo.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sink/StreamSink.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/StreamSource.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/stream/InlongStreamInfo.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/consume/InlongConsumeService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/consume/InlongConsumeServiceImpl.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/consume/InlongConsumeServiceTest.java
  inlong-manager/manager-test/src/main/resources/h2/apache_inlong_manager.sql
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/InlongConsumeController.java
Labels: component/manager

#6006 [INLONG-6005][DataProxy] Fix resend read values
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/metrics/DataProxyMetricItemSet.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/PulsarSink.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/TubeSink.java
Labels: component/dataproxy

#6015 [INLONG-6014][Manager] Int type cannot be compared with null using ==
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/consume/ConsumePulsarOperator.java
Labels: component/manager

#6013 [INLONG-6012][DataProxy] Adjust the fields statistics unit in DataProxyMetricItemSet
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/metrics/DataProxyMetricItemSet.java
Labels: component/dataproxy

#6002 [INLONG-6001][Manager] Ensure that the newly created sink under the successful stream can be configured normally
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/listener/sort/StreamSortConfigListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/StreamSinkServiceImpl.java
Labels: component/manager

#5985 [INLONG-5984][Manager] Optimize the logic related to the InlongConsume process
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/ConsumeStatus.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/ProcessName.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/InlongConsumeEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/mappers/InlongConsumeEntityMapper.xml
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/workflow/form/process/ApplyConsumeProcessForm.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/workflow/form/process/BaseProcessForm.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/workflow/form/task/BaseTaskForm.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/workflow/form/task/ConsumeApproveForm.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/consume/AbstractConsumeOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/consume/InlongConsumeProcessService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/consume/InlongConsumeService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/consume/InlongConsumeServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/ConsumptionServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/group/InlongPulsarOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/listener/consume/OperateConsumeTaskListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/listener/consume/apply/ApproveConsumeProcessListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/listener/consume/apply/CancelConsumeProcessListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/listener/consume/apply/RejectConsumeProcessListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/consume/ApplyConsumeProcessHandler.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/consume/ApplyConsumeWorkflowDefinition.java
  inlong-manager/manager-test/src/main/resources/h2/apache_inlong_manager.sql
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/InlongConsumeController.java
Labels: component/manager

#6008 [INLONG-5988][Agent] Add the Partition Key settings for file source
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/constant/CommonConstants.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/constant/JobConstants.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/pojo/JobProfileDto.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/job/Job.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/task/TaskPositionManager.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/trigger/TriggerManager.java
  inlong-agent/agent-core/src/test/java/org/apache/inlong/agent/task/TestTaskWrapper.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/file/FileReaderOperator.java
  inlong-common/src/main/java/org/apache/inlong/common/pojo/agent/DataConfig.java
Labels: component/agent

#6011 [INLONG-6009][Agent] Report data size to InLong Audit
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/metrics/audit/AuditUtils.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sinks/SenderManager.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/BinlogReader.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/KafkaReader.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/MongoDBReader.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/PostgreSQLReader.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/RedisReader.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/SQLServerReader.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/SqlReader.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/file/FileReaderOperator.java
Labels: component/agent

#6021 [INLONG-6019][TubeMQ] Modify the name of variables and APIs in Broker statistics related classes
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/BrokerServiceServer.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/msgstore/MessageStore.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/msgstore/mem/MsgMemStore.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/stats/BrokerSrvStatsHolder.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/stats/MsgStoreStatsHolder.java
  inlong-tubemq/tubemq-server/src/test/java/org/apache/inlong/tubemq/server/broker/stats/BrokerSrvStatsHolderTest.java
  inlong-tubemq/tubemq-server/src/test/java/org/apache/inlong/tubemq/server/broker/stats/MsgStoreStatsHolderTest.java
Labels: component/tubemq

#6010 [INLONG-6003][Manager] Change the transform source node name to be MQ node in standard mode
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/sort/DefaultSortConfigOperator.java
Labels: component/manager

#6007 [INLONG-6004][Manager] Command tools add CRUD for inlong cluster node
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/CreateCommand.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/DeleteCommand.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/DescribeCommand.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/ListCommand.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/UpdateCommand.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/pojo/ClusterNodeInfo.java
Labels: component/manager

#6017 [INLONG-6016][Sort] Serialization failed when submit load DLC sort job
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/metric/MetricOption.java
Labels: component/sort, 1.3.x/bugfix

#6028 [INLONG-6027][Sort] Dlc did not restore metric data successfully
  inlong-sort/sort-connectors/iceberg-dlc/src/main/java/org/apache/inlong/sort/iceberg/flink/sink/IcebergStreamWriter.java
Labels: component/sort

#6025 [INLONG-6024][Audit] Fix the invalid default value for 'sdk_ts'
  inlong-audit/audit-store/src/main/java/org/apache/inlong/audit/db/entities/AuditDataPo.java
  inlong-audit/audit-store/src/main/java/org/apache/inlong/audit/service/InsertData.java
  inlong-audit/audit-store/src/main/java/org/apache/inlong/audit/service/MySqlService.java
  inlong-audit/audit-store/src/main/resources/mapper/AuditDataDao.xml
  inlong-audit/audit-store/src/main/resources/sql/apache_inlong_audit.sql
  inlong-audit/sql/apache_inlong_audit.sql
Labels: component/audit, 1.3.x/bugfix

#6036 [INLONG-6035][TubeMQ] Add Broker's message append and file refresh delay statistics
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/TubeBroker.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/metadata/TopicMetadata.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/msgstore/MessageStore.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/msgstore/MessageStoreManager.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/msgstore/disk/MsgFileStore.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/msgstore/mem/MsgMemStore.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/offset/DefaultOffsetManager.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/stats/MsgStoreStatsHolder.java
  inlong-tubemq/tubemq-server/src/test/java/org/apache/inlong/tubemq/server/broker/stats/MsgStoreStatsHolderTest.java
Labels: component/tubemq

#6034 [INLONG-6033][Agent] Support for hidden directories
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/utils/AgentUtils.java
Labels: component/agent

#6039 [INLONG-6038][TubeMQ] Optimize FlowCtrlRuleHandler.updateFlowCtrlInfo()
  inlong-tubemq/tubemq-client/src/main/java/org/apache/inlong/tubemq/client/config/ConsumerConfig.java
  inlong-tubemq/tubemq-client/src/main/java/org/apache/inlong/tubemq/client/consumer/BaseMessageConsumer.java
  inlong-tubemq/tubemq-client/src/main/java/org/apache/inlong/tubemq/client/consumer/RmtDataCache.java
  inlong-tubemq/tubemq-client/src/main/java/org/apache/inlong/tubemq/client/consumer/SimpleClientBalanceConsumer.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/policies/FlowCtrlRuleHandler.java
  inlong-tubemq/tubemq-core/src/test/java/org/apache/inlong/tubemq/corebase/policies/TestFlowCtrlRuleHandler.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/TubeBroker.java
Labels: component/tubemq

#6023 [INLONG-6022][Agent] Fix lost read and send count
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/metrics/AgentMetricItem.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/channel/MemoryChannel.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sinks/SenderManager.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/BinlogReader.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/KafkaReader.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/MongoDBReader.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/PostgreSQLReader.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/SQLServerReader.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/SqlReader.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/file/FileReaderOperator.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/sources/TestSQLServerReader.java
Labels: component/agent, 1.3.x/bugfix

#6020 [INLONG-6018][Manager] Using the Hive data node when creating group resources
  inlong-manager/manager-dao/src/main/resources/mappers/StreamSinkEntityMapper.xml
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/node/hive/HiveDataNodeInfo.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sink/SinkInfo.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/node/DataNodeOperateHelper.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/sink/hive/HiveResourceOperator.java
Labels: component/manager

#6032 [INLONG-6031][Audit] Clean code for InLong Audit
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/metrics/audit/AuditUtils.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/AgentMain.java
  inlong-audit/audit-common/src/main/java/org/apache/inlong/audit/protocol/Commands.java
  inlong-audit/audit-common/src/main/proto/AuditApi.proto
  inlong-audit/audit-proxy/src/main/java/org/apache/inlong/audit/source/ServerMessageHandler.java
  inlong-audit/audit-sdk/src/main/java/org/apache/inlong/audit/AuditOperator.java
  inlong-audit/audit-sdk/src/main/java/org/apache/inlong/audit/send/SenderHandler.java
  inlong-audit/audit-sdk/src/main/java/org/apache/inlong/audit/send/SenderManager.java
  inlong-audit/audit-sdk/src/main/java/org/apache/inlong/audit/util/AuditData.java
  inlong-audit/audit-sdk/src/test/java/org/apache/inlong/audit/util/AuditDataTest.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/metrics/audit/AuditUtils.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/node/Application.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/node/ManagerPropsConfigProvider.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/SortStandaloneApplication.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/metrics/audit/AuditUtils.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/metric/SinkMetricData.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/metric/SourceMetricData.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/stats/audit/AuditUtils.java
Labels: component/tubemq, component/dataproxy, component/agent, component/audit, component/sort

#6041 [INLONG-6040][DataProxy] DataProxy does not fully update the configurations
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/ConfigManager.java
Labels: component/dataproxy

#6029 [INLONG-6026][Audit] Fix the executed error of ClickHouse audit SQL file
  inlong-audit/audit-store/src/main/java/org/apache/inlong/audit/db/entities/ClickHouseDataPo.java
  inlong-audit/audit-store/src/main/resources/sql/apache_inlong_audit_clickhouse.sql
  inlong-audit/sql/apache_inlong_audit_clickhouse.sql
Labels: component/audit, 1.3.x/bugfix

#6048 [INLONG-6047][Agent] Fix file could not be matched in the k8s
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/file/KubernetesFileReader.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/utils/MetaDataUtils.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/utils/MetaDataUtilsTest.java
Labels: component/agent, 1.3.x/bugfix

#6050 [INLONG-6049][DataProxy] Disable OmitStackTraceInFastThrow to print verbose error logs
  inlong-dataproxy/bin/dataproxy-ng
Labels: component/dataproxy, 1.3.x/bugfix

#6053 [INLONG-6052][DataProxy] Wrong value set in PulsarClientService
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/pulsar/PulsarClientService.java
Labels: component/dataproxy, 1.3.x/bugfix

#6059 [INLONG-6058][DataProxy] Add parameter checking and optimize client creation logic
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/ConfigManager.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/pulsar/PulsarClientService.java
Labels: component/dataproxy

#6066 [INLONG-6065][DataProxy] Delete the Pulsar client synchronously when deleting a topic
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/PulsarSink.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/pulsar/PulsarClientService.java
Labels: component/dataproxy

#6070 [INLONG-6069][Audit] Initializing the ClickHouse service before its starts
  inlong-audit/audit-store/src/main/java/org/apache/inlong/audit/service/AuditMsgConsumerServer.java
Labels: component/audit

#6077 [INLONG-6076][Audit] Bugs in the ClickHouseService.processOutput()
  inlong-audit/audit-store/src/main/java/org/apache/inlong/audit/service/ClickHouseService.java
Labels: component/audit
