Repository apache/inlong, pull requests merged in 2022-12, with the labels that each got.

#6670 [INLONG-6584][Sort] Add read phase metric and table level metric for MySQL
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/Constants.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/enums/ReadPhase.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/metric/MetricOption.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/metric/MetricState.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/metric/SourceMetricData.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/metric/phase/ReadPhaseMetricData.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/metric/sub/SourceSubMetricData.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/metric/sub/SourceTableMetricData.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/util/MetricStateUtils.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/debezium/DebeziumSourceFunction.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/MySqlSource.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/table/MySqlTableSource.java
Labels: component/sort

#6688 [INLONG-6671][Sort] Supports dirty data side-output for kafka connector
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/dirty/sink/log/LogDirtySinkFactory.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/dirty/sink/s3/S3DirtySinkFactory.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/dirty/utils/DirtySinkFactoryUtils.java
  inlong-sort/sort-connectors/kafka/src/main/java/org/apache/inlong/sort/kafka/DynamicKafkaSerializationSchema.java
  inlong-sort/sort-connectors/kafka/src/main/java/org/apache/inlong/sort/kafka/KafkaDynamicSink.java
  inlong-sort/sort-connectors/kafka/src/main/java/org/apache/inlong/sort/kafka/table/DynamicKafkaDeserializationSchema.java
  inlong-sort/sort-connectors/kafka/src/main/java/org/apache/inlong/sort/kafka/table/KafkaDynamicSource.java
  inlong-sort/sort-connectors/kafka/src/main/java/org/apache/inlong/sort/kafka/table/KafkaDynamicTableFactory.java
  inlong-sort/sort-connectors/kafka/src/main/java/org/apache/inlong/sort/kafka/table/UpsertKafkaDynamicTableFactory.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/KafkaLoadSqlParseTest.java
Labels: component/sort

#6695 [INLONG-6638][TubeMQ] C++ client supports filtering consume with the "-" character (addendum)
  inlong-tubemq/tubemq-client-twins/tubemq-client-cpp/src/utils.cc
Labels: component/tubemq

#6696 [INLONG-6694][Dashboard] Create with filter value first, if there is a filter plugin
  inlong-dashboard/src/pages/Clusters/CreateModal.tsx
  inlong-dashboard/src/pages/Clusters/index.tsx
  inlong-dashboard/src/pages/GroupDetail/DataSources/DetailModal.tsx
  inlong-dashboard/src/pages/GroupDetail/DataSources/index.tsx
  inlong-dashboard/src/pages/GroupDetail/DataStorage/DetailModal.tsx
  inlong-dashboard/src/pages/GroupDetail/DataStorage/index.tsx
  inlong-dashboard/src/pages/Nodes/DetailModal.tsx
  inlong-dashboard/src/pages/Nodes/index.tsx
Labels: component/dashboard

#6698 [INLONG-6697][Dashboard] Optimize iceberg sink Required
  inlong-dashboard/src/metas/sinks/defaults/Iceberg.ts
Labels: component/dashboard

#6692 [INLONG-6675][Sort] Add metrics.audit.proxy.hosts option to support report metrics
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/flink/FlinkService.java
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/Entrance.java
Labels: component/manager, component/sort

#6691 [INLONG-6690][Sort] Fix the multiple migrations of Doris when batch delete was enabled
  inlong-sort/sort-connectors/doris/src/main/java/org/apache/inlong/sort/doris/table/DorisDynamicSchemaOutputFormat.java
Labels: component/sort

#6683 [INLONG-6681][Agent] Handle different sink type configurations
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/conf/JobProfile.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/constant/JobConstants.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/pojo/JobProfileDto.java
  inlong-agent/agent-common/src/test/java/org/apache/inlong/agent/conf/TestConfiguration.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/job/Job.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sinks/SenderManager.java
  inlong-common/pom.xml
  inlong-common/src/main/java/org/apache/inlong/common/enums/DataReportTypeEnum.java
  inlong-common/src/main/java/org/apache/inlong/common/enums/TaskTypeEnum.java
  inlong-common/src/main/java/org/apache/inlong/common/pojo/agent/DataConfig.java
  inlong-common/src/main/java/org/apache/inlong/common/pojo/dataproxy/DataProxyTopicInfo.java
  inlong-common/src/main/java/org/apache/inlong/common/pojo/dataproxy/MQClusterInfo.java
Labels: component/agent

#6701 [INLONG-6610][Manager] Support the saving and query of data report-to settings (addendum)
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/group/InlongGroupServiceImpl.java
Labels: component/manager

#6712 [INLONG-6707][Sort] Delay the release of audit metrics
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/SortCluster.java
Labels: component/sort

#6716 [INLONG-6715][DataProxy] Fix json problem in data proxy
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/holder/IdTopicConfigHolder.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/loader/ManagerIdTopicConfigLoader.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/pojo/IdTopicConfig.java
Labels: component/dataproxy

#6721 [INLONG-6720][Manager] Implement InlongClusterEntityMapper.selectByClusterTag
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/InlongClusterEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/mappers/InlongClusterEntityMapper.xml
Labels: component/manager

#6711 [INLONG-6706][Sort] Fix the wrong client id of Kafka sink
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/kafka/KafkaProducerCluster.java
Labels: component/sort

#6722 [INLONG-6610][Manager] Support query all MQ clusters by cluster tag (addendum)
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/AgentServiceImpl.java
Labels: component/manager

#6713 [INLONG-6656][SDK] Support QueryConsumerConfig plugin
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/api/QueryConsumeConfig.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/impl/QueryConsumeConfigImpl.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/impl/SortClientImplV2.java
  inlong-sort-standalone/sort-standalone-common/src/main/java/org/apache/inlong/sort/standalone/config/loader/ClassResourceQueryConsumeConfig.java
Labels: component/sort, component/sdk

#6714 [INLONG-6708][DataProxy] Add more metrics of DataProxy
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/metrics/DataProxyMetricItem.java
Labels: component/dataproxy

#6693 [INLONG-6689][Docker] Support running docker-compose on Arm Chip
  docker/docker-compose/docker-compose.yml
Labels: service/docker

#6719 [INLONG-6699][Dashboard] Support MQTT source
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/locales/en.json
  inlong-dashboard/src/metas/sources/defaults/MQTT.ts
  inlong-dashboard/src/metas/sources/defaults/index.ts
Labels: component/dashboard

#6700 [INLONG-4969][TubeMQ] Python SDK for Producing Message
  inlong-tubemq/tubemq-client-twins/tubemq-client-python/README.md
  inlong-tubemq/tubemq-client-twins/tubemq-client-python/src/cpp/tubemq_client.cc
  inlong-tubemq/tubemq-client-twins/tubemq-client-python/src/cpp/tubemq_config.cc
  inlong-tubemq/tubemq-client-twins/tubemq-client-python/src/cpp/tubemq_message.cc
  inlong-tubemq/tubemq-client-twins/tubemq-client-python/src/python/example/test_producer.py
  inlong-tubemq/tubemq-client-twins/tubemq-client-python/src/python/tubemq/__init__.py
  inlong-tubemq/tubemq-client-twins/tubemq-client-python/src/python/tubemq/client.py
Labels: component/tubemq

#6733 [INLONG-6732][Manager] Fix wrong SortSDK topic properties
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/SortSourceServiceImpl.java
Labels: component/manager

#6725 [INLONG-6724][Sort] Supports dirty data side-output for doris sink
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/dirty/DirtyType.java
  inlong-sort/sort-connectors/doris/src/main/java/org/apache/inlong/sort/doris/table/DorisDynamicSchemaOutputFormat.java
  inlong-sort/sort-connectors/doris/src/main/java/org/apache/inlong/sort/doris/table/DorisDynamicTableFactory.java
  inlong-sort/sort-connectors/doris/src/main/java/org/apache/inlong/sort/doris/table/DorisDynamicTableSink.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/DorisExtractNodeToDorisLoadNodeTest.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/DorisMultipleSinkTest.java
Labels: component/sort

#6658 [INLONG-6657][Sort] Add dirty data metric for Hive
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/metric/SinkMetricData.java
  inlong-sort/sort-connectors/hive/src/main/java/org/apache/inlong/sort/hive/filesystem/AbstractStreamingWriter.java
Labels: component/sort

#6709 [INLONG-6704][Agent] Add PulsarSink
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/constant/AgentConstants.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/message/BatchProxyMessage.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/pojo/JobProfileDto.java
  inlong-agent/agent-common/src/test/java/org/apache/inlong/agent/conf/TestConfiguration.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/message/PackProxyMessage.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sinks/AbstractSink.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sinks/ProxySink.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sinks/PulsarSink.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sinks/SenderManager.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/sinks/PulsarSinkTest.java
  inlong-agent/agent-plugins/src/test/resources/pulsarSinkJob.json
  inlong-common/src/main/java/org/apache/inlong/common/enums/TaskTypeEnum.java
  inlong-common/src/main/java/org/apache/inlong/common/msg/AttributeConstants.java
  inlong-common/src/main/java/org/apache/inlong/common/util/MessageUtils.java
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/DefaultMessageSender.java
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/utils/ProxyUtils.java
Labels: component/agent, component/sdk

#6726 [INLONG-6575][Sort] Add dirty data metric for Filesystem
  inlong-sort/sort-connectors/filesystem/src/main/java/org/apache/inlong/sort/filesystem/stream/AbstractStreamingWriter.java
Labels: component/sort

#6757 [INLONG-6744][Dashboard] Hive sink supports selecting hive nodes
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/locales/en.json
  inlong-dashboard/src/metas/nodes/defaults/Hive.ts
  inlong-dashboard/src/metas/sinks/defaults/Hive.ts
Labels: component/dashboard

#6769 [INLONG-6768][Manager] Fix the problem of unable to find dataNode information according to keyword
  inlong-manager/manager-dao/src/main/resources/mappers/DataNodeEntityMapper.xml
Labels: component/manager

#6764 [INLONG-6763][Manager] Remove unnecessary validation when saving HiveSinkRequest
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sink/hive/HiveSinkRequest.java
Labels: component/manager

#6767 [INLONG-6761][Dashboard] Support Iceberg node management
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/locales/en.json
  inlong-dashboard/src/metas/nodes/defaults/Iceberg.ts
  inlong-dashboard/src/metas/nodes/defaults/index.ts
  inlong-dashboard/src/metas/sinks/defaults/Iceberg.ts
Labels: component/dashboard

#6776 [INLONG-6775][Dashboard] Fix the risk of source code exposure in the production environment
  inlong-dashboard/.env.production
  inlong-dashboard/craco.config.ts
  inlong-dashboard/package-lock.json
  inlong-dashboard/package.json
Labels: component/dashboard

#6739 [INLONG-6738][DataProxy] New sink architecture integration
  inlong-common/src/main/java/org/apache/inlong/common/heartbeat/ComponentHeartbeat.java
  inlong-common/src/main/java/org/apache/inlong/common/heartbeat/HeartbeatMsg.java
  inlong-dataproxy/conf/common.properties
  inlong-dataproxy/conf/dataproxy-pulsar.conf
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/RemoteConfigManager.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/consts/ConfigConstants.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/heartbeat/HeartbeatManager.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/mq/MessageQueueZoneProducer.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/mq/pulsar/PulsarHandler.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/ServerMessageHandler.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/utils/ConfStringUtils.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/heartbeat/HeartbeatManager.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/repository/DataProxyConfigRepository.java
Labels: component/manager, component/dataproxy

#6774 [INLONG-6773][Manager] Fix the problem of sink cannot jump from the configuration to successful configuration
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/StreamSinkServiceImpl.java
Labels: component/manager

#6766 [INLONG-6765][Sort] Supports dirty data side-output for Iceberg sink
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/Constants.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/dirty/DirtyData.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/dirty/DirtyType.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/dirty/sink/log/LogDirtySink.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/dirty/sink/s3/S3DirtySink.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/dirty/utils/FormatUtils.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/sink/MultipleSinkOption.java
  inlong-sort/sort-connectors/base/src/test/java/org/apache/inlong/sort/base/dirty/FormatUtilsTest.java
  inlong-sort/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/FlinkDynamicTableFactory.java
  inlong-sort/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/IcebergTableSink.java
  inlong-sort/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/FlinkSink.java
  inlong-sort/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/multiple/DynamicSchemaHandleOperator.java
  inlong-sort/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/multiple/IcebergMultipleStreamWriter.java
  inlong-sort/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/multiple/IcebergSingleStreamWriter.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/IcebergNodeSqlParserTest.java
Labels: component/sort

#6583 [INLONG-6428][Sort] Add connector to support elasticsearch-5.X
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/load/ElasticsearchLoadNode.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/Elasticsearch5SqlParseTest.java
Labels: component/sort

#6746 [INLONG-6745][Manager] Support StarRocks load node management
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/consts/SinkType.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sink/starrocks/StarRocksSink.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sink/starrocks/StarRocksSinkDTO.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sink/starrocks/StarRocksSinkRequest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/util/LoadNodeUtils.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/starrocks/StarRocksSinkOperator.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/constant/StarRocksConstant.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/load/StarRocksLoadNode.java
Labels: component/manager, component/sort

#6798 [INLONG-6772][Dashboard] Support ClickHouse node management
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/locales/en.json
  inlong-dashboard/src/metas/nodes/defaults/ClickHouse.ts
  inlong-dashboard/src/metas/nodes/defaults/index.ts
  inlong-dashboard/src/metas/sinks/defaults/ClickHouse.ts
Labels: component/dashboard

#6791 [INLONG-6786][Dashboard] Supoort Apache Hudi sink management
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/locales/en.json
  inlong-dashboard/src/metas/sinks/defaults/Hudi.ts
  inlong-dashboard/src/metas/sinks/defaults/index.ts
Labels: component/dashboard

#6783 [INLONG-6782][Sort] Support Apache Hudi connector
  inlong-distribution/src/main/assemblies/sort-connectors.xml
  inlong-sort/pom.xml
  inlong-sort/sort-connectors/hudi/pom.xml
  inlong-sort/sort-connectors/hudi/src/main/java/org/apache/inlong/sort/hudi/table/HudiTableInlongFactory.java
  inlong-sort/sort-connectors/hudi/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
  inlong-sort/sort-connectors/pom.xml
  licenses/inlong-sort-connectors/licenses/LICENSE-hudi-flink1.13-bundle.txt
  pom.xml
Labels: component/sort

#6796 [INLONG-6795][Sort] Supports dirty data side-output for hive sink
  inlong-sort/sort-connectors/hive/src/main/java/org/apache/inlong/sort/hive/HiveTableSink.java
  inlong-sort/sort-connectors/hive/src/main/java/org/apache/inlong/sort/hive/filesystem/AbstractStreamingWriter.java
  inlong-sort/sort-connectors/hive/src/main/java/org/apache/inlong/sort/hive/filesystem/CompactFileWriter.java
  inlong-sort/sort-connectors/hive/src/main/java/org/apache/inlong/sort/hive/filesystem/StreamingFileWriter.java
  inlong-sort/sort-connectors/hive/src/main/java/org/apache/inlong/sort/hive/filesystem/StreamingSink.java
  inlong-sort/sort-connectors/hive/src/main/java/org/apache/inlong/sort/hive/table/HiveTableInlongFactory.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/FlinkSqlParserTest.java
Labels: component/sort

#6807 [INLONG-6806][Manager] Fix the hosts incorrect parameter of es connector delivered by the manager
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/util/LoadNodeUtils.java
Labels: component/manager

#6799 [INLONG-6797][Sort] Supports dirty data side-output for filesystem sink
  inlong-sort/sort-connectors/filesystem/src/main/java/org/apache/inlong/sort/filesystem/FileSystemTableFactory.java
  inlong-sort/sort-connectors/filesystem/src/main/java/org/apache/inlong/sort/filesystem/FileSystemTableSink.java
  inlong-sort/sort-connectors/filesystem/src/main/java/org/apache/inlong/sort/filesystem/stream/AbstractStreamingWriter.java
  inlong-sort/sort-connectors/filesystem/src/main/java/org/apache/inlong/sort/filesystem/stream/StreamingFileWriter.java
  inlong-sort/sort-connectors/filesystem/src/main/java/org/apache/inlong/sort/filesystem/stream/StreamingSink.java
  inlong-sort/sort-connectors/filesystem/src/main/java/org/apache/inlong/sort/filesystem/stream/compact/CompactFileWriter.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/FlinkSqlParserTest.java
Labels: component/sort

#6809 [INLONG-6804][Manager] Workflow initialization threw IllegalArgumentException: Unsupported FieldType text or keyword
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/FieldType.java
Labels: component/manager

#6803 [INLONG-6802][DataProxy][Manager] Adapt Apache Kafka as cache cluster
  inlong-common/src/main/java/org/apache/inlong/common/constant/Constants.java
  inlong-dataproxy/bin/dataproxy-start.sh
  inlong-dataproxy/conf/dataproxy.conf
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/common/SinkContext.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/mq/MessageQueueZoneProducer.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/mq/kafka/KafkaHandler.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/mq/pulsar/PulsarHandler.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/mq/tube/TubeHandler.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/ServerMessageHandler.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/cluster/ClusterRequest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/cluster/kafka/KafkaClusterDTO.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/cluster/pulsar/PulsarClusterDTO.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/cluster/tubemq/TubeClusterDTO.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/InlongClusterServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/KafkaClusterOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/PulsarClusterOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/queue/kafka/KafkaResourceOperators.java
Labels: component/manager, component/dataproxy

#6748 [INLONG-6747][Sort] StarRocks connector supports transferring all tables for all schemas in one database
  inlong-distribution/src/main/assemblies/sort-connectors.xml
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/constant/Constant.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/constant/StarRocksConstant.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/LoadNode.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/Node.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/load/StarRocksLoadNode.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/sink/SchemaUpdateExceptionPolicy.java
  inlong-sort/sort-connectors/pom.xml
  inlong-sort/sort-connectors/starrocks/pom.xml
  inlong-sort/sort-connectors/starrocks/src/main/java/org/apache/inlong/sort/starrocks/manager/StarRocksSinkManager.java
  inlong-sort/sort-connectors/starrocks/src/main/java/org/apache/inlong/sort/starrocks/manager/StarRocksStreamLoadVisitor.java
  inlong-sort/sort-connectors/starrocks/src/main/java/org/apache/inlong/sort/starrocks/table/sink/StarRocksDynamicSinkFunction.java
  inlong-sort/sort-connectors/starrocks/src/main/java/org/apache/inlong/sort/starrocks/table/sink/StarRocksDynamicTableSink.java
  inlong-sort/sort-connectors/starrocks/src/main/java/org/apache/inlong/sort/starrocks/table/sink/StarRocksDynamicTableSinkFactory.java
  inlong-sort/sort-connectors/starrocks/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
  inlong-sort/sort-core/pom.xml
  licenses/inlong-sort-connectors/LICENSE
Labels: component/sort

#6789 [INLONG-6784][Sort] Support load node of Apache Hudi
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/LoadNode.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/Node.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/load/HudiLoadNode.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/node/load/HudiLoadNodeTest.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/HudiNodeSqlParserTest.java
Labels: component/sort

#6811 [INLONG-6810][POM] unify versions of os-maven-plugin and protobuf-maven-plugin
  inlong-audit/audit-common/pom.xml
  inlong-sdk/sdk-common/pom.xml
  inlong-tubemq/tubemq-core/pom.xml
  pom.xml
Labels: component/tubemq, component/audit, component/sdk

#6677 [INLONG-6676][Manager] Support list all InlongTopicInfo under a given cluster tag
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/client/InlongGroupClient.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/service/InlongGroupApi.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/InlongGroupEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/mappers/InlongGroupEntityMapper.xml
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/group/InlongGroupTopicRequest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/group/InlongGroupService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/group/InlongGroupServiceImpl.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/InlongGroupController.java
Labels: component/manager

#6801 [INLONG-6772][Dashboard] MySQL sink supports selecting MySQL nodes
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/locales/en.json
  inlong-dashboard/src/metas/nodes/defaults/MySQL.ts
  inlong-dashboard/src/metas/sinks/defaults/MySQL.ts
Labels: component/dashboard

#6821 [INLONG-6770][Sort] Optimize EsSink params
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/elasticsearch/EsOutputChannel.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/elasticsearch/EsSinkContext.java
Labels: component/sort

#6836 [INLONG-6835][Manager] Fix the error about backup mq resource of DataProxy getAllConfig interface
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/repository/DataProxyConfigRepository.java
Labels: component/manager

#6817 [INLONG-6815][Manager] Elasticsearch port parameter is missing
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sink/es/ElasticsearchSinkDTO.java
Labels: component/manager

#6844 [INLONG-6843][Dashboard] ES datanode parameter improvement
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/locales/en.json
  inlong-dashboard/src/metas/nodes/defaults/Elasticsearch.ts
Labels: component/dashboard

#6818 [INLONG-6816][Sort][Manager] Remove the DLC Iceberg-related files
  inlong-distribution/src/main/assemblies/sort-connectors.xml
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/consts/SinkType.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/flink/enums/ConnectorJarType.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sink/dlciceberg/DLCIcebergSink.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sink/dlciceberg/DLCIcebergSinkDTO.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sink/dlciceberg/DLCIcebergSinkRequest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/util/LoadNodeUtils.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/iceberg/DLCIcebergSinkOperator.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/sink/DLCIcebergSinkServiceTest.java
  inlong-sort/pom.xml
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/constant/DLCConstant.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/LoadNode.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/Node.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/load/DLCIcebergLoadNode.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/node/load/DLCIcebergLoadNodeTest.java
  inlong-sort/sort-connectors/iceberg-dlc/pom.xml
  inlong-sort/sort-connectors/iceberg-dlc/src/main/java/org/apache/inlong/sort/iceberg/catalog/hybris/CachedClientPool.java
  inlong-sort/sort-connectors/iceberg-dlc/src/main/java/org/apache/inlong/sort/iceberg/catalog/hybris/DLCWrappedHybrisClientPool.java
  inlong-sort/sort-connectors/iceberg-dlc/src/main/java/org/apache/inlong/sort/iceberg/catalog/hybris/DlcWrappedHybrisCatalog.java
  inlong-sort/sort-connectors/iceberg-dlc/src/main/java/org/apache/inlong/sort/iceberg/catalog/hybris/HiveTableOperations.java
  inlong-sort/sort-connectors/iceberg-dlc/src/main/java/org/apache/inlong/sort/iceberg/flink/CompactTableProperties.java
  inlong-sort/sort-connectors/iceberg-dlc/src/main/java/org/apache/inlong/sort/iceberg/flink/FlinkCatalog.java
  inlong-sort/sort-connectors/iceberg-dlc/src/main/java/org/apache/inlong/sort/iceberg/flink/FlinkCatalogFactory.java
  inlong-sort/sort-connectors/iceberg-dlc/src/main/java/org/apache/inlong/sort/iceberg/flink/FlinkDynamicTableFactory.java
  inlong-sort/sort-connectors/iceberg-dlc/src/main/java/org/apache/inlong/sort/iceberg/flink/IcebergTableSink.java
  inlong-sort/sort-connectors/iceberg-dlc/src/main/java/org/apache/inlong/sort/iceberg/flink/actions/RewriteResult.java
  inlong-sort/sort-connectors/iceberg-dlc/src/main/java/org/apache/inlong/sort/iceberg/flink/actions/SyncRewriteDataFilesAction.java
  inlong-sort/sort-connectors/iceberg-dlc/src/main/java/org/apache/inlong/sort/iceberg/flink/actions/SyncRewriteDataFilesActionOption.java
  inlong-sort/sort-connectors/iceberg-dlc/src/main/java/org/apache/inlong/sort/iceberg/flink/sink/BaseDeltaTaskWriter.java
  inlong-sort/sort-connectors/iceberg-dlc/src/main/java/org/apache/inlong/sort/iceberg/flink/sink/DeltaManifests.java
  inlong-sort/sort-connectors/iceberg-dlc/src/main/java/org/apache/inlong/sort/iceberg/flink/sink/DeltaManifestsSerializer.java
  inlong-sort/sort-connectors/iceberg-dlc/src/main/java/org/apache/inlong/sort/iceberg/flink/sink/FlinkManifestUtil.java
  inlong-sort/sort-connectors/iceberg-dlc/src/main/java/org/apache/inlong/sort/iceberg/flink/sink/FlinkSink.java
  inlong-sort/sort-connectors/iceberg-dlc/src/main/java/org/apache/inlong/sort/iceberg/flink/sink/IcebergFilesCommitter.java
  inlong-sort/sort-connectors/iceberg-dlc/src/main/java/org/apache/inlong/sort/iceberg/flink/sink/IcebergStreamWriter.java
  inlong-sort/sort-connectors/iceberg-dlc/src/main/java/org/apache/inlong/sort/iceberg/flink/sink/ManifestOutputFileFactory.java
  inlong-sort/sort-connectors/iceberg-dlc/src/main/java/org/apache/inlong/sort/iceberg/flink/sink/PartitionKeySelector.java
  inlong-sort/sort-connectors/iceberg-dlc/src/main/java/org/apache/inlong/sort/iceberg/flink/sink/PartitionedDeltaWriter.java
  inlong-sort/sort-connectors/iceberg-dlc/src/main/java/org/apache/inlong/sort/iceberg/flink/sink/RowDataTaskWriterFactory.java
  inlong-sort/sort-connectors/iceberg-dlc/src/main/java/org/apache/inlong/sort/iceberg/flink/sink/UnpartitionedDeltaWriter.java
  inlong-sort/sort-connectors/iceberg-dlc/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
  inlong-sort/sort-connectors/pom.xml
  inlong-sort/sort-core/pom.xml
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/DLCIcebergSqlParseTest.java
  licenses/inlong-sort-connectors/LICENSE
  pom.xml
Labels: component/manager, component/sort

#6840 [INLONG-6839][Sort] Clean up remain event when the related stream is offline
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/kafka/KafkaFederationSinkContext.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/kafka/KafkaFederationWorker.java
Labels: component/sort

#6851 [INLONG-6850][TubeMQ] fix duplicated excception caught
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corerpc/netty/NettyClientFactory.java
Labels: component/tubemq

#6814 [INLONG-6813][Sort] MetricStateUtils threw NPE when write to es and no dirtyRecordsOut counter
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/util/MetricStateUtils.java
Labels: component/sort

#6831 [INLONG-6830][Manager] Optimize the config managerment of SortSDK
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/SortSourceServiceImpl.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/manager/InlongMultiTopicManager.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/manager/InlongSingleTopicManager.java
Labels: component/manager, component/sdk

#6855 [INLONG-6852][Audit] agent and dataproxy report audit data when the program exits
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/AgentMain.java
  inlong-dataproxy/bin/dataproxy-stop.sh
Labels: component/dataproxy, component/agent

#6849 [INLONG-6848][DataProxy] Adapt original InlongMsg protocol and headers
  inlong-dataproxy/dataproxy-docker/dataproxy-docker.sh
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/mq/BatchPackManager.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/mq/MessageQueueZoneSink.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/mq/SimpleBatchPackProfileV0.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/mq/kafka/KafkaHandler.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/mq/pulsar/PulsarHandler.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/mq/tube/TubeHandler.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/ServerMessageHandler.java
Labels: component/dataproxy, service/docker

#6845 [INLONG-5669][SDK] Extract SortClientConfig parameters key to constants
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/api/ConfigConstants.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/api/SortClientConfig.java
Labels: component/sdk

#6857 [INLONG-6837][Dashboard] ES sink support version, documentType and primaryKey options
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/locales/en.json
  inlong-dashboard/src/metas/sinks/defaults/Elasticsearch.ts
Labels: component/dashboard

#6808 [INLONG-6751][Sort] Add read phase metric and table level metric for Oracle
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/metric/sub/SourceTableMetricData.java
  inlong-sort/sort-connectors/cdc-base/src/main/java/org/apache/inlong/sort/cdc/base/util/CallbackCollector.java
  inlong-sort/sort-connectors/oracle-cdc/src/main/java/org/apache/inlong/sort/cdc/oracle/OracleSource.java
  inlong-sort/sort-connectors/oracle-cdc/src/main/java/org/apache/inlong/sort/cdc/oracle/debezium/DebeziumSourceFunction.java
  inlong-sort/sort-connectors/oracle-cdc/src/main/java/org/apache/inlong/sort/cdc/oracle/table/OracleTableSource.java
Labels: component/sort

#6846 [INLONG-6771][Manager] Add login failure limit
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/user/UserLoginLockStatus.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/user/UserService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/user/UserServiceImpl.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/AnnoController.java
  inlong-manager/manager-web/src/test/java/org/apache/inlong/manager/web/controller/AnnoControllerTest.java
Labels: component/manager

#6866 [INLONG-6865][Dashboard] Support npm ci command for stable package-lock
  inlong-dashboard/pom.xml
Labels: component/dashboard

#6859 [INLONG-6842][Sort] Improve mysql-cdc2.0 to support tables without primary key
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/debezium/task/MySqlSnapshotSplitReadTask.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/source/assigners/ChunkSplitter.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/source/split/MySqlSnapshotSplit.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/table/MySqlTableInlongSourceFactory.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/AllMigrateTest.java
Labels: component/sort

#6875 [INLONG-6874][Dashboard] Stream removes the Raw-CSV data format
  inlong-dashboard/src/metas/streams/common/StreamDefaultInfo.ts
Labels: component/dashboard

#6828 [INLONG-6827][Manager] Optimize the config managerment of SortStandalone
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/SortClusterServiceImpl.java
Labels: component/manager

#6870 [INLONG-6869][Sort] Supports dirty data side-output for elasticsearch sink
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/dirty/DirtySinkHelper.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/dirty/DirtyType.java
  inlong-sort/sort-connectors/elasticsearch-6/src/main/java/org/apache/inlong/sort/elasticsearch6/ElasticsearchSink.java
  inlong-sort/sort-connectors/elasticsearch-6/src/main/java/org/apache/inlong/sort/elasticsearch6/table/Elasticsearch6DynamicSink.java
  inlong-sort/sort-connectors/elasticsearch-6/src/main/java/org/apache/inlong/sort/elasticsearch6/table/Elasticsearch6DynamicSinkFactory.java
  inlong-sort/sort-connectors/elasticsearch-7/src/main/java/org/apache/inlong/sort/elasticsearch7/ElasticsearchSink.java
  inlong-sort/sort-connectors/elasticsearch-7/src/main/java/org/apache/inlong/sort/elasticsearch7/table/Elasticsearch7DynamicSink.java
  inlong-sort/sort-connectors/elasticsearch-7/src/main/java/org/apache/inlong/sort/elasticsearch7/table/Elasticsearch7DynamicSinkFactory.java
  inlong-sort/sort-connectors/elasticsearch-base/src/main/java/org/apache/inlong/sort/elasticsearch/ElasticsearchSinkBase.java
  inlong-sort/sort-connectors/elasticsearch-base/src/main/java/org/apache/inlong/sort/elasticsearch/table/RowElasticsearchSinkFunction.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/ElasticsearchSqlParseTest.java
Labels: component/sort

#6881 [INLONG-6878][TubeMQ] Improve the description of the return code in the consumer SDK
  inlong-tubemq/tubemq-client-twins/tubemq-client-cpp/example/consumer/test_consumer.cc
  inlong-tubemq/tubemq-client-twins/tubemq-client-python/src/python/example/test_consumer.py
  inlong-tubemq/tubemq-client-twins/tubemq-client-python/src/python/tubemq/client.py
Labels: component/tubemq

#6872 [INLONG-6864][Sort] Modify hive metric computing to ensure metric data accuracy
  inlong-sort/sort-connectors/hive/src/main/java/org/apache/inlong/sort/hive/filesystem/AbstractStreamingWriter.java
Labels: component/sort

#6889 [INLONG-6888][CI] Fix the bug of all Docker workflow failed
  .github/workflows/ci_docker.yml
Labels: service/ci

#6877 [INLONG-6876][Manager] Always enable "scan.incremental.snapshot" for MySQL extract node
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/util/ExtractNodeUtils.java
Labels: component/manager

#6883 [INLONG-6882][Docker] Update the docker-compose version requirement in the readme
  docker/docker-compose/README.md
Labels: service/docker

#6894 [INLONG-6893][CI] Fix build and push docker image skipped
  .github/workflows/ci_chart_test.yml
  .github/workflows/ci_docker.yml
Labels: service/ci

#6895 [INLONG-6893][CI] Fix build and push docker image skipped(addendum)
  .github/workflows/ci_chart_test.yml
  .github/workflows/ci_docker.yml
Labels: service/ci

#6891 [INLONG-6890][DataProxy] Fix tubemq MQ_TYPE enum and optimize sink code and config file
  inlong-dataproxy/conf/dataproxy-tubemq.conf
  inlong-dataproxy/conf/dataproxy.conf
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/mq/tube/TubeHandler.java
  inlong-manager/manager-dao/src/main/resources/mappers/ClusterSetMapper.xml
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/cluster/tubemq/TubeClusterDTO.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/TubeClusterOperator.java
Labels: component/manager, component/dataproxy

#6885 [INLONG-6884][Sort] Add dirty message for kafka connector
  inlong-sort/sort-connectors/kafka/src/main/java/org/apache/inlong/sort/kafka/DynamicKafkaSerializationSchema.java
  inlong-sort/sort-connectors/kafka/src/main/java/org/apache/inlong/sort/kafka/table/DynamicKafkaDeserializationSchema.java
Labels: component/sort

#6887 [INLONG-6886][Sort] Add dirty message for doris sink
  inlong-sort/sort-connectors/doris/src/main/java/org/apache/inlong/sort/doris/table/DorisDynamicSchemaOutputFormat.java
Labels: component/sort

#6901 [INLONG-6900][Dashboard] Support pulling up the field list of Source in Sink
  inlong-dashboard/src/pages/GroupDetail/DataStorage/DetailModal.tsx
Labels: component/dashboard

#6752 [INLONG-6780][Sort] Supports dirty data side-output for JDBC connector and related sinks
  inlong-sort/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/internal/JdbcBatchingOutputFormat.java
  inlong-sort/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/internal/TableJdbcUpsertOutputFormat.java
  inlong-sort/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/table/JdbcDynamicOutputFormatBuilder.java
  inlong-sort/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/table/JdbcDynamicTableFactory.java
  inlong-sort/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/table/JdbcDynamicTableSink.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/DorisExtractNodeToMySqlLoadNodeTest.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/MySqlLoadSqlParseTest.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/OracleLoadSqlParseTest.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/PostgresLoadNodeFlinkSqlParseTest.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/SqlServerNodeSqlParseTest.java
Labels: component/sort

#6911 [INLONG-6907][SortStandalone] Support to close StatsRecorder of pulsar client
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/consts/ConfigConstants.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/mq/pulsar/PulsarHandler.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/mqzone/impl/pulsarzone/PulsarClusterProducer.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/pulsar/PulsarClientService.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/pulsar/federation/PulsarProducerCluster.java
  inlong-dataproxy/dataproxy-source/src/test/java/org/apache/inlong/dataproxy/utils/MockUtils.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/api/ConfigConstants.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/api/SortClientConfig.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/impl/InlongTopicManagerImpl.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/manager/InlongMultiTopicManager.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/manager/InlongSingleTopicManager.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/pulsar/PulsarProducerCluster.java
Labels: component/dataproxy, component/sort, component/sdk

#6906 [INLONG-6905][Manager] Add OpenAPIs for InLong cluster and data node operations
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/ErrorCodeEnum.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/InlongClusterService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/InlongClusterServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/group/InlongGroupProcessService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/group/InlongGroupService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/group/InlongGroupServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/node/DataNodeService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/node/DataNodeServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/StreamSinkService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/StreamSinkServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/stream/InlongStreamService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/stream/InlongStreamServiceImpl.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/openapi/OpenClusterController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/openapi/OpenDataNodeController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/openapi/OpenInLongClusterController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/openapi/OpenInLongGroupController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/openapi/OpenInLongStreamController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/openapi/OpenStreamSinkController.java
Labels: component/manager

#6832 [INLONG-6823][Sort] Parse the epoch date to normal date for Doris sink
  inlong-sort/sort-connectors/doris/src/main/java/org/apache/inlong/sort/doris/table/DorisDynamicSchemaOutputFormat.java
  inlong-sort/sort-connectors/doris/src/main/java/org/apache/inlong/sort/doris/util/DorisParseUtils.java
Labels: component/sort

#6917 [INLONG-6914][Sort] Fix Doris connector parallelism setting error
  inlong-sort/sort-connectors/doris/src/main/java/org/apache/inlong/sort/doris/table/DorisDynamicTableFactory.java
Labels: component/sort

#6873 [INLONG-6861][Dashboard] Support extract node of Apache Hudi
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/locales/en.json
  inlong-dashboard/src/metas/sources/defaults/Hudi.ts
Labels: component/dashboard

#6910 [INLONG-6904][Dashboard] File source type supports selecting agent cluster
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/locales/en.json
  inlong-dashboard/src/metas/sources/defaults/File.ts
Labels: component/dashboard

#6922 [INLONG-6916][Dashboard] MQ type adds partition limit
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/locales/en.json
  inlong-dashboard/src/metas/groups/defaults/Kafka.ts
  inlong-dashboard/src/metas/groups/defaults/Pulsar.ts
  inlong-dashboard/src/metas/groups/defaults/TubeMq.ts
Labels: component/dashboard

#6932 [INLONG-6930][Dashboard]Create a new cluster token placeholder configuration i18n
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/locales/en.json
  inlong-dashboard/src/metas/clusters/defaults/Pulsar.ts
Labels: component/dashboard

#6934 [INLONG-6933][Manager] Add OpenAPIs for InLong stream-source and stream-transform operations
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/InlongClusterService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/InlongClusterServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/group/InlongGroupServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/node/DataNodeService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/node/DataNodeServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/StreamSourceService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/StreamSourceServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/stream/InlongStreamServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/transform/StreamTransformService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/transform/StreamTransformServiceImpl.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/auth/openapi/OpenAPIAuthenticatingRealm.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/auth/openapi/OpenAPIFilter.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/openapi/OpenStreamSourceController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/openapi/OpenStreamTransformController.java
Labels: component/manager

#6924 [INLONG-6923][Dashboard] Application and Approval Interchange for Approval Management
  inlong-dashboard/src/pages/Process/index.tsx
Labels: component/dashboard

#6929 [INLONG-6928][Dashboard] Change management of approval responsible person to process management
  inlong-dashboard/src/configs/menus/index.ts
  inlong-dashboard/src/i18n.ts
Labels: component/dashboard

#6941 [INLONG-6940][Dashboard] Type name correction
  inlong-dashboard/src/metas/sources/defaults/index.ts
Labels: component/dashboard

#6950 [INLONG-6949][Sort] support all rowkinds for metric computing and restore metrics state for dirty metric for jdbc connector
  inlong-sort/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/internal/JdbcBatchingOutputFormat.java
  inlong-sort/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/table/JdbcDynamicTableSink.java
Labels: component/sort

#6953 [INLONG-6952][Sort] Cancel parsing fault tolerance for JsonDynamicSchemaFormat
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/format/JsonDynamicSchemaFormat.java
Labels: component/sort

#6943 [INLONG-6838][Manager] Support multi addresses for ES load node
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/locales/en.json
  inlong-dashboard/src/metas/nodes/defaults/Elasticsearch.ts
  inlong-manager/manager-client/src/test/java/org/apache/inlong/manager/client/api/inner/ClientFactoryTest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/consts/InlongConstants.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sink/es/ElasticsearchSink.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sink/es/ElasticsearchSinkDTO.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sink/es/ElasticsearchSinkRequest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/util/LoadNodeUtils.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/sink/es/ElasticsearchConfig.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/sink/es/ElasticsearchResourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/es/ElasticsearchSinkOperator.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/sink/ElasticsearchSinkServiceTest.java
Labels: component/manager, component/dashboard

#6937 [INLONG-6909][Manager] Rename Flink Job to avoid conflicts
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/flink/FlinkService.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/flink/enums/Constants.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/listener/RestartSortListener.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/listener/RestartStreamListener.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/listener/StartupSortListener.java
Labels: component/manager

#6939 [INLONG-6938][Manager] Supports to create a StarRocks database or table
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sink/starrocks/StarRocksColumnInfo.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sink/starrocks/StarRocksSink.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sink/starrocks/StarRocksSinkDTO.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sink/starrocks/StarRocksSinkRequest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sink/starrocks/StarRocksTableInfo.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/sink/starrocks/StarRocksJdbcUtils.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/sink/starrocks/StarRocksResourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/sink/starrocks/StarRocksSqlBuilder.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/starrocks/StarRocksSinkOperator.java
Labels: component/manager

#6951 [INLONG-6944][SDK] Remove useless code of SortSDK
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/api/InLongTopicFetcher.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/api/InlongTopicManager.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/api/SortClientFactory.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/impl/InlongTopicManagerImpl.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/impl/ManagerReporter.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/impl/SortClientImpl.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/impl/SortClientImplV2.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/impl/kafka/InLongKafkaFetcherImpl.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/impl/pulsar/InLongPulsarFetcherImpl.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/impl/tube/InLongTubeFetcherImpl.java
  inlong-sdk/sort-sdk/src/test/java/org/apache/inlong/sdk/sort/impl/InlongTopicManagerImplTest.java
  inlong-sdk/sort-sdk/src/test/java/org/apache/inlong/sdk/sort/impl/decode/MessageDeserializerTest.java
  inlong-sdk/sort-sdk/src/test/java/org/apache/inlong/sdk/sort/impl/kafka/InLongKafkaFetcherImplTest.java
  inlong-sdk/sort-sdk/src/test/java/org/apache/inlong/sdk/sort/impl/pulsar/InLongPulsarFetcherImplTest.java
  inlong-sdk/sort-sdk/src/test/java/org/apache/inlong/sdk/sort/impl/tube/InLongTubeFetcherImplTest.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/source/sortsdk/SortSdkSource.java
Labels: component/sort, component/sdk

#6947 [INLONG-6898][Sort] Unify metrics report model of SortStandalone
  inlong-sort-standalone/sort-standalone-common/src/main/java/org/apache/inlong/sort/standalone/metrics/MetricItemValue.java
  inlong-sort-standalone/sort-standalone-common/src/main/java/org/apache/inlong/sort/standalone/metrics/MetricListener.java
  inlong-sort-standalone/sort-standalone-common/src/main/java/org/apache/inlong/sort/standalone/metrics/MetricListenerRunnable.java
  inlong-sort-standalone/sort-standalone-common/src/main/java/org/apache/inlong/sort/standalone/metrics/MetricObserver.java
  inlong-sort-standalone/sort-standalone-common/src/test/java/org/apache/inlong/sort/standalone/metrics/TestMetricListenerRunnable.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/SortStandaloneApplication.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/metrics/prometheus/PrometheusMetricListener.java
Labels: component/sort

#6965 [INLONG-6964][DataProxy] Fix the start error when deploy in docker-compose
  inlong-dataproxy/dataproxy-docker/dataproxy-docker.sh
Labels: component/dataproxy, service/docker

#6966 [INLONG-6962][Sort] Add read phase metric and table level metric for MySQL-CDC
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/source/metrics/MySqlSourceReaderMetrics.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/source/reader/MySqlRecordEmitter.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/source/reader/MySqlSourceReader.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/source/split/MySqlMetricSplit.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/source/split/MySqlSplitSerializer.java
Labels: component/sort

#6976 [INLONG-6975][Dashboard] The cluster name of the File source does not support modification
  inlong-dashboard/src/metas/sources/defaults/File.ts
Labels: component/dashboard

#6971 [INLONG-6970][Agent] Improve UnitTest for PulsarSink
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/sinks/MockSink.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/sinks/PulsarSinkTest.java
Labels: component/agent

#6942 [INLONG-6858][Manager][Sort] Support extract node of Apache Hudi
  inlong-common/src/main/java/org/apache/inlong/common/enums/TaskTypeEnum.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/consts/SourceType.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/util/ExtractNodeUtils.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/hudi/HudiSource.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/hudi/HudiSourceDTO.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/hudi/HudiSourceRequest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/hudi/HudiSourceOperator.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/constant/HudiConstant.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/ExtractNode.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/Node.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/extract/HudiExtractNode.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/node/extract/HudiExtractNodeTest.java
Labels: component/manager, component/sort

#6981 [INLONG-6980][Dashboard] inlong group detail optimization
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/locales/en.json
  inlong-dashboard/src/pages/GroupDetail/index.tsx
Labels: component/dashboard

#6993 [INLONG-6992][Manager] Fix the problem of streamSource is always in the status of TO_BE_ISSUED_DELETE
  inlong-manager/manager-dao/src/main/resources/mappers/StreamSourceEntityMapper.xml
Labels: component/manager

#6984 [INLONG-6983][Dashboard] Group page supports multiple columns
  inlong-dashboard/src/components/FormGenerator/FormGenerator.tsx
  inlong-dashboard/src/pages/GroupDetail/Info/index.tsx
Labels: component/dashboard

#6991 [INLONG-6987][Dashboard] Writing standard when splicing Chinese and English words
  inlong-dashboard/src/locales/cn.json
Labels: component/dashboard

#6973 [INLONG-6972][Dashboard] All "consumption" is changed to "subscription" for data consumption
  inlong-dashboard/src/configs/menus/index.ts
  inlong-dashboard/src/i18n.ts
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/locales/en.json
  inlong-dashboard/src/pages/ConsumeDetail/index.tsx
Labels: component/dashboard

#6990 [INLONG-6985][DataProxy] Make maxMonitorCnt setting configurable
  inlong-dataproxy/conf/dataproxy-mulit-pulsar-http-example.conf
  inlong-dataproxy/conf/dataproxy-mulit-pulsar-udp-example.conf
  inlong-dataproxy/conf/dataproxy-tubemq.conf
  inlong-dataproxy/conf/dataproxy.conf
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/consts/ConfigConstants.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/http/HttpBaseSource.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/PulsarSink.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/TubeSink.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/BaseSource.java
Labels: component/dataproxy

#6927 [INLONG-6926][Dashboard] Change the cluster type to lower case
  inlong-dashboard/src/metas/clusters/common/ClusterDefaultInfo.ts
Labels: component/dashboard

#6986 [INLONG-6982][Dashboard] Data source and data storage bullet box title optimization
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/locales/en.json
  inlong-dashboard/src/pages/GroupDetail/DataSources/DetailModal.tsx
  inlong-dashboard/src/pages/GroupDetail/DataStorage/DetailModal.tsx
Labels: component/dashboard

#6750 [INLONG-6657][Sort] Add dirty metric for Kafka
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/metric/sub/SinkSubMetricData.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/metric/sub/SinkTopicMetricData.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/util/MetricStateUtils.java
  inlong-sort/sort-connectors/kafka/src/main/java/org/apache/inlong/sort/kafka/DynamicKafkaSerializationSchema.java
  inlong-sort/sort-connectors/kafka/src/main/java/org/apache/inlong/sort/kafka/FlinkKafkaProducer.java
  inlong-sort/sort-connectors/kafka/src/main/java/org/apache/inlong/sort/kafka/KafkaDynamicSink.java
  inlong-sort/sort-connectors/kafka/src/main/java/org/apache/inlong/sort/kafka/table/KafkaDynamicTableFactory.java
  inlong-sort/sort-connectors/kafka/src/main/java/org/apache/inlong/sort/kafka/table/UpsertKafkaDynamicTableFactory.java
Labels: component/sort

#6974 [INLONG-6968][Sort] Fix the SqlParseException: Encountered "\'"
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/parser/impl/NativeFlinkSqlParser.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/NativeFlinkSqlParserTest.java
Labels: component/sort

#6989 [INLONG-6988][Manager] Use the data node info for StarRocks
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/consts/DataNodeType.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/node/starrocks/StarRocksDataNodeDTO.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/node/starrocks/StarRocksDataNodeInfo.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/node/starrocks/StarRocksDataNodeRequest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/node/starrocks/StarRocksDataNodeOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/sink/starrocks/StarRocksResourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/starrocks/StarRocksSinkOperator.java
Labels: component/manager

#6903 [INLONG-6899][Sort] StarRocks supports table level metric
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/metric/sub/SinkSubMetricData.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/metric/sub/SinkTableMetricData.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/metric/sub/SinkTopicMetricData.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/util/MetricStateUtils.java
  inlong-sort/sort-connectors/starrocks/src/main/java/org/apache/inlong/sort/starrocks/manager/StarRocksSinkManager.java
  inlong-sort/sort-connectors/starrocks/src/main/java/org/apache/inlong/sort/starrocks/table/sink/StarRocksDynamicSinkFunction.java
Labels: component/sort

#6967 [INLONG-6960][Agent] Fix repeat uuid generation for different messages
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/message/SequentialID.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sinks/SenderManager.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/message/SequentialIDTest.java
  inlong-common/src/main/java/org/apache/inlong/common/util/SnowFlake.java
Labels: component/agent

#6936 [INLONG-6935][Dashboard] Add Key-Value format for InlongStream
  inlong-dashboard/src/metas/streams/common/StreamDefaultInfo.ts
Labels: component/dashboard

#7007 [INLONG-7006][Sort] Optimize reading metric at the table level, and the metric label is passed in by a specific connector.
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/metric/sub/SourceTableMetricData.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/debezium/DebeziumSourceFunction.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/source/metrics/MySqlSourceReaderMetrics.java
  inlong-sort/sort-connectors/oracle-cdc/src/main/java/org/apache/inlong/sort/cdc/oracle/debezium/DebeziumSourceFunction.java
  inlong-sort/sort-connectors/postgres-cdc/src/main/java/org/apache/inlong/sort/cdc/postgres/DebeziumSourceFunction.java
Labels: type/improve, component/sort

#7008 [INLONG-7005][Dashboard] Support starrocks node management
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/locales/en.json
  inlong-dashboard/src/metas/nodes/defaults/StarRocks.ts
  inlong-dashboard/src/metas/nodes/defaults/index.ts
  inlong-dashboard/src/metas/sinks/defaults/StarRocks.ts
Labels: component/dashboard

#7010 [INLONG-7009][Dashboard] The data node type supports lowercase
  inlong-dashboard/src/metas/nodes/common/NodeDefaultInfo.ts
  inlong-dashboard/src/metas/nodes/defaults/index.ts
  inlong-dashboard/src/pages/ConsumeDashboard/index.tsx
Labels: component/dashboard

#7015 [INLONG-7014][Sort] Mysql state restore is compatible with old task state
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/source/split/MySqlSplitSerializer.java
Labels: component/sort

#7013 [INLONG-6997][TubeMQ] Add sendMessage and getMessage latency statistics
  inlong-tubemq/tubemq-client/src/main/java/org/apache/inlong/tubemq/client/common/ClientStatsInfo.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/metric/impl/ESTHistogram.java
  inlong-tubemq/tubemq-core/src/test/java/org/apache/inlong/tubemq/corebase/metric/HistogramTest.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/BrokerServiceServer.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/stats/BrokerSrvStatsHolder.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/web/BrokerAdminServlet.java
Labels: component/tubemq

#6979 [INLONG-6978][Sort] Get primary keys for PostgreSQL
  inlong-sort/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/dialect/ClickHouseDialect.java
  inlong-sort/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/dialect/OracleDialect.java
  inlong-sort/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/dialect/PostgresDialect.java
  inlong-sort/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/dialect/SqlServerDialect.java
  inlong-sort/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/dialect/TDSQLPostgresDialect.java
  inlong-sort/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/internal/JdbcMultiBatchingComm.java
  inlong-sort/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/internal/JdbcMultiBatchingOutputFormat.java
  inlong-sort/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/table/AbstractJdbcDialect.java
Labels: component/sort

#6969 [INLONG-6961][Dashboard][Manager] Support for configing non-InlongMsg formats
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/locales/en.json
  inlong-dashboard/src/metas/streams/common/StreamDefaultInfo.ts
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/stream/InlongStreamInfo.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/kafka/KafkaSourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/pulsar/PulsarSourceOperator.java
Labels: component/manager, component/dashboard

#7012 [INLONG-7011][Manager] Check Pulsar non-partition table if exist
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/queue/pulsar/PulsarOperator.java
Labels: component/manager

#7017 [INLONG-7016][Dashboard] Approve page supports multiple columns
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/locales/en.json
  inlong-dashboard/src/metas/sources/defaults/File.ts
  inlong-dashboard/src/pages/ProcessDetail/ConsumeConfig.tsx
  inlong-dashboard/src/pages/ProcessDetail/Group.tsx
  inlong-dashboard/src/pages/ProcessDetail/GroupConfig.tsx
  inlong-dashboard/src/pages/ProcessDetail/Steps.tsx
  inlong-dashboard/src/pages/ProcessDetail/index.tsx
Labels: component/dashboard

#7025 [INLONG-7024][Dashboard] Type readable lowercase and title optimization in data integration
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/metas/groups/common/GroupDefaultInfo.ts
  inlong-dashboard/src/metas/sinks/common/SinkDefaultInfo.ts
  inlong-dashboard/src/metas/sources/common/SourceDefaultInfo.ts
Labels: component/dashboard

#7027 [INLONG-7026][Manager] Fixed the problem of not checked before creating the kafka topic
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/queue/kafka/KafkaOperator.java
Labels: component/manager

#7029 [INLONG-7028][Manager] Fix query task status list failed
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/SortServiceImpl.java
Labels: component/manager

#7038 [INLONG-7073][Sort] Remove exception when topic does not exist
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/kafka/KafkaFederationSinkContext.java
Labels: component/sort

#7020 [INLONG-7019][Sort] Rethrow the system error when flush data to doris
  inlong-sort/sort-connectors/doris/src/main/java/org/apache/inlong/sort/doris/table/DorisDynamicSchemaOutputFormat.java
Labels: component/sort

#7033 [INLONG-7032][Dashboard] Group creation page split basic information and MQ information
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/locales/en.json
  inlong-dashboard/src/pages/GroupDetail/Info/config.tsx
  inlong-dashboard/src/pages/GroupDetail/Info/index.tsx
Labels: component/dashboard

#7036 [INLONG-7035][SDK] Fix the id generator not globally unique for DataProxy
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/DefaultMessageSender.java
Labels: component/sdk

#7001 [INLONG-6998][Dashboard][Manager] Support ignore deserialization error
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/locales/en.json
  inlong-dashboard/src/metas/streams/common/StreamDefaultInfo.ts
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/consts/InlongConstants.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/util/ExtractNodeUtils.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/StreamSource.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/stream/InlongStreamExtParam.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/stream/InlongStreamInfo.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/stream/InlongStreamRequest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/kafka/KafkaSourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/pulsar/PulsarSourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/tubemq/TubeMQSourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/stream/InlongStreamServiceImpl.java
Labels: component/manager, component/dashboard

#7042 [INLONG-7039][Manager] Unknown method isNoneBlank
  inlong-common/src/main/java/org/apache/inlong/common/pojo/dataproxy/DataProxyTopicInfo.java
Labels: component/manager, type/bug

#7048 [INLONG-7047][Dashboard] Specific meanings of data subscription list fields
  inlong-dashboard/src/metas/consumes/common/ConsumeDefaultInfo.ts
Labels: component/dashboard

#7046 [INLONG-7045][Dashboard] Data stream group ID, character verification
  inlong-dashboard/src/metas/groups/common/GroupDefaultInfo.ts
Labels: component/dashboard

#7002 [INLONG-7000][Dashboard] Add AVRO format for InlongStream
  inlong-dashboard/src/metas/streams/common/StreamDefaultInfo.ts
Labels: component/dashboard

#6999 [INLONG-6996][Dashboard] Add JSON format for InlongStream
  inlong-dashboard/src/metas/streams/common/StreamDefaultInfo.ts
Labels: component/dashboard

#7041 [INLONG-7040][Manager] Make the display name more easy to read
  inlong-manager/manager-client-examples/src/test/java/org/apache/inlong/manager/client/ut/Kafka2HiveTest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/ProcessName.java
Labels: component/manager

#7055 [INLONG-7054][DataProxy] Add the processing of the rtms field
  inlong-common/src/main/java/org/apache/inlong/common/msg/AttributeConstants.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/http/SimpleMessageHandler.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/DefaultServiceDecoder.java
Labels: component/dataproxy

#6954 [INLONG-6945][SDK] Unify metrics report model of SortSDK
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/api/ClientContext.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/api/ConfigConstants.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/api/MetricReporter.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/api/SortClientConfig.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/api/SortClientFactory.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/fetcher/kafka/KafkaMultiTopicsFetcher.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/fetcher/kafka/KafkaSingleTopicFetcher.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/fetcher/pulsar/PulsarMultiTopicsFetcher.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/fetcher/pulsar/PulsarSingleTopicFetcher.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/fetcher/tube/TubeSingleTopicFetcher.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/impl/ClientContextImpl.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/impl/ManagerReportHandlerImpl.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/impl/ManagerReporter.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/impl/MetricReporterImpl.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/impl/QueryConsumeConfigImpl.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/impl/SortClientImpl.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/impl/decode/MessageDeserializer.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/manager/InlongMultiTopicManager.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/manager/InlongSingleTopicManager.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/metrics/SortSdkMetricItem.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/metrics/SortSdkMetricItemSet.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/metrics/SortSdkPrometheusMetricListener.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/stat/SortClientStateCounter.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/stat/StatManager.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/source/sortsdk/SortSdkSource.java
Labels: component/sort, component/sdk

#7018 [INLONG-6912][Sort] Add table level metric for Doris
  inlong-sort/sort-connectors/doris/src/main/java/org/apache/inlong/sort/doris/table/DorisDynamicSchemaOutputFormat.java
Labels: component/sort

#7065 [INLONG-7064][Dashboard] Update the FilePathHelp value
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/locales/en.json
Labels: component/dashboard

#6995 [INLONG-6994][Dashboard] Add MQ type filter box for inlong group and consume list
  inlong-dashboard/src/pages/ConsumeDashboard/config.tsx
  inlong-dashboard/src/pages/ConsumeDashboard/index.tsx
  inlong-dashboard/src/pages/GroupDashboard/config.tsx
  inlong-dashboard/src/pages/GroupDashboard/index.tsx
Labels: component/dashboard

#7044 [INLONG-7043][Dashboard] Add field prompt for ES sink
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/locales/en.json
  inlong-dashboard/src/metas/sinks/defaults/Elasticsearch.ts
Labels: component/dashboard

#7050 [INLONG-7049][Manager] Support complex data types in Hudi Sink
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sink/hudi/HudiType.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/sink/hudi/HudiCatalogClient.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/sink/hudi/HudiTypeConverter.java
Labels: component/manager

#7068 [INLONG-7067][Manager] Provide MQ cluster info in consumption details
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/consts/InlongConstants.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/consume/InlongConsumeInfo.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/consume/AbstractConsumeOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/consume/ConsumePulsarOperator.java
Labels: component/manager

#7069 [INLONG-6925][Sort] Add read phase metric and table level metric for MongoDB-CDC
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/Constants.java
  inlong-sort/sort-connectors/mongodb-cdc/src/main/java/org/apache/inlong/sort/cdc/mongodb/DebeziumSourceFunction.java
  inlong-sort/sort-connectors/mongodb-cdc/src/main/java/org/apache/inlong/sort/cdc/mongodb/MongoDBSource.java
  inlong-sort/sort-connectors/mongodb-cdc/src/main/java/org/apache/inlong/sort/cdc/mongodb/debezium/table/MongoDBConnectorDeserializationSchema.java
  inlong-sort/sort-connectors/mongodb-cdc/src/main/java/org/apache/inlong/sort/cdc/mongodb/debezium/utils/RecordUtils.java
  inlong-sort/sort-connectors/mongodb-cdc/src/main/java/org/apache/inlong/sort/cdc/mongodb/table/MongoDBTableSource.java
Labels: component/sort

#7071 [INLONG-7070][Manager][DataProxy] Fix mq configuration dispatching problem
  inlong-dataproxy/conf/dataproxy.conf
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/mq/MessageQueueZoneProducer.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/repository/DataProxyConfigRepository.java
Labels: component/manager, component/dataproxy, type/bug
