Repository apache/inlong, pull requests merged in 2022-08, with the labels that each got.

#5304 [INLONG-5303][TubeMQ] Simplify MsgFileStore code
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/msgstore/disk/MsgFileStore.java
Labels: component/tubemq

#5280 [INLONG-5279][Manager] Optimize the creation code of databases and tables
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/sink/mysql/MySQLJdbcUtils.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/sink/mysql/MySQLResourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/sink/mysql/MySQLSqlBuilder.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/sink/oracle/OracleJdbcUtils.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/sink/oracle/OracleResourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/sink/oracle/OracleSqlBuilder.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/sink/MySQLSinkServiceTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/sink/OracleSinkServiceTest.java
Labels: component/manager

#5310 [INLONG-5308][Dashboard] Change MQ and cluster type to adapt the Manager module
  inlong-dashboard/src/components/AccessHelper/DataSourcesEditor/CreateModal.tsx
  inlong-dashboard/src/components/AccessHelper/DataSourcesEditor/index.tsx
  inlong-dashboard/src/components/AccessHelper/FieldsConfig/businessFields.tsx
  inlong-dashboard/src/components/AccessHelper/FieldsConfig/dataFields.tsx
  inlong-dashboard/src/components/ConsumeHelper/FieldsConfig/basicFields.tsx
  inlong-dashboard/src/components/MetaData/index.ts
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/locales/en.json
  inlong-dashboard/src/pages/AccessDashboard/config.tsx
  inlong-dashboard/src/pages/AccessDetail/DataSources/index.tsx
  inlong-dashboard/src/pages/AccessDetail/DataSources/status.tsx
  inlong-dashboard/src/pages/AccessDetail/common.d.ts
  inlong-dashboard/src/pages/ClusterTags/ClusterList.tsx
  inlong-dashboard/src/pages/ClusterTags/TagDetailModal.tsx
  inlong-dashboard/src/pages/Clusters/NodeEditModal.tsx
  inlong-dashboard/src/pages/Clusters/config/index.tsx
  inlong-dashboard/src/pages/Clusters/index.tsx
Labels: component/dashboard

#4882 [INLONG-4814][Sort][Manager] Declare the primary key for sink table when the query contains update/delete
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/util/LoadNodeUtils.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/load/ClickHouseLoadNode.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/node/load/ClickHouseLoadNodeTest.java
  inlong-sort/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/dialect/ClickHouseDialect.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/ClickHouseSqlParserTest.java
  inlong-sort/sort-end-to-end-tests/pom.xml
  inlong-sort/sort-end-to-end-tests/src/test/java/org/apache/inlong/sort/tests/ClickHouseCase.java
  inlong-sort/sort-end-to-end-tests/src/test/resources/flinkSql/clickhouse_test.sql
Labels: component/manager, component/sort

#5273 [INLONG-5272][Agent] Change agent.sh format
  inlong-agent/bin/agent.sh
Labels: component/agent

#5225 [INLONG-5014][CodeQL] Fix the code scanning alerts exposed by CodeQL
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/admin/ProxyServiceAdminEventHandler.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/http/MessageFilter.java
  inlong-sdk/sdk-common/src/main/java/org/apache/inlong/sdk/commons/admin/AbstractAdminEventHandler.java
  inlong-sdk/sdk-common/src/main/java/org/apache/inlong/sdk/commons/admin/AdminHttpSource.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/admin/ConsumerServiceAdminEventHandler.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/web/AbstractWebHandler.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/web/MasterStatusCheckFilter.java
Labels: component/tubemq, component/dataproxy, component/sort, component/sdk

#5320 [INLONG-4929][Manager] Add stream source API in Manager client
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/InlongStream.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/InlongStreamImpl.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/client/StreamSourceClient.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/service/StreamSourceApi.java
  inlong-manager/manager-client/src/test/java/org/apache/inlong/manager/client/api/inner/ClientFactoryTest.java
Labels: component/manager

#5263 [INLONG-5228][Manager] Support create SQLServer databases and tables
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sink/sqlserver/SQLServerColumnInfo.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sink/sqlserver/SQLServerSinkDTO.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sink/sqlserver/SQLServerTableInfo.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/sink/sqlserver/SQLServerJdbcUtils.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/sink/sqlserver/SQLServerResourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/sink/sqlserver/SQLServerSqlBuilder.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/sink/SQLServerSinkServiceTest.java
Labels: component/manager

#5318 [INLONG-5312][Sort] Add unified inlong.metric parameter injection support for nodes
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/InlongMetric.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/constant/HBaseConstant.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/constant/PostgresConstant.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/extract/MySqlExtractNode.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/extract/PostgresExtractNode.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/load/HbaseLoadNode.java
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/parser/impl/FlinkSqlParser.java
Labels: component/sort

#5317 [INLONG-5084][Manager] Support create Greenplum databases and tables
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sink/greenplum/GreenplumColumnInfo.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sink/greenplum/GreenplumSinkDTO.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sink/greenplum/GreenplumTableInfo.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/sink/greenplum/GreenplumJdbcUtils.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/sink/greenplum/GreenplumResourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/sink/greenplum/GreenplumSqlBuilder.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/sink/GreenplumSinkServiceTest.java
Labels: component/manager

#5331 [INLONG-5330][Dashboard] Stream page optimization adjustment, remove collapse mode
  inlong-dashboard/src/components/AccessHelper/FieldsConfig/dataFields.tsx
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/locales/en.json
  inlong-dashboard/src/pages/AccessDetail/DataStream/StreamItemModal.tsx
  inlong-dashboard/src/pages/AccessDetail/DataStream/config.tsx
  inlong-dashboard/src/pages/AccessDetail/DataStream/index.module.less
  inlong-dashboard/src/pages/AccessDetail/DataStream/index.tsx
Labels: component/dashboard

#5309 [INLONG-4928][Manager] Modify inlong stream API in the Manager client
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/InlongStream.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/client/InlongStreamClient.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/service/InlongStreamApi.java
Labels: component/manager

#5328 [INLONG-5327][Sort] Add pb msg service file
  inlong-sort/sort-formats/format-inlongmsg-pb/src/main/resources/org.apache.flink.table.factories.Factory
Labels: component/sort

#5341 [INLONG-5340][Dashboard] 404 error is reported when running the dashboard container
  inlong-dashboard/nginx.conf
Labels: component/dashboard

#5336 [INLONG-5335][Manager] Unserialize Sort config when getting GroupInfo
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/group/InlongGroupServiceImpl.java
Labels: component/manager

#5346 [INLONG-5345][Dashboard] Group approval supports partial field modification
  inlong-dashboard/src/pages/ApprovalDetail/AccessConfig.tsx
Labels: component/dashboard

#5334 [INLONG-5333][Manager] Add array, map, struct, decimal format
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/FieldType.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/fieldformat/ArrayFormat.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/fieldformat/DecimalFormat.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/fieldformat/MapFormat.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/fieldformat/StructFormat.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/util/FieldFormatUtils.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/util/FieldInfoUtils.java
  inlong-manager/manager-pojo/src/test/java/org/apache/inlong/manager/pojo/sort/util/FieldFormatUtilsTest.java
Labels: component/manager

#5261 [INLONG-5259][Agent] File data sources support custom end-of-line symbols
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/constant/JobConstants.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/pojo/FileJob.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/pojo/JobProfileDto.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/TextFileReader.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/sources/TestTextFileReader.java
  inlong-agent/agent-plugins/src/test/resources/test/1.txt
  inlong-agent/agent-plugins/src/test/resources/test/2.txt
  inlong-agent/agent-plugins/src/test/resources/test/a.txt
Labels: component/agent

#5326 [INLONG-5314][TubeMQ] Reconnect to another address if heartbeat encounters exception
  inlong-tubemq/tubemq-client-twins/tubemq-client-go/client/consumer_impl.go
  inlong-tubemq/tubemq-client-twins/tubemq-client-go/client/heartbeat.go
  inlong-tubemq/tubemq-client-twins/tubemq-client-go/client/version.go
  inlong-tubemq/tubemq-client-twins/tubemq-client-go/log/config.go
  inlong-tubemq/tubemq-client-twins/tubemq-client-go/rpc/client.go
  inlong-tubemq/tubemq-client-twins/tubemq-client-go/selector/ip_selector.go
  inlong-tubemq/tubemq-client-twins/tubemq-client-go/selector/selector.go
Labels: component/tubemq

#5344 [INLONG-5235][Dashboard] Support users to modify passwords and modify personal keys
  inlong-dashboard/src/components/Layout/NavWidget/KeyModal.tsx
  inlong-dashboard/src/components/Layout/NavWidget/PasswordModal.tsx
  inlong-dashboard/src/components/Layout/NavWidget/index.tsx
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/locales/en.json
Labels: component/dashboard, type/feature

#5350 [INLONG-5349][Dashboard] Failed to create stream
  inlong-dashboard/src/pages/AccessDetail/DataStream/StreamItemModal.tsx
Labels: component/dashboard

#5170 [INLONG-5169][Sort] Fix race condition issue of HBaseSinkFunction metric collection
  inlong-sort/sort-connectors/connector-base/src/main/java/org/apache/inlong/sort/base/metric/ThreadSafeCounter.java
  inlong-sort/sort-connectors/connector-base/src/test/java/org/apache/inlong/sort/base/metric/ThreadSafeCounterTest.java
  inlong-sort/sort-connectors/hbase/src/main/java/org/apache/inlong/sort/hbase/sink/HBaseSinkFunction.java
Labels: component/sort

#5356 [INLONG-5355][Dashboard] SinkType config error
  inlong-dashboard/src/components/AccessHelper/DataStorageEditor/DetailModal.tsx
  inlong-dashboard/src/components/MetaData/index.ts
Labels: component/dashboard

#5276 [INLONG-5262][Sort] Add metric report for Pulsar source
  inlong-sort/sort-connectors/pulsar/pom.xml
  inlong-sort/sort-connectors/pulsar/src/main/java/org/apache/inlong/sort/pulsar/table/Constants.java
  inlong-sort/sort-connectors/pulsar/src/main/java/org/apache/inlong/sort/pulsar/table/DynamicPulsarDeserializationSchema.java
  inlong-sort/sort-connectors/pulsar/src/main/java/org/apache/inlong/sort/pulsar/table/PulsarDynamicTableFactory.java
  inlong-sort/sort-connectors/pulsar/src/main/java/org/apache/inlong/sort/pulsar/table/PulsarDynamicTableSource.java
  inlong-sort/sort-connectors/pulsar/src/main/java/org/apache/inlong/sort/pulsar/table/UpsertPulsarDynamicTableFactory.java
  inlong-sort/sort-connectors/pulsar/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
Labels: component/sort

#5338 [INLONG-5337][Manager] Add Agent cluster info and operator
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/ClusterType.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/cluster/agent/AgentClusterInfo.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/cluster/agent/AgentClusterRequest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/AgentClusterOperator.java
Labels: component/manager

#5360 [INLONG-5359][Manager] Add query workflow approver API
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/ErrorCodeEnum.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/WorkflowApproverService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/WorkflowApproverServiceImpl.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/workflow/WorkflowApproverServiceImplTest.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/WorkflowApproverController.java
Labels: component/manager

#5343 [INLONG-4750][Manager] Merge the workflow util classes into one class
  inlong-dashboard/src/pages/AccessDashboard/ExecutionLogModal.tsx
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/workflow/ListenerExecuteLog.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/workflow/TaskExecuteLog.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/workflow/WorkflowExecuteLog.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/workflow/WorkflowOperationRequest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/WorkflowExecuteLog.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/WorkflowService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/WorkflowServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/consumption/ApplyConsumptionProcessHandler.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/sort/DisableZkForSortTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/source/listener/StreamSourceListenerTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/workflow/WorkflowServiceImplTest.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/WorkflowController.java
  inlong-manager/manager-workflow/src/main/java/org/apache/inlong/manager/workflow/core/impl/WorkflowContextBuilderImpl.java
  inlong-manager/manager-workflow/src/main/java/org/apache/inlong/manager/workflow/core/impl/WorkflowQueryServiceImpl.java
  inlong-manager/manager-workflow/src/main/java/org/apache/inlong/manager/workflow/util/WorkflowBeanUtils.java
  inlong-manager/manager-workflow/src/main/java/org/apache/inlong/manager/workflow/util/WorkflowFormParserUtils.java
  inlong-manager/manager-workflow/src/main/java/org/apache/inlong/manager/workflow/util/WorkflowUtils.java
Labels: component/manager, component/dashboard

#5348 [INLONG-5347][Agent] Incremental and full reads of file contents
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/constant/DataCollectType.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/constant/JobConstants.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/pojo/FileJob.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/pojo/JobProfileDto.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/TextFileSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/TextFileReader.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/sources/TestTextFileReader.java
Labels: component/agent

#5363 [INLONG-5362][Agent] Supports the collection of data splicing metadata information
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/constant/CommonConstants.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/constant/JobConstants.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/constant/KubernetesConstants.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/constant/MetadataConstants.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/pojo/FileJob.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/pojo/JobProfileDto.java
  inlong-agent/agent-plugins/pom.xml
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/TextFileSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/file/AbstractFileReader.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/file/FileReaderOperator.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/file/KubernetesFileReader.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/file/TextFileReader.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/utils/MetaDataUtils.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/sources/TestTextFileReader.java
  licenses/inlong-agent/LICENSE
  pom.xml
Labels: component/agent

#5385 [INLONG-5373][TubeMQ] TubeMQ supports outputting traffic information through the audit SDK
  inlong-tubemq/conf/broker.ini
  inlong-tubemq/tubemq-server/pom.xml
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/BrokerConfig.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/BrokerServiceServer.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/stats/audit/AuditUtils.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/common/fileconfig/ADConfig.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/common/fileconfig/AbstractFileConfig.java
  inlong-tubemq/tubemq-server/src/test/java/org/apache/inlong/tubemq/server/common/ADConfigTest.java
Labels: component/tubemq

#5384 [INLONG-5369][Manager] Add user extended parameters to store 3rd party authentication info
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/UserTypeEnum.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/UserEntity.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/UserEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/mappers/UserEntityMapper.xml
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/user/UserInfo.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/user/UserRequest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/user/UserService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/user/UserServiceImpl.java
  inlong-manager/manager-test/src/main/resources/h2/apache_inlong_manager.sql
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/AnnoController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/UserController.java
Labels: component/manager

#5354 [INLONG-5353][Sort] Fix HBase connector packaging problem and inlong metrics delimiter problem
  inlong-sort/sort-connectors/hbase/pom.xml
  inlong-sort/sort-connectors/hbase/src/main/java/org/apache/inlong/sort/hbase/options/InLongOptions.java
  inlong-sort/sort-connectors/hbase/src/main/java/org/apache/inlong/sort/hbase/sink/HBaseSinkFunction.java
Labels: component/sort

#5383 [INLONG-5382][Manager][Agent] Optimized the file collection configuration
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/constant/JobConstants.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/pojo/FileJob.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/pojo/JobProfileDto.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/file/FileSource.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/file/FileSourceDTO.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/file/FileSourceRequest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/AgentServiceImpl.java
Labels: component/manager, component/agent

#5316 [INLONG-5315][Sort] Import all changelog mode data ingest into JDBC
  inlong-sort/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/table/JdbcDynamicOutputFormatBuilder.java
  inlong-sort/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/table/JdbcDynamicTableFactory.java
  inlong-sort/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/table/JdbcDynamicTableSink.java
  licenses/inlong-sort-connectors/LICENSE
Labels: component/sort

#5200 [INLONG-5100][Sort] Add reporting metrics for JDBC
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/load/PostgresLoadNode.java
  inlong-sort/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/dialect/PostgresDialect.java
  inlong-sort/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/internal/GenericJdbcSinkFunction.java
  inlong-sort/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/internal/JdbcBatchingOutputFormat.java
  inlong-sort/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/internal/TableJdbcUpsertOutputFormat.java
  inlong-sort/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/metric/MetricData.java
  inlong-sort/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/table/JdbcDynamicOutputFormatBuilder.java
  inlong-sort/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/table/JdbcDynamicTableFactory.java
  inlong-sort/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/table/JdbcDynamicTableSink.java
Labels: component/sort

#5376 [INLONG-5375][Sort] Iceberg-inlong connector lose its meta-inf
  inlong-sort/sort-connectors/iceberg-dlc/pom.xml
  inlong-sort/sort-connectors/iceberg/pom.xml
Labels: component/sort

#5378 [INLONG-5351][Dashboard] Add the approval manager management tab to the navigation bar
  inlong-dashboard/src/configs/menus/index.ts
  inlong-dashboard/src/configs/routes/index.tsx
  inlong-dashboard/src/i18n.ts
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/locales/en.json
  inlong-dashboard/src/pages/ApprovalManagement/DetailModal.tsx
  inlong-dashboard/src/pages/ApprovalManagement/config.tsx
  inlong-dashboard/src/pages/ApprovalManagement/index.tsx
Labels: component/dashboard, type/feature

#5392 [INLONG-5391][Dashboard] Unified consumption creation/management logic
  inlong-dashboard/src/components/ConsumeHelper/FieldsConfig/basicFields.tsx
  inlong-dashboard/src/pages/ApprovalDetail/ConsumeConfig.tsx
  inlong-dashboard/src/pages/ConsumeDashboard/config.tsx
  inlong-dashboard/src/pages/ConsumeDetail/Info/config.tsx
  inlong-dashboard/src/pages/ConsumeDetail/Info/index.tsx
  inlong-dashboard/src/pages/ConsumeDetail/index.tsx
Labels: component/dashboard

#5398 [INLONG-5390][Dashboard] Optimize user editing, add and modify personal keys
  inlong-dashboard/src/components/Layout/NavWidget/index.tsx
  inlong-dashboard/src/pages/ApprovalManagement/DetailModal.tsx
  inlong-dashboard/src/pages/UserManagement/DetailModal.tsx
Labels: component/dashboard

#5395 [INLONG-5393][Agent] Fix docker image of agent stuck in starting
  inlong-agent/agent-docker/agent-docker.sh
Labels: component/agent, service/docker

#5405 [INLONG-5404][Sort] Fix sort EncryptFunction checkstyle
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/function/EncryptFunction.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/function/EncryptFunctionTest.java
Labels: component/sort

#5414 [INLONG-5386][TubeMQ] Supports reporting metrics data through Prometheus
  inlong-tubemq/conf/broker.ini
  inlong-tubemq/conf/master.ini
  inlong-tubemq/tubemq-server/pom.xml
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/BrokerConfig.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/TubeBroker.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/stats/audit/AuditUtils.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/stats/prometheus/BrokerPromMetricService.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/common/fileconfig/AbstractFileConfig.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/common/fileconfig/PrometheusConfig.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/MasterConfig.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/TMaster.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/stats/prometheus/MasterPromMetricService.java
  licenses/inlong-tubemq-server/LICENSE
Labels: component/tubemq

#5412 [INLONG-5411][Manager] Optimize the creation code of databases and tables of PostgreSQL
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sink/postgresql/PostgreSQLColumnInfo.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sink/postgresql/PostgreSQLTableInfo.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/sink/postgresql/PostgreSQLJdbcUtils.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/sink/postgresql/PostgreSQLResourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/sink/postgresql/PostgreSQLSqlBuilder.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/sink/PostgreSQLSinkServiceTest.java
Labels: component/manager

#5403 [INLONG-5402][Audit] Modify the audit module startup script
  inlong-audit/bin/store-start.sh
Labels: component/audit

#5400 [INLONG-5397][Manager] Add delete resource in manager client
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/InlongGroupImpl.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/util/InlongGroupTransfer.java
Labels: component/manager

#5399 [INLONG-5394][Manager] Support batch task for Inlong group
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/consts/InlongConstants.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/util/InlongStringUtils.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/group/InlongGroupUtils.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/listener/group/InitGroupCompleteListener.java
Labels: component/manager

#5372 [INLONG-5371][Manager] Add data node API in the manager client
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/DataNode.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/DataNodeImpl.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/client/ClientFactory.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/client/DataNodeClient.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/service/DataNodeApi.java
  inlong-manager/manager-client/src/test/java/org/apache/inlong/manager/client/api/inner/ClientFactoryTest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/node/DataNodeResponse.java
Labels: component/manager

#5410 [INLONG-5409][Manager] Fix json serialization for class BaseSortConf
  inlong-manager/manager-client/src/test/java/org/apache/inlong/manager/client/api/inner/ClientFactoryTest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/BaseSortConf.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/FlinkSortConf.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/UserDefinedSortConf.java
  inlong-manager/manager-pojo/src/test/java/org/apache/inlong/manager/pojo/sort/BaseSortConfTest.java
Labels: component/manager

#5415 [INLONG-5408][SDK] Fix the NullPointerException while call getManagerIpList
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/utils/ServiceDiscoveryUtils.java
Labels: component/sdk

#5357 [INLONG-5095][SortSDK] Support consumes data stream from a specified time
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/api/InLongTopicFetcher.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/api/Interceptor.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/impl/interceptor/MsgTimeInterceptor.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/impl/kafka/InLongKafkaFetcherImpl.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/impl/pulsar/InLongPulsarFetcherImpl.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/impl/tube/InLongTubeFetcherImpl.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/util/TimeUtil.java
  inlong-sdk/sort-sdk/src/test/java/org/apache/inlong/sdk/sort/impl/InLongTopicManagerImplTest.java
  inlong-sdk/sort-sdk/src/test/java/org/apache/inlong/sdk/sort/impl/decode/MessageDeserializerTest.java
  inlong-sdk/sort-sdk/src/test/java/org/apache/inlong/sdk/sort/impl/kafka/InLongKafkaFetcherImplTest.java
  inlong-sdk/sort-sdk/src/test/java/org/apache/inlong/sdk/sort/impl/pulsar/InLongPulsarFetcherImplTest.java
  inlong-sdk/sort-sdk/src/test/java/org/apache/inlong/sdk/sort/impl/tube/InLongTubeFetcherImplTest.java
Labels: component/sdk

#5425 [INLONG-5421][Dashboard] Optimize the approval management list
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/locales/en.json
  inlong-dashboard/src/pages/ApprovalManagement/config.tsx
  inlong-dashboard/src/pages/ApprovalManagement/index.tsx
  inlong-dashboard/src/pages/UserManagement/DetailModal.tsx
  inlong-dashboard/src/pages/UserManagement/config.tsx
Labels: component/dashboard, type/improve

#5254 [INLONG-5158][Sort] Sort add metric for kafka source with flink metrics group and audit sdk
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/GroupInfo.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/InlongMetric.java
  inlong-sort/sort-connectors/connector-base/src/main/java/org/apache/inlong/sort/base/Constants.java
  inlong-sort/sort-connectors/kafka/pom.xml
  inlong-sort/sort-connectors/kafka/src/main/java/org/apache/inlong/sort/kafka/table/DynamicKafkaDeserializationSchema.java
  inlong-sort/sort-connectors/kafka/src/main/java/org/apache/inlong/sort/kafka/table/KafkaDynamicSource.java
  inlong-sort/sort-connectors/kafka/src/main/java/org/apache/inlong/sort/kafka/table/KafkaDynamicTableFactory.java
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/parser/impl/FlinkSqlParser.java
Labels: component/sort

#5427 [INLONG-5422][Dashboard] Unified authentication logic, including login and logout
  inlong-dashboard/src/components/Icons/logo.svg
  inlong-dashboard/src/components/Layout/NavWidget/index.tsx
  inlong-dashboard/src/configs/default/index.ts
  inlong-dashboard/src/configs/routes/index.tsx
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/locales/en.json
  inlong-dashboard/src/models/index.ts
  inlong-dashboard/src/pages/Login/index.module.less
  inlong-dashboard/src/pages/Login/index.tsx
  inlong-dashboard/src/router.tsx
  inlong-dashboard/src/utils/request.ts
Labels: component/dashboard

#5426 [INLONG-5424][Manager] Fix JSON serialization error for Authentication when getting inlongGroupInfo
  inlong-manager/manager-client/src/test/java/org/apache/inlong/manager/client/api/inner/ClientFactoryTest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/auth/Authentication.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/auth/DefaultAuthentication.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/auth/SecretAuthentication.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/auth/SecretTokenAuthentication.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/auth/TokenAuthentication.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/util/JsonUtils.java
Labels: component/manager

#5440 [INLONG-5439][Docker] Fix arm docker build script
  docker/build-docker-images.sh
Labels: service/docker

#5443 [INLONG-5442][Manager] Fix accept logic error for SortConfigListener
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/listener/sort/SortConfigListener.java
Labels: component/manager

#5407 [INLONG-5401][Manager] Fix StreamSinkFieldEntity and SinkField fields not match
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/StreamSinkFieldEntity.java
  inlong-manager/manager-dao/src/main/resources/mappers/StreamSinkFieldEntityMapper.xml
  inlong-manager/manager-test/src/main/resources/h2/apache_inlong_manager.sql
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
Labels: component/manager

#5444 [INLONG-5406][Dashboard] No restrictions are added to the input of port numbers, such as dataproxy node
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/locales/en.json
  inlong-dashboard/src/pages/Clusters/NodeEditModal.tsx
Labels: component/dashboard

#5449 [INLONG-5446][Sort] Add reporting metric from JDBC to audit SDK and refactor according to…
  inlong-sort/sort-connectors/jdbc/pom.xml
  inlong-sort/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/internal/JdbcBatchingOutputFormat.java
  inlong-sort/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/internal/TableJdbcUpsertOutputFormat.java
  inlong-sort/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/metric/MetricData.java
  inlong-sort/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/table/JdbcDynamicOutputFormatBuilder.java
  inlong-sort/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/table/JdbcDynamicTableFactory.java
  inlong-sort/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/table/JdbcDynamicTableSink.java
Labels: component/sort

#5429 [INLONG-5377][Sort] Add reporting metrics for kafka connector sink and audit SDK
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/load/KafkaLoadNode.java
  inlong-sort/sort-connectors/kafka/src/main/java/org/apache/inlong/sort/kafka/FlinkKafkaProducer.java
  inlong-sort/sort-connectors/kafka/src/main/java/org/apache/inlong/sort/kafka/KafkaDynamicSink.java
  inlong-sort/sort-connectors/kafka/src/main/java/org/apache/inlong/sort/kafka/table/KafkaDynamicTableFactory.java
  inlong-sort/sort-connectors/kafka/src/main/java/org/apache/inlong/sort/kafka/table/UpsertKafkaDynamicTableFactory.java
  inlong-sort/sort-connectors/kafka/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
Labels: component/sort

#5438 [INLONG-5423][Sort] Revise invalid partition time when dispatch messages
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/dispatch/DispatchManager.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/dispatch/DispatchProfile.java
Labels: component/sort

#5457 [INLONG-5456][Dashboard] Support source/sink metadata management
  inlong-dashboard/src/components/AccessHelper/DataSourcesEditor/CreateModal.tsx
  inlong-dashboard/src/components/AccessHelper/DataSourcesEditor/index.tsx
  inlong-dashboard/src/components/AccessHelper/DataStorageEditor/DetailModal.tsx
  inlong-dashboard/src/components/AccessHelper/DataStorageEditor/Editor.tsx
  inlong-dashboard/src/components/AccessHelper/FieldsConfig/dataFields.tsx
  inlong-dashboard/src/meta/sinks/clickhouse.tsx
  inlong-dashboard/src/meta/sinks/common/sourceFields.ts
  inlong-dashboard/src/meta/sinks/es.tsx
  inlong-dashboard/src/meta/sinks/greenplum.tsx
  inlong-dashboard/src/meta/sinks/hbase.tsx
  inlong-dashboard/src/meta/sinks/hive.tsx
  inlong-dashboard/src/meta/sinks/iceberg.tsx
  inlong-dashboard/src/meta/sinks/index.ts
  inlong-dashboard/src/meta/sinks/kafka.tsx
  inlong-dashboard/src/meta/sinks/mysql.tsx
  inlong-dashboard/src/meta/sinks/oracle.tsx
  inlong-dashboard/src/meta/sinks/postgreSql.tsx
  inlong-dashboard/src/meta/sinks/sqlServer.tsx
  inlong-dashboard/src/meta/sinks/tdsqlPostgreSql.tsx
  inlong-dashboard/src/meta/sources/autoPush.ts
  inlong-dashboard/src/meta/sources/binLog.ts
  inlong-dashboard/src/meta/sources/file.ts
  inlong-dashboard/src/meta/sources/index.ts
  inlong-dashboard/src/pages/AccessDetail/DataSources/index.tsx
  inlong-dashboard/src/pages/AccessDetail/DataStorage/index.tsx
Labels: component/dashboard

#5420 [INLONG-5419][Manager][Dashboard] Fix the Pulsar creates model of queue error
  inlong-dashboard/src/components/AccessHelper/FieldsConfig/businessFields.tsx
  inlong-manager/manager-client-examples/src/test/java/org/apache/inlong/manager/client/ut/Kafka2HiveTest.java
  inlong-manager/manager-client-tools/src/test/resources/create_group.json
  inlong-manager/manager-client/src/test/java/org/apache/inlong/manager/client/api/impl/InlongGroupImplTest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/group/pulsar/InlongPulsarInfo.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/group/pulsar/InlongPulsarRequest.java
Labels: component/manager, component/dashboard

#5445 [INLONG-5433][DataProxy] Select the corresponding configuration parameters according to the type of MQ
  inlong-common/src/main/java/org/apache/inlong/common/pojo/dataproxy/MQClusterInfo.java
Labels: component/dataproxy

#5374 [INLONG-5205][Sort] Add reporting metrics for Elasticsearch 6 connector
  inlong-sort/sort-connectors/elasticsearch-6/pom.xml
  inlong-sort/sort-connectors/elasticsearch-6/src/main/java/org/apache/inlong/sort/elasticsearch6/Elasticsearch6ApiCallBridge.java
  inlong-sort/sort-connectors/elasticsearch-6/src/main/java/org/apache/inlong/sort/elasticsearch6/Elasticsearch6BulkProcessorIndexer.java
  inlong-sort/sort-connectors/elasticsearch-6/src/main/java/org/apache/inlong/sort/elasticsearch6/ElasticsearchSink.java
  inlong-sort/sort-connectors/elasticsearch-6/src/main/java/org/apache/inlong/sort/elasticsearch6/table/Elasticsearch6DynamicSink.java
  inlong-sort/sort-connectors/elasticsearch-6/src/main/java/org/apache/inlong/sort/elasticsearch6/table/Elasticsearch6DynamicSinkFactory.java
  inlong-sort/sort-connectors/elasticsearch-7/src/main/java/org/apache/inlong/sort/elasticsearch7/Elasticsearch7ApiCallBridge.java
  inlong-sort/sort-connectors/elasticsearch-7/src/main/java/org/apache/inlong/sort/elasticsearch7/Elasticsearch7BulkProcessorIndexer.java
  inlong-sort/sort-connectors/elasticsearch-7/src/main/java/org/apache/inlong/sort/elasticsearch7/ElasticsearchSink.java
  inlong-sort/sort-connectors/elasticsearch-7/src/main/java/org/apache/inlong/sort/elasticsearch7/table/Elasticsearch7DynamicSink.java
  inlong-sort/sort-connectors/elasticsearch-base/pom.xml
  inlong-sort/sort-connectors/elasticsearch-base/src/main/java/org/apache/inlong/sort/elasticsearch/BufferingNoOpRequestIndexer.java
  inlong-sort/sort-connectors/elasticsearch-base/src/main/java/org/apache/inlong/sort/elasticsearch/ElasticsearchApiCallBridge.java
  inlong-sort/sort-connectors/elasticsearch-base/src/main/java/org/apache/inlong/sort/elasticsearch/ElasticsearchSinkBase.java
  inlong-sort/sort-connectors/elasticsearch-base/src/main/java/org/apache/inlong/sort/elasticsearch/ElasticsearchSinkFunction.java
  inlong-sort/sort-connectors/elasticsearch-base/src/main/java/org/apache/inlong/sort/elasticsearch/PreElasticsearch6BulkProcessorIndexer.java
  inlong-sort/sort-connectors/elasticsearch-base/src/main/java/org/apache/inlong/sort/elasticsearch/table/ElasticsearchConfiguration.java
  inlong-sort/sort-connectors/elasticsearch-base/src/main/java/org/apache/inlong/sort/elasticsearch/table/ElasticsearchOptions.java
  inlong-sort/sort-connectors/elasticsearch-base/src/main/java/org/apache/inlong/sort/elasticsearch/table/RowElasticsearchSinkFunction.java
Labels: component/sort

#5465 [INLONG-5464][Sort] Optimize the implementation of the sort-connector-base metric common abstract
  inlong-sort/sort-connectors/base/pom.xml
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/Constants.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/metric/MetricData.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/metric/SinkMetricData.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/metric/SourceMetricData.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/metric/ThreadSafeCounter.java
  inlong-sort/sort-connectors/base/src/test/java/org/apache/inlong/sort/base/metric/ThreadSafeCounterTest.java
  inlong-sort/sort-connectors/connector-base/src/main/java/org/apache/inlong/sort/base/metric/SinkMetricData.java
  inlong-sort/sort-connectors/connector-base/src/main/java/org/apache/inlong/sort/base/metric/SourceMetricData.java
  inlong-sort/sort-connectors/hbase/src/main/java/org/apache/inlong/sort/hbase/sink/HBaseSinkFunction.java
  inlong-sort/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/internal/JdbcBatchingOutputFormat.java
  inlong-sort/sort-connectors/kafka/src/main/java/org/apache/inlong/sort/kafka/FlinkKafkaProducer.java
  inlong-sort/sort-connectors/kafka/src/main/java/org/apache/inlong/sort/kafka/table/DynamicKafkaDeserializationSchema.java
  inlong-sort/sort-connectors/mongodb-cdc/src/main/java/org/apache/inlong/sort/cdc/mongodb/DebeziumSourceFunction.java
  inlong-sort/sort-connectors/oracle-cdc/src/main/java/org/apache/inlong/sort/cdc/oracle/DebeziumSourceFunction.java
  inlong-sort/sort-connectors/pom.xml
  inlong-sort/sort-connectors/postgres-cdc/src/main/java/org.apache.inlong.sort.cdc.postgres/DebeziumSourceFunction.java
  inlong-sort/sort-connectors/pulsar/src/main/java/org/apache/inlong/sort/pulsar/table/DynamicPulsarDeserializationSchema.java
Labels: component/sort

#5471 [INLONG-5470][Sort] Fix compile error
  inlong-sort/sort-connectors/elasticsearch-base/src/main/java/org/apache/inlong/sort/elasticsearch/ElasticsearchSinkBase.java
  inlong-sort/sort-connectors/elasticsearch-base/src/main/java/org/apache/inlong/sort/elasticsearch/table/RowElasticsearchSinkFunction.java
Labels: component/sort

#5468 [INLONG-5466][Docker] Add the ENV for Manager Open API secret config
  inlong-agent/agent-docker/README.md
  inlong-agent/agent-docker/agent-docker.sh
Labels: component/agent, service/docker

#5450 [INLONG-5448][Sort] Optimize cls callback when send failed
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/cls/ClsCallback.java
  licenses/inlong-sort-standalone/LICENSE
  pom.xml
Labels: component/sort

#5467 [INLONG-5164][Agent] BinlogReader adds audit and metrics
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/metrics/audit/AuditUtils.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/BinlogReader.java
Labels: component/agent

#5453 [INLONG-5452][Manager] Change creating resource after group approval to be asynchronous
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/listener/group/apply/ApproveApplyProcessListener.java
  inlong-manager/manager-workflow/src/main/java/org/apache/inlong/manager/workflow/event/process/ProcessEventListener.java
Labels: component/manager

#5487 [INLONG-5478][Manager] Add MySQL connector inlong metric feature for no primary key table
  inlong-sort/sort-connectors/mysql-cdc/pom.xml
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/debezium/DebeziumSourceFunction.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/MySqlSource.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/table/MySqlTableSource.java
Labels: component/sort

#5480 [INLONG-5479][Dashboard] Optimize the group configuration process and use meta management
  inlong-dashboard/src/components/AccessHelper/DataSourcesEditor/index.tsx
  inlong-dashboard/src/components/AccessHelper/DataStorageEditor/Editor.tsx
  inlong-dashboard/src/components/AccessHelper/index.ts
  inlong-dashboard/src/components/ConsumeHelper/BusinessSelect/MyBusinessModal.tsx
  inlong-dashboard/src/components/ConsumeHelper/BusinessSelect/index.tsx
  inlong-dashboard/src/components/ConsumeHelper/index.ts
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/locales/en.json
  inlong-dashboard/src/meta/consumption/index.tsx
  inlong-dashboard/src/meta/group/index.tsx
  inlong-dashboard/src/meta/sinks/clickhouse.tsx
  inlong-dashboard/src/meta/sinks/common/sourceFields.ts
  inlong-dashboard/src/meta/sinks/es.tsx
  inlong-dashboard/src/meta/sinks/greenplum.tsx
  inlong-dashboard/src/meta/sinks/hbase.tsx
  inlong-dashboard/src/meta/sinks/hive.tsx
  inlong-dashboard/src/meta/sinks/iceberg.tsx
  inlong-dashboard/src/meta/sinks/index.ts
  inlong-dashboard/src/meta/sinks/kafka.tsx
  inlong-dashboard/src/meta/sinks/mysql.tsx
  inlong-dashboard/src/meta/sinks/oracle.tsx
  inlong-dashboard/src/meta/sinks/postgreSql.tsx
  inlong-dashboard/src/meta/sinks/sqlServer.tsx
  inlong-dashboard/src/meta/sinks/tdsqlPostgreSql.tsx
  inlong-dashboard/src/meta/sources/binLog.ts
  inlong-dashboard/src/meta/sources/file.ts
  inlong-dashboard/src/meta/stream/index.tsx
  inlong-dashboard/src/pages/AccessDetail/DataSources/DetailModal.tsx
  inlong-dashboard/src/pages/AccessDetail/DataSources/index.tsx
  inlong-dashboard/src/pages/AccessDetail/DataStorage/DetailModal.tsx
  inlong-dashboard/src/pages/AccessDetail/DataStorage/index.tsx
  inlong-dashboard/src/pages/AccessDetail/DataStream/StreamItemModal.tsx
  inlong-dashboard/src/pages/AccessDetail/Info/config.tsx
  inlong-dashboard/src/pages/ApprovalDetail/AccessConfig.tsx
  inlong-dashboard/src/pages/ApprovalDetail/ConsumeConfig.tsx
  inlong-dashboard/src/pages/ConsumeCreate/Info/config.tsx
  inlong-dashboard/src/pages/ConsumeCreate/Info/index.tsx
  inlong-dashboard/src/pages/ConsumeCreate/index.tsx
  inlong-dashboard/src/pages/ConsumeDetail/Info/config.tsx
Labels: component/dashboard

#5483 [INLONG-5210][Sort] Add reporting metrics for Elasticsearch 7 connector and audit SDK
  inlong-sort/sort-connectors/elasticsearch-6/src/main/java/org/apache/inlong/sort/elasticsearch6/table/Elasticsearch6DynamicSink.java
  inlong-sort/sort-connectors/elasticsearch-7/src/main/java/org/apache/inlong/sort/elasticsearch7/ElasticsearchSink.java
  inlong-sort/sort-connectors/elasticsearch-7/src/main/java/org/apache/inlong/sort/elasticsearch7/table/Elasticsearch7DynamicSink.java
  inlong-sort/sort-connectors/elasticsearch-7/src/main/java/org/apache/inlong/sort/elasticsearch7/table/Elasticsearch7DynamicSinkFactory.java
  inlong-sort/sort-connectors/elasticsearch-base/pom.xml
  inlong-sort/sort-connectors/elasticsearch-base/src/main/java/org/apache/inlong/sort/elasticsearch/table/RowElasticsearchSinkFunction.java
Labels: component/sort

#5475 [INLONG-5474][Manager][Agent] Add metadata parameter
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/constant/JobConstants.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/pojo/FileJob.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/pojo/JobProfileDto.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/file/FileSource.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/file/FileSourceDTO.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/file/FileSourceRequest.java
Labels: component/manager, component/agent

#5490 [INLONG-5489][DataProxy] Optimize message deduplication logic
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/pojo/MQClusterConfig.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/IdCacheCleaner.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/SimpleMessageTubeSink.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/TubeSink.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/common/MsgDedupHandler.java
Labels: component/dataproxy

#5498 [INLONG-5497][Manager] DataProxyConfigRepository get error field name
  inlong-manager/manager-dao/src/main/resources/mappers/ClusterSetMapper.xml
Labels: component/manager

#5494 [INLONG-5493][Manager] Add user API in the manager client
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/User.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/UserImpl.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/client/ClientFactory.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/client/UserClient.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/service/UserApi.java
  inlong-manager/manager-client/src/test/java/org/apache/inlong/manager/client/api/inner/ClientFactoryTest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/user/UserInfo.java
Labels: component/manager

#5477 [INLONG-5476][Manager] Fix heartbeat status and node list query problem
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/InlongCluster.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/InlongClusterImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/InlongClusterServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/heartbeat/HeartbeatManager.java
Labels: component/manager

#5500 [INLONG-5499][Manager] Fix the status of the data source was wrong
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/AgentServiceImpl.java
Labels: component/manager

#5505 [INLONG-5501][Manager] Repair type of workflow_process.form_data when data too long
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
Labels: component/manager

#5454 [INLONG-5451][Sort] Kafka sink use customized partitioner
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/kafka/KafkaProducerCluster.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/kafka/PartitionerSelector.java
  inlong-sort-standalone/sort-standalone-source/src/test/java/org/apache/inlong/sort/standalone/sink/kafka/PartitionerSelectorTest.java
Labels: component/sort

#5518 [INLONG-5517][Manager] Fix not write back version when updating operate in manager client
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/InlongStreamImpl.java
Labels: component/manager

#5516 [INLONG-5515][Manager] Repair type of form_data when data too long
  inlong-manager/manager-test/src/main/resources/h2/apache_inlong_manager.sql
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
Labels: component/manager

#5486 [INLONG-5485][Sort] Support JSON UDF getter and JSON getter function
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/transformation/FunctionParam.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/transformation/function/JsonGetterFunction.java
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/function/JsonGetterFunction.java
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/parser/impl/FlinkSqlParser.java
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/parser/impl/NativeFlinkSqlParser.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/function/JsonGetterFunctionTest.java
Labels: component/sort

#5521 [INLONG-5520][Dashboard] Move cluster config to metas
  inlong-dashboard/src/metas/clusters/DataProxy.tsx
  inlong-dashboard/src/metas/clusters/Pulsar.tsx
  inlong-dashboard/src/metas/clusters/TubeMQ.tsx
  inlong-dashboard/src/metas/clusters/common/types.ts
  inlong-dashboard/src/metas/clusters/index.tsx
  inlong-dashboard/src/pages/ClusterTags/ClusterList.tsx
  inlong-dashboard/src/pages/Clusters/CreateModal.tsx
  inlong-dashboard/src/pages/Clusters/index.tsx
  inlong-dashboard/src/pages/DataSources/CreateModal.tsx
  inlong-dashboard/src/pages/DataSources/DbConfig.tsx
  inlong-dashboard/src/pages/DataSources/index.tsx
  inlong-dashboard/src/pages/DataSources/status.tsx
Labels: component/dashboard

#5524 [INLONG-5523][Dashboard] Support menu permission control
  inlong-dashboard/src/components/Layout/index.tsx
  inlong-dashboard/src/configs/menus/index.ts
  inlong-dashboard/src/i18n.ts
Labels: component/dashboard

#5492 [INLONG-5491][Manager] Fix the error of configuring the Pulsar nonpartitioned topic
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/consts/InlongConstants.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/queue/pulsar/PulsarOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/queue/pulsar/PulsarResourceOperator.java
Labels: component/manager

#5514 [INLONG-5488][Sort] Add metric for iceberg and dlc with flink metrics group and audit sdk
  inlong-sort/sort-connectors/base/pom.xml
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/Constants.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/metric/SinkMetricData.java
  inlong-sort/sort-connectors/hive/pom.xml
  inlong-sort/sort-connectors/hive/src/main/java/org/apache/inlong/sort/hive/HiveTableSink.java
  inlong-sort/sort-connectors/hive/src/main/java/org/apache/inlong/sort/hive/filesystem/AbstractStreamingWriter.java
  inlong-sort/sort-connectors/hive/src/main/java/org/apache/inlong/sort/hive/filesystem/CompactFileWriter.java
  inlong-sort/sort-connectors/hive/src/main/java/org/apache/inlong/sort/hive/filesystem/StreamingFileWriter.java
  inlong-sort/sort-connectors/hive/src/main/java/org/apache/inlong/sort/hive/filesystem/StreamingSink.java
  inlong-sort/sort-connectors/hive/src/main/java/org/apache/inlong/sort/hive/table/HiveTableInlongFactory.java
  inlong-sort/sort-connectors/iceberg/pom.xml
  inlong-sort/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/FlinkDynamicTableFactory.java
  inlong-sort/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/IcebergTableSink.java
  inlong-sort/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/DeltaManifests.java
  inlong-sort/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/DeltaManifestsSerializer.java
  inlong-sort/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/FlinkManifestUtil.java
  inlong-sort/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/FlinkSink.java
  inlong-sort/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/IcebergFilesCommitter.java
  inlong-sort/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/IcebergStreamWriter.java
  inlong-sort/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/ManifestOutputFileFactory.java
  inlong-sort/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/PartitionKeySelector.java
Labels: component/sort

#5526 [INLONG-5484][Sort] Add audit info for Elasticsearch 6 connector and report metric when delete mode
  inlong-sort/sort-connectors/elasticsearch-6/src/main/java/org/apache/inlong/sort/elasticsearch6/table/Elasticsearch6DynamicSink.java
  inlong-sort/sort-connectors/elasticsearch-6/src/main/java/org/apache/inlong/sort/elasticsearch6/table/Elasticsearch6DynamicSinkFactory.java
  inlong-sort/sort-connectors/elasticsearch-7/src/main/java/org/apache/inlong/sort/elasticsearch7/table/Elasticsearch7DynamicSinkFactory.java
  inlong-sort/sort-connectors/elasticsearch-base/src/main/java/org/apache/inlong/sort/elasticsearch/table/RowElasticsearchSinkFunction.java
Labels: component/sort

#5530 [INLONG-5529][Manger] Fix version not set error before updating inlong data objects.
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/DefaultInlongStreamBuilder.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/InlongGroupImpl.java
Labels: component/manager

#5534 [INLONG-5533][Agent] Support structured output in the Kubernetes
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/constant/JobConstants.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/constant/KubernetesConstants.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/file/AbstractFileReader.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/file/FileReaderOperator.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/file/KubernetesFileReader.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/utils/FileDataUtils.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/utils/MetaDataUtils.java
Labels: component/agent

#5532 [INLONG-5522][Dashboard] Disable editing of user roles and names
  inlong-dashboard/src/pages/UserManagement/DetailModal.tsx
Labels: component/dashboard, type/improve

#5537 [INLONG-5536][Manger] Fix version missing when updating stream info
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/DefaultInlongStreamBuilder.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/client/InlongStreamClient.java
Labels: component/manager

#5329 [INLONG-5156][Sort] Add metric for SQLServer source with Flink metrics group
  inlong-sort/sort-connectors/sqlserver-cdc/pom.xml
  inlong-sort/sort-connectors/sqlserver-cdc/src/main/java/org/apache/inlong/sort/cdc/sqlserver/SqlServerSource.java
  inlong-sort/sort-connectors/sqlserver-cdc/src/main/java/org/apache/inlong/sort/cdc/sqlserver/table/DebeziumSourceFunction.java
  inlong-sort/sort-connectors/sqlserver-cdc/src/main/java/org/apache/inlong/sort/cdc/sqlserver/table/SqlServerTableFactory.java
  inlong-sort/sort-connectors/sqlserver-cdc/src/main/java/org/apache/inlong/sort/cdc/sqlserver/table/SqlServerTableSource.java
  inlong-sort/sort-connectors/sqlserver-cdc/src/main/resources/META-INF.services/org.apache.flink.table.factories.Factory
  licenses/inlong-sort-connectors/LICENSE
Labels: component/sort

#5525 [INLONG-5352][Sort] Add audit report for Pulsar source
  inlong-sort/sort-connectors/pulsar/pom.xml
  inlong-sort/sort-connectors/pulsar/src/main/java/org/apache/inlong/sort/pulsar/table/DynamicPulsarDeserializationSchema.java
  inlong-sort/sort-connectors/pulsar/src/main/java/org/apache/inlong/sort/pulsar/table/PulsarDynamicTableFactory.java
  inlong-sort/sort-connectors/pulsar/src/main/java/org/apache/inlong/sort/pulsar/table/PulsarDynamicTableSource.java
  inlong-sort/sort-connectors/pulsar/src/main/java/org/apache/inlong/sort/pulsar/table/UpsertPulsarDynamicTableFactory.java
Labels: component/sort

#5539 [INLONG-5459][Sort] Add audit for MySQL extract node
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/Constants.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/metric/SourceMetricData.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/util/ValidateMetricOptionUtils.java
  inlong-sort/sort-connectors/mysql-cdc/pom.xml
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/debezium/DebeziumSourceFunction.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/MySqlSource.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/source/MySqlSource.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/source/MySqlSourceBuilder.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/source/config/MySqlSourceConfig.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/source/config/MySqlSourceConfigFactory.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/source/config/MySqlSourceOptions.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/source/metrics/MySqlSourceReaderMetrics.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/source/reader/MySqlRecordEmitter.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/table/MySqlTableInlongSourceFactory.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/table/MySqlTableSource.java
Labels: component/sort

#5541 [INLONG-5540][Agent] Fix the NPE for MySQL binlog reader
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/BinlogReader.java
Labels: component/agent

#5545 [INLONG-5538][DataProxy] Optimize the Producer construction logic in TubeSink
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/pojo/MQClusterConfig.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/SimpleMessageTubeSink.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/TubeSink.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/common/MsgDedupHandler.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/common/TubeProducerHolder.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/common/TubeUtils.java
Labels: component/dataproxy

#5472 [INLONG-5047][Agent] Support collect data from SQLServer
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/SQLServerSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/SQLServerReader.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/sources/TestSQLServerReader.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/sources/TestSQLServerSource.java
Labels: component/agent

#5552 [INLONG-5551][DataProxy] Add metric log output information in TubeSink
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/consts/AttributeConstants.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/consts/ConfigConstants.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/PulsarSink.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/TubeSink.java
Labels: component/dataproxy

#5550 [INLONG-5463][Sort] Add audit for HBase load node and fix MySqlSource set inlong metric error
  inlong-sort/sort-connectors/hbase/pom.xml
  inlong-sort/sort-connectors/hbase/src/main/java/org/apache/inlong/sort/hbase/HBase2DynamicTableFactory.java
  inlong-sort/sort-connectors/hbase/src/main/java/org/apache/inlong/sort/hbase/options/InLongOptions.java
  inlong-sort/sort-connectors/hbase/src/main/java/org/apache/inlong/sort/hbase/sink/HBaseDynamicTableSink.java
  inlong-sort/sort-connectors/hbase/src/main/java/org/apache/inlong/sort/hbase/sink/HBaseSinkFunction.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/source/MySqlSource.java
  inlong-sort/sort-connectors/sqlserver-cdc/pom.xml
Labels: component/sort

#5512 [INLONG-5496][SDK] Refactor single topic manager in Sort SDK
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/api/InlongTopicManager.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/api/SortClientConfig.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/impl/InlongTopicManagerImpl.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/impl/ManagerReporter.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/impl/SortClientImpl.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/manager/InlongSingleTopicManager.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/manager/InlongTopicManagerFactory.java
  inlong-sdk/sort-sdk/src/test/java/org/apache/inlong/sdk/sort/impl/InlongTopicManagerImplTest.java
  inlong-sdk/sort-sdk/src/test/java/org/apache/inlong/sdk/sort/manager/InlongSingleTopicManagerTest.java
Labels: component/sdk

#5543 [INLONG-5447][Sort] Add lookup support for Redis
  inlong-sort/sort-connectors/pom.xml
  inlong-sort/sort-connectors/redis/pom.xml
  inlong-sort/sort-connectors/redis/src/main/java/org/apache/inlong/sort/redis/common/config/RedisLookupOptions.java
  inlong-sort/sort-connectors/redis/src/main/java/org/apache/inlong/sort/redis/common/config/RedisOptions.java
  inlong-sort/sort-connectors/redis/src/main/java/org/apache/inlong/sort/redis/common/config/handler/FlinkJedisClusterConfigHandler.java
  inlong-sort/sort-connectors/redis/src/main/java/org/apache/inlong/sort/redis/common/config/handler/FlinkJedisSentinelConfigHandler.java
  inlong-sort/sort-connectors/redis/src/main/java/org/apache/inlong/sort/redis/common/config/handler/FlinkJedisStandaloneConfigHandler.java
  inlong-sort/sort-connectors/redis/src/main/java/org/apache/inlong/sort/redis/common/container/InlongRedisClusterContainer.java
  inlong-sort/sort-connectors/redis/src/main/java/org/apache/inlong/sort/redis/common/container/InlongRedisCommandsContainer.java
  inlong-sort/sort-connectors/redis/src/main/java/org/apache/inlong/sort/redis/common/container/InlongRedisContainer.java
  inlong-sort/sort-connectors/redis/src/main/java/org/apache/inlong/sort/redis/common/container/RedisCommandsContainerBuilder.java
  inlong-sort/sort-connectors/redis/src/main/java/org/apache/inlong/sort/redis/common/descriptor/InlongRedisValidator.java
  inlong-sort/sort-connectors/redis/src/main/java/org/apache/inlong/sort/redis/common/handler/InlongJedisConfigHandler.java
  inlong-sort/sort-connectors/redis/src/main/java/org/apache/inlong/sort/redis/common/handler/RedisMapperHandler.java
  inlong-sort/sort-connectors/redis/src/main/java/org/apache/inlong/sort/redis/common/mapper/RedisCommand.java
  inlong-sort/sort-connectors/redis/src/main/java/org/apache/inlong/sort/redis/common/mapper/RedisCommandDescription.java
  inlong-sort/sort-connectors/redis/src/main/java/org/apache/inlong/sort/redis/common/mapper/RedisMapper.java
  inlong-sort/sort-connectors/redis/src/main/java/org/apache/inlong/sort/redis/common/mapper/row/GetMapper.java
  inlong-sort/sort-connectors/redis/src/main/java/org/apache/inlong/sort/redis/common/mapper/row/HgetMapper.java
  inlong-sort/sort-connectors/redis/src/main/java/org/apache/inlong/sort/redis/common/mapper/row/RowRedisMapper.java
  inlong-sort/sort-connectors/redis/src/main/java/org/apache/inlong/sort/redis/common/mapper/row/ZrevrankMapper.java
  inlong-sort/sort-connectors/redis/src/main/java/org/apache/inlong/sort/redis/common/mapper/row/ZscoreMapper.java
  inlong-sort/sort-connectors/redis/src/main/java/org/apache/inlong/sort/redis/source/RedisDynamicTableSource.java
  inlong-sort/sort-connectors/redis/src/main/java/org/apache/inlong/sort/redis/source/RedisRowDataLookupFunction.java
  inlong-sort/sort-connectors/redis/src/main/java/org/apache/inlong/sort/redis/table/RedisDynamicTableFactory.java
  inlong-sort/sort-connectors/redis/src/main/java/org/apache/inlong/sort/redis/table/SchemaValidator.java
  inlong-sort/sort-connectors/redis/src/main/resources/META-INF/services/org.apache.flink.streaming.connectors.redis.common.hanlder.RedisHandler
  inlong-sort/sort-connectors/redis/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
  licenses/inlong-sort-connectors/LICENSE
  licenses/inlong-sort-connectors/NOTICE
  pom.xml
Labels: component/sort

#5549 [INLONG-5462][Sort] Add audit for Oracle extract Node
  inlong-sort/sort-connectors/oracle-cdc/pom.xml
  inlong-sort/sort-connectors/oracle-cdc/src/main/java/org/apache/inlong/sort/cdc/oracle/DebeziumSourceFunction.java
  inlong-sort/sort-connectors/oracle-cdc/src/main/java/org/apache/inlong/sort/cdc/oracle/OracleSource.java
  inlong-sort/sort-connectors/oracle-cdc/src/main/java/org/apache/inlong/sort/cdc/oracle/table/OracleTableSource.java
  inlong-sort/sort-connectors/oracle-cdc/src/main/java/org/apache/inlong/sort/cdc/oracle/table/OracleTableSourceFactory.java
Labels: component/sort

#5546 [INLONG-5460][Sort] Add Audit for postgreSQL extract node
  inlong-sort/sort-connectors/postgres-cdc/pom.xml
  inlong-sort/sort-connectors/postgres-cdc/src/main/java/org.apache.inlong.sort.cdc.postgres/DebeziumSourceFunction.java
  inlong-sort/sort-connectors/postgres-cdc/src/main/java/org.apache.inlong.sort.cdc.postgres/PostgreSQLSource.java
  inlong-sort/sort-connectors/postgres-cdc/src/main/java/org/apache/inlong/sort/cdc/postgres/table/PostgreSQLTableFactory.java
  inlong-sort/sort-connectors/postgres-cdc/src/main/java/org/apache/inlong/sort/cdc/postgres/table/PostgreSQLTableSource.java
Labels: component/sort

#5569 [INLONG-5567][TubeMQ] Master start failed with NullPointerException
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/stats/prometheus/BrokerPromMetricService.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/stats/prometheus/MasterPromMetricService.java
Labels: component/tubemq

#5566 [INLONG-5565][Dashboard] Support extended group fields
  inlong-dashboard/src/configs/menus/index.ts
  inlong-dashboard/src/configs/routes/index.tsx
  inlong-dashboard/src/i18n.ts
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/locales/en.json
  inlong-dashboard/src/metas/common.ts
  inlong-dashboard/src/metas/group/extends/index.tsx
  inlong-dashboard/src/metas/group/index.tsx
  inlong-dashboard/src/metas/group/status.tsx
  inlong-dashboard/src/pages/GroupDashboard/ExecutionLogModal.tsx
  inlong-dashboard/src/pages/GroupDashboard/config.tsx
  inlong-dashboard/src/pages/GroupDashboard/index.tsx
  inlong-dashboard/src/pages/GroupDetail/Audit/config.tsx
  inlong-dashboard/src/pages/GroupDetail/DataSources/index.tsx
  inlong-dashboard/src/pages/GroupDetail/DataSources/status.tsx
  inlong-dashboard/src/pages/GroupDetail/DataStorage/index.tsx
  inlong-dashboard/src/pages/GroupDetail/DataStorage/status.tsx
  inlong-dashboard/src/pages/GroupDetail/DataStream/StreamItemModal.tsx
  inlong-dashboard/src/pages/GroupDetail/DataStream/index.tsx
  inlong-dashboard/src/pages/GroupDetail/DataStream/status.tsx
  inlong-dashboard/src/pages/GroupDetail/Info/config.tsx
  inlong-dashboard/src/pages/GroupDetail/Info/index.tsx
  inlong-dashboard/src/pages/GroupDetail/index.tsx
  inlong-dashboard/src/pages/ProcessDetail/Access.tsx
  inlong-dashboard/src/pages/ProcessDetail/AccessConfig.tsx
  inlong-dashboard/src/router.tsx
  inlong-dashboard/src/utils/index.ts
Labels: component/dashboard

#5528 [INLONG-5527][Docker] Add configmap.yaml for mysql to add some custom configuration
  docker/kubernetes/templates/mysql-configmap.yaml
  docker/kubernetes/templates/mysql-statefulset.yaml
Labels: service/k8s

#5571 [INLONG-5570][Manager] Add manager client packages into the lib directory
  inlong-manager/manager-web/assembly.xml
  inlong-manager/pom.xml
Labels: component/manager

#5367 [INLONG-5046][Agent] Support collect data from PostgreSQL
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/constant/PostgreSQLConstants.java
  inlong-agent/agent-plugins/pom.xml
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/PostgreSQLSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/PostgreSQLReader.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/snapshot/PostgreSQLSnapshotBase.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/sources/PostgreSQLOffsetManagerTest.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/sources/PostgreSQLReaderTest.java
  licenses/inlong-agent/LICENSE
  pom.xml
Labels: component/agent

#5548 [INLONG-5461][Sort] Add audit for MongoDB extract node
  inlong-sort/sort-connectors/mongodb-cdc/pom.xml
  inlong-sort/sort-connectors/mongodb-cdc/src/main/java/org/apache/inlong/sort/cdc/mongodb/DebeziumSourceFunction.java
  inlong-sort/sort-connectors/mongodb-cdc/src/main/java/org/apache/inlong/sort/cdc/mongodb/MongoDBSource.java
  inlong-sort/sort-connectors/mongodb-cdc/src/main/java/org/apache/inlong/sort/cdc/mongodb/table/MongoDBTableSource.java
  inlong-sort/sort-connectors/mongodb-cdc/src/main/java/org/apache/inlong/sort/cdc/mongodb/table/MongoDBTableSourceFactory.java
Labels: component/sort

#5572 [INLONG-5559][Manager] Supplement the workflow approver API in the manager client
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/client/ClientFactory.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/client/WorkflowApproverClient.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/service/WorkflowApproverApi.java
  inlong-manager/manager-client/src/test/java/org/apache/inlong/manager/client/api/inner/ClientFactoryTest.java
  inlong-manager/manager-client/src/test/java/org/apache/inlong/manager/client/api/inner/WorkflowApproverClientTest.java
Labels: component/manager

#5584 [INLONG-5583][Kubernetes] Add timezone to helm chart
  docker/kubernetes/templates/agent-statefulset.yaml
  docker/kubernetes/templates/audit-statefulset.yaml
  docker/kubernetes/templates/dashboard-statefulset.yaml
  docker/kubernetes/templates/dataproxy-statefulset.yaml
  docker/kubernetes/templates/manager-statefulset.yaml
  docker/kubernetes/templates/mysql-statefulset.yaml
  docker/kubernetes/templates/tubemq-broker-statefulset.yaml
  docker/kubernetes/templates/tubemq-manager-statefulset.yaml
  docker/kubernetes/templates/tubemq-master-statefulset.yaml
  docker/kubernetes/templates/zookeeper-statefulset.yaml
Labels: service/k8s

#5556 [INLONG-5555][Manager] Fix missing heartbeat fields and the file task split error
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/fetcher/ManagerFetcher.java
  inlong-common/src/main/java/org/apache/inlong/common/pojo/agent/TaskRequest.java
  inlong-dataproxy/conf/common.properties
  inlong-dataproxy/dataproxy-docker/dataproxy-docker.sh
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/ConfigManager.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/consts/ConfigConstants.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/heartbeat/HeartbeatManager.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/DefaultInlongStreamBuilder.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/InlongStreamImpl.java
  inlong-manager/manager-client/src/test/java/org/apache/inlong/manager/client/api/inner/ClientFactoryTest.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/StreamSourceEntity.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/StreamSourceEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/mappers/StreamSourceEntityMapper.xml
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/SourceRequest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/StreamSource.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/file/FileSource.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/file/FileSourceDTO.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/file/FileSourceRequest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/AgentServiceImpl.java
  inlong-manager/manager-test/src/main/resources/h2/apache_inlong_manager.sql
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
Labels: component/manager, component/dataproxy, component/agent, service/docker

#5579 [INLONG-5577][Manager][Sort] Support function fieldType
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/FieldType.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/util/FieldRelationUtils.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/util/LoadNodeUtils.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/transformation/FunctionParam.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/transformation/function/CustomFunction.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/CustomFunctionSqlParseTest.java
Labels: component/manager, component/sort

#5588 [INLONG-5576][Sort] Add Redis extract node and support temporal join
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/LookupOptions.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/constant/RedisConstant.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/enums/ExtractMode.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/enums/RedisCommand.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/enums/RedisMode.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/ExtractNode.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/Node.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/extract/RedisExtractNode.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/transformation/relation/InnerTemporalJoin.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/transformation/relation/JoinRelation.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/transformation/relation/LeftOuterTemporalJoin.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/transformation/relation/NodeRelation.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/transformation/relation/TemporalJoin.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/node/extract/RedisExtractNodeTest.java
  inlong-sort/sort-connectors/redis/src/main/java/org/apache/inlong/sort/redis/common/config/RedisOptions.java
  inlong-sort/sort-connectors/redis/src/main/java/org/apache/inlong/sort/redis/table/RedisDynamicTableFactory.java
  inlong-sort/sort-core/pom.xml
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/parser/impl/FlinkSqlParser.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/RedisTemporalJoinSqlParseTest.java
Labels: component/sort

#5581 [INLONG-5580][Sort] Add InlongMetric interface for extract and load nodes
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/constant/KafkaConstant.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/constant/OracleConstant.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/ExtractNode.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/extract/KafkaExtractNode.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/extract/MongoExtractNode.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/extract/OracleExtractNode.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/extract/PulsarExtractNode.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/extract/SqlServerExtractNode.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/load/ClickHouseLoadNode.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/load/DLCIcebergLoadNode.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/load/ElasticsearchLoadNode.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/load/GreenplumLoadNode.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/load/HiveLoadNode.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/load/IcebergLoadNode.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/load/KafkaLoadNode.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/load/MySqlLoadNode.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/load/OracleLoadNode.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/load/PostgresLoadNode.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/load/SqlServerLoadNode.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/load/TDSQLPostgresLoadNode.java
  inlong-sort/sort-connectors/postgres-cdc/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
  inlong-sort/sort-connectors/pulsar/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
  inlong-sort/sort-connectors/sqlserver-cdc/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
Labels: component/sort

#5586 [INLONG-5582][Manager][Dashboard] Fix error in client API
  inlong-dashboard/src/components/StaffSelect/index.tsx
  inlong-dashboard/src/pages/UserManagement/index.tsx
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/client/UserClient.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/service/InlongStreamApi.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/service/UserApi.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/UserController.java
Labels: component/manager, component/dashboard

#5597 [INLONG-5596][Dashboard] Support locales extends
  inlong-dashboard/src/locales/extends/cn.json
  inlong-dashboard/src/locales/extends/en.json
  inlong-dashboard/src/router.tsx
Labels: component/dashboard

#5593 [INLONG-5592][Dashboard] HighSelect support addonAfter prop
  inlong-dashboard/package-lock.json
  inlong-dashboard/package.json
  inlong-dashboard/src/components/HighSelect/index.tsx
  inlong-dashboard/src/components/UserSelect/index.tsx
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/locales/en.json
  inlong-dashboard/src/metas/clusters/index.tsx
  inlong-dashboard/src/metas/consumption/index.tsx
  inlong-dashboard/src/metas/group/index.tsx
  inlong-dashboard/src/pages/ClusterTags/TagDetailModal.tsx
  inlong-dashboard/src/pages/GroupDetail/Info/index.tsx
  inlong-dashboard/src/pages/ProcessManagement/DetailModal.tsx
Labels: component/dashboard

#5590 [INLONG-5589][Agent] To extend type of file data for k8s log
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/utils/AgentUtils.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/AgentManager.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/job/JobWrapper.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/fetcher/ManagerFetcher.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/TextFileSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/file/AbstractFileReader.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/file/TextFileReader.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/utils/FileDataUtils.java
Labels: component/agent

#5600 [INLONG-5599][Sort] Add temporal join support for MySQL
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/extract/MySqlExtractNode.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/transformation/WatermarkField.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/transformation/relation/InnerTemporalJoinRelationRelation.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/transformation/relation/JoinRelation.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/transformation/relation/LeftOuterTemporalJoinRelationRelation.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/transformation/relation/NodeRelation.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/transformation/relation/TemporalJoinRelation.java
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/parser/impl/FlinkSqlParser.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/MySqlTemporalJoinRelationSqlParseTest.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/RedisTemporalJoinRelationSqlParseTest.java
Labels: component/sort

#5602 [INLONG-5601][Agent] Update the default triggering policy for file collection is FULL
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/trigger/TriggerManager.java
Labels: component/agent

#5609 [INLONG-5604][Manager] Add token info for Pulsar source
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/pulsar/PulsarSourceOperator.java
Labels: component/manager

#5591 [INLONG-5587][Sort] Add filesystem connector module for inlong metric and inlong audit
  inlong-distribution/src/main/assemblies/sort-connectors.xml
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/load/FileSystemLoadNode.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/Constants.java
  inlong-sort/sort-connectors/filesystem/pom.xml
  inlong-sort/sort-connectors/filesystem/src/main/java/org/apache/inlong/sort/filesystem/AbstractFileSystemTable.java
  inlong-sort/sort-connectors/filesystem/src/main/java/org/apache/inlong/sort/filesystem/FileSystemTableFactory.java
  inlong-sort/sort-connectors/filesystem/src/main/java/org/apache/inlong/sort/filesystem/FileSystemTableSink.java
  inlong-sort/sort-connectors/filesystem/src/main/java/org/apache/inlong/sort/filesystem/stream/AbstractStreamingWriter.java
  inlong-sort/sort-connectors/filesystem/src/main/java/org/apache/inlong/sort/filesystem/stream/StreamingFileWriter.java
  inlong-sort/sort-connectors/filesystem/src/main/java/org/apache/inlong/sort/filesystem/stream/StreamingSink.java
  inlong-sort/sort-connectors/filesystem/src/main/java/org/apache/inlong/sort/filesystem/stream/compact/CompactFileWriter.java
  inlong-sort/sort-connectors/filesystem/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
  inlong-sort/sort-connectors/pom.xml
  inlong-sort/sort-core/pom.xml
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/FilesystemSqlParserTest.java
  licenses/inlong-sort-connectors/LICENSE
  licenses/inlong-sort-connectors/NOTICE
Labels: component/sort

#5606 [INLONG-5603][DataProxy] The in charges person and other info are not reported
  inlong-dataproxy/conf/common.properties
  inlong-dataproxy/dataproxy-docker/Dockerfile
  inlong-dataproxy/dataproxy-docker/dataproxy-docker.sh
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/consts/ConfigConstants.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/heartbeat/HeartbeatManager.java
Labels: component/dataproxy, service/docker

#5607 [INLONG-5605][Sort] Fix bug when primary Key and routing-feild are null in Elasticsearch 7 connector
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/load/ElasticsearchLoadNode.java
Labels: component/sort

#5502 [INLONG-5040][Sort] Add Apache Doris extract node for Sort
  inlong-distribution/src/main/assemblies/sort-connectors.xml
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/constant/DorisConstant.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/ExtractNode.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/Node.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/extract/DorisExtractNode.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/node/extract/DorisExtractNodeTest.java
  inlong-sort/sort-connectors/doris/README.md
  inlong-sort/sort-connectors/doris/pom.xml
  inlong-sort/sort-connectors/pom.xml
  inlong-sort/sort-core/pom.xml
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/DorisExtractToMySqlLoadTest.java
  licenses/inlong-sort-connectors/LICENSE
  licenses/inlong-sort-connectors/NOTICE
  pom.xml
Labels: component/sort

#5568 [INLONG-5564][Sort] Support read Pulsar source without adminUrl
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/extract/PulsarExtractNode.java
  inlong-sort/sort-connectors/pulsar/src/main/java/org/apache/inlong/sort/pulsar/table/PulsarDynamicTableFactory.java
  inlong-sort/sort-connectors/pulsar/src/main/java/org/apache/inlong/sort/pulsar/table/PulsarDynamicTableSource.java
  inlong-sort/sort-connectors/pulsar/src/main/java/org/apache/inlong/sort/pulsar/table/UpsertPulsarDynamicTableFactory.java
  inlong-sort/sort-connectors/pulsar/src/main/java/org/apache/inlong/sort/pulsar/withoutadmin/FlinkPulsarSource.java
  inlong-sort/sort-connectors/pulsar/src/main/java/org/apache/inlong/sort/pulsar/withoutadmin/PulsarFetcher.java
  inlong-sort/sort-connectors/pulsar/src/main/java/org/apache/inlong/sort/pulsar/withoutadmin/PulsarMetadataReader.java
  inlong-sort/sort-connectors/pulsar/src/main/java/org/apache/inlong/sort/pulsar/withoutadmin/ReaderThread.java
  licenses/inlong-sort-connectors/LICENSE
Labels: component/sort

#5610 [INLONG-5598][Manager][DataProxy] Mask sensitive data in logs
  inlong-common/src/main/java/org/apache/inlong/common/util/MaskDataUtils.java
  inlong-common/src/test/java/org/apache/inlong/common/util/MaskDataUtilsTest.java
  inlong-dataproxy/conf/log4j2.xml
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/LogMaskerConverter.java
  inlong-dataproxy/dataproxy-source/src/test/java/org/apache/inlong/dataproxy/config/LogMaskerConverterTest.java
  inlong-manager/manager-web/pom.xml
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/config/LogMaskerConverter.java
  inlong-manager/manager-web/src/main/resources/log4j2.xml
  inlong-manager/manager-web/src/test/java/org/apache/inlong/manager/web/config/LogMaskerConverterTest.java
Labels: component/manager, component/dataproxy

#5503 [INLONG-5041][Sort] Add Apache Doris load node for Sort
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/LoadNode.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/Node.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/extract/DorisExtractNode.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/load/DorisLoadNode.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/node/load/DorisLoadNodeTest.java
  inlong-sort/sort-connectors/doris/README.md
  inlong-sort/sort-connectors/doris/pom.xml
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/DorisExtractNodeToDorisLoadNodeTest.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/DorisExtractNodeToMySqlLoadNodeTest.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/MySqlExtractNodeToDorisLoadNodeTest.java
  licenses/inlong-sort-connectors/LICENSE
Labels: component/sort

#5616 [INLONG-5615][Manager] Add template id and sub task status for file source
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/ListCommand.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/util/PrintUtils.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/validator/GroupStatus.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/InlongClient.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/InlongGroupContext.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/InlongClientImpl.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/InlongGroupImpl.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/client/InlongGroupClient.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/SimpleGroupStatus.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/SimpleSourceStatus.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/StreamSourceEntity.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/StreamSourceEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/mappers/StreamSourceEntityMapper.xml
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/group/InlongGroupStatusInfo.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/StreamSource.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/SubSourceDTO.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/AgentServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/file/FileSourceOperator.java
  inlong-manager/manager-test/src/main/resources/h2/apache_inlong_manager.sql
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
Labels: component/manager

#5629 [INLONG-5615][Dashboard] Fix file source agent ip field
  inlong-dashboard/src/metas/sources/file.ts
Labels: component/dashboard

#5622 [INLONG-5620][Dashboard] UserSelect uses HighSelect's built-in properties directly
  inlong-dashboard/src/components/HighSelect/index.tsx
  inlong-dashboard/src/components/UserSelect/index.tsx
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/locales/en.json
Labels: component/dashboard

#5632 [INLONG-5631][Release] Add the 1.3.0 version option for the bug report
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: service/ci

#5636 [INLONG-5633][DataProxy] Add statistical information to the HTTP source
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/http/HttpBaseSource.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/http/SimpleHttpSource.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/http/SimpleMessageHandler.java
Labels: component/dataproxy

#5627 [INLONG-4764][Sort] Import sort end2end unit test with group file input
  inlong-sort/sort-end-to-end-tests/src/test/java/org/apache/inlong/sort/tests/KafkaE2ECase.java
  inlong-sort/sort-end-to-end-tests/src/test/java/org/apache/inlong/sort/tests/utils/FlinkContainerTestEnv.java
  inlong-sort/sort-end-to-end-tests/src/test/java/org/apache/inlong/sort/tests/utils/PlaceholderResolver.java
  inlong-sort/sort-end-to-end-tests/src/test/java/org/apache/inlong/sort/tests/utils/TestUtils.java
  inlong-sort/sort-end-to-end-tests/src/test/resources/env/kafka_test_kafka_init.txt
  inlong-sort/sort-end-to-end-tests/src/test/resources/env/kafka_test_mysql_init.txt
  inlong-sort/sort-end-to-end-tests/src/test/resources/groupFile/kafka_test.json
Labels: component/sort

#5641 [INLONG-5437][SDK] Support initializing SDK(cpp) by ClientConfig object
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/README.md
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/release/inc/client_config.h
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/release/inc/tc_api.h
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/base/client_config.cc
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/base/logger.h
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/base/pack_queue.h
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/base/proxylist_config.cc
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/base/proxylist_config.h
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/base/sdk_constant.h
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/base/sdk_core.cc
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/base/sdk_core.h
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/net/buffer_pool.cc
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/net/buffer_pool.h
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/net/executor_thread_pool.cc
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/net/executor_thread_pool.h
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/net/send_buffer.h
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/net/socket_connection.cc
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/net/socket_connection.h
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/test/CMakeLists.txt
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/test/base/client_config_test.cc
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/test/base/proxylist_config_test.cc
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/test/net/big_pack_test.cc
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/test/net/buffer_pool_test.cc
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/test/net/send_buffer_test.cc
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/test/net/socket_connection_test.cc
Labels: component/sdk

#5638 [INLONG-5637][Sort] Fix kafka load node npe error
  inlong-sort/sort-connectors/kafka/src/main/java/org/apache/inlong/sort/kafka/FlinkKafkaProducer.java
Labels: component/sort

#5651 [INLONG-5650][Manager] Remove the non-null check of the Pulsar adminURL
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/cluster/pulsar/PulsarClusterRequest.java
Labels: component/manager

#5660 [INLONG-5658][DataProxy] Fix incorrect docker script
  inlong-dataproxy/dataproxy-docker/dataproxy-docker.sh
Labels: component/dataproxy, service/docker

#5653 [INLONG-5652][Docker] Fix push aarch64 images script
  .github/workflows/ci_docker.yml
  docker/publish-by-arch.sh
Labels: service/ci, service/docker

#5664 [INLONG-5663][Agent] To update data structure for k8s log
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/constant/KubernetesConstants.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/file/FileReaderOperator.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/file/KubernetesFileReader.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/utils/MetaDataUtils.java
Labels: component/agent

#5625 [INLONG-5621][SDK] Support multi-topic fetcher for Pulsar
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/api/MultiTopicsFetcher.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/api/SortClientConfig.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/fetcher/pulsar/PulsarConsumer.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/fetcher/pulsar/PulsarMultiTopicsFetcher.java
Labels: component/sdk

#5661 [INLONG-5657][Release] Change the tag of Docker images to 1.3.0
  conf/inlong.conf
  docker/docker-compose/docker-compose.yml
  inlong-agent/agent-docker/README.md
  inlong-audit/audit-docker/README.md
  inlong-dataproxy/dataproxy-docker/README.md
  inlong-manager/manager-docker/README.md
  inlong-tubemq/tubemq-docker/tubemq-all/README.md
Labels: component/tubemq, component/manager, component/dataproxy, component/agent, component/audit, service/docker

#5668 [INLONG-5667][SDK] Change key value of groupId and streamId while wrapping message
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/base/pack_queue.cc
Labels: component/sdk

#5673 [INLONG-5672][TubeMQ] Add SetLogPrintLevel() in TubeMQServiceConfig class
  inlong-tubemq/tubemq-client-twins/tubemq-client-cpp/example/consumer/test_consumer.cc
  inlong-tubemq/tubemq-client-twins/tubemq-client-cpp/include/tubemq/tubemq_config.h
  inlong-tubemq/tubemq-client-twins/tubemq-client-cpp/src/tubemq_config.cc
Labels: component/tubemq

#5677 [INLONG-5675][Agent] Support custom fixed ip for Agent
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/constant/AgentConstants.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/utils/AgentUtils.java
  inlong-agent/agent-common/src/test/java/org/apache/inlong/agent/common/TestAgentUtils.java
  inlong-agent/agent-common/src/test/resources/agent.properties
  inlong-agent/agent-docker/agent-docker.sh
  inlong-agent/conf/agent.properties
Labels: component/agent, service/docker

#5679 [INLONG-5678][Manager] Provide source info for group status
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/InlongGroupContext.java
Labels: component/manager
