Repository apache/inlong, pull requests merged in 2022-07, with the labels that each got.

#4822 [INLONG-4821][Agent] Fix the error of null value for key job.instance.id
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/db/Db.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/db/JobProfileDb.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/db/RocksDbImp.java
Labels: inlong-agent

#4675 [INLONG-4673][Docker] Support for building Docker images for the ARM architecture
  docker/build-arm-docker-images.sh
  inlong-sdk/sdk-common/pom.xml
Labels: inlong-sdk

#4825 [INLONG-4824][Log] Print line numbers in log info for all modules
  inlong-agent/agent-core/src/test/resources/log4j2.xml
  inlong-agent/agent-plugins/src/test/resources/log4j2.xml
  inlong-agent/conf/log4j2.xml
  inlong-audit/conf/log4j2.xml
  inlong-dataproxy/conf/log4j2.xml
  inlong-dataproxy/dataproxy-source/src/main/resources/log4j2.xml
  inlong-manager/manager-client-tools/src/test/resources/log4j2.xml
  inlong-tubemq/conf/log4j2.xml
  inlong-tubemq/tubemq-manager/conf/log4j2.xml
Labels: inlong-tubemq, inlong-manager, inlong-dataproxy, inlong-agent, inlong-audit

#4728 [INLONG-4726][SortStandalone] Support ClickHouse sink
  inlong-sort-standalone/sort-standalone-source/pom.xml
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/clickhouse/ClickHouseChannelWorker.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/clickhouse/ClickHouseIdConfig.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/clickhouse/ClickHouseSink.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/clickhouse/ClickHouseSinkContext.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/clickhouse/DefaultEventHandler.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/clickhouse/IEventHandler.java
Labels: inlong-sort-standalone

#4760 [INLONG-4715][Manager] Fix exception when no sink info is configured
  inlong-manager/manager-client-examples/src/test/java/org/apache/inlong/manager/client/ut/Kafka2HiveTest.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/InlongStreamImpl.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/stream/InlongStreamInfo.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/workflow/form/GroupResourceProcessForm.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/listener/StartupSortListener.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/listener/StartupStreamListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/InlongStreamServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sort/CreateSortConfigListenerV2.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sort/CreateStreamSortConfigListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sort/light/LightGroupSortListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/group/listener/approve/GroupApproveProcessListener.java
  inlong-manager/manager-workflow/src/main/java/org/apache/inlong/manager/workflow/core/impl/ProcessorExecutorImpl.java
  inlong-manager/manager-workflow/src/main/java/org/apache/inlong/manager/workflow/definition/SkipResolver.java
  inlong-manager/manager-workflow/src/main/java/org/apache/inlong/manager/workflow/definition/SkippableElement.java
  inlong-manager/manager-workflow/src/main/java/org/apache/inlong/manager/workflow/definition/WorkflowTask.java
  inlong-manager/manager-workflow/src/main/java/org/apache/inlong/manager/workflow/processor/AbstractTaskProcessor.java
  inlong-manager/manager-workflow/src/main/java/org/apache/inlong/manager/workflow/processor/SkipableElementProcessor.java
Labels: inlong-manager

#4833 [INLONG-4820][Dashboard] Support cluster tag management
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/locales/en.json
Labels: inlong-dashboard

#4837 [INLONG-4826][Kubernetes] Change storageClassName location
  docker/kubernetes/templates/mysql-pvc.yaml
Labels: k8s

#4842 [INLONG-4834][Manager] After deleting the data_proxy cluster config, the data_proxy node under it was not deleted
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/InlongClusterServiceImpl.java
Labels: inlong-manager

#4839 [INLONG-4838][Docker] Add MQ Type environment for Audit and DataProxy
  docker/docker-compose/docker-compose.yml
  inlong-audit/audit-docker/Dockerfile
  inlong-audit/audit-docker/audit-docker.sh
  inlong-dataproxy/dataproxy-docker/Dockerfile
  inlong-dataproxy/dataproxy-docker/dataproxy-docker.sh
Labels: inlong-dataproxy, inlong-audit, docker

#4848 [INLONG-4847][Manager] Add prompt message for the non-blank check
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/cluster/BindTagRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/cluster/ClusterNodeRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/cluster/ClusterRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/cluster/ClusterTagRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/cluster/pulsar/PulsarClusterRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/common/SaveValidation.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/common/UpdateValidation.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/consumption/ConsumptionInfo.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/node/DataNodeRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/SinkPageRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/SinkRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/hive/HiveSinkRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/SourcePageRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/SourceRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/transform/TransformRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/user/UserInfo.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/StreamTransformEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/mappers/StreamTransformEntityMapper.xml
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/transform/StreamTransformServiceTest.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/DataNodeController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/InlongClusterController.java
Labels: inlong-manager

#4853 [INLONG-4852][Manager] Replace deprecated APPLICATION_JSON_UTF8 with APPLICATION_JSON
  inlong-manager/manager-web/src/test/java/org/apache/inlong/manager/web/WebBaseTest.java
  inlong-manager/manager-web/src/test/java/org/apache/inlong/manager/web/controller/AnnoControllerTest.java
Labels: inlong-manager

#4851 [INLONG-4850][Dashboard] Add prompt information for some fields in cluster management
  inlong-dashboard/src/components/AccessHelper/FieldsConfig/dataFields.tsx
  inlong-dashboard/src/components/ConsumeHelper/FieldsConfig/basicFields.tsx
  inlong-dashboard/src/components/HighSelect/index.tsx
  inlong-dashboard/src/components/MetaData/StorageHive.tsx
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/locales/en.json
  inlong-dashboard/src/pages/AccessDetail/DataSources/index.tsx
  inlong-dashboard/src/pages/AccessDetail/DataStream/StreamItemModal.tsx
  inlong-dashboard/src/pages/AccessDetail/DataStream/index.tsx
  inlong-dashboard/src/pages/ApprovalDetail/AccessConfig.tsx
  inlong-dashboard/src/pages/Clusters/config/Pulsar.tsx
  inlong-dashboard/src/pages/Clusters/config/TubeMQ.tsx
  inlong-dashboard/src/pages/Login/index.tsx
Labels: inlong-dashboard

#4859 [INLONG-4857][Dashboard] Unable to get stream information
  inlong-dashboard/src/components/AccessHelper/FieldsConfig/dataFields.tsx
  inlong-dashboard/src/components/Layout/index.tsx
  inlong-dashboard/src/pages/AccessDetail/DataStream/helper.ts
  inlong-dashboard/src/pages/ClusterTags/TagDetailModal.tsx
  inlong-dashboard/src/pages/Login/index.tsx
Labels: inlong-dashboard

#4856 [INLONG-4815][Sort] Supporting field type cast when sinking data to HBase
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/parser/impl/FlinkSqlParser.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/DataTypeConvertSqlParseTest.java
Labels: inlong-sort

#4873 [INLONG-4870][Manager] Refactor util classes
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/InlongGroupContext.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/InlongGroupImpl.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/InlongStreamImpl.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/InnerGroupContext.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/InnerInlongManagerClient.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/transform/MultiDependencyTransform.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/transform/SingleDependencyTransform.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/util/InlongGroupTransfer.java
  inlong-manager/manager-client/src/test/java/org/apache/inlong/manager/client/api/inner/InnerInlongManagerClientTest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/auth/DefaultAuthentication.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/auth/SecretAuthentication.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/auth/TokenAuthentication.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/group/InlongGroupRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/util/AssertUtils.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/util/DateUtils.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/util/HttpUtils.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/util/MD5Utils.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/util/NetworkUtils.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/util/Preconditions.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/util/SmallTools.java
  inlong-manager/manager-common/src/test/java/org/apache/inlong/manager/common/util/MD5UtilsTest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/UserServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/group/InlongGroupServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/mq/util/TubeMQOperator.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/InlongGroupController.java
Labels: inlong-manager

#4879 [INLONG-4876][Dashboard] Added prompt information on tag modification and deletion
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/locales/en.json
  inlong-dashboard/src/pages/ClusterTags/TagDetailModal.tsx
  inlong-dashboard/src/pages/ClusterTags/index.tsx
Labels: inlong-dashboard

#4881 [INLONG-4880][Manger] Modify the ClickHouse configuration to make the saved info consistent with the query
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/ck/ClickHouseSink.java
Labels: inlong-manager

#4872 [INLONG-4871][SDK] The generateMd5 method generate md2 not md5
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/pb/config/pojo/GetProxyConfigByAgentResponse.java
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/pb/config/pojo/ProxyClusterConfig.java
Labels: inlong-sdk

#4832 [INLONG-4812][Manager] Choose the specified connector instead of all
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/consts/InlongConstants.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/flink/FlinkOperation.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/flink/enums/ConnectorJarType.java
Labels: inlong-manager

#4200 [INLONG-4177][Manager] Refactor getClusterConfig API for Sort Standalone
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sortstandalone/SortIdInfo.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sortstandalone/SortSinkInfo.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sortstandalone/SortTaskInfo.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/DataNodeEntityMapper.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/StreamSinkEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/mappers/DataNodeEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/StreamSinkEntityMapper.xml
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/SortClusterService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/SortClusterConfigServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/SortClusterServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/SortServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/SortTaskIdParamServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/SortTaskSinkParamServiceImpl.java
  inlong-manager/manager-web/src/test/java/org/apache/inlong/manager/web/controller/openapi/SortControllerTest.java
Labels: inlong-manager

#4887 [INLONG-4885][Dashboard] Support Greenplum Sink
  inlong-dashboard/src/components/MetaData/StorageGreenplum.tsx
  inlong-dashboard/src/components/MetaData/index.ts
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/locales/en.json
Labels: inlong-dashboard

#4878 [INLONG-4875][Manager] Re-issue failed source task
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/AbstractSourceOperator.java
Labels: inlong-manager

#4861 [INLONG-4841][Manager] Optimize the service validation method
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/cluster/ClusterTagRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/group/InlongGroupApproveRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/group/InlongGroupRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/util/ValidationUtils.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/group/InlongGroupService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/group/InlongGroupServiceImpl.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/common/utils/ValidationUtilsTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/group/GroupServiceTest.java
Labels: inlong-manager

#4893 [INLONG-4892][Sort] Sort connector package without own Factory files
  inlong-sort/sort-connectors/elasticsearch-6/pom.xml
  inlong-sort/sort-connectors/elasticsearch-7/pom.xml
  inlong-sort/sort-connectors/hbase/pom.xml
  inlong-sort/sort-connectors/hive/pom.xml
  inlong-sort/sort-connectors/iceberg-dlc/pom.xml
  inlong-sort/sort-connectors/iceberg/pom.xml
  inlong-sort/sort-connectors/jdbc/pom.xml
  inlong-sort/sort-connectors/kafka/pom.xml
  inlong-sort/sort-connectors/mongodb-cdc/pom.xml
  inlong-sort/sort-connectors/mysql-cdc/pom.xml
  inlong-sort/sort-connectors/oracle-cdc/pom.xml
  inlong-sort/sort-connectors/postgres-cdc/pom.xml
  inlong-sort/sort-connectors/pulsar/pom.xml
  inlong-sort/sort-connectors/sqlserver-cdc/pom.xml
Labels: inlong-sort

#4898 [INLONG-4897][Manager] Change length of field name
  inlong-manager/manager-test/src/main/resources/h2/apache_inlong_manager.sql
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
Labels: inlong-manager

#4901 [INLONG-4900][Manager] Modify the request address of the API for quick search
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/AnnoController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/AuditController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/ConsumptionController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/DataNodeController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/HeartbeatController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/InlongGroupController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/InlongStreamController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/StreamConfigLogWebController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/StreamSinkController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/StreamSourceController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/StreamTransformController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/UserController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/WorkflowApproverController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/WorkflowController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/WorkflowEventController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/openapi/AgentController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/openapi/DBCollectorController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/openapi/DataProxyController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/openapi/OpenClusterController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/openapi/OpenHeartbeatController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/openapi/SortController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/openapi/StreamConfigLogController.java
Labels: inlong-manager

#4903 [INLONG-4902][Dashboard] Supports audit queries with different time precisions
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/locales/en.json
  inlong-dashboard/src/pages/AccessDetail/Audit/config.tsx
  inlong-dashboard/src/pages/AccessDetail/Audit/index.tsx
Labels: inlong-dashboard

#4889 [INLONG-4884][SortSDK] Fix data duplicated problem when default ackTimeout value of Pulsar consumer is not 0
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/api/SortClientConfig.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/source/sortsdk/SortSdkSource.java
Labels: inlong-sort-standalone, inlong-sdk

#4905 [INLONG-4899][Agent] Create binlog offset file Exception
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/snapshot/BinlogSnapshotBase.java
Labels: inlong-agent

#4886 [INLONG-4874][Manager] Cascade modification of associated data when modifying or deleting cluster tag
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/InlongClusterEntityMapper.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/InlongGroupEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/mappers/InlongClusterEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/InlongGroupEntityMapper.xml
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/InlongClusterServiceImpl.java
Labels: inlong-manager

#4863 [INLONG-4862][Docker] Add publish images by arch and push manifest script
  .github/labeler.yml
  .github/workflows/ci_docker.yml
  docker/build-arm-docker-images.sh
  docker/build-docker-images.sh
  docker/publish-by-arch.sh
  docker/publish.sh
Labels: ci, docker, github

#4695 [INLONG-4693][Sort] Fix DLC connector maven package problem
  inlong-distribution/src/main/assemblies/sort-connectors.xml
  inlong-sort/sort-connectors/iceberg-dlc/pom.xml
  licenses/inlong-sort-connectors/LICENSE
  licenses/inlong-sort/LICENSE
  pom.xml
Labels: inlong-sort

#4849 [INLONG-4659][Sort] Support field routing for Elasticsearch connector
  .idea/vcs.xml
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/load/ElasticsearchLoadNode.java
  inlong-sort/sort-connectors/elasticsearch-6/pom.xml
  inlong-sort/sort-connectors/elasticsearch-6/src/main/java/org/apache/inlong/sort/elasticsearch6/table/Elasticsearch6Configuration.java
  inlong-sort/sort-connectors/elasticsearch-6/src/main/java/org/apache/inlong/sort/elasticsearch6/table/Elasticsearch6DynamicSink.java
  inlong-sort/sort-connectors/elasticsearch-6/src/main/java/org/apache/inlong/sort/elasticsearch6/table/Elasticsearch6DynamicSinkFactory.java
  inlong-sort/sort-connectors/elasticsearch-6/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
  inlong-sort/sort-connectors/elasticsearch-6/src/test/java/org/apache/inlong/sort/elasticsearch6/table/Elasticsearch6DynamicSinkITCase.java
  inlong-sort/sort-connectors/elasticsearch-6/src/test/resources/log4j2-test.properties
  inlong-sort/sort-connectors/elasticsearch-7/pom.xml
  inlong-sort/sort-connectors/elasticsearch-7/src/main/java/org/apache/inlong/sort/elasticsearch7/table/Elasticsearch7Configuration.java
  inlong-sort/sort-connectors/elasticsearch-7/src/main/java/org/apache/inlong/sort/elasticsearch7/table/Elasticsearch7DynamicSink.java
  inlong-sort/sort-connectors/elasticsearch-7/src/main/java/org/apache/inlong/sort/elasticsearch7/table/Elasticsearch7DynamicSinkFactory.java
  inlong-sort/sort-connectors/elasticsearch-7/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
  inlong-sort/sort-connectors/elasticsearch-7/src/test/java/org/apache/inlong/sort/elasticsearch7/table/Elasticsearch7DynamicSinkITCase.java
  inlong-sort/sort-connectors/elasticsearch-7/src/test/resources/log4j2-test.properties
  inlong-sort/sort-connectors/elasticsearch-base/pom.xml
  inlong-sort/sort-connectors/elasticsearch-base/src/main/java/org/apache/inlong/sort/elasticsearch/table/AbstractTimeIndexGenerator.java
  inlong-sort/sort-connectors/elasticsearch-base/src/main/java/org/apache/inlong/sort/elasticsearch/table/ElasticsearchConfiguration.java
  inlong-sort/sort-connectors/elasticsearch-base/src/main/java/org/apache/inlong/sort/elasticsearch/table/ElasticsearchOptions.java
  inlong-sort/sort-connectors/elasticsearch-base/src/main/java/org/apache/inlong/sort/elasticsearch/table/ElasticsearchValidationUtils.java
  inlong-sort/sort-connectors/elasticsearch-base/src/main/java/org/apache/inlong/sort/elasticsearch/table/IndexGenerator.java
  inlong-sort/sort-connectors/elasticsearch-base/src/main/java/org/apache/inlong/sort/elasticsearch/table/IndexGeneratorBase.java
  inlong-sort/sort-connectors/elasticsearch-base/src/main/java/org/apache/inlong/sort/elasticsearch/table/IndexGeneratorFactory.java
  inlong-sort/sort-connectors/elasticsearch-base/src/main/java/org/apache/inlong/sort/elasticsearch/table/KeyExtractor.java
  inlong-sort/sort-connectors/elasticsearch-base/src/main/java/org/apache/inlong/sort/elasticsearch/table/RequestFactory.java
  inlong-sort/sort-connectors/elasticsearch-base/src/main/java/org/apache/inlong/sort/elasticsearch/table/RoutingExtractor.java
  inlong-sort/sort-connectors/elasticsearch-base/src/main/java/org/apache/inlong/sort/elasticsearch/table/RowElasticsearchSinkFunction.java
  inlong-sort/sort-connectors/elasticsearch-base/src/main/java/org/apache/inlong/sort/elasticsearch/table/StaticIndexGenerator.java
  inlong-sort/sort-connectors/elasticsearch-base/src/test/java/org/apache/inlong/sort/elasticsearch/table/TestContext.java
  inlong-sort/sort-connectors/elasticsearch-base/src/test/resources/log4j2-test.properties
  inlong-sort/sort-connectors/pom.xml
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/ElasticsearchSqlParseTest.java
  licenses/inlong-sort-connectors/LICENSE
  pom.xml
Labels: inlong-sort

#4912 [INLONG-4908][Manager] Fix Illegal DefaultValue null for parameter type integer
  inlong-manager/manager-common/pom.xml
  inlong-manager/manager-dao/pom.xml
  inlong-manager/manager-service/pom.xml
  inlong-manager/manager-web/pom.xml
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/DataNodeController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/InlongClusterController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/WorkflowController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/WorkflowEventController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/openapi/OpenClusterController.java
  inlong-manager/manager-workflow/pom.xml
  inlong-manager/pom.xml
Labels: inlong-manager

#4913 [INLONG-4883][TubeMQ] No error report for incorrect topic subscription
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/TErrCodeConstants.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/common/paramcheck/PBParameterUtils.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/common/utils/WebParameterUtils.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/TMaster.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/metamanage/DefaultMetaDataService.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/metamanage/MetaDataService.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/metamanage/metastore/dao/mapper/MetaConfigMapper.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/metamanage/metastore/dao/mapper/TopicDeployMapper.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/metamanage/metastore/impl/AbsMetaConfigMapperImpl.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/metamanage/metastore/impl/AbsTopicDeployMapperImpl.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/web/handler/WebAdminGroupCtrlHandler.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/web/handler/WebGroupConsumeCtrlHandler.java
  inlong-tubemq/tubemq-server/src/test/java/org/apache/inlong/tubemq/server/common/PBParameterTest.java
Labels: inlong-tubemq, bug

#4925 [INLONG-4924][TubeMQ] Add admin_get_methods method
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/web/AbstractWebHandler.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/web/BrokerAdminServlet.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/common/webbase/WebMethodMapper.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/web/handler/AbstractWebHandler.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/web/handler/WebOtherInfoHandler.java
Labels: inlong-tubemq, improve

#4933 [INLONG-4927][TubeMQ] Add version info in history offset record
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/offset/OffsetRecordInfo.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/common/TServerConstants.java
Labels: inlong-tubemq, improve

#4918 [INLONG-4915][Manager] Add Pulsar source type and improve connector jar discovery mechanism
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/flink/FlinkService.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/flink/enums/ConnectorJarType.java
Labels: inlong-manager

#4922 [INLONG-4921][Audit] Set the configuration file to an absolute path
  inlong-audit/bin/proxy-start.sh
Labels: inlong-audit

#4916 [INLONG-4914][Manager] List inlong cluster error when the keyword was not null
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/cluster/ClusterTagRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/group/InlongGroupApproveRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/group/InlongGroupRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/workflow/WorkflowApprover.java
  inlong-manager/manager-dao/src/main/resources/mappers/InlongClusterEntityMapper.xml
  inlong-manager/manager-dao/src/test/java/org/apache/inlong/manager/dao/DaoBaseTest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/SortServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/SortSourceServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/group/InlongGroupService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/group/InlongGroupServiceImpl.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/common/utils/ValidationUtilsTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/group/GroupServiceTest.java
Labels: inlong-manager

#4935 [INLONG-4934][Bug] Reversed value for admin_enable_stats methods
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/web/BrokerAdminServlet.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/common/utils/WebParameterUtils.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/web/handler/WebAdminGroupCtrlHandler.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/web/handler/WebOtherInfoHandler.java
Labels: inlong-tubemq, bug

#4920 [INLONG-4919][Audit] Delete the wrong driver-class-name
  inlong-audit/conf/application.properties
Labels: inlong-audit

#4936 [INLONG-4865][Dashboard] The storage config can still be modified after submitting for approval
  inlong-dashboard/src/pages/AccessDetail/DataSources/index.tsx
  inlong-dashboard/src/pages/AccessDetail/DataStorage/index.tsx
Labels: inlong-dashboard

#4911 [INLONG-4910][CI] Build arm images only on the release branch
  .github/workflows/ci_docker.yml
  docker/build-docker-images.sh
  docker/publish-by-arch.sh
Labels: ci, docker

#4941 [INLONG-4940][Manager] Remove unused SortSink-related classes and tables
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/SortClusterConfigEntity.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/SortTaskIdParamEntity.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/SortTaskSinkParamEntity.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/SortClusterConfgiEntityMapper.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/SortTaskIdParamEntityMapper.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/SortTaskSinkParamEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/mappers/SortClusterConfgiEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/SortTaskIdParamEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/SortTaskSinkParamEntityMapper.xml
  inlong-manager/manager-test/src/main/resources/h2/apache_inlong_manager.sql
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
  inlong-manager/manager-web/src/test/java/org/apache/inlong/manager/web/controller/openapi/SortControllerTest.java
Labels: inlong-manager

#4944 [INLONG-4942][TubeMQ] Add the display of the IP address of consumer
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/BrokerServiceServer.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/msgstore/MessageStoreManager.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/nodeinfo/ConsumerNodeInfo.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/web/BrokerAdminServlet.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/TMaster.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/nodemanage/nodeconsumer/ConsumerInfo.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/web/handler/WebOtherInfoHandler.java
Labels: inlong-tubemq, improve

#4909 [INLONG-4906][Dashboard] Support Oracle sink
  inlong-dashboard/src/components/MetaData/StorageOracle.tsx
  inlong-dashboard/src/components/MetaData/index.ts
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/locales/en.json
Labels: inlong-dashboard

#4947 [INLONG-4946][Manager] Improve the dependency for the manager module
  inlong-manager/manager-client/pom.xml
  inlong-manager/manager-common/pom.xml
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/transform/TransformResponse.java
  inlong-manager/manager-dao/pom.xml
  inlong-manager/manager-dao/src/test/java/org/apache/inlong/manager/dao/DaoBaseTest.java
  inlong-manager/manager-plugins/pom.xml
  inlong-manager/manager-service/pom.xml
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/ServiceBaseTest.java
  inlong-manager/manager-test/pom.xml
  inlong-manager/manager-web/pom.xml
  inlong-manager/manager-workflow/pom.xml
  inlong-manager/pom.xml
  licenses/inlong-manager/LICENSE
  licenses/inlong-manager/licenses/LICENSE-asm-5.0.4.txt
  licenses/inlong-manager/licenses/LICENSE-h2-functions-4-mysql.txt
  licenses/inlong-manager/licenses/LICENSE-h2.txt
  licenses/inlong-manager/licenses/LICENSE-jcodings.txt
  licenses/inlong-manager/licenses/LICENSE-jsp-api.txt
  pom.xml
Labels: inlong-manager

#4891 [INLONG-4890][Sort] Support TubeMQ connector
  inlong-distribution/src/main/assemblies/sort-connectors.xml
  inlong-sort/sort-connectors/pom.xml
  inlong-sort/sort-connectors/tubemq/pom.xml
  inlong-sort/sort-connectors/tubemq/src/main/java/org/apache/inlong/sort/tubemq/FlinkTubeMQConsumer.java
  inlong-sort/sort-connectors/tubemq/src/main/java/org/apache/inlong/sort/tubemq/table/DynamicTubeMQDeserializationSchema.java
  inlong-sort/sort-connectors/tubemq/src/main/java/org/apache/inlong/sort/tubemq/table/TubeMQDynamicTableFactory.java
  inlong-sort/sort-connectors/tubemq/src/main/java/org/apache/inlong/sort/tubemq/table/TubeMQOptions.java
  inlong-sort/sort-connectors/tubemq/src/main/java/org/apache/inlong/sort/tubemq/table/TubeMQTableSource.java
  inlong-sort/sort-connectors/tubemq/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
  inlong-sort/sort-core/pom.xml
Labels: inlong-sort

#4980 [INLONG-4953][Dashboard] Modify Greenplum sink parameters
  inlong-dashboard/src/components/MetaData/StorageGreenplum.tsx
  inlong-dashboard/src/components/MetaData/StorageOracle.tsx
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/locales/en.json
Labels: inlong-dashboard

#4955 [INLONG-4951][Manager] Fix cluster tag property update error
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/InlongClusterServiceImpl.java
Labels: component/manager

#4996 [INLONG-4995][SDK] Refactor code to avoid CodeQL Scan warning
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/config/ProxyConfigManager.java
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/network/Utils.java
Labels: component/sdk

#4372 [INLONG-2440][CI] Add a workflow to Scan InLong common vulnerabilities
  .github/workflows/codeql_analysis.yml
Labels: service/ci

#4999 [INLONG-4997][Dashboard] Support cluster tag bind and unbind
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/locales/en.json
  inlong-dashboard/src/pages/ClusterTags/ClusterBindModal.tsx
  inlong-dashboard/src/pages/ClusterTags/ClusterList.tsx
  inlong-dashboard/src/pages/ClusterTags/index.tsx
Labels: component/dashboard

#5001 [INLONG-4998][Agent] Avoid to create PrometheusMetric repeatedly
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/metrics/PluginPrometheusMetric.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/metrics/SinkPrometheusMetric.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/metrics/SourcePrometheusMetric.java
Labels: component/agent, type/bug

#5002 [INLONG-4989][Dashboard] Modify MySQL sink parameters
  inlong-dashboard/src/components/MetaData/StorageGreenplum.tsx
  inlong-dashboard/src/components/MetaData/StorageMySQL.tsx
  inlong-dashboard/src/components/MetaData/StorageOracle.tsx
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/locales/en.json
Labels: component/dashboard

#5010 [INLONG-5009][Docker] Fix dataproxy-docker script judgement
  bin/inlong-daemon
  inlong-audit/audit-docker/audit-docker.sh
  inlong-dataproxy/dataproxy-docker/dataproxy-docker.sh
  inlong-tubemq/tubemq-docker/tubemq-all/tubemq-docker.sh
Labels: component/tubemq, component/dataproxy, component/audit, service/docker

#5013 [INLONG-5012][Sort] Remove the duplicate declaration of elasticsearch7
  inlong-sort/sort-connectors/elasticsearch-6/pom.xml
  inlong-sort/sort-connectors/elasticsearch-7/pom.xml
  inlong-sort/sort-connectors/elasticsearch-base/pom.xml
Labels: component/sort

#5019 [INLONG-5018][Manager] Support for Tube data sources
  inlong-common/src/main/java/org/apache/inlong/common/enums/TaskTypeEnum.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/SourceType.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/tubemq/TubeMQSource.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/tubemq/TubeMQSourceDTO.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/tubemq/TubeMQSourceRequest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sort/SortConfig4NormalGroupOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sort/util/ExtractNodeUtils.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/tubemq/TubeMQSourceOperator.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/source/TubeMQSourceServiceTest.java
Labels: component/manager

#5015 [INLONG-4983][Audit] Update audit-proxy startup command
  inlong-audit/bin/proxy-start.sh
  inlong-audit/bin/store-start.sh
Labels: component/audit

#4978 [INLONG-4977][Kubernetes] Divide persistentVolumeClaim by statefulsets
  docker/kubernetes/templates/agent-statefulset.yaml
  docker/kubernetes/templates/dataproxy-statefulset.yaml
  docker/kubernetes/templates/mysql-pvc.yaml
  docker/kubernetes/templates/mysql-statefulset.yaml
  docker/kubernetes/templates/tubemq-broker-statefulset.yaml
  docker/kubernetes/templates/tubemq-master-statefulset.yaml
  docker/kubernetes/templates/zookeeper-statefulset.yaml
  docker/kubernetes/values.yaml
Labels: service/k8s

#5017 [INLONG-5016][CI] Improve Vulnerabilities Scan build speed
  .github/workflows/ci_build.yml
  .github/workflows/codeql_analysis.yml
Labels: service/ci

#5034 [INLONG-5026][Manager] Remove the real IP address
  inlong-manager/manager-client/src/test/java/org/apache/inlong/manager/client/api/inner/InnerInlongManagerClientTest.java
Labels: component/manager

#5048 [INLONG-5035][Dashboard] Support version control for backend APIs
  inlong-dashboard/src/components/AccessHelper/DataSourcesEditor/CreateModal.tsx
  inlong-dashboard/src/components/AccessHelper/DataStorageEditor/DetailModal.tsx
  inlong-dashboard/src/configs/routes/index.tsx
  inlong-dashboard/src/pages/AccessDetail/DataStream/StreamItemModal.tsx
  inlong-dashboard/src/pages/AccessDetail/DataStream/helper.ts
  inlong-dashboard/src/pages/AccessDetail/DataStream/index.tsx
  inlong-dashboard/src/pages/AccessDetail/Info/index.tsx
  inlong-dashboard/src/pages/ClusterTags/ClusterBindModal.tsx
  inlong-dashboard/src/pages/ClusterTags/TagDetailModal.tsx
  inlong-dashboard/src/pages/Clusters/CreateModal.tsx
  inlong-dashboard/src/pages/Clusters/NodeEditModal.tsx
  inlong-dashboard/src/pages/ConsumeCreate/Info/index.tsx
  inlong-dashboard/src/pages/ConsumeDetail/Info/config.tsx
  inlong-dashboard/src/pages/ConsumeDetail/Info/index.tsx
  inlong-dashboard/src/pages/ConsumeDetail/common.d.ts
  inlong-dashboard/src/pages/ConsumeDetail/index.tsx
  inlong-dashboard/src/pages/UserManagement/DetailModal.tsx
Labels: component/dashboard

#5053 [INLONG-5052][Manager] The workflow that failed to execute still failed, but returned success
  inlong-manager/manager-workflow/src/main/java/org/apache/inlong/manager/workflow/core/impl/TaskServiceImpl.java
Labels: component/manager

#5011 [INLONG-5007][Manager] Client supports getting sink details by id
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/InlongStream.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/InlongStreamImpl.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/InnerInlongManagerClient.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/service/StreamSinkApi.java
  inlong-manager/manager-client/src/test/java/org/apache/inlong/manager/client/api/inner/InnerInlongManagerClientTest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/mysql/MySQLSink.java
Labels: component/manager

#5060 [INLONG-5059][Dashboard] Unable to get total number
  inlong-dashboard/src/components/ConsumeHelper/BusinessSelect/MyBusinessModal.tsx
  inlong-dashboard/src/pages/ConsumeDashboard/index.tsx
  inlong-dashboard/src/pages/UserManagement/index.tsx
Labels: component/dashboard

#5058 [INLONG-5056][Dashboard] Unable to get stream list when creating
  inlong-dashboard/src/pages/AccessDetail/DataSources/index.tsx
  inlong-dashboard/src/pages/AccessDetail/DataStorage/index.tsx
Labels: component/dashboard

#5057 [INLONG-5055][Dataproxy] Fix NPE error of Pulsar client
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/pulsar/PulsarClientService.java
Labels: component/dataproxy

#5021 [INLONG-5020][Manager] Refactoring InnerInlongManagerClient of manager
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/DescribeCommand.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/ListCommand.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/util/ClientUtils.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/DefaultInlongStreamBuilder.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/InlongClientImpl.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/InlongGroupImpl.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/InlongStreamImpl.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/LowLevelInlongClientImpl.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/InnerInlongManagerClient.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/client/ClientFactory.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/client/InlongClusterClient.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/client/InlongGroupClient.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/client/InlongStreamClient.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/client/StreamSinkClient.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/client/StreamSourceClient.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/client/StreamTransformClient.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/client/WorkflowClient.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/util/ClientUtils.java
  inlong-manager/manager-client/src/test/java/org/apache/inlong/manager/client/api/inner/ClientFactoryTest.java
Labels: component/manager

#5062 [INLONG-5023][Dashboard] Support SQLServer sink
  inlong-dashboard/src/components/MetaData/StorageSQLServer.tsx
  inlong-dashboard/src/components/MetaData/index.ts
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/locales/en.json
Labels: component/dashboard

#5067 [INLONG-5054][Agent] Fix Agent can not import old job after reboot due to inconsistent prefix
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/utils/AgentUtils.java
  inlong-agent/agent-common/src/test/java/org/apache/inlong/agent/db/TestRocksDbImp.java
  inlong-agent/agent-common/src/test/resources/binlogJob.json
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/conf/ConfigJetty.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/job/JobManager.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/fetcher/ManagerFetcher.java
Labels: component/agent

#5078 [INLONG-5077][Dashboard] Cannot read properties of undefined (reading 'version')
  inlong-dashboard/src/pages/AccessDetail/Info/index.tsx
Labels: component/dashboard

#5071 [INLONG-5070][Manager] Add more parameter settings support for stream source
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/SourceRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/StreamSource.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/file/FileSourceDTO.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/kafka/KafkaSourceDTO.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/mongodb/MongoDBSourceDTO.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/mysql/MySQLBinlogSourceDTO.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/oracle/OracleSourceDTO.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/postgresql/PostgreSQLSourceDTO.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/pulsar/PulsarSourceDTO.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/sqlserver/SQLServerSourceDTO.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/tubemq/TubeMQSourceDTO.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sort/util/ExtractNodeUtils.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/source/StreamSourceServiceTest.java
Labels: component/manager

#5083 [INLONG-5082][Dashboard] Fix Elasticsearch fields cannot be saved
  inlong-dashboard/src/components/MetaData/StorageEs.tsx
Labels: component/dashboard

#5089 [INLONG-5087][TubeMQ] Fix initialize the database failure in MySQL 5.7
  inlong-tubemq/tubemq-manager/sql/apache_tube_manager.sql
Labels: component/tubemq

#5075 [INLONG-5063][Dashboard] Support TDSQLPostgreSQL sink
  inlong-dashboard/src/components/MetaData/StorageTDSQLPostgreSQL.tsx
  inlong-dashboard/src/components/MetaData/index.ts
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/locales/en.json
Labels: component/dashboard

#5091 [INLONG-5051][Manager] Get Sort cluster allows a cluster with an empty tasks
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/SortClusterServiceImpl.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/impl/SortServiceImplTest.java
Labels: component/manager

#5090 [INLONG-5088][Manager] Support only consumes the MQ cluster with the same tag
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/SortSourceServiceImpl.java
Labels: component/manager

#5093 [INLONG-5092][SDK] Change Kafka default partition assignment strategy to RangeAssignor
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/pulsarzone/PulsarClusterProducer.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/impl/InLongTopicManagerImpl.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/impl/kafka/AckOffsetOnRebalance.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/impl/kafka/InLongKafkaFetcherImpl.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/source/sortsdk/SortSdkSource.java
Labels: component/dataproxy, component/sort, component/sdk

#5079 [INLONG-5074][Sort] KafkaExtractNode support more StartupMode
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/kafka/KafkaOffset.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/kafka/KafkaSource.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/kafka/KafkaSourceDTO.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/kafka/KafkaSourceRequest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sort/util/ExtractNodeUtils.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/constant/KafkaConstant.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/enums/KafkaScanStartupMode.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/extract/KafkaExtractNode.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/node/extract/KafkaExtractNodeTest.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/DataTypeConvertSqlParseTest.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/DecimalFormatSqlParseTest.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/DistinctNodeSqlParseTest.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/FlinkSqlParserTest.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/FullOuterJoinSqlParseTest.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/InnerJoinRelationSqlParseTest.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/KafkaSqlParseTest.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/LeftOuterJoinSqlParseTest.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/MetaFieldSyncTest.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/RightOuterJoinSqlParseTest.java
Labels: component/manager, component/sort

#5105 [INLONG-5104][Docker] Update flink address environment for Flink sort plugin
  docker/docker-compose/docker-compose.yml
  docker/kubernetes/templates/manager-statefulset.yaml
  docker/kubernetes/values.yaml
  inlong-manager/manager-docker/Dockerfile
  inlong-manager/manager-docker/manager-docker.sh
Labels: component/manager, service/docker, service/k8s

#5061 [INLONG-4806][Sort] Sort support InlongMsg pb format
  inlong-sort/sort-formats/format-inlongmsg-pb/pom.xml
  inlong-sort/sort-formats/format-inlongmsg-pb/src/main/java/org/apache/inlong/sort/formats/inlongmsgpb/InLongMsgPbDecodingFormat.java
  inlong-sort/sort-formats/format-inlongmsg-pb/src/main/java/org/apache/inlong/sort/formats/inlongmsgpb/InLongMsgPbDeserializationSchema.java
  inlong-sort/sort-formats/format-inlongmsg-pb/src/main/java/org/apache/inlong/sort/formats/inlongmsgpb/InLongMsgPbFormatFactory.java
  inlong-sort/sort-formats/format-inlongmsg-pb/src/main/java/org/apache/inlong/sort/formats/inlongmsgpb/InLongMsgPbOptions.java
  inlong-sort/sort-formats/pom.xml
Labels: component/sort

#5073 [INLONG-5072][Sort] Add metric computing of MySQL and PostgreSQL and HBase for user query metric by label
  inlong-sort/sort-connectors/hbase/pom.xml
  inlong-sort/sort-connectors/hbase/src/main/java/org/apache/inlong/sort/hbase/HBase2DynamicTableFactory.java
  inlong-sort/sort-connectors/hbase/src/main/java/org/apache/inlong/sort/hbase/metric/MetricData.java
  inlong-sort/sort-connectors/hbase/src/main/java/org/apache/inlong/sort/hbase/options/InLongOptions.java
  inlong-sort/sort-connectors/hbase/src/main/java/org/apache/inlong/sort/hbase/sink/HBaseDynamicTableSink.java
  inlong-sort/sort-connectors/hbase/src/main/java/org/apache/inlong/sort/hbase/sink/HBaseSinkFunction.java
  inlong-sort/sort-connectors/hbase/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/source/MySqlSource.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/source/MySqlSourceBuilder.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/source/config/MySqlSourceConfig.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/source/config/MySqlSourceConfigFactory.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/source/config/MySqlSourceOptions.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/source/metrics/MySqlSourceReaderMetrics.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/source/reader/MySqlRecordEmitter.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/table/MySqlTableInlongSourceFactory.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/table/MySqlTableSource.java
  inlong-sort/sort-connectors/postgres-cdc/src/main/java/org.apache.inlong.sort.cdc.postgres/DebeziumSourceFunction.java
  inlong-sort/sort-connectors/postgres-cdc/src/main/java/org.apache.inlong.sort.cdc.postgres/MetricData.java
  inlong-sort/sort-connectors/postgres-cdc/src/main/java/org.apache.inlong.sort.cdc.postgres/PostgreSQLSource.java
  inlong-sort/sort-connectors/postgres-cdc/src/main/java/org/apache/inlong/sort/cdc/postgres/table/PostgreSQLTableFactory.java
  inlong-sort/sort-connectors/postgres-cdc/src/main/java/org/apache/inlong/sort/cdc/postgres/table/PostgreSQLTableSource.java
  inlong-sort/sort-connectors/postgres-cdc/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
  licenses/inlong-sort-connectors/LICENSE
Labels: component/sort

#5065 [INLONG-5064][CI] Decrease Vulnerabilities Scan run time
  .github/workflows/ci_build.yml
  .github/workflows/ci_ut.yml
  .github/workflows/codeql_analysis.yml
Labels: service/ci

#5125 [INLONG-5124][Docker] Add initial sort connectors to the manager docker image
  docker/build-docker-images.sh
  inlong-manager/manager-docker/Dockerfile
  inlong-manager/manager-docker/pom.xml
  inlong-sort/sort-common/pom.xml
  pom.xml
Labels: component/manager, component/sort, service/docker

#5128 [INLONG-4948][Manager] Failed to create Hive Metastore client
  inlong-manager/manager-plugins/pom.xml
  inlong-manager/manager-web/pom.xml
  licenses/inlong-manager/LICENSE
Labels: component/manager

#5106 [INLONG-5103][Manager] Add constant field support for stream source and transform node
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sort/DefaultSortConfigOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sort/util/ExtractNodeUtils.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sort/util/FieldRelationUtils.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sort/util/LoadNodeUtils.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sort/util/TransformNodeUtils.java
Labels: component/manager

#4938 [INLONG-4937][Manager] One inlong group id can transform data across two cluster tags
  inlong-manager/manager-service/pom.xml
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/repository/DataProxyConfigRepository.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/repository/DataProxyConfigRepositoryTest.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/openapi/DataProxyController.java
Labels: component/manager

#5132 [INLONG-5127][Manager] Rename second_xxx to backup_xxx in sort-standalone management interface
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sortstandalone/SortSourceGroupInfo.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/SortServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/SortSourceServiceImpl.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/impl/SortServiceImplTest.java
Labels: component/manager

#5126 [INLONG-5094][SortStandalone] Implements time interval interceptor
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/rollback/TimeBasedFilterInterceptor.java
Labels: component/sort

#5134 [INLONG-5117][SortStandalone] Support specify component type from remote config
  inlong-sort-standalone/sort-standalone-common/src/main/java/org/apache/inlong/sort/standalone/utils/FlumeConfigGenerator.java
Labels: component/sort

#5130 [INLONG-5076][Dashboard] Support HBase sink
  inlong-dashboard/src/components/MetaData/StorageHBase.tsx
  inlong-dashboard/src/components/MetaData/index.ts
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/locales/en.json
Labels: component/dashboard

#5143 [INLONG-5142][Dashboard] Change API paths and parameters to adapt the Manager module
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/locales/en.json
  inlong-dashboard/src/pages/AccessDetail/DataStream/index.tsx
  inlong-dashboard/src/pages/ApprovalDetail/index.tsx
Labels: component/dashboard

#5147 [INLONG-5144][Manager] Fail to execute Group-InitSort
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sort/DefaultSortConfigOperator.java
Labels: component/manager

#5151 [INLONG-5138][Bug][TubeMQ] compile error with gcc >= 8.0 on rapidjson
  inlong-tubemq/tubemq-client-twins/tubemq-client-cpp/CMakeLists.txt
Labels: component/tubemq

#5107 [INLONG-5085][Manager] Support create MySQL databases and tables
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/mysql/MySQLColumnInfo.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/mysql/MySQLSinkDTO.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/mysql/MySQLTableInfo.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/mysql/MySQLJdbcUtils.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/mysql/MySQLResourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/mysql/MySQLSqlBuilder.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/sink/MySQLSinkServiceTest.java
Labels: component/manager

#5155 [INLONG-5154][Doc] Update the architecture image
  README.md
Labels: doc

#5118 [INLONG-5114][Manager] Add role permission verification function
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/consts/InlongConstants.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/user/PasswordChangeRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/user/UserInfo.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/util/Preconditions.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/InlongClusterService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/InlongClusterServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/UserService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/UserServiceImpl.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/cluster/InlongClusterServiceTest.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/auth/WebAuthorizingRealm.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/InlongClusterController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/UserController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/openapi/OpenClusterController.java
  inlong-manager/manager-workflow/src/main/java/org/apache/inlong/manager/workflow/core/impl/WorkflowQueryServiceImpl.java
Labels: component/manager

#5145 [INLONG-5137][Manager] Refactor the pagination query for inlong group and inlong stream
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/DescribeCommand.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/ListCommand.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/LowLevelInlongClient.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/InlongClientImpl.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/LowLevelInlongClientImpl.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/client/InlongGroupClient.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/service/InlongGroupApi.java
  inlong-manager/manager-client/src/test/java/org/apache/inlong/manager/client/api/inner/ClientFactoryTest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/group/InlongGroupBriefInfo.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/group/InlongGroupInfo.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/group/InlongGroupListResponse.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/SinkBriefInfo.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/SinkBriefResponse.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/stream/InlongStreamBriefInfo.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/stream/InlongStreamPageRequest.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/StreamSinkEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/mappers/InlongStreamEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/StreamSinkEntityMapper.xml
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/InlongStreamService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/InlongStreamServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/operation/InlongGroupProcessOperation.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/group/AbstractGroupOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/group/InlongGroupService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/group/InlongGroupServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/StreamSinkService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/StreamSinkServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/listener/AbstractSourceOperateListener.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/InlongGroupController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/InlongStreamController.java
Labels: component/manager

#5153 [INLONG-5148][Manager] Handle the lightweight and standard inlong groups differently in workflow
  inlong-manager/manager-client-examples/src/test/java/org/apache/inlong/manager/client/ut/Kafka2HiveTest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/ProcessName.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/workflow/form/process/LightGroupResourceProcessForm.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/operation/ConsumptionProcessOperation.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/operation/InlongGroupProcessOperation.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/operation/InlongStreamProcessOperation.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/SinkResourceListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/StreamSinkResourceListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sort/util/FilterFunctionUtils.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/WorkflowDefinition.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/WorkflowOperation.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/WorkflowService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/WorkflowServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/consumption/ApplyConsumptionWorkflowDefinition.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/group/ApplyGroupWorkflowDefinition.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/group/CreateGroupWorkflowDefinition.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/group/DeleteGroupWorkflowDefinition.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/group/RestartGroupWorkflowDefinition.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/group/SuspendGroupWorkflowDefinition.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/group/listener/InitGroupCompleteListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/group/listener/UpdateGroupCompleteListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/group/listener/apply/ApproveApplyProcessListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/stream/CreateStreamWorkflowDefinition.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/stream/DeleteStreamWorkflowDefinition.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/stream/RestartStreamWorkflowDefinition.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/stream/SuspendStreamWorkflowDefinition.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/stream/listener/UpdateStreamCompleteListener.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/sort/DisableZkForSortTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/source/listener/StreamSourceListenerTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/workflow/WorkflowServiceImplTest.java
  inlong-manager/manager-workflow/src/main/java/org/apache/inlong/manager/workflow/processor/UserTaskProcessor.java
Labels: component/manager

#5162 [INLONG-5161][SDK] Remove the redundant annotation for the author
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/FileCallback.java
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/config/EncryptConfigEntry.java
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/network/ProxysdkException.java
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/network/TimeScanObject.java
Labels: component/sdk

#5159 [INLONG-5112][Manager] Creating Pulsar topic by using the lookups method
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/mq/util/PulsarOperator.java
Labels: component/manager

#5168 [INLONG-5157][Manager] Fix failed to build Sort config as the relations are empty
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sort/DefaultSortConfigOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sort/util/LoadNodeUtils.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sort/util/NodeRelationUtils.java
Labels: component/manager

#5176 [INLONG-5175][Manager] Remove redundant StreamSinkExt table and classes
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/StreamSinkExtEntity.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/StreamSinkExtEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/mappers/StreamSinkExtEntityMapper.xml
  inlong-manager/manager-test/src/main/resources/h2/apache_inlong_manager.sql
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
Labels: component/manager

#5171 [INLONG-5098][CI] Use maven parallel build feature to improve project workflow build speed
  .github/workflows/ci_build.yml
  .github/workflows/ci_docker.yml
  .github/workflows/ci_ut.yml
  .github/workflows/codeql_analysis.yml
Labels: service/ci

#5174 [INLONG-5166][Manager] Cluster tags are not separated by commas when querying clusters
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/InlongClusterServiceImpl.java
Labels: component/manager

#5172 [INLONG-5165][Manager] Getting Sort source collects wrong topic properties of each stream
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sortstandalone/SortSourceStreamInfo.java
  inlong-manager/manager-dao/src/main/resources/mappers/StreamSinkEntityMapper.xml
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/SortSourceServiceImpl.java
Labels: component/manager

#5177 [INLONG-5160][DataPorxySDK] Update DataProxy cluster API and response parsing method
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/ConfigConstants.java
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/DefaultMessageSender.java
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/ProxyClientConfig.java
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/config/ProxyClusterConfig.java
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/config/ProxyConfigEntry.java
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/config/ProxyConfigManager.java
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/network/Sender.java
  inlong-sdk/dataproxy-sdk/src/test/java/org/apache/inlong/sdk/dataproxy/ProxyConfigManagerTest.java
  inlong-sdk/dataproxy-sdk/src/test/resources/proxylist.json
Labels: component/sdk

#5180 [INLONG-5179][Kubernetes] Add external mysql judgement for manager, audit and tube-manager
  docker/kubernetes/templates/_helpers.tpl
  docker/kubernetes/templates/audit-statefulset.yaml
  docker/kubernetes/templates/manager-statefulset.yaml
  docker/kubernetes/templates/tubemq-manager-statefulset.yaml
Labels: service/k8s

#5173 [INLONG-5167][Manager][Agent][Dataproxy][SDK] Manager open API authentication support
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/constant/FetcherConstants.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/utils/HttpManager.java
  inlong-agent/agent-core/src/test/resources/agent.properties
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sinks/SenderManager.java
  inlong-agent/agent-plugins/src/test/resources/agent.properties
  inlong-agent/conf/agent.properties
  inlong-common/src/main/java/org/apache/inlong/common/util/BasicAuth.java
  inlong-dataproxy/conf/common.properties
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/AuthUtils.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/ConfigManager.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/RemoteConfigManager.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/consts/ConfigConstants.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/auth/InlongShiro.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/UserServiceImpl.java
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/auth/ShiroConfig.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/auth/impl/InlongShiroImpl.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/auth/openapi/OpenAPIAuthenticatingRealm.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/auth/openapi/OpenAPIFilter.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/auth/openapi/SecretToken.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/auth/web/AuthenticationFilter.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/auth/web/WebAuthorizingRealm.java
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/ConfigConstants.java
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/ProxyClientConfig.java
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/config/ProxyConfigManager.java
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/example/HttpClientExample.java
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/example/TcpClientExample.java
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/utils/ServiceDiscoveryUtils.java
Labels: component/manager, component/dataproxy, component/agent, component/sdk

#5185 [INLONG-5184][Manager] Add more info for some error logs
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/cluster/pulsar/PulsarClusterDTO.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/cluster/tube/TubeClusterDTO.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/group/pulsar/InlongPulsarDTO.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/ck/ClickHouseSinkDTO.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/dlciceberg/DLCIcebergSinkDTO.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/es/ElasticsearchFieldInfo.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/es/ElasticsearchSinkDTO.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/greenplum/GreenplumSinkDTO.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/hbase/HBaseColumnFamilyInfo.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/hbase/HBaseSinkDTO.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/hdfs/HDFSSinkDTO.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/hive/HiveSinkDTO.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/iceberg/IcebergColumnInfo.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/iceberg/IcebergSinkDTO.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/kafka/KafkaSinkDTO.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/mysql/MySQLSinkDTO.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/oracle/OracleSinkDTO.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/postgresql/PostgreSQLSinkDTO.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/sqlserver/SQLServerSinkDTO.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/tdsqlpostgresql/TDSQLPostgreSQLSinkDTO.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/autopush/AutoPushSourceDTO.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/file/FileSourceDTO.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/kafka/KafkaSourceDTO.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/mongodb/MongoDBSourceDTO.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/mysql/MySQLBinlogSourceDTO.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/oracle/OracleSourceDTO.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/postgresql/PostgreSQLSourceDTO.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/pulsar/PulsarSourceDTO.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/sqlserver/SQLServerSourceDTO.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/tubemq/TubeMQSourceDTO.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/PulsarClusterOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/TubeClusterOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/SortClusterServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/operation/InlongStreamProcessOperation.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/group/InlongPulsarOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/autopush/AutoPushSourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/binlog/BinlogSourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/file/FileSourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/kafka/KafkaSourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/mongodb/MongoDBSourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/oracle/OracleSourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/postgresql/PostgreSQLSourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/pulsar/PulsarSourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/sqlserver/SQLServerSourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/tubemq/TubeMQSourceOperator.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/sink/IcebergSinkServiceTest.java
Labels: component/manager

#5183 [INLONG-5182][CI] Upgrade apache-rat-plugin to compatible with parallel builds
  pom.xml
Labels: type/improve

#5181 [INLONG-4931][Manager] Supplement inlong cluster API in manager client
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/InlongClient.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/InlongClientImpl.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/client/InlongClusterClient.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/service/InlongClusterApi.java
  inlong-manager/manager-client/src/test/java/org/apache/inlong/manager/client/api/inner/ClientFactoryTest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/cluster/ClusterInfo.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/cluster/ClusterNodeResponse.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/cluster/ClusterTagResponse.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/cluster/pulsar/PulsarClusterInfo.java
Labels: component/manager

#5189 [INLONG-5163][DataProxy] Fixing Pulsar clients initialization error
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/pulsar/PulsarClientService.java
Labels: component/dataproxy

#5191 [INLONG-5190][Build] The build of InLong is missing some packages
  .github/workflows/ci_build.yml
  .github/workflows/ci_docker.yml
  .github/workflows/ci_ut.yml
  .github/workflows/codeql_analysis.yml
  inlong-distribution/pom.xml
  pom.xml
Labels: service/ci

#5196 [INLONG-5188][Manager] Fix the error of creating group workflow and remove redundant settings
  inlong-manager/manager-dao/src/main/resources/mappers/ConsumptionEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/DataNodeEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/InlongClusterEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/InlongClusterNodeEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/InlongClusterTagEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/InlongGroupEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/InlongStreamEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/StreamSinkEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/StreamSourceEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/StreamTransformEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/UserEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/WorkflowApproverEntityMapper.xml
  inlong-manager/manager-dao/src/test/java/org/apache/inlong/manager/dao/mapper/InlongGroupEntityMapperTest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/AbstractClusterOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/InlongClusterServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/ConsumptionServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/DataNodeServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/InlongStreamServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/UserServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/WorkflowApproverServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/group/AbstractGroupOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/AbstractSinkOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/AbstractSourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/transform/StreamTransformServiceImpl.java
Labels: component/manager

#5187 [INLONG-5086][Manager] Support create Oracle databases and tables
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/oracle/OracleColumnInfo.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/oracle/OracleSinkDTO.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/oracle/OracleTableInfo.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/oracle/OracleJdbcUtils.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/oracle/OracleResourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/oracle/OracleSqlBuilder.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/sink/OracleSinkServiceTest.java
Labels: component/manager

#5202 [INLONG-5201][Manager] Find entities in the database before updating inlong group
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/InlongClusterServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/ConsumptionServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/InlongStreamServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/group/InlongGroupServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/repository/DataProxyConfigRepository.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/StreamSinkServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/StreamSourceServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/consumption/listener/ConsumptionCancelProcessListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/consumption/listener/ConsumptionCompleteProcessListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/consumption/listener/ConsumptionRejectProcessListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/group/listener/apply/AfterApprovedTaskListener.java
Labels: component/manager

#5186 [INLONG-5178][Manager] Optimize Warning info for the Manager module
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/cluster/pulsar/PulsarClusterDTO.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/cluster/pulsar/PulsarClusterInfo.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/group/InlongGroupInfo.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/group/InlongGroupPageRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/group/InlongGroupResetRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/SinkField.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/StreamSink.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/iceberg/IcebergSink.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/iceberg/IcebergSinkDTO.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/StreamSource.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/mysql/MySQLBinlogSource.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/oracle/OracleSource.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/postgresql/PostgreSQLSource.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/pulsar/PulsarSource.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/stream/InlongStreamInfo.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/stream/StreamField.java
Labels: component/manager

#5141 [INLONG-5131][Sort] Import all changelog mode data ingest into Iiceberg or DLC
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/load/DLCIcebergLoadNode.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/load/IcebergLoadNode.java
  inlong-sort/sort-connectors/iceberg-dlc/pom.xml
  inlong-sort/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/FlinkCatalog.java
  inlong-sort/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/FlinkCatalogFactory.java
  inlong-sort/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/FlinkConfigOptions.java
  inlong-sort/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/FlinkDynamicTableFactory.java
  inlong-sort/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/IcebergTableSink.java
  inlong-sort/sort-connectors/iceberg/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
  licenses/inlong-sort-connectors/LICENSE
Labels: component/sort

#5208 [INLONG-5207][Kubernetes] Add components for helm chart
  docker/kubernetes/templates/agent-service.yaml
  docker/kubernetes/templates/agent-statefulset.yaml
  docker/kubernetes/templates/audit-service.yaml
  docker/kubernetes/templates/audit-statefulset.yaml
  docker/kubernetes/templates/dashboard-service.yaml
  docker/kubernetes/templates/dashboard-statefulset.yaml
  docker/kubernetes/templates/dataproxy-service.yaml
  docker/kubernetes/templates/dataproxy-statefulset.yaml
  docker/kubernetes/templates/manager-service.yaml
  docker/kubernetes/templates/manager-statefulset.yaml
  docker/kubernetes/templates/mysql-pvc.yaml
  docker/kubernetes/templates/mysql-secret.yaml
  docker/kubernetes/templates/mysql-service.yaml
  docker/kubernetes/templates/mysql-statefulset.yaml
  docker/kubernetes/templates/tubemq-broker-configmap.yaml
  docker/kubernetes/templates/tubemq-broker-ini-configmap.yaml
  docker/kubernetes/templates/tubemq-broker-pdb.yaml
  docker/kubernetes/templates/tubemq-broker-service.yaml
  docker/kubernetes/templates/tubemq-broker-statefulset.yaml
  docker/kubernetes/templates/tubemq-manager-service.yaml
  docker/kubernetes/templates/tubemq-manager-statefulset.yaml
  docker/kubernetes/templates/tubemq-master-configmap.yaml
  docker/kubernetes/templates/tubemq-master-ini-configmap.yaml
  docker/kubernetes/templates/tubemq-master-pdb.yaml
  docker/kubernetes/templates/tubemq-master-service.yaml
  docker/kubernetes/templates/tubemq-master-statefulset.yaml
  docker/kubernetes/templates/zookeeper-configmap.yaml
  docker/kubernetes/templates/zookeeper-pdb.yaml
  docker/kubernetes/templates/zookeeper-service.yaml
  docker/kubernetes/templates/zookeeper-statefulset.yaml
  docker/kubernetes/values.yaml
Labels: service/k8s

#5216 [INLONG-5215][TubeMQ] Fix execution error of init-tube-cluster.sh script
  inlong-tubemq/tubemq-manager/bin/init-tube-cluster.sh
Labels: component/tubemq

#5195 [INLONG-5194][Manager] Update MD5 to SHA hashing
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/dataproxy/DataProxyClusterSet.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/util/SHAUtils.java
  inlong-manager/manager-common/src/test/java/org/apache/inlong/manager/common/util/SHAUtilsTest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/UserServiceImpl.java
  inlong-manager/manager-test/src/main/resources/h2/data.sql
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/auth/impl/InlongShiroImpl.java
Labels: component/manager

#5218 [INLONG-5213][Dashboard] Adapt to the new data structure of the stream list API
  inlong-dashboard/src/components/StaffSelect/index.tsx
  inlong-dashboard/src/pages/AccessDetail/DataStream/StreamItemModal.tsx
  inlong-dashboard/src/pages/AccessDetail/DataStream/config.tsx
  inlong-dashboard/src/pages/Login/index.tsx
Labels: component/dashboard

#5198 [INLONG-5197][Manager] Unify the HTTP request method of the OpenAPI query interface from GET to POST
  inlong-common/src/main/java/org/apache/inlong/common/pojo/dataproxy/DataProxyConfigRequest.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/ConfigManager.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/RemoteConfigManager.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/utils/HttpUtils.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/openapi/DataProxyController.java
Labels: component/manager, component/dataproxy

#5206 [INLONG-5152][Manager][Sort] Add union parse support for FlinkSqlParser
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sort/util/NodeRelationUtils.java
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/parser/impl/FlinkSqlParser.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/UnionSqlParseTest.java
Labels: component/manager, component/sort

#5229 [INLONG-5211][Sort] Replace 1.3.0-snapshot with project.version
  inlong-sort/sort-connectors/elasticsearch-6/pom.xml
  inlong-sort/sort-connectors/elasticsearch-7/pom.xml
  inlong-sort/sort-connectors/iceberg-dlc/pom.xml
Labels: component/sort

#5236 [INLONG-5234][Dashboard] Some fields are missing when creating a new stream
  inlong-dashboard/src/pages/AccessDetail/DataStream/StreamItemModal.tsx
  inlong-dashboard/src/pages/AccessDetail/DataStream/config.tsx
Labels: component/dashboard

#5226 [INLONG-4926][Manager] Supplement or modify the inlong group api in the manager client
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/InlongGroup.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/BlankInlongGroup.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/InlongGroupImpl.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/client/InlongGroupClient.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/service/InlongGroupApi.java
  inlong-manager/manager-client/src/test/java/org/apache/inlong/manager/client/api/inner/ClientFactoryTest.java
Labels: component/manager

#5233 [INLONG-5232][Manager] Unify the user and role tables
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/RoleEntity.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/UserRoleEntity.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/RoleEntityMapper.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/UserRoleEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/mappers/RoleEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/UserRoleEntityMapper.xml
  inlong-manager/manager-test/src/main/resources/h2/apache_inlong_manager.sql
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
Labels: component/manager

#5230 [INLONG-5224][Agent][DataProxy] Remove unused StreamConfigLog related classes
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/plugin/Reader.java
  inlong-agent/agent-core/src/test/java/org/apache/inlong/agent/task/TestTaskWrapper.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/TextFileSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/AbstractReader.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/BinlogReader.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/KafkaReader.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/SqlReader.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/TextFileReader.java
  inlong-common/src/main/java/org/apache/inlong/common/reporpter/AbstractReporter.java
  inlong-common/src/main/java/org/apache/inlong/common/reporpter/ConfigLogTypeEnum.java
  inlong-common/src/main/java/org/apache/inlong/common/reporpter/Response.java
  inlong-common/src/main/java/org/apache/inlong/common/reporpter/StreamConfigLogMetric.java
  inlong-common/src/main/java/org/apache/inlong/common/reporpter/StreamConfigLogReporter.java
  inlong-common/src/main/java/org/apache/inlong/common/reporpter/dto/StreamConfigLogInfo.java
  inlong-common/src/test/java/org/apache/inlong/common/metric/reporter/ReporterTest.java
  inlong-dataproxy/conf/common.properties
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/PulsarSink.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/pulsar/PulsarClientService.java
Labels: component/dataproxy, component/agent

#5241 [INLONG-5240][Manager] Unify the workflow approver and process classes and tables
  inlong-dashboard/src/pages/AccessDashboard/ExecutionLogModal.tsx
  inlong-manager/manager-client-examples/src/test/java/org/apache/inlong/manager/client/ut/Kafka2HiveTest.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/InlongGroupImpl.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/client/WorkflowClient.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/service/WorkflowApi.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/workflow/ApproverRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/workflow/ApproverResponse.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/workflow/ElementInfo.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/workflow/EventLogRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/workflow/EventLogResponse.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/workflow/FilterKey.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/workflow/ProcessCountRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/workflow/ProcessDetailResponse.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/workflow/ProcessInfo.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/workflow/ProcessRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/workflow/TaskCountRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/workflow/TaskLogRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/workflow/TaskRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/workflow/WorkflowApprovalRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/workflow/WorkflowApproverQuery.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/workflow/WorkflowResult.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/WorkflowApproverEntity.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/WorkflowEventLogEntity.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/WorkflowProcessEntity.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/WorkflowTaskEntity.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/StreamSinkEntityMapper.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/WorkflowApproverEntityMapper.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/WorkflowEventLogEntityMapper.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/WorkflowProcessEntityMapper.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/WorkflowTaskEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/mappers/WorkflowApproverEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/WorkflowEventLogEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/WorkflowProcessEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/WorkflowTaskEntityMapper.xml
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/WorkflowApproverService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/WorkflowEventService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/WorkflowApproverServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/WorkflowEventServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/operation/InlongGroupProcessOperation.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/StreamSourceService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/WorkflowDefinition.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/WorkflowService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/WorkflowServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/consumption/ApplyConsumptionWorkflowDefinition.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/group/ApplyGroupWorkflowDefinition.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/impl/InlongGroupProcessOperationTest.java
  inlong-manager/manager-test/src/main/java/org/apache/inlong/manager/test/BaseTest.java
  inlong-manager/manager-test/src/main/resources/application-unit-test.properties
  inlong-manager/manager-test/src/main/resources/h2/apache_inlong_manager.sql
  inlong-manager/manager-test/src/main/resources/h2/data.sql
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/auth/web/AuthenticationFilter.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/WorkflowApproverController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/WorkflowController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/WorkflowEventController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/openapi/DataProxyController.java
  inlong-manager/manager-workflow/src/main/java/org/apache/inlong/manager/workflow/core/WorkflowQueryService.java
  inlong-manager/manager-workflow/src/main/java/org/apache/inlong/manager/workflow/core/impl/WorkflowQueryServiceImpl.java
  inlong-manager/manager-workflow/src/main/java/org/apache/inlong/manager/workflow/processor/ServiceTaskProcessor.java
Labels: component/manager, component/dashboard

#5247 [INLONG-5246][Manager] Return all cluster nodes under the same tag and type
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/InlongClusterServiceImpl.java
Labels: component/manager

#5237 [INLONG-5217][Sort] Add connector-base component for common code
  inlong-sort/sort-connectors/connector-base/pom.xml
  inlong-sort/sort-connectors/connector-base/src/main/java/org/apache/inlong/sort/base/Constants.java
  inlong-sort/sort-connectors/connector-base/src/main/java/org/apache/inlong/sort/base/metric/SinkMetricData.java
  inlong-sort/sort-connectors/connector-base/src/main/java/org/apache/inlong/sort/base/metric/SourceMetricData.java
  inlong-sort/sort-connectors/hbase/pom.xml
  inlong-sort/sort-connectors/hbase/src/main/java/org/apache/inlong/sort/hbase/sink/HBaseSinkFunction.java
  inlong-sort/sort-connectors/pom.xml
  inlong-sort/sort-connectors/postgres-cdc/pom.xml
  inlong-sort/sort-connectors/postgres-cdc/src/main/java/org.apache.inlong.sort.cdc.postgres/DebeziumSourceFunction.java
Labels: component/sort

#5248 [INLONG-5245][Manager] Optimize the URI paths of the WebAPI and OpenAPI
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/constant/FetcherConstants.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/HeartbeatManager.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/fetcher/ManagerFetcher.java
  inlong-audit/audit-common/src/main/java/org/apache/inlong/audit/file/ConfigManager.java
  inlong-dashboard/src/setupProxy.js
  inlong-dashboard/src/utils/request.ts
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/consts/ConfigConstants.java
  inlong-manager/manager-client-examples/src/test/java/org/apache/inlong/manager/client/ut/BaseTest.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/util/ClientUtils.java
  inlong-manager/manager-client/src/test/java/org/apache/inlong/manager/client/api/inner/ClientFactoryTest.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/auth/impl/InlongShiroImpl.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/AnnoController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/AuditController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/ConsumptionController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/DataNodeController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/HeartbeatController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/InlongClusterController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/InlongGroupController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/InlongStreamController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/StreamConfigLogWebController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/StreamSinkController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/StreamSourceController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/StreamTransformController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/UserController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/WorkflowApproverController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/WorkflowController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/WorkflowEventController.java
  inlong-manager/manager-web/src/main/resources/application.properties
  inlong-manager/manager-web/src/test/java/org/apache/inlong/manager/web/WebBaseTest.java
  inlong-manager/manager-web/src/test/java/org/apache/inlong/manager/web/controller/AnnoControllerTest.java
  inlong-manager/manager-web/src/test/java/org/apache/inlong/manager/web/controller/DataNodeControllerTest.java
  inlong-manager/manager-web/src/test/resources/application.properties
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/ConfigConstants.java
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/utils/ServiceDiscoveryUtils.java
  inlong-sort-standalone/conf/common.properties
  inlong-sort-standalone/conf/es/common.properties
  inlong-sort-standalone/conf/hive/common.properties
Labels: component/manager, component/dataproxy, component/dashboard, component/agent, component/audit, component/sort, component/sdk

#5239 [INLONG-5238][DataProxy] Error metric params in addSendFailMetric
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/SinkContext.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/kafkazone/KafkaZoneSinkContext.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/pulsarzone/PulsarZoneSinkContext.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/tubezone/TubeZoneSinkContext.java
Labels: component/dataproxy

#5275 [INLONG-5120][Dashboard] The list page of stream, source and sink supports status filtering
  inlong-dashboard/src/pages/AccessDetail/DataSources/index.tsx
  inlong-dashboard/src/pages/AccessDetail/DataStorage/index.tsx
  inlong-dashboard/src/pages/AccessDetail/DataStream/config.tsx
Labels: component/dashboard

#5278 [INLONG-5277][Agent] Fix the unmatched HTTP request method
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/utils/HttpManager.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/fetcher/ManagerFetcher.java
Labels: component/agent

#5271 [INLONG-5264][Manager] Remove unused StreamConfigLog related classes and tables
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/InlongGroupContext.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/InlongGroupImpl.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/client/InlongStreamClient.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/client/WorkflowClient.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/service/InlongStreamApi.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/stream/InlongStreamConfigLogListResponse.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/stream/InlongStreamConfigLogPageRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/stream/InlongStreamConfigLogRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/stream/InlongStreamMetricRequest.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/StreamConfigLogEntity.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/StreamConfigLogEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/mappers/StreamConfigLogEntityMapper.xml
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/StreamConfigLogService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/AgentServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/StreamConfigLogServiceImpl.java
  inlong-manager/manager-test/src/main/resources/application-unit-test.properties
  inlong-manager/manager-test/src/main/resources/h2/apache_inlong_manager.sql
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/StreamConfigLogWebController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/openapi/StreamConfigLogController.java
Labels: component/manager

#5250 [INLONG-5249][SDK] DataProxy SDK(cpp) utils file
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/base/atomic.h
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/base/ini_help.cc
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/base/ini_help.h
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/base/logger.cc
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/base/logger.h
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/base/msg_protocol.h
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/base/noncopyable.h
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/base/read_write_mutex.h
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/base/recv_buffer.h
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/base/sdk_constant.h
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/base/singleton.h
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/base/utils.cc
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/base/utils.h
Labels: component/sdk

#5257 [INLONG-5256][SDK] DataProxy SDK(cpp) network operation and management
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/net/executor_thread_pool.cc
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/net/executor_thread_pool.h
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/net/socket_connection.cc
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/net/socket_connection.h
Labels: component/sdk

#5266 [INLONG-5265][SDK] DataProxy SDK(cpp) build config
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/CMakeLists.txt
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/build.sh
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/base/CMakeLists.txt
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/net/CMakeLists.txt
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/third_party/CMakeLists.txt
Labels: component/sdk

#5255 [INLONG-5253][SDK] DataProxy SDK(cpp) buffer manager
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/base/pack_queue.cc
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/base/pack_queue.h
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/net/buffer_pool.cc
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/net/buffer_pool.h
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/net/send_buffer.h
Labels: component/sdk

#5260 [INLONG-5258][SDK] DataProxy SDK(cpp) core interface
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/release/inc/tc_api.h
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/base/sdk_core.cc
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/base/sdk_core.h
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/base/user_msg.h
Labels: component/sdk

#5252 [INLONG-5251][SDK] Add proxy client config and proxylist manager for DataProxy C++ SDK
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/base/client_config.cc
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/base/client_config.h
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/base/proxylist_config.cc
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/base/proxylist_config.h
Labels: component/sdk

#5268 [INLONG-5267][SDK] Add config file and demo for DataProxy C++ SDK
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/release/CMakeLists.txt
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/release/conf/config_example.json
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/release/demo/CMakeLists.txt
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/release/demo/send_demo.cc
Labels: component/sdk

#5284 [INLONG-5283][Manager] Add OpenAPI authentication option (default off)
  inlong-agent/agent-core/src/test/resources/agent.properties
  inlong-agent/agent-plugins/src/test/resources/agent.properties
  inlong-agent/conf/agent.properties
  inlong-common/src/main/java/org/apache/inlong/common/util/BasicAuth.java
  inlong-dataproxy/conf/common.properties
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/AuthUtils.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/auth/impl/InlongShiroImpl.java
  inlong-manager/manager-web/src/main/resources/application.properties
  inlong-manager/manager-web/src/test/resources/application.properties
Labels: component/manager, component/dataproxy, component/agent

#5288 [INLONG-5281][TubeMQ] Reconnect to tubemq server if StandbyException is thrown
  inlong-tubemq/tubemq-client-twins/tubemq-client-go/client/heartbeat.go
  inlong-tubemq/tubemq-client-twins/tubemq-client-go/rpc/client.go
  inlong-tubemq/tubemq-client-twins/tubemq-client-go/util/util.go
Labels: component/tubemq

#5287 [INLONG-5285][Manager] Support custom query for group, stream, source and sink
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/OrderFieldEnum.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/OrderTypeEnum.java
  inlong-manager/manager-dao/src/main/resources/mappers/InlongGroupEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/InlongStreamEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/StreamSinkEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/StreamSourceEntityMapper.xml
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/common/PageRequest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/group/InlongGroupServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/StreamSinkServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/StreamSourceServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/stream/InlongStreamServiceImpl.java
Labels: component/manager
