Repository apache/inlong, pull requests merged in 2022-04, with the labels that each got.

#3499 [INLONG-3498][Dashboard] Adapt manager streams update API
  inlong-dashboard/src/pages/AccessDetail/DataStream/StreamItemModal.tsx
  inlong-dashboard/src/pages/AccessDetail/DataStream/index.tsx
  inlong-dashboard/src/router.tsx
Labels: inlong-dashboard

#3497 [INLONG-3496][Dashboard] Update node version
  inlong-dashboard/package-lock.json
  inlong-dashboard/pom.xml
Labels: inlong-dashboard

#3495 [INLONG-3492][Dashboard] Initialize a npmrc file
  inlong-dashboard/.npmrc
Labels: inlong-dashboard

#3494 [INLONG-3436][DataProxy] Sort out the LICENSEs of the third-party components of inlong-dataproxy
  licenses/inlong-dataproxy/LICENSE
  licenses/inlong-dataproxy/NOTICE
  licenses/inlong-dataproxy/licenses-binary/LICENSE-google-protobuf-java-format.txt
  licenses/inlong-dataproxy/licenses-binary/LICENSE-xz.txt
  licenses/inlong-dataproxy/licenses/LICENSE-activation.txt
  licenses/inlong-dataproxy/licenses/LICENSE-bcpkix-jdk15on.txt
  licenses/inlong-dataproxy/licenses/LICENSE-bcprov-ext-jdk15on.txt
  licenses/inlong-dataproxy/licenses/LICENSE-bcprov-jdk15on.txt
  licenses/inlong-dataproxy/licenses/LICENSE-bcutil-jdk15on.txt
  licenses/inlong-dataproxy/licenses/LICENSE-jackson-core-asl.txt
  licenses/inlong-dataproxy/licenses/LICENSE-jetty.txt
  licenses/inlong-dataproxy/licenses/LICENSE-jline.txt
  licenses/inlong-dataproxy/licenses/LICENSE-kafka-clients.txt
  licenses/inlong-dataproxy/licenses/LICENSE-libthrift.txt
  licenses/inlong-dataproxy/licenses/LICENSE-lombok.txt
  licenses/inlong-dataproxy/licenses/LICENSE-paranamer.txt
  licenses/inlong-dataproxy/licenses/LICENSE-protobuf-java.txt
  licenses/inlong-dataproxy/licenses/LICENSE-rs-api.txt
  licenses/inlong-dataproxy/licenses/LICENSE-servlet-api.txt
  licenses/inlong-dataproxy/licenses/LICENSE-slf4j-api.txt
  licenses/inlong-dataproxy/licenses/LICENSE-slf4j-reload4j.txt
  licenses/inlong-dataproxy/licenses/LICENSE-xz.txt
  licenses/inlong-dataproxy/licenses/LICENSE-zstd-jni.txt
Labels: improve

#3505 [INLONG-3503] upgrade spring due to CVE
  inlong-audit/pom.xml
  inlong-tubemq/pom.xml
  inlong-tubemq/tubemq-manager/pom.xml
  licenses/inlong-tubemq/licenses-server/LICENSE
  licenses/inlong-tubemq/licenses-server/NOTICE
Labels: inlong-tubemq, inlong-audit

#3511 [INLONG-3509][TubeMQ]Optimize the LICENSE file format of inlong-tubemq third-party components
  licenses/inlong-dataproxy/LICENSE
  licenses/inlong-dataproxy/licenses/LICENSE-slf4j-reload4j.txt
  licenses/inlong-tubemq/licenses-client/LICENSE
  licenses/inlong-tubemq/licenses-client/NOTICE
  licenses/inlong-tubemq/licenses-client/licenses/LICENSE-protobuf-java.txt
  licenses/inlong-tubemq/licenses-client/licenses/LICENSE-slf4j-api.txt
  licenses/inlong-tubemq/licenses-client/licenses/LICENSE-slf4j-reload4j.txt
  licenses/inlong-tubemq/licenses-manager/licenses/LICENSE-protobuf-java.txt
  licenses/inlong-tubemq/licenses-manager/licenses/LICENSE-slf4j-api.txt
  licenses/inlong-tubemq/licenses-manager/licenses/LICENSE-slf4j-reload4j.txt
  licenses/inlong-tubemq/licenses-server/LICENSE
  licenses/inlong-tubemq/licenses-server/NOTICE
  licenses/inlong-tubemq/licenses-server/licenses/LICENSE-dom4j.txt
  licenses/inlong-tubemq/licenses-server/licenses/LICENSE-protobuf-java.txt
  licenses/inlong-tubemq/licenses-server/licenses/LICENSE-slf4j-api.txt
  licenses/inlong-tubemq/licenses-server/licenses/LICENSE-slf4j-reload4j.txt
  licenses/inlong-tubemq/licenses-server/licenses/LICENSE-spring-aop.txt
  licenses/inlong-tubemq/licenses-server/licenses/LICENSE-spring-beans.txt
  licenses/inlong-tubemq/licenses-server/licenses/LICENSE-spring-context.txt
  licenses/inlong-tubemq/licenses-server/licenses/LICENSE-spring-core.txt
  licenses/inlong-tubemq/licenses-server/licenses/LICENSE-spring-expression.txt
  licenses/inlong-tubemq/licenses-server/licenses/LICENSE-spring-jcl.txt
  licenses/inlong-tubemq/licenses-server/licenses/LICENSE-spring-jdbc.txt
  licenses/inlong-tubemq/licenses-server/licenses/LICENSE-spring-orm.txt
  licenses/inlong-tubemq/licenses-server/licenses/LICENSE-spring-tx.txt
Labels: improve

#3512 [INLONG-2060][Dashboard] Add the inlong logo to the inlong-website login page
  inlong-dashboard/src/components/Icons/logo.svg
  inlong-dashboard/src/pages/Login/index.module.less
  inlong-dashboard/src/pages/Login/index.tsx
Labels: inlong-dashboard

#3513 [INLONG-3510][Manager] return empty object when not found any inlong group with success status
  bin/inlong-daemon
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/ThirdPartyClusterServiceImpl.java
Labels: inlong-manager

#3515 [INLONG-3506][Dashboard] Support Kafka Sink
  inlong-dashboard/src/components/MetaData/StorageKafka.tsx
  inlong-dashboard/src/components/MetaData/index.ts
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/locales/en.json
Labels: inlong-dashboard

#3519 [INLONG-3518][Dashboard] Support Iceberg Sink
  inlong-dashboard/src/components/EditableTable/index.tsx
  inlong-dashboard/src/components/MetaData/StorageIceberg.tsx
  inlong-dashboard/src/components/MetaData/index.ts
  inlong-dashboard/src/components/TextSwitch/index.tsx
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/locales/en.json
Labels: inlong-dashboard

#3517 [INLONG-3516][Manager] Rename the manager-client-test to manager-client-examples
  inlong-manager/manager-client-examples/pom.xml
  inlong-manager/manager-client-examples/src/test/java/org/apache/inlong/manager/client/Binlog2KafkaExample.java
  inlong-manager/manager-client-examples/src/test/java/org/apache/inlong/manager/client/Kafka2HiveExample.java
  inlong-manager/pom.xml
Labels: inlong-manager

#3521 [INLONG-3520][DataProxy] Unify the data directory for the dataproxy
  inlong-dashboard/src/components/MetaData/DataSourcesBinLog.ts
  inlong-dataproxy/conf/dataproxy-pulsar.conf
  inlong-dataproxy/conf/dataproxy-tube.conf
  inlong-dataproxy/dataproxy-source/src/main/resources/dataproxy-pulsar.conf
Labels: inlong-dataproxy, inlong-dashboard

#3465 [INLONG-3450][SDK] Sort-SDK change ack log from info to debug
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/impl/SortClientImpl.java
Labels: inlong-sdk

#3263 [INLONG-2862][Manager] Support to start Sort tasks through Flink
  inlong-manager/manager-plugin-examples/pom.xml
  inlong-manager/manager-plugins/pom.xml
  inlong-manager/manager-plugins/src/main/assembly/package.xml
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/FlinkSortProcessPlugin.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/eventselect/DeleteProcessSelector.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/eventselect/RestartProcessSelector.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/eventselect/StartupProcessSelector.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/eventselect/SuspendProcessSelector.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/flink/Constants.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/flink/FlinkService.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/flink/IntergrationTaskRunner.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/flink/ManagerFlinkTask.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/flink/TaskRunService.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/flink/dto/FlinkConfig.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/flink/dto/FlinkInfo.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/flink/dto/JarEntryInfo.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/flink/dto/JarFileInfo.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/flink/dto/JarListInfo.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/flink/dto/JarRunRequestbody.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/flink/dto/Jars.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/flink/dto/LoginConf.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/flink/dto/StopWithSavepointRequestBody.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/flink/enums/BusinessExceptionDesc.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/flink/enums/TaskCommitType.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/listener/DeleteSortListener.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/listener/RestartSortListener.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/listener/StartupSortListener.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/listener/SuspendSortListener.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/util/FlinkConfiguration.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/util/FlinkUtils.java
  inlong-manager/manager-plugins/src/main/resources/META-INF/plugin.yaml
  inlong-manager/manager-plugins/src/main/resources/flink-sort-plugin.properties
  inlong-manager/manager-plugins/src/test/java/org/apache/inlong/manager/plugin/listener/DeleteSortListenerTest.java
  inlong-manager/manager-plugins/src/test/java/org/apache/inlong/manager/plugin/listener/RestartSortListenerTest.java
  inlong-manager/manager-plugins/src/test/java/org/apache/inlong/manager/plugin/listener/StartupSortListenerTest.java
  inlong-manager/manager-plugins/src/test/java/org/apache/inlong/manager/plugin/listener/SuspendSortListenerTest.java
  inlong-manager/pom.xml
Labels: inlong-manager

#3527 [INLONG-3526][Manager] Optimize packaging of the default plugins
  inlong-manager/manager-docker/manager-docker.sh
  inlong-manager/manager-plugins/pom.xml
  inlong-manager/manager-plugins/src/main/assembly/assembly.xml
  inlong-manager/manager-web/assembly.xml
  inlong-manager/manager-web/pom.xml
  inlong-manager/pom.xml
Labels: inlong-manager

#3529 [INLONG-3528][InLong] Unify the log directory for manager and audit
  bin/inlong-daemon
  conf/inlong.conf
  inlong-agent/agent-docker/README.md
  inlong-audit/audit-docker/audit-docker.sh
  inlong-audit/bin/proxy-start.sh
  inlong-audit/bin/store-start.sh
  inlong-audit/conf/logback.xml
  inlong-manager/manager-docker/README.md
  inlong-manager/manager-docker/manager-docker.sh
  inlong-manager/manager-plugins/src/main/resources/flink-sort-plugin.properties
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/plugin/PluginClassLoader.java
  inlong-manager/manager-web/bin/startup.sh
  inlong-manager/manager-web/src/main/resources/logback-spring.xml
  inlong-sort/sort-single-tenant/pom.xml
Labels: inlong-manager, inlong-agent, inlong-audit, inlong-sort

#3536 [INLONG-3535][Manager] Update JDBC configs and maven pom files
  docker/kubernetes/templates/audit-statefulset.yaml
  inlong-manager/manager-client-examples/pom.xml
  inlong-manager/manager-web/src/main/resources/application-dev.properties
  inlong-manager/manager-web/src/main/resources/application-prod.properties
  inlong-manager/manager-web/src/main/resources/application-test.properties
  inlong-manager/pom.xml
Labels: inlong-manager

#3541 [INLONG-3540][InLong] Add SECURITY.md file
  SECURITY.md
Labels: inlong-platform, doc, improve

#3548 [INLONG-3547][TubeMQ] Fix curl and ps commands not found bug in docker container
  inlong-tubemq/tubemq-docker/tubemq-all/Dockerfile
Labels: inlong-tubemq

#3549 [INLONG-3546][Sort] Support reporting metrics by audit-sdk in sort-single-tenant
  inlong-sort/sort-single-tenant/pom.xml
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/Entrance.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/deserialization/DeserializationFunction.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/utils/CommonUtils.java
  inlong-sort/sort-single-tenant/src/test/java/org/apache/inlong/sort/singletenant/flink/DebeziumToCanalITCase.java
  inlong-sort/sort-single-tenant/src/test/java/org/apache/inlong/sort/singletenant/flink/WholeDBMigrationITCase.java
  inlong-sort/sort-single-tenant/src/test/java/org/apache/inlong/sort/singletenant/flink/deserialization/DeserializationFunctionTest.java
Labels: inlong-sort

#3545 [INLONG-3543][Audit] Upgrade netty and log4j version of audit
  inlong-audit/audit-common/pom.xml
  inlong-audit/audit-common/src/main/java/org/apache/inlong/audit/protocol/Commands.java
  inlong-audit/audit-proxy/pom.xml
  inlong-audit/audit-proxy/src/main/java/org/apache/inlong/audit/sink/PulsarSink.java
  inlong-audit/audit-proxy/src/main/java/org/apache/inlong/audit/source/DefaultServiceDecoder.java
  inlong-audit/audit-proxy/src/main/java/org/apache/inlong/audit/source/ServerMessageFactory.java
  inlong-audit/audit-proxy/src/main/java/org/apache/inlong/audit/source/ServerMessageHandler.java
  inlong-audit/audit-proxy/src/main/java/org/apache/inlong/audit/source/ServiceDecoder.java
  inlong-audit/audit-proxy/src/main/java/org/apache/inlong/audit/source/SimpleTcpSource.java
  inlong-audit/audit-proxy/src/main/java/org/apache/inlong/audit/utils/EventLoopUtil.java
  inlong-audit/audit-sdk/pom.xml
  inlong-audit/audit-sdk/src/main/java/org/apache/inlong/audit/send/ClientPipelineFactory.java
  inlong-audit/audit-sdk/src/main/java/org/apache/inlong/audit/send/SenderChannel.java
  inlong-audit/audit-sdk/src/main/java/org/apache/inlong/audit/send/SenderGroup.java
  inlong-audit/audit-sdk/src/main/java/org/apache/inlong/audit/send/SenderHandler.java
  inlong-audit/audit-sdk/src/main/java/org/apache/inlong/audit/send/SenderManager.java
  inlong-audit/audit-sdk/src/main/java/org/apache/inlong/audit/util/Decoder.java
  inlong-audit/audit-sdk/src/main/java/org/apache/inlong/audit/util/Encoder.java
  inlong-audit/audit-sdk/src/main/java/org/apache/inlong/audit/util/EventLoopUtil.java
  inlong-audit/audit-sdk/src/main/java/org/apache/inlong/audit/util/IpPort.java
  inlong-audit/audit-sdk/src/test/java/org/apache/inlong/audit/send/SenderGroupTest.java
  inlong-audit/audit-store/pom.xml
  inlong-audit/bin/audit-proxy
  inlong-audit/bin/store-start.sh
  inlong-audit/conf/log4j2.xml
  inlong-audit/conf/logback.xml
  inlong-audit/pom.xml
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/ServerMessageHandler.java
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/DefaultMessageSender.java
Labels: inlong-dataproxy, inlong-audit, inlong-sdk

#3539 [INLONG-3537][Manager] Remove unused APIs and change Kafka sink params
  inlong-manager/manager-client-examples/src/test/java/org/apache/inlong/manager/client/Binlog2KafkaExample.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/sink/KafkaSink.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/util/InlongStreamSinkTransfer.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/Constant.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/kafka/KafkaSinkDTO.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/kafka/KafkaSinkListResponse.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/kafka/KafkaSinkRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/kafka/KafkaSinkResponse.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/InlongStreamService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/InlongStreamServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/thirdparty/sort/util/SinkInfoUtils.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/sink/KafkaStreamSinkServiceTest.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/InlongStreamController.java
Labels: inlong-manager

#3551 [INLONG-3544][Manager] Refactor file source APIs
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/agent/AgentHeartbeatRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/agent/AgentStatus.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/agent/AgentStatusReportRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/agent/AgentSysConfig.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/agent/AgentSysconfRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/agent/CheckAgentTaskConfRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/agent/ConfirmAgentIpRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/agent/DataConfig.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/agent/FileAgentCMDConfig.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/agent/FileAgentCommandInfo.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/agent/FileAgentTaskConfig.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/agent/FileAgentTaskInfo.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/agent/HeartbeatMessage.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/AgentHeartbeatEntity.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/AgentHeartbeatEntityMapper.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/AgentSysConfigEntityMapper.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/InlongStreamFieldEntityMapper.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/SourceFileDetailEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/generatorConfig.xml
  inlong-manager/manager-dao/src/main/resources/mappers/AgentHeartbeatEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/AgentSysConfigEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/InlongGroupEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/InlongStreamFieldEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/SourceFileDetailEntityMapper.xml
  inlong-manager/manager-dao/src/test/java/org/apache/inlong/manager/dao/mapper/AgentHeartbeatEntityMapperTest.java
  inlong-manager/manager-dao/src/test/java/org/apache/inlong/manager/dao/mapper/InlongGroupEntityMapperTest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/AgentHeartbeatService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/AgentService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/AgentSysConfigService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/AgentHeartbeatServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/AgentServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/AgentSysConfigServiceImpl.java
  inlong-manager/manager-test/src/main/resources/sql/apache_inlong_manager.sql
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/openapi/AgentController.java
Labels: inlong-manager

#3557 [INLONG-3501][Sort-standalone] Sort out the LICENSEs of the third-party components of inlong-standalone
  inlong-sort-standalone/pom.xml
  licenses/inlong-sort-standalone/LICENSE
  licenses/inlong-sort-standalone/NOTICE
  licenses/inlong-sort-standalone/licenses/LICENSE-activation.txt
  licenses/inlong-sort-standalone/licenses/LICENSE-bcpkix-jdk15on.txt
  licenses/inlong-sort-standalone/licenses/LICENSE-bcprov-ext-jdk15on.txt
  licenses/inlong-sort-standalone/licenses/LICENSE-bcprov-jdk15on.txt
  licenses/inlong-sort-standalone/licenses/LICENSE-bcutil-jdk15on.txt
  licenses/inlong-sort-standalone/licenses/LICENSE-jackson-core-asl.txt
  licenses/inlong-sort-standalone/licenses/LICENSE-jamon-runtime.txt
  licenses/inlong-sort-standalone/licenses/LICENSE-javax.servlet-api.txt
  licenses/inlong-sort-standalone/licenses/LICENSE-javax.servlet.jsp-api.txt
  licenses/inlong-sort-standalone/licenses/LICENSE-javax.servlet.jsp.txt
  licenses/inlong-sort-standalone/licenses/LICENSE-javax.ws.rs-api.txt
  licenses/inlong-sort-standalone/licenses/LICENSE-jaxb-api.txt
  licenses/inlong-sort-standalone/licenses/LICENSE-jaxb-impl.txt
  licenses/inlong-sort-standalone/licenses/LICENSE-jersey.txt
  licenses/inlong-sort-standalone/licenses/LICENSE-jetty.txt
  licenses/inlong-sort-standalone/licenses/LICENSE-jline.txt
  licenses/inlong-sort-standalone/licenses/LICENSE-jsch.txt
  licenses/inlong-sort-standalone/licenses/LICENSE-kafka-clients.txt
  licenses/inlong-sort-standalone/licenses/LICENSE-leveldbjni-all.txt
  licenses/inlong-sort-standalone/licenses/LICENSE-libthrift.txt
  licenses/inlong-sort-standalone/licenses/LICENSE-lombok.txt
  licenses/inlong-sort-standalone/licenses/LICENSE-paranamer.txt
  licenses/inlong-sort-standalone/licenses/LICENSE-protobuf-java.txt
  licenses/inlong-sort-standalone/licenses/LICENSE-rs-api.txt
  licenses/inlong-sort-standalone/licenses/LICENSE-servlet-api.txt
  licenses/inlong-sort-standalone/licenses/LICENSE-slf4j-api.txt
  licenses/inlong-sort-standalone/licenses/LICENSE-slf4j-reload4j.txt
  licenses/inlong-sort-standalone/licenses/LICENSE-stax-api.txt
  licenses/inlong-sort-standalone/licenses/LICENSE-stax2-api.txt
  licenses/inlong-sort-standalone/licenses/LICENSE-xz.txt
  licenses/inlong-sort-standalone/licenses/LICENSE-zstd-jni.txt
Labels: doc, improve, inlong-sort-standalone

#3555 [INLONG-3542][Manager] Add Iceberg params and change SQL files
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/SinkFieldBase.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/SinkForSortDTO.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/SinkListResponse.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/SinkRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/SinkResponse.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/iceberg/IcebergSinkDTO.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/iceberg/IcebergSinkListResponse.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/iceberg/IcebergSinkRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/iceberg/IcebergSinkResponse.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/StreamSinkEntity.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/StreamSinkFieldEntity.java
  inlong-manager/manager-dao/src/main/resources/mappers/StreamSinkEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/StreamSinkFieldEntityMapper.xml
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/hive/HiveStreamSinkOperation.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/iceberg/IcebergStreamSinkOperation.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/sink/IcebergStreamSinkServiceTest.java
  inlong-manager/manager-test/src/main/resources/sql/apache_inlong_manager.sql
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
Labels: inlong-manager

#3522 [INLONG-3514][TubeMQ] Cluster query adds name and IP attributes
  inlong-tubemq/tubemq-manager/src/main/java/org/apache/inlong/tubemq/manager/controller/cluster/ClusterController.java
  inlong-tubemq/tubemq-manager/src/main/java/org/apache/inlong/tubemq/manager/controller/cluster/vo/ClusterVo.java
  inlong-tubemq/tubemq-manager/src/main/java/org/apache/inlong/tubemq/manager/repository/ClusterRepository.java
  inlong-tubemq/tubemq-manager/src/main/java/org/apache/inlong/tubemq/manager/repository/MasterRepository.java
  inlong-tubemq/tubemq-manager/src/main/java/org/apache/inlong/tubemq/manager/service/ClusterServiceImpl.java
  inlong-tubemq/tubemq-manager/src/main/java/org/apache/inlong/tubemq/manager/service/MasterServiceImpl.java
  inlong-tubemq/tubemq-manager/src/main/java/org/apache/inlong/tubemq/manager/service/interfaces/ClusterService.java
  inlong-tubemq/tubemq-manager/src/main/java/org/apache/inlong/tubemq/manager/service/interfaces/MasterService.java
  inlong-tubemq/tubemq-manager/src/main/java/org/apache/inlong/tubemq/manager/utils/ConvertUtils.java
Labels: inlong-tubemq

#3559 [INLONG-3523][Sort] Remove lzo-core dependency
  inlong-sort/pom.xml
  inlong-sort/sort-connectors/pom.xml
  inlong-sort/sort-connectors/src/main/java/org/apache/inlong/sort/flink/hive/formats/TextRowWriter.java
  inlong-sort/sort-connectors/src/test/java/org/apache/inlong/sort/flink/hive/formats/TextRowWriterTest.java
Labels: improve, inlong-sort

#3558 [INLONG-3556][Dashboard] Add Iceberg params to adapt the Manager module
  inlong-dashboard/src/components/AccessHelper/DataStorageEditor/DetailModal.tsx
  inlong-dashboard/src/components/AccessHelper/FieldsConfig/dataFields.tsx
  inlong-dashboard/src/components/MetaData/StorageClickhouse.tsx
  inlong-dashboard/src/components/MetaData/StorageHive.tsx
  inlong-dashboard/src/components/MetaData/StorageIceberg.tsx
  inlong-dashboard/src/components/MetaData/StorageKafka.tsx
  inlong-dashboard/src/components/MetaData/index.ts
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/locales/en.json
Labels: inlong-dashboard

#3562 [INLONG-3560][TubeMQ] Fix invalid port names in tubemq pods
  docker/kubernetes/templates/tubemq-broker-service.yaml
  docker/kubernetes/templates/tubemq-broker-statefulset.yaml
  docker/kubernetes/templates/tubemq-manager-service.yaml
  docker/kubernetes/templates/tubemq-manager-statefulset.yaml
  docker/kubernetes/templates/tubemq-master-service.yaml
  docker/kubernetes/templates/tubemq-master-statefulset.yaml
  docker/kubernetes/templates/zookeeper-service.yaml
  docker/kubernetes/templates/zookeeper-statefulset.yaml
Labels: inlong-tubemq, inlong-platform

#3554 [INLONG-3538][Manager] Adjust mode of getting sort URL
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/flink/FlinkService.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/flink/IntergrationTaskRunner.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/flink/dto/FlinkInfo.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/listener/DeleteSortListener.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/listener/RestartSortListener.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/listener/StartupSortListener.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/listener/SuspendSortListener.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/util/FlinkUtils.java
  inlong-manager/manager-plugins/src/test/java/org/apache/inlong/manager/plugin/listener/DeleteSortListenerTest.java
  inlong-manager/manager-plugins/src/test/java/org/apache/inlong/manager/plugin/listener/RestartSortListenerTest.java
  inlong-manager/manager-plugins/src/test/java/org/apache/inlong/manager/plugin/listener/SuspendSortListenerTest.java
Labels: inlong-manager

#3569 [INLONG-3568][TubeMQ] Nodes realize batch online, offline, and reloading
  inlong-tubemq/tubemq-manager/src/main/java/org/apache/inlong/tubemq/manager/controller/node/request/OnlineOfflineBrokerReq.java
  inlong-tubemq/tubemq-manager/src/main/java/org/apache/inlong/tubemq/manager/controller/node/request/ReloadBrokerReq.java
Labels: inlong-tubemq

#3567 [INLONG-3565][Manager] Unified the interface for flink plugin
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/flink/FlinkService.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/flink/IntergrationTaskRunner.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/flink/ManagerFlinkTask.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/listener/DeleteSortListener.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/listener/RestartSortListener.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/listener/StartupSortListener.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/listener/SuspendSortListener.java
  inlong-manager/manager-plugins/src/test/java/org/apache/inlong/manager/plugin/listener/SuspendSortListenerTest.java
Labels: inlong-manager

#3575 [INLONG-3031][Dataproxy] Fix Repeated registration jmx metric bean exception
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/PulsarSink.java
Labels: inlong-dataproxy

#3525 [INLONG-3524][Manager] Add 'describe' and 'list' command
  inlong-manager/manager-client-tools/pom.xml
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/CommandBase.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/CommandDescribe.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/CommandList.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/CommandUtil.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/InlongCommandTool.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/validator/GroupStatus.java
  inlong-manager/manager-client-tools/src/test/java/org/apache/inlong/manager/client/cli/TestCommand.java
  inlong-manager/manager-web/bin/managerctl
  inlong-manager/manager-web/pom.xml
  inlong-manager/manager-web/src/main/resources/application.properties
  inlong-manager/pom.xml
Labels: inlong-manager

#3578 [INLONG-3576][SDK] Support multi type for prometheus metric
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/metrics/SortSdkPrometheusMetricListener.java
Labels: inlong-sdk

#3581 [INLONG-3580][Manager] Remove agentIp in source request
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/util/InlongStreamSourceTransfer.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/SourceRequest.java
Labels: inlong-manager

#3577 [INLONG-3076][Agent] MalformedObjectNameException occurred in unit tests
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/constant/CommonConstants.java
  inlong-agent/agent-plugins/pom.xml
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/AbstractReader.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/MiniAgent.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/sources/TestTextFileReader.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/utils/TestUtils.java
  inlong-agent/pom.xml
Labels: inlong-agent

#3574 [INLONG-3573][Dataproxy][Audit] Tidy up dependencies between dataproxy, audit and root directory pom
  inlong-audit/audit-common/pom.xml
  inlong-audit/audit-proxy/pom.xml
  inlong-audit/audit-sdk/pom.xml
  inlong-audit/audit-store/pom.xml
  inlong-audit/pom.xml
  inlong-common/pom.xml
  inlong-common/src/main/java/org/apache/inlong/common/metric/MetricListenerRunnable.java
  inlong-common/src/main/java/org/apache/inlong/common/metric/MetricObserver.java
  inlong-dataproxy/dataproxy-dist/pom.xml
  inlong-dataproxy/dataproxy-source/pom.xml
  inlong-dataproxy/dataproxy-source/src/test/java/org/apache/inlong/dataproxy/config/loader/TestContextCacheClusterConfigLoader.java
  inlong-dataproxy/dataproxy-source/src/test/java/org/apache/inlong/dataproxy/config/loader/TestContextIdTopicConfigLoader.java
  inlong-dataproxy/dataproxy-source/src/test/java/org/apache/inlong/dataproxy/sink/pulsar/federation/TestPulsarFederationSink.java
  inlong-dataproxy/dataproxy-source/src/test/java/org/apache/inlong/dataproxy/sink/pulsar/federation/TestPulsarProducerFederation.java
  inlong-dataproxy/dataproxy-source/src/test/resources/dataproxy-pulsar.conf
  inlong-dataproxy/pom.xml
  inlong-tubemq/pom.xml
  pom.xml
Labels: inlong-tubemq, inlong-dataproxy, inlong-audit

#3583 [INLONG-3552][InLong] Add more configuration items
  docker/kubernetes/README.md
  docker/kubernetes/templates/_helpers.tpl
  docker/kubernetes/templates/agent-statefulset.yaml
  docker/kubernetes/templates/audit-statefulset.yaml
  docker/kubernetes/templates/dashboard-statefulset.yaml
  docker/kubernetes/templates/dataproxy-statefulset.yaml
  docker/kubernetes/templates/manager-statefulset.yaml
  docker/kubernetes/templates/mysql-service.yaml
  docker/kubernetes/templates/mysql-statefulset.yaml
  docker/kubernetes/templates/tubemq-broker-configmap.yaml
  docker/kubernetes/templates/tubemq-broker-service.yaml
  docker/kubernetes/templates/tubemq-broker-statefulset.yaml
  docker/kubernetes/templates/tubemq-manager-statefulset.yaml
  docker/kubernetes/templates/tubemq-master-service.yaml
  docker/kubernetes/templates/tubemq-master-statefulset.yaml
  docker/kubernetes/templates/zookeeper-service.yaml
  docker/kubernetes/templates/zookeeper-statefulset.yaml
  docker/kubernetes/values.yaml
Labels: inlong-platform

#3592 [INLONG-3591][Sort-Standalone] Support multiple SortTask with the one-on-one relationship of Source and SortTask.
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/impl/InLongTopicManagerImpl.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/impl/QueryConsumeConfigImpl.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/elasticsearch/DefaultEvent2IndexRequestHandler.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/source/sortsdk/SortSdkSource.java
Labels: inlong-sdk

#3593 [INLONG-3534][Manager] update spring version due to cve
  inlong-manager/pom.xml
Labels: inlong-manager

#3570 [INLONG-3504][Manager] upgrade to jackson without cve
  inlong-manager/pom.xml
Labels: inlong-manager

#3595 [INLONG-3432][TubeMQ] Sort out the LICENSEs of the third-party components of inlong-tubemq-manager
  licenses/inlong-tube-manager/LICENSE
  licenses/inlong-tube-manager/NOTICE
  licenses/inlong-tube-manager/licenses/LICENSE-asm.txt
  licenses/inlong-tube-manager/licenses/LICENSE-aspectjweaver.txt
  licenses/inlong-tube-manager/licenses/LICENSE-checker-qual.txt
  licenses/inlong-tube-manager/licenses/LICENSE-classgraph.txt
  licenses/inlong-tube-manager/licenses/LICENSE-classmate.txt
  licenses/inlong-tube-manager/licenses/LICENSE-jackson-datatype-jsr310.txt
  licenses/inlong-tube-manager/licenses/LICENSE-jakarta.annotation-api.txt
  licenses/inlong-tube-manager/licenses/LICENSE-jakarta.persistence-api.txt
  licenses/inlong-tube-manager/licenses/LICENSE-jakarta.transaction-api.txt
  licenses/inlong-tube-manager/licenses/LICENSE-jul-to-slf4j.txt
  licenses/inlong-tube-manager/licenses/LICENSE-logback-access.txt
  licenses/inlong-tube-manager/licenses/LICENSE-logback-classic.txt
  licenses/inlong-tube-manager/licenses/LICENSE-logback-core.txt
  licenses/inlong-tube-manager/licenses/LICENSE-lombok.txt
  licenses/inlong-tube-manager/licenses/LICENSE-mapstruct.txt
  licenses/inlong-tube-manager/licenses/LICENSE-postgresql.txt
  licenses/inlong-tube-manager/licenses/LICENSE-slf4j-api.txt
  licenses/inlong-tube-manager/licenses/LICENSE-spring-aop.txt
  licenses/inlong-tube-manager/licenses/LICENSE-spring-aspects.txt
  licenses/inlong-tube-manager/licenses/LICENSE-spring-beans.txt
  licenses/inlong-tube-manager/licenses/LICENSE-spring-context.txt
  licenses/inlong-tube-manager/licenses/LICENSE-spring-core.txt
  licenses/inlong-tube-manager/licenses/LICENSE-spring-data-commons.txt
  licenses/inlong-tube-manager/licenses/LICENSE-spring-data-jpa.txt
  licenses/inlong-tube-manager/licenses/LICENSE-spring-expression.txt
  licenses/inlong-tube-manager/licenses/LICENSE-spring-hateoas.txt
  licenses/inlong-tube-manager/licenses/LICENSE-spring-jcl.txt
  licenses/inlong-tube-manager/licenses/LICENSE-spring-jdbc.txt
  licenses/inlong-tube-manager/licenses/LICENSE-spring-orm.txt
  licenses/inlong-tube-manager/licenses/LICENSE-spring-plugin-core.txt
  licenses/inlong-tube-manager/licenses/LICENSE-spring-plugin-metadata.txt
  licenses/inlong-tube-manager/licenses/LICENSE-spring-tx.txt
  licenses/inlong-tube-manager/licenses/LICENSE-spring-web.txt
  licenses/inlong-tube-manager/licenses/LICENSE-spring-webmvc.txt
  licenses/inlong-tube-manager/licenses/LICENSE-tomcat-embed-core.txt
  licenses/inlong-tube-manager/notices/NOTICE-jakarta.annotation-api.txt
  licenses/inlong-tube-manager/notices/NOTICE-jakarta.persistence-api.txt
  licenses/inlong-tube-manager/notices/NOTICE-jakarta.transaction-api.txt
Labels: doc, improve, inlong-tubemq-manager

#3597 [INLONG-3596][Manager] Update the dependency
  inlong-manager/manager-web/bin/managerctl
  inlong-manager/manager-web/bin/startup.sh
  inlong-manager/manager-web/pom.xml
  inlong-manager/manager-web/src/main/resources/application.properties
  inlong-manager/pom.xml
  pom.xml
Labels: inlong-manager

#3590 [INLONG-3589][Manager] Add Iceberg sink info for Sort
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/Constant.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/SinkType.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/SourceType.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/SinkFieldBase.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/ck/ClickHouseSinkRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/ck/ClickHouseSinkResponse.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/hive/HiveSinkRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/hive/HiveSinkResponse.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/iceberg/IcebergSinkRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/iceberg/IcebergSinkResponse.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/kafka/KafkaSinkRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/kafka/KafkaSinkResponse.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/kafka/KafkaSourceDTO.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/StreamSinkFieldEntity.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/StreamSinkServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/ck/ClickHouseSinkOperation.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/hive/HiveSinkOperation.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/iceberg/IcebergSinkOperation.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/kafka/KafkaSinkOperation.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/AbstractSourceOperation.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/binlog/BinlogSourceOperation.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/file/FileSourceOperation.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/kafka/KafkaSourceOperation.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/thirdparty/hive/CreateHiveTableEventSelector.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/thirdparty/sort/util/SinkInfoUtils.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/stream/CreateStreamWorkflowDefinition.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/sink/ClickHouseStreamSinkServiceTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/sink/HiveStreamSinkServiceTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/sink/IcebergStreamSinkServiceTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/sink/KafkaStreamSinkServiceTest.java
Labels: inlong-manager

#3604 [INLONG-3603][Manager] The serialization type cannot be empty for File source
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/file/FileSourceRequest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/file/FileSourceOperation.java
  inlong-tubemq/pom.xml
Labels: inlong-tubemq, inlong-manager

#3602 [INLONG-3601][Manager] Should not create Hive resource when sink type is Kafka
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/SourceRequest.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/eventselect/DeleteProcessSelector.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/eventselect/RestartProcessSelector.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/eventselect/StartupProcessSelector.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/eventselect/SuspendProcessSelector.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/thirdparty/hive/CreateHiveSinkForStreamListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/thirdparty/hive/CreateHiveSinkListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/thirdparty/hive/HiveSinkEventSelector.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/thirdparty/mq/PulsarEventSelector.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/thirdparty/mq/TubeEventSelector.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/thirdparty/sort/ZkDisabledEventSelector.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/thirdparty/sort/ZkEnabledEventSelector.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/ServiceTaskListenerFactory.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/stream/CreateStreamWorkflowDefinition.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/thirdparty/hive/HiveSinkEventSelectorTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/workflow/WorkflowServiceImplTest.java
Labels: inlong-manager

#3618 [INLONG-3617][Dashboard] Add params for stream source to adapt Manager module
  inlong-dashboard/src/components/MetaData/DataSourcesFile.ts
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/locales/en.json
  inlong-dashboard/src/pages/AccessDetail/DataSources/status.tsx
Labels: inlong-dashboard

#3600 [INLONG-3599][Manager] Fix null pointer exception occurred when listing file sources
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/source/AgentFileSource.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/SourceListResponse.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/SourceRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/SourceResponse.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/file/FileSourceDTO.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/file/FileSourceListResponse.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/file/FileSourceRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/file/FileSourceResponse.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/StreamSourceEntity.java
  inlong-manager/manager-dao/src/main/resources/mappers/StreamSourceEntityMapper.xml
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/StreamSourceServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/file/FileSourceOperation.java
  inlong-manager/manager-test/src/main/resources/sql/apache_inlong_manager.sql
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
Labels: inlong-manager, bug

#3624 [INLONG-3623][InLong] Switch must have default branch for check style
  inlong-audit/audit-proxy/src/main/java/org/apache/inlong/audit/source/ServerMessageHandler.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/CommonOperateService.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/deserialization/FieldMappingTransformer.java
Labels: inlong-manager, inlong-audit, inlong-sort

#3619 [INLONG-3598][TubeMQ] Add broker modify method
  inlong-tubemq/tubemq-manager/src/main/java/org/apache/inlong/tubemq/manager/controller/node/NodeController.java
  inlong-tubemq/tubemq-manager/src/main/java/org/apache/inlong/tubemq/manager/controller/node/request/ModifyBrokerReq.java
Labels: inlong-tubemq

#3632 [INLONG-3631][Dashboard] Change the ClickHouse sink page to adapt the Manager module
  inlong-dashboard/src/components/AccessHelper/DataStorageEditor/DetailModal.tsx
  inlong-dashboard/src/components/MetaData/DataSourcesFile.ts
  inlong-dashboard/src/components/MetaData/StorageClickhouse.tsx
  inlong-dashboard/src/components/MetaData/StorageHive.tsx
  inlong-dashboard/src/components/MetaData/StorageIceberg.tsx
  inlong-dashboard/src/components/MetaData/index.ts
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/locales/en.json
  inlong-dashboard/src/pages/AccessDetail/DataSources/index.tsx
Labels: inlong-dashboard

#3634 [INLONG-3622][InLong] Tidy up dependencies for all modules
  inlong-agent/agent-core/pom.xml
  inlong-agent/agent-docker/pom.xml
  inlong-agent/agent-plugins/pom.xml
  inlong-agent/pom.xml
  inlong-audit/audit-docker/pom.xml
  inlong-common/pom.xml
  inlong-dashboard/pom.xml
  inlong-dataproxy/dataproxy-docker/pom.xml
  inlong-dataproxy/dataproxy-source/src/test/java/org/apache/inlong/dataproxy/sink/pulsar/federation/TestPulsarProducerFederation.java
  inlong-dataproxy/pom.xml
  inlong-manager/manager-client-tools/pom.xml
  inlong-manager/manager-client/pom.xml
  inlong-manager/manager-dao/pom.xml
  inlong-manager/manager-docker/pom.xml
  inlong-manager/manager-service/pom.xml
  inlong-manager/manager-test/pom.xml
  inlong-manager/manager-test/src/main/java/org/apache/inlong/manager/test/BaseTest.java
  inlong-manager/manager-web/bin/startup.sh
  inlong-manager/manager-web/pom.xml
  inlong-manager/manager-web/src/main/resources/log4j2.xml
  inlong-manager/manager-web/src/main/resources/logback-spring.xml
  inlong-manager/pom.xml
  inlong-sdk/dataproxy-sdk/pom.xml
  inlong-sdk/pom.xml
  inlong-sdk/sdk-common/pom.xml
  inlong-sdk/sort-sdk/pom.xml
  inlong-sort-standalone/pom.xml
  inlong-sort-standalone/sort-standalone-common/pom.xml
  inlong-sort-standalone/sort-standalone-dist/pom.xml
  inlong-sort-standalone/sort-standalone-source/pom.xml
  inlong-sort/pom.xml
  inlong-sort/sort-common/pom.xml
  inlong-sort/sort-connectors/pom.xml
  inlong-sort/sort-core/pom.xml
  inlong-sort/sort-formats/format-inlongmsg-base/pom.xml
  inlong-sort/sort-formats/pom.xml
  inlong-sort/sort-single-tenant/pom.xml
  inlong-tubemq/pom.xml
  inlong-tubemq/tubemq-connectors/pom.xml
  inlong-tubemq/tubemq-docker/pom.xml
  inlong-tubemq/tubemq-docker/tubemq-all/pom.xml
  inlong-tubemq/tubemq-docker/tubemq-build/pom.xml
  inlong-tubemq/tubemq-docker/tubemq-cpp/pom.xml
  inlong-tubemq/tubemq-docker/tubemq-manager/pom.xml
  inlong-tubemq/tubemq-manager/bin/start-manager.sh
  inlong-tubemq/tubemq-manager/conf/log4j2.xml
  inlong-tubemq/tubemq-manager/conf/logback.xml
  inlong-tubemq/tubemq-manager/pom.xml
  inlong-tubemq/tubemq-manager/sql/apache_tube_manager.sql
  inlong-tubemq/tubemq-server/pom.xml
  pom.xml
Labels: inlong-tubemq, inlong-manager, inlong-dataproxy, inlong-dashboard, inlong-agent, inlong-audit, inlong-sort, inlong-sdk

#3630 [INLONG-3621][TubeMQ] Added cluster switching method and delete cluster support to delete master
  inlong-tubemq/tubemq-manager/src/main/java/org/apache/inlong/tubemq/manager/controller/cluster/ClusterController.java
  inlong-tubemq/tubemq-manager/src/main/java/org/apache/inlong/tubemq/manager/controller/cluster/request/SwitchClusterReq.java
  inlong-tubemq/tubemq-manager/src/main/java/org/apache/inlong/tubemq/manager/repository/MasterRepository.java
  inlong-tubemq/tubemq-manager/src/main/java/org/apache/inlong/tubemq/manager/service/ClusterServiceImpl.java
  inlong-tubemq/tubemq-manager/src/main/java/org/apache/inlong/tubemq/manager/service/MasterServiceImpl.java
  inlong-tubemq/tubemq-manager/src/main/java/org/apache/inlong/tubemq/manager/service/TubeConst.java
  inlong-tubemq/tubemq-manager/src/main/java/org/apache/inlong/tubemq/manager/service/interfaces/MasterService.java
Labels: inlong-tubemq

#3643 [INLONG-3642][Manager] Update start script and log configuration
  inlong-manager/manager-test/src/main/resources/application-test.properties
  inlong-manager/manager-web/bin/restart.sh
  inlong-manager/manager-web/bin/shutdown.sh
  inlong-manager/manager-web/bin/startup.sh
  inlong-manager/manager-web/src/main/resources/application.properties
  inlong-manager/manager-web/src/main/resources/log4j2.xml
Labels: inlong-manager

#3646 [INLONG-3489][K8s] Improve documentation in helm chart
  docker/kubernetes/README.md
  docker/kubernetes/templates/NOTES.txt
  docker/kubernetes/values.yaml
Labels: inlong-platform, doc

#3651 [INLONG-3629][Agent] Improve TestFileAgent unit test
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/MiniAgent.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/TestFileAgent.java
Labels: inlong-agent

#3654 [INLONG-3653][Agent] Avoid printing a lot of logs
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/utils/HttpManager.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/HeartbeatManager.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/fetcher/ManagerFetcher.java
Labels: inlong-agent

#3661 [INLONG-3660][Dashboard] Change visible for dataType and dataSeparator
  inlong-dashboard/src/components/AccessHelper/FieldsConfig/dataFields.tsx
  inlong-dashboard/src/components/MetaData/DataSourcesFile.ts
  inlong-dashboard/src/components/MetaData/StorageClickhouse.tsx
Labels: inlong-dashboard

#3664 [INLONG-3650][Agent] Agent fix timeoffset npe
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/pojo/JobProfileDto.java
Labels: inlong-agent

#3663 [INLONG-3662][Manager] Disable ZooKeeper by default and deserialize file source from stream info
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/group/InlongGroupRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/group/InlongGroupResponse.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/thirdparty/sort/util/SerializationUtils.java
Labels: inlong-manager

#3669 [INLONG-3437][Agent] Sort out the LICENSEs of the third-party components
  licenses/inlong-agent/LICENSE
  licenses/inlong-agent/NOTICE
  licenses/inlong-agent/licenses/LICENSE-activation.txt
  licenses/inlong-agent/licenses/LICENSE-antlr-runtime.txt
  licenses/inlong-agent/licenses/LICENSE-argparse4j.txt
  licenses/inlong-agent/licenses/LICENSE-bind-api.txt
  licenses/inlong-agent/licenses/LICENSE-checker-qual.txt
  licenses/inlong-agent/licenses/LICENSE-glassfish.hk2.txt
  licenses/inlong-agent/licenses/LICENSE-jakarta.activation-api.txt
  licenses/inlong-agent/licenses/LICENSE-jakarta.annotation-api.txt
  licenses/inlong-agent/licenses/LICENSE-javax.activation.txt
  licenses/inlong-agent/licenses/LICENSE-javax.servlet-api.txt
  licenses/inlong-agent/licenses/LICENSE-javax.ws.rs-api.txt
  licenses/inlong-agent/licenses/LICENSE-jaxb-api.txt
  licenses/inlong-agent/licenses/LICENSE-jersey.txt
  licenses/inlong-agent/licenses/LICENSE-jetty.txt
  licenses/inlong-agent/licenses/LICENSE-jline.txt
  licenses/inlong-agent/licenses/LICENSE-jsr305.txt
  licenses/inlong-agent/licenses/LICENSE-libthrift.txt
  licenses/inlong-agent/licenses/LICENSE-lombok.txt
  licenses/inlong-agent/licenses/LICENSE-paranamer.txt
  licenses/inlong-agent/licenses/LICENSE-postgresql.txt
  licenses/inlong-agent/licenses/LICENSE-protobuf-java-util.txt
  licenses/inlong-agent/licenses/LICENSE-protobuf-java.txt
  licenses/inlong-agent/licenses/LICENSE-reactive-streams.txt
  licenses/inlong-agent/licenses/LICENSE-reflections.txt
  licenses/inlong-agent/licenses/LICENSE-rs-api.txt
  licenses/inlong-agent/licenses/LICENSE-scala.txt
  licenses/inlong-agent/licenses/LICENSE-slf4j-api.txt
  licenses/inlong-agent/licenses/LICENSE-spring-context.txt
  licenses/inlong-agent/licenses/LICENSE-spring-core.txt
  licenses/inlong-agent/licenses/LICENSE-spring-expression.txt
  licenses/inlong-agent/licenses/LICENSE-spring-jcl.txt
  licenses/inlong-agent/licenses/LICENSE-zstd-jni.txt
  licenses/inlong-agent/notices/NOTICE-bind-api.txt
  licenses/inlong-agent/notices/NOTICE-derby.txt
  licenses/inlong-agent/notices/NOTICE-glassfish.hk2.txt
  licenses/inlong-agent/notices/NOTICE-jakarta.activation-api.txt
  licenses/inlong-agent/notices/NOTICE-jakarta.annotation-api.txt
  licenses/inlong-agent/notices/NOTICE-jersey.txt
  licenses/inlong-agent/notices/NOTICE-netty-all.txt
  licenses/inlong-agent/notices/NOTICE-netty.txt
  licenses/inlong-agent/notices/NOTICE-rs-api.txt
Labels: inlong-agent, improve

#3655 [INLONG-3644][TubeMQ] Upgrade netty version and tidy up other dependencies
  inlong-manager/manager-common/pom.xml
  inlong-manager/manager-service/pom.xml
  inlong-tubemq/bin/env.cmd
  inlong-tubemq/bin/env.sh
  inlong-tubemq/conf/log4j.properties
  inlong-tubemq/conf/log4j2.xml
  inlong-tubemq/conf/master.log4j.properties
  inlong-tubemq/conf/tools.log4j.properties
  inlong-tubemq/pom.xml
  inlong-tubemq/tubemq-client/pom.xml
  inlong-tubemq/tubemq-client/src/main/java/org/apache/inlong/tubemq/client/consumer/RmtDataCache.java
  inlong-tubemq/tubemq-connectors/pom.xml
  inlong-tubemq/tubemq-connectors/tubemq-connector-flink/pom.xml
  inlong-tubemq/tubemq-connectors/tubemq-connector-spark/pom.xml
  inlong-tubemq/tubemq-core/pom.xml
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/utils/AddressUtils.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corerpc/RpcConstants.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corerpc/netty/EventLoopUtil.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corerpc/netty/NettyClient.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corerpc/netty/NettyClientFactory.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corerpc/netty/NettyProtocolDecoder.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corerpc/netty/NettyProtocolEncoder.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corerpc/netty/NettyRequestContext.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corerpc/netty/NettyRpcServer.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corerpc/netty/ReadTimeoutHandler.java
  inlong-tubemq/tubemq-core/src/test/java/org/apache/inlong/tubemq/corerpc/netty/NettyProtocolEncoderTest.java
  inlong-tubemq/tubemq-example/pom.xml
  inlong-tubemq/tubemq-server/pom.xml
  pom.xml
Labels: inlong-tubemq, inlong-manager

#3582 [INLONG-3579][Manager] Add create command for client tools
  inlong-manager/manager-client-tools/pom.xml
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/CommandBase.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/CommandCreate.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/CommandDescribe.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/CommandList.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/CommandUtil.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/CreateGroupConf.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/InlongCommandTool.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/converter/FileConverter.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/util/CharsetAdapter.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/util/DataFormatAdapter.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/util/GsonUtil.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/util/MQBaseConfAdapter.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/util/SeparatorAdapter.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/util/SortBaseConfAdapter.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/util/StreamSinkAdapter.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/util/StreamSourceAdapter.java
Labels: inlong-manager

#3685 [INLONG-3684][Dashboard] Add tooltip for the stream data type
  inlong-dashboard/src/components/AccessHelper/FieldsConfig/dataFields.tsx
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/locales/en.json
Labels: inlong-dashboard

#3687 [INLONG-3686][Manager] Remove the check for the file source param and remove unused classes
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/source/AgentFileSource.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/SourceDbBasicInfo.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/SourceDbDetailInfo.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/SourceDbDetailListVO.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/SourceDbDetailPageRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/SourceFileBasicInfo.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/SourceFileDetailInfo.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/SourceFileDetailListVO.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/SourceFileDetailPageRequest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/file/FileSourceOperation.java
Labels: inlong-manager

#3688 [INLONG-3672][InLong] Tidy up dependencies
  inlong-agent/agent-common/pom.xml
  inlong-agent/agent-plugins/pom.xml
  inlong-agent/pom.xml
  inlong-audit/audit-proxy/pom.xml
  inlong-audit/audit-store/pom.xml
  inlong-audit/pom.xml
  inlong-dataproxy/dataproxy-source/pom.xml
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/http/SimpleHttpSource.java
  inlong-dataproxy/pom.xml
  inlong-manager/manager-web/pom.xml
  inlong-sort-standalone/pom.xml
  inlong-tubemq/pom.xml
  inlong-tubemq/tubemq-client/pom.xml
  pom.xml
Labels: inlong-tubemq, inlong-manager, inlong-dataproxy, inlong-agent, inlong-audit

#3689 [INLONG-3652][Agent] Improve TestBinlogOffsetManager unit test
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/sources/TestBinlogOffsetManager.java
Labels: inlong-agent

#3693 [INLONG-3692][Agent] Refactor the stop logic
  inlong-agent/bin/agent.sh
Labels: inlong-agent

#3696 [INLONG-3695][Maven] Change pulsar client dependencies version to original version
  inlong-agent/agent-plugins/pom.xml
  inlong-audit/audit-proxy/pom.xml
  inlong-audit/audit-store/pom.xml
  inlong-audit/audit-store/src/test/java/org/apache/inlong/audit/service/consume/PulsarConsumeTest.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/holder/CommonPropertiesHolder.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/loader/ContextCacheClusterConfigLoader.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/pojo/ThirdPartyClusterConfig.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/SimpleMessageTubeSink.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/TubeSink.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/pulsar/federation/PulsarFederationWorker.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/pulsar/federation/PulsarProducerCluster.java
  inlong-dataproxy/pom.xml
  inlong-manager/manager-common/pom.xml
  inlong-manager/manager-plugins/pom.xml
  inlong-manager/manager-service/pom.xml
  inlong-sdk/sort-sdk/pom.xml
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/impl/pulsar/InLongPulsarFetcherImpl.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/impl/tube/InLongTubeFetcherImpl.java
  inlong-sort-standalone/pom.xml
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/kafka/KafkaFederationWorker.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/kafka/KafkaProducerCluster.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/pulsar/PulsarFederationWorker.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/pulsar/PulsarProducerCluster.java
  inlong-sort/sort-connectors/pom.xml
  pom.xml
Labels: inlong-manager, inlong-dataproxy, inlong-agent, inlong-audit, inlong-sort, inlong-sdk

#3694 [INLONG-3683][Manager] Add AUTO_PUSH source stream in Manager
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/source/AutoPushSource.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/util/InlongParser.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/util/InlongStreamSourceTransfer.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/SourceType.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/autopush/AutoPushSourceDTO.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/autopush/AutoPushSourceListResponse.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/autopush/AutoPushSourceRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/autopush/AutoPushSourceResponse.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/CommonOperateService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/autopush/AutoPushSourceOperation.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/thirdparty/sort/util/SerializationUtils.java
Labels: inlong-manager

#3702 [INLONG-3701][Manager] Decrease the size of manager client tools
  inlong-manager/manager-client-tools/pom.xml
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/CommandToolMain.java
  inlong-manager/manager-client-tools/src/test/java/org/apache/inlong/manager/client/cli/TestCommand.java
  inlong-manager/manager-web/bin/managerctl
Labels: inlong-manager

#3700 [INLONG-3699][Agent] Exclude mysql-connector-java
  inlong-agent/agent-plugins/pom.xml
Labels: inlong-agent

#3705 [INLONG-3704][Manager] Change the log level for status report
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/AgentServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/SourceSnapshotOperation.java
Labels: inlong-manager

#3706 Revert "[INLONG-3695][Maven] Change pulsar client dependencies version to original version"
  inlong-agent/agent-plugins/pom.xml
  inlong-audit/audit-proxy/pom.xml
  inlong-audit/audit-store/pom.xml
  inlong-audit/audit-store/src/test/java/org/apache/inlong/audit/service/consume/PulsarConsumeTest.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/holder/CommonPropertiesHolder.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/loader/ContextCacheClusterConfigLoader.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/pojo/ThirdPartyClusterConfig.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/SimpleMessageTubeSink.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/TubeSink.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/pulsar/federation/PulsarFederationWorker.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/pulsar/federation/PulsarProducerCluster.java
  inlong-dataproxy/pom.xml
  inlong-manager/manager-common/pom.xml
  inlong-manager/manager-plugins/pom.xml
  inlong-manager/manager-service/pom.xml
  inlong-sdk/sort-sdk/pom.xml
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/impl/pulsar/InLongPulsarFetcherImpl.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/impl/tube/InLongTubeFetcherImpl.java
  inlong-sort-standalone/pom.xml
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/kafka/KafkaFederationWorker.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/kafka/KafkaProducerCluster.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/pulsar/PulsarFederationWorker.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/pulsar/PulsarProducerCluster.java
  inlong-sort/sort-connectors/pom.xml
  pom.xml
Labels: inlong-manager, inlong-dataproxy, inlong-agent, inlong-audit, inlong-sort, inlong-sdk

#3709 [INLONG-3708][Manager] Make the built package under windows can run
  bin/inlong-daemon
  inlong-agent/agent-release/assembly.xml
  inlong-audit/audit-release/assembly.xml
  inlong-dataproxy/dataproxy-dist/src/main/assembly/assembly.xml
  inlong-distribution/distribution.xml
  inlong-manager/manager-web/assembly.xml
  inlong-sort/sort-connectors/pom.xml
  inlong-sort/sort-single-tenant/pom.xml
  inlong-tubemq/tubemq-server/src/main/assembly/assembly.xml
Labels: inlong-tubemq, inlong-manager, inlong-dataproxy, inlong-agent, inlong-audit, inlong-sort

#3711 [INLONG-3710][Manager] Update the import package for ObjectMapper
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/source/AutoPushSource.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/util/InlongParser.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/autopush/AutoPushSourceDTO.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/autopush/AutoPushSourceListResponse.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/autopush/AutoPushSourceRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/autopush/AutoPushSourceResponse.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/autopush/AutoPushSourceOperation.java
  inlong-manager/manager-test/src/main/resources/sql/apache_inlong_manager.sql
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
Labels: inlong-manager

#3713 [INLONG-3712][Manager] Exclude validation-api to solve the dependency conflict
  inlong-manager/manager-common/pom.xml
  inlong-manager/manager-web/pom.xml
Labels: inlong-manager

#3722 [INLONG-3721][Dashboard] Submit data when source is AUTO_PUSH
  inlong-dashboard/src/pages/AccessCreate/DataStream/helper.ts
Labels: inlong-dashboard

#3724 [INLONG-3720][Manager] Update log4j2 configuration to make the log more readable
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/repository/DataProxyConfigRepository.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/SourceSnapshotOperation.java
  inlong-manager/manager-web/src/main/resources/application-dev.properties
  inlong-manager/manager-web/src/main/resources/log4j2.xml
Labels: inlong-manager

#3725 [INLONG-3718][Audit] ByteBuf release has leaks
  inlong-audit/audit-sdk/src/main/java/org/apache/inlong/audit/send/SenderHandler.java
  inlong-audit/audit-sdk/src/main/java/org/apache/inlong/audit/send/SenderManager.java
  inlong-audit/audit-sdk/src/main/java/org/apache/inlong/audit/util/Decoder.java
Labels: inlong-audit

#3726 [INLONG-3679][Manager] Optimize managerctl result display
  inlong-manager/manager-client-tools/pom.xml
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/CommandDescribe.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/CommandList.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/CommandUtil.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/pojo/GroupInfo.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/pojo/SinkInfo.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/pojo/SourceInfo.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/pojo/StreamInfo.java
Labels: inlong-manager

#3730 [INLONG-3729][Manager] Remove unused hadoop dependency
  inlong-manager/manager-service/pom.xml
Labels: inlong-manager

#3715 [INLONG-3681][Manager] Add an initialize database step in Docker container
  docker/kubernetes/templates/manager-statefulset.yaml
  inlong-manager/manager-docker/Dockerfile
  inlong-manager/manager-docker/manager-docker.sh
Labels: inlong-manager, inlong-platform

#3735 [INLONG-3734][Audit] Add an initialize database step in Docker container
  docker/kubernetes/templates/audit-statefulset.yaml
  inlong-audit/audit-docker/Dockerfile
  inlong-audit/audit-docker/audit-docker.sh
Labels: inlong-platform, inlong-audit

#3739 [INLONG-3731][Manager] Abstract state and optimization printUtil
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/CommandDescribe.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/CommandList.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/CommandUtil.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/enums/InlongGroupState.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/util/PrintUtil.java
Labels: inlong-manager

#3741 [INLONG-3737][Manager] Workflow should fail when the plugin occurred exception
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/util/JsonUtils.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/flink/FlinkOperation.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/flink/FlinkService.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/flink/IntegrationTaskRunner.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/flink/ManagerFlinkTask.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/flink/dto/JarEntryInfo.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/flink/dto/JarRunRequest.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/flink/dto/LoginConf.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/flink/dto/StopWithSavepointRequest.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/flink/enums/BusinessExceptionDesc.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/flink/enums/Constants.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/listener/DeleteSortListener.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/listener/RestartSortListener.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/listener/StartupSortListener.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/listener/SuspendSortListener.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/util/FlinkConfiguration.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/util/FlinkUtils.java
  inlong-manager/manager-plugins/src/test/java/org/apache/inlong/manager/plugin/listener/DeleteSortListenerTest.java
  inlong-manager/manager-workflow/src/main/java/org/apache/inlong/manager/workflow/util/WorkflowFormParserUtils.java
Labels: inlong-manager

#3742 [INLONG-3737][Manager] Workflow should fail when the plugin occurred exception
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/util/JsonUtils.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/flink/FlinkOperation.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/flink/FlinkService.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/flink/IntegrationTaskRunner.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/flink/ManagerFlinkTask.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/flink/dto/JarEntryInfo.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/flink/dto/JarRunRequest.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/flink/dto/LoginConf.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/flink/dto/StopWithSavepointRequest.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/flink/enums/BusinessExceptionDesc.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/flink/enums/Constants.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/listener/DeleteSortListener.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/listener/RestartSortListener.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/listener/StartupSortListener.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/listener/SuspendSortListener.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/util/FlinkConfiguration.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/util/FlinkUtils.java
  inlong-manager/manager-plugins/src/test/java/org/apache/inlong/manager/plugin/listener/DeleteSortListenerTest.java
  inlong-manager/manager-workflow/src/main/java/org/apache/inlong/manager/workflow/util/WorkflowFormParserUtils.java
Labels: inlong-manager

#3714 [INLONG-3667][Sort-Standalone] [Feature] Sort-Standalone add manageable entry to stop cache consumer before node offline or upgrade
  inlong-common/src/main/java/org/apache/inlong/common/metric/MetricRegister.java
  inlong-sdk/sdk-common/src/main/java/org/apache/inlong/sdk/commons/admin/AbstractAdminEventHandler.java
  inlong-sdk/sdk-common/src/main/java/org/apache/inlong/sdk/commons/admin/AdminEventHandler.java
  inlong-sdk/sdk-common/src/main/java/org/apache/inlong/sdk/commons/admin/AdminHttpSource.java
  inlong-sdk/sdk-common/src/main/java/org/apache/inlong/sdk/commons/admin/AdminHttpSourceHandler.java
  inlong-sdk/sdk-common/src/main/java/org/apache/inlong/sdk/commons/admin/AdminJsonHandler.java
  inlong-sdk/sdk-common/src/main/java/org/apache/inlong/sdk/commons/admin/AdminServiceRegister.java
  inlong-sdk/sdk-common/src/main/java/org/apache/inlong/sdk/commons/admin/AdminTask.java
  inlong-sdk/sdk-common/src/main/java/org/apache/inlong/sdk/commons/admin/PropertiesConfigurationProvider.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/impl/pulsar/InLongPulsarFetcherImpl.java
  inlong-sort-standalone/bin/sort-stop.sh
  inlong-sort-standalone/conf/common.properties
  inlong-sort-standalone/conf/es/common.properties
  inlong-sort-standalone/conf/hive/common.properties
  inlong-sort-standalone/pom.xml
  inlong-sort-standalone/sort-standalone-common/src/test/java/org/apache/inlong/sort/standalone/metrics/TestMetricListenerRunnable.java
  inlong-sort-standalone/sort-standalone-common/src/test/java/org/apache/inlong/sort/standalone/metrics/TestSortMetricItemSet.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/SortCluster.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/SortStandaloneApplication.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/admin/ConsumerServiceAdminEventHandler.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/admin/ConsumerServiceMBean.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/channel/BufferQueueChannel.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/channel/CacheMessageRecord.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/channel/ProfileEvent.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/dispatch/DispatchProfile.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/cls/ClsCallback.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/cls/ClsChannelWorker.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/elasticsearch/EsCallbackListener.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/elasticsearch/EsChannelWorker.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/hive/HiveSink.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/hive/WriteHdfsFileRunnable.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/kafka/KafkaFederationSinkContext.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/kafka/KafkaFederationWorker.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/kafka/KafkaProducerCluster.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/kafka/KafkaProducerFederation.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/pulsar/PulsarFederationSinkContext.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/pulsar/PulsarFederationWorker.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/pulsar/PulsarProducerCluster.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/pulsar/PulsarProducerFederation.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/source/sortsdk/FetchCallback.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/source/sortsdk/SortSdkSource.java
  inlong-sort-standalone/sort-standalone-source/src/test/java/org/apache/inlong/sort/standalone/sink/cls/TestDefaultEvent2LogItemHandler.java
  inlong-sort-standalone/sort-standalone-source/src/test/java/org/apache/inlong/sort/standalone/sink/elasticsearch/TestEsSinkContext.java
  inlong-sort-standalone/sort-standalone-source/src/test/java/org/apache/inlong/sort/standalone/source/sortsdk/TestSortSdkSource.java
Labels: inlong-sdk

#3747 [INLONG-3743][Manager] Update status of InlongGroup after workflow ended
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/InlongGroupServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/thirdparty/sort/CreateSortConfigListener.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/impl/InlongGroupProcessOperationTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/source/listener/DataSourceListenerTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/thirdparty/sort/DisableZkForSortTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/workflow/WorkflowServiceImplTest.java
Labels: inlong-manager

#3746 [INLONG-3743][Manager] Update status of InlongGroup after workflow ended
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/InlongGroupServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/thirdparty/sort/CreateSortConfigListener.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/impl/InlongGroupProcessOperationTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/source/listener/DataSourceListenerTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/thirdparty/sort/DisableZkForSortTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/workflow/WorkflowServiceImplTest.java
Labels: inlong-manager

#3752 [INLONG-3751][Manager] Add configuration for plugins to support metrics
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/flink/FlinkService.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/flink/dto/FlinkConfig.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/flink/enums/Constants.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/util/FlinkConfiguration.java
  inlong-manager/manager-plugins/src/main/resources/flink-sort-plugin.properties
Labels: inlong-manager

#3754 [INLONG-3753][Manager] Add configuration for plugins to support metrics
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/flink/FlinkService.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/flink/IntegrationTaskRunner.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/flink/dto/FlinkConfig.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/flink/enums/Constants.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/util/FlinkConfiguration.java
  inlong-manager/manager-plugins/src/main/resources/flink-sort-plugin.properties
Labels: inlong-manager

#3755 [INLONG-3753][Manager] Add configuration item of drain
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/flink/FlinkService.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/flink/IntegrationTaskRunner.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/flink/dto/FlinkConfig.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/flink/enums/Constants.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/util/FlinkConfiguration.java
  inlong-manager/manager-plugins/src/main/resources/flink-sort-plugin.properties
Labels: inlong-manager

#3757 [INLONG-3756][Sort] Fix the unreported exception X
  inlong-sort/sort-formats/format-json/src/main/java/org/apache/inlong/sort/formats/json/canal/CanalJsonDecodingFormat.java
  inlong-sort/sort-formats/format-json/src/main/java/org/apache/inlong/sort/formats/json/debezium/DebeziumJsonDecodingFormat.java
Labels: inlong-sort

#3758 [INLONG-3756][Sort] Fix the unreported exception X
  inlong-sort/sort-formats/format-json/src/main/java/org/apache/inlong/sort/formats/json/canal/CanalJsonDecodingFormat.java
  inlong-sort/sort-formats/format-json/src/main/java/org/apache/inlong/sort/formats/json/debezium/DebeziumJsonDecodingFormat.java
Labels: inlong-sort

#3762 [INLONG-3761][Manager] Sleep 5 seconds when Flink job was not running
  inlong-manager/manager-dao/pom.xml
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/flink/FlinkOperation.java
Labels: inlong-manager

#3764 [INLONG-3763][TubeMQ] Unit test of MessageFetchManagerTest failed
  inlong-tubemq/tubemq-client/src/test/java/org/apache/inlong/tubemq/client/consumer/MessageFetchManagerTest.java
  inlong-tubemq/tubemq-client/src/test/java/org/apache/inlong/tubemq/client/factory/TubeBaseSessionFactoryTest.java
  inlong-tubemq/tubemq-client/src/test/java/org/apache/inlong/tubemq/client/factory/TubeMultiSessionFactoryTest.java
  inlong-tubemq/tubemq-client/src/test/java/org/apache/inlong/tubemq/client/factory/TubeSingleSessionFactoryTest.java
  inlong-tubemq/tubemq-client/src/test/java/org/apache/inlong/tubemq/client/producer/RoundRobinPartitionRouterTest.java
  inlong-tubemq/tubemq-connectors/tubemq-connector-flume/src/test/java/org/apache/flume/sink/tubemq/TestTubemqSink.java
Labels: inlong-tubemq, bug

#3766 [INLONG-3765][Audit] Fix audit-proxy TubeSinkTest ut
  inlong-audit/audit-proxy/src/test/java/org/apache/inlong/audit/sink/TubeSinkTest.java
Labels: inlong-audit

#3770 [INLONG-3769][Manager] Fix the bug of failing to run list group
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/CommandList.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/enums/InlongGroupState.java
Labels: inlong-manager

#3781 [INLONG-3780][CVE] upgrade postgresql due to cve
  pom.xml
Labels: dependencies

#3784 [INLONG-3778][Sort] FieldInfo enhanced to support transform
  inlong-sort/sort-common/pom.xml
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/BuiltInFieldInfo.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/FieldInfo.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/transformation/FunctionParam.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/BuiltInFieldInfoTest.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/FieldInfoTest.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/kafka/KafkaSinkInfoTest.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/transformation/FieldMappingRuleTest.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/transformation/TransformationInfoTest.java
Labels: inlong-sort

#3783 [INLONG-3782][Manager] Improve the log configuration
  inlong-manager/manager-web/src/main/resources/application-dev.properties
  inlong-manager/manager-web/src/main/resources/application-prod.properties
  inlong-manager/manager-web/src/main/resources/application-test.properties
  inlong-manager/manager-web/src/main/resources/log4j2.xml
Labels: inlong-manager

#3792 [INLONG-3786][Sort] Add Operator interface and derived interface definitions to support transform
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/transformation/CompareOperator.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/transformation/LogicOperator.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/transformation/MultiValueCompareOperator.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/transformation/Operator.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/transformation/SingleValueCompareOperator.java
Labels: inlong-sort

#3797 [INLONG-3790][Sort] Add FieldRelationShip definition to support transform
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/transformation/FieldRelationShip.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/transformation/FieldRelationShipTest.java
Labels: inlong-sort

#3798 [INLONG-3789][Sort] Add NodeRelationShip definition to support transform
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/transformation/relation/NodeRelationShip.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/transformation/relation/NodeRelationTest.java
Labels: inlong-sort

#3804 [INLONG-3787][Sort] Add Function interface and derived interface definitions to support transform
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/transformation/FilterFunction.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/transformation/Function.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/transformation/GroupTimeWindowFunction.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/transformation/TimeWindowFunction.java
Labels: feature, inlong-sort

#3854 [INLONG-3853][Audit] fix the docker images script bug
  inlong-audit/audit-docker/audit-docker.sh
Labels: inlong-audit

#3852 [INLONG-3851][Dashboard] Unify the naming of data streams
  inlong-dashboard/src/pages/AccessCreate/index.tsx
  inlong-dashboard/src/pages/AccessDetail/index.tsx
Labels: inlong-dashboard

#3850 [INLONG-3827][Sort] Add functions definition to support transform
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/transformation/FilterFunction.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/transformation/Function.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/transformation/FunctionParam.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/transformation/GroupTimeWindowFunction.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/transformation/TimeWindowFunction.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/transformation/function/HopEndFunction.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/transformation/function/HopFunction.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/transformation/function/HopStartFunction.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/transformation/function/MultiValueFilterFunction.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/transformation/function/SessionEndFunction.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/transformation/function/SessionFunction.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/transformation/function/SessionStartFunction.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/transformation/function/SingleValueFilterFunction.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/transformation/function/TumbleEndFunction.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/transformation/function/TumbleFunction.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/transformation/function/TumbleStartFunction.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/transformation/function/FunctionBaseTest.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/transformation/function/HopEndFunctionTest.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/transformation/function/HopFunctionTest.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/transformation/function/HopStartFunctionTest.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/transformation/function/MultiValueFilterFunctionTest.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/transformation/function/SessionEndFunctionTest.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/transformation/function/SessionFunctionTest.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/transformation/function/SessionStartFunctionTest.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/transformation/function/SingleValueFilterFunctionTest.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/transformation/function/TumbleEndFunctionTest.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/transformation/function/TumbleFunctionTest.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/transformation/function/TumbleStartFunctionTest.java
Labels: inlong-sort

#3857 [INLONG-3788][Sort] Add Node interface and derived interface definitions to support transform
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/ExtractNode.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/LoadNode.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/Node.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/extract/MySqlExtractNode.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/load/KafkaLoadNode.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/transform/TransformNode.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/node/KafkaLoadNodeTest.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/node/MySqlExtractNodeTest.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/node/NodeBaseTest.java
Labels: inlong-sort

#3859 [INLONG-3858][Manager] The other admin role can not list all inlong group info and stream info
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/stream/InlongStreamPageRequest.java
  inlong-manager/manager-dao/src/main/resources/mappers/InlongGroupEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/InlongStreamEntityMapper.xml
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/InlongStreamController.java
Labels: inlong-manager

#3862 [INLONG-3800][Sort] Add GroupInfo and StreamInfo definition to support transform
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/GroupInfo.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/StreamInfo.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/LoadNode.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/transform/TransformNode.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/GroupInfoTest.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/StreamInfoTest.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/node/KafkaLoadNodeTest.java
Labels: inlong-sort

#3865 [INLONG-3860][Sort] Add json(avro/debezium-json/canal-json) format for ExtractNode and LoadNode
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/format/AvroFormat.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/format/CanalJsonFormat.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/format/DebeziumJsonFormat.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/format/Format.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/format/JsonFormat.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/load/KafkaLoadNode.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/GroupInfoTest.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/StreamInfoTest.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/node/KafkaLoadNodeTest.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/node/format/AvroFormatTest.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/node/format/CanalJsonFormatTest.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/node/format/DebeziumJsonFormatTest.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/node/format/FormatBaseTest.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/node/format/JsonFormatTest.java
Labels: inlong-sort

#3877 [INLONG-3876][Manager] Fix the managerctl argument parsing bug
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/CommandToolMain.java
Labels: inlong-manager

#3870 [INLONG-3869][TubeMQ] Remove hibernete dependency for tube manager
  inlong-tubemq/tubemq-manager/pom.xml
Labels: inlong-tubemq

#3881 [INLONG-3879][Manager] Update status enum for group, stream, source, and sink
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/enums/InlongGroupState.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/InlongGroupContext.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/StreamSource.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/InlongGroupImpl.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/Constant.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/EntityStatus.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/GlobalConstants.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/GroupStatus.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/SinkStatus.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/SourceStatus.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/StreamStatus.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/CommonOperateService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/AgentServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/CommonDBServerServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/CommonFileServerServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/ConsumptionServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/InlongGroupProcessOperation.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/InlongGroupServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/InlongStreamServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/ThirdPartyClusterServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/WorkflowApproverServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/hive/DefaultHiveTableOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/StreamSinkServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/ck/ClickHouseSinkOperation.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/hive/HiveSinkOperation.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/iceberg/IcebergSinkOperation.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/kafka/KafkaSinkOperation.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/AbstractSourceOperation.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/SourceSnapshotOperation.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/StreamSourceServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/listener/AbstractSourceOperateListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/group/listener/GroupCancelProcessListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/group/listener/GroupCompleteProcessListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/group/listener/GroupFailedProcessListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/group/listener/GroupPassTaskListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/group/listener/GroupRejectProcessListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/group/listener/InitGroupListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/group/listener/UpdateGroupCompleteListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/group/listener/UpdateGroupFailedListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/group/listener/UpdateGroupListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/stream/StreamCompleteProcessListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/stream/StreamFailedProcessListener.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/impl/InlongGroupProcessOperationTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/impl/InlongGroupServiceTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/sink/ClickHouseStreamSinkServiceTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/sink/HiveStreamSinkServiceTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/sink/IcebergStreamSinkServiceTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/sink/KafkaStreamSinkServiceTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/sort/DisableZkForSortTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/source/listener/DataSourceListenerTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/workflow/WorkflowServiceImplTest.java
Labels: inlong-manager

#3873 [INLONG-3868][Sort] Support data from MySQL binlog to Kafka
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/load/KafkaLoadNode.java
  inlong-sort/sort-single-tenant/pom.xml
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/parser/Parser.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/parser/impl/FlinkSqlParser.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/parser/result/FlinkSqlParseResult.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/parser/result/ParseResult.java
  inlong-sort/sort-single-tenant/src/test/java/org/apache/inlong/sort/singletenant/flink/parser/FlinkSqlParserTest.java
  licenses/inlong-sort/LICENSE
  licenses/inlong-sort/NOTICE
  licenses/inlong-sort/licenses/LICENSE-flink-connector-mysql-cdc.txt
  licenses/inlong-sort/notices/NOTICE-flink-table-planner-blink_2.11.txt
  pom.xml
Labels: inlong-sort

#3880 [INLONG-3504][POM] Keep jackson versions consistent
  pom.xml
Labels: dependencies

#3896 [INLONG-3895][Audit] Fix the audit store startup script error
  inlong-audit/bin/store-start.sh
Labels: inlong-audit

#3886 [INLONG-3884][Sort] Add CSV format for ExtractNode and LoadNode
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/format/AvroFormat.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/format/CsvFormat.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/format/Format.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/format/JsonFormat.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/load/KafkaLoadNode.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/node/format/CsvFormatTest.java
  inlong-sort/sort-single-tenant/pom.xml
  licenses/inlong-sort/LICENSE
  licenses/inlong-sort/NOTICE
  pom.xml
Labels: inlong-sort

#3894 [INLONG-3893][Sort] Add string delimiting support for transform
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/transformation/Function.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/transformation/FunctionParam.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/transformation/function/SplitIndexFunction.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/transformation/function/SplitIndexFunctionTest.java
  inlong-sort/sort-single-tenant/src/test/java/org/apache/inlong/sort/singletenant/flink/function/SplitIndexFunctionTest.java
Labels: inlong-sort

#3900 [INLONG-3899][Sort] Add string regexp replace support for transform
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/transformation/Function.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/transformation/FunctionParam.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/transformation/function/RegexpReplaceFirstFunction.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/transformation/function/RegexpReplaceFunction.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/transformation/function/RegexpReplaceFirstFunctionTest.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/transformation/function/RegexpReplaceFunctionTest.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/function/RegexpReplaceFirstFunction.java
  inlong-sort/sort-single-tenant/src/test/java/org/apache/inlong/sort/singletenant/flink/function/RegexpReplaceFirstFunctionTest.java
  inlong-sort/sort-single-tenant/src/test/java/org/apache/inlong/sort/singletenant/flink/function/RegexpReplaceFunctionTest.java
Labels: inlong-sort

#3901 [INLONG-3885][Sort] Add KafkaExtractNode supporting
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/constant/KafkaConstant.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/enums/ScanStartupMode.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/ExtractNode.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/Node.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/extract/KafkaExtractNode.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/node/NodeBaseTest.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/node/extract/KafkaExtractNodeTest.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/node/extract/MySqlExtractNodeTest.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/node/load/KafkaLoadNodeTest.java
Labels: feature, inlong-sort

#3903 [INLONG-3839][Sort] Add cascade function support for transform
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/transformation/CascadeFunction.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/transformation/function/CascadeFunctionWrapper.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/transformation/function/RegexpReplaceFirstFunction.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/transformation/function/RegexpReplaceFunction.java
  inlong-sort/sort-single-tenant/src/test/java/org/apache/inlong/sort/singletenant/flink/function/CascadeFunctionWrapperTest.java
Labels: inlong-sort

#3902 [INLONG-3773][Sort-Standalone] Support configurable handler to transform data of Kafka
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/api/SortClientConfig.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/impl/QueryConsumeConfigImpl.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/impl/pulsar/InLongPulsarFetcherImpl.java
  inlong-sort-standalone/bin/sort-stop.sh
  inlong-sort-standalone/pom.xml
  inlong-sort-standalone/sort-standalone-common/src/main/java/org/apache/inlong/sort/standalone/config/holder/SortClusterConfigHolder.java
  inlong-sort-standalone/sort-standalone-common/src/main/java/org/apache/inlong/sort/standalone/config/loader/ClassResourceQueryConsumeConfig.java
  inlong-sort-standalone/sort-standalone-common/src/main/java/org/apache/inlong/sort/standalone/config/loader/ClassResourceSortClusterConfigLoader.java
  inlong-sort-standalone/sort-standalone-common/src/main/java/org/apache/inlong/sort/standalone/config/loader/ManagerSortClusterConfigLoader.java
  inlong-sort-standalone/sort-standalone-common/src/main/java/org/apache/inlong/sort/standalone/metrics/MetricListenerRunnable.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/cls/ClsSinkContext.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/elasticsearch/EsChannelWorker.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/elasticsearch/EsSinkContext.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/hive/HiveSink.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/hive/HiveSinkContext.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/kafka/DefaultEvent2KafkaRecordHandler.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/kafka/IEvent2KafkaRecordHandler.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/kafka/KafkaFederationSinkContext.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/kafka/KafkaIdConfig.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/kafka/KafkaProducerCluster.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/kafka/KafkaProducerFederation.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/pulsar/DefaultEvent2PulsarRecordHandler.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/pulsar/IEvent2PulsarRecordHandler.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/pulsar/PulsarFederationSinkContext.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/pulsar/PulsarIdConfig.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/pulsar/PulsarProducerCluster.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/pulsar/PulsarProducerFederation.java
  inlong-sort-standalone/sort-standalone-source/src/test/java/org/apache/inlong/sort/standalone/sink/elasticsearch/TestEsCallbackListener.java
  inlong-sort-standalone/sort-standalone-source/src/test/java/org/apache/inlong/sort/standalone/sink/elasticsearch/TestEsOutputChannel.java
Labels: inlong-sdk

#3916 [INLOG-3915][Manager] Fix missing entity delete flag assignment
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/InlongStreamServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/ThirdPartyClusterServiceImpl.java
Labels: inlong-manager

#3872 [INLONG-3861][Manager] Facilitating the expansion of tube, pulsar, or other message middleware
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/InlongGroupServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/mq/Middleware.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/mq/MiddlewareFactory.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/mq/PulsarMiddleware.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/mq/TDMQPulsarMiddleware.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/mq/TubeMiddleware.java
Labels: inlong-manager

#3842 [INLONG-3841][Sort] Add distinct support based time column for transform
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/BuiltInFieldInfo.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/Node.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/transform/DistinctNode.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/transform/TransformNode.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/transformation/OrderDirection.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/node/transform/DistinctNodeTest.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/parser/impl/FlinkSqlParser.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/parser/result/FlinkSqlParseResult.java
  inlong-sort/sort-single-tenant/src/test/java/org/apache/inlong/sort/singletenant/flink/parser/DistinctNodeSqlParseTest.java
Labels: inlong-sort

#3931 [INLONG-3930][Doc] Add more deployment and development guides in Readme
  README.md
Labels: doc

#3927 [INLONG-3920][Manager] Add primary key in Binlog source
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/source/KafkaSource.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/source/MySQLBinlogSource.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/util/InlongStreamSourceTransfer.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/binlog/BinlogSourceDTO.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/binlog/BinlogSourceListResponse.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/binlog/BinlogSourceRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/binlog/BinlogSourceResponse.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/kafka/KafkaOffset.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sort/util/ExtractNodeUtils.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sort/util/TransformNodeUtils.java
Labels: inlong-manager

#3932 [INLONG-3898][Docker] Fix log paths of Agent, Audit, DataProxy and TubeMQ Manager containers
  inlong-agent/agent-docker/agent-docker.sh
  inlong-audit/audit-docker/audit-docker.sh
  inlong-dataproxy/dataproxy-docker/dataproxy-docker.sh
  inlong-tubemq/tubemq-docker/tubemq-manager/manager-docker.sh
Labels: inlong-tubemq, inlong-dataproxy, inlong-agent, inlong-audit

#3939 [INLONG-3938][Dashboard] Remove module cache and update dependency
  .github/workflows/ci_build.yml
  inlong-dashboard/pom.xml
Labels: inlong-dashboard

#3934 [INLONG-3836][Sort] Add join support for transform
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/parser/impl/FlinkSqlParser.java
  inlong-sort/sort-single-tenant/src/test/java/org/apache/inlong/sort/singletenant/flink/parser/FullOuterJoinSqlParseTest.java
  inlong-sort/sort-single-tenant/src/test/java/org/apache/inlong/sort/singletenant/flink/parser/InnerJoinRelationShipSqlParseTest.java
  inlong-sort/sort-single-tenant/src/test/java/org/apache/inlong/sort/singletenant/flink/parser/LeftOuterJoinSqlParseTest.java
  inlong-sort/sort-single-tenant/src/test/java/org/apache/inlong/sort/singletenant/flink/parser/RightOuterJoinSqlParseTest.java
Labels: inlong-sort

#3925 [INLONG-3829][Sort] Optimize the sort entrance program to support lightweight
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/configuration/Constants.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/Entrance.java
Labels: inlong-sort

#3941 [INLONG-3921][Manager] Add primary key in Kafka source
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/sink/KafkaSink.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/util/InlongStreamSinkTransfer.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/kafka/KafkaSinkDTO.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/kafka/KafkaSinkListResponse.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/kafka/KafkaSinkRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/kafka/KafkaSinkResponse.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sort/util/LoadNodeUtils.java
Labels: inlong-manager

#3944 [INLONG-3935][Audit][DataProxy] Remove dependency of testng
  inlong-audit/audit-proxy/src/test/java/org/apache/inlong/audit/sink/PulsarSinkTest.java
  inlong-audit/audit-proxy/src/test/java/org/apache/inlong/audit/sink/TubeSinkTest.java
  inlong-audit/audit-store/src/test/java/org/apache/inlong/audit/service/ElasticsearchServiceTest.java
  inlong-audit/audit-store/src/test/java/org/apache/inlong/audit/service/consume/PulsarConsumeTest.java
  inlong-audit/pom.xml
  inlong-dataproxy/dataproxy-source/src/test/java/org/apache/inlong/dataproxy/config/loader/TestThirdPartyClusterConfigLoader.java
  inlong-dataproxy/dataproxy-source/src/test/java/org/apache/inlong/dataproxy/sink/TestPulsarSink.java
  inlong-dataproxy/dataproxy-source/src/test/java/org/apache/inlong/dataproxy/source/UdpSourceTest.java
  inlong-dataproxy/pom.xml
  pom.xml
Labels: inlong-dataproxy, inlong-audit

#3926 [INLONG-3924][Sort] Add mysql cdc, support multiple meta data
  inlong-sort/sort-single-tenant/pom.xml
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/cdc/debezium/DebeziumDeserializationSchema.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/cdc/debezium/DebeziumSourceFunction.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/cdc/debezium/JsonDebeziumDeserializationSchema.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/cdc/debezium/StringDebeziumDeserializationSchema.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/cdc/debezium/Validator.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/cdc/debezium/history/FlinkJsonTableChangeSerializer.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/cdc/debezium/internal/DebeziumChangeConsumer.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/cdc/debezium/internal/DebeziumChangeFetcher.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/cdc/debezium/internal/DebeziumOffset.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/cdc/debezium/internal/DebeziumOffsetSerializer.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/cdc/debezium/internal/FlinkDatabaseHistory.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/cdc/debezium/internal/FlinkDatabaseSchemaHistory.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/cdc/debezium/internal/FlinkOffsetBackingStore.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/cdc/debezium/internal/Handover.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/cdc/debezium/internal/SchemaRecord.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/cdc/debezium/table/AppendMetadataCollector.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/cdc/debezium/table/DebeziumOptions.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/cdc/debezium/table/DeserializationRuntimeConverter.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/cdc/debezium/table/DeserializationRuntimeConverterFactory.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/cdc/debezium/table/MetadataConverter.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/cdc/debezium/table/RowDataDebeziumDeserializeSchema.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/cdc/debezium/utils/DatabaseHistoryUtil.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/cdc/debezium/utils/TemporalConversions.java
  pom.xml
Labels: inlong-sort

#3871 [INLONG-3856][Manager] Add heartbeat common report handler
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/ErrorCodeEnum.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/heartbeat/ComponentHeartbeat.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/heartbeat/ComponentHeartbeatPageRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/heartbeat/ComponentHeartbeatRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/heartbeat/ComponentHeartbeatResponse.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/heartbeat/GroupHeartbeat.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/heartbeat/GroupHeartbeatPageRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/heartbeat/GroupHeartbeatRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/heartbeat/GroupHeartbeatResponse.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/heartbeat/HeartbeatReportRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/heartbeat/StreamHeartbeat.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/heartbeat/StreamHeartbeatPageRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/heartbeat/StreamHeartbeatRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/heartbeat/StreamHeartbeatResponse.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/ComponentHeartbeatEntity.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/ComponentHeartbeatEntityWithBLOBs.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/GroupHeartbeatEntity.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/GroupHeartbeatEntityWithBLOBs.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/StreamHeartbeatEntity.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/StreamHeartbeatEntityWithBLOBs.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/ComponentHeartbeatEntityMapper.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/GroupHeartbeatEntityMapper.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/StreamHeartbeatEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/generatorConfig.xml
  inlong-manager/manager-dao/src/main/resources/mappers/ComponentHeartbeatEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/GroupHeartbeatEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/StreamHeartbeatEntityMapper.xml
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/HeartbeatService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/HeartbeatServiceImpl.java
  inlong-manager/manager-test/pom.xml
  inlong-manager/manager-test/src/main/java/org/apache/inlong/manager/test/BaseTest.java
  inlong-manager/manager-test/src/main/resources/sql/apache_inlong_manager.sql
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/HeartbeatInfoController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/openapi/HeartbeatController.java
  inlong-manager/manager-web/src/test/java/org/apache/inlong/manager/web/controller/openapi/HeartbeatControllerTest.java
  inlong-manager/pom.xml
Labels: inlong-manager

#3957 [INLONG-3833][Sort] Fix hive partition fields format error
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/BuiltInFieldInfo.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/parser/impl/FlinkSqlParser.java
  inlong-sort/sort-single-tenant/src/test/java/org/apache/inlong/sort/singletenant/flink/parser/DistinctNodeSqlParseTest.java
Labels: inlong-sort

#3955 [INLONG-3953][Sort] Add MySQL dynamic table implementation - modified from Flink CDC
  inlong-sort/sort-single-tenant/pom.xml
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/cdc/debezium/DebeziumDeserializationSchema.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/cdc/debezium/DebeziumSourceFunction.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/cdc/debezium/JsonDebeziumDeserializationSchema.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/cdc/debezium/StringDebeziumDeserializationSchema.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/cdc/debezium/history/FlinkJsonTableChangeSerializer.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/cdc/debezium/internal/DebeziumChangeConsumer.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/cdc/debezium/internal/DebeziumChangeFetcher.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/cdc/debezium/internal/DebeziumOffset.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/cdc/debezium/internal/DebeziumOffsetSerializer.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/cdc/debezium/internal/FlinkDatabaseHistory.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/cdc/debezium/internal/FlinkDatabaseSchemaHistory.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/cdc/debezium/internal/FlinkOffsetBackingStore.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/cdc/debezium/internal/Handover.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/cdc/debezium/internal/SchemaRecord.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/cdc/debezium/utils/DatabaseHistoryUtil.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/cdc/debezium/utils/ObjectUtils.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/cdc/mysql/DebeziumUtils.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/cdc/mysql/MySqlSource.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/cdc/mysql/MySqlValidator.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/cdc/mysql/SeekBinlogToTimestampFilter.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/cdc/mysql/config/MySqlSourceConfig.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/cdc/mysql/config/MySqlSourceOptions.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/cdc/mysql/config/ServerIdRange.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/cdc/mysql/connection/ConnectionPoolId.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/cdc/mysql/connection/ConnectionPools.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/cdc/mysql/connection/JdbcConnectionFactory.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/cdc/mysql/connection/JdbcConnectionPools.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/cdc/mysql/connection/PooledDataSourceFactory.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/cdc/mysql/table/JdbcUrlUtils.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/cdc/mysql/table/MySqlDeserializationConverterFactory.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/cdc/mysql/table/MySqlReadableMetadata.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/cdc/mysql/table/MySqlTableSource.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/cdc/mysql/table/MySqlTableSourceFactory.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/cdc/mysql/table/StartupMode.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/cdc/mysql/table/StartupOptions.java
Labels: inlong-sort

#3952 [INLONG-3951][Manager] Unique index error for cluster_name in SQL file
  inlong-manager/manager-test/src/main/resources/sql/apache_inlong_manager.sql
Labels: inlong-manager

#3960 [INLONG-3919][Manager] Data consumption and data source module supports access control
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/commonserver/CommonDbServerPageRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/consumption/ConsumptionQuery.java
  inlong-manager/manager-dao/src/main/resources/mappers/CommonDbServerEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/ConsumptionEntityMapper.xml
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/CommonDBServerServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/ConsumptionServiceImpl.java
Labels: inlong-manager

#3964 [INLONG-3951][Manager] Unique index error for cluster_name in SQL file
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
Labels: inlong-manager

#3959 [INLONG-3958][Manager] Fix some null pointer exceptions
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/source/MySQLBinlogSource.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/util/InlongGroupTransfer.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/util/InlongStreamSourceTransfer.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/FieldType.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/SourceRequest.java
  inlong-manager/manager-dao/src/main/resources/mappers/StreamSourceFieldEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/StreamTransformEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/StreamTransformFieldEntityMapper.xml
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/InlongGroupServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sort/util/ExtractNodeUtils.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sort/util/FilterFunctionUtils.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sort/util/LoadNodeUtils.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sort/util/NodeRelationShipUtils.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sort/util/TransformNodeUtils.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/AbstractSourceOperation.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/StreamSourceServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/transform/StreamTransformServiceImpl.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/workflow/WorkflowServiceImplTest.java
  inlong-manager/manager-test/src/main/resources/sql/apache_inlong_manager.sql
Labels: inlong-manager

#3976 [INLONG-3975][TubeMQ] Modify the MasterConfigTest.java file to configure the incoming parameters
  inlong-tubemq/tubemq-server/src/test/java/org/apache/inlong/tubemq/server/master/MasterConfigTest.java
Labels: inlong-tubemq, improve

#3980 [INLONG-3979][Sort] Fix mysqlExtractNode options append error
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/extract/MySqlExtractNode.java
  inlong-sort/sort-single-tenant/pom.xml
Labels: inlong-sort

#3985 [INLONG-3831][Sort] Add meta field support for sort lightweight
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/BuiltInFieldInfo.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/parser/impl/FlinkSqlParser.java
  inlong-sort/sort-single-tenant/src/test/java/org/apache/inlong/sort/singletenant/flink/parser/MetaFieldSyncTest.java
Labels: inlong-sort

#3984 [INLONG-3826][Sort] Enhance field format to support varchar types and timestamp of different precisions
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/LoadNode.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/load/HiveLoadNode.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/GroupInfoTest.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/StreamInfoTest.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/node/load/HiveLoadNodeTest.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/node/transform/DistinctNodeTest.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/transformation/WatermarkFieldTest.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/transformation/function/HopEndFunctionTest.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/transformation/function/HopFunctionTest.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/transformation/function/HopStartFunctionTest.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/transformation/function/MultiValueFilterFunctionTest.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/transformation/function/SessionEndFunctionTest.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/transformation/function/SessionFunctionTest.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/transformation/function/SessionStartFunctionTest.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/transformation/function/SingleValueFilterFunctionTest.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/transformation/function/TumbleEndFunctionTest.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/transformation/function/TumbleFunctionTest.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/transformation/function/TumbleStartFunctionTest.java
  inlong-sort/sort-formats/format-base/src/main/java/org/apache/inlong/sort/formats/base/TableFormatUtils.java
  inlong-sort/sort-formats/format-common/src/main/java/org/apache/inlong/sort/formats/common/FormatInfo.java
  inlong-sort/sort-formats/format-common/src/main/java/org/apache/inlong/sort/formats/common/LocalZonedTimestampFormatInfo.java
  inlong-sort/sort-formats/format-common/src/main/java/org/apache/inlong/sort/formats/common/TimestampFormatInfo.java
  inlong-sort/sort-formats/format-common/src/main/java/org/apache/inlong/sort/formats/common/VarCharFormatInfo.java
  inlong-sort/sort-formats/format-common/src/test/java/org/apache/inlong/sort/formats/common/VarCharFormatInfoTest.java
Labels: inlong-sort

#3972 [INLONG-3971][CI] Add stable workflow
  .github/workflows/ci_stable.yml
Labels: ci
