Repository apache/inlong, pull requests merged in 2022-02, with the labels that each got.

#2397 [INLONG-2396][Manager] Add manager-plugin-examples as a sub-module of inlong-manager
  inlong-manager/manager-plugin-examples/pom.xml
  inlong-manager/pom.xml
Labels: inlong-manager

#2402 [INLONG-2401][Bug][InLong-Sort] Fix bugs in kafka sink unit tests
  inlong-sort/sort-single-tenant/pom.xml
  inlong-sort/sort-single-tenant/src/test/java/org/apache/inlong/sort/singletenant/flink/kafka/KafkaSinkTestBase.java
  inlong-sort/sort-single-tenant/src/test/java/org/apache/inlong/sort/singletenant/flink/kafka/RowToJsonKafkaSinkTest.java
  inlong-sort/sort-single-tenant/src/test/java/org/apache/inlong/sort/singletenant/flink/kafka/RowToStringKafkaSinkTest.java
  inlong-sort/sort-single-tenant/src/test/java/org/apache/inlong/sort/singletenant/flink/utils/NetUtils.java
Labels: inlong-sort

#2405 [INLONG-2404][Manager] Upgrade log4j to 2.17.1 due to CVEs
  inlong-manager/pom.xml
Labels: inlong-manager

#2407 [INLONG-2406][Manager] Upgrade Shiro version due to the security vulnerabilities
  inlong-manager/pom.xml
Labels: inlong-manager

#2360 [INLONG-2353] Tube manager cluster adds support for multi-master configuration
  inlong-tubemq/tubemq-manager/src/main/java/org/apache/inlong/tubemq/manager/controller/TubeMQResult.java
  inlong-tubemq/tubemq-manager/src/main/java/org/apache/inlong/tubemq/manager/controller/cluster/ClusterController.java
  inlong-tubemq/tubemq-manager/src/main/java/org/apache/inlong/tubemq/manager/controller/cluster/request/AddClusterReq.java
  inlong-tubemq/tubemq-manager/src/main/java/org/apache/inlong/tubemq/manager/service/ClusterServiceImpl.java
  inlong-tubemq/tubemq-manager/src/main/java/org/apache/inlong/tubemq/manager/service/MasterServiceImpl.java
  inlong-tubemq/tubemq-manager/src/main/java/org/apache/inlong/tubemq/manager/service/interfaces/MasterService.java
  inlong-tubemq/tubemq-manager/src/test/java/org/apache/inlong/tubemq/manager/controller/TestClusterController.java
Labels: inlong-tubemq

#2411 [INLONG-2409] add 1.0.0 version option for the bug report
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: release

#2415 [INLONG-2414][Manager] Exclude test jar file during the apache-rat-plugin check
  inlong-manager/manager-plugin-examples/pom.xml
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/plugin/PluginService.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/plugin/PluginServiceTest.java
  inlong-manager/manager-service/src/test/resources/plugins/inlong-manager-plugin.jar
  inlong-manager/manager-service/src/test/resources/plugins/manager-plugin-examples.jar
  pom.xml
Labels: inlong-manager

#2419 [INLONG-2406] [Manager] fix issue with shiro version
  inlong-manager/pom.xml
Labels: inlong-manager

#2416 [INLONG-2404] update more refs to logj2 version (update to 2.17.1)
  inlong-agent/pom.xml
  inlong-sort/pom.xml
Labels: inlong-agent, inlong-sort

#2418 [INLONG-2417] update commons-io and commons-collections due to security issues
  inlong-agent/pom.xml
  inlong-manager/pom.xml
  inlong-sdk/dataproxy-sdk/pom.xml
  inlong-tubemq/pom.xml
  licenses/inlong-dataproxy/LICENSE-binary
  licenses/inlong-tubemq/LICENSE-binary
Labels: inlong-tubemq, inlong-manager, inlong-agent, inlong-sdk

#2423 [INLONG-2422] [Bug] upgrade logback to 1.2.10 due to security issues
  inlong-audit/pom.xml
  inlong-tubemq/tubemq-manager/pom.xml
Labels: inlong-tubemq, inlong-audit

#2400 [INLONG-2348] Support lzo/gzip compression when using text formats in hive sink
  inlong-sort/pom.xml
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/configuration/Constants.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/sink/HiveSinkInfo.java
  inlong-sort/sort-connectors/pom.xml
  inlong-sort/sort-connectors/src/main/java/org/apache/inlong/sort/flink/hive/HiveSinkHelper.java
  inlong-sort/sort-connectors/src/main/java/org/apache/inlong/sort/flink/hive/HiveWriter.java
  inlong-sort/sort-connectors/src/main/java/org/apache/inlong/sort/flink/hive/formats/TextRowWriter.java
  inlong-sort/sort-connectors/src/test/java/org/apache/inlong/sort/flink/hive/formats/TextRowWriterTest.java
  inlong-sort/sort-connectors/src/test/resources/testGzip.gz
Labels: inlong-sort

#2426 [INLONG-2425] upgrade elasticsearch jars
  inlong-audit/pom.xml
  inlong-manager/pom.xml
Labels: inlong-manager, inlong-audit

#2431 [INLONG-2430] upgrade to jetty 9.4.44.v20210927
  inlong-agent/pom.xml
  inlong-tubemq/pom.xml
  licenses/inlong-dataproxy/LICENSE-binary
  licenses/inlong-tubemq/LICENSE-binary
Labels: inlong-tubemq, inlong-agent

#2392 [INLONG-2376] add sdk-common module for supporting PB compression protocol format based on Protobuffer protocol.
  inlong-sdk/pom.xml
  inlong-sdk/sdk-common/pom.xml
  inlong-sdk/sdk-common/src/main/java/org/apache/inlong/sdk/commons/protocol/EventConstants.java
  inlong-sdk/sdk-common/src/main/java/org/apache/inlong/sdk/commons/protocol/EventUtils.java
  inlong-sdk/sdk-common/src/main/java/org/apache/inlong/sdk/commons/protocol/InlongId.java
  inlong-sdk/sdk-common/src/main/java/org/apache/inlong/sdk/commons/protocol/ProxyEvent.java
  inlong-sdk/sdk-common/src/main/java/org/apache/inlong/sdk/commons/protocol/SdkEvent.java
  inlong-sdk/sdk-common/src/main/java/org/apache/inlong/sdk/commons/protocol/SortEvent.java
  inlong-sdk/sdk-common/src/main/java/org/apache/inlong/sdk/commons/utils/GzipUtils.java
  inlong-sdk/sdk-common/src/main/proto/ProxySdk.proto
  inlong-sdk/sdk-common/src/test/java/org/apache/inlong/sdk/commons/protocol/TestEventUtils.java
Labels: inlong-sdk

#2434 [INLONG-2433][TubeMQ] Abstract metrics' interface
  inlong-tubemq/tubemq-client/src/main/java/org/apache/inlong/tubemq/client/consumer/SimpleClientBalanceConsumer.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/metric/Counter.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/metric/Counting.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/metric/Gauge.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/metric/Histogram.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/metric/Metric.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/metric/MetricSet.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/nodemanage/nodeproducer/ProducerInfoHolder.java
Labels: inlong-tubemq, improve

#2444 [INLONG-2441] [Inlong-Audit] Modify the version of audit protobuf
  inlong-agent/agent-common/pom.xml
  inlong-audit/audit-common/pom.xml
  inlong-audit/audit-common/src/main/proto/AuditApi.proto
  inlong-audit/audit-sdk/pom.xml
  inlong-audit/audit-sdk/src/test/java/org/apache/inlong/audit/util/AuditDataTest.java
Labels: inlong-agent, inlong-audit

#2446 [INLONG-2445][TubeMQ] Add Gauge and Counter implementation classes
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/metric/impl/BaseMetric.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/metric/impl/LongMaxGauge.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/metric/impl/LongMinGauge.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/metric/impl/LongOnlineCounter.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/metric/impl/LongStatsCounter.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/metric/impl/SinceTime.java
  inlong-tubemq/tubemq-core/src/test/java/org/apache/inlong/tubemq/corebase/metric/SimpleMetricTest.java
Labels: inlong-tubemq, improve

#2456 [INLONG-2455] unify the module name for sort and manager
  inlong-agent/agent-plugins/pom.xml
  inlong-manager/manager-plugin-examples/pom.xml
  inlong-sdk/dataproxy-sdk/pom.xml
  inlong-sdk/sdk-common/pom.xml
  inlong-sdk/sort-sdk/pom.xml
  inlong-sort-standalone/pom.xml
  inlong-sort-standalone/sort-standalone-common/pom.xml
  inlong-sort-standalone/sort-standalone-dist/pom.xml
  inlong-sort-standalone/sort-standalone-source/pom.xml
Labels: inlong-manager, inlong-agent, inlong-sdk

#2454 [INLONG-2453] [TUBEMQ] upgrade velocity to secure version
  inlong-tubemq/pom.xml
  inlong-tubemq/tubemq-server/pom.xml
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/web/simplemvc/VelocityTemplateEngine.java
  licenses/inlong-dataproxy/LICENSE-binary
  licenses/inlong-tubemq/LICENSE-binary
Labels: inlong-tubemq

#2463 [INLONG-2462] [AGENT] upgrade aviator
  inlong-agent/pom.xml
Labels: inlong-agent

#2427 [INLONG-2354][Sort] Support orc format in hive sink
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/configuration/Constants.java
  inlong-sort/sort-connectors/pom.xml
  inlong-sort/sort-connectors/src/main/java/org/apache/inlong/sort/flink/hive/HiveSinkHelper.java
  inlong-sort/sort-connectors/src/main/java/org/apache/inlong/sort/flink/hive/formats/orc/OrcBulkWriter.java
  inlong-sort/sort-connectors/src/main/java/org/apache/inlong/sort/flink/hive/formats/orc/OrcBulkWriterFactory.java
  inlong-sort/sort-connectors/src/main/java/org/apache/inlong/sort/flink/hive/formats/orc/OrcBulkWriterUtil.java
  inlong-sort/sort-connectors/src/main/java/org/apache/inlong/sort/flink/hive/formats/orc/PhysicalWriterImpl.java
  inlong-sort/sort-connectors/src/main/java/org/apache/inlong/sort/flink/hive/formats/orc/RowVectorizer.java
  inlong-sort/sort-connectors/src/main/java/org/apache/inlong/sort/flink/hive/formats/parquet/ParquetRowWriter.java
  inlong-sort/sort-connectors/src/main/java/org/apache/inlong/sort/flink/hive/formats/parquet/ParquetRowWriterBuilder.java
  inlong-sort/sort-connectors/src/main/java/org/apache/inlong/sort/flink/hive/formats/parquet/ParquetSchemaConverter.java
  inlong-sort/sort-connectors/src/test/java/org/apache/inlong/sort/flink/hive/formats/orc/OrcBulkWriterTest.java
Labels: inlong-sort

#2428 [INLONG-2413][Sort]Support non-partitioned table when using hive sink
  inlong-sort/pom.xml
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/sink/HiveSinkInfo.java
  inlong-sort/sort-single-tenant/pom.xml
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/Entrance.java
  inlong-sort/sort-single-tenant/src/test/java/org/apache/inlong/sort/singletenant/flink/hive/HiveSinkWithoutPartitionTestCase.java
Labels: inlong-sort

#2452 [INLONG-2451][TubeMQ] Add Histogram implementation classes
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/metric/impl/ESTHistogram.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/metric/impl/SimpleHistogram.java
  inlong-tubemq/tubemq-core/src/test/java/org/apache/inlong/tubemq/corebase/metric/HistogramTest.java
Labels: inlong-tubemq, improve

#2466 [INLONG-2464] remove the useless aviator dependency
  inlong-agent/agent-plugins/pom.xml
  inlong-agent/pom.xml
Labels: inlong-agent

#2475 [INLONG-2474][TubeMQ] Adjust the statistics of Broker's message service part
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/metric/impl/ESTHistogram.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/metric/impl/SinceTime.java
  inlong-tubemq/tubemq-core/src/test/java/org/apache/inlong/tubemq/corebase/metric/HistogramTest.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/BrokerServiceServer.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/TubeBroker.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/msgstore/disk/FileSegment.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/msgstore/disk/MsgFileStore.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/msgstore/mem/MsgMemStore.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/offset/DefaultOffsetManager.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/stats/ServiceStatsHolder.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/common/offsetstorage/ZkOffsetStorage.java
  inlong-tubemq/tubemq-server/src/test/java/org/apache/inlong/tubemq/server/broker/stats/ServiceStatsHolderTest.java
Labels: inlong-tubemq, improve

#2472 [INLONG-2471] Fix Mybatis Mapper Method Bug in SourceDbDetailEntityMapper
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/SourceDbDetailEntityMapper.java
Labels: inlong-manager

#2479 [INLONG-2478][TubeMQ] Optimize GroupCountService logic implementation
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/daemon/AbstractDaemonService.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/BrokerServiceServer.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/msgstore/MessageStore.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/msgstore/disk/GetMessageResult.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/msgstore/disk/MsgFileStore.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/stats/CountService.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/stats/GroupCountService.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/stats/TrafficInfo.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/stats/TrafficService.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/stats/TrafficStatsService.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/utils/DataStoreUtils.java
  inlong-tubemq/tubemq-server/src/test/java/org/apache/inlong/tubemq/server/broker/stats/ServiceStatsHolderTest.java
  inlong-tubemq/tubemq-server/src/test/java/org/apache/inlong/tubemq/server/broker/stats/TrafficStatsServiceTest.java
Labels: inlong-tubemq, improve

#2467 [INLONG-2461] Use npm audit fix to resolve some vulnerabilities
  inlong-dashboard/package-lock.json
Labels: inlong-dashboard

#2473 [INLONG-2403][Sort] Fix the problem that Parquet format doen't work
  inlong-sort/sort-connectors/src/main/java/org/apache/inlong/sort/flink/hive/formats/parquet/ParquetRowWriter.java
  inlong-sort/sort-connectors/src/main/java/org/apache/inlong/sort/flink/hive/formats/parquet/ParquetSchemaConverter.java
  inlong-sort/sort-connectors/src/test/java/org/apache/inlong/sort/flink/hive/formats/parquet/ParquetBulkWriterTest.java
Labels: inlong-sort

#2481 [INLONG-2480][TubeMQ] Add WebCallStatsHolder class for Web API call statistics
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/stats/ServiceStatsHolder.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/web/AbstractWebHandler.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/common/TServerConstants.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/common/webbase/WebCallStatsHolder.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/web/action/screen/Webapi.java
  inlong-tubemq/tubemq-server/src/test/java/org/apache/inlong/tubemq/server/common/WebCallStatsHolderTest.java
Labels: inlong-tubemq, improve

#2487 [INLONG-2484][TubeMQ]Optimize MsgMemStatisInfo implementation logic
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/metric/Histogram.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/metric/impl/ESTHistogram.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/metric/impl/LongMaxGauge.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/metric/impl/SimpleHistogram.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/metric/impl/SinceTime.java
  inlong-tubemq/tubemq-core/src/test/java/org/apache/inlong/tubemq/corebase/metric/HistogramTest.java
  inlong-tubemq/tubemq-core/src/test/java/org/apache/inlong/tubemq/corebase/metric/SimpleMetricTest.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/msgstore/MessageStore.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/msgstore/MessageStoreManager.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/msgstore/mem/MsgMemStatisInfo.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/msgstore/mem/MsgMemStore.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/stats/MemStoreStatsHolder.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/stats/TrafficStatsService.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/web/BrokerAdminServlet.java
  inlong-tubemq/tubemq-server/src/test/java/org/apache/inlong/tubemq/server/broker/msgstore/mem/MsgMemStoreTest.java
  inlong-tubemq/tubemq-server/src/test/java/org/apache/inlong/tubemq/server/broker/stats/MemStoreStatsHolderTest.java
  inlong-tubemq/tubemq-server/src/test/java/org/apache/inlong/tubemq/server/broker/stats/ServiceStatsHolderTest.java
  inlong-tubemq/tubemq-server/src/test/java/org/apache/inlong/tubemq/server/common/WebCallStatsHolderTest.java
Labels: inlong-tubemq, improve

#2439 [INLONG-2465][Manager] GetClusterConfig interface support select sinkParams
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/SortTaskSinkParamEntity.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/SortTaskSinkParamEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/generatorConfig.xml
  inlong-manager/manager-dao/src/main/resources/mappers/SortTaskSinkParamEntityMapper.xml
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/SortTaskSinkParamService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/SortServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/SortTaskIdParamServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/SortTaskSinkParamServiceImpl.java
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
  inlong-manager/manager-web/src/test/java/org/apache/inlong/manager/web/controller/openapi/SortControllerTest.java
Labels: inlong-manager

#2447 [INLONG-2381] DataProxy support Tube sink of PB compression cache message protocol.
  inlong-dataproxy/dataproxy-source/pom.xml
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/holder/CommonPropertiesHolder.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/dispatch/DispatchManager.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/dispatch/DispatchProfile.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/metrics/DataProxyMetricItem.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/SinkContext.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/tubezone/TubeClusterProducer.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/tubezone/TubeZoneProducer.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/tubezone/TubeZoneSink.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/tubezone/TubeZoneSinkContext.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/tubezone/TubeZoneWorker.java
  inlong-dataproxy/pom.xml
Labels: inlong-dataproxy

#2501 [INLONG-2500][Dashboard] Adapt to Manager's modification of data storage
  inlong-dashboard/src/components/AccessHelper/DataStorageEditor/DetailModal.tsx
  inlong-dashboard/src/components/MetaData/StorageClickhouse.tsx
  inlong-dashboard/src/components/MetaData/StorageHive.tsx
Labels: inlong-dashboard

#2502 [INLONG-2379] DataProxy support Pulsar sink of PB compression cache message protocol.
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/dispatch/DispatchManager.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/pulsarzone/PulsarClusterProducer.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/pulsarzone/PulsarZoneProducer.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/pulsarzone/PulsarZoneSink.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/pulsarzone/PulsarZoneSinkContext.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/pulsarzone/PulsarZoneWorker.java
Labels: inlong-dataproxy

#2506 [INLONG-2505][TubeMQ] Add MsgStoreStatsHolder class
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/msgstore/MessageStore.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/msgstore/MessageStoreManager.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/msgstore/disk/MsgFileStore.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/msgstore/mem/MsgMemStore.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/stats/FileStoreStatsHolder.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/stats/MemStoreStatsHolder.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/stats/MsgStoreStatsHolder.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/stats/ServiceStatsHolder.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/stats/TrafficStatsService.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/web/BrokerAdminServlet.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/common/webbase/WebCallStatsHolder.java
  inlong-tubemq/tubemq-server/src/test/java/org/apache/inlong/tubemq/server/broker/msgstore/mem/MsgMemStoreTest.java
  inlong-tubemq/tubemq-server/src/test/java/org/apache/inlong/tubemq/server/broker/stats/FileStoreStatsHolderTest.java
  inlong-tubemq/tubemq-server/src/test/java/org/apache/inlong/tubemq/server/broker/stats/MemStoreStatsHolderTest.java
  inlong-tubemq/tubemq-server/src/test/java/org/apache/inlong/tubemq/server/broker/stats/MsgStoreStatsHolderTest.java
Labels: inlong-tubemq, improve

#2513 [INLONG-2508][TubeMQ] Add Broker metric operation APIs
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/stats/BrokerStatsType.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/web/BrokerAdminServlet.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/common/TServerConstants.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/common/fielddef/WebFieldDef.java
Labels: inlong-tubemq, improve

#2514 [INLONG-2507][Bug][Manager] Init sort config failed
  inlong-manager/manager-dao/src/main/resources/mappers/StorageFieldEntityMapper.xml
Labels: inlong-manager

#2519 [INLONG-2516][TubeMQ] Optimize Broker's JMX metric interface
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/metric/MetricMXBean.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/TubeBroker.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/metrics/BrokerMetrics.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/metrics/BrokerMetricsHolder.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/stats/BrokerJMXHolder.java
  inlong-tubemq/tubemq-server/src/test/java/org/apache/inlong/tubemq/server/broker/BrokerMetricsTest.java
Labels: inlong-tubemq, improve

#2387 [INLONG-2346][Feature][InLong-Sort] Support avro and canal formats for sort sink
  inlong-sort/pom.xml
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/configuration/Constants.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/serialization/AvroSerializationInfo.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/serialization/CanalSerializationInfo.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/sink/KafkaSinkInfo.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/serialization/AvroSerializationInfoTest.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/serialization/CanalSerializationInfoTest.java
  inlong-sort/sort-dist/pom.xml
  inlong-sort/sort-formats/format-base/src/main/java/org/apache/inlong/sort/formats/base/TableFormatUtils.java
  inlong-sort/sort-formats/format-common/src/main/java/org/apache/inlong/sort/formats/common/BinaryFormatInfo.java
  inlong-sort/sort-formats/format-common/src/main/java/org/apache/inlong/sort/formats/common/BinaryTypeInfo.java
  inlong-sort/sort-formats/format-common/src/main/java/org/apache/inlong/sort/formats/common/FormatInfo.java
  inlong-sort/sort-formats/format-common/src/main/java/org/apache/inlong/sort/formats/common/NullFormatInfo.java
  inlong-sort/sort-formats/format-common/src/main/java/org/apache/inlong/sort/formats/common/NullTypeInfo.java
  inlong-sort/sort-formats/format-common/src/main/java/org/apache/inlong/sort/formats/common/TimestampFormatInfo.java
  inlong-sort/sort-formats/format-common/src/main/java/org/apache/inlong/sort/formats/common/TypeInfo.java
  inlong-sort/sort-formats/format-common/src/test/java/org/apache/inlong/sort/formats/common/BinaryFormatInfoTest.java
  inlong-sort/sort-formats/format-common/src/test/java/org/apache/inlong/sort/formats/common/TimestampFormatInfoTest.java
  inlong-sort/sort-formats/format-inlongmsg-base/pom.xml
  inlong-sort/sort-single-tenant/pom.xml
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/Entrance.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/kafka/KafkaSinkBuilder.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/serialization/RowDataSerializationSchemaFactory.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/serialization/RowSerializationSchemaFactory.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/utils/CommonUtils.java
  inlong-sort/sort-single-tenant/src/test/java/org/apache/inlong/sort/singletenant/flink/kafka/KafkaSinkTestBase.java
  inlong-sort/sort-single-tenant/src/test/java/org/apache/inlong/sort/singletenant/flink/kafka/KafkaSinkTestBaseForRow.java
  inlong-sort/sort-single-tenant/src/test/java/org/apache/inlong/sort/singletenant/flink/kafka/KafkaSinkTestBaseForRowData.java
  inlong-sort/sort-single-tenant/src/test/java/org/apache/inlong/sort/singletenant/flink/kafka/RowToAvroKafkaSinkTest.java
  inlong-sort/sort-single-tenant/src/test/java/org/apache/inlong/sort/singletenant/flink/kafka/RowToCanalKafkaSinkTest.java
  inlong-sort/sort-single-tenant/src/test/java/org/apache/inlong/sort/singletenant/flink/kafka/RowToJsonKafkaSinkTest.java
  inlong-sort/sort-single-tenant/src/test/java/org/apache/inlong/sort/singletenant/flink/kafka/RowToStringKafkaSinkTest.java
  inlong-sort/sort-single-tenant/src/test/java/org/apache/inlong/sort/singletenant/flink/utils/CommonUtilsTest.java
Labels: inlong-sort

#2528 [INLONG-2523][Improve][Audit] Modify package name according to specification
  inlong-audit/audit-store/src/main/java/org/apache/inlong/audit/Application.java
  inlong-audit/audit-store/src/main/java/org/apache/inlong/audit/config/DataServerConfig.java
  inlong-audit/audit-store/src/main/java/org/apache/inlong/audit/config/ElasticsearchConfig.java
  inlong-audit/audit-store/src/main/java/org/apache/inlong/audit/config/PulsarConfig.java
  inlong-audit/audit-store/src/main/java/org/apache/inlong/audit/config/StoreConfig.java
  inlong-audit/audit-store/src/main/java/org/apache/inlong/audit/db/DruidConfig.java
  inlong-audit/audit-store/src/main/java/org/apache/inlong/audit/db/DruidDataSourceProperties.java
  inlong-audit/audit-store/src/main/java/org/apache/inlong/audit/db/dao/AuditDataDao.java
  inlong-audit/audit-store/src/main/java/org/apache/inlong/audit/db/entities/AuditDataPo.java
  inlong-audit/audit-store/src/main/java/org/apache/inlong/audit/db/entities/ESDataPo.java
  inlong-audit/audit-store/src/main/java/org/apache/inlong/audit/service/AuditMsgConsumerServer.java
  inlong-audit/audit-store/src/main/java/org/apache/inlong/audit/service/ElasticsearchService.java
  inlong-audit/audit-store/src/main/resources/mapper/AuditDataDao.xml
  inlong-audit/audit-store/src/test/java/org/apache/inlong/audit/service/AuditStoreTest.java
  inlong-audit/audit-store/src/test/java/org/apache/inlong/audit/service/ElasticsearchServiceTest.java
  inlong-audit/audit-store/src/test/resources/application.properties
  inlong-audit/audit-store/src/test/resources/mapper/AuditDataDao.xml
  inlong-audit/conf/application.properties
  inlong-audit/conf/mapper/AuditDataDao.xml
Labels: inlong-audit

#2536 [INLONG-2535][Dashboard] Audit module display time in reverse order
  inlong-dashboard/src/pages/AccessDetail/Audit/config.tsx
Labels: inlong-dashboard

#2537 [INLONG-2530][Agent][Bug] Agent data time never changes
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/utils/AgentUtils.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sinks/ProxySink.java
Labels: inlong-agent

#2542 [INLONG-2538][TubeMQ] Optimize message write cache logic
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/msgstore/MessageStore.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/msgstore/mem/MsgMemStore.java
  inlong-tubemq/tubemq-server/src/test/java/org/apache/inlong/tubemq/server/broker/msgstore/mem/MsgMemStoreTest.java
Labels: inlong-tubemq, improve

#2539 [INLONG-2521][Tube] Solve the problem of multiple clusterId JSON fields in clone topic
  inlong-tubemq/tubemq-manager/src/main/java/org/apache/inlong/tubemq/manager/controller/node/request/CloneTopicReq.java
Labels: inlong-tubemq

#2551 [INLONG-2549] [Audit] update audit protobuf field type
  inlong-audit/audit-common/src/main/proto/AuditApi.proto
  inlong-audit/audit-sdk/src/main/java/org/apache/inlong/audit/send/SenderManager.java
Labels: inlong-audit

#2553 [INLONG-2552][TubeMQ] Add Master metric operation APIs
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/web/BrokerAdminServlet.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/common/TServerConstants.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/web/handler/WebOtherInfoHandler.java
Labels: inlong-tubemq, improve

#2421 [INLONG-2420] upgrade h2 due to cves
  inlong-manager/pom.xml
  inlong-tubemq/tubemq-manager/pom.xml
Labels: inlong-tubemq, inlong-manager

#2557 [INLONG-2555][TubeMQ] Remove slf4j-log4j12
  inlong-tubemq/pom.xml
  inlong-tubemq/tubemq-core/pom.xml
  licenses/inlong-tubemq/LICENSE-binary
Labels: inlong-tubemq, improve

#2577 [INLONG-2571][Manager] Fix unit tests bugs
  inlong-manager/manager-dao/src/test/java/org/apache/inlong/manager/dao/RestTemplateConfig.java
  inlong-manager/manager-dao/src/test/java/org/apache/inlong/manager/dao/config/InLongManagerSourceConfigTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/RestTemplateConfig.java
  inlong-manager/manager-test/src/main/resources/sql/apache_inlong_manager.sql
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
Labels: inlong-manager

#2560 [INLONG-2548][Agent,Manager,Tubemq,Audit] update the version of lombok to 1.18.22
  inlong-agent/pom.xml
  inlong-audit/pom.xml
  inlong-manager/manager-common/pom.xml
  inlong-manager/manager-workflow-engine/pom.xml
  inlong-manager/pom.xml
  inlong-tubemq/pom.xml
  inlong-tubemq/tubemq-manager/pom.xml
  pom.xml
Labels: inlong-tubemq, inlong-manager, inlong-agent, inlong-audit

#2580 [INLONG-2569][TubeMQ] Discarded msgTime value when msgType is empty
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/utils/MixedUtils.java
Labels: inlong-tubemq, bug

#2578 [INLONG-2562] [Manager] Support data flow to Kafka
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/BizConstant.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/datastorage/kafka/KafkaStorageDTO.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/datastorage/kafka/KafkaStorageListResponse.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/datastorage/kafka/KafkaStorageRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/datastorage/kafka/KafkaStorageResponse.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/storage/kafka/KafkaStorageOperation.java
  inlong-manager/manager-web/src/test/java/org/apache/inlong/manager/service/core/KafkaStorageServiceTest.java
Labels: inlong-manager

#2583 [INLONG-1520][Manager] Support Iceberg dataflow
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/BizConstant.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/datastorage/iceberg/IcebergStorageDTO.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/datastorage/iceberg/IcebergStorageListResponse.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/datastorage/iceberg/IcebergStorageRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/datastorage/iceberg/IcebergStorageResponse.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/storage/iceberg/IcebergStorageOperation.java
  inlong-manager/manager-web/src/test/java/org/apache/inlong/manager/service/core/IcebergStorageServiceTest.java
Labels: inlong-manager

#2592 [INLONG-2591][Audit] Fix the wrong option for script
  inlong-audit/bin/store-start.sh
  inlong-audit/bin/store-stop.sh
Labels: inlong-audit

#2595 [INLONG-2596][TubeMQ] fix param error and add override annotation
  inlong-tubemq/tubemq-client/src/main/java/org/apache/inlong/tubemq/client/common/QueryMetaResult.java
  inlong-tubemq/tubemq-client/src/main/java/org/apache/inlong/tubemq/client/consumer/PartitionExt.java
  inlong-tubemq/tubemq-manager/pom.xml
Labels: inlong-tubemq

#2589 [INLONG-2588][Manager] Support cluster management
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/ClusterInfoService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/ClusterInfoServiceImpl.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/ClusterController.java
Labels: inlong-manager

#2543 [INLONG-2540][Agent] Create db sql collect task by config from manager
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/job/Job.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/task/TaskWrapper.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/fetcher/dtos/DbCollectorTask.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/fetcher/dtos/SqlJobProfileDto.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/DatabaseSqlSource.java
Labels: inlong-agent

#2556 [INLONG-2554][Sort] Support array and map data structures in ORC writer
  inlong-sort/sort-connectors/src/main/java/org/apache/inlong/sort/flink/hive/formats/orc/RowVectorizer.java
  inlong-sort/sort-connectors/src/test/java/org/apache/inlong/sort/flink/hive/formats/orc/RowVectorizerTest.java
Labels: inlong-sort

#2601 [INLONG-2518][TubeMQ] Adjust the client's metric statistics logic
  inlong-tubemq/tubemq-client/src/main/java/org/apache/inlong/tubemq/client/common/ClientMetrics.java
  inlong-tubemq/tubemq-client/src/main/java/org/apache/inlong/tubemq/client/common/ClientStatsInfo.java
  inlong-tubemq/tubemq-client/src/main/java/org/apache/inlong/tubemq/client/common/StatsOutputLevel.java
  inlong-tubemq/tubemq-client/src/main/java/org/apache/inlong/tubemq/client/common/TClientConstants.java
  inlong-tubemq/tubemq-client/src/main/java/org/apache/inlong/tubemq/client/config/TubeClientConfig.java
  inlong-tubemq/tubemq-client/src/main/java/org/apache/inlong/tubemq/client/consumer/BaseMessageConsumer.java
  inlong-tubemq/tubemq-client/src/main/java/org/apache/inlong/tubemq/client/consumer/SimpleClientBalanceConsumer.java
  inlong-tubemq/tubemq-client/src/main/java/org/apache/inlong/tubemq/client/consumer/SimplePullMessageConsumer.java
  inlong-tubemq/tubemq-client/src/main/java/org/apache/inlong/tubemq/client/consumer/SimplePushMessageConsumer.java
  inlong-tubemq/tubemq-client/src/main/java/org/apache/inlong/tubemq/client/producer/MessageProducer.java
  inlong-tubemq/tubemq-client/src/main/java/org/apache/inlong/tubemq/client/producer/ProducerManager.java
  inlong-tubemq/tubemq-client/src/main/java/org/apache/inlong/tubemq/client/producer/SimpleMessageProducer.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/TBaseConstants.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/metric/TrafficStatsUnit.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/utils/TStringUtils.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/utils/ThreadUtils.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/msgstore/MessageStore.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/msgstore/disk/MsgFileStore.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/msgstore/mem/MsgMemStore.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/stats/BrokerSrvStatsHolder.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/stats/MsgStoreStatsHolder.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/stats/TrafficStatsService.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/common/TServerConstants.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/common/webbase/WebCallStatsHolder.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/stats/MasterSrvStatsHolder.java
Labels: inlong-tubemq, improve

#2599 [INLONG-2491][Dataproxy] update dataproxy netty version to 4.1.72.Final and log4j to log4j2
  inlong-dataproxy/bin/dataproxy-start.sh
  inlong-dataproxy/bin/flume-ng
  inlong-dataproxy/conf/log4j.properties
  inlong-dataproxy/conf/log4j2.xml
  inlong-dataproxy/dataproxy-source/pom.xml
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/pojo/PulsarConfig.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/consts/ConfigConstants.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/PulsarSink.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/pulsar/PulsarClientService.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/BaseSource.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/DefaultServiceDecoder.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/ServerMessageFactory.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/ServerMessageHandler.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/ServiceDecoder.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/SimpleMessageHandler.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/SimpleTcpSource.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/SimpleUdpSource.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/utils/EventLoopUtil.java
  inlong-dataproxy/pom.xml
Labels: inlong-dataproxy

#2604 [INLONG-2603][TubeMQ] Remove obsolete metric codes
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/metric/AbsMetricItem.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/metric/CountMetricItem.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/metric/GaugeMaxMetricItem.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/metric/GaugeMinMetricItem.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/metric/GaugeNormMetricItem.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/metric/MetricSet.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/metric/MetricType.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/metric/MetricValue.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/metric/MetricValueType.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/metric/MetricValues.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/metric/TimeDltMetricItem.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/metric/ValueAdjustType.java
  inlong-tubemq/tubemq-core/src/test/java/org/apache/inlong/tubemq/corebase/metric/MetricItemTest.java
Labels: inlong-tubemq, improve

#2602 [INLONG-2600][Manager] Rename the third party cluster class name and table name
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/ThirdPartyClusterEntity.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/ThirdPartyClusterEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/generatorConfig.xml
  inlong-manager/manager-dao/src/main/resources/mappers/ThirdPartyClusterEntityMapper.xml
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/ThirdPartyClusterService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/DataProxyClusterServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/ThirdPartyClusterServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/thirdpart/mq/CreateTubeGroupTaskListener.java
  inlong-manager/manager-test/src/main/resources/sql/apache_inlong_manager.sql
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/BasicInfoController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/ClusterController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/openapi/AgentController.java
Labels: inlong-manager

#2611 [INLONG-2609][TubeMQ] Fix Javadoc related errors
  inlong-tubemq/tubemq-client/src/main/java/org/apache/inlong/tubemq/client/consumer/SimpleClientBalanceConsumer.java
  inlong-tubemq/tubemq-client/src/main/java/org/apache/inlong/tubemq/client/factory/TubeBaseSessionFactory.java
  inlong-tubemq/tubemq-client/src/main/java/org/apache/inlong/tubemq/client/producer/ProducerManager.java
  inlong-tubemq/tubemq-client/src/main/java/org/apache/inlong/tubemq/client/producer/SimpleMessageProducer.java
  inlong-tubemq/tubemq-client/src/main/java/org/apache/inlong/tubemq/client/producer/qltystats/DefaultBrokerRcvQltyStats.java
  inlong-tubemq/tubemq-connectors/tubemq-connector-flink/src/main/java/org/apache/flink/connectors/tubemq/TubemqSourceFunction.java
  inlong-tubemq/tubemq-connectors/tubemq-connector-flink/src/main/java/org/apache/flink/connectors/tubemq/TubemqTableSource.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/utils/ServiceStatusHolder.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corerpc/ResponseWrapper.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corerpc/RpcServiceFactory.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corerpc/benchemark/RcpService4BenchmarkClient.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corerpc/codec/PbEnDecoder.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corerpc/netty/ByteBufferInputStream.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corerpc/netty/ByteBufferOutputStream.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corerpc/netty/NettyClient.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corerpc/netty/NettyClientFactory.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corerpc/utils/MixUtils.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corerpc/utils/TSSLEngineUtil.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/BrokerServiceServer.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/metadata/BrokerDefMetadata.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/nodeinfo/ConsumerNodeInfo.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/common/offsetstorage/OffsetStorageInfo.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/common/offsetstorage/ZkOffsetStorage.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/common/offsetstorage/zookeeper/ZooKeeperWatcher.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/common/utils/Bytes.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/common/utils/ClientSyncInfo.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/common/utils/FileUtil.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/common/utils/HttpUtils.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/common/utils/RowLock.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/common/utils/Sleeper.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/TMaster.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/bdbstore/bdbentitys/BdbBrokerConfEntity.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/bdbstore/bdbentitys/BdbClusterSettingEntity.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/bdbstore/bdbentitys/BdbTopicConfEntity.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/metamanage/MetaDataManager.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/nodemanage/nodeconsumer/ConsumeGroupInfo.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/nodemanage/nodeconsumer/ConsumerInfo.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/web/common/BaseResult.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/web/simplemvc/RequestDispatcher.java
Labels: inlong-tubemq, improve

#2618 [INLONG-2617][Manager] Change the group status after the new group workflow was executed
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/ErrorCodeEnum.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/InlongGroupEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/mappers/InlongGroupEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/WorkflowEventLogEntityMapper.xml
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/ConsumptionServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/InlongGroupServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/InlongStreamServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/SourceDbServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/SourceFileServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/StreamSinkServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/thirdparty/sort/PushHiveConfigTaskListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/group/listener/GroupCancelProcessListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/group/listener/GroupCompleteProcessListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/group/listener/GroupFailedProcessListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/group/listener/GroupPassTaskListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/group/listener/GroupRejectProcessListener.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/WorkflowController.java
Labels: inlong-manager

#2630 [INLONG-2616] Optimize manager client and some Service Apis
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/DataSeparator.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/FlinkSortBaseConf.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/HiveSink.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/InlongGroupConf.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/InlongGroupInfo.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/InlongStream.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/InlongStreamBuilder.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/InlongStreamConf.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/PulsarBaseConf.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/auth/DefaultAuthentication.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/auth/SecretAuthentication.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/auth/SecretTokenAuthentication.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/auth/TokenAuthentication.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/DefaultInlongStreamBuilder.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/InlongClientImpl.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/InlongGroupImpl.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/InlongStreamImpl.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/InnerGroupContext.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/InnerInlongManagerClient.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/util/AssertUtil.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/util/GsonUtil.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/util/InlongGroupTransfer.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/util/InlongParser.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/util/InlongStreamTransfer.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/group/InlongGroupPulsarInfo.java
  inlong-manager/manager-dao/src/main/resources/mappers/InlongGroupEntityMapper.xml
  inlong-manager/manager-plugin-examples/pom.xml
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/InlongGroupServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/plugin/PluginService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/repository/DataProxyConfigRepository.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/plugin/PluginClassLoaderTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/mocks/MockPlugin.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/workflow/WorkflowServiceImplTest.java
  inlong-manager/manager-service/src/test/resources/plugins/manager-plugin-example.jar
  inlong-manager/manager-service/src/test/resources/plugins/manager-plugin-examples.jar
  inlong-manager/manager-test/src/main/resources/sql/apache_inlong_manager.sql
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
  inlong-manager/manager-workflow/src/main/java/org/apache/inlong/manager/workflow/definition/WorkflowTask.java
Labels: inlong-manager

#2628 [INLONG-2622][Improve][K8s] unify the names of components
  docker/kubernetes/templates/_helpers.tpl
  docker/kubernetes/templates/dashboard-service.yaml
  docker/kubernetes/templates/dashboard-statefulset.yaml
  docker/kubernetes/templates/manager-service.yaml
  docker/kubernetes/templates/manager-statefulset.yaml
  docker/kubernetes/templates/tubemq-broker-configmap.yaml
  docker/kubernetes/templates/tubemq-broker-ini-configmap.yaml
  docker/kubernetes/templates/tubemq-broker-pdb.yaml
  docker/kubernetes/templates/tubemq-broker-service.yaml
  docker/kubernetes/templates/tubemq-broker-statefulset.yaml
  docker/kubernetes/templates/tubemq-master-configmap.yaml
  docker/kubernetes/templates/tubemq-master-ini-configmap.yaml
  docker/kubernetes/templates/tubemq-master-pdb.yaml
  docker/kubernetes/templates/tubemq-master-service.yaml
  docker/kubernetes/templates/tubemq-master-statefulset.yaml
Labels: improve

#2629 [INLONG-2624][Dashboard] Modify the interface and parameters to adapt to changes in the Manager
  inlong-dashboard/src/components/AccessHelper/DataStorageEditor/DetailModal.tsx
  inlong-dashboard/src/components/AccessHelper/DataStorageEditor/Editor.tsx
  inlong-dashboard/src/components/AccessHelper/FieldsConfig/dataFields.tsx
  inlong-dashboard/src/components/ConsumeHelper/BusinessSelect/MyBusinessModal.tsx
  inlong-dashboard/src/components/ConsumeHelper/BusinessSelect/index.tsx
  inlong-dashboard/src/components/ConsumeHelper/FieldsConfig/basicFields.tsx
  inlong-dashboard/src/components/FormGenerator/FormGenerator.tsx
  inlong-dashboard/src/components/MetaData/StorageClickhouse.tsx
  inlong-dashboard/src/components/MetaData/StorageHive.tsx
  inlong-dashboard/src/i18n.ts
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/locales/en.json
  inlong-dashboard/src/pages/AccessCreate/Business/index.tsx
  inlong-dashboard/src/pages/AccessCreate/DataStream/config.tsx
  inlong-dashboard/src/pages/AccessCreate/DataStream/helper.ts
  inlong-dashboard/src/pages/AccessCreate/DataStream/index.tsx
  inlong-dashboard/src/pages/AccessCreate/index.tsx
  inlong-dashboard/src/pages/AccessDashboard/ExecutionLogModal.tsx
  inlong-dashboard/src/pages/AccessDashboard/index.tsx
  inlong-dashboard/src/pages/AccessDetail/Audit/config.tsx
  inlong-dashboard/src/pages/AccessDetail/DataSources/index.tsx
  inlong-dashboard/src/pages/AccessDetail/DataStorage/index.tsx
  inlong-dashboard/src/pages/AccessDetail/DataStream/StreamItemModal.tsx
  inlong-dashboard/src/pages/AccessDetail/DataStream/config.tsx
  inlong-dashboard/src/pages/AccessDetail/DataStream/index.tsx
  inlong-dashboard/src/pages/AccessDetail/Info/index.tsx
  inlong-dashboard/src/pages/AccessDetail/index.tsx
  inlong-dashboard/src/pages/ApprovalDetail/Access.tsx
  inlong-dashboard/src/pages/ApprovalDetail/AccessConfig.tsx
  inlong-dashboard/src/pages/ApprovalDetail/Steps.tsx
  inlong-dashboard/src/pages/ApprovalDetail/index.tsx
  inlong-dashboard/src/pages/Approvals/Applies/config.tsx
  inlong-dashboard/src/pages/Approvals/Approvals/config.tsx
Labels: inlong-dashboard, improve

#2656 [INLONG-2655][Manager] Fix non-null limit in sql file
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/cluster/ClusterRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/cluster/DataProxyClusterInfo.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/DataProxyClusterEntity.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/ThirdPartyClusterEntity.java
  inlong-manager/manager-dao/src/main/resources/mappers/DataProxyClusterEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/ThirdPartyClusterEntityMapper.xml
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/DataProxyClusterServiceImpl.java
  inlong-manager/manager-test/src/main/resources/sql/apache_inlong_manager.sql
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
Labels: inlong-manager

#2657 [INLONG-2636] Enable sort config generate when zookeeper is disabled;
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/util/InlongGroupTransfer.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/SinkFieldResponse.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sink/SinkResponse.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/ck/ClickHouseStreamSinkOperation.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/hive/HiveStreamSinkOperation.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/iceberg/IcebergStreamSinkOperation.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/thirdparty/sort/CreateSortConfigListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/thirdparty/sort/PushHiveConfigTaskListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/thirdparty/sort/PushSortConfigListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/thirdparty/sort/SinkInfoUtils.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/thirdparty/sort/SourceInfoUtils.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/thirdparty/sort/ZkDisabledEventSelector.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/thirdparty/sort/ZkEnabledEventSelector.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/ServiceTaskListenerFactory.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/group/SuspendGroupWorkflowDefinition.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/group/listener/GroupCompleteProcessListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/stream/CreateStreamWorkflowDefinition.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/thirdparty/sort/DisableZkForSortTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/workflow/WorkflowServiceImplTest.java
  inlong-manager/manager-test/src/main/resources/sql/apache_inlong_manager.sql
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
Labels: inlong-manager

#2637 [INLONG-2574][Feature][Manager] Defined source config response
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sort/SortSourceConfigResponse.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/SortService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/SortServiceImpl.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/openapi/SortController.java
Labels: inlong-manager

#2668 [INLONG-2667][Sort] Fix bugs that occur when starting up sort-single-tenant
  inlong-sort/pom.xml
  inlong-sort/sort-connectors/src/main/java/org/apache/inlong/sort/flink/hive/partition/RowPartitionComputer.java
Labels: inlong-sort

#2665 [INLONG-2663][Manager] Fix inconsistent fields in manager-client module
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/InnerInlongManagerClient.java
  inlong-manager/manager-workflow/src/main/java/org/apache/inlong/manager/workflow/definition/WorkflowTask.java
Labels: inlong-manager

#2658 [INLONG-2653][Manager] Support Kafka source in InLong Stream
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/binlog/BinlogSourceDTO.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/kafka/KafkaSourceDTO.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/kafka/KafkaSourceListResponse.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/kafka/KafkaSourceRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/kafka/KafkaSourceResponse.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/kafka/KafkaStreamSourceOperation.java
Labels: inlong-manager

#2648 [INLONG-2634][Sort]Support CHDFS filesystem when using hive sink
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/configuration/Constants.java
  inlong-sort/sort-single-tenant/pom.xml
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/hive/filesystems/CHDFSFsFactory.java
  inlong-sort/sort-single-tenant/src/main/resources/META-INF/services/org.apache.flink.core.fs.FileSystemFactory
Labels: inlong-sort

#2664 [INLONG-2662][Manager] Fix bug to avoid reinit of service task
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/workflow/WorkflowServiceImplTest.java
  inlong-manager/manager-workflow/src/main/java/org/apache/inlong/manager/workflow/definition/ServiceTask.java
Labels: inlong-manager

#2575 [INLONG-2382][Sort-sdk] Support Pulsar consumer of PB compression cache message protocol
  inlong-sdk/sort-sdk/pom.xml
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/api/Deserializer.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/api/InLongTopicFetcher.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/entity/InLongMessage.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/entity/MessageRecord.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/impl/InLongTopicManagerImpl.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/impl/decode/MessageDeserializer.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/impl/pulsar/InLongPulsarFetcherImpl.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/stat/SortClientStateCounter.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/util/Utils.java
  inlong-sdk/sort-sdk/src/test/java/org/apache/inlong/sdk/sort/impl/decode/MessageDeserializerTest.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/source/sortsdk/FetchCallback.java
Labels: inlong-sdk

#2672 [INLONG-2572][SDK] Fix sort-sdk unit test bug
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/impl/pulsar/InLongPulsarFetcherImpl.java
  inlong-sdk/sort-sdk/src/test/java/org/apache/inlong/sdk/sort/impl/InLongPulsarFetcherImplTest.java
  inlong-sdk/sort-sdk/src/test/java/org/apache/inlong/sdk/sort/impl/InLongTopicManagerImplTest.java
Labels: inlong-sdk

#2673 [INLONG-2660][Manager] Optimize inlong group state control
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/InlongGroupInfo.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/InlongGroupImpl.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/InnerInlongManagerClient.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/EntityStatus.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/GroupState.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/CommonOperateService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/InlongGroupProcessOperation.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/InlongGroupServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/group/listener/GroupCancelProcessListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/group/listener/GroupCompleteProcessListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/group/listener/GroupFailedProcessListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/group/listener/GroupRejectProcessListener.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/workflow/WorkflowServiceImplTest.java
Labels: inlong-manager

#2644 [INLONG-2642][Sort] Use proxy user to write hive
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/sink/HiveSinkInfo.java
  inlong-sort/sort-connectors/src/main/java/org/apache/inlong/sort/flink/hive/HiveWriter.java
Labels: inlong-sort

#2674 [INLONG-2586][Manager] Support agent get task from manager
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/pojo/JobProfileDto.java
  inlong-common/src/main/java/org/apache/inlong/common/pojo/agent/DataConfig.java
  inlong-common/src/main/java/org/apache/inlong/common/pojo/agent/TaskResult.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/SourceSnapshotRequest.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/StreamSourceEntity.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/StreamSourceEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/mappers/StreamSourceEntityMapper.xml
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/AgentTaskService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/AgentTaskServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/StreamSourceService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/StreamSourceServiceImpl.java
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/openapi/AgentController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/openapi/DBCollectorController.java
Labels: inlong-manager, inlong-agent

#2670 [INLONG-2568][DataProxy] Support dynamically getting TubeMq config from Manager
  inlong-common/src/main/java/org/apache/inlong/common/pojo/dataproxy/ThirdPartyClusterDTO.java
  inlong-common/src/main/java/org/apache/inlong/common/pojo/dataproxy/ThirdPartyClusterInfo.java
  inlong-dataproxy/conf/flume.conf
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/ConfigManager.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/RemoteConfigJson.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/holder/ThirdPartyClusterConfigHolder.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/pojo/ThirdPartyClusterConfig.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/MetaSink.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/PulsarSink.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/pulsar/PulsarClientService.java
  inlong-dataproxy/dataproxy-source/src/test/java/org/apache/inlong/dataproxy/config/loader/TestThirdPartyClusterConfigLoader.java
  inlong-dataproxy/dataproxy-source/src/test/java/org/apache/inlong/dataproxy/sink/TestPulsarSink.java
  inlong-dataproxy/dataproxy-source/src/test/resources/third_party_cluster.properties
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/DataProxyClusterService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/DataProxyClusterServiceImpl.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/openapi/DataProxyController.java
Labels: inlong-manager, inlong-dataproxy

#2691 [INLONG-2690][manager] Optimize group state in workflow
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/InlongGroupImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/InlongGroupServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/group/listener/GroupPassTaskListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/group/listener/InitGroupListener.java
Labels: inlong-manager

#2706 [INLONG-2689][Manager] Support report snapshot for source agent
  inlong-common/src/main/java/org/apache/inlong/common/pojo/agent/TaskSnapshotMessage.java
  inlong-common/src/main/java/org/apache/inlong/common/pojo/agent/TaskSnapshotRequest.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/StreamSourceEntity.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/StreamSourceEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/mappers/StreamSourceEntityMapper.xml
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/SourceSnapshotOperation.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/StreamSourceService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/StreamSourceServiceImpl.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/impl/AuditServiceTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/impl/InlongGroupServiceTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/impl/InlongStreamServiceTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/source/StreamSourceServiceTest.java
  inlong-manager/manager-test/src/main/resources/sql/apache_inlong_manager.sql
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/openapi/AgentController.java
Labels: inlong-manager

#2685 [INLONG-2684][Sort] Fix OOM for sort sdk unit test
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/impl/pulsar/InLongPulsarFetcherImpl.java
  inlong-sdk/sort-sdk/src/test/java/org/apache/inlong/sdk/sort/impl/InLongPulsarFetcherImplTest.java
  inlong-sdk/sort-sdk/src/test/java/org/apache/inlong/sdk/sort/impl/InLongTopicManagerImplTest.java
  inlong-sdk/sort-sdk/src/test/java/org/apache/inlong/sdk/sort/impl/decode/MessageDeserializerTest.java
Labels: inlong-sdk

#2679 [INLONG-2663][Manager] Update field type in manager sql script
  inlong-manager/manager-test/src/main/resources/sql/apache_inlong_manager.sql
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
Labels: inlong-manager

#2708 [INLONG-2707][Manager] Table name and field type was inconsistent in SQL and XML file
  inlong-manager/manager-dao/src/main/resources/mappers/DataSourceCmdConfigEntityMapper.xml
  inlong-manager/manager-test/src/main/resources/sql/apache_inlong_manager.sql
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
Labels: inlong-manager

#2627 [INLONG-2625][Sort] Support extracting data time in deserialization
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/configuration/Configuration.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/configuration/Constants.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/BuiltInFieldInfo.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/util/DefaultValueStrategy.java
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/flink/deserialization/DeserializationSchema.java
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/flink/deserialization/MultiTenancyDeserializer.java
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/flink/deserialization/MultiTenancyInLongMsgMixedDeserializer.java
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/flink/transformation/FieldMappingTransformer.java
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/util/CommonUtils.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/flink/transformation/FieldMappingTransformerTest.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/Entrance.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/deserialization/CallbackCollector.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/deserialization/DeserializationFunction.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/deserialization/FieldMappingTransformer.java
  inlong-sort/sort-single-tenant/src/test/java/org/apache/inlong/sort/singletenant/flink/deserialization/DeserializationFunctionTest.java
  inlong-sort/sort-single-tenant/src/test/java/org/apache/inlong/sort/singletenant/flink/deserialization/FieldMappingTransformerTest.java
Labels: inlong-sort

#2683 [INLONG-2682][Manager] Add stream metric and stream config log related interface
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/stream/InlongStreamConfigLogRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/stream/InlongStreamMetricRequest.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/StreamConfigLogEntity.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/StreamMetricEntity.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/StreamConfigLogEntityMapper.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/StreamMetricEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/generatorConfig.xml
  inlong-manager/manager-dao/src/main/resources/mappers/StreamConfigLogEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/StreamMetricEntityMapper.xml
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/StreamConfigLogService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/StreamMetricService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/AbstractService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/StreamConfigLogServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/StreamMetricServiceImpl.java
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/openapi/StreamConfigLogController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/openapi/StreamMetricController.java
Labels: inlong-manager

#2712 [INLONG-2711][Manager][SDK] Dataproxy-SDK gets manager IP list error
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/openapi/AgentController.java
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/utils/ServiceDiscoveryUtils.java
Labels: inlong-manager, inlong-sdk

#2696 [INLONG-2686][Feature] [Agent] Agent support snapshot for each task #2686
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/constant/JobConstants.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/plugin/Reader.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/job/JobWrapper.java
  inlong-agent/agent-core/src/test/java/org/apache/inlong/agent/task/TestTaskWrapper.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/SqlReader.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/TextFileReader.java
Labels: inlong-agent

#2716 [INLONG-2714][Manager] Fix SQL script for creating stream_source table
  inlong-manager/manager-test/src/main/resources/sql/apache_inlong_manager.sql
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
Labels: inlong-manager

#2722 [INLONG-2721][Sort] Fix bugs in HiveSinkInfo
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/sink/HiveSinkInfo.java
Labels: inlong-sort

#2710 [INLONG-2701][DataProxy] Fix NPE in manager-web because of proxy_custer_name is null
  inlong-dataproxy/conf/common.properties
Labels: inlong-dataproxy

#2726 [INLONG-2715][Manager] Support more parameters for the Binlog source entity
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/SourceRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/SourceResponse.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/binlog/BinlogSourceDTO.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/binlog/BinlogSourceListResponse.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/binlog/BinlogSourceRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/binlog/BinlogSourceResponse.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/kafka/KafkaSourceRequest.java
Labels: inlong-manager

#2695 [INLONG-2688][Agent] Agent support freeze and restart task when needed
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/job/JobManager.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/fetcher/ManagerFetcher.java
  inlong-common/src/main/java/org/apache/inlong/common/enums/ManagerOpEnum.java
Labels: inlong-agent

#2724 [INLONG-2723][Manager] Fix batch insert entities error in AbstractService
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/AbstractService.java
Labels: inlong-manager

#2729 [INLONG-2728][TubeMQ] Optimize the content of statistical metrics
  inlong-tubemq/tubemq-client/src/main/java/org/apache/inlong/tubemq/client/common/ClientStatsInfo.java
  inlong-tubemq/tubemq-client/src/main/java/org/apache/inlong/tubemq/client/common/StatsConfig.java
  inlong-tubemq/tubemq-client/src/main/java/org/apache/inlong/tubemq/client/common/StatsLevel.java
  inlong-tubemq/tubemq-client/src/main/java/org/apache/inlong/tubemq/client/common/TClientConstants.java
  inlong-tubemq/tubemq-client/src/main/java/org/apache/inlong/tubemq/client/config/TubeClientConfig.java
  inlong-tubemq/tubemq-client/src/main/java/org/apache/inlong/tubemq/client/consumer/BaseMessageConsumer.java
  inlong-tubemq/tubemq-client/src/main/java/org/apache/inlong/tubemq/client/consumer/FetchContext.java
  inlong-tubemq/tubemq-client/src/main/java/org/apache/inlong/tubemq/client/consumer/SimpleClientBalanceConsumer.java
  inlong-tubemq/tubemq-client/src/main/java/org/apache/inlong/tubemq/client/consumer/SimplePullMessageConsumer.java
  inlong-tubemq/tubemq-client/src/main/java/org/apache/inlong/tubemq/client/consumer/SimplePushMessageConsumer.java
  inlong-tubemq/tubemq-client/src/main/java/org/apache/inlong/tubemq/client/producer/ProducerManager.java
  inlong-tubemq/tubemq-client/src/main/java/org/apache/inlong/tubemq/client/producer/SimpleMessageProducer.java
  inlong-tubemq/tubemq-client/src/test/java/org/apache/inlong/tubemq/client/consumer/StatsConfigTest.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/metric/TrafficStatsUnit.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/stats/BrokerSrvStatsHolder.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/stats/MsgStoreStatsHolder.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/stats/TrafficStatsService.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/common/webbase/WebCallStatsHolder.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/stats/MasterSrvStatsHolder.java
Labels: inlong-tubemq, improve

#2739 [INLONG-2732][Manager] Support more parameters for Kafka source
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/kafka/KafkaSourceDTO.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/kafka/KafkaSourceListResponse.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/kafka/KafkaSourceRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/kafka/KafkaSourceResponse.java
Labels: inlong-manager

#2733 [INLONG-2731][Manager] Add deep clone method to service task, use prototype instead of singleton
  inlong-manager/manager-workflow/src/main/java/org/apache/inlong/manager/workflow/core/impl/WorkflowContextBuilderImpl.java
  inlong-manager/manager-workflow/src/main/java/org/apache/inlong/manager/workflow/definition/ServiceTask.java
  inlong-manager/manager-workflow/src/main/java/org/apache/inlong/manager/workflow/definition/UserTask.java
  inlong-manager/manager-workflow/src/main/java/org/apache/inlong/manager/workflow/definition/WorkflowTask.java
Labels: inlong-manager

#2744 [INLONG-2743][Manager] Support getting inlong workflow error for manager-client module
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/InnerInlongManagerClient.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/util/InlongParser.java
Labels: inlong-manager

#2740 [INLONG-2677][Manager] Get MQ cluster from database, remove local file configuration dependency
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/beans/ClusterBean.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/Constant.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/cluster/ClusterInfo.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/cluster/DataProxyClusterInfo.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/CommonOperateService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/DataProxyClusterServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/InlongGroupServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/thirdparty/mq/CreatePulsarGroupForStreamTaskListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/thirdparty/mq/CreatePulsarGroupTaskListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/thirdparty/mq/CreatePulsarResourceTaskListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/thirdparty/mq/CreatePulsarTopicForStreamTaskListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/thirdparty/mq/TubeMqOptService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/thirdparty/sort/CreateSortConfigListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/thirdparty/sort/PushSortConfigListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/thirdparty/sort/SourceInfoUtils.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/consumption/listener/ConsumptionCompleteProcessListener.java
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
  inlong-manager/manager-web/src/main/resources/application-dev.properties
Labels: inlong-manager

#2763 [INLONG-2620][TubeMQ] Add direct write to disk control
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/BrokerConfig.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/msgstore/MessageStore.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/msgstore/disk/MsgFileStore.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/msgstore/mem/MsgMemStore.java
  inlong-tubemq/tubemq-server/src/test/java/org/apache/inlong/tubemq/server/broker/msgstore/mem/MsgMemStoreTest.java
Labels: inlong-tubemq, improve

#2705 [INLONG-2676][Manager] Support stop / restart / finish agent task
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/GroupState.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/SourceState.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/SourceRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/binlog/BinlogSourceRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/source/kafka/KafkaSourceRequest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/InlongGroupServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/AbstractStreamSourceOperation.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/StreamSourceOperation.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/StreamSourceService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/StreamSourceServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/listener/AbstractSourceOperateListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/listener/SourceDeleteEventSelector.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/listener/SourceDeleteListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/listener/SourceRestartEventSelector.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/listener/SourceRestartListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/listener/SourceStopEventSelector.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/listener/SourceStopListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/thirdparty/sort/CreateSortConfigListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/thirdparty/sort/PushSortConfigListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/thirdparty/sort/util/SerializationUtils.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/thirdparty/sort/util/SinkInfoUtils.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/thirdparty/sort/util/SortFieldFormatUtils.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/thirdparty/sort/util/SourceInfoUtils.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/ServiceTaskListenerFactory.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/group/SuspendGroupWorkflowDefinition.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/impl/InlongGroupProcessOperationTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/source/listener/DataSourceListenerTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/thirdparty/sort/DisableZkForSortTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/workflow/WorkflowServiceImplTest.java
  inlong-manager/manager-test/pom.xml
  inlong-manager/manager-test/src/main/java/org/apache/inlong/manager/test/BaseTest.java
  inlong-manager/manager-test/src/main/resources/application-test.properties
  inlong-manager/manager-test/src/main/resources/db/migration/h2/V0__functions.sql
  inlong-manager/manager-test/src/main/resources/sql/apache_inlong_manager.sql
  inlong-manager/pom.xml
Labels: inlong-manager

#2767 [INLONG-2751][Manager] Fix the response code while query failing
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/ConfigManager.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/RemoteConfigJson.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/thirdparty/mq/CreateTubeGroupTaskListener.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/openapi/DataProxyController.java
Labels: inlong-manager, inlong-dataproxy

#2775 [INLONG-2774][Sort] Fix bugs in single-tenant
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/util/DefaultValueStrategy.java
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/flink/transformation/FieldMappingTransformer.java
  inlong-sort/sort-single-tenant/pom.xml
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/deserialization/FieldMappingTransformer.java
Labels: inlong-sort

#2766 [INLONG-2741][Manager] Inlong client adds an interface for querying inlong group
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/InlongClient.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/InlongClientImpl.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/InnerInlongManagerClient.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/util/InlongParser.java
Labels: inlong-manager

#2765 [INLONG-2764][Manager] Fix duplication key when extList already has the same key
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/thirdparty/sort/CreateSortConfigListener.java
Labels: inlong-manager

#2725 [INLONG-2666][Agent] Agent supports collecting the data from Kafka
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/constant/JobConstants.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/pojo/JobProfileDto.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/pojo/KafkaJob.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/job/JobWrapper.java
  inlong-agent/agent-plugins/pom.xml
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/channel/MemoryChannel.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/KafkaSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/TextFileSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/KafkaReader.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/snapshot/BinlogSnapshotBase.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/trigger/DirectoryTrigger.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/TestFileAgent.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/sinks/MockSink.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/sources/TestKafkaReader.java
  inlong-agent/pom.xml
Labels: inlong-agent

#2761 [INLONG-2735][Agent] Pull task from manager, then upadte task config
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/constant/JobConstants.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/pojo/BinlogJob.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/pojo/FileJob.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/pojo/Job.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/pojo/JobProfileDto.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/pojo/KafkaJob.java
  inlong-agent/agent-core/src/test/java/org/apache/inlong/agent/core/TestConfigJetty.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/fetcher/ManagerFetcher.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/BinlogReader.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/utils/TestUtils.java
  inlong-agent/agent-plugins/src/test/resources/fileAgent.trigger.json
  inlong-agent/agent-plugins/src/test/resources/fileAgentJob.json
  inlong-common/pom.xml
  inlong-common/src/main/java/org/apache/inlong/common/pojo/agent/DataConfig.java
Labels: inlong-agent

#2709 [INLONG-2693][Manager] Define tables and beans for getSortSource interface
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sort/SortSourceConfigResponse.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/SortSourceConfigEntity.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/SortSourceConfigEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/generatorConfig.xml
  inlong-manager/manager-dao/src/main/resources/mappers/SortSourceConfigEntityMapper.xml
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/openapi/SortController.java
Labels: inlong-manager
