Repository apache/inlong, pull requests merged in 2022-11, with the labels that each got.

#6344 [INLONG-6343][Manager] Fix the problem that the cluster tag is empty when saving cluster information
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/heartbeat/HeartbeatManager.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/cluster/InlongClusterServiceTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/heartbeat/HeartbeatManagerTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/impl/HeartbeatServiceTest.java
Labels: component/manager

#6355 [INLONG-6330][Dashboard] Other sinks support asynchronous loading of plugins
  inlong-dashboard/src/metas/sinks/defaults/Clickhouse.ts
  inlong-dashboard/src/metas/sinks/defaults/Es.ts
  inlong-dashboard/src/metas/sinks/defaults/Greenplum.ts
  inlong-dashboard/src/metas/sinks/defaults/HBase.ts
  inlong-dashboard/src/metas/sinks/defaults/Iceberg.ts
  inlong-dashboard/src/metas/sinks/defaults/Kafka.ts
  inlong-dashboard/src/metas/sinks/defaults/Mysql.ts
  inlong-dashboard/src/metas/sinks/defaults/Oracle.ts
  inlong-dashboard/src/metas/sinks/defaults/PostgreSql.ts
  inlong-dashboard/src/metas/sinks/defaults/SQLServer.ts
  inlong-dashboard/src/metas/sinks/defaults/TDSQLPostgreSql.ts
  inlong-dashboard/src/metas/sinks/defaults/index.ts
Labels: component/dashboard

#6348 [INLONG-6347][Manager] Add MQ type and fix NPE in the getSortSource method
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/SortSourceServiceImpl.java
Labels: component/manager

#6350 [INLONG-6349][Manager] StreamSinkClient support update/delete by key
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/client/StreamSinkClient.java
Labels: component/manager

#6346 [INLONG-6345][Sort] Add metrics for Doris connector
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/load/DorisLoadNode.java
  inlong-sort/sort-connectors/doris/src/main/java/org/apache/inlong/sort/doris/internal/GenericDorisSinkFunction.java
  inlong-sort/sort-connectors/doris/src/main/java/org/apache/inlong/sort/doris/model/RespContent.java
  inlong-sort/sort-connectors/doris/src/main/java/org/apache/inlong/sort/doris/table/DorisDynamicSchemaOutputFormat.java
  inlong-sort/sort-connectors/doris/src/main/java/org/apache/inlong/sort/doris/table/DorisDynamicTableFactory.java
  inlong-sort/sort-connectors/doris/src/main/java/org/apache/inlong/sort/doris/table/DorisDynamicTableSink.java
  inlong-sort/sort-connectors/doris/src/main/java/org/apache/inlong/sort/doris/table/DorisStreamLoad.java
  licenses/inlong-sort-connectors/LICENSE
Labels: component/sort

#6360 [INLONG-6359][Dashboard] The utils method adds null data compatibility
  inlong-dashboard/src/utils/index.ts
Labels: component/dashboard

#6358 [INLONG-6353][Sort] Fix delete event handle error for doris connector
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/format/CanalJsonDynamicSchemaFormat.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/format/DebeziumJsonDynamicSchemaFormat.java
  inlong-sort/sort-connectors/doris/src/main/java/org/apache/inlong/sort/doris/table/DorisDynamicSchemaOutputFormat.java
  inlong-sort/sort-connectors/doris/src/main/java/org/apache/inlong/sort/doris/table/DorisStreamLoad.java
Labels: component/sort

#6368 [INLONG-6366][Agent] Update position when data is successfully sent in order-send mode
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sinks/ProxySink.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sinks/SenderManager.java
Labels: component/agent

#6367 [INLONG-6365][Dashboard] Modify the options of the data type and modify some files name
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/locales/en.json
  inlong-dashboard/src/metas/sinks/defaults/ClickHouse.ts
  inlong-dashboard/src/metas/sinks/defaults/ES.ts
  inlong-dashboard/src/metas/sinks/defaults/MySQL.ts
  inlong-dashboard/src/metas/sinks/defaults/Oracle.ts
  inlong-dashboard/src/metas/sinks/defaults/PostgreSQL.ts
  inlong-dashboard/src/metas/sinks/defaults/SQLServer.ts
  inlong-dashboard/src/metas/sinks/defaults/TDSQLPostgreSQL.ts
  inlong-dashboard/src/metas/sinks/defaults/index.ts
  inlong-dashboard/src/metas/sources/defaults/MySQLBinlog.ts
  inlong-dashboard/src/metas/sources/defaults/index.ts
  inlong-dashboard/src/metas/streams/common/StreamDefaultInfo.ts
  inlong-dashboard/src/pages/Login/index.tsx
Labels: component/dashboard

#6351 [INLONG-6329][DataProxy] Add proxy-send mode message logic
  inlong-common/src/main/java/org/apache/inlong/common/enums/DataProxyErrCode.java
  inlong-common/src/main/java/org/apache/inlong/common/msg/AttributeConstants.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/base/SinkRspEvent.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/channel/FailoverChannelProcessor.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/channel/FailoverChannelSelector.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/consts/AttributeConstants.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/http/SimpleMessageHandler.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/EventStat.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/PulsarSink.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/TubeSink.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/pulsar/PulsarClientService.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/pulsar/SendMessageCallBack.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/pulsar/SinkTask.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/ServerMessageHandler.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/utils/MessageUtils.java
Labels: component/dataproxy

#6372 [INLONG-6371][Manager] Fix the lack of topic and cache zone properties in getSortSource
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/SortSourceServiceImpl.java
Labels: component/manager

#6377 [INLONG-6376][Agent] Refactor sink and complement send metric
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/message/BatchProxyMessage.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/message/PackProxyMessage.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sinks/AbstractSink.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sinks/ProxySink.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sinks/SenderManager.java
  inlong-common/src/main/java/org/apache/inlong/common/msg/AttributeConstants.java
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/utils/ProxyUtils.java
Labels: component/agent, component/sdk

#6386 [INLONG-6369][DataProxy] Use the defined message attribute Key value in InLong-Common
  inlong-common/src/main/java/org/apache/inlong/common/msg/AttributeConstants.java
  inlong-common/src/main/java/org/apache/inlong/common/msg/InLongMsg.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/base/ProxyMessage.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/channel/FailoverChannelSelector.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/ConfigHolder.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/ConfigManager.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/holder/MQClusterConfigHolder.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/consts/AttrConstants.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/dispatch/DispatchManager.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/http/MessageFilter.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/http/MessageProcessServlet.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/http/SimpleMessageHandler.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/metrics/DataProxyMetricItem.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/metrics/DataProxyMetricItemSet.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/metrics/audit/AuditUtils.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/PulsarSink.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/TubeSink.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/common/TubeUtils.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/pulsar/PulsarClientService.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/pulsar/SinkTask.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/DefaultServiceDecoder.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/ServerMessageHandler.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/SimpleMessageHandler.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/utils/MessageUtils.java
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/pb/metrics/SdkMetricItem.java
  inlong-sort-standalone/sort-standalone-common/src/main/java/org/apache/inlong/sort/standalone/metrics/SortMetricItem.java
Labels: component/dataproxy, component/sort, component/sdk

#6357 [INLONG-6356][Sort] Oracle connector supports precision and binary type
  inlong-sort/sort-connectors/oracle-cdc/src/main/java/org/apache/inlong/sort/cdc/oracle/debezium/table/RowDataDebeziumDeserializeSchema.java
  inlong-sort/sort-connectors/oracle-cdc/src/main/java/org/apache/inlong/sort/cdc/oracle/table/OracleReadableMetaData.java
Labels: component/sort

#6390 [INLONG-6389][Docker] Change the tube.conf to tubemq.conf
  inlong-agent/agent-docker/agent-docker.sh
  inlong-audit/audit-docker/audit-docker.sh
  inlong-audit/conf/audit-proxy-tubemq.conf
  inlong-dataproxy/conf/dataproxy-tubemq.conf
  inlong-dataproxy/dataproxy-docker/dataproxy-docker.sh
Labels: component/dataproxy, component/agent, component/audit, service/docker

#6394 [INLONG-6393][Common] Remove the usage of lombok
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/HeartbeatManager.java
  inlong-common/src/main/java/org/apache/inlong/common/enums/ComponentTypeEnum.java
  inlong-common/src/main/java/org/apache/inlong/common/enums/DataProxyErrCode.java
  inlong-common/src/main/java/org/apache/inlong/common/enums/DataTypeEnum.java
  inlong-common/src/main/java/org/apache/inlong/common/enums/ManagerOpEnum.java
  inlong-common/src/main/java/org/apache/inlong/common/enums/PullJobTypeEnum.java
  inlong-common/src/main/java/org/apache/inlong/common/enums/RowKindEnum.java
  inlong-common/src/main/java/org/apache/inlong/common/enums/TaskTypeEnum.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/heartbeat/HeartbeatManager.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/pulsar/PulsarClientService.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/ServerMessageHandler.java
  inlong-manager/manager-client/src/test/java/org/apache/inlong/manager/client/api/inner/HeartbeatClientTest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/util/ExtractNodeUtils.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/util/LoadNodeUtils.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/heartbeat/HeartbeatServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/pulsar/PulsarSourceOperator.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/cluster/InlongClusterServiceTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/heartbeat/HeartbeatManagerTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/impl/HeartbeatServiceTest.java
Labels: component/manager, component/dataproxy, component/agent

#6396 [INLONG-6395][Manager] Fix wrong annotation in InlongStreamApi delete method
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/service/InlongStreamApi.java
Labels: component/manager

#6388 [INLONG-6387][Manager] Adapt auto-push source status and fix source field update
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/AbstractSourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/autopush/AutoPushSourceOperator.java
Labels: component/manager

#6403 [INLONG-6373][Sort] Fix the time value when data type is datetime and timestamp
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/debezium/table/RowDataDebeziumDeserializeSchema.java
Labels: component/sort

#6400 [INLONG-6397][Dashboard] Support management for MySQL data node
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/locales/en.json
  inlong-dashboard/src/metas/nodes/defaults/MySQL.ts
  inlong-dashboard/src/metas/nodes/defaults/index.ts
Labels: component/dashboard

#6381 [INLONG-6379][Sort] Iceberg misses metric data in multiple sink scenes
  inlong-sort/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/FlinkSink.java
  inlong-sort/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/multiple/IcebergMultipleStreamWriter.java
Labels: component/sort

#6408 [INLONG-6370][Sort] The op type in debezium format should be u or update
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/table/MySqlReadableMetadata.java
Labels: component/sort

#6411 [INLONG-6410][Manager] Ensure that the additional parameters of group and stream can be saved
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/util/CommonBeanUtils.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/consume/BaseInlongConsume.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/consume/InlongConsumeInfo.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/consume/InlongConsumeRequest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/consume/pulsar/ConsumePulsarDTO.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/consume/tubemq/ConsumeTubeMQDTO.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/group/kafka/InlongKafkaDTO.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/group/pulsar/InlongPulsarDTO.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/group/tubemq/InlongTubeMQDTO.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/group/InlongGroupOperator4TubeMQ.java
Labels: component/manager

#6414 [INLONG-6412][Manager] Add a parameter to control whether to initiate the process for StreamSink
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/client/StreamSinkClient.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sink/SinkRequest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/node/DataNodeOperateHelper.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/node/DataNodeService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/node/DataNodeServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/AbstractSinkOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/StreamSinkService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/StreamSinkServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/AbstractSourceOperator.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/sink/ClickHouseSinkServiceTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/sink/DLCIcebergSinkServiceTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/sink/ElasticsearchSinkServiceTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/sink/GreenplumSinkServiceTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/sink/HBaseSinkServiceTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/sink/HDFSStreamSinkServiceTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/sink/HiveSinkServiceTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/sink/IcebergSinkServiceTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/sink/KafkaSinkServiceTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/sink/MySQLSinkServiceTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/sink/MySQLStreamSinkServiceTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/sink/OracleSinkServiceTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/sink/PostgreSQLSinkServiceTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/sink/SQLServerSinkServiceTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/sink/TDSQLPostgreSQLSinkServiceTest.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/StreamSinkController.java
Labels: component/manager

#6319 [INLONG-6318][Sort] MySQL connector supports snapshots and restores the metric state
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/debezium/DebeziumSourceFunction.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/source/MySqlSource.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/source/metrics/MySqlSourceReaderMetrics.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/source/reader/MySqlRecordEmitter.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/source/reader/MySqlSourceReader.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/source/split/MySqlMetricSplit.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/source/split/MySqlSplit.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/source/split/MySqlSplitSerializer.java
Labels: component/sort

#6416 [INLONG-6415][Manager] Fix json serialization failure in SortSourceService
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/standalone/SortSourceClusterInfo.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/standalone/SortSourceGroupInfo.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/standalone/SortSourceStreamSinkInfo.java
Labels: component/manager

#6420 [INLONG-6419][TubeMQ] Correct some misuse of META_DEFAULT_BROKER_PORT
  inlong-tubemq/tubemq-client/src/main/java/org/apache/inlong/tubemq/client/consumer/RmtDataCache.java
  inlong-tubemq/tubemq-client/src/main/java/org/apache/inlong/tubemq/client/producer/ProducerManager.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/utils/DataConverterUtil.java
  inlong-tubemq/tubemq-core/src/test/java/org/apache/inlong/tubemq/corerpc/codec/DataConverterUtilTest.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/bdbstore/bdbentitys/BdbBrokerConfEntity.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/metamanage/metastore/dao/entity/BrokerConfEntity.java
Labels: component/tubemq

#6413 [INLONG-6406][DataProxy] Support creating sink dynamically after starting
  inlong-common/src/main/java/org/apache/inlong/common/enums/DataProxyErrCode.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/ConfigManager.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/remote/ConfigMessageServlet.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/http/MessageFilter.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/http/MessageProcessServlet.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/http/StatusCode.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/PulsarSink.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/TubeSink.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/common/TubeProducerHolder.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/pulsar/PulsarClientService.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/ServerMessageHandler.java
Labels: component/dataproxy

#6425 [INLONG-6421][TubeMQ] Fix the host is blank error
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/bdbstore/bdbentitys/BdbBrokerConfEntity.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/metamanage/DefaultMetaDataService.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/metamanage/metastore/dao/entity/BrokerConfEntity.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/nodemanage/nodebroker/DefBrokerRunManager.java
Labels: component/tubemq, type/bug

#6441 [INLONG-6439][DataProxy] Added service status and load fields in heartbeat request
  inlong-common/src/main/java/org/apache/inlong/common/enums/NodeSrvStatus.java
  inlong-common/src/main/java/org/apache/inlong/common/heartbeat/ComponentHeartbeat.java
  inlong-common/src/main/java/org/apache/inlong/common/heartbeat/HeartbeatMsg.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/heartbeat/HeartbeatManager.java
Labels: component/dataproxy

#6445 [INLONG-6422][TubeMQ] Deleting the topic was unsuccessful
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/msgstore/MessageStoreManager.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/metamanage/metastore/dao/entity/TopicDeployEntity.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/metamanage/metastore/impl/AbsConsumeCtrlMapperImpl.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/metamanage/metastore/impl/AbsTopicDeployMapperImpl.java
Labels: component/tubemq

#6447 [INLONG-6446][TubeMQ] Fix misuse of SECT_TOKEN_BROKER
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/MasterConfig.java
Labels: component/tubemq

#6443 [INLONG-6430][Release] Add the 1.4.0 version option for the bug report
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: service/ci

#6450 [INLONG-6423][TubeMQ] Consumer registration failed due to BDB error
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/offset/OffsetRecordService.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/TMaster.java
Labels: component/tubemq, 1.4.x/bugfix

#6454 [INLONG-6418][Dashboard] Support management of MongoDB source
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/locales/en.json
  inlong-dashboard/src/metas/sources/defaults/Mongodb.ts
  inlong-dashboard/src/metas/sources/defaults/index.ts
Labels: component/dashboard, 1.4.x/bugfix

#6444 [INLONG-6440][Manager] Fix heart beat information error for ip
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/heartbeat/HeartbeatManager.java
Labels: component/manager, 1.4.x/bugfix

#6460 [INLONG-6459][CI] Match the branch-version as release branch
  .github/workflows/ci_docker.yml
Labels: service/ci, 1.4.x/bugfix

#6437 [INLONG-6417][SDK] Support proxy-send mode
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/DefaultMessageSender.java
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/utils/ProxyUtils.java
Labels: component/sdk, 1.4.x/bugfix

#6458 [INLONG-6435][Release] Change the tag of Docker images to 1.4.0
  conf/inlong.conf
  docker/docker-compose/.env
  docker/kubernetes/values.yaml
  inlong-agent/agent-docker/README.md
  inlong-audit/audit-docker/README.md
  inlong-dataproxy/dataproxy-docker/README.md
  inlong-manager/manager-docker/README.md
  inlong-tubemq/tubemq-docker/tubemq-all/README.md
  inlong-tubemq/tubemq-docker/tubemq-manager/README.md
Labels: component/tubemq, component/manager, component/dataproxy, component/agent, component/audit, service/docker, service/k8s

#6424 [INLONG-6409][Sort] Unspported Time and Timestamp iceberg auto create table in spark session query
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/Constants.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/format/AbstractDynamicSchemaFormat.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/format/CanalJsonDynamicSchemaFormat.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/format/DebeziumJsonDynamicSchemaFormat.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/format/DynamicSchemaFormatFactory.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/format/JsonDynamicSchemaFormat.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/format/JsonToRowDataConverters.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/sink/MultipleSinkOption.java
  inlong-sort/sort-connectors/base/src/test/java/org/apache/inlong/sort/base/format/CanalJsonDynamicSchemaFormatTest.java
  inlong-sort/sort-connectors/base/src/test/java/org/apache/inlong/sort/base/format/DebeziumJsonDynamicSchemaFormatTest.java
  inlong-sort/sort-connectors/base/src/test/java/org/apache/inlong/sort/base/format/DebeziumJsonDynamicSchemaFormatWithSchemaTest.java
  inlong-sort/sort-connectors/doris/src/main/java/org/apache/inlong/sort/doris/table/DorisDynamicTableFactory.java
  inlong-sort/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/FlinkDynamicTableFactory.java
  inlong-sort/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/IcebergTableSink.java
  inlong-sort/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/multiple/DynamicSchemaHandleOperator.java
  inlong-sort/sort-connectors/kafka/src/main/java/org/apache/inlong/sort/kafka/table/KafkaDynamicTableFactory.java
Labels: component/sort, 1.4.x/bugfix

#6469 [INLONG-6456][Dashboard] Supports management of Oracle sources
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/locales/en.json
  inlong-dashboard/src/metas/sources/defaults/Oracle.ts
  inlong-dashboard/src/metas/sources/defaults/index.ts
Labels: component/dashboard

#6455 [INLONG-6451][Manager] Optimize the resource process of Kafka MQ
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/group/kafka/InlongKafkaDTO.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/group/kafka/InlongKafkaInfo.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/group/kafka/InlongKafkaRequest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/queue/kafka/KafkaOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/queue/kafka/KafkaResourceOperators.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/queue/kafka/KafkaUtils.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/kafka/KafkaSourceOperator.java
Labels: component/manager, 1.4.x/bugfix

#6427 [INLONG-6426][Manager] SortSourceService support multi stream under one group
  inlong-manager/manager-dao/src/main/resources/mappers/InlongStreamEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/StreamSinkEntityMapper.xml
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/standalone/SortSourceStreamInfo.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/standalone/SortSourceStreamSinkInfo.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/SortSourceServiceImpl.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/sort/SortServiceImplTest.java
Labels: component/manager, 1.4.x/bugfix

#6461 [INLONG-6382][Sort] Iceberg data is messed up when the source table has no primary key in multiple sink scenes
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/Constants.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/sink/MultipleSinkOption.java
  inlong-sort/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/FlinkDynamicTableFactory.java
  inlong-sort/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/IcebergTableSink.java
  inlong-sort/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/FlinkSink.java
  inlong-sort/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/multiple/IcebergMultipleStreamWriter.java
Labels: component/sort, 1.4.x/bugfix

#6474 [INLONG-6471][Sort] MySQL connector metric restore lost init data for using sourceFunction
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/debezium/DebeziumSourceFunction.java
Labels: component/sort, 1.4.x/bugfix

#6472 [INLONG-6379][Sort] Complement iceberg multiple sink metric data compute
  inlong-sort/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/multiple/IcebergMultipleStreamWriter.java
Labels: component/sort, 1.4.x/bugfix

#6476 [INLONG-6475][Docker] Add a base flink environment for docker-compose
  docker/docker-compose/docker-compose.yml
Labels: service/docker, 1.4.x/bugfix

#6480 [INLONG-6477][Manager] Add consume API in the manager client
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/InlongConsume.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/InlongConsumeImpl.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/client/ClientFactory.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/client/InlongConsumeClient.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/service/InlongConsumeApi.java
  inlong-manager/manager-client/src/test/java/org/apache/inlong/manager/client/api/inner/ClientFactoryTest.java
  inlong-manager/manager-client/src/test/java/org/apache/inlong/manager/client/api/inner/InlongConsumeClientTest.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/InlongConsumeController.java
Labels: component/manager, 1.4.x/bugfix

#6478 [INLONG-6470][Dashboard] Supports management of PostgreSQL source
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/locales/en.json
  inlong-dashboard/src/metas/sources/defaults/PostgreSQL.ts
  inlong-dashboard/src/metas/sources/defaults/index.ts
Labels: component/dashboard

#6483 [INLONG-6482][Dashboard] Sink management distinguishes between save-only and save-and-submit processes
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/locales/en.json
  inlong-dashboard/src/metas/groups/defaults/index.ts
  inlong-dashboard/src/pages/GroupDetail/DataStorage/DetailModal.tsx
  inlong-dashboard/src/pages/GroupDetail/DataStorage/index.tsx
Labels: component/dashboard

#6464 [INLONG-6463][Manager] Support create subscription and topic of multiple pulsar cluster
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/queue/pulsar/PulsarResourceOperator.java
Labels: component/manager, 1.4.x/bugfix

#6203 [INLONG-6176][Agent] Support collect data from Oracle
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/constant/OracleConstants.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/pojo/JobProfileDto.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/pojo/OracleJob.java
  inlong-agent/agent-plugins/pom.xml
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/OracleSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/AbstractReader.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/BinlogReader.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/MongoDBReader.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/OracleReader.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/PostgreSQLReader.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/SQLServerReader.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/snapshot/OracleSnapshotBase.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/sources/TestOracleConnect.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/sources/TestOracleReader.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/sources/TestOracleSource.java
  pom.xml
Labels: component/agent

#6488 [INLONG-6406][DataProxy] Should support creating sink dynamically after started (addendum)
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/PulsarSink.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/TubeSink.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/common/TubeProducerHolder.java
Labels: component/dataproxy, 1.4.x/bugfix

#6492 [INLONG-6491][Manager] Support getting backup info in getAllConfig
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/repository/DataProxyConfigRepository.java
Labels: component/manager, 1.4.x/bugfix

#6490 [INLONG-6481][Dashboard] Supports management of SQLServer source
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/locales/en.json
  inlong-dashboard/src/metas/sources/defaults/SQLServer.ts
  inlong-dashboard/src/metas/sources/defaults/index.ts
Labels: component/dashboard

#6486 [INLONG-6484][Sort] Fix schema update circular dependency error in multiple sink iceberg scenes
  inlong-sort/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/multiple/DynamicSchemaHandleOperator.java
Labels: component/sort, 1.4.x/bugfix

#6046 [INLONG-6044][Manager] Distinguish between group and stream configuration processes
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/WorkflowProcessEntity.java
  inlong-manager/manager-dao/src/main/resources/mappers/WorkflowProcessEntityMapper.xml
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/workflow/ProcessRequest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/workflow/TaskLogRequest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/workflow/form/process/StreamResourceProcessForm.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/listener/group/InitGroupCompleteListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/listener/group/InitGroupListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/listener/queue/QueueResourceListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/listener/queue/StreamQueueResourceListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/listener/sort/SortConfigListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/listener/stream/InitStreamCompleteListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/queue/kafka/KafkaResourceOperators.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/queue/pulsar/PulsarResourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/sort/DefaultSortConfigOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/stream/InlongStreamProcessService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/WorkflowServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/group/CreateGroupWorkflowDefinition.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/group/DeleteGroupWorkflowDefinition.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/stream/CreateStreamWorkflowDefinition.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/stream/DeleteStreamWorkflowDefinition.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/workflow/group/CreateGroupWorkflowDefinitionTest.java
  inlong-manager/manager-test/src/main/resources/h2/apache_inlong_manager.sql
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
  inlong-manager/manager-workflow/src/main/java/org/apache/inlong/manager/workflow/processor/StartEventProcessor.java
Labels: component/manager, 1.4.x/bugfix

#6494 [INLONG-6493][Dashboard] After the Stream is configured successfully, some parameters cannot be modified
  inlong-dashboard/src/metas/streams/common/StreamDefaultInfo.ts
  inlong-dashboard/src/pages/GroupDetail/DataStream/StreamItemModal.tsx
Labels: component/dashboard, 1.4.x/bugfix

#6503 [INLONG-6502][Manager] Optimize some log and code formats
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/consts/InlongConstants.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/ClusterStatus.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/GroupStatus.java
  inlong-manager/manager-dao/src/test/java/org/apache/inlong/manager/dao/RestTemplateConfig.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/flink/TaskRunService.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/listener/DeleteSortListener.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/listener/DeleteStreamListener.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/util/FlinkUtils.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sink/mysql/MySQLSinkDTO.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/SortConfigLoader.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/AbstractService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/group/InlongGroupProcessService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/heartbeat/HeartbeatManager.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/listener/queue/QueueResourceListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/listener/sort/SortConfigListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/operationlog/OperationLogPool.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/queue/kafka/KafkaResourceOperators.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/queue/pulsar/PulsarOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/queue/pulsar/PulsarResourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/sink/es/ElasticsearchConfig.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/sink/mysql/MySQLJdbcUtils.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/sink/mysql/MySQLResourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/sort/DefaultSortConfigOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/AbstractSourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/SourceSnapshotOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/pulsar/PulsarSourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/stream/InlongStreamProcessService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/stream/InlongStreamServiceImpl.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/RestTemplateConfig.java
  inlong-manager/manager-test/src/main/resources/application-unit-test.properties
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/auth/openapi/OpenAPIFilter.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/auth/web/AuthenticationFilter.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/config/RestTemplateConfig.java
  inlong-manager/manager-web/src/main/resources/application-prod.properties
  inlong-manager/manager-web/src/main/resources/application-test.properties
  inlong-manager/manager-workflow/src/main/java/org/apache/inlong/manager/workflow/event/process/ProcessEventListener.java
  inlong-manager/manager-workflow/src/main/java/org/apache/inlong/manager/workflow/processor/ServiceTaskProcessor.java
  inlong-manager/manager-workflow/src/main/java/org/apache/inlong/manager/workflow/processor/StartEventProcessor.java
Labels: component/manager

#6489 [INLONG-6487][Manager] Add API to force delete the stream source
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/StreamSource.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/StreamSourceImpl.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/client/StreamSourceClient.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/service/StreamSourceApi.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/StreamSourceEntityMapper.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/StreamSourceFieldEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/mappers/StreamSourceEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/StreamSourceFieldEntityMapper.xml
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/StreamSourceService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/StreamSourceServiceImpl.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/StreamSourceController.java
Labels: component/manager, 1.4.x/bugfix

#6499 [INLONG-6498][Dashboard] Field Resolution for Unified Group Approval
  inlong-dashboard/src/components/FormGenerator/plugins.tsx
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/locales/en.json
  inlong-dashboard/src/pages/ProcessDetail/Group.tsx
  inlong-dashboard/src/pages/ProcessDetail/GroupConfig.tsx
  inlong-dashboard/src/pages/ProcessDetail/index.tsx
Labels: component/dashboard

#6506 [INLONG-6505][Manager] Support Kafka MQ in Inlong Consume
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/consume/kafka/ConsumeKafkaDTO.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/consume/kafka/ConsumeKafkaInfo.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/consume/kafka/ConsumeKafkaRequest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/consume/ConsumeKafkaOperator.java
Labels: component/manager, 1.4.x/bugfix

#6509 [INLONG-6504][Dashboard] Support stream to view execution log and execute workflow
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/locales/en.json
  inlong-dashboard/src/pages/GroupDetail/DataStream/ExecutionLogModal.tsx
  inlong-dashboard/src/pages/GroupDetail/DataStream/index.tsx
Labels: component/dashboard, 1.4.x/bugfix

#6513 [INLONG-6510][Docker] Exclude ClickHouse SQL file in audit for docker mode
  inlong-distribution/src/main/assemblies/release.xml
Labels: service/docker, 1.4.x/bugfix

#6512 [INLONG-6511][Dashboard] The Select/AutoComplete component in EditableTable will mistakenly change the value and cause re-rendering
  inlong-dashboard/src/components/EditableTable/index.tsx
Labels: component/dashboard, 1.4.x/bugfix

#6514 [INLONG-5024][Manager] Improve the delete operation of InlongGroup
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/ErrorCodeEnum.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/group/InlongGroupProcessService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/group/InlongGroupService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/group/InlongGroupServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/listener/group/UpdateGroupCompleteListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/listener/group/UpdateGroupFailedListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/stream/InlongStreamService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/stream/InlongStreamServiceImpl.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/InlongGroupController.java
Labels: component/manager

#6519 [INLONG-6515][Manager] Fix the NullPointerException for the cache configuration of DataProxy
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/repository/DataProxyConfigRepository.java
Labels: component/manager

#6527 [INLONG-6525][Manager] Update the status of stream and source after the group configuration is completed
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/listener/group/InitGroupCompleteListener.java
Labels: component/manager, 1.4.x/bugfix

#6528 [INLONG-6526][Manager] Fix the manager-client force delete the stream source failed
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/StreamSourceController.java
Labels: component/manager, 1.4.x/bugfix

#6524 [INLONG-6517][Manager] Support delete stream sink when the inlong group was config_failed
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/GroupStatus.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/SimpleGroupStatus.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/SinkStatus.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/StreamStatus.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/group/InlongGroupServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/stream/InlongStreamProcessService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/stream/InlongStreamServiceImpl.java
Labels: component/manager

#6534 [INLONG-6533][Manager] Fix the problem of manager did not distribute the task according to the clusterName
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/StreamSourceEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/mappers/StreamSourceEntityMapper.xml
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/AgentServiceImpl.java
Labels: component/manager, 1.4.x/bugfix

#6540 [INLONG-6537][Sort] Fix the decimal type loss of precision during DDL synchronization
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/format/JsonDynamicSchemaFormat.java
Labels: component/sort

#6532 [INLONG-6531][Manager] Add load value in the response of getIpList method
  inlong-common/src/main/java/org/apache/inlong/common/pojo/dataproxy/DataProxyNodeInfo.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/InlongClusterNodeEntity.java
  inlong-manager/manager-dao/src/main/resources/mappers/InlongClusterNodeEntityMapper.xml
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/cluster/ClusterNodeRequest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/cluster/ClusterNodeResponse.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/InlongClusterServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/heartbeat/HeartbeatManager.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/cluster/InlongClusterServiceTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/heartbeat/HeartbeatManagerTest.java
  inlong-manager/manager-test/src/main/resources/h2/apache_inlong_manager.sql
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
Labels: component/manager

#6543 [INLONG-6535][TubeMQ] The storage space used by the offset of TubeMQ broker is too large
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/BrokerServiceServer.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/msgstore/MessageStoreManager.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/msgstore/StoreService.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/offset/DefaultOffsetManager.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/offset/OffsetCsmItem.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/offset/OffsetCsmRecord.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/offset/OffsetHistoryInfo.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/offset/OffsetRecordInfo.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/offset/OffsetRecordService.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/offset/OffsetService.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/common/TServerConstants.java
Labels: component/tubemq

#6539 [INLONG-6538][Sort] Fix wrong bool type convert in multiple sink scenes
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/format/JsonToRowDataConverters.java
Labels: component/sort

#6508 [INLONG-6507][Sort] Convert date to timestamp in oracle connector
  inlong-sort/sort-connectors/oracle-cdc/src/main/java/org/apache/inlong/sort/cdc/oracle/debezium/table/RowDataDebeziumDeserializeSchema.java
Labels: component/sort, 1.4.x/bugfix

#6530 [INLONG-6529][Sort] Fix microtime time zone error in mysql connector
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/debezium/table/RowDataDebeziumDeserializeSchema.java
Labels: component/sort, 1.4.x/bugfix

#6551 [INLONG-6550][SDK] Fix the decode heartbeat response error
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/codec/EncodeObject.java
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/codec/ProtocolDecoder.java
Labels: component/sdk

#6520 [INLONG-6515][Manager] NPE is thrown in the cache configuration of DataProxy
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/repository/DataProxyConfigRepository.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/repository/DataProxyConfigRepositoryTest.java
Labels: component/manager, 1.4.x/bugfix

#6547 [INLONG-6544][Manager] Should update the source status after the inlong stream is completed
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/listener/group/InitGroupCompleteListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/listener/stream/InitStreamCompleteListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/sort/DefaultSortConfigOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/stream/InlongStreamService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/stream/InlongStreamServiceImpl.java
Labels: component/manager, 1.4.x/bugfix

#6553 [INLONG-6531][Manager] Add load value in the response of getIpList method (addendum)
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/heartbeat/HeartbeatManager.java
Labels: component/manager

#6556 [INLONG-6555][CI] Update for set-output command is deprecated
  .github/workflows/ci_docker.yml
Labels: service/ci

#6554 [INLONG-6552][Sort] Fix MicroTimestamp error in oracle connector
  inlong-sort/sort-connectors/oracle-cdc/src/main/java/org/apache/inlong/sort/cdc/oracle/debezium/table/RowDataDebeziumDeserializeSchema.java
Labels: component/sort, 1.4.x/bugfix

#6549 [INLONG-6548][Sort] Optimize metadata field naming for format of canal-json
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/extract/KafkaExtractNode.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/load/KafkaLoadNode.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/node/extract/KafkaExtractNodeTest.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/node/load/KafkaLoadNodeTest.java
  inlong-sort/sort-formats/format-json/src/main/java/org/apache/inlong/sort/formats/json/canal/CanalJsonEnhancedDecodingFormat.java
  inlong-sort/sort-formats/format-json/src/main/java/org/apache/inlong/sort/formats/json/canal/CanalJsonEnhancedDeserializationSchema.java
  inlong-sort/sort-formats/format-json/src/main/java/org/apache/inlong/sort/formats/json/canal/CanalJsonEnhancedEncodingFormat.java
  inlong-sort/sort-formats/format-json/src/main/java/org/apache/inlong/sort/formats/json/canal/CanalJsonEnhancedSerializationSchema.java
Labels: component/sort

#6546 [INLONG-6542][Dashboard] Optimize stream execution workflow and execution log
  inlong-dashboard/src/pages/GroupDashboard/ExecutionLogModal.tsx
  inlong-dashboard/src/pages/GroupDetail/DataStream/ExecutionLogModal.tsx
  inlong-dashboard/src/pages/GroupDetail/DataStream/index.tsx
Labels: component/dashboard

#6557 [INLONG-6555][CI] Update for set-output command is deprecated (addendum)
  .github/workflows/ci_chart_test.yml
Labels: service/ci

#6523 [INLONG-6522][Docker] Add notes for building arm images
  .github/workflows/ci_docker.yml
  docker/build-docker-images.sh
Labels: service/ci, service/docker

#6573 [INLONG-6572][Dashboard] Stream is not deleted by default when the sink is deleted
  inlong-dashboard/src/pages/GroupDetail/DataStorage/index.tsx
Labels: component/dashboard

#6569 [INLONG-6568][Manager] Not modify the status of the deleted source
  inlong-manager/manager-dao/src/main/resources/mappers/StreamSourceEntityMapper.xml
Labels: component/manager

#6566 [INLONG-6565][Dashboard] The operation of refreshing the sink configuration needs to be executed when the group configuration is successful
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/locales/en.json
  inlong-dashboard/src/pages/GroupDetail/DataStorage/DetailModal.tsx
Labels: component/dashboard

#6562 [INLONG-6561][Manager] Fix the InlongGroup cannot be deleted
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/group/InlongGroupServiceImpl.java
Labels: component/manager

#6564 [INLONG-6563][Manager] It should throw error info when deleting an inlong group failed
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/group/InlongGroupProcessService.java
Labels: component/manager

#6501 [INLONG-6497][Manager] Support Elasticsearch cluster
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/ClusterType.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/cluster/es/ElasticsearchClusterDTO.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/cluster/es/ElasticsearchClusterInfo.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/cluster/es/ElasticsearchClusterRequest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/ElasticsearchClusterOperator.java
Labels: component/manager

#6571 [INLONG-6570][Manager] Ignore the length of the field when building sort config
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/consts/InlongConstants.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/FieldType.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/util/FieldInfoUtils.java
Labels: component/manager

#6219 [INLONG-6153][DataProxy] Optimize the sink architecture
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/holder/IdTopicConfigHolder.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/common/DefaultEventHandler.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/common/EventHandler.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/common/SinkContext.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/mq/BatchPackManager.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/mq/BatchPackProfile.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/mq/BatchPackProfileCallback.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/mq/MessageQueueClusterProducer.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/mq/MessageQueueHandler.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/mq/MessageQueueZoneProducer.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/mq/MessageQueueZoneSink.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/mq/MessageQueueZoneSinkContext.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/mq/MessageQueueZoneWorker.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/mq/OrderBatchPackProfileV0.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/mq/SimpleBatchPackProfileV0.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/mq/kafka/KafkaHandler.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/mq/pulsar/PulsarHandler.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/mq/tube/TubeHandler.java
Labels: component/dataproxy

#6521 [INLONG-6496][Manager] Support Elasticsearch DataNode
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/node/es/ElasticsearchDataNodeDTO.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/node/es/ElasticsearchDataNodeInfo.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/node/es/ElasticsearchDataNodeRequest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/node/es/ElasticsearchDataNodeOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/es/ElasticsearchSinkOperator.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/impl/DataNodeServiceTest.java
Labels: component/manager

#6582 [INLONG-6581][Dashboard] The file format prompt of the FILE source is error
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/locales/en.json
Labels: component/dashboard

#6596 [INLONG-6592][DataProxy] Fix the problem of missing OrderEvent
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/mq/OrderBatchPackProfileV0.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/mq/SimpleBatchPackProfileV0.java
Labels: component/dataproxy

#6589 [INLONG-6588][SDK] Change the NumberUtils dependency of Sort-Sdk
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/api/SortClientConfig.java
Labels: component/sdk

#6603 [INLONG-6602][DataProxy] Fix the IP config was invalid
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/BaseSource.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/ConfStringUtils.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/utils/ConfStringUtils.java
Labels: component/dataproxy

#6606 [INLONG-6516][Manager] Skip starting the Sort task in the InlongStream workflow
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/listener/StartupStreamListener.java
Labels: component/manager

#6605 [INLONG-6604][DataProxy] Fix can not get the local IP in the docker container
  inlong-dataproxy/dataproxy-docker/Dockerfile
  inlong-dataproxy/dataproxy-docker/dataproxy-docker.sh
Labels: component/dataproxy, service/docker

#6577 [INLONG-6574][Sort] Add dirty data metric for HBase
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/Constants.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/metric/MetricOption.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/metric/SinkMetricData.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/util/MetricStateUtils.java
  inlong-sort/sort-connectors/hbase/src/main/java/org/apache/inlong/sort/hbase/sink/HBaseSinkFunction.java
Labels: component/sort

#6380 [INLONG-5628][Sort] Add buffer limit for dispatch queue of the sink
  inlong-sort-standalone/sort-standalone-common/src/main/java/org/apache/inlong/sort/standalone/utils/FlumeConfigGenerator.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/SinkContext.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/elasticsearch/EsCallbackListener.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/elasticsearch/EsOutputChannel.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/elasticsearch/EsSink.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/elasticsearch/EsSinkContext.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/source/sortsdk/SortSdkSource.java
  inlong-sort-standalone/sort-standalone-source/src/test/java/org/apache/inlong/sort/standalone/sink/elasticsearch/TestDefaultEvent2IndexRequestHandler.java
  inlong-sort-standalone/sort-standalone-source/src/test/java/org/apache/inlong/sort/standalone/sink/elasticsearch/TestEsCallbackListener.java
  inlong-sort-standalone/sort-standalone-source/src/test/java/org/apache/inlong/sort/standalone/sink/elasticsearch/TestEsChannelWorker.java
  inlong-sort-standalone/sort-standalone-source/src/test/java/org/apache/inlong/sort/standalone/sink/elasticsearch/TestEsOutputChannel.java
  inlong-sort-standalone/sort-standalone-source/src/test/java/org/apache/inlong/sort/standalone/sink/elasticsearch/TestEsSinkContext.java
Labels: component/sort

#6601 [INLONG-6600][Sort] Fix dead lock when one stream is removed from or migrated to one sink
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/elasticsearch/EsOutputChannel.java
Labels: component/sort

#6587 [INLONG-6586][Sort] Fix wrong node duration time of kafka sink
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/kafka/KafkaFederationSinkContext.java
Labels: component/sort

#6541 [INLONG-6495][Sort] Support metrics and restore metrics for single-table of Doris
  inlong-sort/sort-connectors/doris/src/main/java/org/apache/inlong/sort/doris/table/DorisDynamicSchemaOutputFormat.java
  inlong-sort/sort-connectors/doris/src/main/java/org/apache/inlong/sort/doris/table/DorisDynamicTableSink.java
  inlong-sort/sort-connectors/doris/src/main/java/org/apache/inlong/sort/doris/util/DorisParseUtils.java
Labels: component/sort

#6614 [INLONG-6610][Manager] Support the saving and query of data report-to settings
  inlong-common/src/main/java/org/apache/inlong/common/pojo/agent/DataConfig.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/consts/InlongConstants.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/InlongGroupEntity.java
  inlong-manager/manager-dao/src/main/resources/mappers/InlongGroupEntityMapper.xml
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/group/InlongGroupApproveRequest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/group/InlongGroupInfo.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/group/InlongGroupRequest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/AgentServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/group/AbstractGroupOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/group/InlongGroupService.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/ServiceBaseTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/group/GroupServiceTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/sort/SortServiceImplTest.java
  inlong-manager/manager-test/src/main/resources/h2/apache_inlong_manager.sql
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
Labels: component/manager

#6623 [INLONG-6621][Manager] Fixed the problem of source tasks are issued repeatedly
  inlong-manager/manager-dao/src/main/resources/mappers/StreamSourceEntityMapper.xml
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/AbstractSourceOperator.java
Labels: component/manager

#6627 [INLONG-6626][Sort] Use SortClientV2 by default
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/api/SortClientFactory.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/source/sortsdk/SortSdkSource.java
Labels: component/sort, component/sdk

#6637 [INLONG-6636][Sort] Keep metric computing consistent for source MySQL and sink HBase
  inlong-sort/sort-connectors/hbase/src/main/java/org/apache/inlong/sort/hbase/sink/HBaseDynamicTableSink.java
  inlong-sort/sort-connectors/hbase/src/main/java/org/apache/inlong/sort/hbase/sink/HBaseSinkFunction.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/debezium/DebeziumSourceFunction.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/debezium/utils/CallbackCollector.java
Labels: component/sort

#6616 [INLONG-6615][Sort] Fix upsert Kafka will throw NPE when getting deleted record
  inlong-sort/sort-connectors/kafka/src/main/java/org/apache/inlong/sort/kafka/FlinkKafkaProducer.java
  inlong-sort/sort-connectors/kafka/src/main/java/org/apache/inlong/sort/kafka/table/DynamicKafkaDeserializationSchema.java
Labels: component/sort

#6595 [INLONG-6594][Sort] Fix ClickHouse connector throw exception when source is change log stream
  inlong-sort/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/dialect/ClickHouseDialect.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/ClickHouseSqlParserTest.java
Labels: component/sort

#6641 [INLONG-6639][Sort] Fix DynamicPulsarDeserializationSchema deserialize NPE problem when sourceMetricData is not initialized
  inlong-sort/sort-connectors/pulsar/src/main/java/org/apache/inlong/sort/pulsar/table/DynamicPulsarDeserializationSchema.java
Labels: component/sort

#6644 [INLONG-6638][TubeMQ] C++ client supports filtering consume with the "-" character
  inlong-tubemq/tubemq-client-twins/tubemq-client-cpp/src/utils.cc
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/utils/RegexDef.java
Labels: component/tubemq

#6622 [INLONG-6620][Sort] Support metadata for Kafka source
  inlong-common/src/main/java/org/apache/inlong/common/enums/MetaField.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/Metadata.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/extract/KafkaExtractNode.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/node/extract/KafkaExtractNodeTest.java
  inlong-sort/sort-connectors/kafka/src/main/java/org/apache/inlong/sort/kafka/table/KafkaDynamicSource.java
  inlong-sort/sort-connectors/kafka/src/main/java/org/apache/inlong/sort/kafka/table/UpsertKafkaDynamicTableFactory.java
Labels: component/sort

#6618 [INLONG-6617][Sort] Add common process for dirty data sink and supports log sink
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/Constants.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/dirty/DirtyData.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/dirty/DirtyOptions.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/dirty/DirtyType.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/dirty/sink/DirtySink.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/dirty/sink/DirtySinkFactory.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/dirty/sink/log/LogDirtySink.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/dirty/sink/log/LogDirtySinkFactory.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/dirty/utils/FormatUtils.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/util/LabelUtils.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/util/PatternReplaceUtils.java
  inlong-sort/sort-connectors/base/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
  inlong-sort/sort-connectors/base/src/test/java/org/apache/inlong/sort/base/dirty/FormatUtilsTest.java
  inlong-sort/sort-connectors/base/src/test/java/org/apache/inlong/sort/base/util/LabelUtilsTest.java
  inlong-sort/sort-connectors/base/src/test/java/org/apache/inlong/sort/base/util/PatternReplaceUtilsTest.java
Labels: component/sort

#6653 [INLONG-6651][Dashboard] Add settings for data report type
  inlong-dashboard/src/components/Layout/NavWidget/index.tsx
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/locales/en.json
  inlong-dashboard/src/metas/groups/common/GroupDefaultInfo.ts
  inlong-dashboard/src/pages/GroupDetail/Info/config.tsx
  inlong-dashboard/src/pages/ProcessDetail/GroupConfig.tsx
Labels: component/dashboard

#6650 [INLONG-6628][Dashboard] The data source supports the Redis type
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/locales/en.json
  inlong-dashboard/src/metas/sources/defaults/Redis.ts
  inlong-dashboard/src/metas/sources/defaults/index.ts
Labels: component/dashboard

#6599 [INLONG-6598][Sort] Import small file compact for Apache Iceberg
  inlong-sort/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/FlinkActions.java
  inlong-sort/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/FlinkConfigOptions.java
  inlong-sort/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/FlinkDynamicTableFactory.java
  inlong-sort/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/IcebergTableSink.java
  inlong-sort/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/FlinkSink.java
  inlong-sort/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/multiple/IcebergMultipleFilesCommiter.java
  inlong-sort/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/multiple/IcebergSingleFileCommiter.java
Labels: component/sort

#6655 [INLONG-6654][Sort] Supports s3 side-output for dirty data
  inlong-sort/sort-connectors/base/pom.xml
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/dirty/sink/DirtySinkFactory.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/dirty/sink/log/LogDirtySink.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/dirty/sink/log/LogDirtySinkFactory.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/dirty/sink/s3/S3DirtySink.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/dirty/sink/s3/S3DirtySinkFactory.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/dirty/sink/s3/S3Helper.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/dirty/sink/s3/S3Options.java
  inlong-sort/sort-connectors/base/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
  licenses/inlong-sort-connectors/LICENSE
  pom.xml
Labels: component/sort

#6664 [INLONG-6663][Manager] Move MQType from inlong-manager to inlong-common
  inlong-common/src/main/java/org/apache/inlong/common/constant/MQType.java
  inlong-manager/manager-client/src/test/java/org/apache/inlong/manager/client/api/inner/InlongConsumeClientTest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/consume/kafka/ConsumeKafkaInfo.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/consume/kafka/ConsumeKafkaRequest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/consume/pulsar/ConsumePulsarInfo.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/consume/pulsar/ConsumePulsarRequest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/consume/tubemq/ConsumeTubeMQInfo.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/consume/tubemq/ConsumeTubeMQRequest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/group/kafka/InlongKafkaInfo.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/group/kafka/InlongKafkaRequest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/group/kafka/InlongKafkaTopicInfo.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/group/none/InlongNoneMqInfo.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/group/none/InlongNoneMqRequest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/group/none/InlongNoneMqTopicInfo.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/group/pulsar/InlongPulsarInfo.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/group/pulsar/InlongPulsarRequest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/group/pulsar/InlongPulsarTopicInfo.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/group/pulsar/InlongTdmqPulsarInfo.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/group/pulsar/InlongTdmqPulsarRequest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/group/tubemq/InlongTubeMQInfo.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/group/tubemq/InlongTubeMQRequest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/group/tubemq/InlongTubeMQTopicInfo.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/InlongClusterServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/consume/ConsumeKafkaOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/consume/ConsumePulsarOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/consume/ConsumeTubeMQOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/AgentServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/SortSourceServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/group/InlongGroupOperator4Kafka.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/group/InlongGroupOperator4NoneMQ.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/group/InlongGroupOperator4Pulsar.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/group/InlongGroupOperator4TubeMQ.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/listener/consume/apply/ApproveConsumeProcessListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/queue/kafka/KafkaResourceOperators.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/queue/pulsar/PulsarResourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/queue/tubemq/TubeMQResourceOperator.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/ServiceBaseTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/cluster/InlongClusterServiceTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/consume/InlongConsumeServiceTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/group/InlongGroupProcessServiceTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/group/InlongGroupServiceTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/sort/DisableZkForSortTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/source/listener/StreamSourceListenerTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/workflow/GroupTaskListenerFactoryTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/workflow/WorkflowServiceImplTest.java
Labels: component/manager

#6662 [INLONG-6661][Dashboard] Support Elasticsearch DataNode
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/locales/en.json
  inlong-dashboard/src/metas/nodes/defaults/Elasticsearch.ts
  inlong-dashboard/src/metas/sinks/defaults/Elasticsearch.ts
  inlong-dashboard/src/metas/sinks/defaults/index.ts
  inlong-dashboard/src/metas/sources/common/SourceDefaultInfo.ts
  inlong-dashboard/src/pages/Clusters/index.tsx
  inlong-dashboard/src/pages/Nodes/DetailModal.tsx
  inlong-dashboard/src/pages/Nodes/index.tsx
Labels: component/dashboard

#6666 [INLONG-6665][Manager] Support to save additional information for Elasticsearch field
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sink/es/ElasticsearchFieldInfo.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/sink/es/ElasticsearchApi.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/sink/es/ElasticsearchResourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/AbstractSinkOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/StreamSinkOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/es/ElasticsearchSinkOperator.java
Labels: component/manager

#6682 [INLONG-6680][Dashboard] Set the plugin to default when there is no target plugin
  inlong-dashboard/src/metas/index.ts
Labels: component/dashboard

#6679 [INLONG-6678][Dashboard] Add sinkType parameter in sinkFieldList
  inlong-dashboard/package-lock.json
  inlong-dashboard/src/metas/nodes/defaults/index.ts
  inlong-dashboard/src/metas/sinks/common/SinkDefaultInfo.ts
Labels: component/dashboard
