Repository apache/inlong, pull requests merged in 2022-01, with the labels that each got.

#2095 [INLONG-2094][Agent][Bug] Fix registration bug of prometheus metric when submitting a job
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/metrics/SourcePrometheusMetrics.java
Labels: inlong-agent

#2100 [INLONG-2098] optimize the script and template
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/improve-request.yml
  inlong-agent/bin/agent-env.sh
  inlong-agent/bin/agent.sh
  inlong-agent/conf/agent.properties
Labels: inlong-agent

#2101 [INLONG-2097][Agent] change wget command
  inlong-tubemq/tubemq-docker/tubemq-build/Dockerfile
  inlong-tubemq/tubemq-docker/tubemq-cpp/Dockerfile
Labels: inlong-tubemq

#2105 [INLONG-2096] DataProxy add InlongGroupId+InlongStreamId metric dimensions in TDSDKSource and TubeSink.
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/MetaSink.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/ServerMessageHandler.java
Labels: inlong-dataproxy

#2102 [INLONG-2099][inlong-manager] The referenced jackson-databind@2.9.5 component has serious vulnerabilities
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/config/ControllerExceptionHandler.java
  inlong-manager/pom.xml
Labels: inlong-manager

#2108 [INLONG-2107][Manager] remove gson and json-simple from dependency
  inlong-manager/manager-common/pom.xml
  inlong-manager/pom.xml
Labels: inlong-manager

#2115 [INLONG-2113] refactor the audit docker image
  inlong-audit/audit-dist/assembly/assembly.xml
  inlong-audit/audit-dist/pom.xml
  inlong-audit/audit-docker/audit-source/Dockerfile
  inlong-audit/audit-docker/audit-source/audit-souce-docker.sh
  inlong-audit/audit-docker/audit-source/pom.xml
  inlong-audit/audit-docker/audit-store/Dockerfile
  inlong-audit/audit-docker/audit-store/audit-store-docker.sh
  inlong-audit/audit-docker/audit-store/pom.xml
  inlong-audit/audit-docker/pom.xml
  inlong-audit/audit-source/conf/audit.conf
  inlong-audit/audit-store/assembly/assembly.xml
  inlong-audit/audit-store/bin/prepare_env.sh
  inlong-audit/audit-store/conf/application.properties
  inlong-audit/audit-store/conf/logback.xml
  inlong-audit/audit-store/conf/server.properties
  inlong-audit/audit-store/sql/apache_inlong_audit.sql
  inlong-audit/audit-store/src/main/java/org/apache/inlong/store/config/DataServerConfig.java
  inlong-audit/pom.xml
  inlong-manager/manager-docker/Dockerfile
Labels: inlong-manager

#2118 [INLONG-2117][agent] optimize class name #2117
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/fetcher/ManagerFetcher.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/fetcher/dtos/TaskRequestDto.java
Labels: inlong-agent

#2091 [INLONG-2075] SDK Source of DataProxy support new Message format.
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/pulsar/federation/PulsarProducerCluster.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/SimpleMessageHandler.java
  inlong-dataproxy/dataproxy-source/src/test/java/org/apache/inlong/dataproxy/utils/MockUtils.java
Labels: inlong-dataproxy

#2092 [INLONG-2076] Tube sink of DataProxy support new Message format.
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/SimpleMessageTubeSink.java
Labels: inlong-dataproxy

#2134 [INLONG-2133] Update year to 2022
  NOTICE
Labels: inlong-platform, improve

#2127 [INLONG-2126] merge prepare_env.sh into dataproxy-start.sh
  inlong-dataproxy/bin/dataproxy-start.sh
  inlong-dataproxy/bin/prepare_env.sh
Labels: inlong-dataproxy

#2128 [INLONG-2116] Improve the Website README document
  inlong-website/README.md
Labels: inlong-website

#2136 [INLONG-2130][sort] add objenesis dependency
  inlong-sort/sort-core/pom.xml
  inlong-sort/sort-formats/pom.xml
Labels: inlong-sort

#2125 [INLONG-2124][manager] update jackson-databind 2.9.10.8 to 2.12.0
  inlong-manager/pom.xml
Labels: inlong-manager

#2140 [INLONG-2139][dataproxy] optimze the stop script
  inlong-dataproxy/bin/dataproxy-stop.sh
  inlong-dataproxy/bin/flume-ng
Labels: inlong-dataproxy

#2145 [INLONG-2144] InlongDataProxy recover TDMsg1 protocol of TDSDKSource and MetaSink
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/MetaSink.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/ServerMessageHandler.java
Labels: inlong-dataproxy

#2146 [INLONG-2143][sort] change pulsar dependency
  inlong-sort/pom.xml
  inlong-sort/sort-core/pom.xml
Labels: inlong-sort

#2152 [INLONG-2151][Improve] Add time and sort statistics by topic
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/tools/cli/CliConsumer.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/tools/cli/CliProducer.java
Labels: inlong-tubemq, improve

#2149 [INLONG-2148] Fix the problem that the pattern used for extracting clickhouse metadata is not compatible with some versions of clickhouse
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/flink/clickhouse/output/ClickHouseShardOutputFormat.java
Labels: inlong-sort

#2156 [INLONG-2155][Manager] Fix unit tests error for Manager module
  inlong-manager/manager-dao/src/test/resources/sql/apache_inlong_manager.sql
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
  inlong-manager/manager-web/src/test/resources/sql/apache_inlong_manager.sql
Labels: inlong-manager

#2153 [INLONG-2137][dataproxy] fix the flaky TestDataProxyMetricItemSet test
  inlong-dataproxy/dataproxy-source/src/test/java/org/apache/inlong/dataproxy/metrics/TestDataProxyMetricItemSet.java
Labels: inlong-dataproxy

#2163 [INLONG-2160][tubemq] Time format conversion using DateTimeFormatter
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/Message.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/TBaseConstants.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/utils/DateTimeConvertUtils.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/utils/MixedUtils.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/utils/TStringUtils.java
  inlong-tubemq/tubemq-core/src/test/java/org/apache/inlong/tubemq/corebase/MessagesTest.java
  inlong-tubemq/tubemq-core/src/test/java/org/apache/inlong/tubemq/corebase/utils/DateTimeConvertUtilsTest.java
  inlong-tubemq/tubemq-example/src/main/java/org/apache/inlong/tubemq/example/MAMessageProducerExample.java
  inlong-tubemq/tubemq-example/src/main/java/org/apache/inlong/tubemq/example/MessageProducerExample.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/metrics/BrokerMetrics.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/common/utils/WebParameterUtils.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/bdbstore/bdbentitys/BdbBlackGroupEntity.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/bdbstore/bdbentitys/BdbBrokerConfEntity.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/bdbstore/bdbentitys/BdbClusterSettingEntity.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/bdbstore/bdbentitys/BdbConsumeGroupSettingEntity.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/bdbstore/bdbentitys/BdbConsumerGroupEntity.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/bdbstore/bdbentitys/BdbGroupFilterCondEntity.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/bdbstore/bdbentitys/BdbGroupFlowCtrlEntity.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/bdbstore/bdbentitys/BdbTopicAuthControlEntity.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/bdbstore/bdbentitys/BdbTopicConfEntity.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/metamanage/metastore/dao/entity/BaseEntity.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/metrics/MasterMetrics.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/tools/cli/CliProducer.java
  inlong-tubemq/tubemq-server/src/test/java/org/apache/inlong/tubemq/server/common/WebParameterUtilsTest.java
  inlong-tubemq/tubemq-server/src/test/java/org/apache/inlong/tubemq/server/master/metamanage/metastore/dao/entity/BaseEntityTest.java
Labels: inlong-tubemq, improve

#2172 [INLONG-2171] Fix the problem that partition computed is negative when using distributed table of clickhouse
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/flink/clickhouse/partitioner/HashPartitioner.java
Labels: inlong-sort

#2168 [INLONG-2167][Feature] [Agent] support db SQL collect
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/plugin/Reader.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/plugin/Sink.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/conf/ConfigJetty.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/job/Job.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/task/TaskPositionManager.java
  inlong-agent/agent-core/src/test/java/org/apache/inlong/agent/task/TestTaskWrapper.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sinks/ConsoleSink.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sinks/ProxySink.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sinks/PulsarSink.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sinks/SenderManager.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/DataBaseSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/SqlReader.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/TextFileReader.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/filter/TestStreamIdFilter.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/sinks/MockSink.java
Labels: inlong-agent

#2175 [INLONG-2174] Make the flush operation synchronized in clickhouse sink to prevent data loss
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/flink/clickhouse/executor/ClickHouseAppendExecutor.java
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/flink/clickhouse/executor/ClickHouseUpsertExecutor.java
Labels: inlong-sort

#2147 [INLONG-2051] audit query support mysql and elasticsearch
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/AuditQuerySource.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/TimeStaticsDim.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/audit/AuditRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/audit/AuditVO.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/AuditEntity.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/AuditEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/mappers/AuditEntityMapper.xml
  inlong-manager/manager-service/pom.xml
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/AuditService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/AuditServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/thirdpart/elasticsearch/ElasticsearchApi.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/thirdpart/elasticsearch/ElasticsearchConfig.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/AuditController.java
  inlong-manager/manager-web/src/main/resources/application-dev.properties
  inlong-manager/manager-web/src/main/resources/application-prod.properties
  inlong-manager/manager-web/src/main/resources/application-test.properties
  inlong-manager/manager-web/src/test/java/org/apache/inlong/manager/service/core/AuditServiceTest.java
  inlong-manager/manager-web/src/test/resources/application-test.properties
  inlong-manager/pom.xml
Labels: inlong-manager

#2180 [INLONG-2179][Feature] [Agent] support db SQL collect - add mysql connector
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/db/JobProfileDb.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/job/Job.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/job/JobWrapper.java
  inlong-agent/agent-plugins/pom.xml
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/DataBaseSource.java
Labels: inlong-agent

#2184 [INLONG-2183][Feature][InLong-Sort] Bump flink version to 1.13.5 (#2183)
  inlong-sort/pom.xml
  inlong-sort/sort-core/pom.xml
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/flink/hive/HiveMultiTenantCommitter.java
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/flink/hive/HiveWriter.java
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/flink/multitenant/MultiTenantFunctionInitializationContext.java
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/flink/transformation/RecordTransformer.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/flink/pulsar/MultiTopicPulsarSourceFunctionTest.java
Labels: inlong-sort

#2165 [INLONG-2106] DataProxy expose metric data using prometheus HttpServer.
  inlong-dataproxy/conf/common.properties
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/holder/CommonPropertiesHolder.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/metrics/prometheus/PrometheusMetricListener.java
  inlong-dataproxy/pom.xml
Labels: inlong-dataproxy

#2189 [INLONG-2188][Sort] Introduce sort-single-tenant module
  inlong-sort/pom.xml
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/configuration/Constants.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/util/ParameterTool.java
  inlong-sort/sort-single-tenant/pom.xml
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/Entrance.java
Labels: inlong-sort

#2212 [INLONG-2210] package inlong-manager-web as inlong-manager
  docker/docker-compose/README.md
  docker/docker-compose/docker-compose.yml
  docker/kubernetes/templates/_helpers.tpl
  docker/kubernetes/templates/dataproxy-statefulset.yaml
  docker/kubernetes/templates/manager-web-service.yaml
  docker/kubernetes/templates/manager-web-statefulset.yaml
  docker/kubernetes/templates/website-statefulset.yaml
  docker/kubernetes/values.yaml
  docker/publish.sh
  inlong-distribution/distribution.xml
  inlong-manager/manager-docker/README.md
  inlong-manager/manager-docker/pom.xml
Labels: inlong-manager

#2213 [INLONG-2207] Add component about charts
  inlong-dashboard/package-lock.json
  inlong-dashboard/package.json
  inlong-dashboard/src/components/Charts/generate-config.ts
  inlong-dashboard/src/components/Charts/index.tsx
  inlong-dashboard/src/utils/index.ts
Labels: inlong-dashboard

#2222 [INLONG-2187] support audit view
  inlong-dashboard/src/pages/AccessDetail/Audit/config.tsx
  inlong-dashboard/src/pages/AccessDetail/Audit/index.tsx
  inlong-dashboard/src/pages/AccessDetail/index.tsx
Labels: inlong-dashboard

#2223 [INLONG-2055][feature][audit] audit-sdk support real-time report
  inlong-audit/audit-sdk/src/main/java/org/apache/inlong/audit/AuditImp.java
Labels: feature, inlong-audit

#2206 [INLONG-2199][AuditSource] one message will put tow channel, and store two message
  inlong-audit/audit-common/src/main/java/org/apache/inlong/audit/consts/ConfigConstants.java
  inlong-audit/audit-source/src/main/java/org/apache/inlong/audit/channel/FailoverChannelProcessor.java
  inlong-audit/audit-source/src/main/java/org/apache/inlong/audit/sink/PulsarSink.java
  inlong-audit/audit-source/src/main/java/org/apache/inlong/audit/source/SimpleTcpSource.java
Labels: inlong-dataproxy

#2228 [INLONG-2227] fix the build issue for dataproxy-sdk
  inlong-sdk/dataproxy-sdk/pom.xml
  pom.xml
Labels: inlong-sdk

#2226 [INLONG-2225][dashboard] Audit module support i18n
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/locales/en.json
  inlong-dashboard/src/pages/AccessDetail/Audit/config.tsx
  inlong-dashboard/src/pages/AccessDetail/Audit/index.tsx
Labels: inlong-dashboard

#2211 [INLONG-2190][inlong-audit][audit-store] fix can not started by start shell
  inlong-audit/audit-store/pom.xml
  inlong-audit/pom.xml
Labels: inlong-audit

#2234 [INLONG-2233][dashboard] get audit id error
  inlong-dashboard/src/pages/AccessDetail/Audit/config.tsx
Labels: inlong-dashboard

#2235 [INLONG-2232][tubemq] Add start and end timestamp of segment
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/BrokerServiceServer.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/msgstore/MessageStore.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/msgstore/MessageStoreManager.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/msgstore/disk/FileSegment.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/msgstore/disk/FileSegmentList.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/msgstore/disk/MsgFileStore.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/msgstore/disk/Segment.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/msgstore/disk/SegmentList.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/msgstore/mem/MsgMemStore.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/tools/StoreRepairAdmin.java
  inlong-tubemq/tubemq-server/src/test/java/org/apache/inlong/tubemq/server/broker/msgstore/disk/FileSegmentListTest.java
  inlong-tubemq/tubemq-server/src/test/java/org/apache/inlong/tubemq/server/broker/msgstore/disk/FileSegmentTest.java
  inlong-tubemq/tubemq-server/src/test/java/org/apache/inlong/tubemq/server/broker/msgstore/mem/MsgMemStoreTest.java
Labels: inlong-tubemq, feature

#2238 [INLONG-2237] fix call query audit interface error
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/audit/AuditRequest.java
Labels: inlong-manager

#2231 [INLONG-2230] add jackson-core dependency
  inlong-manager/pom.xml
Labels: inlong-manager

#2243 [INLONG-2242][manager] fix the sql_statement filed for db_collector_detail_task
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
Labels: inlong-manager

#2185 [INLONG-1950][DataProxy] DataProxy add supporting to udp protocol for reporting data
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/BaseSource.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/ConfStringUtils.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/DefaultServiceDecoder.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/ServerMessageFactory.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/ServerMessageHandler.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/ServiceDecoder.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/SimpleMessageHandler.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/SimpleTcpSource.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/SimpleUdpSource.java
  inlong-dataproxy/dataproxy-source/src/test/java/org/apache/inlong/dataproxy/source/UdpSourceTest.java
Labels: inlong-dataproxy

#2248 [INLONG-2247][tubemq] Read the consume group offset and store to the specified topic
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/BrokerConfig.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/BrokerServiceServer.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/TubeBroker.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/metadata/BrokerMetadataManager.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/metadata/TopicMetadata.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/msgstore/MessageStoreManager.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/msgstore/StoreService.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/offset/DefaultOffsetManager.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/offset/OffsetRecordInfo.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/offset/OffsetRecordService.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/offset/OffsetService.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/offset/RecordItem.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/common/TServerConstants.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/common/paramcheck/PBParameterUtils.java
Labels: inlong-tubemq, feature

#2239 [INLONG-2236][Sort] Introduce iceberg sink in sort-single-tenent
  inlong-sort/pom.xml
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/sink/IcebergSinkInfo.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/sink/SinkInfo.java
  inlong-sort/sort-single-tenant/pom.xml
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/Entrance.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/utils/CommonUtils.java
Labels: inlong-sort

#2259 [INLONG-2258] Audit page support auto select datastream
  inlong-dashboard/src/components/Charts/index.tsx
  inlong-dashboard/src/pages/AccessDetail/Audit/config.tsx
  inlong-dashboard/src/pages/AccessDetail/Audit/index.tsx
Labels: inlong-dashboard

#2257 [INLONG-2224][DataProxy] Source receive one message will be send to pulsar twice when config both memery channel and file channel
  inlong-dataproxy/conf/flume-mulit-pulsar-http-example.conf
  inlong-dataproxy/conf/flume-mulit-pulsar-tcp-example.conf
  inlong-dataproxy/conf/flume-mulit-pulsar-udp-example.conf
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/PulsarSink.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/pulsar/PulsarClientService.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/pulsar/SendMessageCallBack.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/BaseSource.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/SimpleTcpSource.java
Labels: inlong-dataproxy

#2260 [INLONG-2255] DataProxy support audit sdk.
  inlong-dataproxy/dataproxy-source/pom.xml
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/metrics/DataProxyMetricItem.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/metrics/audit/AuditUtils.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/node/Application.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/MetaSink.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/SimpleMessageTubeSink.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/pulsar/federation/PulsarProducerCluster.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/ServerMessageHandler.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/SimpleMessageHandler.java
Labels: inlong-dataproxy

#2272 [INLONG-2254] Add historical offset query API
  inlong-tubemq/tubemq-client/src/main/java/org/apache/inlong/tubemq/client/consumer/SimpleClientBalanceConsumer.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/Message.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/TBaseConstants.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/utils/DateTimeConvertUtils.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/utils/RegexDef.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/BrokerServiceServer.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/web/BrokerAdminServlet.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/common/TServerConstants.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/common/fielddef/WebFieldDef.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/common/paramcheck/PBParameterUtils.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/common/utils/WebParameterUtils.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/metamanage/MetaDataManager.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/web/handler/WebTopicDeployHandler.java
Labels: inlong-tubemq, feature

#2262 [INLONG-2218][DataProxy] Inlong-DataProxy support authentication access Pulsar
  inlong-dataproxy/conf/flume-mulit-pulsar-http-example.conf
  inlong-dataproxy/conf/flume-mulit-pulsar-tcp-example.conf
  inlong-dataproxy/conf/flume-mulit-pulsar-udp-example.conf
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/pulsar/PulsarClientService.java
Labels: inlong-dataproxy

#2251 [INLONG-2250][Feature][InLong-Sort] Support Kafka sink in InLong-Sort
  inlong-sort/pom.xml
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/configuration/Constants.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/serialization/AvroSerializationInfo.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/serialization/CanalSerializationInfo.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/serialization/JsonSerializationInfo.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/serialization/SerializationInfo.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/sink/KafkaSinkInfo.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/sink/SinkInfo.java
  inlong-sort/sort-single-tenant/pom.xml
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/Entrance.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/kafka/KafkaSinkBuilder.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/serialization/SerializationSchemaBuilder.java
Labels: inlong-sort

#2267 [INLONG-2266][Feature]Support reporting metrics by audit-sdk in sort
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/configuration/Constants.java
  inlong-sort/sort-core/pom.xml
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/flink/deserialization/DeserializationSchema.java
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/flink/hive/HiveMultiTenantWriter.java
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/util/CommonUtils.java
Labels: inlong-sort

#2275 [INLONG-2264] DataProxy get metric value with error JMX ObjectName
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/metrics/MetricListenerRunnable.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/metrics/prometheus/PrometheusMetricListener.java
  inlong-dataproxy/dataproxy-source/src/test/java/org/apache/inlong/dataproxy/metrics/TestMetricListenerRunnable.java
Labels: inlong-dataproxy, bug

#2265 [INLONG-2263] SortStandalone get metric value with error JMX ObjectName
  inlong-sort-standalone/sort-standalone-common/src/main/java/org/apache/inlong/sort/standalone/metrics/MetricListenerRunnable.java
  inlong-sort-standalone/sort-standalone-common/src/test/java/org/apache/inlong/sort/standalone/metrics/TestMetricListenerRunnable.java
  inlong-sort-standalone/sort-standalone-common/src/test/java/org/apache/inlong/sort/standalone/metrics/TestSortMetricItemSet.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/metrics/prometheus/PrometheusMetricListener.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/hive/HiveSink.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/hive/WriteHdfsFileRunnable.java
Labels: inlong-sort-standalone

#2277 [INLONG-2274][Manager] Supports configuring whether to create a Hive database or table
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/BizConstant.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/datastorage/BaseStorageListResponse.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/datastorage/BaseStorageRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/datastorage/BaseStorageResponse.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/datastorage/StorageHiveDTO.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/datastorage/StorageHiveListResponse.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/datastorage/StorageHiveRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/datastorage/StorageHiveResponse.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/datastream/FullStreamRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/datastream/FullStreamResponse.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/StorageHiveEntity.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/BusinessExtEntityMapper.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/StorageHiveEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/mappers/BusinessExtEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/StorageHiveEntityMapper.xml
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/BusinessService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/DataStreamService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/StorageService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/BusinessServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/DataStreamServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/SourceFileServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/StorageHiveOperation.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/StorageServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/thirdpart/hive/CreateHiveTableForStreamListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/thirdpart/hive/CreateHiveTableListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/thirdpart/hive/HiveTableOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/thirdpart/sort/PushHiveConfigTaskListener.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/impl/BusinessServiceImplTest.java
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/DataStreamController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/StorageController.java
  inlong-manager/manager-web/src/main/resources/application-dev.properties
  inlong-manager/manager-web/src/test/java/org/apache/inlong/manager/service/core/BusinessServiceTest.java
  inlong-manager/manager-web/src/test/java/org/apache/inlong/manager/service/core/ConsumptionServiceTest.java
  inlong-manager/manager-web/src/test/java/org/apache/inlong/manager/service/core/DataStorageServiceTest.java
  inlong-manager/manager-web/src/test/java/org/apache/inlong/manager/service/core/DataStreamServiceTest.java
  inlong-manager/manager-web/src/test/resources/sql/apache_inlong_manager.sql
Labels: inlong-manager, feature

#2278 [INLONG-2161][Feature][Manager] Manager support getSortClusterConfig interface.
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/pojo/sort/SortClusterConfigResponse.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/SortService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/SortServiceImpl.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/openapi/SortController.java
  inlong-manager/manager-web/src/test/java/org/apache/inlong/manager/web/controller/openapi/SortControllerTest.java
Labels: inlong-manager

#2289 [INLONG-2288] Fix the problem that sort-flink task catches an NPE
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/flink/deserialization/DeserializationSchema.java
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/flink/hive/HiveMultiTenantWriter.java
Labels: bug, inlong-sort

#2287 [INLONG-2161][Feature][Manager] add the sort_cluster_config table for getClusterConfig interface
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/SortClusterConfgiEntity.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/SortClusterConfgiEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/generatorConfig.xml
  inlong-manager/manager-dao/src/main/resources/mappers/SortClusterConfgiEntityMapper.xml
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/SortClusterConfigService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/SortClusterConfigServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/SortServiceImpl.java
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
  inlong-manager/manager-web/src/test/java/org/apache/inlong/manager/web/controller/openapi/SortControllerTest.java
Labels: inlong-manager

#2295 [INLONG-2294]Rename the variable BROKER_VERSION to SERVER_VERSION
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/TubeBroker.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/web/action/screen/config/BrokerList.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/tools/cli/CliAbstractBase.java
  inlong-tubemq/tubemq-server/src/saveServerVersion.cmd
  inlong-tubemq/tubemq-server/src/saveServerVersion.sh
Labels: inlong-tubemq, improve

#2298 [INLONG-2296] Added lag consumption log
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/offset/DefaultOffsetManager.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/common/TServerConstants.java
Labels: inlong-tubemq, improve

#2300 [INLONG-2294]Rename the variable BROKER_VERSION to SERVER_VERSION (addenum)
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/web/BrokerAdminServlet.java
Labels: inlong-tubemq, improve

#2321 [INLONG-2320][Bug][TubeMQ]Out of bounds error when saving the historical offset
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/BrokerServiceServer.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/web/BrokerAdminServlet.java
Labels: inlong-tubemq, bug

#2269 [INLONG-2215][DataProxy-sdk] Add http protocol client example
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/example/Event.java
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/example/HttpClientExample.java
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/example/MyFileCallBack.java
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/example/MyMessageCallBack.java
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/example/SendMsgThread.java
Labels: feature, inlong-sdk

#2307 [INLONG-2297][agent] support audit for source and sink
  inlong-agent/agent-common/pom.xml
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/constants/AgentConstants.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/constants/CommonConstants.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/metrics/audit/AuditUtils.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/utils/ConfigUtil.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/AgentMain.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/AgentManager.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sinks/ProxySink.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sinks/PulsarSink.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/SqlReader.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/TextFileReader.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/TestFileAgent.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/sources/TestTextFileReader.java
Labels: inlong-agent

#2325 [INLONG-2322][Feature][InLong-Sort] Support json format for kafka sink
  inlong-sort/pom.xml
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/FieldInfo.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/serialization/JsonSerializationInfo.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/sink/KafkaSinkInfo.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/sink/SinkInfo.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/ProtocolBaseTest.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/kafka/KafkaSinkInfoTest.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/serialization/JsonSerializationInfoTest.java
  inlong-sort/sort-formats/format-base/pom.xml
  inlong-sort/sort-formats/format-inlongmsg-base/pom.xml
  inlong-sort/sort-formats/pom.xml
  inlong-sort/sort-single-tenant/pom.xml
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/kafka/KafkaSinkBuilder.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/serialization/RowSerializationSchemaFactory.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/serialization/SerializationSchemaBuilder.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/utils/CommonUtils.java
  inlong-sort/sort-single-tenant/src/test/java/org/apache/inlong/sort/singletenant/flink/kafka/KafkaSinkTestBase.java
  inlong-sort/sort-single-tenant/src/test/java/org/apache/inlong/sort/singletenant/flink/kafka/RowToJsonKafkaSinkTest.java
  inlong-sort/sort-single-tenant/src/test/java/org/apache/inlong/sort/singletenant/flink/kafka/RowToStringKafkaSinkTest.java
  inlong-sort/sort-single-tenant/src/test/java/org/apache/inlong/sort/singletenant/flink/utils/CommonUtilsTest.java
  inlong-sort/sort-single-tenant/src/test/resources/log4j-test.properties
Labels: inlong-sort

#2330 [INLONG-2329][dataproxy-sdk]optimize asyncSendMessage code to reduce the number of invalid objects
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/network/Sender.java
Labels: inlong-sdk

#2337 [INLONG-2336][agent] fix the bug that the manager fetcher thread was shielded
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/fetcher/ManagerFetcher.java
Labels: inlong-agent

#2345 [INLONG-2344][Bug][InLong-Sort] Fix kafka sink ut failed under multithread compiling
  inlong-sort/sort-single-tenant/src/test/java/org/apache/inlong/sort/singletenant/flink/kafka/KafkaSinkTestBase.java
  inlong-sort/sort-single-tenant/src/test/java/org/apache/inlong/sort/singletenant/flink/kafka/RowToJsonKafkaSinkTest.java
  inlong-sort/sort-single-tenant/src/test/java/org/apache/inlong/sort/singletenant/flink/kafka/RowToStringKafkaSinkTest.java
Labels: inlong-sort

#2335 [INLONG-2334][inlong-dataproxy] create pulsar client need support config ioThreads
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/pulsar/PulsarClientService.java
Labels: inlong-dataproxy

#2342 [INLONG-2341][inlong-dataproxy-sdk]'.inlong' as default path of local file is ambiguous
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/ProxyClientConfig.java
Labels: inlong-sdk

#2350 [INLONG-2349][inlong-dataproxy ]modify dataproxy log name
  inlong-dataproxy/conf/log4j.properties
Labels: inlong-dataproxy

#2339 [INLONG-2338] add default dataproxy address
  inlong-agent/agent-docker/Dockerfile
  inlong-agent/agent-docker/agent-docker.sh
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
Labels: inlong-manager, inlong-agent

#2327 [INLONG-2326] Inlong-Sort-Standalone support to sort the events to ElasticSearch cluster.
  inlong-sort-standalone/conf/es/GetClusterConfig.json
  inlong-sort-standalone/conf/es/GetSortSourceConfig.json
  inlong-sort-standalone/conf/es/common.properties
  inlong-sort-standalone/pom.xml
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/elasticsearch/DefaultEvent2IndexRequestHandler.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/elasticsearch/EsCallbackListener.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/elasticsearch/EsChannelWorker.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/elasticsearch/EsIdConfig.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/elasticsearch/EsIndexRequest.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/elasticsearch/EsOutputChannel.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/elasticsearch/EsSink.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/elasticsearch/EsSinkContext.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/elasticsearch/EsSinkFactory.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/elasticsearch/IEvent2IndexRequestHandler.java
  inlong-sort-standalone/sort-standalone-source/src/test/java/SortClusterConfig.conf
  inlong-sort-standalone/sort-standalone-source/src/test/java/common.properties
  inlong-sort-standalone/sort-standalone-source/src/test/java/org/apache/inlong/sort/standalone/sink/elasticsearch/TestDefaultEvent2IndexRequestHandler.java
  inlong-sort-standalone/sort-standalone-source/src/test/java/org/apache/inlong/sort/standalone/sink/elasticsearch/TestEsCallbackListener.java
  inlong-sort-standalone/sort-standalone-source/src/test/java/org/apache/inlong/sort/standalone/sink/elasticsearch/TestEsChannelWorker.java
  inlong-sort-standalone/sort-standalone-source/src/test/java/org/apache/inlong/sort/standalone/sink/elasticsearch/TestEsOutputChannel.java
  inlong-sort-standalone/sort-standalone-source/src/test/java/org/apache/inlong/sort/standalone/sink/elasticsearch/TestEsSinkContext.java
  inlong-sort-standalone/sort-standalone-source/src/test/java/org/apache/inlong/sort/standalone/source/sortsdk/TestSortSdkSource.java
  inlong-sort-standalone/sort-standalone-source/src/test/resources/SortClusterConfig.conf
  inlong-sort-standalone/sort-standalone-source/src/test/resources/common.properties
Labels: inlong-sort-standalone

#2355 [INLONG-2333] Support clickhouse sink in sort-single-tenant
  inlong-sort/sort-connectors/src/main/java/org/apache/inlong/sort/flink/clickhouse/ClickHouseSinkFunction.java
  inlong-sort/sort-single-tenant/pom.xml
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/Entrance.java
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/clickhouse/ClickhouseRowSinkFunction.java
Labels: inlong-sort

#2374 [INLONG-2373] Refactor of CreateBusinessWorkflow
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/event/task/TaskEventNotifier.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/model/definition/ServiceTask.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/model/definition/ServiceTaskListenerProvider.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/model/definition/ServiceTaskType.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/model/definition/Task.java
  inlong-manager/manager-service/pom.xml
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/ServiceTaskListenerFactory.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/WorkflowServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/business/CreateBusinessWorkflowDefinition.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/workflow/ServiceTaskListenerFactoryTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/workflow/WorkflowServiceImplTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/workflow/business/CreateBusinessWorkflowDefinitionTest.java
  inlong-manager/manager-workflow-engine/src/main/java/org/apache/inlong/manager/workflow/core/processor/ServiceTaskProcessor.java
  inlong-manager/pom.xml
Labels: inlong-manager

#2357 [INLONG-2347] Support hive sink in sort-single-tenant
  inlong-sort/sort-connectors/src/main/java/org/apache/inlong/sort/flink/hive/HiveCommitter.java
  inlong-sort/sort-connectors/src/main/java/org/apache/inlong/sort/flink/hive/HiveWriter.java
  inlong-sort/sort-single-tenant/pom.xml
  inlong-sort/sort-single-tenant/src/main/java/org/apache/inlong/sort/singletenant/flink/Entrance.java
Labels: inlong-sort

#2372 [INLONG-2371][Bug][InLong-Dataproxy] monitorIndex should not use msgid for key,it affects performance
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/PulsarSink.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/pulsar/PulsarClientService.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/ServerMessageHandler.java
Labels: inlong-dataproxy
