Repository apache/inlong, pull requests merged in 2022-10, with the labels that each got.

#6083 [INLONG-6082][CI] Fix the error in the greeting action
  .github/workflows/ci_greeting.yml
Labels: service/ci

#6081 [INLONG-6080][Manager] Change the DataNodeResponse to DataNodeInfo
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/DataNode.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/DataNodeImpl.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/client/DataNodeClient.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/service/DataNodeApi.java
  inlong-manager/manager-client/src/test/java/org/apache/inlong/manager/client/api/inner/ClientFactoryTest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/node/DataNodeInfo.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/node/DataNodeResponse.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/node/hive/HiveDataNodeInfo.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/node/mysql/MySQLDataNodeInfo.java
  inlong-manager/manager-web/src/test/java/org/apache/inlong/manager/web/controller/DataNodeControllerTest.java
Labels: component/manager

#6093 [INLONG-6092][TubeMQ] Change the way to obtain the modifyUser and modifyDate
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/bdbstore/bdbentitys/BdbGroupFilterCondEntity.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/bdbstore/bdbentitys/BdbGroupFlowCtrlEntity.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/bdbstore/bdbentitys/BdbTopicAuthControlEntity.java
Labels: component/tubemq

#6097 [INLONG-6096][TubeMQ] Optimize some code styles under the nodeconsumer module
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/TMaster.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/nodemanage/nodeconsumer/ConsumeGroupInfo.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/nodemanage/nodeconsumer/ConsumerEventManager.java
Labels: component/tubemq

#6099 [INLONG-6098][TubeMQ] Add preprocessing condition check
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/web/handler/WebAdminFlowRuleHandler.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/web/handler/WebAdminGroupCtrlHandler.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/web/handler/WebAdminTopicAuthHandler.java
Labels: component/tubemq

#6079 [INLONG-6078][Manager][Sort] Add VarBinary data type and extend binary for supporting length
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/FieldType.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/fieldformat/BinaryFormat.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/fieldformat/VarBinaryFormat.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/util/FieldFormatUtils.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/util/FieldInfoUtils.java
  inlong-manager/manager-pojo/src/test/java/org/apache/inlong/manager/pojo/sort/util/FieldFormatUtilsTest.java
  inlong-sort/sort-formats/format-base/src/main/java/org/apache/inlong/sort/formats/base/TableFormatUtils.java
  inlong-sort/sort-formats/format-common/src/main/java/org/apache/inlong/sort/formats/common/BinaryFormatInfo.java
  inlong-sort/sort-formats/format-common/src/main/java/org/apache/inlong/sort/formats/common/FormatInfo.java
  inlong-sort/sort-formats/format-common/src/main/java/org/apache/inlong/sort/formats/common/VarBinaryFormatInfo.java
  inlong-sort/sort-formats/format-common/src/main/java/org/apache/inlong/sort/formats/common/VarBinaryTypeInfo.java
  inlong-sort/sort-formats/format-common/src/test/java/org/apache/inlong/sort/formats/common/VarBinaryFormatInfoTest.java
Labels: component/manager, component/sort

#6109 [INLONG-6108][TubeMQ] Added booked consume group query APIs
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/web/handler/WebGroupConsumeCtrlHandler.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/web/handler/WebGroupResCtrlHandler.java
Labels: component/tubemq

#6111 [INLONG-6110][TubeMQ] Optimize the implementation logic of adding or modifying TopicCtrlEntity records
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/metamanage/DefaultMetaDataService.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/metamanage/MetaDataService.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/metamanage/metastore/dao/mapper/MetaConfigMapper.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/metamanage/metastore/dao/mapper/TopicDeployMapper.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/metamanage/metastore/impl/AbsMetaConfigMapperImpl.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/metamanage/metastore/impl/AbsTopicDeployMapperImpl.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/web/handler/WebTopicCtrlHandler.java
Labels: component/tubemq

#6095 [INLONG-6094][Kubernetes] Add liveness reliability for modules
  docker/kubernetes/templates/agent-statefulset.yaml
  docker/kubernetes/templates/audit-statefulset.yaml
  docker/kubernetes/templates/dashboard-statefulset.yaml
  docker/kubernetes/templates/dataproxy-statefulset.yaml
  docker/kubernetes/templates/manager-statefulset.yaml
Labels: service/k8s

#6100 [INLONG-6089][Manager][Sort] Kafka extract node supports raw format and timestamp scan mode
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/util/ExtractNodeUtils.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/kafka/KafkaOffset.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/kafka/KafkaSource.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/kafka/KafkaSourceDTO.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/kafka/KafkaSourceRequest.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/constant/KafkaConstant.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/enums/KafkaScanStartupMode.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/extract/KafkaExtractNode.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/node/extract/KafkaExtractNodeTest.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/DataTypeConvertSqlParseTest.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/DecimalFormatSqlParseTest.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/DistinctNodeSqlParseTest.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/FlinkSqlParserTest.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/FullOuterJoinSqlParseTest.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/InnerJoinRelationSqlParseTest.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/IntervalJoinRelationSqlParseTest.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/KafkaSqlParseTest.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/LeftOuterJoinSqlParseTest.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/MetaFieldSyncTest.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/MySqlTemporalJoinRelationSqlParseTest.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/RightOuterJoinSqlParseTest.java
Labels: component/manager, component/sort

#6118 [INLONG-6117][TubeMQ] Optimize the implementation of adminQueryBrokerTopicCfgAndRunInfo
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/cluster/TopicInfo.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/nodemanage/nodebroker/BrokerPSInfoHolder.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/nodemanage/nodebroker/BrokerRunManager.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/nodemanage/nodebroker/BrokerRunStatusInfo.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/nodemanage/nodebroker/BrokerTopicInfoView.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/nodemanage/nodebroker/DefBrokerRunManager.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/web/action/screen/Master.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/web/action/screen/config/BrokerList.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/web/handler/WebTopicDeployHandler.java
Labels: component/tubemq

#6122 [INLONG-6121][Manager] Fix source list unassigned error when list stream
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/stream/InlongStreamServiceImpl.java
Labels: component/manager, 1.3.x/bugfix

#6120 [INLONG-6119][SDK] Fix log level and improve proxylist update strategy
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/config/ProxyConfigManager.java
Labels: component/sdk

#6074 [INLONG-6073][Kubernetes] Add audit.config.store.mode configurable to k8s
  inlong-audit/audit-docker/audit-docker.sh
Labels: component/audit, service/docker

#6125 [INLONG-6124][TubeMQ] Small optimizations about the implementation of metadata logic
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/common/utils/WebParameterUtils.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/metamanage/DefaultMetaDataService.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/metamanage/MetaDataService.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/metamanage/metastore/dao/entity/GroupConsumeCtrlEntity.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/metamanage/metastore/dao/entity/GroupResCtrlEntity.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/metamanage/metastore/dao/entity/TopicCtrlEntity.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/metamanage/metastore/dao/mapper/MetaConfigMapper.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/metamanage/metastore/dao/mapper/TopicCtrlMapper.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/metamanage/metastore/impl/AbsMetaConfigMapperImpl.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/metamanage/metastore/impl/AbsTopicCtrlMapperImpl.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/metamanage/metastore/impl/bdbimpl/BdbMetaConfigMapperImpl.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/web/handler/WebOtherInfoHandler.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/web/handler/WebTopicDeployHandler.java
Labels: component/tubemq

#6112 [INLONG-6115][Agent] To solve Prometheus listener error and add unit tests
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/metrics/AgentPrometheusMetricListener.java
  inlong-agent/agent-common/src/test/java/org/apache/inlong/agent/metrics/TestPrometheusListener.java
Labels: component/agent

#6130 [INLONG-6129][TubeMQ] Optimize the broker's node management
  inlong-tubemq/tubemq-client/src/main/java/org/apache/inlong/tubemq/client/producer/MaxMsgSizeHolder.java
  inlong-tubemq/tubemq-client/src/main/java/org/apache/inlong/tubemq/client/producer/ProducerManager.java
  inlong-tubemq/tubemq-client/src/main/java/org/apache/inlong/tubemq/client/producer/SimpleMessageProducer.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/utils/DataConverterUtil.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/utils/Tuple3.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corerpc/RemoteConErrStats.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corerpc/client/CallFuture.java
  inlong-tubemq/tubemq-core/src/test/java/org/apache/inlong/tubemq/corerpc/codec/DataConverterUtilTest.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/TMaster.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/nodemanage/nodebroker/BrokerAbnHolder.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/nodemanage/nodebroker/BrokerPSInfoHolder.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/nodemanage/nodebroker/BrokerRunManager.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/nodemanage/nodebroker/BrokerSyncData.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/nodemanage/nodebroker/BrokerTopicInfoView.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/nodemanage/nodebroker/DefBrokerRunManager.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/web/handler/WebMasterInfoHandler.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/web/handler/WebTopicDeployHandler.java
Labels: component/tubemq

#6134 [INLONG-6133][TubeMQ] Add query parameter groupName in method admin_query_consumer_regmap
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/BrokerServiceServer.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/metadata/BrokerDefMetadata.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/msgstore/MessageStoreManager.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/nodeinfo/ConsumerNodeInfo.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/web/BrokerAdminServlet.java
Labels: component/tubemq

#6132 [INLONG-6131][Agent] Support file filtering by condition
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/pojo/FileJob.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/pojo/JobProfileDto.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/TextFileSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/file/KubernetesFileReader.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/utils/FileDataUtils.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/utils/MetaDataUtils.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/utils/PluginUtils.java
Labels: component/agent

#6123 [INLONG-6116][Sort] Support dynamic topic for KafkaLoadNode
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/format/AvroFormat.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/format/CanalJsonFormat.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/format/CsvFormat.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/format/DebeziumJsonFormat.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/format/Format.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/format/InLongMsgFormat.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/format/JsonFormat.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/format/RawFormat.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/load/KafkaLoadNode.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/Constants.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/format/AbstractDynamicSchemaFormat.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/format/CanalJsonDynamicSchemaFormat.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/format/DebeziumJsonDynamicSchemaFormat.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/format/DynamicSchemaFormatFactory.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/format/JsonDynamicSchemaFormat.java
  inlong-sort/sort-connectors/base/src/test/java/org/apache/inlong/sort/base/format/CanalJsonDynamicSchemaFormatTest.java
  inlong-sort/sort-connectors/base/src/test/java/org/apache/inlong/sort/base/format/DebeziumJsonDynamicSchemaFormatTest.java
  inlong-sort/sort-connectors/base/src/test/java/org/apache/inlong/sort/base/format/DynamicSchemaFormatBaseTest.java
  inlong-sort/sort-connectors/kafka/src/main/java/org/apache/inlong/sort/kafka/DynamicKafkaSerializationSchema.java
  inlong-sort/sort-connectors/kafka/src/main/java/org/apache/inlong/sort/kafka/KafkaDynamicSink.java
  inlong-sort/sort-connectors/kafka/src/main/java/org/apache/inlong/sort/kafka/table/KafkaDynamicTableFactory.java
  inlong-sort/sort-connectors/kafka/src/main/java/org/apache/inlong/sort/kafka/table/UpsertKafkaDynamicTableFactory.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/KafkaLoadSqlParseTest.java
Labels: component/sort

#6128 [INLONG-6113][Sort] Mysql cdc connector support read table schema when using debezium function
  inlong-common/src/main/java/org/apache/inlong/common/enums/MetaField.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/Metadata.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/extract/MySqlExtractNode.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/node/extract/MySqlExtractNodeTest.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/debezium/DebeziumSourceFunction.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/debezium/internal/DebeziumChangeFetcher.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/debezium/internal/FlinkDatabaseSchemaHistory.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/table/MySqlReadableMetadata.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/AllMigrateTest.java
  inlong-sort/sort-formats/format-json/src/main/java/org/apache/inlong/sort/formats/json/canal/CanalJson.java
Labels: component/sort

#6137 [INLONG-6136][Manager] Fix the docker logs command could not find log file error
  inlong-manager/manager-docker/manager-docker.sh
Labels: component/manager, service/docker

#6143 [INLONG-6142][TubeMQ] Added client-balanced consumer group control API
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/web/handler/WebAdminGroupCtrlHandler.java
Labels: component/tubemq

#6145 [INLONG-6144][TubeMQ] Adjust default constant configuration
  inlong-tubemq/tubemq-client/src/main/java/org/apache/inlong/tubemq/client/common/TClientConstants.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/common/TServerConstants.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/common/statusdef/StepStatus.java
Labels: component/tubemq

#6139 [INLONG-6138][TubeMQ] Update the API called by the js files in the resource
  inlong-tubemq/resources/assets/scripts/common/module.js
  inlong-tubemq/resources/assets/scripts/topicList.js
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/web/handler/WebTopicDeployHandler.java
Labels: component/tubemq

#6147 [INLONG-6146][Manager] Fix error jackson dependency when build dataflow json string
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/sort/DefaultSortConfigOperator.java
Labels: component/manager

#6150 [INLONG-6149][Sort] Iceberg delete key cause ArrayIndexOutOfBoundsException
  inlong-sort/sort-connectors/iceberg-dlc/src/main/java/org/apache/inlong/sort/iceberg/flink/sink/RowDataTaskWriterFactory.java
  inlong-sort/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/RowDataTaskWriterFactory.java
Labels: component/sort, 1.3.x/bugfix

#6135 [INLONG-5814][Dashboard] Supports setting the precision of a field when adding a table field
  inlong-dashboard/src/metas/sinks/greenplum.tsx
  inlong-dashboard/src/metas/sinks/oracle.tsx
  inlong-dashboard/src/metas/sinks/postgreSql.tsx
  inlong-dashboard/src/metas/sinks/sqlServer.tsx
Labels: component/dashboard

#5802 [INLONG-5495][SDK] Support multi-topic manager
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/api/InlongTopicManagerFactory.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/fetcher/kafka/AckOffsetOnRebalance.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/fetcher/kafka/KafkaSingleTopicFetcher.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/impl/kafka/InLongKafkaFetcherImpl.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/manager/InlongMultiTopicManager.java
Labels: component/sdk

#6157 [INLONG-6156][DataProxy] Twice event write when topic is empty
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/PulsarSink.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/pulsar/SinkTask.java
Labels: component/dataproxy

#6162 [INLONG-6158][TubeMQ] Add ZooKeeper request timeout configuration
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/TubeBroker.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/common/fileconfig/AbstractFileConfig.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/common/fileconfig/ZKConfig.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/common/fileconfig/ZKMetaConfig.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/MasterConfig.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/TMaster.java
Labels: component/tubemq

#6161 [INLONG-6159][Manager] Fix heartbeat status update failed error
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/heartbeat/HeartbeatManager.java
Labels: component/manager

#6167 [INLONG-6166][Sort] Fix can not get pkNames metadata for MySqlExtractNode
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/debezium/table/MetadataConverter.java
Labels: component/sort

#6164 [INLONG-6163][Dashboard] Form will lose old data when data changes are merged
  inlong-dashboard/src/components/FormGenerator/FormGenerator.tsx
  inlong-dashboard/src/metas/sources/file.ts
Labels: component/dashboard

#6172 [INLONG-6171][Manager] Fix the lightweight group union nodes relation error
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/sort/DefaultSortConfigOperator.java
Labels: component/manager

#6107 [INLONG-6106][Logs] Add logs rolling policies and delete strategy
  inlong-agent/conf/log4j2.xml
  inlong-audit/conf/log4j2.xml
  inlong-dataproxy/conf/log4j2.xml
  inlong-manager/manager-web/src/main/resources/log4j2.xml
Labels: component/manager, component/dataproxy, component/agent, component/audit

#6170 [INLONG-6169][Docker] Add more env params for audit
  inlong-audit/audit-docker/Dockerfile
  inlong-audit/audit-docker/audit-docker.sh
  inlong-audit/conf/application.properties
  inlong-audit/conf/audit-proxy-tube.conf
  inlong-manager/manager-docker/Dockerfile
  inlong-manager/manager-docker/manager-docker.sh
Labels: component/manager, component/audit, service/docker

#6180 [INLONG-6179][Manager] Add RAW dataformat enum
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/DataFormat.java
Labels: component/manager

#6183 [INLONG-6182][SDK] Fix the RequestTimeoutMillis initialization value error
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/ProxyClientConfig.java
Labels: component/dataproxy, component/sdk

#6043 [INLONG-6042][Manager] Support delete and update DataNode by unique key
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/client/DataNodeClient.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/service/DataNodeApi.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/common/UpdateResult.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/node/AbstractDataNodeOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/node/DataNodeService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/node/DataNodeServiceImpl.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/DataNodeController.java
  inlong-manager/manager-web/src/test/java/org/apache/inlong/manager/web/controller/DataNodeControllerTest.java
Labels: component/manager

#6191 [INLONG-6190][SDK] Update DataProxy config
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/ProxyClientConfig.java
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/config/ProxyConfigManager.java
Labels: component/sdk

#6087 [INLONG-6086][Manager] Support updating and deleting stream sink by key
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/service/StreamSinkApi.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/StreamSinkService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/StreamSinkServiceImpl.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/sink/HiveSinkServiceTest.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/StreamSinkController.java
Labels: component/manager

#6102 [INLONG-6101][Manager] Support updating and deleting inlong cluster by key
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/client/InlongClusterClient.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/service/InlongClusterApi.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/InlongClusterService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/InlongClusterServiceImpl.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/cluster/InlongClusterServiceTest.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/InlongClusterController.java
Labels: component/manager

#6178 [INLONG-6177][Doc] Update the supported Data Nodes table
  README.md
Labels: doc

#6193 [INLONG-6192][Manager] Clean and reuse code for StreamSink
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/client/StreamSinkClient.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/service/StreamSinkApi.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/StreamSinkEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/mappers/StreamSinkEntityMapper.xml
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/AuditServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/StreamSinkService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/StreamSinkServiceImpl.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/sink/HiveSinkServiceTest.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/StreamSinkController.java
Labels: component/manager

#6165 [INLONG-6160][Sort] Support dynamic partition for KafkaLoadNode
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/constant/KafkaConstant.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/load/KafkaLoadNode.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/Constants.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/format/AbstractDynamicSchemaFormat.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/format/CanalJsonDynamicSchemaFormat.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/format/DebeziumJsonDynamicSchemaFormat.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/format/JsonDynamicSchemaFormat.java
  inlong-sort/sort-connectors/base/src/test/java/org/apache/inlong/sort/base/format/CanalJsonDynamicSchemaFormatTest.java
  inlong-sort/sort-connectors/base/src/test/java/org/apache/inlong/sort/base/format/DebeziumJsonDynamicSchemaFormatTest.java
  inlong-sort/sort-connectors/kafka/src/main/java/org/apache/inlong/sort/kafka/partitioner/RawDataHashPartitioner.java
  inlong-sort/sort-connectors/kafka/src/main/java/org/apache/inlong/sort/kafka/table/KafkaDynamicTableFactory.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/KafkaLoadSqlParseTest.java
Labels: component/sort

#6184 [INLONG-6181][Agent][DataProxy][Manager] Support node protocol reporting and query
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/HeartbeatManager.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sinks/SenderManager.java
  inlong-common/src/main/java/org/apache/inlong/common/constant/ProtocolType.java
  inlong-common/src/main/java/org/apache/inlong/common/heartbeat/ComponentHeartbeat.java
  inlong-common/src/main/java/org/apache/inlong/common/heartbeat/HeartbeatMsg.java
  inlong-dataproxy/conf/common.properties
  inlong-dataproxy/conf/dataproxy-pulsar.conf
  inlong-dataproxy/conf/dataproxy-tube.conf
  inlong-dataproxy/dataproxy-docker/Dockerfile
  inlong-dataproxy/dataproxy-docker/dataproxy-docker.sh
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/consts/ConfigConstants.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/heartbeat/HeartbeatManager.java
  inlong-manager/manager-dao/src/main/resources/mappers/InlongClusterNodeEntityMapper.xml
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/cluster/ClusterPageRequest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/heartbeat/HeartbeatManager.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/cluster/InlongClusterServiceTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/heartbeat/HeartbeatManagerTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/impl/HeartbeatServiceTest.java
  inlong-manager/manager-test/src/main/resources/h2/apache_inlong_manager.sql
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
Labels: component/manager, component/dataproxy, component/agent, service/docker

#6206 [INLONG-5049][Manager] Command tools add CRUD for user
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/CreateCommand.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/DeleteCommand.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/DescribeCommand.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/ListCommand.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/UpdateCommand.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/pojo/UserInfo.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/validator/UserTypeValidator.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/User.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/UserImpl.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/client/UserClient.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/service/UserApi.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/UserTypeEnum.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/UserController.java
Labels: component/manager

#6218 [INLONG-6217][DataProxy] Delete the cluster.id in the common.properties file
  inlong-dataproxy/conf/common.properties
Labels: component/dataproxy

#6195 [INLONG-6194][Agent] Support parsing metrics for different components
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/metrics/AgentPrometheusMetricListener.java
Labels: component/agent

#6211 [INLONG-6209][Manager] Clean and reuse code for DataNode
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/client/DataNodeClient.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/client/InlongClusterClient.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/DataNodeEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/mappers/DataNodeEntityMapper.xml
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/InlongClusterService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/node/DataNodeOperateHelper.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/node/DataNodeService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/node/DataNodeServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/StreamSinkServiceImpl.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/cluster/InlongClusterServiceTest.java
  inlong-manager/manager-web/src/test/java/org/apache/inlong/manager/web/controller/DataNodeControllerTest.java
Labels: component/manager

#6229 [INLONG-6228][DataProxy] Modify the default values of the dataproxy-tube.conf file
  inlong-dataproxy/conf/dataproxy-tube.conf
Labels: component/dataproxy

#6173 [INLONG-6152][Sort] MySQL connector support filtering kinds of row data
  inlong-common/src/main/java/org/apache/inlong/common/enums/RowKindEnum.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/extract/MySqlExtractNode.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/filter/RowKindValidator.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/filter/RowValidator.java
  inlong-sort/sort-connectors/base/src/test/java/org/apache/inlong/sort/base/validator/TestRowValidator.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/debezium/table/RowDataDebeziumDeserializeSchema.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/source/config/MySqlSourceOptions.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/table/MySqlReadableMetadata.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/table/MySqlTableInlongSourceFactory.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/table/MySqlTableSource.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/AllMigrateTest.java
Labels: component/sort

#6223 [INLONG-6222][Manager] Fix parse source status failure in Command tools
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/pojo/GroupInfo.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/pojo/SinkInfo.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/pojo/SourceInfo.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/pojo/StreamInfo.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/util/ParseStatus.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/util/PrintUtils.java
Labels: component/manager

#6208 [INLONG-6207][Agent] Optimize the unit test for TestSQLServerReader
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/sources/TestSQLServerConnect.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/sources/TestSQLServerReader.java
Labels: component/agent

#6189 [INLONG-6188][Manager] Join supports multiple fields
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/util/NodeRelationUtils.java
Labels: component/manager

#6225 [INLONG-6214][Sort] Import schema and data parsing ability for DynamicSchemaFormat
  inlong-sort/sort-connectors/base/pom.xml
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/Constants.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/format/AbstractDynamicSchemaFormat.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/format/CanalJsonDynamicSchemaFormat.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/format/DebeziumJsonDynamicSchemaFormat.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/format/JsonDynamicSchemaFormat.java
Labels: component/sort

#6168 [INLONG-6151][Manager] Add data cleansing task and optimize query indexes
  inlong-audit/sql/apache_inlong_audit.sql
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/InlongGroupEntityMapper.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/InlongGroupExtEntityMapper.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/InlongStreamEntityMapper.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/InlongStreamExtEntityMapper.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/InlongStreamFieldEntityMapper.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/StreamSinkEntityMapper.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/StreamSinkFieldEntityMapper.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/StreamSourceEntityMapper.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/StreamSourceFieldEntityMapper.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/StreamTransformEntityMapper.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/StreamTransformFieldEntityMapper.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/WorkflowEventLogEntityMapper.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/WorkflowProcessEntityMapper.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/WorkflowTaskEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/mappers/InlongGroupEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/InlongGroupExtEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/InlongStreamEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/InlongStreamExtEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/InlongStreamFieldEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/StreamSinkEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/StreamSinkFieldEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/StreamSourceEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/StreamSourceFieldEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/StreamTransformEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/StreamTransformFieldEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/WorkflowEventLogEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/WorkflowProcessEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/WorkflowTaskEntityMapper.xml
  inlong-manager/manager-docker/Dockerfile
  inlong-manager/manager-docker/manager-docker.sh
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/repository/DataProxyConfigRepository.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/StreamSinkServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/task/DataCleansingTask.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/repository/DataProxyConfigRepositoryTest.java
  inlong-manager/manager-test/src/main/resources/h2/apache_inlong_manager.sql
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
  inlong-manager/manager-web/src/main/resources/application-dev.properties
  inlong-manager/manager-web/src/main/resources/application-prod.properties
  inlong-manager/manager-web/src/main/resources/application-test.properties
  inlong-manager/manager-web/src/main/resources/application.properties
Labels: component/manager, component/audit, service/docker

#6235 [INLONG-6234][DataProxy] Adjust the source report information acquisition source
  inlong-dataproxy/conf/common.properties
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/ConfigManager.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/holder/SourceReportConfigHolder.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/holder/SourceReportInfo.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/consts/ConfigConstants.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/heartbeat/HeartbeatManager.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/http/SimpleHttpSource.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/SimpleTcpSource.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/SimpleUdpSource.java
  inlong-dataproxy/dataproxy-source/src/test/java/org/apache/inlong/dataproxy/config/holder/TestSourceReportHolder.java
Labels: component/dataproxy

#6221 [INLONG-6220][Manager] Support query cluster nodes by the manager client
  inlong-common/src/main/java/org/apache/inlong/common/pojo/dataproxy/DataProxyNodeResponse.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/InlongClient.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/InlongClientImpl.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/client/InlongClusterClient.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/service/InlongClusterApi.java
  inlong-manager/manager-client/src/test/java/org/apache/inlong/manager/client/api/inner/ClientFactoryTest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/InlongClusterService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/InlongClusterServiceImpl.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/InlongClusterController.java
Labels: component/manager

#6242 [INLONG-6241][Docker] Add manager and audit database name configuration
  inlong-audit/audit-docker/Dockerfile
  inlong-audit/audit-docker/audit-docker.sh
  inlong-manager/manager-docker/Dockerfile
  inlong-manager/manager-docker/manager-docker.sh
Labels: component/manager, component/audit, service/docker

#6244 [INLONG-6243][Sort] Support custom name for Sort job
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/configuration/Constants.java
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/Entrance.java
Labels: component/sort

#6210 [INLONG-6174][Sort] MySql connector support meta data with debezium format
  inlong-common/src/main/java/org/apache/inlong/common/enums/MetaField.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/Metadata.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/extract/MySqlExtractNode.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/load/KafkaLoadNode.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/node/extract/MySqlExtractNodeTest.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/node/load/KafkaLoadNodeTest.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/table/MySqlReadableMetadata.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/AllMigrateTest.java
  inlong-sort/sort-formats/format-json/pom.xml
  inlong-sort/sort-formats/format-json/src/main/java/org/apache/inlong/sort/formats/json/debezium/DebeziumJson.java
Labels: component/sort

#6252 [INLONG-6251][Agent] Fix UT ConcurrentModification error
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/constant/AgentConstants.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/constant/CommonConstants.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/constant/JobConstants.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/job/JobWrapper.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/task/TaskWrapper.java
Labels: component/agent

#6262 [INLONG-6236][CVE] Unified the hive is 3.1.3 after fixed CVE-2021-34538
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/load/HiveLoadNode.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/StreamInfoTest.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/node/load/HiveLoadNodeTest.java
  inlong-sort/sort-connectors/hive/src/main/java/org/apache/inlong/sort/hive/HiveValidator.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/FlinkSqlParserTest.java
  licenses/inlong-manager/LICENSE
  licenses/inlong-sort-connectors/LICENSE
  licenses/inlong-sort-standalone/LICENSE
Labels: component/sort

#6259 [INLONG-6256][Sort] Support debezium-json format with schema parse for DebeziumJsonDynamicSchemaFormat
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/format/DebeziumJsonDynamicSchemaFormat.java
  inlong-sort/sort-connectors/base/src/test/java/org/apache/inlong/sort/base/format/DebeziumJsonDynamicSchemaFormatTest.java
  inlong-sort/sort-connectors/base/src/test/java/org/apache/inlong/sort/base/format/DebeziumJsonDynamicSchemaFormatWithSchemaTest.java
Labels: component/sort

#6267 [INLONG-6266][Manager][DataProxy] Change the heartbeat configuration
  bin/init-config.sh
  docker/docker-compose/docker-compose.yml
  inlong-dataproxy/conf/dataproxy-pulsar.conf
  inlong-dataproxy/conf/dataproxy-tube.conf
  inlong-dataproxy/dataproxy-docker/dataproxy-docker.sh
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/heartbeat/HeartbeatManager.java
Labels: component/manager, component/dataproxy, service/docker

#6257 [INLONG-6250][Sort] Return ZonedTimestamp when mysql data schema is timestamp or dataTime
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/debezium/table/RowDataDebeziumDeserializeSchema.java
Labels: component/sort

#6269 [INLONG-6268][Manager] Support raw format for Load nodes
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/util/LoadNodeUtils.java
Labels: component/manager

#6247 [INLONG-6246][Sort] Import multiple sink option and schema update handle policy
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/Constants.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/sink/MultipleSinkOption.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/sink/SchemaUpdateExceptionPolicy.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/sink/TableChange.java
Labels: component/sort

#6230 [INLONG-6216][Manager] Support getting group topic info
  inlong-common/src/main/java/org/apache/inlong/common/constant/ClusterSwitch.java
  inlong-manager/manager-client/src/test/java/org/apache/inlong/manager/client/api/inner/ClientFactoryTest.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/InlongClusterEntityMapper.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/InlongGroupExtEntityMapper.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/InlongStreamExtEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/mappers/InlongClusterEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/InlongGroupExtEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/InlongStreamExtEntityMapper.xml
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/group/kafka/InlongKafkaTopicInfo.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/group/none/InlongNoneMqTopicInfo.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/group/pulsar/InlongPulsarTopicInfo.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/group/tubemq/InlongTubeMQTopicInfo.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/InlongClusterService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/InlongClusterServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/TubeClusterOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/consume/ConsumeTubeMQOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/ConsumptionServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/group/AbstractGroupOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/group/InlongGroupOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/group/InlongGroupOperator4Kafka.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/group/InlongGroupOperator4NoneMQ.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/group/InlongGroupOperator4Pulsar.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/group/InlongGroupOperator4TubeMQ.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/group/InlongGroupService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/group/InlongGroupServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/group/InlongNoneMqOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/stream/InlongStreamServiceImpl.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/InlongGroupController.java
Labels: component/manager

#6213 [INLONG-6212][Sort] Support multiple sink for DorisLoadNode
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/constant/DorisConstant.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/load/DorisLoadNode.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/format/CanalJsonDynamicSchemaFormat.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/format/DebeziumJsonDynamicSchemaFormat.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/format/JsonDynamicSchemaFormat.java
  inlong-sort/sort-connectors/doris/pom.xml
  inlong-sort/sort-connectors/doris/src/main/java/org/apache/inlong/sort/doris/table/DorisDynamicSchemaOutputFormat.java
  inlong-sort/sort-connectors/doris/src/main/java/org/apache/inlong/sort/doris/table/DorisDynamicTableFactory.java
  inlong-sort/sort-connectors/doris/src/main/java/org/apache/inlong/sort/doris/table/DorisDynamicTableSink.java
  inlong-sort/sort-connectors/doris/src/main/java/org/apache/inlong/sort/doris/table/DorisStreamLoad.java
  inlong-sort/sort-connectors/doris/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/DorisMultipleSinkTest.java
  licenses/inlong-sort-connectors/LICENSE
Labels: component/sort

#6279 [INLONG-6278][DataProxy] Needless to sleep() for order event
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/pulsar/SinkTask.java
Labels: component/dataproxy

#6284 [INLONG-6283][Sort] Fix the JAR conflict between sort-dist and sort-connector
  inlong-sort/sort-formats/format-json/pom.xml
Labels: component/sort

#6286 [INLONG-6285][DataProxy] Add authorization info while reporting heartbeat to Manager
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/heartbeat/HeartbeatManager.java
Labels: component/dataproxy, 1.3.x/bugfix

#6287 [INLONG-6282][Manager] Fix the delete API not working problem in the manager client
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/InlongStreamImpl.java
Labels: component/manager

#6175 [INLONG-6045][Sort] Support all migrate for Oracle connector
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/Metadata.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/extract/OracleExtractNode.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/node/extract/OracleExtractNodeTest.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/Constants.java
  inlong-sort/sort-connectors/oracle-cdc/pom.xml
  inlong-sort/sort-connectors/oracle-cdc/src/main/java/org/apache/inlong/sort/cdc/oracle/OracleSource.java
  inlong-sort/sort-connectors/oracle-cdc/src/main/java/org/apache/inlong/sort/cdc/oracle/debezium/DebeziumDeserializationSchema.java
  inlong-sort/sort-connectors/oracle-cdc/src/main/java/org/apache/inlong/sort/cdc/oracle/debezium/DebeziumSourceFunction.java
  inlong-sort/sort-connectors/oracle-cdc/src/main/java/org/apache/inlong/sort/cdc/oracle/debezium/history/FlinkJsonTableChangeSerializer.java
  inlong-sort/sort-connectors/oracle-cdc/src/main/java/org/apache/inlong/sort/cdc/oracle/debezium/internal/DebeziumChangeConsumer.java
  inlong-sort/sort-connectors/oracle-cdc/src/main/java/org/apache/inlong/sort/cdc/oracle/debezium/internal/DebeziumChangeFetcher.java
  inlong-sort/sort-connectors/oracle-cdc/src/main/java/org/apache/inlong/sort/cdc/oracle/debezium/internal/DebeziumOffset.java
  inlong-sort/sort-connectors/oracle-cdc/src/main/java/org/apache/inlong/sort/cdc/oracle/debezium/internal/DebeziumOffsetSerializer.java
  inlong-sort/sort-connectors/oracle-cdc/src/main/java/org/apache/inlong/sort/cdc/oracle/debezium/internal/FlinkDatabaseHistory.java
  inlong-sort/sort-connectors/oracle-cdc/src/main/java/org/apache/inlong/sort/cdc/oracle/debezium/internal/FlinkDatabaseSchemaHistory.java
  inlong-sort/sort-connectors/oracle-cdc/src/main/java/org/apache/inlong/sort/cdc/oracle/debezium/internal/FlinkOffsetBackingStore.java
  inlong-sort/sort-connectors/oracle-cdc/src/main/java/org/apache/inlong/sort/cdc/oracle/debezium/internal/Handover.java
  inlong-sort/sort-connectors/oracle-cdc/src/main/java/org/apache/inlong/sort/cdc/oracle/debezium/internal/SchemaRecord.java
  inlong-sort/sort-connectors/oracle-cdc/src/main/java/org/apache/inlong/sort/cdc/oracle/debezium/table/AppendMetadataCollector.java
  inlong-sort/sort-connectors/oracle-cdc/src/main/java/org/apache/inlong/sort/cdc/oracle/debezium/table/DebeziumOptions.java
  inlong-sort/sort-connectors/oracle-cdc/src/main/java/org/apache/inlong/sort/cdc/oracle/debezium/table/DeserializationRuntimeConverter.java
  inlong-sort/sort-connectors/oracle-cdc/src/main/java/org/apache/inlong/sort/cdc/oracle/debezium/table/DeserializationRuntimeConverterFactory.java
  inlong-sort/sort-connectors/oracle-cdc/src/main/java/org/apache/inlong/sort/cdc/oracle/debezium/table/MetadataConverter.java
  inlong-sort/sort-connectors/oracle-cdc/src/main/java/org/apache/inlong/sort/cdc/oracle/debezium/table/RowDataDebeziumDeserializeSchema.java
  inlong-sort/sort-connectors/oracle-cdc/src/main/java/org/apache/inlong/sort/cdc/oracle/debezium/utils/DatabaseHistoryUtil.java
  inlong-sort/sort-connectors/oracle-cdc/src/main/java/org/apache/inlong/sort/cdc/oracle/debezium/utils/RecordUtils.java
  inlong-sort/sort-connectors/oracle-cdc/src/main/java/org/apache/inlong/sort/cdc/oracle/debezium/utils/TemporalConversions.java
  inlong-sort/sort-connectors/oracle-cdc/src/main/java/org/apache/inlong/sort/cdc/oracle/table/OracleDeserializationConverterFactory.java
  inlong-sort/sort-connectors/oracle-cdc/src/main/java/org/apache/inlong/sort/cdc/oracle/table/OracleReadableMetaData.java
  inlong-sort/sort-connectors/oracle-cdc/src/main/java/org/apache/inlong/sort/cdc/oracle/table/OracleTableSource.java
  inlong-sort/sort-connectors/oracle-cdc/src/main/java/org/apache/inlong/sort/cdc/oracle/table/OracleTableSourceFactory.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/AllMigrateOracleTest.java
  inlong-sort/sort-formats/format-json/src/main/java/org/apache/inlong/sort/formats/json/canal/CanalJson.java
  licenses/inlong-sort-connectors/LICENSE
Labels: component/sort

#6281 [INLONG-6280][Docker] Add tools for dashboard image
  inlong-dashboard/Dockerfile
Labels: component/dashboard, service/docker

#6290 [INLONG-6289][Docker][Audit] Add configuration to choose starting proxy or store or both
  inlong-audit/audit-docker/Dockerfile
  inlong-audit/audit-docker/audit-docker.sh
Labels: component/audit, service/docker

#6245 [INLONG-4986][Agent] Support MQTT Source
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/pojo/JobProfileDto.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/pojo/MqttJob.java
  inlong-agent/agent-plugins/pom.xml
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/MqttSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/MqttReader.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/sources/TestMqttConnect.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/sources/TestMqttReader.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/sources/TestMqttSource.java
  inlong-common/src/main/java/org/apache/inlong/common/enums/TaskTypeEnum.java
  licenses/inlong-agent/LICENSE
  licenses/inlong-agent/licenses/LICENSE-paho.mqtt.java.txt
  pom.xml
Labels: component/agent

#6233 [INLONG-6232][Manager] Support Apache Doris load node management
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/consts/SinkType.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sink/doris/DorisSink.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sink/doris/DorisSinkDTO.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sink/doris/DorisSinkRequest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/util/LoadNodeUtils.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/doris/DorisSinkOperator.java
Labels: component/manager

#6254 [INLONG-6263][CVE] Upgrade com.google.guava to 30.0-jre
  inlong-tubemq/tubemq-manager/pom.xml
Labels: component/tubemq

#6304 [INLONG-6303][Dependency] Unify the guava version for the TubeMQ manager
  inlong-tubemq/tubemq-manager/pom.xml
  licenses/inlong-tubemq-manager/LICENSE
Labels: component/tubemq

#6272 [INLONG-6271][Sort] Unhandled update_before data in canal json in multiple sink scene
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/format/CanalJsonDynamicSchemaFormat.java
Labels: component/sort

#6298 [INLONG-6296][Sort] Split one record to multiple records when the physical data has more records for KafkaLoadNode
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/format/JsonDynamicSchemaFormat.java
  inlong-sort/sort-connectors/kafka/src/main/java/org/apache/inlong/sort/kafka/DynamicKafkaSerializationSchema.java
  inlong-sort/sort-connectors/kafka/src/main/java/org/apache/inlong/sort/kafka/FlinkKafkaProducer.java
Labels: component/sort

#6306 [INLONG-6300][Sort] Schema update policy unifie behavior for all column change type
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/Constants.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/sink/MultipleSinkOption.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/sink/SchemaUpdateExceptionPolicy.java
  inlong-sort/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/FlinkDynamicTableFactory.java
  inlong-sort/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/IcebergTableSink.java
  inlong-sort/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/multiple/DynamicSchemaHandleOperator.java
Labels: component/sort

#6308 [INLONG-6307][Sort] Add whether to ignore single-table error policy processing for multiple sink of DorisLoadNode
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/Constants.java
  inlong-sort/sort-connectors/doris/src/main/java/org/apache/inlong/sort/doris/table/DorisDynamicSchemaOutputFormat.java
  inlong-sort/sort-connectors/doris/src/main/java/org/apache/inlong/sort/doris/table/DorisDynamicTableFactory.java
  inlong-sort/sort-connectors/doris/src/main/java/org/apache/inlong/sort/doris/table/DorisDynamicTableSink.java
Labels: component/sort

#6312 [INLONG-6311][Sort] Fix missing fields error for the old Canal JSON data in multiple sink scenes
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/format/JsonDynamicSchemaFormat.java
  inlong-sort/sort-connectors/base/src/test/java/org/apache/inlong/sort/base/format/CanalJsonDynamicSchemaFormatTest.java
Labels: component/sort

#6317 [INLONG-6316][DataProxy] Fix heartbeat information is null
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/heartbeat/HeartbeatManager.java
Labels: component/dataproxy

#6310 [INLONG-6309][Audit] Add judgment for the initialization of the Druid connection pool
  inlong-audit/audit-store/src/main/java/org/apache/inlong/audit/db/DruidConfig.java
Labels: component/audit

#6314 [INLONG-6085][Manager] Remove the unused data consumption related classes
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/ConsumptionEntity.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/ConsumptionPulsarEntity.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/ConsumptionEntityMapper.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/ConsumptionPulsarEntityMapper.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/InlongConsumeEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/mappers/ConsumptionEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/ConsumptionPulsarEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/InlongConsumeEntityMapper.xml
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/consumption/ConsumptionInfo.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/consumption/ConsumptionListVo.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/consumption/ConsumptionMqExtBase.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/consumption/ConsumptionPulsarInfo.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/consumption/ConsumptionQuery.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/consumption/ConsumptionSummary.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/workflow/form/process/ApplyConsumeProcessForm.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/consume/ConsumePulsarOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/consume/InlongConsumeOperatorFactory.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/consume/InlongConsumeServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/ConsumptionService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/ConsumptionServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/group/InlongGroupOperator4Pulsar.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/heartbeat/HeartbeatManager.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/heartbeat/HeartbeatServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/listener/consume/apply/ApproveConsumeProcessListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/queue/pulsar/PulsarResourceOperator.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/cluster/InlongClusterServiceTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/heartbeat/HeartbeatManagerTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/impl/ConsumptionServiceTest.java
  inlong-manager/manager-test/src/main/resources/h2/apache_inlong_manager.sql
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/ConsumptionController.java
  inlong-manager/manager-workflow/src/main/java/org/apache/inlong/manager/workflow/WorkflowConfig.java
Labels: component/manager

#6325 [INLONG-6324][DataProxy] Optimize DataProxy's message processing on the source side
  inlong-common/src/main/java/org/apache/inlong/common/enums/DataProxyErrCode.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/consts/AttributeConstants.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/consts/ConfigConstants.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/pulsar/PulsarClientService.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/ServerMessageHandler.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/utils/MessageUtils.java
Labels: component/dataproxy

#6328 [INLONG-6326][Sort] Fix the incorrect log type in the all migrate converter
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/debezium/table/RowDataDebeziumDeserializeSchema.java
Labels: component/sort

#6321 [INLONG-6315][Dashboard] Support Doris sink
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/locales/en.json
  inlong-dashboard/src/metas/sinks/defaults/Doris.ts
  inlong-dashboard/src/metas/sinks/defaults/index.ts
Labels: component/dashboard

#6294 [INLONG-6288][Manager] Refactor getSortClusterConfig by using MyBatis Cursor
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/DataNodeEntityMapper.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/StreamSinkEntityMapper.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/StreamSinkFieldEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/mappers/DataNodeEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/StreamSinkEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/StreamSinkFieldEntityMapper.xml
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/standalone/SortFieldInfo.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/SortConfigLoader.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/SortClusterServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/SortConfigLoaderImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/SortSourceServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/node/AbstractDataNodeOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/node/DataNodeOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/AbstractSinkOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/StreamSinkOperator.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/sort/SortServiceImplTest.java
Labels: component/manager

#6277 [INLONG-6276][Manager] Fix the problem of parsing the ASCII code when submitting the Sort task
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/DataSeparator.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sink/hive/HiveSinkRequest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/util/ExtractNodeUtils.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/autopush/AutoPushSourceRequest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/kafka/KafkaSourceRequest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/pulsar/PulsarSourceRequest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/stream/InlongStreamRequest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/pulsar/PulsarSourceOperator.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/ServiceBaseTest.java
Labels: component/manager

#6336 [INLONG-6335][Sort] Support the blob and binary data of MySql all migrate
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/debezium/table/RowDataDebeziumDeserializeSchema.java
Labels: component/sort

#6323 [INLONG-6322][Sort] Fix write data incorrect for doris connector with sink multiple scenario
  inlong-sort/sort-connectors/doris/src/main/java/org/apache/inlong/sort/doris/table/DorisDynamicSchemaOutputFormat.java
Labels: component/sort

#6337 [INLONG-6140][Docker] Decrease the docker-compose version to be compatible with more environments
  docker/docker-compose/docker-compose.yml
Labels: service/docker

#6334 [INLONG-6331][Dataproxy] To fix dataproxy prometheus problem
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/metrics/AgentPrometheusMetricListener.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/metrics/prometheus/PrometheusMetricListener.java
Labels: component/dataproxy, component/agent

#6340 [INLONG-6339][Docker] Add a global variable to define the InLong version
  docker/docker-compose/.env
  docker/docker-compose/docker-compose.yml
Labels: service/docker

#6342 [INLONG-6341][Docker] Update the default cluster and tag name for agent
  inlong-agent/agent-docker/Dockerfile
Labels: component/agent, service/docker
