Repository apache/inlong, pull requests merged in 2023-05, with the labels that each got.

#7949 [INLONG-7948][Manager] Add user authentication when operate inlong consume
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/consume/InlongConsumeProcessService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/consume/InlongConsumeService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/consume/InlongConsumeServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/StreamSinkService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/StreamSinkServiceImpl.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/consume/InlongConsumeServiceTest.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/InlongConsumeController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/StreamSinkController.java
Labels: component/manager

#7947 [INLONG-7946][Manager] Add user authentication when bind clusterTag
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/InlongClusterServiceImpl.java
Labels: component/manager

#7951 [INLONG-7945][Sort] Fix MongoDB CDC unable to output the 'replace' records
  inlong-sort/sort-connectors/mongodb-cdc/src/main/java/org/apache/inlong/sort/cdc/mongodb/debezium/table/MongoDBConnectorDeserializationSchema.java
  inlong-sort/sort-connectors/mongodb-cdc/src/main/java/org/apache/inlong/sort/cdc/mongodb/debezium/utils/RecordUtils.java
  inlong-sort/sort-connectors/mongodb-cdc/src/main/java/org/apache/inlong/sort/cdc/mongodb/table/MongoDBTableSource.java
  inlong-sort/sort-connectors/mongodb-cdc/src/main/java/org/apache/inlong/sort/cdc/mongodb/table/filter/MongoDBRowKind.java
  inlong-sort/sort-connectors/mongodb-cdc/src/main/java/org/apache/inlong/sort/cdc/mongodb/table/filter/MongoDBRowKindValidator.java
Labels: component/sort

#7953 [INLONG-7952][Sort] Mask sensitive message of Flink SQL in the logs
  inlong-common/src/main/java/org/apache/inlong/common/util/MaskDataUtils.java
  inlong-common/src/test/java/org/apache/inlong/common/util/MaskDataUtilsTest.java
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/parser/impl/FlinkSqlParser.java
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/parser/result/FlinkSqlParseResult.java
Labels: component/sort

#7913 [INLONG-7912][Manager] Only issue normal DataProxy nodes
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/InlongClusterServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/node/AbstractClusterNodeOperator.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/cluster/InlongClusterServiceTest.java
Labels: component/manager

#7961 [INLONG-7957][Sort] Fix Oracle connector output two data with the same UPDATE operation
  inlong-sort/sort-connectors/oracle-cdc/src/main/java/org/apache/inlong/sort/cdc/oracle/table/OracleReadableMetaData.java
Labels: component/sort

#7960 [INLONG-7958][Sort] Fix MongoDB's schema becomes unordered after extracting the row data
  inlong-sort/sort-connectors/mongodb-cdc/src/main/java/org/apache/inlong/sort/cdc/mongodb/debezium/DebeziumJson.java
  inlong-sort/sort-connectors/mongodb-cdc/src/main/java/org/apache/inlong/sort/cdc/mongodb/debezium/table/MongoDBConnectorDeserializationSchema.java
  inlong-sort/sort-connectors/mongodb-cdc/src/main/java/org/apache/inlong/sort/cdc/mongodb/source/reader/MongoDBRecordEmitter.java
  inlong-sort/sort-connectors/mongodb-cdc/src/main/java/org/apache/inlong/sort/cdc/mongodb/source/reader/fetch/MongoDBScanFetchTask.java
  inlong-sort/sort-connectors/mongodb-cdc/src/main/java/org/apache/inlong/sort/cdc/mongodb/source/reader/fetch/MongoDBStreamFetchTask.java
  inlong-sort/sort-connectors/mongodb-cdc/src/main/java/org/apache/inlong/sort/cdc/mongodb/source/utils/MetaDataUtils.java
  inlong-sort/sort-connectors/mongodb-cdc/src/main/java/org/apache/inlong/sort/cdc/mongodb/source/utils/MongoUtils.java
  inlong-sort/sort-connectors/mongodb-cdc/src/main/java/org/apache/inlong/sort/cdc/mongodb/table/MongoDBReadableMetadata.java
Labels: component/sort

#7878 [INLONG-7831][Sort] Using spilling disk map to reduce memory loss for buffer per parititon data
  inlong-sort/sort-connectors/iceberg/pom.xml
  inlong-sort/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/FlinkDynamicTableFactory.java
  inlong-sort/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/IcebergTableSink.java
  inlong-sort/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/FlinkSink.java
  inlong-sort/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/IcebergMiniBatchGroupOperator.java
  inlong-sort/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/collections/FileIOUtils.java
  inlong-sort/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/collections/KVBuffer.java
  inlong-sort/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/collections/PartitionGroupBuffer.java
  inlong-sort/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/collections/RocksDBDAO.java
  inlong-sort/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/collections/RocksDBKVBuffer.java
  inlong-sort/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/collections/SortedHeapKVBuffer.java
  inlong-sort/sort-connectors/iceberg/src/test/java/org/apache/inlong/sort/iceberg/sink/TestMiniBatchOperator.java
  inlong-sort/sort-connectors/iceberg/src/test/java/org/apache/inlong/sort/iceberg/sink/TestRocksDBKVBuffer.java
  inlong-sort/sort-connectors/iceberg/src/test/resources/log4j2-test.properties
Labels: component/sort

#7937 [INLONG-7936][Manager] Support issued pulsar subscriptions to sort
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/util/ExtractNodeUtils.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/pulsar/PulsarSource.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/pulsar/PulsarSourceDTO.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/pulsar/PulsarSourceRequest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/queue/pulsar/PulsarResourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/pulsar/PulsarSourceOperator.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/extract/PulsarExtractNode.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/node/extract/PulsarExtractNodeTest.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/PulsarSqlParserTest.java
Labels: component/manager, component/sort

#7943 [INLONG-7940][Sort] Use pulsar subscriptions and specify subscription offset in pulsar connector
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/node/extract/PulsarExtractNodeTest.java
  inlong-sort/sort-connectors/pulsar/src/main/java/org/apache/inlong/sort/pulsar/internal/FlinkPulsarSource.java
  inlong-sort/sort-connectors/pulsar/src/main/java/org/apache/inlong/sort/pulsar/internal/PulsarMetadataReader.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/PulsarSqlParserTest.java
Labels: component/sort

#7973 [INLONG-7963][Release] Add the 1.7.0 version option for the bug report
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: service/ci

#7975 [INLONG-7970][Sort] Fix read metadata filed failed of mongodb cdc
  inlong-sort/sort-connectors/mongodb-cdc/src/main/java/org/apache/inlong/sort/cdc/mongodb/table/MongoDBReadableMetadata.java
Labels: component/sort

#7980 [INLONG-7968][Release] Change the tag of Docker images to 1.7.0
  conf/inlong.conf
  docker/docker-compose/.env
  docker/kubernetes/README.md
  docker/kubernetes/values.yaml
  inlong-audit/audit-docker/README.md
  inlong-dataproxy/dataproxy-docker/README.md
  inlong-manager/manager-docker/README.md
  inlong-tubemq/tubemq-docker/tubemq-all/README.md
  inlong-tubemq/tubemq-docker/tubemq-manager/README.md
Labels: component/tubemq, component/manager, component/dataproxy, component/audit, service/docker, service/k8s

#7984 [INLONG-7983][Sort] Remove the duplicate dependency
  inlong-sort/sort-connectors/elasticsearch-base/pom.xml
Labels: component/sort

#7988 [INLONG-7968][Docker] Add JDBC connector jar for test
  CHANGES.md
  inlong-manager/manager-docker/Dockerfile
Labels: component/manager, service/docker

#7982 [INLONG-7981][Manager] Failed to stop source correctly when suspend a group
  CHANGES.md
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/AgentServiceImpl.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/impl/AgentServiceTest.java
Labels: component/manager, 1.7.x/bugfix

#7905 [INLONG-7903][Sort] Kafka sink supports fixed partition strategy
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/Constants.java
  inlong-sort/sort-connectors/kafka/src/main/java/org/apache/inlong/sort/kafka/partitioner/InLongFixedPartitionPartitioner.java
  inlong-sort/sort-connectors/kafka/src/main/java/org/apache/inlong/sort/kafka/partitioner/RawDataHashPartitioner.java
  inlong-sort/sort-connectors/kafka/src/main/java/org/apache/inlong/sort/kafka/table/KafkaDynamicTableFactory.java
  inlong-sort/sort-connectors/kafka/src/test/java/org/apache/inlong/sort/kafka/partitioner/InLongFixedPartitionPartitionerTest.java
Labels: component/sort

#7991 [INLONG-7990][Sort] fix license for InLongFixedPartitionPartitionerTest
  inlong-sort/sort-connectors/kafka/src/test/java/org/apache/inlong/sort/kafka/partitioner/InLongFixedPartitionPartitionerTest.java
Labels: component/sort

#7998 [INLONG-7994][Sort] Add UT for all migration to MongoDB CDC
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/AllMigrateMongoDBTest.java
Labels: component/sort

#8004 [INLONG-8003][Bug] dataproxy http returns suc all the time
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/http/SimpleMessageHandler.java
Labels: component/dataproxy, 1.7.x/bugfix

#7979 [INLONG-7976][Agent] The data collected by the agent is incomplete
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/constant/AgentConstants.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/constant/CommonConstants.java
  inlong-agent/agent-common/src/test/java/org/apache/inlong/agent/utils/TestPathUtils.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/task/TaskPositionManager.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sinks/KafkaSink.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sinks/PulsarSink.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sinks/SenderManager.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/file/FileReaderOperator.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/file/MonitorTextFile.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/TestFileAgent.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/filter/TestDateFormatRegex.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/sources/TestTextFileReader.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/task/TestTextFileTask.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/trigger/TestTriggerManager.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/trigger/TestWatchDirTrigger.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/utils/TestUtils.java
  inlong-agent/bin/agent-env.sh
Labels: component/agent

#8002 [INLONG-8001][Dashboard] Support postgreSQL node management
  CHANGES.md
  inlong-dashboard/src/plugins/nodes/defaults/PostgreSQL.ts
  inlong-dashboard/src/plugins/nodes/defaults/index.ts
  inlong-dashboard/src/ui/locales/cn.json
  inlong-dashboard/src/ui/locales/en.json
Labels: component/dashboard

#7933 [INLONG-7926][TubeMQ] Add "Register2Master" method for GO SDK
  inlong-tubemq/tubemq-client-twins/tubemq-client-go/client/client.go
  inlong-tubemq/tubemq-client-twins/tubemq-client-go/client/consumer.go
  inlong-tubemq/tubemq-client-twins/tubemq-client-go/client/producer.go
  inlong-tubemq/tubemq-client-twins/tubemq-client-go/config/config.go
  inlong-tubemq/tubemq-client-twins/tubemq-client-go/example/producer.go
  inlong-tubemq/tubemq-client-twins/tubemq-client-go/rpc/client.go
  inlong-tubemq/tubemq-client-twins/tubemq-client-go/rpc/master.go
  inlong-tubemq/tubemq-client-twins/tubemq-client-go/util/util.go
Labels: component/tubemq

#8007 [INLONG-8006][Manager] Set displayName for the auto-registered cluster
  CHANGES.md
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/heartbeat/HeartbeatManager.java
Labels: component/manager

#7997 [INLONG-7996][Manager] Support issued kafka consumer group to sort
  CHANGES.md
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/queue/kafka/KafkaResourceOperators.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/kafka/KafkaSourceOperator.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/enums/KafkaScanStartupMode.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/extract/KafkaExtractNode.java
Labels: component/manager, component/sort

#8010 [INLONG-8009][Package] Exclude the useless dependency for pulsar-client
  CHANGES.md
  inlong-agent/agent-plugins/pom.xml
  inlong-audit/audit-proxy/pom.xml
  inlong-audit/audit-store/pom.xml
  inlong-dataproxy/pom.xml
  inlong-manager/manager-service/pom.xml
  inlong-sort-standalone/pom.xml
  inlong-sort/sort-connectors/pulsar/pom.xml
Labels: component/manager, component/dataproxy, component/agent, component/audit, component/sort

#8012 [INLONG-8011][Dashboard] Cluster name and node name can be modified when editing
  CHANGES.md
  inlong-dashboard/src/plugins/clusters/common/ClusterDefaultInfo.ts
  inlong-dashboard/src/plugins/nodes/common/NodeDefaultInfo.ts
Labels: component/dashboard

#8014 [INLONG-8013][Sort] Revert INLONG-7994 to recover the workflow
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/AllMigrateMongoDBTest.java
Labels: component/sort

#8016 [INLONG-7830][Sort] Using multi-threading to closing files ingesting data into iceberg
  inlong-sort/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/GroupedPartitionedDeltaWriter.java
  inlong-sort/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/GroupedPartitionedFanoutWriter.java
  inlong-sort/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/trick/BaseDeltaTaskWriter.java
  inlong-sort/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/trick/BaseTaskWriter.java
  inlong-sort/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/trick/CharSequenceSet.java
  inlong-sort/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/trick/SortedPosDeleteWriter.java
  inlong-sort/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/trick/StructCopy.java
Labels: component/sort

#8023 [INLONG-8022][Dashboard] Node management title text optimization
  CHANGES.md
  inlong-dashboard/src/configs/menus/conf.tsx
  inlong-dashboard/src/i18n.ts
Labels: component/dashboard

#7972 [INLONG-7971][Dashboard] Support batch import stream fields by Excel
  inlong-dashboard/src/ui/components/FieldParseModule/index.tsx
  inlong-dashboard/src/ui/locales/cn.json
  inlong-dashboard/src/ui/locales/en.json
Labels: component/dashboard

#8025 [INLONG-8024][Manager] Add extended properties when getting the status of the sort task info
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/SortStatusInfo.java
Labels: component/manager

#7989 [INLONG-7987][Manager] Add heartbeat timeout status to the source
  CHANGES.md
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/SimpleSourceStatus.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/SourceStatus.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/InlongClusterNodeEntityMapper.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/StreamSourceEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/mappers/InlongClusterNodeEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/StreamSourceEntityMapper.xml
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/cluster/BindTagRequest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/cluster/ClusterTagRequest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/SourceRequest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/InlongClusterServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/AgentServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/heartbeat/HeartbeatManager.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/heartbeat/HeartbeatServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/listener/source/AbstractSourceOperateListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/AbstractSourceOperator.java
  inlong-manager/manager-web/src/main/resources/application-dev.properties
  inlong-manager/manager-web/src/main/resources/application-prod.properties
  inlong-manager/manager-web/src/main/resources/application-test.properties
Labels: component/manager

#8028 [INLONG-8021][Manager] Periodically delete sources with inconsistent states
  CHANGES.md
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/StreamSourceEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/mappers/StreamSourceEntityMapper.xml
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/AgentServiceImpl.java
  inlong-manager/manager-web/src/main/resources/application-dev.properties
  inlong-manager/manager-web/src/main/resources/application-prod.properties
  inlong-manager/manager-web/src/main/resources/application-test.properties
Labels: component/manager, 1.7.x/bugfix

#8033 [INLONG-8029][Sort] Use fixed subscription name when start a pulsar reader
  CHANGES.md
  inlong-sort/sort-connectors/pulsar/src/main/java/org/apache/inlong/sort/pulsar/internal/FlinkPulsarSource.java
  inlong-sort/sort-connectors/pulsar/src/main/java/org/apache/inlong/sort/pulsar/internal/FlinkPulsarSourceWithoutAdmin.java
  inlong-sort/sort-connectors/pulsar/src/main/java/org/apache/inlong/sort/pulsar/internal/PulsarFetcher.java
  inlong-sort/sort-connectors/pulsar/src/main/java/org/apache/inlong/sort/pulsar/internal/ReaderThread.java
Labels: component/sort

#8037 [INLONG-8035][Manager] Fix Non-file tasks cannot be recovered from the heartbeat timeout state
  CHANGES.md
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/AgentServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/heartbeat/HeartbeatManager.java
  inlong-manager/manager-web/src/main/resources/application-dev.properties
Labels: component/manager, 1.7.x/bugfix

#8040 [INLONG-8039][Manager] Optimize the transform interface to support pagination query
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/StreamTransformEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/mappers/StreamTransformEntityMapper.xml
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/transform/TransformPageRequest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/sort/DefaultSortConfigOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/transform/StreamTransformService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/transform/StreamTransformServiceImpl.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/transform/StreamTransformServiceTest.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/StreamTransformController.java
Labels: component/manager

#8041 [INLONG-7950][DataProxy] Optimize the implementation logic of the Source
  inlong-common/src/main/java/org/apache/inlong/common/enums/DataProxyErrCode.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/base/SinkRspEvent.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/consts/StatConstants.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/mq/OrderBatchPackProfileV0.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/ServerMessageHandler.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source2/BaseSource.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source2/InLongMessageFactory.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source2/InLongMessageHandler.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source2/SimpleTcpSource.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source2/SimpleUdpSource.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source2/SourceConstants.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source2/v0msg/AbsV0MsgCodec.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source2/v0msg/CodecBinMsg.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source2/v0msg/CodecTextMsg.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source2/v0msg/MsgFieldConsts.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/utils/AddressUtils.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/utils/MessageUtils.java
Labels: component/dataproxy

#8050 [INLONG-8049][DataProxy] Add CIDR configuration in the BlackList and WhiteList
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/holder/IPVisitConfigHolder.java
  inlong-dataproxy/dataproxy-source/src/test/java/org/apache/inlong/dataproxy/config/holder/TestIPVisitConfigHolder.java
  inlong-dataproxy/dataproxy-source/src/test/resources/blacklist.properties
  inlong-dataproxy/dataproxy-source/src/test/resources/whitelist.properties
Labels: component/dataproxy

#8055 [INLONG-8054][Sort] Update document information of Sort
  inlong-sort/README.md
  inlong-sort/quick_start.md
Labels: component/sort

#8059 [INLONG-8005][Sort] Fix duplicate split request when add new table in mysql connector
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/source/reader/MySqlSourceReader.java
Labels: component/sort

#8052 [INLONG-8051][Dashboard] Optimize the display effect of the batch parse dialog
  inlong-dashboard/src/ui/components/FieldParseModule/index.tsx
Labels: component/dashboard

#8067 [INLONG-8066][Manager] Add sort extended properties when getting the status info of the InlongGroup
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/InlongClientImpl.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/group/InlongGroupStatusInfo.java
Labels: component/manager

#8071 [INLONG-8069][Dashboard] The cluster node list displays status information
  inlong-dashboard/src/plugins/sources/defaults/File.ts
  inlong-dashboard/src/ui/locales/cn.json
  inlong-dashboard/src/ui/locales/en.json
  inlong-dashboard/src/ui/pages/Clusters/NodeManage.tsx
  inlong-dashboard/src/ui/pages/Clusters/status.tsx
Labels: component/dashboard

#8076 [INLONG-8072][Manager] Fix NPE when taskName of streamSink is empty or null
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/SortClusterServiceImpl.java
Labels: component/manager

#8083 [INLONG-8082][CI] Fix the error of ci_build.yml ci_greeting.yml parsing failure
  .github/workflows/ci_build.yml
  .github/workflows/ci_greeting.yml
Labels: service/ci

#8085 [INLONG-8084][DataProxy] Add abnormal event statistics in sink
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/CommonConfigHolder.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/consts/StatConstants.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/common/SinkContext.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/mq/MessageQueueZoneSinkContext.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/mq/kafka/KafkaHandler.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/mq/pulsar/PulsarHandler.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/mq/tube/TubeHandler.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source2/BaseSource.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source2/SourceConstants.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source2/httpMsg/InLongHttpMsgHandler.java
Labels: component/dataproxy

#8079 [INLONG-8078][Dashboard] Fix the Source and sink list pagination does not work
  inlong-dashboard/src/ui/pages/GroupDetail/DataSources/index.tsx
  inlong-dashboard/src/ui/pages/GroupDetail/DataStorage/index.tsx
Labels: component/dashboard

#8086 [INLONG-8042][CI] Update the CI workflow to avoid the network being unreachable
  .github/workflows/ci_build.yml
  .github/workflows/ci_ut.yml
  .github/workflows/codeql_analysis.yml
  .idea/vcs.xml
Labels: service/ci

#8081 [INLONG-8080][Manager] Fix the total parameter found on the page is different from the actual value
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/StreamSinkServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/StreamSourceServiceImpl.java
Labels: component/manager

#8089 [INLONG-8088][Manager] Support configure heartbeat timeout interval
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/heartbeat/HeartbeatManager.java
  inlong-manager/manager-web/src/main/resources/application-dev.properties
  inlong-manager/manager-web/src/main/resources/application-prod.properties
  inlong-manager/manager-web/src/main/resources/application-test.properties
Labels: component/manager

#8090 [INLONG-8087][Manager] Add definition of Inlong tenant table
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/InlongTenantEntity.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/InlongTenantEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/generatorConfig.xml
  inlong-manager/manager-dao/src/main/resources/mappers/InlongTenantEntityMapper.xml
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/tenant/TenantInfo.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/tenant/TenantPageRequest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/tenant/TenantRequest.java
  inlong-manager/manager-test/src/main/resources/h2/apache_inlong_manager.sql
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
  inlong-manager/manager-web/sql/changes-1.8.0.sql
Labels: component/manager

#8107 [INLONG-8106][DataProxy] Optimize ConfigManager implementation ( part one )
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/channel/FailoverChannelSelector.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/ConfigHolder.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/ConfigManager.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/PropertiesHolder.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/holder/BlackListConfigHolder.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/holder/GroupIdNumConfigHolder.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/holder/GroupIdPropertiesHolder.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/holder/MQClusterConfigHolder.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/holder/MxPropertiesHolder.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/holder/PropertiesConfigHolder.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/holder/VisitConfigHolder.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/holder/WeightConfigHolder.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/holder/WhiteListConfigHolder.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/heartbeat/HeartbeatManager.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/ServerMessageHandler.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/SimpleMessageHandler.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source2/BaseSource.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source2/SourceConstants.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source2/v0msg/CodecBinMsg.java
Labels: component/dataproxy

#8115 [INLONG-8114][Manager] Fix the NEP that may appear when building Properties.
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/InlongClientImpl.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/group/InlongGroupStatusInfo.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/util/ExtractNodeUtils.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/util/LoadNodeUtils.java
Labels: component/manager

#8109 [INLONG-8108][Manager] WorkflowApprover API Permissions Optimization
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/WorkflowApproverService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/WorkflowApproverServiceImpl.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/workflow/WorkflowApproverServiceImplTest.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/WorkflowApproverController.java
Labels: component/manager

#8105 [INLONG-7853][Sort] Add common handle for schema-change in sink
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/enums/SchemaChangePolicy.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/enums/SchemaChangeType.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/util/SchemaChangeUtils.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/util/SchemaChangeUtilsTest.java
  inlong-sort/sort-flink/base/src/main/java/org/apache/inlong/sort/base/Constants.java
  inlong-sort/sort-flink/base/src/main/java/org/apache/inlong/sort/base/dirty/DirtyType.java
  inlong-sort/sort-flink/base/src/main/java/org/apache/inlong/sort/base/format/JsonDynamicSchemaFormat.java
  inlong-sort/sort-flink/base/src/main/java/org/apache/inlong/sort/base/schema/SchemaChangeHandleException.java
Labels: component/sort

#8102 [INLONG-8101][Sort] Support multi-version packaging of sort-connectors
  inlong-sort/sort-flink/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/doris/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/elasticsearch-6/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/elasticsearch-7/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/elasticsearch-base/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/filesystem/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/hbase/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/hive/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/hudi/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/iceberg/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/jdbc/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/kafka/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/kudu/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/mongodb-cdc/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/mysql-cdc/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/oracle-cdc/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/postgres-cdc/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/pulsar/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/redis/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/sqlserver-cdc/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/starrocks/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/tubemq/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.15/sort-flink-dependencies/pom.xml
Labels: component/sort

#8124 [INLONG-8121][Manager] Supports cluster node status management in the case of multiple manager nodes
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/ComponentHeartbeatEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/mappers/ComponentHeartbeatEntityMapper.xml
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/heartbeat/HeartbeatManager.java
  inlong-manager/manager-web/src/main/resources/application-dev.properties
  inlong-manager/manager-web/src/main/resources/application-prod.properties
  inlong-manager/manager-web/src/main/resources/application-test.properties
Labels: component/manager

#8113 [INLONG-8110][Sort] Only whole database migration need table level metric
  inlong-sort/sort-flink/base/src/main/java/org/apache/inlong/sort/base/metric/sub/SourceTableMetricData.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/source/MySqlSourceBuilder.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/source/config/MySqlSourceConfig.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/source/config/MySqlSourceConfigFactory.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/source/reader/MySqlRecordEmitter.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/table/MySqlTableSource.java
Labels: component/sort

#8044 [INLONG-8038][Sort] Optimize MySQL CDC chunk splitting
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/source/assigners/MySqlSnapshotSplitAssigner.java
Labels: component/sort

#8123 [INLONG-8122][TubeMQ] Implement "Heartbeat" method for GO SDK
  inlong-tubemq/tubemq-client-twins/tubemq-client-go/client/heartbeat.go
  inlong-tubemq/tubemq-client-twins/tubemq-client-go/client/producer.go
  inlong-tubemq/tubemq-client-twins/tubemq-client-go/example/producer_example.go
  inlong-tubemq/tubemq-client-twins/tubemq-client-go/metadata/topic_info.go
  inlong-tubemq/tubemq-client-twins/tubemq-client-go/rpc/client.go
  inlong-tubemq/tubemq-client-twins/tubemq-client-go/rpc/master.go
Labels: component/tubemq

#8117 [INLONG-8116][Sort] Support table api config setting
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/configuration/Constants.java
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/Entrance.java
Labels: component/sort

#8120 [INLONG-7959][Sort] Dynamic schema evolution support delete and update columns when sink to Iceberg
  inlong-sort/sort-flink/base/src/main/java/org/apache/inlong/sort/base/sink/TableChange.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/multiple/DynamicSchemaHandleOperator.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/multiple/SchemaChangeUtils.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/iceberg/src/test/java/org/apache/inlong/sort/iceberg/sink/multiple/TestSchemaChangeUtils.java
Labels: component/sort
