Repository apache/inlong, pull requests merged in 2023-10, with the labels that each got.

#9004 [INLONG-9003][DataProxy][Manager] Support extended fields
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/holder/MetaConfigHolder.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/pojo/DataType.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/pojo/IdTopicConfig.java
  inlong-manager/manager-dao/pom.xml
  inlong-manager/manager-dao/src/main/resources/mappers/ClusterSetMapper.xml
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/dataproxy/InlongStreamId.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/stream/InlongStreamExtParam.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/stream/InlongStreamInfo.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/stream/InlongStreamRequest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/repository/DataProxyConfigRepository.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/repository/DataProxyConfigRepositoryV2.java
Labels: component/manager, component/dataproxy

#9018 [INLONG-9017][Manager] Add stop interface in stream source API
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/client/StreamSourceClient.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/service/StreamSourceApi.java
Labels: component/manager

#9014 [INLONG-9007][SDK] ClientList out of bounds
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/network/ClientMgr.java
Labels: component/sdk

#9015 [INLONG-9013][DataProxy] Inconsistent annotations
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/ServerMessageHandler.java
Labels: component/dataproxy

#9026 [INLONG-9025][Build] Avoid deploying the distribution packages to repositories
  inlong-distribution/pom.xml
  inlong-sdk/sort-sdk/pom.xml
  inlong-sort/pom.xml
  pom.xml
Labels: component/sort, component/sdk

#9028 [INLONG-9027][Manager] Fix SQL error in ClusterSetMapper.selectInlongStreamId
  inlong-manager/manager-dao/src/main/resources/mappers/ClusterSetMapper.xml
Labels: component/manager

#9024 [INLONG-9023][Manager] Fix the problem of failed to stop job task
  inlong-manager/manager-plugins/base/src/main/java/org/apache/inlong/manager/plugin/flink/FlinkOperation.java
  inlong-manager/manager-plugins/base/src/main/java/org/apache/inlong/manager/plugin/listener/DeleteSortListener.java
  inlong-manager/manager-plugins/base/src/main/java/org/apache/inlong/manager/plugin/listener/DeleteStreamListener.java
  inlong-manager/manager-plugins/base/src/main/java/org/apache/inlong/manager/plugin/listener/RestartSortListener.java
  inlong-manager/manager-plugins/base/src/main/java/org/apache/inlong/manager/plugin/listener/RestartStreamListener.java
  inlong-manager/manager-plugins/base/src/main/java/org/apache/inlong/manager/plugin/listener/StartupSortListener.java
  inlong-manager/manager-plugins/base/src/main/java/org/apache/inlong/manager/plugin/listener/SuspendSortListener.java
  inlong-manager/manager-plugins/base/src/main/java/org/apache/inlong/manager/plugin/listener/SuspendStreamListener.java
Labels: component/manager

#9006 [INLONG-8804][Dashboard] Separate plugin images and UI components
  inlong-dashboard/src/plugins/images/ClickHouse.png
  inlong-dashboard/src/plugins/images/Doris.png
  inlong-dashboard/src/plugins/images/Elasticsearch.png
  inlong-dashboard/src/plugins/images/File.png
  inlong-dashboard/src/plugins/images/Greenplum.png
  inlong-dashboard/src/plugins/images/HBase.png
  inlong-dashboard/src/plugins/images/Hive.png
  inlong-dashboard/src/plugins/images/Hudi.png
  inlong-dashboard/src/plugins/images/Iceberg.png
  inlong-dashboard/src/plugins/images/Kafka.png
  inlong-dashboard/src/plugins/images/Kudu.png
  inlong-dashboard/src/plugins/images/MQTT.png
  inlong-dashboard/src/plugins/images/MongoDB.png
  inlong-dashboard/src/plugins/images/MySQL.png
  inlong-dashboard/src/plugins/images/Oracle.png
  inlong-dashboard/src/plugins/images/PostgreSQL.png
  inlong-dashboard/src/plugins/images/Pulsar.png
  inlong-dashboard/src/plugins/images/Redis.png
  inlong-dashboard/src/plugins/images/SQLServer.png
  inlong-dashboard/src/plugins/images/StarRocks.png
  inlong-dashboard/src/plugins/images/TDSQLPostgreSQL.png
  inlong-dashboard/src/plugins/images/index.ts
  inlong-dashboard/src/plugins/sinks/common/SinkDefaultInfo.ts
  inlong-dashboard/src/plugins/sources/common/SourceDefaultInfo.ts
  inlong-dashboard/src/ui/components/CheckCard/index.tsx
Labels: component/dashboard

#9019 [INLONG-9016][Dashboard] Change the wrapWithInlongMsg to wrapType in data stream
  inlong-dashboard/src/plugins/groups/defaults/Pulsar.ts
  inlong-dashboard/src/plugins/sinks/defaults/Cls.ts
  inlong-dashboard/src/plugins/streams/common/StreamDefaultInfo.ts
  inlong-dashboard/src/ui/locales/cn.json
  inlong-dashboard/src/ui/locales/en.json
Labels: component/dashboard

#9037 [INLONG-9036][Manager] Support create tables for dataSync
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/listener/queue/QueueResourceListener.java
Labels: component/manager

#9039 [INLONG-9038][Sort] Fix failure of parsing InlongMessage when exporting Pulsar
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/pulsar/PulsarFederationWorker.java
Labels: component/sort

#9040 [INLONG-8997][Sort] Keep the logic the same of mysql with flink v1.13 in end to end test
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.13/src/test/java/org/apache/inlong/sort/tests/utils/MySqlContainer.java
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.15/src/test/java/org/apache/inlong/sort/tests/utils/MySqlContainer.java
Labels: component/sort

#9005 [INLONG-8695][Sort] Add Pulsar connector based on flink 1.15
  inlong-distribution/src/main/assemblies/sort-connectors-v1.15.xml
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/pulsar/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/pulsar/src/main/java/org/apache/inlong/sort/pulsar/PulsarTableFactory.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/pulsar/src/main/java/org/apache/inlong/sort/pulsar/PulsarTableOptionUtils.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/pulsar/src/main/java/org/apache/inlong/sort/pulsar/PulsarTableOptions.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/pulsar/src/main/java/org/apache/inlong/sort/pulsar/PulsarTableValidationUtils.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/pulsar/src/main/java/org/apache/inlong/sort/pulsar/table/PulsarReadableMetadata.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/pulsar/src/main/java/org/apache/inlong/sort/pulsar/table/PulsarRowDataConverter.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/pulsar/src/main/java/org/apache/inlong/sort/pulsar/table/PulsarTableDeserializationSchema.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/pulsar/src/main/java/org/apache/inlong/sort/pulsar/table/PulsarTableDeserializationSchemaFactory.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/pulsar/src/main/java/org/apache/inlong/sort/pulsar/table/PulsarTableSource.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/pulsar/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
  licenses/inlong-sort-connectors/LICENSE
Labels: component/sort

#9042 [INLONG-9041][Manager] Support saving schema information when saving iceberg source
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/FieldType.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/util/FieldInfoUtils.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/SourceRequest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/sink/iceberg/IcebergCatalogUtils.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/AbstractSourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/StreamSourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/iceberg/IcebergSourceOperator.java
Labels: component/manager

#9035 [INLONG-8982][Sort] Iceberg sink on flink 1.15
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/load/IcebergLoadNode.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/FlinkDynamicTableFactory.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/IcebergWritableMetadata.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/CommitSummary.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/DeltaManifests.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/DeltaManifestsSerializer.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/EqualityFieldKeySelector.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/FlinkManifestUtil.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/FlinkSink.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/IcebergFilesCommitter.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/IcebergFilesCommitterMetrics.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/IcebergStreamWriter.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/IcebergStreamWriterMetrics.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/IcebergTableSink.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/ManifestOutputFileFactory.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/PartitionKeySelector.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/source/reader/InlongIcebergSourceReaderMetrics.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/source/reader/RowDataRecordFactory.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/utils/RecyclableJoinedRowData.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/utils/RowDataCloneUtil.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/utils/SinkMetadataUtils.java
  licenses/inlong-sort-connectors/LICENSE
Labels: component/sort

#9045 [INLONG-9044][SDK] Add server response log to facilitate troubleshooting
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/client/tcp_client.cc
Labels: component/sdk

#9054 [INLONG-9053][Dashboard] Query list shows creators and modifiers
  inlong-dashboard/src/plugins/clusters/common/ClusterDefaultInfo.ts
  inlong-dashboard/src/plugins/consumes/common/ConsumeDefaultInfo.ts
  inlong-dashboard/src/plugins/groups/common/GroupDefaultInfo.ts
  inlong-dashboard/src/plugins/nodes/common/NodeDefaultInfo.ts
  inlong-dashboard/src/plugins/sinks/common/SinkDefaultInfo.ts
  inlong-dashboard/src/plugins/sources/common/SourceDefaultInfo.ts
  inlong-dashboard/src/plugins/streams/common/StreamDefaultInfo.ts
  inlong-dashboard/src/plugins/sync/common/SyncDefaultInfo.ts
  inlong-dashboard/src/ui/locales/cn.json
  inlong-dashboard/src/ui/locales/en.json
  inlong-dashboard/src/ui/pages/ClusterTags/ClusterList.tsx
  inlong-dashboard/src/ui/pages/TenantManagement/config.tsx
  inlong-dashboard/src/ui/pages/UserManagement/config.tsx
Labels: component/dashboard

#9011 [INLONG-8959][Sort] Add Mongodb-cdc-connector on flink1.15
  inlong-distribution/src/main/assemblies/sort-connectors-v1.15.xml
  inlong-sort/sort-core/pom.xml
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.15/pom.xml
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.15/src/test/java/org/apache/inlong/sort/tests/MongodbToStarRocksTest.java
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.15/src/test/java/org/apache/inlong/sort/tests/MysqlToRocksTest.java
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.15/src/test/java/org/apache/inlong/sort/tests/SqlserverToStarRocksTest.java
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.15/src/test/resources/docker/mongodb/setup.sql
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.15/src/test/resources/flinkSql/mongodb_test.sql
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/mongodb-cdc/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/mongodb-cdc/src/main/java/org/apache/inlong/sort/mongodb/MongoDBTableFactory.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/mongodb-cdc/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/pom.xml
Labels: component/sort

#9029 [INLONG-8958][Manager] Fix the fail for creating cls topic
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sink/cls/ClsSink.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sink/cls/ClsSinkDTO.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sink/cls/ClsSinkRequest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/SortClusterServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/sink/cls/ClsOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/sink/cls/ClsResourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/AbstractSinkOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/StreamSinkOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/cls/ClsSinkOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/es/ElasticsearchSinkOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/pulsar/PulsarSinkOperator.java
Labels: component/manager

#9052 [INLONG-9051][Manager] Add consumer group in the ApplyConsumeProcessForm
  inlong-manager/manager-dao/src/main/resources/mappers/WorkflowTaskEntityMapper.xml
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/workflow/form/process/ApplyConsumeProcessForm.java
Labels: component/manager

#9049 [INLONG-9046][CVE] Bump ZooKeeper to 3.7.2 to fix Authorization Bypass
  inlong-tubemq/tubemq-server/pom.xml
  licenses/inlong-agent/LICENSE
  licenses/inlong-audit/LICENSE
  licenses/inlong-dataproxy/LICENSE
  licenses/inlong-manager/LICENSE
  licenses/inlong-sort-standalone/LICENSE
  licenses/inlong-tubemq-server/LICENSE
  pom.xml
Labels: component/tubemq

#9031 [INLONG-8922][Sort] Add TubeMQ source and sink connector on flink 1.15
  inlong-distribution/src/main/assemblies/sort-connectors-v1.15.xml
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/tubemq/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/tubemq/src/main/java/org/apache/inlong/sort/tubemq/FlinkTubeMQConsumer.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/tubemq/src/main/java/org/apache/inlong/sort/tubemq/FlinkTubeMQProducer.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/tubemq/src/main/java/org/apache/inlong/sort/tubemq/table/DynamicTubeMQDeserializationSchema.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/tubemq/src/main/java/org/apache/inlong/sort/tubemq/table/DynamicTubeMQSerializationSchema.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/tubemq/src/main/java/org/apache/inlong/sort/tubemq/table/TubeMQDynamicTableFactory.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/tubemq/src/main/java/org/apache/inlong/sort/tubemq/table/TubeMQOptions.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/tubemq/src/main/java/org/apache/inlong/sort/tubemq/table/TubeMQTableSink.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/tubemq/src/main/java/org/apache/inlong/sort/tubemq/table/TubeMQTableSource.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/tubemq/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
Labels: component/sort

#9043 [INLONG-9009][Sort] Add HBase source and sink connector on flink 1.15
  inlong-distribution/src/main/assemblies/sort-connectors-v1.15.xml
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/hbase/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/hbase/src/main/java/org/apache/inlong/sort/hbase/HBase2DynamicTableFactory.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/hbase/src/main/java/org/apache/inlong/sort/hbase/sink/HBaseDynamicTableSink.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/hbase/src/main/java/org/apache/inlong/sort/hbase/sink/HBaseSinkFunction.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/hbase/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/hbase/src/main/resources/hbase-default.xml
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/pom.xml
  licenses/inlong-sort-connectors/LICENSE
Labels: component/sort

#9059 [INLONG-9058][SDK] Limit the number of inlong-groupid and inlong-streamid
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/release/inc/sdk_conf.h
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/config/sdk_conf.cc
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/core/api_imp.cc
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/group/recv_group.cc
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/manager/recv_manager.cc
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/manager/recv_manager.h
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/utils/capi_constant.h
Labels: component/sdk

#9063 [INLONG-9062][Manager] Add default values for stream related interface parameters
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/client/InlongStreamClient.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/service/InlongStreamApi.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/InlongStreamController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/openapi/OpenInLongStreamController.java
Labels: component/manager

#9068 [INLONG-9066][Manager] Renaming group related states
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/InlongGroupImpl.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/GroupStatus.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/SimpleGroupStatus.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/InlongClusterServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/AgentServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/group/InlongGroupProcessService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/group/InlongGroupServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/listener/group/UpdateGroupCompleteListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/listener/group/UpdateGroupListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/listener/queue/QueueResourceListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/listener/sort/SortConfigListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/stream/InlongStreamProcessService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/tenant/InlongTenantServiceImpl.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/impl/AgentServiceTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/group/InlongGroupProcessServiceTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/source/listener/StreamSourceListenerTest.java
  inlong-manager/manager-web/sql/changes-1.10.0.sql
Labels: component/manager

#9065 [INLONG-9055][Dashboard] The approval management list displays the name of the consumer group
  inlong-dashboard/src/ui/locales/cn.json
  inlong-dashboard/src/ui/locales/en.json
  inlong-dashboard/src/ui/pages/Process/Applies/config.tsx
  inlong-dashboard/src/ui/pages/Process/Approvals/config.tsx
Labels: component/dashboard

#9076 [INLONG-9075][Sort] TubeMQSource support InlongMsg format
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/node/provider/TubeMqProvider.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/tubemq/TubeMQSource.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/constant/TubeMQConstant.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/ExtractNode.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/extract/TubeMQExtractNode.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/node/extract/TubeMQExtractNodeTest.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/TubeMQNodeSqlParseTest.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/tubemq/src/main/java/org/apache/inlong/sort/tubemq/table/TubeMQDynamicTableFactory.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/tubemq/src/main/java/org/apache/inlong/sort/tubemq/table/TubeMQDynamicTableFactory.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/tubemq/src/main/java/org/apache/inlong/sort/tubemq/table/TubeMQOptions.java
Labels: component/manager, component/sort

#9082 [INLONG-9081][Sort] Pulsar connector in flink 1.15 should running in exclusive mode
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/pulsar/src/main/java/org/apache/inlong/sort/pulsar/PulsarTableFactory.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/pulsar/src/main/java/org/apache/inlong/sort/pulsar/PulsarTableOptionUtils.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/pulsar/src/main/java/org/apache/inlong/sort/pulsar/PulsarTableOptions.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/pulsar/src/main/java/org/apache/inlong/sort/pulsar/PulsarTableValidationUtils.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/pulsar/src/main/java/org/apache/inlong/sort/pulsar/table/PulsarTableSource.java
Labels: component/sort

#9085 [INLONG-9084][Sort] Fix failure of parsing InlongGroupId when report Inlong Audit
  inlong-sort-standalone/sort-standalone-common/src/main/java/org/apache/inlong/sort/standalone/metrics/SortMetricItem.java
Labels: component/sort

#9078 [INLONG-9077][Sort] Fix TubeMQ connector fail to subscribe streamId
  inlong-distribution/pom.xml
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/node/provider/TubeMqProvider.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/tubemq/TubeMQSource.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/tubemq/TubeMQSourceOperator.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/constant/TubeMQConstant.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/extract/TubeMQExtractNode.java
  inlong-sort/sort-core/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/tubemq/src/main/java/org/apache/inlong/sort/tubemq/table/TubeMQDynamicTableFactory.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/tubemq/src/main/java/org/apache/inlong/sort/tubemq/table/TubeMQOptions.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/pulsar/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/tubemq/src/main/java/org/apache/inlong/sort/tubemq/FlinkTubeMQConsumer.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/tubemq/src/main/java/org/apache/inlong/sort/tubemq/FlinkTubeMQProducer.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/tubemq/src/main/java/org/apache/inlong/sort/tubemq/table/TubeMQDynamicTableFactory.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/tubemq/src/main/java/org/apache/inlong/sort/tubemq/table/TubeMQOptions.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/tubemq/src/main/java/org/apache/inlong/sort/tubemq/table/TubeMQTableSink.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/tubemq/src/main/java/org/apache/inlong/sort/tubemq/table/TubeMQTableSource.java
  inlong-tubemq/tubemq-client/pom.xml
  inlong-tubemq/tubemq-server/pom.xml
Labels: component/tubemq, component/manager, component/sort

#9080 [INLONG-9064][Sort] Add Audit report for Pulsar connector in flink 1.15
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/extract/PulsarExtractNode.java
  inlong-sort/sort-flink/base/src/main/java/org/apache/inlong/sort/base/metric/SinkMetricData.java
  inlong-sort/sort-flink/base/src/main/java/org/apache/inlong/sort/base/metric/SourceMetricData.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/pulsar/src/main/java/org/apache/inlong/sort/pulsar/table/PulsarDynamicTableFactory.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/pulsar/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/pulsar/src/main/java/org/apache/inlong/sort/pulsar/PulsarTableFactory.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/pulsar/src/main/java/org/apache/inlong/sort/pulsar/table/PulsarTableDeserializationSchema.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/pulsar/src/main/java/org/apache/inlong/sort/pulsar/table/PulsarTableDeserializationSchemaFactory.java
Labels: component/sort

#9086 [INLONG-9083][SDK] Bump up x/net module
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-golang/go.sum
Labels: component/sdk

#9088 [INLONG-9087][Sort] TubeMQ Connector use latest offset mode
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/tubemq/src/main/java/org/apache/inlong/sort/tubemq/FlinkTubeMQConsumer.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/tubemq/src/main/java/org/apache/inlong/sort/tubemq/FlinkTubeMQConsumer.java
Labels: component/sort

#9090 [INLONG-9089][Agent] Add enums for task and instance
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/constant/TaskConstants.java
  inlong-common/src/main/java/org/apache/inlong/common/enums/InstanceStateEnum.java
  inlong-common/src/main/java/org/apache/inlong/common/enums/TaskStateEnum.java
Labels: component/agent

#9067 [INLONG-9060][Manager] Fix manager return wrong sink configuration to sort standalone
  inlong-manager/manager-dao/src/main/resources/mappers/StreamSinkFieldEntityMapper.xml
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/standalone/SortFieldInfo.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/SortClusterServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/sink/cls/ClsOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/sink/cls/ClsResourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/pulsar/PulsarSinkOperator.java
  inlong-manager/manager-test/src/main/resources/application-unit-test.properties
  inlong-manager/manager-web/src/main/resources/application-dev.properties
  inlong-manager/manager-web/src/main/resources/application-prod.properties
  inlong-manager/manager-web/src/main/resources/application-test.properties
  inlong-manager/manager-web/src/main/resources/application.properties
Labels: component/manager

#9100 [INLONG-9091][Agent] Add offset profile
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/conf/OffsetProfile.java
Labels: component/agent

#9099 [INLONG-9098][Manager] Support to save additional info for the Iceberg field
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sink/iceberg/IcebergColumnInfo.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/sink/iceberg/IcebergCatalogUtils.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/sink/iceberg/IcebergResourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/iceberg/IcebergSinkOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/iceberg/IcebergSourceOperator.java
Labels: component/manager

#9074 [INLONG-9073][Manager] Add getStreamBriefInfo method for InlongStreamClient
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/client/InlongStreamClient.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/service/InlongStreamApi.java
Labels: component/manager

#9103 [INLONG-9102][Agent] Add file utils
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/utils/file/DirNameRegexMatchPredicate.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/utils/file/FileFinder.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/utils/file/FileFinderIterator.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/utils/file/FileNameRegexMatchPredicate.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/utils/file/FileUtils.java
Labels: component/agent

#9110 [INLONG-9109][Manager] Fix the issue of streamApi URL errors
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/client/InlongGroupClient.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/client/InlongStreamClient.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/service/InlongStreamApi.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/resource/sink/StandaloneAutoAssignTest.java
Labels: component/manager

#9111 [INLONG-9107][Dashboard] Navigation widget optimization
  inlong-dashboard/src/ui/components/Layout/index.tsx
  inlong-dashboard/src/ui/locales/cn.json
  inlong-dashboard/src/ui/locales/en.json
Labels: component/dashboard

#9113 [INLONG-9112][Agent] Add task and instance profile
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/conf/InstanceProfile.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/conf/TaskProfile.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/pojo/FileTask.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/pojo/TaskProfileDto.java
Labels: component/agent

#9115 [INLONG-9114][Dashboard] Stream log query parameter optimization
  inlong-dashboard/src/ui/components/GroupLogs/GroupLogs.tsx
Labels: component/dashboard

#9123 [INLONG-9122][Agent] Add task and instance action
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/instance/ActionType.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/instance/InstanceAction.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/task/ActionType.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/task/TaskAction.java
Labels: component/agent

#9121 [INLONG-9120][Agent] Add offset db to store the offset data
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/constant/AgentConstants.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/constant/CommonConstants.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/db/OffsetDb.java
Labels: component/agent

#9127 [INLONG-9126][Manager] Fix the problem of unable to modify the responsible person of the group
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/group/AbstractGroupOperator.java
Labels: component/manager

#9131 [INLONG-9125][Agent] Add offset manager
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/task/OffsetManager.java
Labels: component/agent

#9130 [INLONG-9124][Agent] Add task and instance db
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/db/InstanceDb.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/db/KeyValueEntity.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/db/TaskProfileDb.java
Labels: component/agent

#9133 [INLONG-9132][Agent] Add file used message cache
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/message/filecollect/PackageAckInfo.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/message/filecollect/ProxyMessageCache.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/message/filecollect/SenderMessage.java
Labels: component/agent

#9129 [INLONG-9128][Sort] Failed to init TubeMQ source with InlongMsg type message
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/tubemq/src/main/java/org/apache/inlong/sort/tubemq/FlinkTubeMQConsumer.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/tubemq/src/main/java/org/apache/inlong/sort/tubemq/table/TubeMQDynamicTableFactory.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/tubemq/src/main/java/org/apache/inlong/sort/tubemq/FlinkTubeMQConsumer.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/tubemq/src/main/java/org/apache/inlong/sort/tubemq/table/TubeMQDynamicTableFactory.java
Labels: component/sort

#9093 [INLONG-9092][Manager] Tube supports inlong-msg format
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/node/provider/TubeMqProvider.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/pulsar/PulsarSourceDTO.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/pulsar/PulsarSourceRequest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/tubemq/TubeMQSource.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/tubemq/TubeMQSourceDTO.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/tubemq/TubeMQSourceRequest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/tubemq/TubeMQSourceOperator.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/source/TubeMQSourceServiceTest.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/extract/TubeMQExtractNode.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/node/extract/TubeMQExtractNodeTest.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/TubeMQNodeSqlParseTest.java
Labels: component/manager, component/sort

#9135 [INLONG-9134][Agent] Add file related utils
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/message/filecollect/ProxyMessageCache.java
  inlong-agent/agent-plugins/pom.xml
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/TextFileSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/file/FileReaderOperator.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/utils/MetaDataUtils.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/utils/file/DateUtils.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/utils/file/FileDataUtils.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/utils/file/FilePathUtil.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/utils/file/FileTimeComparator.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/utils/file/Files.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/utils/file/MatchPoint.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/utils/file/NewDateUtils.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/utils/file/NonRegexPatternPosition.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/utils/file/PathDateExpression.java
Labels: component/agent

#9139 [INLONG-9138][Agent] Add task manager
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/plugin/file/Task.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/task/file/MemoryManager.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/task/file/TaskManager.java
  inlong-agent/agent-core/src/test/java/org/apache/inlong/agent/core/AgentBaseTestsHelper.java
  inlong-agent/agent-core/src/test/java/org/apache/inlong/agent/core/task/MockTask.java
  inlong-agent/agent-core/src/test/java/org/apache/inlong/agent/core/task/TestTaskManager.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/utils/file/NewDateUtils.java
Labels: component/agent

#9142 [INLONG-9136][Agent] Add instance manager
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/plugin/Instance.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/instance/InstanceManager.java
  inlong-agent/agent-core/src/test/java/org/apache/inlong/agent/core/instance/MockInstance.java
  inlong-agent/agent-core/src/test/java/org/apache/inlong/agent/core/instance/TestInstanceManager.java
Labels: component/agent

#9145 [INLONG-9143][Agent] Add log file collect task
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/task/CronTask.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/task/FormatDateLogFileCollectTask.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/task/PathPattern.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/task/filecollect/AgentErrMsg.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/task/filecollect/FileScanner.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/task/filecollect/LogFileCollectTask.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/task/filecollect/TaskType.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/task/filecollect/WatchEntity.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/AgentBaseTestsHelper.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/task/MockInstanceManager.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/task/TestLogfileCollectTask.java
  inlong-agent/agent-plugins/src/test/resources/test/20230928_1.txt
Labels: component/agent

#9150 [INLONG-9149][Agent] Add sender manager for file collect
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sinks/filecollect/SenderManager.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/task/filecollect/AgentErrMsg.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/task/filecollect/FileScanner.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/task/filecollect/WatchEntity.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/utils/file/NewDateUtils.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/AgentBaseTestsHelper.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/sinks/filecollect/TestSenderManager.java
Labels: component/agent

#9148 [INLONG-9147][Manager] The group details are displayed with the tag of the cluster to which the group belongs
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/service/InlongStreamApi.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/group/AbstractGroupOperator.java
Labels: component/manager

#9154 [INLONG-9151][Agent] Add log file source and source related modification
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/plugin/file/Reader.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/plugin/file/Source.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/DatabaseSqlSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/KafkaSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/LogFileSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/MongoDBSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/MqttSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/OracleSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/PostgreSQLSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/RedisSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/SQLServerSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/TextFileSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/file/AbstractSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/KafkaReader.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/MongoDBReader.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/MqttReader.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/OracleReader.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/PostgreSQLReader.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/RedisReader.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/SQLServerReader.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/SqlReader.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/file/AbstractReader.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/file/FileReaderOperator.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/file/KubernetesMetadataProvider.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/file/MonitorTextFile.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/file/TriggerFileReader.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/filter/TestDateFormatRegex.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/filter/TestStreamIdFilter.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/sources/PostgreSQLReaderTest.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/sources/RedisReaderTest.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/sources/TestLogFileSource.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/sources/TestMongoDBReader.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/sources/TestMqttConnect.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/sources/TestMqttReader.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/sources/TestMqttSource.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/sources/TestOracleConnect.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/sources/TestOracleReader.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/sources/TestOracleSource.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/sources/TestSQLServerConnect.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/sources/TestSQLServerReader.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/sources/TestSQLServerSource.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/sources/TestTextFileReader.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/task/TestTextFileTask.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/trigger/TestTriggerManager.java
Labels: component/agent

#9156 [INLONG-9155][Agent] Add file used proxy
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/plugin/file/Sink.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sinks/filecollect/AbstractSink.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sinks/filecollect/ProxySink.java
Labels: component/agent

#9162 [INLONG-9159][Agent] Add file instance
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/instance/FileInstance.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sinks/filecollect/ProxySink.java
Labels: component/agent

#9164 [INLONG-9163][Agent] Delete trigger related file
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/conf/ProfileFetcher.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/conf/TriggerProfile.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/constant/FetcherConstants.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/db/CommandDb.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/db/KeyValueEntity.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/db/TriggerProfileDb.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/plugin/Trigger.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/pojo/JobProfileDto.java
  inlong-agent/agent-common/src/test/java/org/apache/inlong/agent/conf/TestConfiguration.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/AgentMain.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/AgentManager.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/HeartbeatManager.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/conf/ConfigJetty.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/conf/ConfigServlet.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/conf/ResponseResult.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/job/Job.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/job/JobManager.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/job/JobWrapper.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/task/PositionManager.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/trigger/TriggerManager.java
  inlong-agent/agent-core/src/test/java/org/apache/inlong/agent/core/TestConfigJetty.java
  inlong-agent/agent-core/src/test/java/org/apache/inlong/agent/task/TestTaskWrapper.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/fetcher/ManagerFetcher.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/trigger/CronTrigger.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/trigger/DirectoryTrigger.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/trigger/FormatDateDirectoryTrigger.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/trigger/PathPattern.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/utils/PluginUtils.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/utils/RocksDBUtils.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/MiniAgent.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/TestFileAgent.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/sinks/KafkaSinkTest.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/sinks/PulsarSinkTest.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/trigger/TestWatchDirTrigger.java
Labels: component/agent

#9166 [INLONG-9165][Agent] Delete job related file
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/common/AgentThreadFactory.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/pojo/FileJob.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/pojo/JobProfileDto.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/utils/AgentUtils.java
  inlong-agent/agent-common/src/test/java/org/apache/inlong/agent/common/TestAgentThreadFactory.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/HeartbeatManager.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/task/PositionManager.java
  inlong-agent/agent-core/src/test/java/org/apache/inlong/agent/core/task/TestMemoryManager.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/instance/FileInstance.java
  inlong-agent/agent-plugins/src/test/resources/fileAgent.trigger.json
  inlong-agent/agent-plugins/src/test/resources/fileAgentJob.json
  inlong-agent/agent-plugins/src/test/resources/test/1.txt
  inlong-agent/agent-plugins/src/test/resources/test/2.txt
  inlong-agent/agent-plugins/src/test/resources/test/3.txt
  inlong-agent/agent-plugins/src/test/resources/test/a.txt
Labels: component/agent

#9168 [INLONG-8994][Sort] Add Hudi connector on Flink 1.15
  inlong-distribution/src/main/assemblies/sort-connectors-v1.15.xml
  inlong-sort/sort-core/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.15/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/hudi/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/hudi/src/main/java/org/apache/inlong/sort/hudi/table/sink/HudiTableInlongFactory.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/hudi/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/pom.xml
  licenses/inlong-sort-connectors/notices/NOTICE-hudi-flink1.15-bundle.txt
Labels: component/sort
