Repository apache/inlong, pull requests merged in 2023-07, with the labels that each got.

#8390 [INLONG-8389][Manager] Fix the tenant interception failure when authentication is disable
  inlong-common/src/main/java/org/apache/inlong/common/util/BasicAuth.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/auth/InlongShiroImpl.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/auth/openapi/OpenAPIAuthenticatingRealm.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/auth/openapi/OpenAPIFilter.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/auth/openapi/SecretToken.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/auth/tenant/TenantAuthenticatingRealm.java
Labels: component/manager, type/bug

#8370 [INLONG-8369][Manager] Add MongoDB field type mapping strategy to improve usability
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/consts/DataNodeType.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/fieldtype/strategy/MongoDBFieldTypeStrategy.java
  inlong-manager/manager-common/src/main/resources/mongodb-field-type-mapping.yaml
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/node/ExtractNodeProviderFactory.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/node/provider/MongoDBProvider.java
  inlong-manager/manager-pojo/src/test/java/org/apache/inlong/manager/pojo/sort/util/FieldInfoUtilsTest.java
Labels: component/manager

#8401 [INLONG-8400][Manager] Fix the streamSource with no data_node_name has been incorrectly modified
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/node/AbstractDataNodeOperator.java
Labels: component/manager

#8395 [INLONG-8394][Manager] TenantRole list interface support fuzzy match
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/TenantUserTypeEnum.java
  inlong-manager/manager-dao/src/main/resources/mappers/TenantUserRoleEntityMapper.xml
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/user/TenantRolePageRequest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/user/TenantRoleServiceTest.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/InlongRoleController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/InlongTenantController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/InlongTenantRoleController.java
Labels: component/manager

#8399 [INLONG-8398][Manager] Optimize multiple tenant related logs
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/user/InlongRoleServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/user/TenantRoleServiceImpl.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/auth/InlongShiroImpl.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/auth/openapi/OpenAPIFilter.java
Labels: component/manager

#8397 [INLONG-8396][Manager] Support for querying audit data with average delay
  inlong-manager/manager-dao/src/main/resources/mappers/AuditEntityMapper.xml
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/audit/AuditInfo.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/audit/AuditRequest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/AuditServiceImpl.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/impl/AuditServiceTest.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/AuditController.java
Labels: component/manager

#8388 [INLONG-8345][Manager][Sort] Unify the management of Flink multi-version and adjust directories
  inlong-manager/manager-plugins/pom.xml
  inlong-sort/sort-dist/pom.xml
  inlong-sort/sort-flink/base/pom.xml
  inlong-sort/sort-flink/base/src/main/java/org/apache/inlong/sort/base/dirty/sink/log/LogDirtySink.java
  inlong-sort/sort-flink/base/src/main/java/org/apache/inlong/sort/base/dirty/utils/FormatUtils.java
  inlong-sort/sort-flink/base/src/main/java/org/apache/inlong/sort/base/format/DebeziumJsonDynamicSchemaFormat.java
  inlong-sort/sort-flink/base/src/main/java/org/apache/inlong/sort/base/format/JsonDynamicSchemaFormat.java
  inlong-sort/sort-flink/base/src/main/java/org/apache/inlong/sort/base/format/JsonToRowDataConverters.java
  inlong-sort/sort-flink/base/src/main/java/org/apache/inlong/sort/base/sink/MultipleSinkOption.java
  inlong-sort/sort-flink/base/src/test/java/org/apache/inlong/sort/base/dirty/FormatUtilsTest.java
  inlong-sort/sort-formats/format-json-v1.13/pom.xml
  inlong-sort/sort-formats/format-json-v1.13/src/main/java/org/apache/inlong/sort/formats/json/MysqlBinLogData.java
  inlong-sort/sort-formats/format-json-v1.13/src/main/java/org/apache/inlong/sort/formats/json/canal/CanalJson.java
  inlong-sort/sort-formats/format-json-v1.13/src/main/java/org/apache/inlong/sort/formats/json/canal/CanalJsonDecodingFormat.java
  inlong-sort/sort-formats/format-json-v1.13/src/main/java/org/apache/inlong/sort/formats/json/canal/CanalJsonDeserializationSchema.java
  inlong-sort/sort-formats/format-json-v1.13/src/main/java/org/apache/inlong/sort/formats/json/canal/CanalJsonEnhancedDecodingFormat.java
  inlong-sort/sort-formats/format-json-v1.13/src/main/java/org/apache/inlong/sort/formats/json/canal/CanalJsonEnhancedDeserializationSchema.java
  inlong-sort/sort-formats/format-json-v1.13/src/main/java/org/apache/inlong/sort/formats/json/canal/CanalJsonEnhancedEncodingFormat.java
  inlong-sort/sort-formats/format-json-v1.13/src/main/java/org/apache/inlong/sort/formats/json/canal/CanalJsonEnhancedFormatFactory.java
  inlong-sort/sort-formats/format-json-v1.13/src/main/java/org/apache/inlong/sort/formats/json/canal/CanalJsonEnhancedSerializationSchema.java
  inlong-sort/sort-formats/format-json-v1.13/src/main/java/org/apache/inlong/sort/formats/json/canal/CanalJsonSerializationSchema.java
  inlong-sort/sort-formats/format-json-v1.13/src/main/java/org/apache/inlong/sort/formats/json/canal/CanalUtils.java
  inlong-sort/sort-formats/format-json-v1.13/src/main/java/org/apache/inlong/sort/formats/json/debezium/DebeziumJson.java
  inlong-sort/sort-formats/format-json-v1.13/src/main/java/org/apache/inlong/sort/formats/json/debezium/DebeziumJsonDecodingFormat.java
  inlong-sort/sort-formats/format-json-v1.13/src/main/java/org/apache/inlong/sort/formats/json/debezium/DebeziumJsonDeserializationSchema.java
  inlong-sort/sort-formats/format-json-v1.13/src/main/java/org/apache/inlong/sort/formats/json/debezium/DebeziumUtils.java
  inlong-sort/sort-formats/format-json-v1.13/src/main/java/org/apache/inlong/sort/formats/json/utils/FormatJsonUtil.java
  inlong-sort/sort-formats/format-json-v1.13/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
  inlong-sort/sort-formats/format-json-v1.13/src/test/java/org/apache/inlong/sort/formats/json/canal/CanalJsonEnhancedFormatFactoryTest.java
  inlong-sort/sort-formats/format-json-v1.13/src/test/java/org/apache/inlong/sort/formats/json/canal/CanalJsonEnhancedSerDeSchemaTest.java
  inlong-sort/sort-formats/format-json-v1.13/src/test/java/org/apache/inlong/sort/formats/json/canal/CanalJsonSerializationTest.java
  inlong-sort/sort-formats/format-json-v1.13/src/test/java/org/apache/inlong/sort/formats/json/canal/DebeziumJsonSerializationTest.java
  inlong-sort/sort-formats/format-json-v1.13/src/test/resources/canal-json-inlong-data.txt
  inlong-sort/sort-formats/format-json-v1.13/src/test/resources/log4j2-test.properties
  inlong-sort/sort-formats/format-json-v1.15/src/main/java/org/apache/inlong/sort/formats/json/utils/FormatJsonUtil.java
  inlong-sort/sort-formats/pom.xml
  pom.xml
Labels: component/manager, component/sort

#8412 [INLONG-8411][Sort] Fix the artifactId of the dependency of sort-format-json is wrong
  .github/workflows/ci_ut_flink15.yml
  inlong-sort/sort-core/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/mongodb-cdc/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/mysql-cdc/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/oracle-cdc/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/postgres-cdc/pom.xml
Labels: component/sort, service/ci

#8422 [INLONG-8421][Manager] Fix NPE when disable OpenApi auth
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/auth/openapi/OpenAPIFilter.java
Labels: component/manager, type/bug

#8417 [INLONG-8415][Dashboard] Data synchronization optimization
  inlong-dashboard/src/plugins/sync/common/SyncDefaultInfo.ts
  inlong-dashboard/src/ui/locales/cn.json
  inlong-dashboard/src/ui/locales/en.json
  inlong-dashboard/src/ui/pages/SynchronizeDetail/SyncSink/index.tsx
  inlong-dashboard/src/ui/pages/SynchronizeDetail/SyncSources/index.tsx
  inlong-dashboard/src/ui/pages/SynchronizeDetail/SyncTransform/index.tsx
  inlong-dashboard/src/ui/pages/SynchronizeDetail/index.tsx
Labels: component/dashboard

#8418 [INLONG-7766][SDK] Adjusted frame length exceeds occurred when reporting data through the HTTP protocol
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/DefaultMessageSender.java
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/example/HttpClientExample.java
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/example/TcpClientExample.java
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/network/HttpProxySender.java
Labels: component/sdk

#8367 [INLONG-8366][Sort] Lost data in Iceberg when restoring checkpoint
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/multiple/IcebergSingleFileCommiter.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/iceberg/src/test/java/org/apache/inlong/sort/iceberg/sink/HadoopCatalogResource.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/iceberg/src/test/java/org/apache/inlong/sort/iceberg/sink/TestRollbackAndRecover.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/iceberg/src/test/java/org/apache/inlong/sort/iceberg/sink/util/SimpleDataUtil.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/iceberg/src/test/java/org/apache/inlong/sort/iceberg/sink/util/TestTableLoader.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/iceberg/src/test/java/org/apache/inlong/sort/iceberg/sink/util/TestTables.java
  licenses/inlong-sort-connectors/LICENSE
Labels: component/sort

#8406 [INLONG-7882][Sort] Oracle CDC reduces the number of session connections
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/oracle-cdc/src/main/java/org/apache/inlong/sort/cdc/oracle/source/OracleDialect.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/oracle-cdc/src/main/java/org/apache/inlong/sort/cdc/oracle/source/reader/fetch/OracleSourceFetchTaskContext.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/oracle-cdc/src/main/java/org/apache/inlong/sort/cdc/oracle/source/utils/OracleConnectionUtils.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/oracle-cdc/src/main/java/org/apache/inlong/sort/cdc/oracle/source/utils/OracleUtils.java
Labels: component/sort

#8427 [INLONG-8425][Manager] Fix error in obtaining audit information when sink is not configured
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/AuditServiceImpl.java
Labels: component/manager

#8426 [INLONG-8407][Sort] Optimize mongodb cdc to obtain documentKey
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/mongodb-cdc/src/main/java/org/apache/inlong/sort/cdc/mongodb/debezium/table/MongoDBConnectorDeserializationSchema.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/mongodb-cdc/src/main/java/org/apache/inlong/sort/cdc/mongodb/debezium/utils/RecordUtils.java
Labels: component/sort

#8435 [INLONG-8434][Manager] Fix error converting null to string when converting JSON string
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/repository/DataProxyConfigRepository.java
Labels: component/manager

#8430 [INLONG-8429][Sort] Fix the missing part of the Flink 1.15 connector pipeline failure error
  inlong-sort/pom.xml
  inlong-sort/sort-core/pom.xml
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/ClickHouseSqlParserTest.java
  inlong-sort/sort-end-to-end-tests/pom.xml
Labels: component/sort

#8439 [INLONG-8438][Manager] Removes the restriction that only the admin user can create DataNodes by openAPI
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/node/DataNodeServiceImpl.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/openapi/OpenDataNodeController.java
Labels: component/manager

#8432 [INLONG-8431][Dashboard] Support tenant management and tenant role management
  inlong-dashboard/src/configs/menus/conf.tsx
  inlong-dashboard/src/configs/routes/conf.ts
  inlong-dashboard/src/core/stores/index.ts
  inlong-dashboard/src/core/utils/localStorage.ts
  inlong-dashboard/src/core/utils/request.ts
  inlong-dashboard/src/i18n.ts
  inlong-dashboard/src/ui/components/Layout/NavWidget/index.tsx
  inlong-dashboard/src/ui/components/Layout/Tenant/index.tsx
  inlong-dashboard/src/ui/components/Layout/index.tsx
  inlong-dashboard/src/ui/components/Provider/index.tsx
  inlong-dashboard/src/ui/locales/cn.json
  inlong-dashboard/src/ui/locales/en.json
  inlong-dashboard/src/ui/pages/TenantManagement/DetailModal.tsx
  inlong-dashboard/src/ui/pages/TenantManagement/TenantModal.tsx
  inlong-dashboard/src/ui/pages/TenantManagement/config.tsx
  inlong-dashboard/src/ui/pages/TenantManagement/index.tsx
Labels: component/dashboard

#8444 [INLONG-8443][Manager] Add ClickHouse field type mapping strategy to improve usability
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/fieldtype/strategy/ClickHouseFieldTypeStrategy.java
  inlong-manager/manager-common/src/main/resources/clickhouse-field-type-mapping.yaml
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/node/provider/ClickHouseProvider.java
  inlong-manager/manager-pojo/src/test/java/org/apache/inlong/manager/pojo/sort/util/FieldInfoUtilsTest.java
Labels: component/manager

#8454 [INLONG-8449][Manager] Fix abnormal growth of self increasing primary key in heartbeat table
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/ComponentHeartbeatEntityMapper.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/GroupHeartbeatEntityMapper.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/StreamHeartbeatEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/mappers/ComponentHeartbeatEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/GroupHeartbeatEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/StreamHeartbeatEntityMapper.xml
  inlong-manager/manager-test/src/main/resources/h2/apache_inlong_manager.sql
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
  inlong-manager/manager-web/sql/changes-1.8.0.sql
Labels: component/manager

#8460 [INLONG-8459][DataProxy] Fix code scanning alert - Implicit narrowing conversion in compound assignment
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/mq/PackProfile.java
Labels: component/dataproxy

#8465 [INLONG-8461][Dashboard] Cluster management tag optimization
  inlong-dashboard/src/configs/menus/conf.tsx
  inlong-dashboard/src/ui/components/Layout/Tenant/index.tsx
  inlong-dashboard/src/ui/pages/TenantManagement/DetailModal.tsx
Labels: component/dashboard

#8466 [INLONG-8462][Manager] Fix attribute was overwritten by the default value error when modifying the group
  inlong-manager/manager-dao/src/main/resources/mappers/InlongGroupEntityMapper.xml
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/group/InlongGroupApproveRequest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/group/InlongGroupInfo.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/group/InlongGroupRequest.java
Labels: component/manager

#8468 [INLONG-8467][Dashboard] Audit query condition optimization
  inlong-dashboard/src/ui/locales/cn.json
  inlong-dashboard/src/ui/locales/en.json
  inlong-dashboard/src/ui/pages/GroupDetail/Audit/config.tsx
  inlong-dashboard/src/ui/pages/GroupDetail/Audit/index.tsx
Labels: component/dashboard

#8463 [INLONG-8442][Manager] Support delete tenant and tenant role
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/tenant/InlongTenantService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/tenant/InlongTenantServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/user/TenantRoleService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/user/TenantRoleServiceImpl.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/InlongTenantController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/InlongTenantRoleController.java
Labels: component/manager

#8424 [INLONG-8405][Manager] Dynamically configure ClickHouse source for Audit
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/AuditSourceEntity.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/AuditSourceEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/mappers/AuditSourceEntityMapper.xml
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/audit/AuditSourceRequest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/audit/AuditSourceResponse.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/AuditService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/AuditServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/sink/ck/ClickHouseConfig.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/impl/AuditServiceTest.java
  inlong-manager/manager-test/src/main/resources/h2/apache_inlong_manager.sql
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
  inlong-manager/manager-web/sql/changes-1.8.0.sql
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/AuditController.java
Labels: component/manager

#8472 [INLONG-8451][Release] Add the 1.8.0 version option for the bug report
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: service/ci

#8473 [INLONG-8452][Release] Update changes log for the 1.8.0 version
  CHANGES.md
Labels: stage/release

#8483 [INLONG-8481][Sort] Fix unit test for sort-core in flink-1.15
  .github/workflows/ci_ut_flink15.yml
  inlong-sort/sort-core/pom.xml
  inlong-sort/sort-formats/format-json-v1.15/pom.xml
  inlong-sort/sort-formats/format-json-v1.15/src/main/java/org/apache/inlong/sort/formats/json/utils/FormatJsonUtil.java
  inlong-sort/sort-formats/pom.xml
Labels: component/sort, service/ci

#8485 [INLONG-8474][CVE] Unify the version of "hive-exec"
  inlong-sort-standalone/pom.xml
  inlong-sort/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/hive/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/hudi/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/iceberg/pom.xml
  pom.xml
Labels: component/sort

#8489 [INLONG-8457][Release] Change the tag of Docker images to 1.8.0
  conf/inlong.conf
  docker/docker-compose/.env
  docker/kubernetes/README.md
  docker/kubernetes/values.yaml
  inlong-agent/agent-docker/README.md
  inlong-audit/audit-docker/README.md
  inlong-dataproxy/dataproxy-docker/README.md
  inlong-manager/manager-docker/README.md
  inlong-manager/manager-plugins/base/pom.xml
  inlong-manager/manager-plugins/manager-plugins-flink-v1.13/pom.xml
  inlong-manager/manager-plugins/manager-plugins-flink-v1.15/pom.xml
  inlong-tubemq/tubemq-docker/tubemq-all/README.md
  inlong-tubemq/tubemq-docker/tubemq-manager/README.md
Labels: component/tubemq, component/manager, component/dataproxy, component/agent, component/audit, service/docker, service/k8s

#8487 [INLONG-8486][Dashboard] Data synchronization field mapping optimization
  inlong-dashboard/src/ui/components/FieldList/DetailModal.tsx
  inlong-dashboard/src/ui/pages/SynchronizeDetail/Info/index.tsx
  inlong-dashboard/src/ui/pages/SynchronizeDetail/index.tsx
Labels: component/dashboard

#8495 [INLONG-8494][CI] Use different maven cache key for workflows
  .github/workflows/ci_build.yml
  .github/workflows/ci_docker.yml
  .github/workflows/ci_ut.yml
  .github/workflows/ci_ut_flink15.yml
  .github/workflows/codeql_analysis.yml
Labels: service/ci

#8493 [INLONG-8491][Manager] Manager client support list inlong streams with sources and sinks by paginating
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/client/InlongStreamClient.java
Labels: component/manager

#8501 [INLONG-8500][Dashboard] Fix stream data preview url error
  inlong-dashboard/src/ui/pages/GroupDetail/DataStream/PreviewModal.tsx
Labels: component/dashboard, 1.8.x/bugfix

#8499 [INLONG-8498][Manager] Add permission verification for InlongStreamProcessService
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/AuditServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/stream/InlongStreamProcessService.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/openapi/OpenInLongStreamController.java
Labels: component/manager, 1.8.x/bugfix

#8492 [INLONG-8490][Manager] Duplicate queried audit data according to all fields
  inlong-manager/manager-dao/src/main/resources/mappers/AuditEntityMapper.xml
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/AuditServiceImpl.java
Labels: component/manager

#8518 [INLONG-8512][Dashboard] Tube consumer bug fix when selecting topic
  inlong-dashboard/src/plugins/consumes/common/ConsumeDefaultInfo.ts
Labels: component/dashboard

#8517 [INLONG-8516][Manager] Add scala dependency for manager plugin Flink 1.15
  inlong-manager/manager-plugins/base/src/main/assembly/assembly.xml
Labels: component/manager, 1.8.x/bugfix

#8519 [INLONG-8504][Manager] Modify nodeIp in dataproxy message to clientIp
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/consume/BriefMQMessage.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/message/DeserializeOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/message/InlongMsgDeserializeOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/message/PbMsgDeserializeOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/message/RawMsgDeserializeOperator.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/impl/decode/MessageDeserializer.java
Labels: component/manager, component/sdk, 1.8.x/bugfix

#8488 [INLONG-8374][Manager] Manager client tools support multiple tenant
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/CreateCommand.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/DescribeCommand.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/ListCommand.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/UpdateCommand.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/pojo/TenantInfo.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/pojo/TenantRoleInfo.java
Labels: component/manager

#8147 [INLONG-8146][Agent] Add -XX:NativeMemoryTracking in agent-env.sh
  inlong-agent/agent-docker/Dockerfile
  inlong-agent/bin/agent-env.sh
Labels: component/agent, service/docker

#8508 [INLONG-8507][Dataproxy] Modify nodeIp in dataproxy message to clientIp
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/httpMsg/HttpMessageHandler.java
Labels: component/dataproxy

#8521 [INLONG-8520][Agent] Makeup the code to figure out whether it is kvm, k8s or not
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/file/FileReaderOperator.java
Labels: component/agent, 1.8.x/bugfix

#8513 [INLONG-8511][Manager] Add admin permission of public tenant to all users
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/user/TenantRoleService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/user/TenantRoleServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/user/UserServiceImpl.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/ServiceBaseTest.java
  inlong-manager/manager-web/sql/changes-1.8.0.sql
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/filter/TenantInsertionFilter.java
  inlong-manager/manager-web/src/test/java/org/apache/inlong/manager/web/filter/TenantInsertionFilterTest.java
Labels: component/manager, 1.8.x/bugfix

#8525 [INLONG-8524][Agent] Update the JVM Options for Agent
  inlong-agent/bin/agent-env.sh
Labels: component/agent, 1.8.x/bugfix

#8528 [INLONG-8527][Manager] Fix wrong capitalization of InlongRequestWrapper
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/utils/InlongRequestWrapper.java
Labels: component/manager, 1.8.x/bugfix

#8510 [INLONG-8509][Manager] Optimize preProcessTemplateFileTask in AgentServiceImpl
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/AgentServiceImpl.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/impl/AgentServiceTest.java
Labels: component/manager

#8523 [INLONG-8522][Manager] optimize log print and status judgement in preProcessLabelFileTasks
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/AgentServiceImpl.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/impl/AgentServiceTest.java
Labels: component/manager

#8532 [INLONG-8531][Manager] Restrict cluster permission to Inlong administrator
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/InlongClusterEntity.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/InlongClusterTagEntity.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/InlongClusterEntityMapper.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/InlongClusterTagEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/mappers/InlongClusterEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/InlongClusterTagEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/InlongGroupEntityMapper.xml
  inlong-manager/manager-dao/src/test/java/org/apache/inlong/manager/dao/mapper/InlongClusterEntityMapperTest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/cluster/ClusterPageRequest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/cluster/ClusterRequest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/cluster/ClusterTagPageRequest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/cluster/ClusterTagRequest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/impl/AgentServiceTest.java
  inlong-manager/manager-test/src/main/resources/h2/apache_inlong_manager.sql
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
  inlong-manager/manager-web/sql/changes-1.8.0.sql
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/InlongClusterController.java
Labels: component/manager

#8536 [INLONG-8490][Manager] Fix the null pointer problem in updateRuntimeConfig method
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/sink/ck/ClickHouseConfig.java
Labels: component/manager

#8538 [INLONG-8537][Manager] Fix insert group failed
  inlong-manager/manager-dao/src/main/resources/mappers/InlongGroupEntityMapper.xml
Labels: component/manager

#8534 [INLONG-8533][Docker] Add MySQL connector to the manager image for test
  docker/build-docker-images.sh
  inlong-manager/manager-docker/Dockerfile
  inlong-manager/manager-docker/pom.xml
Labels: component/manager, service/docker

#8542 [INLONG-8541][Manager] Fix saving InlongGroup with error tenant
  inlong-manager/manager-dao/src/main/resources/mappers/InlongGroupEntityMapper.xml
Labels: component/manager, 1.8.x/bugfix

#8544 [INLONG-8543][Docker] Fix mysql connector path error when docker build
  docker/build-docker-images.sh
Labels: service/docker

#7764 [INLONG-7763][Sort] Support ddl change for doris
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/load/DorisLoadNode.java
  inlong-sort/sort-flink/base/src/main/java/org/apache/inlong/sort/base/dirty/DirtyOptions.java
  inlong-sort/sort-flink/base/src/main/java/org/apache/inlong/sort/base/format/JsonDynamicSchemaFormat.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/doris/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/doris/src/main/java/org/apache/inlong/sort/doris/http/HttpGetEntity.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/doris/src/main/java/org/apache/inlong/sort/doris/schema/OperationHelper.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/doris/src/main/java/org/apache/inlong/sort/doris/schema/SchemaChangeHelper.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/doris/src/main/java/org/apache/inlong/sort/doris/table/DorisDynamicSchemaOutputFormat.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/doris/src/main/java/org/apache/inlong/sort/doris/table/DorisDynamicTableFactory.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/doris/src/main/java/org/apache/inlong/sort/doris/table/DorisDynamicTableSink.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/doris/src/test/java/org/apache/inlong/sort/doris/schema/OperationHelperTest.java
Labels: component/sort

#8515 [INLONG-8514][Manager] Support ClickHouse field type with Nullable modifier
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/fieldtype/strategy/ClickHouseFieldTypeStrategy.java
  inlong-manager/manager-pojo/src/test/java/org/apache/inlong/manager/pojo/sort/util/FieldInfoUtilsTest.java
Labels: component/manager

#8540 [INLONG-8539][Manager] Logically remove all sources when agent heartbeat contains no group message
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/StreamSourceEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/mappers/StreamSourceEntityMapper.xml
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/heartbeat/HeartbeatServiceImpl.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/impl/AgentServiceTest.java
Labels: component/manager

#8551 [INLONG-8549][Sort] Fix incorrect use of maven plugin on integration test among sort-end-to-end-tests
  inlong-sort/sort-end-to-end-tests/pom.xml
Labels: component/sort

#8557 [INLONG-8556][Manager] Optimize the location of the manager-plugins-flink jar package
  inlong-manager/manager-plugins/base/src/main/assembly/assembly.xml
  inlong-manager/manager-web/assembly.xml
Labels: component/manager

#8553 [INLONG-8552][Manager] Fix the data preview obtained is not the latest message
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/queue/pulsar/PulsarOperator.java
Labels: component/manager, 1.8.x/bugfix

#8550 [INLONG-8547][Manager] Add workflow approver automatically when create a new tenant
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/InlongClusterEntity.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/InlongClusterTagEntity.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/InlongClusterEntityMapper.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/InlongClusterTagEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/mappers/InlongClusterEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/InlongClusterTagEntityMapper.xml
  inlong-manager/manager-dao/src/test/java/org/apache/inlong/manager/dao/mapper/InlongClusterEntityMapperTest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/cluster/ClusterPageRequest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/cluster/ClusterRequest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/cluster/ClusterTagPageRequest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/cluster/ClusterTagRequest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/tenant/InlongTenantServiceImpl.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/impl/AgentServiceTest.java
  inlong-manager/manager-test/src/main/resources/h2/apache_inlong_manager.sql
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
  inlong-manager/manager-web/sql/changes-1.8.0.sql
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/InlongClusterController.java
Labels: component/manager

#8562 [INLONG-8561][Manager] Remove manager-plugin-example.jar
  inlong-manager/manager-service/pom.xml
  inlong-manager/manager-service/src/test/resources/plugins/manager-plugins-base-example.jar
Labels: component/manager, 1.8.x/bugfix

#8571 [INLONG-8570][Manager] Modify packaging order
  inlong-manager/pom.xml
Labels: component/manager

#8573 [INLONG-8572][Manager] Fix missing information in InlongStreamBriefInfo
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/stream/InlongStreamBriefInfo.java
  inlong-manager/manager-service/pom.xml
Labels: component/manager, 1.8.x/bugfix

#8577 [INLONG-8576][DataProxy] Adjust handling when messages are incomplete
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/consts/StatConstants.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/mq/MessageQueueZoneSink.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/ServerMessageHandler.java
Labels: component/dataproxy

#8568 [INLONG-8567][Manager] Add new role INLONG_SERVICE for internal service query
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/interceptor/MultiTenantInterceptor.java
  inlong-manager/manager-dao/src/main/resources/mappers/DataNodeEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/InlongClusterEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/InlongClusterTagEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/InlongConsumeEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/InlongGroupEntityMapper.xml
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/user/UserRoleCode.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/SortSourceServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/tenant/InlongTenantServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/user/TenantRoleServiceImpl.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/sort/SortServiceImplTest.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/auth/tenant/TenantAuthenticatingRealm.java
Labels: component/manager, 1.8.x/bugfix

#8569 [INLONG-8560][Dashboard] Hive supports filling in username and password
  inlong-dashboard/src/plugins/nodes/defaults/Hive.ts
  inlong-dashboard/src/ui/locales/cn.json
  inlong-dashboard/src/ui/locales/en.json
Labels: component/dashboard

#8565 [INLONG-8564][Manager] Fix unable to issue tasks when modifying data node info
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/node/AbstractDataNodeOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/node/DataNodeOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/node/DataNodeServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/node/mysql/MySQLDataNodeOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/user/UserServiceImpl.java
Labels: component/manager

#8581 [INLONG-8580][Manager] Fix Error in pushing topic information when using TubeMQ
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/tubemq/TubeMQSourceOperator.java
Labels: component/manager, 1.8.x/bugfix

#8579 [INLONG-8578][Sort] Fix npe inside outputReadPhaseMetrics in mysql-cdc
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/source/metrics/MySqlSourceReaderMetrics.java
Labels: component/sort

#8559 [INLONG-8558][Sort] Use database name in upper case at the OracleTableSourceFactory
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/oracle-cdc/src/main/java/org/apache/inlong/sort/cdc/oracle/source/utils/OracleConnectionUtils.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/oracle-cdc/src/main/java/org/apache/inlong/sort/cdc/oracle/table/OracleTableSourceFactory.java
Labels: component/sort

#8574 [INLONG-8546][Dashboard] Resource details abnormal display repair
  inlong-dashboard/src/ui/pages/GroupDetail/ResourceInfo/index.tsx
Labels: component/dashboard

#8530 [INLONG-8529][Manager] Update stream source to heartbeat timeout when evit cluster node
  inlong-manager/manager-dao/src/main/resources/mappers/StreamSourceEntityMapper.xml
Labels: component/manager

#8583 [INLONG-8582][Manager] Remove unnecessary log information in InlongClusterServiceImpl
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/InlongClusterServiceImpl.java
Labels: component/manager

#8585 [INLONG-8575][Dashboard] Tenant management query optimization
  inlong-dashboard/src/core/stores/index.ts
  inlong-dashboard/src/ui/components/Layout/Tenant/index.tsx
  inlong-dashboard/src/ui/pages/TenantManagement/DetailModal.tsx
  inlong-dashboard/src/ui/pages/TenantManagement/index.tsx
Labels: component/dashboard

#8238 [INLONG-8236][Sort] Iceberg supports dynamic switching between append and upsert
  inlong-sort/sort-flink/base/src/main/java/org/apache/inlong/sort/base/Constants.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/IcebergTableSink.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/FlinkSink.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/RowDataTaskWriterFactory.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/multiple/DynamicSchemaHandleOperator.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/multiple/IcebergMultipleStreamWriter.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/multiple/IcebergSingleStreamWriter.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/multiple/RecordWithSchema.java
Labels: component/sort

#8587 [INLONG-8586][Manager] Stop Stream Source which is still running after group is stopped
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/InlongGroupEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/mappers/InlongGroupEntityMapper.xml
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/group/coordinator/Coordinator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/task/DataCleansingTask.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/task/DelGroupCoordinatorTask.java
  inlong-manager/manager-web/src/main/resources/application-prod.properties
Labels: component/manager

#8591 [INLONG-8589][DataProxy] Add callback parameter support for Http access
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/consts/HttpAttrConst.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/httpMsg/HttpMessageHandler.java
Labels: component/dataproxy

#8595 [INLONG-8594][Sort] Fix SourceRecord range check of MongoDB CDC
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/mongodb-cdc/src/main/java/org/apache/inlong/sort/cdc/mongodb/source/reader/fetch/MongoDBFetchTaskContext.java
Labels: component/sort

#8600 [INLONG-8597][DataProxy] Adjust the format of the metric output to the file
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/consts/ConfigConstants.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/metrics/stats/MonitorIndex.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/common/SinkContext.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/common/TubeUtils.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/mq/MessageQueueZoneSinkContext.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/mq/SimplePackProfile.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/mq/kafka/KafkaHandler.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/mq/pulsar/PulsarHandler.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/mq/tube/TubeHandler.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/BaseSource.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/ServerMessageHandler.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/httpMsg/HttpMessageHandler.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/v0msg/AbsV0MsgCodec.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/v0msg/CodecBinMsg.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/v0msg/CodecTextMsg.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/utils/DateTimeUtils.java
Labels: component/dataproxy

#8593 [INLONG-8564][Manager] Fix the task not working of deleting StreamSources
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/InlongGroupEntityMapper.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/StreamSourceEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/mappers/InlongGroupEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/StreamSourceEntityMapper.xml
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/group/coordinator/Coordinator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/StreamSourceServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/task/DeleteStreamSourceTask.java
  inlong-manager/manager-web/src/main/resources/application-dev.properties
  inlong-manager/manager-web/src/main/resources/application-prod.properties
  inlong-manager/manager-web/src/main/resources/application-test.properties
Labels: component/manager

#8599 [INLONG-8596][Sort] Fix bugs and reformat code in Iceberg dynamic switching between append and upsert
  inlong-sort/sort-flink/base/src/main/java/org/apache/inlong/sort/base/Constants.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/IcebergTableSink.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/schema/IcebergModeSwitchHelper.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/schema/RowDataConverter.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/FlinkSink.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/RowDataTaskWriterFactory.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/multiple/DynamicSchemaHandleOperator.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/multiple/IcebergMultipleStreamWriter.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/multiple/IcebergSingleFileCommiter.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/multiple/IcebergSingleStreamWriter.java
Labels: component/sort

#8605 [INLONG-8601][Sort] Fix NPE in schema.name of Oracle CDC
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/oracle-cdc/src/main/java/org/apache/inlong/sort/cdc/oracle/debezium/table/RowDataDebeziumDeserializeSchema.java
Labels: component/sort

#8604 [INLONG-8603][Manager] Fix the vulnerability to security attacks for the MySQL JDBC URL
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sink/mysql/MySQLSinkDTO.java
  inlong-manager/manager-pojo/src/test/java/org/apache/inlong/manager/pojo/sink/mysql/MySQLSinkDTOTest.java
Labels: component/manager

#8609 [INLONG-8608][Dashboard] Cluster management and tag management request optimization
  inlong-dashboard/src/ui/locales/cn.json
  inlong-dashboard/src/ui/locales/en.json
  inlong-dashboard/src/ui/pages/ClusterTags/TagDetailModal.tsx
  inlong-dashboard/src/ui/pages/ClusterTags/index.module.less
  inlong-dashboard/src/ui/pages/ClusterTags/index.tsx
  inlong-dashboard/src/ui/pages/Clusters/index.tsx
Labels: component/dashboard

#8610 [INLONG-8279][Sort] Fix NPE when run MySqlLoadSqlParseTest
  inlong-sort/sort-core/pom.xml
Labels: component/sort

#8588 [INLONG-8360][Manager] Support previewing data of Kafka
  inlong-manager/manager-plugins/base/src/main/java/org/apache/inlong/manager/plugin/flink/FlinkOperation.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/consume/BriefMQMessage.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/message/InlongMsgDeserializeOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/message/PbMsgDeserializeOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/message/RawMsgDeserializeOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/queue/kafka/KafkaOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/queue/kafka/KafkaQueueResourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/queue/pulsar/PulsarOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/queue/pulsar/PulsarQueueResourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/queue/tubemq/TubeMQQueueResourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/kafka/KafkaSourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/pulsar/PulsarSourceOperator.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/resource/queue/kafka/KafkaOperatorTest.java
Labels: component/manager
