Repository apache/inlong, pull requests merged in 2023-09, with the labels that each got.

#8830 [INLONG-8829][Manager] Support configuring whether to use zookeeper by request
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/group/InlongGroupRequest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/group/InlongGroupServiceImpl.java
Labels: component/manager

#8828 [INLONG-8827][Manager] Fix Inlong manager sql directory in docker README
  docker/docker-compose/README.md
Labels: service/docker

#8831 [INLONG-8805][Manager] Check tenant status before deleting tenant
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/InlongGroupEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/mappers/InlongGroupEntityMapper.xml
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/tenant/InlongTenantServiceImpl.java
Labels: component/manager

#8833 [INLONG-8832][Manager] Fix the problem of The request type for transform/list in the client does not match the actual one
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/DescribeCommand.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/ListCommand.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/DefaultInlongStreamBuilder.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/impl/InlongStreamImpl.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/client/StreamTransformClient.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/service/StreamTransformApi.java
Labels: component/manager

#8835 [INLONG-4972][TubeMQ] Add a command-line tool for TubeMQ
  inlong-tubemq/bin/tubectl
  inlong-tubemq/bin/tubectl.cmd
  inlong-tubemq/tubemq-server/pom.xml
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/tools/cli/AbstractCommand.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/tools/cli/AbstractCommandRunner.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/tools/cli/CliWebapiAdmin.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/tools/cli/CommandToolMain.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/tools/cli/ConsumerGroupCommand.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/tools/cli/MessageCommand.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/tools/cli/TopicCommand.java
  inlong-tubemq/tubemq-server/src/test/java/org/apache/inlong/tubemq/server/tools/cli/ConsumerGroupCommandTest.java
  inlong-tubemq/tubemq-server/src/test/java/org/apache/inlong/tubemq/server/tools/cli/MessageCommandTest.java
  inlong-tubemq/tubemq-server/src/test/java/org/apache/inlong/tubemq/server/tools/cli/TopicCommandTest.java
  licenses/inlong-tubemq-server/LICENSE
  licenses/inlong-tubemq-server/NOTICE
  licenses/inlong-tubemq-server/licenses/LICENSE-jcommander.txt
Labels: component/tubemq

#8840 [INLONG-8834][Manager] Fix the problem of no relationship generated after setting the transformNode
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/util/NodeRelationUtils.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/util/TransformNodeUtils.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/sort/DefaultSortConfigOperator.java
Labels: component/manager

#8842 [INLONG-8841][Dashboard] Support management of Iceberg sources
  inlong-dashboard/src/plugins/sources/defaults/Iceberg.ts
  inlong-dashboard/src/plugins/sources/defaults/index.ts
  inlong-dashboard/src/ui/locales/cn.json
  inlong-dashboard/src/ui/locales/en.json
Labels: component/dashboard

#8844 [INLONG-8843][Dashboard] StarRocks sink field optimization
  inlong-dashboard/src/plugins/sinks/defaults/StarRocks.ts
  inlong-dashboard/src/ui/pages/TenantManagement/TenantModal.tsx
Labels: component/dashboard

#8824 [INLONG-8823][Manager] Supporting data flow to Pulsar
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/consts/DataNodeType.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/consts/SourceType.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/consts/StreamType.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/node/pulsar/PulsarDataNodeDTO.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/node/pulsar/PulsarDataNodeInfo.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/node/pulsar/PulsarDataNodeRequest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sink/pulsar/PulsarSink.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sink/pulsar/PulsarSinkDTO.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sink/pulsar/PulsarSinkRequest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/node/pulsar/PulsarDataNodeOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/queue/pulsar/PulsarUtils.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/sink/pulsar/PulsarResourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/AbstractSinkOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/pulsar/PulsarSinkOperator.java
Labels: component/manager

#8853 [INLONG-8852][Manager] Supports fuzzy matching of username based on keyword
  inlong-manager/manager-dao/src/main/resources/mappers/TenantUserRoleEntityMapper.xml
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/tenant/InlongTenantServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/user/TenantRoleServiceImpl.java
Labels: component/manager

#8851 [INLONG-8850][Agent] Remove unregister of MetricRegister when initialize taskmanager
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/task/TaskManager.java
Labels: component/agent

#8855 [INLONG-8854][SDK] Add return code information for dataproxy cpp sdk
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/release/inc/api_code.h
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/config/sdk_conf.cc
Labels: component/sdk

#8859 [INLONG-8858][SDK] Add init helper information for dataproxy cpp sdk
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/config/ini_help.cc
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/config/ini_help.h
Labels: component/sdk

#8862 [INLONG-8860][SDK] Add log utils for dataproxy cpp sdk
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/uitls/capi_constant.h
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/uitls/logger.h
Labels: component/sdk

#8863 [INLONG-8861][SDK] Add mutex utils for dataproxy cpp sdk
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/utils/noncopyable.h
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/utils/read_write_mutex.h
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/utils/singleton.h
Labels: component/sdk

#8865 [INLONG-8864][SDK] Add memory utils for dataproxy cpp sdk
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/utils/block_memory.h
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/utils/send_buffer.h
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/utils/utils.cc
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/utils/utils.h
Labels: component/sdk

#8867 [INLONG-8866][SDK] Optimize data receiving framework for dataproxy cpp sdk
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/group/recv_group.cc
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/group/recv_group.h
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/manager/recv_manager.cc
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/manager/recv_manager.h
Labels: component/sdk

#8869 [INLONG-8868][SDK] Optimize send data framework for dataproxy cpp sdk
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/group/send_group.cc
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/group/send_group.h
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/manager/send_manager.cc
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/manager/send_manager.h
Labels: component/sdk

#8857 [INLONG-8856][SDK] Add msg information for dataproxy cpp sdk
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/release/inc/sdk_msg.h
Labels: component/sdk

#8872 [INLONG-8871][TubeMQ] Use an error code in checkMessageAndStatus() to return the check result instead of throwing an exception
  inlong-tubemq/tubemq-client/src/main/java/org/apache/inlong/tubemq/client/producer/MessageSentResult.java
  inlong-tubemq/tubemq-client/src/main/java/org/apache/inlong/tubemq/client/producer/SimpleMessageProducer.java
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/TErrCodeConstants.java
Labels: component/tubemq

#8884 [INLONG-8883][SDK] Optimize proxy config manager framework for dataproxy cpp sdk
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/config/proxy_info.h
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/manager/proxy_manager.cc
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/manager/proxy_manager.h
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/manager/send_manager.cc
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/utils/capi_constant.h
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/utils/logger.h
Labels: component/sdk

#8826 [INLONG-8825][Sort] Optimize the field type conversion between source and target in the whole database scenario
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/constant/DataTypeConstants.java
  inlong-sort/sort-flink/base/src/main/java/org/apache/inlong/sort/base/format/JsonDynamicSchemaFormat.java
  inlong-sort/sort-flink/base/src/main/java/org/apache/inlong/sort/base/schema/SchemaChangeHelper.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/doris/src/main/java/org/apache/inlong/sort/doris/schema/OperationHelper.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/doris/src/main/java/org/apache/inlong/sort/doris/schema/SchemaChangeHelper.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/kafka/src/main/java/org/apache/inlong/sort/kafka/DynamicKafkaSerializationSchema.java
  inlong-sort/sort-formats/format-json-v1.13/src/main/java/org/apache/inlong/sort/formats/json/utils/FormatJsonUtil.java
  inlong-sort/sort-formats/format-json-v1.15/src/main/java/org/apache/inlong/sort/formats/json/utils/FormatJsonUtil.java
Labels: component/sort

#8654 [INLONG-8653][Sort] Fix the query sql for jdbc sink postgres dialect multiple table scenerios.
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/dialect/PostgresDialect.java
Labels: component/sort

#8886 [INLONG-8885][SDK] Optimize tcp manager framework for dataproxy cpp sdk
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/client/stat.h
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/client/tcp_client.cc
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/client/tcp_client.h
Labels: component/sdk

#8888 [INLONG-8887][SDK] Optimize api framework for dataproxy cpp sdk
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/release/inc/inlong_api.h
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/core/api_imp.cc
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/core/api_imp.h
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/core/inlong_api.cc
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/utils/atomic.h
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/utils/utils.h
Labels: component/sdk

#8890 [INLONG-8889][SDK] Optimize CmakeList for dataproxy cpp sdk
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/CMakeLists.txt
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/release/inc/sdk_conf.h
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/client/CMakeLists.txt
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/config/CMakeLists.txt
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/config/ini_help.h
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/config/sdk_conf.cc
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/utils/CMakeLists.txt
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/utils/utils.cc
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/utils/utils.h
Labels: component/sdk

#8893 [INLONG-8891][SDK] Optimize compile for dataproxy cpp sdk
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/CMakeLists.txt
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/release/inc/inlong_api.h
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/release/inc/sdk_conf.h
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/release/inc/sdk_msg.h
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/client/tcp_client.h
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/config/proxy_info.h
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/config/sdk_conf.cc
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/core/CMakeLists.txt
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/core/api_imp.cc
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/core/inlong_api.cc
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/group/CMakeLists.txt
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/group/recv_group.cc
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/group/recv_group.h
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/group/send_group.cc
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/group/send_group.h
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/manager/CMakeLists.txt
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/manager/proxy_manager.cc
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/manager/proxy_manager.h
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/manager/send_manager.cc
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/protocol/CMakeLists.txt
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/protocol/msg_protocol.cc
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/protocol/msg_protocol.h
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/utils/capi_constant.h
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/utils/read_write_mutex.h
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/utils/send_buffer.h
Labels: component/sdk

#8898 [INLONG-8897][Sort] update dbz option name 'xx. whitelist' to 'xx.include.list'(xx = database, schema or table)
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/MySqlSource.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/debezium/DebeziumUtils.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/oracle-cdc/src/main/java/org/apache/inlong/sort/cdc/oracle/OracleSource.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/oracle-cdc/src/main/java/org/apache/inlong/sort/cdc/oracle/source/config/OracleSourceConfigFactory.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/postgres-cdc/src/main/java/org/apache/inlong/sort/cdc/postgres/PostgreSQLSource.java
Labels: component/sort

#8901 [INLONG-8899][DataProxy] Optimize metadata update logic
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/CommonConfigHolder.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/holder/MetaConfigHolder.java
Labels: component/dataproxy

#8900 [INLONG-8882][Dashboard] Support management of Pulsar data node
  inlong-dashboard/src/plugins/nodes/defaults/Pulsar.ts
  inlong-dashboard/src/plugins/nodes/defaults/index.ts
Labels: component/dashboard

#8906 [INLONG-8905][SDK] Reformat the code for dataproxy cpp sdk
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/README.md
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/release/conf/config_example.json
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/release/demo/send_demo.cc
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/release/inc/api_code.h
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/release/inc/inlong_api.h
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/release/inc/sdk_conf.h
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/release/inc/sdk_msg.h
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/config/ini_help.cc
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/config/ini_help.h
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/config/sdk_conf.cc
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/core/api_imp.cc
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/core/api_imp.h
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/core/inlong_api.cc
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/group/recv_group.cc
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/group/recv_group.h
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/group/send_group.cc
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/group/send_group.h
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/manager/proxy_manager.cc
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/manager/proxy_manager.h
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/manager/send_manager.cc
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/manager/send_manager.h
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/protocol/msg_protocol.cc
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/protocol/msg_protocol.h
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/utils/capi_constant.h
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/utils/read_write_mutex.h
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/utils/send_buffer.h
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/utils/utils.h
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/third_party/CMakeLists.txt
Labels: component/sdk

#8907 [INLONG-8881][Dashboard] Support management of Pulsar sink
  inlong-dashboard/src/plugins/nodes/defaults/Pulsar.ts
  inlong-dashboard/src/plugins/sinks/defaults/Pulsar.ts
  inlong-dashboard/src/plugins/sinks/defaults/index.ts
  inlong-dashboard/src/ui/components/CheckCard/logo/Pulsar.png
  inlong-dashboard/src/ui/locales/cn.json
  inlong-dashboard/src/ui/locales/en.json
Labels: component/dashboard

#8904 [INLONG-8903][TubeMQ] Fix the int64 not recognized by the compiler and Missing @Override annotations
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/hudi/src/main/java/org/apache/inlong/sort/hudi/table/HudiTableInlongFactory.java
  inlong-tubemq/tubemq-client-twins/tubemq-client-cpp/example/producer/test_producer.cc
Labels: component/tubemq, component/sort

#8911 [INLONG-8910][SDK] Adjust default configuration parameters
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/config/sdk_conf.cc
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/group/send_group.cc
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/manager/proxy_manager.cc
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/utils/capi_constant.h
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/utils/utils.cc
Labels: component/sdk

#8448 [INLONG-8447][Manager] Optimize paging logic
  inlong-manager/manager-pojo/pom.xml
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/common/PageResult.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/InlongClusterServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/consume/InlongConsumeServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/WorkflowApproverServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/WorkflowEventServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/group/InlongGroupServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/heartbeat/HeartbeatServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/node/DataNodeServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/AbstractSinkOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/AbstractSourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/stream/InlongStreamServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/tenant/InlongTenantServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/transform/StreamTransformServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/user/InlongRoleService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/user/InlongRoleServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/user/TenantRoleServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/user/UserServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/workflow/WorkflowServiceImpl.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/user/InlongRoleServiceTest.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/InlongRoleController.java
Labels: component/manager, type/improve

#8915 [INLONG-8914][DataProxy] Optimize DataProxy event statistics
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/ConfigManager.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/consts/ConfigConstants.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/consts/StatConstants.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/mq/MessageQueueZoneSink.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/mq/kafka/KafkaHandler.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/mq/pulsar/PulsarHandler.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/mq/tube/TubeHandler.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/BaseSource.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/ServerMessageHandler.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/SourceConstants.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/httpMsg/HttpMessageHandler.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/v0msg/CodecBinMsg.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/v0msg/CodecTextMsg.java
  inlong-dataproxy/dataproxy-source/src/test/java/org/apache/inlong/dataproxy/source/UdpSourceTest.java
Labels: component/dataproxy

#8917 [INLONG-8916][SDK] Update SDK configuration file for dataproxy cpp sdk
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/release/conf/config_example.json
Labels: component/sdk

#8913 [INLONG-8403][Manager] Support resource migrate to another tenant
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/DataNodeEntityMapper.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/InlongConsumeEntityMapper.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/InlongGroupEntityMapper.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/TenantClusterTagEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/mappers/DataNodeEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/InlongConsumeEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/InlongGroupEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/TenantClusterTagEntityMapper.xml
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/group/GroupCheckService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/tenant/InlongTenantService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/tenant/InlongTenantServiceImpl.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/InlongTenantController.java
Labels: component/manager

#8894 [INLONG-8839][Sort] Add audit metric in starrocks connector on flink 1.15
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.15/src/test/resources/flinkSql/postgres_test.sql
  inlong-sort/sort-flink/base/src/main/java/org/apache/inlong/sort/base/metric/SinkMetricData.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/starrocks/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/starrocks/src/main/java/org/apache/inlong/sort/starrocks/table/sink/StarRocksDynamicTableSinkFactory.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/starrocks/src/main/java/org/apache/inlong/sort/starrocks/table/sink/table/SinkFunctionFactory.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/starrocks/src/main/java/org/apache/inlong/sort/starrocks/table/sink/table/StarRocksDynamicSinkFunctionV2.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/starrocks/src/main/java/org/apache/inlong/sort/starrocks/table/sink/table/StarRocksDynamicTableSink.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/starrocks/src/main/java/org/apache/inlong/sort/starrocks/table/sink/utils/SchemaUtils.java
  licenses/inlong-sort-connectors/LICENSE
Labels: component/sort

#8921 [INLONG-8812][Tubemq]add memCacheMsgSizeInMB attribute to AddTopicReq
  inlong-tubemq/tubemq-manager/src/main/java/org/apache/inlong/tubemq/manager/controller/node/request/AddTopicReq.java
Labels: component/tubemq

#8895 [INLONG-8838][Sort] IcebergSource support metadata
  inlong-manager/manager-service/pom.xml
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/sink/hudi/HudiCatalogClient.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/sort/SortServiceImplTest.java
  inlong-sort/sort-flink/base/src/main/java/org/apache/inlong/sort/base/Constants.java
  inlong-sort/sort-flink/base/src/main/java/org/apache/inlong/sort/base/metric/SourceMetricData.java
  inlong-sort/sort-flink/base/src/main/java/org/apache/inlong/sort/base/util/CalculateObjectSizeUtils.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/iceberg/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/FlinkDynamicTableFactory.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/IcebergReadableMetadata.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/source/IcebergSource.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/source/IcebergTableSource.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/source/reader/ArrayBatchRecords.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/source/reader/ArrayPoolDataIteratorBatcher.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/source/reader/IcebergSourceReader.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/source/reader/IcebergSourceRecordEmitter.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/source/reader/IcebergSourceSplitReader.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/source/reader/InlongIcebergSourceReaderMetrics.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/source/reader/MetaDataReaderFunction.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/source/reader/RecordFactory.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/source/reader/RowDataReaderFunction.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/source/reader/RowDataRecordFactory.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/source/utils/RecyclableJoinedRowData.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/source/utils/RowDataCloneUtil.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-flink-dependencies/pom.xml
  licenses/inlong-sort-connectors/LICENSE
  pom.xml
Labels: component/manager, component/sort

#8923 [INLONG-8874][Release] Add the 1.9.0 version option for the bug report
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: service/ci

#8928 [INLONG-8926][Manager] Fix the issue of missing dependencies
  inlong-audit/audit-store/pom.xml
  inlong-manager/manager-dao/pom.xml
Labels: component/manager, component/audit

#8927 [INLONG-8909][Dashboard] Support management of Tencent cloud log service data node
  inlong-dashboard/src/plugins/nodes/defaults/Cls.ts
  inlong-dashboard/src/plugins/nodes/defaults/index.ts
  inlong-dashboard/src/ui/locales/cn.json
  inlong-dashboard/src/ui/locales/en.json
Labels: component/dashboard

#8933 [INLONG-8908][Dashboard] Support management of Tencent cloud log service sink
  inlong-dashboard/src/plugins/sinks/defaults/Cls.ts
  inlong-dashboard/src/plugins/sinks/defaults/index.ts
  inlong-dashboard/src/ui/locales/cn.json
  inlong-dashboard/src/ui/locales/en.json
Labels: component/dashboard

#8937 [INLONG-8936][DataProxy] The log's path for DataProxy is wrong
  inlong-dataproxy/bin/dataproxy-ng
Labels: 1.9.x/bugfix

#8935 [INLONG-8934][Distribution] Add Iceberg connectors into the release bundle
  inlong-distribution/src/main/assemblies/sort-connectors-v1.15.xml
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/source/IcebergSource.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/source/reader/InlongIcebergSourceReaderMetrics.java
Labels: component/sort, 1.9.x/bugfix

#8940 [INLONG-8939][Manager] Add a switch to initiate the delete data source task
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/task/DeleteStreamSourceTask.java
  inlong-manager/manager-web/src/main/resources/application-dev.properties
  inlong-manager/manager-web/src/main/resources/application-prod.properties
  inlong-manager/manager-web/src/main/resources/application-test.properties
Labels: component/manager, 1.9.x/bugfix

#8945 [INLONG-8944][Manager] Fix the issue of not setting encryptVersion
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sink/ck/ClickHouseSinkDTO.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sink/doris/DorisSinkDTO.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sink/hive/HiveSinkDTO.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sink/postgresql/PostgreSQLSinkDTO.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sink/starrocks/StarRocksSinkDTO.java
Labels: component/manager

#8954 [INLONG-8953][Sort] Fix Iceberg source defaults the StartSnapshot to the latest
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/constant/IcebergConstant.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/extract/IcebergExtractNode.java
Labels: component/sort, 1.9.x/bugfix

#8943 [INLONG-8942][Distribution] Support merging multiple module jars to reduce distribution package size
  inlong-agent/bin/agent.sh
  inlong-audit/bin/proxy-start.sh
  inlong-audit/bin/store-start.sh
  inlong-dataproxy/bin/dataproxy-start.sh
  inlong-distribution/pom.xml
  inlong-distribution/script/backup_module_dependencys.sh
  inlong-distribution/script/copy_module_dependencys.sh
  inlong-distribution/script/prepare_module_dependencys.sh
  inlong-manager/manager-web/bin/startup.sh
  inlong-tubemq/bin/env.sh
  inlong-tubemq/tubemq-manager/bin/start-manager.sh
Labels: component/tubemq, component/manager, component/dataproxy, component/agent, component/audit, 1.9.x/bugfix

#8947 [INLONG-8946][Manager] Optimize the audit ID method issued by the manager
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/AuditServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/sort/DefaultSortConfigOperator.java
Labels: component/manager, 1.9.x/bugfix

#8957 [INLONG-8956][Dashboard] Stream and Sink editable state optimization
  inlong-dashboard/src/plugins/sinks/defaults/ClickHouse.ts
  inlong-dashboard/src/plugins/sinks/defaults/Cls.ts
  inlong-dashboard/src/plugins/sinks/defaults/Doris.ts
  inlong-dashboard/src/plugins/sinks/defaults/Elasticsearch.ts
  inlong-dashboard/src/plugins/sinks/defaults/Greenplum.ts
  inlong-dashboard/src/plugins/sinks/defaults/HBase.ts
  inlong-dashboard/src/plugins/sinks/defaults/Hive.ts
  inlong-dashboard/src/plugins/sinks/defaults/Hudi.ts
  inlong-dashboard/src/plugins/sinks/defaults/Iceberg.ts
  inlong-dashboard/src/plugins/sinks/defaults/Kafka.ts
  inlong-dashboard/src/plugins/sinks/defaults/Kudu.ts
  inlong-dashboard/src/plugins/sinks/defaults/MySQL.ts
  inlong-dashboard/src/plugins/sinks/defaults/Oracle.ts
  inlong-dashboard/src/plugins/sinks/defaults/PostgreSQL.ts
  inlong-dashboard/src/plugins/sinks/defaults/Pulsar.ts
  inlong-dashboard/src/plugins/sinks/defaults/Redis.ts
  inlong-dashboard/src/plugins/sinks/defaults/SQLServer.ts
  inlong-dashboard/src/plugins/sinks/defaults/StarRocks.ts
  inlong-dashboard/src/plugins/sinks/defaults/TDSQLPostgreSQL.ts
  inlong-dashboard/src/plugins/streams/common/StreamDefaultInfo.ts
  inlong-dashboard/src/ui/components/FieldList/DetailModal.tsx
  inlong-dashboard/src/ui/components/GroupLogs/GroupLogs.tsx
  inlong-dashboard/src/ui/locales/cn.json
  inlong-dashboard/src/ui/locales/en.json
  inlong-dashboard/src/ui/pages/GroupDashboard/index.tsx
  inlong-dashboard/src/ui/pages/SynchronizeDetail/SyncAudit/index.tsx
  inlong-dashboard/src/ui/pages/SynchronizeDetail/SyncT/SourceSinkCard.tsx
Labels: component/dashboard

#8966 [INLONG-8965][Doc] Update the description for Swagger API
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/config/Swagger2Config.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/InlongRoleController.java
Labels: component/manager, 1.9.x/bugfix

#8952 [INLONG-8951][Manager] Support for configuring built-in fields for iceberg and starrocks
  inlong-common/src/main/java/org/apache/inlong/common/enums/MetaField.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/node/NodeFactory.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/node/base/ExtractNodeProvider.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/node/base/LoadNodeProvider.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/node/base/NodeProvider.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/node/provider/IcebergProvider.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/node/provider/StarRocksProvider.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/util/FieldInfoUtils.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/sort/DefaultSortConfigOperator.java
  inlong-manager/manager-web/src/main/resources/application-dev.properties
  inlong-manager/manager-web/src/main/resources/application-prod.properties
  inlong-manager/manager-web/src/main/resources/application-test.properties
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/Metadata.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/extract/IcebergExtractNode.java
  inlong-sort/sort-flink/base/src/main/java/org/apache/inlong/sort/base/Constants.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/IcebergReadableMetadata.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/starrocks/src/main/java/org/apache/inlong/sort/starrocks/table/sink/utils/SchemaUtils.java
Labels: component/manager, component/sort, 1.9.x/bugfix

#8970 [INLONG-8969][Sort] Optimize Iceberg Source audit report logic
  inlong-sort/sort-flink/base/src/main/java/org/apache/inlong/sort/base/metric/SourceMetricData.java
  inlong-sort/sort-flink/base/src/main/java/org/apache/inlong/sort/base/util/CalculateObjectSizeUtils.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/source/IcebergSource.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/source/reader/IcebergSourceReader.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/source/reader/IcebergSourceSplitReader.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/source/reader/InlongIcebergSourceReaderMetrics.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/source/reader/RowDataRecordFactory.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/source/utils/RecyclableJoinedRowData.java
Labels: type/improve, component/sort

#8974 [INLONG-8973][Sort] Fix redis connector in flink 1.13 typo
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/redis/README.md
Labels: component/sort

#8976 [INLONG-8975][Manager] Manager issues an audit IDs based on the group mode
  inlong-manager/manager-plugins/base/src/main/java/org/apache/inlong/manager/plugin/flink/FlinkOperation.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/AuditServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/sort/DefaultSortConfigOperator.java
Labels: component/manager

#8949 [INLONG-8950][Dashboard] Data synchronization supports transform
  inlong-dashboard/src/loaders/index.ts
  inlong-dashboard/src/loaders/transform/TransformDefaultLoader.ts
  inlong-dashboard/src/loaders/transform/TransformLoader.ts
  inlong-dashboard/src/loaders/transform/index.ts
  inlong-dashboard/src/plugins/index.ts
  inlong-dashboard/src/plugins/transform/common/TransformDefaultInfo.ts
  inlong-dashboard/src/plugins/transform/common/TransformInfo.ts
  inlong-dashboard/src/plugins/transform/common/status.tsx
  inlong-dashboard/src/plugins/transform/defaults/MQTT.ts
  inlong-dashboard/src/plugins/transform/defaults/Mongodb.ts
  inlong-dashboard/src/plugins/transform/defaults/MySQLBinlog.ts
  inlong-dashboard/src/plugins/transform/defaults/Oracle.ts
  inlong-dashboard/src/plugins/transform/defaults/index.ts
  inlong-dashboard/src/plugins/transform/extends/index.ts
  inlong-dashboard/src/plugins/transform/index.ts
  inlong-dashboard/src/plugins/transform/types.ts
  inlong-dashboard/src/plugins/types.ts
  inlong-dashboard/src/ui/components/FieldList/DetailModal.tsx
  inlong-dashboard/src/ui/locales/cn.json
  inlong-dashboard/src/ui/locales/en.json
  inlong-dashboard/src/ui/pages/SynchronizeDetail/SyncT/SourceSinkCard.tsx
  inlong-dashboard/src/ui/pages/SynchronizeDetail/SyncTransform/DetailModal.tsx
  inlong-dashboard/src/ui/pages/SynchronizeDetail/SyncTransform/index.tsx
Labels: component/dashboard

#8987 [INLONG-8986][Manager] Sort standalone get params from manager error
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/AbstractSinkOperator.java
Labels: component/manager

#8984 [INLONG-8983][Dashboard] Log component query optimization
  inlong-dashboard/src/ui/components/GroupLogs/GroupLogs.tsx
Labels: component/dashboard

#8978 [INLONG-8964][Manager] Support Sortstandalone cluster management
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/ClusterType.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/cluster/sortstandalone/SortStandaloneClusterDTO.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/cluster/sortstandalone/SortStandaloneClusterInfo.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/cluster/sortstandalone/SortStandaloneClusterRequest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/SortStandaloneClusterOperator.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/cluster/InlongClusterServiceTest.java
Labels: component/manager

#8993 [INLONG-8992][Manager] Fix NPE when using transform
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/node/NodeFactory.java
Labels: component/manager

#8981 [INLONG-8979][Sort] fix command opt desc
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/redis/src/main/java/org/apache/inlong/sort/redis/common/config/RedisOptions.java
Labels: component/sort

#8991 [INLONG-8990][Manager] Rename DataProxyMsgEncType to Message WrapType
  inlong-common/src/main/java/org/apache/inlong/common/enums/MessageWrapType.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/metrics/audit/AuditUtils.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/common/DefaultEventHandler.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/httpMsg/HttpMessageHandler.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/v0msg/AbsV0MsgCodec.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/utils/MessageUtils.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/consts/InlongConstants.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/message/DeserializeOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/message/DeserializeOperatorFactory.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/message/InlongMsgDeserializeOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/message/PbMsgDeserializeOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/message/RawMsgDeserializeOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/queue/kafka/KafkaOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/queue/pulsar/PulsarOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/queue/tubemq/TubeMQOperator.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/impl/decode/MessageDeserializer.java
Labels: component/manager, component/dataproxy, component/sdk

#8989 [INLONG-8988][Manager] Supports multiple wrap types for message body
  inlong-manager/manager-dao/pom.xml
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/InlongStreamEntity.java
  inlong-manager/manager-dao/src/main/resources/mappers/InlongStreamEntityMapper.xml
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/node/base/ExtractNodeProvider.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/node/provider/KafkaProvider.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/node/provider/PulsarProvider.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/kafka/KafkaSource.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/pulsar/PulsarSource.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/stream/InlongStreamBriefInfo.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/stream/InlongStreamExtParam.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/stream/InlongStreamInfo.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/stream/InlongStreamRequest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/kafka/KafkaSourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/pulsar/PulsarSourceOperator.java
  inlong-manager/manager-test/src/main/resources/h2/apache_inlong_manager.sql
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
  inlong-manager/manager-web/sql/changes-1.10.0.sql
Labels: component/manager

#8996 [INLONG-8995][Manager] Add an interface for querying used task information for agent
  inlong-common/src/main/java/org/apache/inlong/common/pojo/agent/DataConfig.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/SourceStatus.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/file/FileSource.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/file/FileSourceDTO.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/file/FileSourceRequest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/AgentService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/AgentServiceImpl.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/openapi/AgentController.java
Labels: component/manager
