Repository apache/inlong, pull requests merged in 2023-02, with the labels that each got.

#7296 [INLONG-6560][Docker] Add arm64 image for inlong/tubemq
  docker/build-docker-images.sh
  docker/publish-by-arch.sh
  inlong-tubemq/tubemq-docker/tubemq-all/Dockerfile
Labels: component/tubemq, service/docker

#7059 [INLONG-7058][Sort] Support Apache Kudu connector
  inlong-distribution/src/main/assemblies/sort-connectors.xml
  inlong-sort/pom.xml
  inlong-sort/sort-connectors/kudu/pom.xml
  inlong-sort/sort-connectors/kudu/src/main/java/org/apache/inlong/sort/kudu/common/Kudu.java
  inlong-sort/sort-connectors/kudu/src/main/java/org/apache/inlong/sort/kudu/common/KuduOptions.java
  inlong-sort/sort-connectors/kudu/src/main/java/org/apache/inlong/sort/kudu/common/KuduTableInfo.java
  inlong-sort/sort-connectors/kudu/src/main/java/org/apache/inlong/sort/kudu/common/KuduUtils.java
  inlong-sort/sort-connectors/kudu/src/main/java/org/apache/inlong/sort/kudu/common/KuduValidator.java
  inlong-sort/sort-connectors/kudu/src/main/java/org/apache/inlong/sort/kudu/sink/AbstractKuduSinkFunction.java
  inlong-sort/sort-connectors/kudu/src/main/java/org/apache/inlong/sort/kudu/sink/KuduAsyncSinkFunction.java
  inlong-sort/sort-connectors/kudu/src/main/java/org/apache/inlong/sort/kudu/sink/KuduSinkFunction.java
  inlong-sort/sort-connectors/kudu/src/main/java/org/apache/inlong/sort/kudu/sink/KuduWriter.java
  inlong-sort/sort-connectors/kudu/src/main/java/org/apache/inlong/sort/kudu/source/KuduConsumerTask.java
  inlong-sort/sort-connectors/kudu/src/main/java/org/apache/inlong/sort/kudu/source/KuduLookupFunction.java
  inlong-sort/sort-connectors/kudu/src/main/java/org/apache/inlong/sort/kudu/table/KuduDynamicTableFactory.java
  inlong-sort/sort-connectors/kudu/src/main/java/org/apache/inlong/sort/kudu/table/KuduDynamicTableSink.java
  inlong-sort/sort-connectors/kudu/src/main/java/org/apache/inlong/sort/kudu/table/KuduDynamicTableSource.java
  inlong-sort/sort-connectors/kudu/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
  inlong-sort/sort-connectors/kudu/src/test/java/org/apache/inlong/sort/connector/kudu/KuduTableFactoryTest.java
  inlong-sort/sort-connectors/kudu/src/test/java/org/apache/inlong/sort/connector/kudu/KuduTestBase.java
  inlong-sort/sort-connectors/kudu/src/test/resources/log4j-test.properties
  inlong-sort/sort-connectors/pom.xml
  licenses/inlong-sort-connectors/licenses/LICENSE-kudu-client-1.16.0.txt
  pom.xml
Labels: component/sort

#7301 [INLONG-7300][Manager] Replace getRoles() with getAccountType()
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/InlongClusterServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/group/InlongGroupProcessService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/group/InlongGroupServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/node/DataNodeServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/StreamSinkServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/StreamSourceServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/stream/InlongStreamServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/transform/StreamTransformServiceImpl.java
Labels: component/manager

#7288 [INLONG-7291][Sort] Fix bug of dirtysink not opening for jdbc multiple sink
  inlong-sort/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/internal/JdbcMultiBatchingOutputFormat.java
Labels: component/sort

#7308 [INLONG-7305][Dashboard] Use properties to save extended parameters in RedisLoadNode
  inlong-dashboard/src/metas/sinks/defaults/Redis.ts
Labels: component/dashboard

#7309 [INLONG-7245][Sort] Support metric and audit in sort-connect-redis
  inlong-sort/sort-connectors/redis/src/main/java/org/apache/inlong/sort/redis/sink/AbstractRedisSinkFunction.java
  inlong-sort/sort-connectors/redis/src/main/java/org/apache/inlong/sort/redis/sink/RedisBitmapSinkFunction.java
  inlong-sort/sort-connectors/redis/src/main/java/org/apache/inlong/sort/redis/sink/RedisDynamicTableSink.java
  inlong-sort/sort-connectors/redis/src/main/java/org/apache/inlong/sort/redis/sink/RedisHashSinkFunction.java
  inlong-sort/sort-connectors/redis/src/main/java/org/apache/inlong/sort/redis/sink/RedisPlainSinkFunction.java
  inlong-sort/sort-connectors/redis/src/main/java/org/apache/inlong/sort/redis/sink/RedisSinkFunction.java
  inlong-sort/sort-connectors/redis/src/main/java/org/apache/inlong/sort/redis/table/RedisDynamicTableFactory.java
Labels: component/sort

#7314 [INLONG-7313][Dashboard] Automatically generate a unique ID and depth key for the menu
  inlong-dashboard/scripts/sync.js
  inlong-dashboard/scripts/utils.js
  inlong-dashboard/src/components/Layout/index.tsx
  inlong-dashboard/src/configs/locales/index.ts
  inlong-dashboard/src/configs/menus/index.ts
  inlong-dashboard/src/metas/DataWithBackend.ts
  inlong-dashboard/src/models/index.ts
  inlong-dashboard/src/router.tsx
  inlong-dashboard/src/utils/index.ts
Labels: component/dashboard

#7315 [INLONG-7310][Manager] Comment part of the test methods with disable
  inlong-manager/manager-web/src/test/java/org/apache/inlong/manager/web/controller/AnnoControllerTest.java
Labels: component/manager

#7289 [INLONG-7292][Sort] Accurately detect and archive dirty data for Doris/StarRocks/JDBC
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/dirty/DirtySinkHelper.java
  inlong-sort/sort-connectors/base/src/test/java/org/apache/inlong/sort/base/dirty/RegexReplaceTest.java
  inlong-sort/sort-connectors/doris/src/main/java/org/apache/inlong/sort/doris/table/DorisDynamicSchemaOutputFormat.java
  inlong-sort/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/internal/JdbcMultiBatchingOutputFormat.java
  inlong-sort/sort-connectors/starrocks/src/main/java/org/apache/inlong/sort/starrocks/manager/StarRocksSinkManager.java
Labels: component/sort

#7312 [INLONG-7311][Sort] Fix Doris StreamLoad unable to archive dirtydata
  inlong-sort/sort-connectors/doris/src/main/java/org/apache/inlong/sort/doris/table/DorisDynamicSchemaOutputFormat.java
Labels: component/sort

#7316 [INLONG-7256][Manager] Add a check for Pulsar service URL
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/PulsarClusterOperator.java
Labels: component/manager

#7318 [INLONG-7317][Manager] Fix the problem of manager threw database not found in unit tests
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/AuditServiceImpl.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/AuditController.java
Labels: component/manager

#7324 [INLONG-7323][Docker] Add manifest for tubemq-all and tubemq-manager
  docker/build-docker-images.sh
  docker/publish-by-arch.sh
Labels: service/docker

#7326 [INLONG-7325][Manager] Format the topic name and data separator for Kafka
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/queue/kafka/KafkaResourceOperators.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/kafka/KafkaSourceOperator.java
Labels: component/manager

#7330 [INLONG-7328][Manager] Error in querying audit info
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
Labels: component/manager

#7336 [INLONG-7335][Sort] Fix Hbase connector lost spi file when shade
  inlong-sort/sort-connectors/hbase/pom.xml
Labels: component/sort

#7350 [INLONG-7349][SDK] Fix init failure when a single SortTask create multiple SortClients
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/api/ClientContext.java
Labels: component/sdk

#7357 [INLONG-7355][Manager] Fix the problem of HiveDataNode cannot save the datapath
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/node/hive/HiveDataNodeDTO.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/node/hive/HiveDataNodeInfo.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/node/hive/HiveDataNodeRequest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/sort/SortServiceImplTest.java
Labels: component/manager

#7354 [INLONG-7353][Agent] Fix error of PostgreSQL connector
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/PostgreSQLReader.java
Labels: component/agent

#7345 [INLONG-7334][Manager] Support stream join dimension table
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/TransformType.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/util/ExtractNodeUtils.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/util/FieldRelationUtils.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/util/FilterFunctionUtils.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/util/NodeRelationUtils.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/util/StreamParseUtils.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/redis/RedisLookupOptions.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/redis/RedisSource.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/redis/RedisSourceDTO.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/redis/RedisSourceRequest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/transform/joiner/IntervalJoinerDefinition.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/transform/joiner/LookUpJoinerDefinition.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/transform/joiner/TemporalJoinerDefinition.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/source/RedisSourceServiceTest.java
Labels: component/manager

#7347 [INLONG-7346][Sort] Add metadata support for join of Redis dimension table
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/extract/RedisExtractNode.java
Labels: component/sort

#7333 [INLONG-7332][Manager] Change the field length in SQL files
  inlong-manager/manager-test/src/main/resources/h2/apache_inlong_manager.sql
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
  inlong-manager/manager-web/sql/changes-1.6.0.sql
Labels: component/manager

#7343 [INLONG-7331][Sort][Manager] Support complex type field
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/util/FieldInfoUtils.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/FieldInfo.java
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/parser/impl/FlinkSqlParser.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/MongoExtractFlinkSqlParseTest.java
Labels: component/manager, component/sort

#7359 [INLONG-7358][Manager] Fix the ungraceful util tool import classes of Lists/Maps
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/sink/greenplum/GreenplumSqlBuilder.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/sink/postgresql/PostgreSQLSqlBuilder.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/source/StreamSourceServiceTest.java
Labels: component/manager

#7361 [INLONG-7360][Dashboard] env.local variable can not work
  inlong-dashboard/craco.config.ts
  inlong-dashboard/src/App.tsx
  inlong-dashboard/vite.config.ts
Labels: component/dashboard

#7364 [INLONG-7363][Sort] Fix iceberg connector null pointer error
  inlong-sort/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/FlinkSink.java
Labels: component/sort

#7348 [INLONG-7337][Manager] Fix test Pulsar connection error
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/PulsarClusterOperator.java
Labels: component/manager

#7366 [INLONG-7365][Agent] The username for the MongoDB connector is missing
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/pojo/JobProfileDto.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/pojo/MongoJob.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/MongoDBSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/MongoDBReader.java
Labels: component/agent

#7369 [INLONG-7367][Dashboard] Enabled more global config
  inlong-dashboard/src/App.tsx
  inlong-dashboard/src/configs/default/conf.ts
  inlong-dashboard/src/utils/request.ts
Labels: component/dashboard

#7370 [INLONG-7368][Dashboard] InLongGroup adds status display and adjustment operations
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/locales/en.json
  inlong-dashboard/src/metas/groups/common/status.tsx
  inlong-dashboard/src/pages/GroupDashboard/config.tsx
Labels: component/dashboard

#7371 [INLONG-6919][Audit] Fix bug that no exceptions are printed in the log
  inlong-audit/audit-proxy/src/main/java/org/apache/inlong/audit/source/SimpleTcpSource.java
Labels: component/audit

#7376 [INLONG-7375][Manager] Change the pattern limitation of InlongCluster name
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/cluster/ClusterRequest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sink/SinkRequest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/SourceRequest.java
Labels: component/manager

#7374 [INLONG-7373][Manager] Change the length limitation of InlongStreamId
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sink/SinkRequest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/SourceRequest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/stream/InlongStreamRequest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/transform/DeleteTransformRequest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/transform/TransformRequest.java
Labels: component/manager

#7378 [INLONG-7377][Sort] Fix sort-dist protobuf conflicts with protobuf in sort-connectors
  inlong-sort/sort-connectors/filesystem/pom.xml
  inlong-sort/sort-connectors/hbase/pom.xml
  inlong-sort/sort-connectors/hudi/pom.xml
  inlong-sort/sort-connectors/iceberg/pom.xml
  inlong-sort/sort-connectors/kafka/pom.xml
  inlong-sort/sort-connectors/mongodb-cdc/pom.xml
  inlong-sort/sort-connectors/mysql-cdc/pom.xml
  inlong-sort/sort-connectors/oracle-cdc/pom.xml
  inlong-sort/sort-connectors/postgres-cdc/pom.xml
  inlong-sort/sort-connectors/pulsar/pom.xml
  inlong-sort/sort-connectors/sqlserver-cdc/pom.xml
  inlong-sort/sort-dist/pom.xml
Labels: component/sort

#7380 [INLONG-7379][Manager] Add a database name for MySQLSink
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/node/mysql/MySQLDataNodeDTO.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sink/mysql/MySQLSink.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sink/mysql/MySQLSinkDTO.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sink/mysql/MySQLSinkRequest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/util/LoadNodeUtils.java
  inlong-manager/manager-pojo/src/test/java/org/apache/inlong/manager/pojo/sink/mysql/MySQLSinkDTOTest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/node/mysql/MySQLDataNodeOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/sink/mysql/MySQLResourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/mysql/MySQLSinkOperator.java
Labels: component/manager

#7383 [INLONG-7382][Dashboard] Add a database name for MySQL sink
  inlong-dashboard/src/locales/cn.json
  inlong-dashboard/src/locales/en.json
  inlong-dashboard/src/metas/nodes/defaults/MySQL.ts
  inlong-dashboard/src/metas/sinks/defaults/MySQL.ts
Labels: component/dashboard

#7385 [INLONG-7384][Dashboard] Login page error
  inlong-dashboard/package-lock.json
  inlong-dashboard/src/App.tsx
Labels: component/dashboard

#7388 [INLONG-7387][Agent] Fix error of SqlServer connector
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/pojo/JobProfileDto.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/pojo/SqlServerJob.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/SQLServerSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/SQLServerReader.java
Labels: component/agent

#7396 [INLONG-7395][Manager] Reduce log in SortSouceService and SortClusterService
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/SortClusterServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/SortSourceServiceImpl.java
Labels: component/manager

#7402 [INLONG-7401][Manager] Fix that cannot create Pulsar partitions based on numPartitions param
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/queue/pulsar/PulsarOperator.java
Labels: component/manager

#7394 [INLONG-7391][Sort] Support CSV format and dirty data collecting for StarRocks connector all db migrating
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/dirty/DirtySinkHelper.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/metric/sub/SinkTableMetricData.java
  inlong-sort/sort-connectors/base/src/test/java/org/apache/inlong/sort/base/dirty/RegexReplaceTest.java
  inlong-sort/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/internal/JdbcMultiBatchingOutputFormat.java
  inlong-sort/sort-connectors/starrocks/src/main/java/org/apache/inlong/sort/starrocks/manager/SinkBufferEntity.java
  inlong-sort/sort-connectors/starrocks/src/main/java/org/apache/inlong/sort/starrocks/manager/StarRocksSinkManager.java
  inlong-sort/sort-connectors/starrocks/src/main/java/org/apache/inlong/sort/starrocks/manager/StarRocksStreamLoadVisitor.java
  inlong-sort/sort-connectors/starrocks/src/main/java/org/apache/inlong/sort/starrocks/table/sink/StarRocksDynamicSinkFunction.java
Labels: component/sort

#7405 [INLONG-7404][Agent] Fix error of Redis connector
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/pojo/JobProfileDto.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/pojo/RedisJob.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/RedisSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/RedisReader.java
  inlong-common/src/main/java/org/apache/inlong/common/enums/TaskTypeEnum.java
Labels: component/agent

#7403 [INLONG-7400][Sort] Upgrade Oracle CDC to version 2.3
  inlong-sort/sort-connectors/oracle-cdc/pom.xml
  inlong-sort/sort-connectors/oracle-cdc/src/main/java/org/apache/inlong/sort/cdc/oracle/OracleSource.java
  inlong-sort/sort-connectors/oracle-cdc/src/main/java/org/apache/inlong/sort/cdc/oracle/debezium/DebeziumSourceFunction.java
  inlong-sort/sort-connectors/oracle-cdc/src/main/java/org/apache/inlong/sort/cdc/oracle/table/OracleTableSource.java
  inlong-sort/sort-connectors/oracle-cdc/src/main/java/org/apache/inlong/sort/cdc/oracle/table/OracleTableSourceFactory.java
  licenses/inlong-sort-connectors/LICENSE
  pom.xml
Labels: component/sort

#7407 [INLONG-7406][Manager] Add the query criteria for streamSource
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/InlongClusterNodeEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/mappers/InlongClusterNodeEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/StreamSourceEntityMapper.xml
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/SourcePageRequest.java
Labels: component/manager

#7398 [INLONG-7397][Sort] Fix MySql connector output two data with the same UPDATE operation
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/table/MySqlReadableMetadata.java
Labels: component/sort

#7409 [INLONG-7411][Sort] Fix the invalid of kafka source meitric due to inlongMetric being null
  inlong-sort/sort-connectors/kafka/src/main/java/org/apache/inlong/sort/kafka/table/UpsertKafkaDynamicTableFactory.java
Labels: component/sort

#7422 [INLONG-7421][Manager] Add encoding check to the MySQL JDBC URL in MySQLDataNode
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/node/mysql/MySQLDataNodeDTO.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sink/mysql/MySQLSinkDTO.java
Labels: component/manager

#7425 [INLONG-7423][Sort] Pulsar connector with adminUrl support audit metrics
  inlong-sort/sort-connectors/pulsar/src/main/java/org/apache/inlong/sort/pulsar/FlinkPulsarSource.java
  inlong-sort/sort-connectors/pulsar/src/main/java/org/apache/inlong/sort/pulsar/table/DynamicPulsarDeserializationSchema.java
  inlong-sort/sort-connectors/pulsar/src/main/java/org/apache/inlong/sort/pulsar/table/PulsarDynamicTableSource.java
  licenses/inlong-sort-connectors/LICENSE
Labels: component/sort

#7427 [INLONG-7426][Manager] Improve the accuracy of variable naming for MySQLSinkDTO
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/consts/InlongConstants.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sink/mysql/MySQLSinkDTO.java
Labels: component/manager

#7431 [INLONG-7430][Docker] Update the base image to fix the NPE for TubeMQ
  inlong-tubemq/tubemq-docker/tubemq-all/Dockerfile
Labels: component/tubemq, service/docker

#7418 [INLONG-7417][Sort] Use SinkTableMetricData instead of SinkMetricData in IcebergSingleStreamWriter
  inlong-sort/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/FlinkSink.java
  inlong-sort/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/multiple/IcebergMultipleStreamWriter.java
  inlong-sort/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/multiple/IcebergSingleStreamWriter.java
Labels: component/sort

#7432 [INLONG-7429][Manager] Fix the information returned when deleting a non-existent object
  inlong-manager/manager-dao/src/main/resources/mappers/DataNodeEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/InlongClusterEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/InlongClusterNodeEntityMapper.xml
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/InlongClusterServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/group/InlongGroupProcessService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/node/DataNodeServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/StreamSourceServiceImpl.java
  inlong-manager/manager-web/src/test/java/org/apache/inlong/manager/web/controller/DataNodeControllerTest.java
Labels: component/manager

#7416 [INLONG-7410][Sort] Support open incremental snapshot in oracle cdc connector
  inlong-sort/sort-connectors/cdc-base/pom.xml
  inlong-sort/sort-connectors/cdc-base/src/main/java/org/apache/inlong/sort/cdc/base/source/IncrementalSource.java
  inlong-sort/sort-connectors/cdc-base/src/main/java/org/apache/inlong/sort/cdc/base/source/jdbc/JdbcIncrementalSource.java
  inlong-sort/sort-connectors/cdc-base/src/main/java/org/apache/inlong/sort/cdc/base/source/reader/IncrementalSourceRecordEmitter.java
  inlong-sort/sort-connectors/oracle-cdc/src/main/java/org/apache/inlong/sort/cdc/oracle/source/OracleSourceBuilder.java
  inlong-sort/sort-connectors/oracle-cdc/src/main/java/org/apache/inlong/sort/cdc/oracle/table/OracleTableSource.java
  inlong-sort/sort-connectors/oracle-cdc/src/main/java/org/apache/inlong/sort/cdc/oracle/table/OracleTableSourceFactory.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/OracleExtractSqlParseTest.java
  licenses/inlong-sort-connectors/LICENSE
  pom.xml
Labels: component/sort

#7434 [INLONG-7433][Docker] Recover the zookeeper 3.4 to be compatible with JDK 1.8
  inlong-tubemq/tubemq-docker/tubemq-all/Dockerfile
Labels: component/tubemq, service/docker

#7424 [INLONG-7004][Manager] Support to creating schema of StreamSource by JSON
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/StreamSinkService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/StreamSinkServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/stream/InlongStreamService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/stream/InlongStreamServiceImpl.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/stream/InlongStreamTest.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/InlongStreamController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/StreamSinkController.java
Labels: component/manager

#7420 [INLONG-7419][Agent] Fix error of MQTT connector
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/pojo/JobProfileDto.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/pojo/MqttJob.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/MqttSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/MqttReader.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/sources/TestMqttSource.java
Labels: component/agent

#7436 [INLONG-7435][Doc] Fixed some small description errors
  .github/workflows/ci_chart_test.yml
  docker/docker-compose/docker-compose.yml
  docker/kubernetes/Chart.yaml
  docker/kubernetes/templates/NOTES.txt
  docker/kubernetes/templates/agent-statefulset.yaml
  docker/kubernetes/templates/zookeeper-configmap.yaml
  inlong-audit/audit-common/pom.xml
  inlong-audit/audit-sdk/pom.xml
Labels: component/audit, service/ci, service/docker, service/k8s

#7440 [INLONG-7438][Dashboard] Support more Sort index display instead of directly displaying ID
  inlong-dashboard/src/configs/menus/index.ts
  inlong-dashboard/src/pages/GroupDetail/Audit/config.tsx
  inlong-dashboard/src/pages/GroupDetail/DataStorage/DetailModal.tsx
Labels: component/dashboard

#7442 [INLONG-7441][Sort] Fix HBase connector dependency lost and dirty data process error
  inlong-sort/sort-connectors/hbase/pom.xml
  inlong-sort/sort-connectors/hbase/src/main/java/org/apache/inlong/sort/hbase/sink/HBaseSinkFunction.java
Labels: component/sort

#7448 [INLONG-7447][Docker] Make the Pulsar the default MQ option to lower the complexity
  docker/kubernetes/README.md
  docker/kubernetes/templates/audit-statefulset.yaml
  docker/kubernetes/templates/tubemq-broker-configmap.yaml
  docker/kubernetes/templates/tubemq-broker-ini-configmap.yaml
  docker/kubernetes/templates/tubemq-broker-pdb.yaml
  docker/kubernetes/templates/tubemq-broker-service.yaml
  docker/kubernetes/templates/tubemq-broker-statefulset.yaml
  docker/kubernetes/templates/tubemq-manager-service.yaml
  docker/kubernetes/templates/tubemq-manager-statefulset.yaml
  docker/kubernetes/templates/tubemq-master-configmap.yaml
  docker/kubernetes/templates/tubemq-master-ini-configmap.yaml
  docker/kubernetes/templates/tubemq-master-pdb.yaml
  docker/kubernetes/templates/tubemq-master-service.yaml
  docker/kubernetes/templates/tubemq-master-statefulset.yaml
  docker/kubernetes/templates/zookeeper-configmap.yaml
  docker/kubernetes/templates/zookeeper-pdb.yaml
  docker/kubernetes/templates/zookeeper-service.yaml
  docker/kubernetes/templates/zookeeper-statefulset.yaml
  docker/kubernetes/values.yaml
Labels: service/k8s

#7414 [INLONG-7412][Sort] Fix dependency error: java.lang.NoClassDefFoundError for iceberg
  inlong-sort/sort-connectors/iceberg/pom.xml
Labels: component/sort

#7445 [INLONG-7444][Manager] Support query inlong objects by status list
  inlong-manager/manager-dao/src/main/resources/mappers/InlongStreamEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/StreamSinkEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/StreamSourceEntityMapper.xml
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sink/SinkPageRequest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/SourcePageRequest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/stream/InlongStreamPageRequest.java
Labels: component/manager

#7467 [INLONG-7466][TubeMQ] Adjust code style issues
  inlong-tubemq/tubemq-client-twins/tubemq-client-cpp/example/producer/test_producer.cc
  inlong-tubemq/tubemq-client-twins/tubemq-client-cpp/src/baseproducer.cc
  inlong-tubemq/tubemq-client-twins/tubemq-client-cpp/src/const_config.h
  inlong-tubemq/tubemq-client-twins/tubemq-client-go/client/heartbeat.go
  inlong-tubemq/tubemq-client-twins/tubemq-client-go/errs/errs.go
  inlong-tubemq/tubemq-client-twins/tubemq-client-go/metadata/metadata.go
  inlong-tubemq/tubemq-client-twins/tubemq-client-python/src/python/example/test_producer.py
  inlong-tubemq/tubemq-client-twins/tubemq-client-python/src/python/tubemq/client.py
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/BrokerServiceServer.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/web/BrokerAdminServlet.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/master/TMaster.java
Labels: component/tubemq

#7462 [INLONG-7459][Sort] Fix dirty data can't be archived to s3 for hbase
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/dirty/sink/s3/S3DirtySink.java
Labels: component/sort

#7461 [INLONG-7460][Manager] Add user authentication when operate DataNode
  inlong-manager/manager-dao/src/main/resources/mappers/DataNodeEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/InlongClusterEntityMapper.xml
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/cluster/ClusterPageRequest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/node/DataNodePageRequest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/InlongClusterServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/group/InlongGroupServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/node/DataNodeService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/node/DataNodeServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/StreamSinkServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/StreamSourceServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/stream/InlongStreamServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/user/UserService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/user/UserServiceImpl.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/impl/DataNodeServiceTest.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/DataNodeController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/InlongClusterController.java
Labels: component/manager

#7465 [INLONG-7464][Sort] Fix Elasticsearch connector lost dependency
  inlong-sort/sort-connectors/elasticsearch-6/pom.xml
  inlong-sort/sort-connectors/elasticsearch-7/pom.xml
Labels: component/sort
