Repository apache/inlong, pull requests merged in 2023-12, with the labels that each got.

#9372 [INLONG-9371][Sort] elasticsearch sort shade relocation error
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/elasticsearch-6/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/elasticsearch-7/pom.xml
Labels: component/sort

#9374 [INLONG-9373][Manager] Fix the issue of failed creation of pulsar namespace
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/consts/SinkType.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/operationlog/OperationLogRecorder.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/queue/pulsar/PulsarOperator.java
Labels: component/manager

#9381 [INLONG-9378][SDK] Optimize proxy configuration update
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/manager/proxy_manager.cc
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/manager/proxy_manager.h
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/utils/capi_constant.h
Labels: component/sdk

#9386 [INLONG-9384][Sort] Fix pulsar audit data loss when restarting
  inlong-sort/sort-flink/base/src/main/java/org/apache/inlong/sort/base/metric/SourceMetricData.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/pulsar/src/main/java/org/apache/inlong/sort/pulsar/internal/FlinkPulsarSource.java
Labels: component/sort

#9376 [INLONG-9375][Agent] Modify the agent's real-time audit id to prevent duplication
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/metrics/audit/AuditUtils.java
Labels: component/agent

#9391 [INLONG-9390][Agent] Collect supplementary data in chronological order
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/instance/InstanceManager.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/instance/FileInstance.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/task/filecollect/FileScanner.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/task/filecollect/LogFileCollectTask.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/task/filecollect/WatchEntity.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/utils/file/NewDateUtils.java
Labels: component/agent

#9398 [INLONG-9397][Agent] Do not directly delete the instance records of the local db when stopping the instances
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/instance/InstanceManager.java
Labels: component/agent

#9396 [INLONG-9380][Sort] Audit lost when stop job immediately after checkpoint
  inlong-sort/sort-flink/base/src/main/java/org/apache/inlong/sort/base/metric/SourceMetricData.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/IcebergStreamWriter.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/IcebergStreamWriterMetrics.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/source/reader/IcebergSourceReader.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/source/reader/InlongIcebergSourceReaderMetrics.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/tubemq/src/main/java/org/apache/inlong/sort/tubemq/FlinkTubeMQConsumer.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/tubemq/src/main/java/org/apache/inlong/sort/tubemq/table/DynamicTubeMQDeserializationSchema.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/tubemq/src/main/java/org/apache/inlong/sort/tubemq/table/DynamicTubeMQTableDeserializationSchema.java
Labels: component/sort

#9401 [INLONG-9400][Manager] Fix the problem of error obtaining sort task type
  inlong-common/src/main/java/org/apache/inlong/common/pojo/agent/TaskSnapshotRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/consts/SinkType.java
Labels: component/manager

#9399 [INLONG-9383][Dashboard] Resource details display cluster label information
  inlong-dashboard/src/ui/pages/GroupDetail/ResourceInfo/index.tsx
Labels: component/dashboard

#9353 [INLONG-9314][Manager] Support cluster switch for InlongGroup
  inlong-common/src/main/java/org/apache/inlong/common/constant/ClusterSwitch.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/consts/SinkType.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/ErrorCodeEnum.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/TenantClusterTagEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/mappers/TenantClusterTagEntityMapper.xml
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/group/InlongGroupService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/group/InlongGroupServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/sink/AbstractStandaloneSinkResourceOperator.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/InlongGroupController.java
Labels: component/manager

#9379 [INLONG-9377][Sort] Fix init iceberg sink failed with upsert mode
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/constant/IcebergConstant.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/load/IcebergLoadNode.java
Labels: component/sort

#9403 [INLONG-9394][Sort] Incorrect use of maven plugin on integration test among sort-end-to-end-tests
  .github/workflows/ci_ut.yml
  .github/workflows/ci_ut_flink15.yml
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.13/pom.xml
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.13/src/test/java/org/apache/inlong/sort/tests/ClickHouseITCase.java
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.13/src/test/java/org/apache/inlong/sort/tests/KafkaE2EITCase.java
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.13/src/test/resources/log4j2-test.properties
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.15/pom.xml
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.15/src/test/java/org/apache/inlong/sort/tests/MongodbToStarRocksITCase.java
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.15/src/test/java/org/apache/inlong/sort/tests/MysqlToRocksITCase.java
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.15/src/test/java/org/apache/inlong/sort/tests/PostgresToStarRocksITCase.java
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.15/src/test/java/org/apache/inlong/sort/tests/SqlserverToStarRocksITCase.java
Labels: component/sort, service/ci

#9389 [INLONG-9388][Sort] Updated version of embedded-redis in sort-connector-redis
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/redis/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/redis/src/test/java/org/apache/inlong/sort/redis/RedisTableTest.java
  pom.xml
Labels: component/sort

#9414 [INLONG-9405][Release] Add the 1.10.0 version option for the bug report
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: service/ci

#9418 [INLONG-9404][Sort] StarRocks Audit lost when stop job immediately after checkpoint
  inlong-sort/sort-flink/base/src/main/java/org/apache/inlong/sort/base/metric/SinkMetricData.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/starrocks/src/main/java/org/apache/inlong/sort/starrocks/table/sink/table/StarRocksDynamicSinkFunctionV2.java
Labels: component/sort

#9420 [INLONG-9419][Dashboard] MySQL sources support full incremental mode selection
  inlong-dashboard/src/plugins/sources/defaults/MySQLBinlog.ts
  inlong-dashboard/src/ui/components/FieldList/DetailModal.tsx
  inlong-dashboard/src/ui/locales/cn.json
  inlong-dashboard/src/ui/locales/en.json
Labels: component/dashboard

#9141 [INLONG-9140][Dashboard] Data synchronization sink supports table creation
  inlong-dashboard/src/plugins/RenderRow.ts
  inlong-dashboard/src/plugins/sinks/common/SinkDefaultInfo.ts
  inlong-dashboard/src/plugins/sinks/defaults/ClickHouse.ts
  inlong-dashboard/src/plugins/sinks/defaults/Elasticsearch.ts
  inlong-dashboard/src/plugins/sinks/defaults/Greenplum.ts
  inlong-dashboard/src/plugins/sinks/defaults/Hive.ts
  inlong-dashboard/src/plugins/sinks/defaults/Hudi.ts
  inlong-dashboard/src/plugins/sinks/defaults/Iceberg.ts
  inlong-dashboard/src/plugins/sinks/defaults/Kudu.ts
  inlong-dashboard/src/plugins/sinks/defaults/MySQL.ts
  inlong-dashboard/src/plugins/sinks/defaults/Oracle.ts
  inlong-dashboard/src/plugins/sinks/defaults/PostgreSQL.ts
  inlong-dashboard/src/plugins/sinks/defaults/Redis.ts
  inlong-dashboard/src/plugins/sinks/defaults/SQLServer.ts
  inlong-dashboard/src/plugins/sinks/defaults/StarRocks.ts
  inlong-dashboard/src/plugins/sinks/defaults/TDSQLPostgreSQL.ts
  inlong-dashboard/src/ui/components/CreateTable/DetailModal.tsx
  inlong-dashboard/src/ui/components/CreateTable/index.tsx
  inlong-dashboard/src/ui/components/FieldList/FieldTypeConf.tsx
  inlong-dashboard/src/ui/locales/cn.json
  inlong-dashboard/src/ui/locales/en.json
  inlong-dashboard/src/ui/pages/SynchronizeDetail/SyncSink/DetailModal.tsx
  inlong-dashboard/src/ui/pages/SynchronizeDetail/SyncT/helper.ts
Labels: component/dashboard

#9424 [INLONG-9423][Manager] Fix the issue of time reversal errors
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/pojo/GroupInfo.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/pojo/SinkInfo.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/pojo/SourceInfo.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/pojo/StreamInfo.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/pojo/TenantInfo.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/pojo/TenantRoleInfo.java
  inlong-manager/manager-client-tools/src/main/java/org/apache/inlong/manager/client/cli/pojo/UserInfo.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/audit/AuditSourceResponse.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/cluster/ClusterInfo.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/cluster/ClusterNodeResponse.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/cluster/ClusterTagResponse.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/cluster/TenantClusterTagInfo.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/consume/InlongConsumeBriefInfo.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/consume/InlongConsumeInfo.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/group/InlongGroupBriefInfo.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/group/InlongGroupInfo.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/heartbeat/ComponentHeartbeatResponse.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/heartbeat/GroupHeartbeatResponse.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/heartbeat/StreamHeartbeatResponse.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/node/DataNodeInfo.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/operationLog/OperationLogResponse.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sink/StreamSink.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/StreamSource.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/stream/InlongStreamBriefInfo.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/stream/InlongStreamInfo.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/tenant/InlongTenantInfo.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/user/InlongRoleInfo.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/user/TenantRoleInfo.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/user/UserInfo.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/workflow/ApproverResponse.java
Labels: component/manager, 1.10.x/bugfix

#9428 [INLONG-9427][Dashboard] Data access supports viewing operation logs
  inlong-dashboard/src/ui/locales/cn.json
  inlong-dashboard/src/ui/locales/en.json
  inlong-dashboard/src/ui/pages/GroupDetail/OperationLog/config.tsx
  inlong-dashboard/src/ui/pages/GroupDetail/OperationLog/index.tsx
  inlong-dashboard/src/ui/pages/GroupDetail/index.tsx
Labels: component/dashboard, 1.10.x/bugfix

#9430 [INLONG-9417][Sort] Fix the missing MySQL CDC connector for Flink 1.15
  inlong-distribution/src/main/assemblies/sort-connectors-v1.15.xml
Labels: type/bug, 1.10.x/bugfix

#9426 [INLONG-9307][SDK] Improve DataProxy SDK code readability
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sinks/SenderManager.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sinks/filecollect/SenderManager.java
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/ProxyClientConfig.java
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/config/ProxyConfigManager.java
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/example/HttpClientExample.java
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/example/TcpClientExample.java
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/network/ClientMgr.java
Labels: component/agent, component/sdk, 1.10.x/bugfix

#9434 [INLONG-9433][Manager] Fix the issue of NPE exception encountered while querying audit information
  inlong-manager/manager-dao/src/main/resources/mappers/AuditEntityMapper.xml
Labels: component/manager, 1.10.x/bugfix

#9432 [INLONG-9431][Dashboard] Data synchronization supports entire database migration
  inlong-dashboard/src/plugins/RenderRow.ts
  inlong-dashboard/src/plugins/sinks/common/SinkDefaultInfo.ts
  inlong-dashboard/src/plugins/sinks/defaults/ClickHouse.ts
  inlong-dashboard/src/plugins/sinks/defaults/Cls.ts
  inlong-dashboard/src/plugins/sinks/defaults/Doris.ts
  inlong-dashboard/src/plugins/sinks/defaults/Elasticsearch.ts
  inlong-dashboard/src/plugins/sinks/defaults/Greenplum.ts
  inlong-dashboard/src/plugins/sinks/defaults/HBase.ts
  inlong-dashboard/src/plugins/sinks/defaults/Hive.ts
  inlong-dashboard/src/plugins/sinks/defaults/Hudi.ts
  inlong-dashboard/src/plugins/sinks/defaults/Iceberg.ts
  inlong-dashboard/src/plugins/sinks/defaults/Kafka.ts
  inlong-dashboard/src/plugins/sinks/defaults/Kudu.ts
  inlong-dashboard/src/plugins/sinks/defaults/MySQL.ts
  inlong-dashboard/src/plugins/sinks/defaults/Oracle.ts
  inlong-dashboard/src/plugins/sinks/defaults/PostgreSQL.ts
  inlong-dashboard/src/plugins/sinks/defaults/Pulsar.ts
  inlong-dashboard/src/plugins/sinks/defaults/Redis.ts
  inlong-dashboard/src/plugins/sinks/defaults/SQLServer.ts
  inlong-dashboard/src/plugins/sinks/defaults/StarRocks.ts
  inlong-dashboard/src/plugins/sinks/defaults/TDSQLPostgreSQL.ts
  inlong-dashboard/src/plugins/sources/common/SourceDefaultInfo.ts
  inlong-dashboard/src/plugins/sources/defaults/MySQLBinlog.ts
  inlong-dashboard/src/plugins/sync/common/SyncDefaultInfo.ts
  inlong-dashboard/src/ui/locales/cn.json
  inlong-dashboard/src/ui/locales/en.json
  inlong-dashboard/src/ui/pages/SynchronizeDetail/Info/index.tsx
  inlong-dashboard/src/ui/pages/SynchronizeDetail/SyncSink/DetailModal.tsx
  inlong-dashboard/src/ui/pages/SynchronizeDetail/SyncSink/helper.ts
  inlong-dashboard/src/ui/pages/SynchronizeDetail/SyncSink/index.tsx
  inlong-dashboard/src/ui/pages/SynchronizeDetail/SyncSources/DetailModal.tsx
  inlong-dashboard/src/ui/pages/SynchronizeDetail/SyncSources/index.tsx
  inlong-dashboard/src/ui/pages/SynchronizeDetail/SyncT/SyncDatabaseCard.tsx
  inlong-dashboard/src/ui/pages/SynchronizeDetail/SyncT/index.tsx
  inlong-dashboard/src/ui/pages/SynchronizeDetail/common.d.ts
Labels: component/dashboard, 1.10.x/bugfix

#9443 [INLONG-9440][Manager] Support querying audit information based on ip
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/AuditEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/mappers/AuditEntityMapper.xml
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/audit/AuditRequest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/AuditServiceImpl.java
Labels: component/manager

#9438 [INLONG-9437][Dashboard] Data access audit supports audit item query
  inlong-dashboard/src/ui/locales/cn.json
  inlong-dashboard/src/ui/locales/en.json
  inlong-dashboard/src/ui/pages/GroupDetail/Audit/config.tsx
Labels: component/dashboard

#9442 [INLONG-9441][Manager] MySQL data source supports both full and incremental modes
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/node/provider/MySQLBinlogProvider.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/mysql/MySQLBinlogSource.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/mysql/MySQLBinlogSourceDTO.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/mysql/MySQLBinlogSourceRequest.java
Labels: component/manager

#9446 [INLONG-9439][Dashboard] Support module reconciliation function
  inlong-dashboard/src/configs/menus/conf.tsx
  inlong-dashboard/src/configs/routes/conf.ts
  inlong-dashboard/src/i18n.ts
  inlong-dashboard/src/ui/locales/cn.json
  inlong-dashboard/src/ui/locales/en.json
  inlong-dashboard/src/ui/pages/ModuleAuditDashboard/config.tsx
  inlong-dashboard/src/ui/pages/ModuleAuditDashboard/index.tsx
Labels: component/dashboard

#9455 [INLONG-9454][Agent] Increase exit conditions to prevent dead loops
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/instance/FileInstance.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/LogFileSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/task/filecollect/LogFileCollectTask.java
Labels: component/agent, 1.10.x/bugfix

#9453 [INLONG-9452][Manager] Add audit items for file agent
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
Labels: component/manager, 1.10.x/bugfix

#9458 [INLONG-9457][Agent] Add task and instance heartbeat audit
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/conf/TaskProfile.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/metrics/audit/AuditUtils.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/instance/InstanceManager.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/task/file/TaskManager.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/instance/FileInstance.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/task/filecollect/LogFileCollectTask.java
  inlong-manager/manager-web/sql/changes-1.10.0.sql
Labels: component/manager, component/agent, 1.10.x/bugfix

#9462 [INLONG-9461][Manager] Fix failure of GroupTaskListenerFactoryTest
  .github/workflows/ci_ut.yml
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/workflow/GroupTaskListenerFactoryTest.java
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.13/pom.xml
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.15/pom.xml
Labels: component/manager, component/sort, service/ci, 1.10.x/bugfix

#9466 [INLONG-9465][CVE] Bump zookeeper to 3.7.2
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/hbase/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/hbase/pom.xml
  licenses/inlong-manager/notices/NOTICE-flink-shaded-zookeeper-3.txt
  licenses/inlong-sort-connectors/LICENSE
Labels: component/sort

#9468 [INLONG-9467][Agent] improve code exception detection to ensure task and instance state transitions
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/metrics/audit/AuditUtils.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/plugin/Instance.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/instance/InstanceManager.java
  inlong-agent/agent-core/src/test/java/org/apache/inlong/agent/core/instance/MockInstance.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/instance/FileInstance.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/LogFileSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/task/filecollect/LogFileCollectTask.java
Labels: component/agent

#9471 [INLONG-9470][Manager] Fix the problem of failed to verify if the namespace exists
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/util/HttpUtils.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/cluster/pulsar/PulsarClusterInfo.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/queue/pulsar/PulsarOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/queue/pulsar/PulsarUtils.java
Labels: component/manager

#9474 [INLONG-9473][Sort] Support transform of embedding for LLM applications
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/function/EmbeddingFunction.java
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/function/embedding/EmbeddingInput.java
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/function/embedding/LanguageModel.java
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/parser/impl/FlinkSqlParser.java
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/parser/impl/NativeFlinkSqlParser.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/function/EmbeddingFunctionTest.java
Labels: component/sort

#9480 [INLONG-9479][Sort] Remove the useless flink version
  inlong-agent/agent-plugins/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.13/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/iceberg/pom.xml
  pom.xml
Labels: component/agent, component/sort

#9482 [INLONG-9481][Agent] Add unit test of reading with offset
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/sources/TestLogFileSource.java
Labels: component/agent

#9485 [INLONG-9484][Manager] Improve logic of sortstandalone sink auto-assign cluster
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/cluster/ClusterRequest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/node/DataNodeRequest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/sink/AbstractStandaloneSinkResourceOperator.java
Labels: component/manager

#9490 [INLONG-9489][Dashboard] Transform remove missing stream id
  inlong-dashboard/src/ui/pages/SynchronizeDetail/SyncTransform/index.tsx
Labels: component/dashboard

#9494 [INLONG-9493][Sort] Fixed incorrect logging classs name
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/parser/impl/NativeFlinkSqlParser.java
Labels: component/sort

#9498 [INLONG-9497][Dashboard] Support Pulsar source management
  inlong-dashboard/src/plugins/sources/defaults/Pulsar.ts
  inlong-dashboard/src/plugins/sources/defaults/index.ts
  inlong-dashboard/src/ui/locales/cn.json
  inlong-dashboard/src/ui/locales/en.json
Labels: component/dashboard

#9496 [INLONG-9495][Dashboard] Data synchronization basic information page optimization
  inlong-dashboard/src/plugins/sinks/defaults/Iceberg.ts
  inlong-dashboard/src/plugins/sync/common/SyncDefaultInfo.ts
  inlong-dashboard/src/ui/components/FormGenerator/FormItemContent.tsx
  inlong-dashboard/src/ui/locales/cn.json
  inlong-dashboard/src/ui/locales/en.json
  inlong-dashboard/src/ui/pages/SynchronizeDetail/Info/index.tsx
  inlong-dashboard/src/ui/pages/SynchronizeDetail/SyncSink/DetailModal.tsx
Labels: component/dashboard

#9486 [INLONG-9475][Manager] Support setting dataNode when configuring streamSource for MYSQL
  inlong-manager/manager-client/src/test/java/org/apache/inlong/manager/client/api/inner/ClientFactoryTest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/AgentServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/AbstractSourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/StreamSourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/binlog/BinlogSourceOperator.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/impl/AgentServiceTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/source/StreamSourceServiceTest.java
Labels: component/manager

#9500 [INLONG-9499][Sort] Fix typos in PulsarSource
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/pulsar/src/main/java/org/apache/inlong/sort/pulsar/internal/FlinkPulsarSource.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/pulsar/src/main/java/org/apache/inlong/sort/pulsar/internal/FlinkPulsarSourceWithoutAdmin.java
Labels: component/sort

#9502 [INLONG-9501][Sort] Modify EncryptFunction
  inlong-sort/sort-core/src/main/java/org/apache/inlong/sort/function/EncryptFunction.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/function/EncryptFunctionTest.java
Labels: component/sort

#9504 [INLONG-9503][Manager] Unified Hashmap Dependency Package
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/source/StreamSourceServiceTest.java
Labels: component/manager

#9511 [INLONG-9510][Manager] Supports doris database synchronization
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/consts/DataNodeType.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/node/doris/DorisDataNodeDTO.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/node/doris/DorisDataNodeInfo.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/node/doris/DorisDataNodeRequest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/node/provider/DorisProvider.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/node/doris/DorisDataNodeOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/doris/DorisSinkOperator.java
Labels: component/manager

#9514 [INLONG-9513][Manager] Fix the problem of the tube consumption group sent to the sort side is incorrect
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/queue/tubemq/TubeMQQueueResourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/tubemq/TubeMQSourceOperator.java
Labels: component/manager

#9515 [INLONG-8393][DataProxy] Optimize the HeartbeatManager class
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/ConfigManager.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/holder/SourceReportConfigHolder.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/holder/SourceReportInfo.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/heartbeat/HeartbeatManager.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/BaseSource.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/SimpleHttpSource.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/SimpleTcpSource.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/SimpleUdpSource.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/SourceConstants.java
  inlong-dataproxy/dataproxy-source/src/test/java/org/apache/inlong/dataproxy/config/holder/TestSourceReportHolder.java
Labels: component/dataproxy

#9506 [INLONG-9505][Dashboard] Pulsar source parameter optimization
  inlong-dashboard/src/plugins/sources/common/SourceDefaultInfo.ts
  inlong-dashboard/src/plugins/sources/defaults/File.ts
  inlong-dashboard/src/plugins/sources/defaults/Hudi.ts
  inlong-dashboard/src/plugins/sources/defaults/Iceberg.ts
  inlong-dashboard/src/plugins/sources/defaults/MQTT.ts
  inlong-dashboard/src/plugins/sources/defaults/Mongodb.ts
  inlong-dashboard/src/plugins/sources/defaults/MySQLBinlog.ts
  inlong-dashboard/src/plugins/sources/defaults/Oracle.ts
  inlong-dashboard/src/plugins/sources/defaults/PostgreSQL.ts
  inlong-dashboard/src/plugins/sources/defaults/Pulsar.ts
  inlong-dashboard/src/plugins/sources/defaults/Redis.ts
  inlong-dashboard/src/plugins/sources/defaults/SQLServer.ts
  inlong-dashboard/src/ui/locales/cn.json
  inlong-dashboard/src/ui/locales/en.json
  inlong-dashboard/src/ui/pages/SynchronizeDetail/SyncAudit/index.tsx
  inlong-dashboard/src/ui/pages/SynchronizeDetail/SyncSources/DetailModal.tsx
Labels: component/dashboard

#9519 [INLONG-9518][Manager] Support resetting the consumption location of the consumption group used by sort
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/consume/SortConsumerInfo.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/maintenanceTools/MaintenanceToolsService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/maintenanceTools/MaintenanceToolsServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/queue/QueueResourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/queue/kafka/KafkaQueueResourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/queue/pulsar/PulsarOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/queue/pulsar/PulsarQueueResourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/queue/pulsar/PulsarUtils.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/queue/tubemq/TubeMQQueueResourceOperator.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/MaintenanceToolsController.java
Labels: component/manager

#9527 [INLONG-9033][TubeMQ] Fix the tubectl script missing for packaging
  inlong-tubemq/tubemq-server/src/main/assembly/assembly.xml
Labels: component/tubemq

#9531 [INLONG-9528][Manager] Support configuring the switch to enable dataProxy nodes
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/cluster/dataproxy/DataProxyClusterNodeDTO.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/cluster/dataproxy/DataProxyClusterNodeRequest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/cluster/dataproxy/DataProxyClusterNodeResponse.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/InlongClusterServiceImpl.java
Labels: component/manager

#9535 [INLONG-9532][Sort] Fix the wrong params for HudiExtractNode
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/extract/HudiExtractNode.java
Labels: component/sort

#9534 [INLONG-9533][Manager] Support setting dataNode when configuring streamSource for Pulsar, Iceberg and PostgreSQL
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/AbstractSourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/binlog/BinlogSourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/iceberg/IcebergSourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/postgresql/PostgreSQLSourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/pulsar/PulsarSourceOperator.java
Labels: component/manager

#9526 [INLONG-9525][Tools] Fix the typo for xxx_dependencys.sh script
  inlong-agent/bin/agent.sh
  inlong-audit/bin/proxy-start.sh
  inlong-audit/bin/store-start.sh
  inlong-dataproxy/bin/dataproxy-start.sh
  inlong-distribution/pom.xml
  inlong-distribution/script/backup_module_dependencies.sh
  inlong-distribution/script/copy_module_dependencies.sh
  inlong-distribution/script/prepare_module_dependencies.sh
  inlong-manager/manager-web/bin/startup.sh
  inlong-sort/sort-flink/sort-flink-v1.15/pom.xml
  inlong-tubemq/bin/env.sh
  inlong-tubemq/tubemq-manager/bin/start-manager.sh
Labels: component/tubemq, component/manager, component/dataproxy, component/agent, component/audit, component/sort

#9539 [INLONG-9538][Manager] Fix the problem of unable to retrieve parameters from ext_params when obtaining dataproxy node information
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/cluster/dataproxy/DataProxyClusterNodeDTO.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/InlongClusterServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/node/DataProxyClusterNodeOperator.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/cluster/InlongClusterServiceTest.java
Labels: component/manager

#9536 [INLONG-9521][Sort] Sort format supports InLongMsg-kv format
  inlong-sort/sort-dist/pom.xml
  inlong-sort/sort-formats/format-inlongmsg-kv/pom.xml
  inlong-sort/sort-formats/format-inlongmsg-kv/src/main/java/org/apache/inlong/sort/formats/inlongmsgkv/InLongMsgKv.java
  inlong-sort/sort-formats/format-inlongmsg-kv/src/main/java/org/apache/inlong/sort/formats/inlongmsgkv/InLongMsgKvFormatDeserializer.java
  inlong-sort/sort-formats/format-inlongmsg-kv/src/main/java/org/apache/inlong/sort/formats/inlongmsgkv/InLongMsgKvFormatFactory.java
  inlong-sort/sort-formats/format-inlongmsg-kv/src/main/java/org/apache/inlong/sort/formats/inlongmsgkv/InLongMsgKvMixedFormatConverter.java
  inlong-sort/sort-formats/format-inlongmsg-kv/src/main/java/org/apache/inlong/sort/formats/inlongmsgkv/InLongMsgKvMixedFormatDeserializer.java
  inlong-sort/sort-formats/format-inlongmsg-kv/src/main/java/org/apache/inlong/sort/formats/inlongmsgkv/InLongMsgKvUtils.java
  inlong-sort/sort-formats/format-inlongmsg-kv/src/main/java/org/apache/inlong/sort/formats/inlongmsgkv/InLongMsgKvValidator.java
  inlong-sort/sort-formats/format-inlongmsg-kv/src/main/resources/META-INF/services/org.apache.flink.table.factories.TableFactory
  inlong-sort/sort-formats/format-inlongmsg-kv/src/test/java/org/apache/inlong/sort/formats/inlongmsgkv/InLongMsgKvFormatDeserializerTest.java
  inlong-sort/sort-formats/format-inlongmsg-kv/src/test/java/org/apache/inlong/sort/formats/inlongmsgkv/InLongMsgKvFormatFactoryTest.java
  inlong-sort/sort-formats/format-inlongmsg-kv/src/test/java/org/apache/inlong/sort/formats/inlongmsgkv/InLongMsgKvTest.java
  inlong-sort/sort-formats/pom.xml
Labels: component/sort

#9540 [INLONG-9530][Dashboard] Dataproxy cluster nodes support adding the enabledOnline parameter
  inlong-dashboard/src/ui/locales/cn.json
  inlong-dashboard/src/ui/locales/en.json
  inlong-dashboard/src/ui/pages/Clusters/NodeEditModal.tsx
  inlong-dashboard/src/ui/pages/Clusters/NodeManage.tsx
Labels: component/dashboard
