Repository apache/inlong, pull requests merged in 2023-08, with the labels that each got.

#8615 [INLONG-8614][CI] Remove unnecessary packages for UT and build workflow
  .github/workflows/ci_build.yml
  .github/workflows/ci_ut.yml
Labels: service/ci

#8475 [INLONG-8445][Sort] Support running tests on both Flink 1.13 and Flink 1.15
  .github/workflows/ci_ut_flink15.yml
  inlong-sort/pom.xml
  inlong-sort/sort-dist/pom.xml
  inlong-sort/sort-end-to-end-tests/pom.xml
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.13/pom.xml
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.13/src/test/java/org/apache/inlong/sort/tests/ClickHouseCase.java
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.13/src/test/java/org/apache/inlong/sort/tests/KafkaE2ECase.java
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.13/src/test/java/org/apache/inlong/sort/tests/utils/FlinkContainerTestEnv.java
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.13/src/test/java/org/apache/inlong/sort/tests/utils/JdbcProxy.java
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.13/src/test/java/org/apache/inlong/sort/tests/utils/MySqlContainer.java
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.13/src/test/java/org/apache/inlong/sort/tests/utils/PlaceholderResolver.java
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.13/src/test/java/org/apache/inlong/sort/tests/utils/TestUtils.java
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.13/src/test/resources/docker/mysql/my.cnf
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.13/src/test/resources/docker/mysql/setup.sql
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.13/src/test/resources/env/kafka_test_kafka_init.txt
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.13/src/test/resources/env/kafka_test_mysql_init.txt
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.13/src/test/resources/flinkSql/clickhouse_test.sql
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.13/src/test/resources/flinkSql/kafka_test.sql
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.13/src/test/resources/groupFile/kafka_test.json
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.13/src/test/resources/log4j2-test.properties
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.15/pom.xml
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.15/src/test/java/org/apache/inlong/sort/tests/PostgresToStarRocksTest.java
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.15/src/test/java/org/apache/inlong/sort/tests/utils/FlinkContainerTestEnv.java
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.15/src/test/java/org/apache/inlong/sort/tests/utils/JdbcProxy.java
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.15/src/test/java/org/apache/inlong/sort/tests/utils/MySqlContainer.java
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.15/src/test/java/org/apache/inlong/sort/tests/utils/PlaceholderResolver.java
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.15/src/test/java/org/apache/inlong/sort/tests/utils/StarRocksContainer.java
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.15/src/test/java/org/apache/inlong/sort/tests/utils/TestUtils.java
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.15/src/test/resources/docker/mysql/my.cnf
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.15/src/test/resources/docker/mysql/setup.sql
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.15/src/test/resources/docker/postgresql/setup.sql
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.15/src/test/resources/docker/starrocks/start_fe_be.sh
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.15/src/test/resources/flinkSql/postgres_test.sql
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.15/src/test/resources/log4j2-test.properties
Labels: component/sort, service/ci

#8616 [INLONG-8598][Sort] Optimize sortstandalone pulsar sink
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/pulsar/PulsarFederationSink.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/pulsar/PulsarFederationSinkContext.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/pulsar/PulsarIdConfig.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/pulsar/PulsarProducerCluster.java
Labels: component/sort

#8618 [INLONG-8617][Manager] Optimize compatibility of SortSdk config interface
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/SortSourceServiceImpl.java
Labels: component/manager, 1.8.x/bugfix

#8620 [INLONG-8619][Manager] Remove the inlong role check of internal interfaces
  inlong-manager/manager-dao/src/main/resources/mappers/DataNodeEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/InlongGroupEntityMapper.xml
Labels: component/manager

#8623 [INLONG-8622][Manager] User API Permissions Optimization
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/UserController.java
Labels: component/manager

#8626 [INLONG-8624][Dashboard] Tenant management search tenants are displayed normally
  inlong-dashboard/src/ui/pages/TenantManagement/index.tsx
Labels: component/dashboard

#8209 [INLONG-7900][Sort] Support partition by custom fields when upsert single table of Kafka
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/kafka/src/main/java/org/apache/inlong/sort/kafka/DynamicKafkaSerializationSchema.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/kafka/src/main/java/org/apache/inlong/sort/kafka/partitioner/SingleTableCustomFieldsPartitioner.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/kafka/src/main/java/org/apache/inlong/sort/kafka/table/KafkaDynamicTableFactory.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/kafka/src/main/java/org/apache/inlong/sort/kafka/table/UpsertKafkaDynamicTableFactory.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/kafka/src/test/java/org/apache/inlong/sort/kafka/partitioner/SingleTableCustomFieldsPartitionerTest.java
Labels: component/sort

#8607 [INLONG-8602][Sort] Fix StackOverflowError of Oracle CDC
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/oracle-cdc/src/main/java/org/apache/inlong/sort/cdc/oracle/debezium/table/RowDataDebeziumDeserializeSchema.java
Labels: component/sort

#8630 [INLONG-8629][Agent] Fix sending invalid data to dataproxy failed blocks normal data sending
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sinks/SenderManager.java
Labels: component/agent

#8640 [INLONG-8639][SDK] Improve send failed logic
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-golang/dataproxy/request.go
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-golang/dataproxy/worker.go
Labels: component/dataproxy, component/sdk

#8636 [INLONG-8635][SDK] Update dependency packages and required Go version
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-golang/go.mod
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-golang/go.sum
Labels: component/dataproxy, component/sdk

#8632 [INLONG-8631][SDK] Handle context.Done() in Send()
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-golang/dataproxy/worker.go
Labels: component/dataproxy, component/sdk

#8638 [INLONG-8637][SDK] Pool data request and batch request
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-golang/dataproxy/request.go
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-golang/dataproxy/worker.go
Labels: component/dataproxy, component/sdk

#8634 [INLONG-8633][SDK] Update debug log level
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-golang/dataproxy/worker.go
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-golang/logger/logger.go
Labels: component/dataproxy, component/sdk

#8650 [INLONG-8649][Agent] Fix the proxysink thread leaks when the dataproxy sdk init failed
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sinks/ProxySink.java
Labels: component/agent

#8646 [INLONG-8645][Agent] Delete the capacity of loading trigger from local file
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/constant/JobConstants.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/AgentManager.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/conf/ConfigJetty.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/trigger/TriggerManager.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/fetcher/ManagerFetcher.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/TextFileSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/file/TriggerFileReader.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/trigger/DirectoryTrigger.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/utils/PluginUtils.java
Labels: component/agent

#8648 [INLONG-8647][Agent] Stop sending task snapshot to manager
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/HeartbeatManager.java
Labels: component/agent

#8644 [INLONG-8641][Sort] SingleTableCustomFieldsPartitioner package name does not match path
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/kafka/src/main/java/org/apache/inlong/sort/kafka/DynamicKafkaSerializationSchema.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/kafka/src/main/java/org/apache/inlong/sort/kafka/partitioner/SingleTableCustomFieldsPartitioner.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/kafka/src/main/java/org/apache/inlong/sort/kafka/table/KafkaDynamicTableFactory.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/kafka/src/main/java/org/apache/inlong/sort/kafka/table/UpsertKafkaDynamicTableFactory.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/kafka/src/test/java/org/apache/inlong/sort/kafka/partitioner/SingleTableCustomFieldsPartitionerTest.java
Labels: component/sort

#8656 [INLONG-8655][Agent] Fix bug: JobWrapper thread leaks when the job is stopped
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/constant/JobConstants.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/conf/ConfigJetty.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/job/JobManager.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/job/JobWrapper.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/trigger/TriggerManager.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/fetcher/ManagerFetcher.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/TextFileSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/file/TriggerFileReader.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/trigger/DirectoryTrigger.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/utils/PluginUtils.java
Labels: component/agent

#8658 [INLONG-8657][DataProxy] Cache Source, Sink name and Channel object content
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/mq/MessageQueueZoneSink.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/mq/MessageQueueZoneSinkContext.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/mq/MessageQueueZoneWorker.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/BaseSource.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/ServerMessageFactory.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/ServerMessageHandler.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/SimpleHttpSource.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/SimpleTcpSource.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/SimpleUdpSource.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/httpMsg/HttpMessageHandler.java
Labels: component/dataproxy

#8660 [INLONG-8642][Audit] Remove the audit commons-text dependency
  inlong-audit/pom.xml
Labels: component/audit

#8662 [INLONG-8661][Dashboard] Fix:field require
  inlong-dashboard/src/plugins/sources/defaults/MySQLBinlog.ts
Labels: component/dashboard

#8668 [INLONG-8667][Sort] Fix the class name error in OracleSnapshotContext
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/oracle-cdc/src/main/java/org/apache/inlong/sort/cdc/oracle/source/reader/fetch/OracleScanFetchTask.java
Labels: component/sort

#8673 [INLONG-8670][DataProxy] Define in detail the exceptions actively thrown in Source
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/consts/StatConstants.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/exception/ChannelUnWritableException.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/exception/PkgParseException.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/ServerMessageHandler.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/httpMsg/HttpMessageHandler.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/utils/MessageUtils.java
Labels: component/dataproxy

#8672 [INLONG-8671][Manager] Fix no method parameter of form data in POST request
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/utils/HttpContextUtils.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/utils/InlongRequestWrapper.java
Labels: component/manager

#8680 [INLONG-8679][DataProxy] Migrate index-related variables to abstract classes
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/ServerMessageHandler.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/v0msg/AbsV0MsgCodec.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/v0msg/CodecBinMsg.java
Labels: component/dataproxy

#8659 [INLONG-8652][Agent] Delete the capacity of setting blacklist
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/constant/JobConstants.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/trigger/DirectoryTrigger.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/trigger/PathPattern.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/utils/PluginUtils.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/filter/TestDateFormatRegex.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/trigger/TestWatchDirTrigger.java
Labels: component/agent

#8665 [INLONG-8663][Manager] Add tenant related OpenAPI
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/user/LoginUserUtils.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/InlongClusterController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/openapi/OpenInLongClusterController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/openapi/OpenInlongTenantController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/openapi/OpenInlongTenantRoleController.java
Labels: component/manager

#8697 [INLONG-8675][Manager] Update InlongTenantApi get method request type with post
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/service/InlongTenantApi.java
Labels: component/manager

#8696 [INLONG-8688][Security] Upgrade Mysql-connector version
  inlong-agent/agent-docker/Dockerfile
  inlong-audit/audit-docker/Dockerfile
  inlong-manager/manager-docker/Dockerfile
  inlong-sort/quick_start.md
  inlong-tubemq/tubemq-docker/tubemq-manager/Dockerfile
  pom.xml
Labels: component/tubemq, component/manager, component/agent, component/audit, component/sort, service/docker

#8700 [INLONG-8699][Audit] Optimize the service log of audit-proxy
  inlong-audit/audit-proxy/src/main/java/org/apache/inlong/audit/sink/PulsarSink.java
  inlong-audit/audit-proxy/src/main/java/org/apache/inlong/audit/source/ServerMessageHandler.java
  inlong-audit/conf/log4j2.xml
Labels: component/audit

#8706 [INLONG-8705][Dashboard] Source and sink title optimization
  inlong-dashboard/src/ui/locales/cn.json
Labels: component/dashboard

#8704 [INLONG-8693][Dashboard] Data synchronization supports Audit
  inlong-dashboard/src/ui/locales/cn.json
  inlong-dashboard/src/ui/locales/en.json
  inlong-dashboard/src/ui/pages/SynchronizeDetail/SyncAudit/config.tsx
  inlong-dashboard/src/ui/pages/SynchronizeDetail/SyncAudit/index.tsx
  inlong-dashboard/src/ui/pages/SynchronizeDetail/index.tsx
Labels: component/dashboard

#8721 [INLONG-8720][TubeMQ] Remove unused return params in WebParamaterUtils
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/common/utils/WebParameterUtils.java
Labels: component/tubemq

#8722 [INLONG-8717][TubeMQ] Display wrong response message in TubeMQ Master web panel
  inlong-tubemq/resources/assets/scripts/common/module.js
Labels: component/tubemq

#8724 [INLONG-8716][TubeMQ] set error code 0 when it works
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/BrokerServiceServer.java
Labels: component/tubemq

#8726 [INLONG-8725][DataProxy] Cache file metric output switch value at usage location
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/common/SinkContext.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/mq/SimplePackProfile.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/BaseSource.java
Labels: component/dataproxy

#8730 [INLONG-8729][DataProxy] Wrong result in the addSendResultMetric function also reports success
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/mq/MessageQueueZoneSinkContext.java
Labels: component/dataproxy

#8715 [INLONG-8685][Sort] Fix the denial of service due to parser crash
  inlong-manager/manager-service/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/hudi/pom.xml
  licenses/inlong-manager/LICENSE
  licenses/inlong-sort-connectors/LICENSE
  licenses/inlong-sort-standalone/LICENSE
  pom.xml
Labels: component/manager, component/sort

#8732 [INLONG-8728][SDK] Optimize the problem of third-party openssl library dependency
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/CMakeLists.txt
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/third_party/CMakeLists.txt
Labels: component/sdk

#8437 [INLONG-8436][Sort] Fix the backfill task not running bug in oracle cdc connector
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/oracle-cdc/src/main/java/org/apache/inlong/sort/cdc/oracle/source/reader/fetch/OracleScanFetchTask.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/oracle-cdc/src/main/java/org/apache/inlong/sort/cdc/oracle/source/reader/fetch/OracleStreamFetchTask.java
Labels: component/sort

#8737 [INLONG-8727][Dashboard] Approval management Application details optimization
  inlong-dashboard/src/ui/pages/GroupDetail/index.tsx
  inlong-dashboard/src/ui/pages/Process/Applies/config.tsx
  inlong-dashboard/src/ui/pages/Process/Approvals/config.tsx
Labels: component/dashboard

#8628 [INLONG-8627][Manager] Add parameters validation for the testConnection method
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/DataNodeController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/InlongClusterController.java
Labels: component/manager

#8740 [INLONG-8739][Manager] Fix The file collection task was mistakenly deleted
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/heartbeat/HeartbeatServiceImpl.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/impl/AgentServiceTest.java
Labels: component/manager

#8735 [INLONG-8734][Sort] Improve iceberg sync ddl
  inlong-sort/sort-flink/base/src/main/java/org/apache/inlong/sort/base/Constants.java
  inlong-sort/sort-flink/base/src/main/java/org/apache/inlong/sort/base/schema/SchemaChangeHelper.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/IcebergTableSink.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/schema/IcebergSchemaChangeHelper.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/FlinkSink.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/multiple/DynamicSchemaHandleOperator.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/multiple/IcebergMultipleStreamWriter.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/multiple/IcebergSchemaChangeUtils.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/multiple/RecordWithSchema.java
Labels: component/sort

#8744 [INLONG-8743][Sort] Support more types of ddl in all migration
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/ddl/enums/AlterType.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/ddl/expressions/AlterColumn.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/utils/OperationUtils.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/mysql-cdc/src/test/java/org/apache/inlong/sort/cdc/TestOperation.java
Labels: component/sort

#8746 [INLONG-8745][Sort] Add incremental and PostGre type in postgre connector
  inlong-sort/sort-flink/cdc-base/src/main/java/org/apache/inlong/sort/cdc/base/util/MetaDataUtil.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/utils/MetaDataUtils.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/oracle-cdc/src/main/java/org/apache/inlong/sort/cdc/oracle/table/OracleReadableMetaData.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/postgres-cdc/src/main/java/org/apache/inlong/sort/cdc/postgres/table/PostgreSQLReadableMetaData.java
  inlong-sort/sort-formats/format-json-v1.13/src/main/java/org/apache/inlong/sort/formats/json/canal/CanalJson.java
Labels: component/sort

#8748 [INLONG-8747][SDK] Optimize the local configuration management of cpp sdk
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/release/inc/sdk_conf.h
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/config/sdk_conf.cc
Labels: component/sdk

#8754 [INLONG-8753][Audit] Separate commons-text from org.apache.flume
  inlong-audit/pom.xml
  inlong-dataproxy/pom.xml
  inlong-sdk/pom.xml
  inlong-sort-standalone/pom.xml
  licenses/inlong-agent/LICENSE
  licenses/inlong-audit/LICENSE
  licenses/inlong-dataproxy/LICENSE
  licenses/inlong-manager/LICENSE
  licenses/inlong-sort-standalone/LICENSE
  pom.xml
Labels: component/dataproxy, component/audit, component/sort, component/sdk

#8750 [INLONG-8749][Manager] Support configuring whether to initialize node state during startup
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/heartbeat/HeartbeatManager.java
  inlong-manager/manager-web/src/main/resources/application-dev.properties
  inlong-manager/manager-web/src/main/resources/application-prod.properties
  inlong-manager/manager-web/src/main/resources/application-test.properties
Labels: component/manager

#8759 [INLONG-8758][DataProxy] Metadata synchronization management optimization
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/CommonConfigHolder.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/ConfigManager.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/holder/MetaConfigHolder.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/mq/kafka/KafkaHandler.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/mq/pulsar/PulsarHandler.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/mq/tube/TubeHandler.java
  inlong-dataproxy/dataproxy-source/src/test/java/org/apache/inlong/dataproxy/config/holder/TestMetaConfigHolder.java
Labels: component/dataproxy

#8762 [INLONG-8760][Dashboard] Make the transform button wrap
  inlong-dashboard/src/ui/pages/SynchronizeDetail/SyncT/SourceSinkCard.tsx
Labels: component/dashboard

#8756 [INLONG-8755][Dashboard] Data synchronization field mapping optimization
  inlong-dashboard/src/ui/components/FieldList/DetailModal.tsx
  inlong-dashboard/src/ui/components/FieldList/index.tsx
Labels: component/dashboard

#8769 [INLONG-8768][TubeMQ] Add restart-manager.sh to inlong-tubemq-manager
  inlong-tubemq/tubemq-manager/bin/restart-manager.sh
Labels: component/tubemq

#8763 [INLONG-8563][Manager] Opitmize the permission check of tenant-related operation
  inlong-manager/manager-dao/src/main/resources/mappers/InlongStreamEntityMapper.xml
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/InlongClusterServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/consume/InlongConsumeServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/WorkflowApproverServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/group/InlongGroupServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/node/DataNodeServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/StreamSinkServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/StreamSourceServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/stream/InlongStreamProcessService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/stream/InlongStreamServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/transform/StreamTransformServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/user/UserService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/user/UserServiceImpl.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/DataNodeController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/InlongClusterController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/InlongConsumeController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/InlongGroupController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/InlongTenantController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/InlongTenantRoleController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/UserController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/WorkflowApproverController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/openapi/OpenDataNodeController.java
Labels: component/manager

#8612 [INLONG-8611][Manager] Add full link trace based on Opentelemetry
  inlong-agent/bin/agent-env.sh
  inlong-agent/bin/agent.sh
  inlong-agent/conf/log4j2.xml
  inlong-dataproxy/bin/dataproxy-ng
  inlong-dataproxy/conf/log4j2.xml
  inlong-manager/manager-web/bin/startup.sh
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/trace/ResponseWrapper.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/trace/TraceFilter.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/trace/WrapperOutputStream.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/trace/WrapperWriter.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/utils/InlongRequestWrapper.java
  inlong-manager/manager-web/src/main/resources/log4j2.xml
  pom.xml
Labels: component/manager, component/dataproxy, component/agent

#8772 [INLONG-8771][Manager] Fix audit data error and add source type for DataSync
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/AuditServiceImpl.java
Labels: component/manager

#8770 [INLONG-8008][Dashboard] Add default icon for different data nodes
  inlong-dashboard/src/plugins/sources/defaults/index.ts
  inlong-dashboard/src/ui/components/CheckCard/index.module.less
  inlong-dashboard/src/ui/components/CheckCard/index.tsx
  inlong-dashboard/src/ui/components/CheckCard/logo/ClickHouse.png
  inlong-dashboard/src/ui/components/CheckCard/logo/Doris.png
  inlong-dashboard/src/ui/components/CheckCard/logo/Elasticsearch.png
  inlong-dashboard/src/ui/components/CheckCard/logo/File.png
  inlong-dashboard/src/ui/components/CheckCard/logo/Greenplum.png
  inlong-dashboard/src/ui/components/CheckCard/logo/HBase.png
  inlong-dashboard/src/ui/components/CheckCard/logo/Hive.png
  inlong-dashboard/src/ui/components/CheckCard/logo/Hudi.png
  inlong-dashboard/src/ui/components/CheckCard/logo/Iceberg.png
  inlong-dashboard/src/ui/components/CheckCard/logo/Kafka.png
  inlong-dashboard/src/ui/components/CheckCard/logo/Kudu.png
  inlong-dashboard/src/ui/components/CheckCard/logo/MQTT.png
  inlong-dashboard/src/ui/components/CheckCard/logo/MongoDB.png
  inlong-dashboard/src/ui/components/CheckCard/logo/MySQL.png
  inlong-dashboard/src/ui/components/CheckCard/logo/Oracle.png
  inlong-dashboard/src/ui/components/CheckCard/logo/PostgreSQL.png
  inlong-dashboard/src/ui/components/CheckCard/logo/Redis.png
  inlong-dashboard/src/ui/components/CheckCard/logo/SQLServer.png
  inlong-dashboard/src/ui/components/CheckCard/logo/StarRocks.png
  inlong-dashboard/src/ui/components/CheckCard/logo/TDSQLPostgreSQL.png
  inlong-dashboard/src/ui/pages/GroupDetail/DataSources/DetailModal.tsx
Labels: component/dashboard

#8775 [INLONG-8757][Dashboard] Implement buttons using a link
  inlong-dashboard/src/ui/components/FieldList/index.tsx
Labels: component/dashboard

#8774 [INLONG-8773][Manager] Logically delete agent task when heartbeat contains no group and temp…
  inlong-manager/manager-dao/src/main/resources/mappers/StreamSourceEntityMapper.xml
Labels: component/manager

#8778 [INLONG-8776][Sort] Connectors should add jdbc driver jar to its uber jar
  inlong-sort/sort-flink/sort-flink-v1.13/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/jdbc/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/mysql-cdc/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.15/pom.xml
Labels: component/sort

#8780 [INLONG-8779][Dashboard] Modify password verification optimization
  inlong-dashboard/src/ui/components/Layout/NavWidget/PasswordModal.tsx
  inlong-dashboard/src/ui/locales/cn.json
  inlong-dashboard/src/ui/locales/en.json
  inlong-dashboard/src/ui/pages/Login/index.tsx
Labels: component/dashboard

#8777 [INLONG-8751][Manager] Fix the response that was empty for data preview
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/queue/pulsar/PulsarOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/queue/pulsar/PulsarQueueResourceOperator.java
Labels: component/manager

#8782 [INLONG-8781][Manager] Fix exception when batch task is finished
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/GroupStatus.java
Labels: component/manager

#8785 [INLONG-8783][Sort] Mysql connector jdbc version should be compatible with mysql-cdc version
  inlong-sort/sort-flink/sort-flink-v1.13/pom.xml
Labels: component/sort

#8736 [INLONG-8684][Dashboard] Fixed the Vite Server Options (server.fs.deny) can be bypassed using double forward-slash (//)
  inlong-dashboard/package-lock.json
  inlong-dashboard/package.json
Labels: component/dashboard

#8798 [INLONG-8797][Manager][Sort] Support multiple audit ids for data sync
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/sort/DefaultSortConfigOperator.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/IcebergTableSink.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/FlinkSink.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/multiple/DynamicSchemaHandleOperator.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/multiple/IcebergMultipleStreamWriter.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/multiple/IcebergSingleStreamWriter.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/internal/JdbcBatchingOutputFormat.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/internal/JdbcMultiBatchingOutputFormat.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/internal/TableJdbcUpsertOutputFormat.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/table/JdbcDynamicOutputFormatBuilder.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/table/JdbcDynamicTableFactory.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/table/JdbcDynamicTableSink.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/debezium/DebeziumSourceFunction.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/MySqlSource.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/source/MySqlSource.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/source/MySqlSourceBuilder.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/source/config/MySqlSourceConfig.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/source/config/MySqlSourceConfigFactory.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/table/MySqlTableInlongSourceFactory.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/table/MySqlTableSource.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/starrocks/src/main/java/org/apache/inlong/sort/starrocks/table/sink/StarRocksDynamicSinkFunction.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/starrocks/src/main/java/org/apache/inlong/sort/starrocks/table/sink/StarRocksDynamicTableSink.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/starrocks/src/main/java/org/apache/inlong/sort/starrocks/table/sink/StarRocksDynamicTableSinkFactory.java
Labels: component/manager, component/sort

#8795 [INLONG-8794][Manager] Support add streamField and sinkField
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sink/AddFieldRequest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/StreamSinkService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/StreamSinkServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/stream/InlongStreamService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/stream/InlongStreamServiceImpl.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/stream/InlongStreamTest.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/InlongStreamController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/openapi/OpenInLongStreamController.java
Labels: component/manager

#8801 [INLONG-8800][Dashboard] Owners search component optimization
  inlong-dashboard/src/ui/components/UserSelect/index.tsx
Labels: component/dashboard

#8792 [INLONG-8788][Dashboard] Data synchronization page optimization
  inlong-dashboard/src/plugins/sources/defaults/MySQLBinlog.ts
  inlong-dashboard/src/ui/components/FieldList/DetailModal.tsx
  inlong-dashboard/src/ui/components/GroupLogs/GroupLogs.tsx
  inlong-dashboard/src/ui/pages/SynchronizeDetail/Info/index.tsx
  inlong-dashboard/src/ui/pages/SynchronizeDetail/SyncT/SourceSinkCard.tsx
Labels: component/dashboard

#8802 [INLONG-8799][Manager][Agent][Dataproxy] Fix the configuration related to "Opentelemetry".
  inlong-agent/bin/agent-env.sh
  inlong-agent/bin/agent.sh
  inlong-dataproxy/bin/dataproxy-ng
  inlong-manager/manager-web/bin/startup.sh
Labels: component/manager, component/dataproxy, component/agent

#8787 [INLONG-8786][Sort] Fix doris schema change in case of multiple uri
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/doris/src/main/java/org/apache/inlong/sort/doris/schema/SchemaChangeHelper.java
Labels: component/sort

#8806 [INLONG-8796][Sort] Add SchemaChangeEventHandler to deal schema change event by each connector
  inlong-sort/sort-flink/cdc-base/src/main/java/org/apache/inlong/sort/cdc/base/relational/JdbcSourceEventDispatcher.java
  inlong-sort/sort-flink/cdc-base/src/main/java/org/apache/inlong/sort/cdc/base/relational/handler/SchemaChangeEventHandler.java
  inlong-sort/sort-flink/cdc-base/src/main/java/org/apache/inlong/sort/cdc/base/util/RecordUtils.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/oracle-cdc/src/main/java/org/apache/inlong/sort/cdc/oracle/source/reader/fetch/OracleSourceFetchTaskContext.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/oracle-cdc/src/main/java/org/apache/inlong/sort/cdc/oracle/source/reader/handler/OracleSchemaChangeEventHandler.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/oracle-cdc/src/main/java/org/apache/inlong/sort/cdc/oracle/source/relational/OracleSourceEventDispatcher.java
Labels: component/sort

#8811 [INLONG-8810][Dashboard] Approval management process ID link optimization
  inlong-dashboard/src/ui/pages/Process/Applies/config.tsx
  inlong-dashboard/src/ui/pages/Process/Approvals/config.tsx
Labels: component/dashboard

#8784 [INLONG-8766][SDK] SortSdk create consumer in parallel
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/api/ClientContext.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/api/ConfigConstants.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/api/InlongTopicManagerFactory.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/api/SortClientConfig.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/api/SortClientFactory.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/api/TopicFetcher.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/api/TopicManager.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/impl/QueryConsumeConfigImpl.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/impl/SortClientImplV2.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/manager/InlongMultiTopicManager.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/manager/InlongSingleTopicManager.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/manager/InlongTopicManager.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/metrics/SortSdkMetricItem.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/metrics/SortSdkPrometheusMetricListener.java
Labels: component/sdk

#8814 [INLONG-8813][Manager] Replacing whitespace characters in MySQL JDBC URL
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/consts/InlongConstants.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sink/mysql/MySQLSinkDTO.java
  inlong-manager/manager-pojo/src/test/java/org/apache/inlong/manager/pojo/sink/mysql/MySQLSinkDTOTest.java
Labels: component/manager

#8820 [INLONG-8819][DataProxy] Optimize ConfigHolder related subclass loading processing
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/ConfigHolder.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/holder/MetaConfigHolder.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/holder/PropertiesHolder.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/holder/VisitConfigHolder.java
Labels: component/dataproxy
