Repository apache/inlong, pull requests merged in 2023-04, with the labels that each got.

#7759 [INLONG-7758][Dashboard] Login page display error
  inlong-dashboard/craco.config.ts
Labels: component/dashboard

#7757 [INLONG-7756][Dashboard] Group logs can not display
  inlong-dashboard/src/ui/components/HighSelect/index.tsx
  inlong-dashboard/src/ui/components/Layout/NavWidget/index.tsx
  inlong-dashboard/src/ui/components/UserSelect/index.tsx
  inlong-dashboard/src/ui/pages/ClusterTags/ClusterList.tsx
  inlong-dashboard/src/ui/pages/ClusterTags/index.module.less
  inlong-dashboard/src/ui/pages/ClusterTags/index.tsx
  inlong-dashboard/src/ui/pages/Clusters/NodeManage.tsx
  inlong-dashboard/src/ui/pages/Clusters/index.tsx
  inlong-dashboard/src/ui/pages/GroupDashboard/index.tsx
  inlong-dashboard/src/ui/pages/GroupDetail/DataSources/index.tsx
  inlong-dashboard/src/ui/pages/GroupDetail/DataStorage/index.tsx
  inlong-dashboard/src/ui/pages/GroupDetail/DataStream/index.tsx
  inlong-dashboard/src/ui/pages/Nodes/index.tsx
  inlong-dashboard/src/ui/pages/ProcessManagement/index.tsx
  inlong-dashboard/src/ui/pages/UserManagement/index.tsx
Labels: component/dashboard

#7761 [INLONG-7760][Manager] Fix parse fields failed for streamSink and InlongStream
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sink/ParseFieldRequest.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/InlongStreamController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/StreamSinkController.java
Labels: component/manager

#7753 [INLONG-7752][Agent] PulsarSink threadPool throw reject exception
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sinks/PulsarSink.java
Labels: component/agent

#7740 [INLONG-7690][Manager] Creating schema of StreamSource by CSV
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/consts/InlongConstants.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/StreamSinkServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/stream/InlongStreamServiceImpl.java
Labels: component/manager

#7741 [INLONG-7730][Manager] Support node management for Redis
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/node/redis/RedisDataNodeDTO.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/node/redis/RedisDataNodeInfo.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/node/redis/RedisDataNodeRequest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sink/redis/RedisSink.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sink/redis/RedisSinkDTO.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sink/redis/RedisSinkRequest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/util/LoadNodeUtils.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/node/redis/RedisDataNodeOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/redis/RedisSinkOperator.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/load/RedisLoadNode.java
Labels: component/manager, component/sort

#7765 [INLONG-7777][Docker] Fixed the typo for dashboard in docker-compose
  docker/docker-compose/docker-compose.yml
Labels: service/docker

#7775 [INLONG-7774][Manager] Add permission verification for streamSource
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/StreamSourceServiceImpl.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/StreamSourceController.java
Labels: component/manager

#7727 [INLONG-7719][Manager] Support test connection for Redis in NodeManagement
  inlong-manager/manager-service/pom.xml
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/node/redis/RedisDataNodeOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/sink/redis/RedisResourceClient.java
  licenses/inlong-manager/licenses/LICENSE-jedis.txt
  pom.xml
Labels: component/manager

#7773 [INLONG-7772][Dashboard] Redis sentinel master name normalization in NodeManagement
  inlong-dashboard/src/plugins/nodes/defaults/Redis.ts
  inlong-dashboard/src/ui/locales/cn.json
  inlong-dashboard/src/ui/locales/en.json
Labels: component/dashboard

#7712 [INLONG-7581][Sort] Support multiple-sink migration for Elasticsearch
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sink/es/ElasticsearchSink.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/util/LoadNodeUtils.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/load/ElasticsearchLoadNode.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/node/load/ElasticSearchNodeTest.java
  inlong-sort/sort-connectors/elasticsearch-6/src/main/java/org/apache/inlong/sort/elasticsearch6/MultipleRowElasticsearchSinkFunction.java
  inlong-sort/sort-connectors/elasticsearch-6/src/main/java/org/apache/inlong/sort/elasticsearch6/table/Elasticsearch6DynamicSink.java
  inlong-sort/sort-connectors/elasticsearch-6/src/main/java/org/apache/inlong/sort/elasticsearch6/table/Elasticsearch6DynamicSinkFactory.java
  inlong-sort/sort-connectors/elasticsearch-7/src/main/java/org/apache/inlong/sort/elasticsearch7/MultipleRowElasticsearchSinkFunction.java
  inlong-sort/sort-connectors/elasticsearch-7/src/main/java/org/apache/inlong/sort/elasticsearch7/table/Elasticsearch7Configuration.java
  inlong-sort/sort-connectors/elasticsearch-7/src/main/java/org/apache/inlong/sort/elasticsearch7/table/Elasticsearch7DynamicSink.java
  inlong-sort/sort-connectors/elasticsearch-7/src/main/java/org/apache/inlong/sort/elasticsearch7/table/Elasticsearch7DynamicSinkFactory.java
  inlong-sort/sort-connectors/elasticsearch-base/pom.xml
  inlong-sort/sort-connectors/elasticsearch-base/src/main/java/org/apache/inlong/sort/elasticsearch/table/ElasticsearchConfiguration.java
  inlong-sort/sort-connectors/elasticsearch-base/src/main/java/org/apache/inlong/sort/elasticsearch/table/ElasticsearchOptions.java
  inlong-sort/sort-connectors/elasticsearch-base/src/main/java/org/apache/inlong/sort/elasticsearch/table/MultipleElasticsearchSinkFunctionBase.java
  inlong-sort/sort-connectors/elasticsearch-base/src/main/java/org/apache/inlong/sort/elasticsearch/table/TableSchemaFactory.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/ESMultipleSinkTest.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/ElasticsearchSqlParseTest.java
Labels: component/manager, component/sort

#7779 [INLONG-7749][Dashboard] Support rate limit for pulsar mq mark-delete operation
  inlong-dashboard/src/plugins/groups/defaults/Pulsar.ts
  inlong-dashboard/src/ui/locales/cn.json
  inlong-dashboard/src/ui/locales/en.json
Labels: component/dashboard

#7776 [INLONG-7762][Sort] Fix capturing unrelated tables when open DDL change detection
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/source/reader/MySqlRecordEmitter.java
Labels: component/sort

#7782 [INLONG-7781][SDK] Solve the problem of cpp-sdk send data by HTTP protocol
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/base/proxylist_config.cc
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/src/base/sdk_constant.h
Labels: component/sdk

#7770 [INLONG-7769][DataProxy] Fix NPE when request Inlong Manager failed
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/RemoteConfigManager.java
Labels: component/dataproxy

#7786 [INLONG-7785][Dashboard] Clickhouse sink engine defaults to MergeTree
  inlong-dashboard/src/plugins/sinks/defaults/ClickHouse.ts
Labels: component/dashboard

#7797 [INLONG-7796][Dashboard] Add icon to menu
  inlong-dashboard/src/configs/menus/conf.tsx
  inlong-dashboard/src/ui/components/Layout/NavWidget/LocaleSelect.tsx
  inlong-dashboard/src/ui/components/Layout/index.tsx
  inlong-dashboard/src/ui/components/PageContainer/index.module.less
  inlong-dashboard/src/ui/components/UserSelect/index.tsx
  inlong-dashboard/src/ui/pages/ClusterTags/index.tsx
  inlong-dashboard/src/ui/pages/GroupDetail/DataSources/index.tsx
  inlong-dashboard/src/ui/pages/GroupDetail/DataStorage/index.tsx
Labels: component/dashboard

#7788 [INLONG-7787][Sort] Fix cannot output drop statement
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/Constants.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/source/reader/MySqlRecordEmitter.java
Labels: component/sort

#7805 [INLONG-7804][Manager] Limit the length of user password
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/user/UserRequest.java
Labels: component/manager

#7799 [INLONG-7798][Manager] Add user authentication when operate workflow
  inlong-manager/manager-workflow/src/main/java/org/apache/inlong/manager/workflow/core/impl/ProcessServiceImpl.java
Labels: component/manager

#7801 [INLONG-7800][Manager] Fix update redis data node failure
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/node/redis/RedisDataNodeDTO.java
Labels: component/manager

#7806 [INLONG-7802][Dashboard] Requirements for optimizing data sources
  inlong-dashboard/src/plugins/sources/defaults/MQTT.ts
  inlong-dashboard/src/plugins/sources/defaults/Mongodb.ts
  inlong-dashboard/src/plugins/sources/defaults/Oracle.ts
  inlong-dashboard/src/plugins/sources/defaults/PostgreSQL.ts
  inlong-dashboard/src/plugins/sources/defaults/Redis.ts
  inlong-dashboard/src/plugins/sources/defaults/SQLServer.ts
Labels: component/dashboard

#7694 [INLONG-7693][Sort] MySQL CDC Connector supports specifying field synchronization
  inlong-sort/sort-connectors/cdc-base/src/main/java/org/apache/inlong/sort/cdc/base/util/ColumnFilterUtil.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/source/MySqlSource.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/source/reader/MySqlRecordEmitter.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/AllMigrateWithSpecifyingFieldTest.java
Labels: component/sort

#7793 [INLONG-7792][Manager] Support export Excel template file of StreamSource
  inlong-manager/manager-common/pom.xml
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/tool/excel/ExcelCellDataTransfer.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/tool/excel/ExcelTool.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/tool/excel/annotation/ExcelEntity.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/tool/excel/annotation/ExcelField.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/stream/StreamField.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/InlongStreamController.java
  licenses/inlong-manager/licenses/LICENSE-poi.txt
  licenses/inlong-manager/notices/NOTICE-poi.txt
  pom.xml
Labels: component/manager

#7811 [INLONG-7810][Manager] Fix no token field in the return result of getAllConfig
  inlong-common/src/main/java/org/apache/inlong/common/pojo/dataproxy/CacheClusterObject.java
  inlong-manager/manager-dao/src/main/resources/mappers/ClusterSetMapper.xml
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/dataproxy/CacheCluster.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/repository/DataProxyConfigRepository.java
Labels: component/manager

#7817 [INLONG-7815][DataProxy] Get authorization information from token field
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/loader/ManagerCacheClusterConfigLoader.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/pojo/CacheClusterConfig.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/mq/pulsar/PulsarHandler.java
Labels: component/dataproxy

#7814 [INLONG-7813][Sort] Fix the initialize error of DocumentType for ES6
  inlong-sort/sort-connectors/elasticsearch-6/src/main/java/org/apache/inlong/sort/elasticsearch6/table/Elasticsearch6DynamicSink.java
Labels: component/sort

#7794 [INLONG-7790][Sort] Capture newly added tables when setting "scan.newly-added-table.enabled=true" and "scan.startup.mode=latest-offset"
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/source/reader/MySqlSourceReader.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/source/utils/TableDiscoveryUtils.java
Labels: component/sort

#7580 [INLONG-7249][Sort] JDBC accurate dirty data archive and metric calculation
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/dirty/sink/log/LogDirtySink.java
  inlong-sort/sort-connectors/base/src/test/java/org/apache/inlong/sort/base/dirty/RegexReplaceTest.java
  inlong-sort/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/internal/JdbcBatchingOutputFormat.java
  inlong-sort/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/internal/JdbcMultiBatchingOutputFormat.java
  inlong-sort/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/internal/TableMetricStatementExecutor.java
Labels: component/sort

#7827 [INLONG-7826][Dashboard] When the Clickhouse sink engine is ReplicatedMergeTree, it supports filling in the life cycle
  inlong-dashboard/src/plugins/sinks/defaults/ClickHouse.ts
Labels: component/dashboard

#7838 [INLONG-7837][Manager] Fix the Admin user cannot modify streamSource when it is not the responsible person
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/group/GroupCheckService.java
Labels: component/manager

#7836 [INLONG-7835][Manager] Support remove the permission when delete user
  inlong-manager/manager-dao/src/main/resources/mappers/InlongClusterTagEntityMapper.xml
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/cluster/ClusterTagPageRequest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/user/UserRequest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/user/UserServiceImpl.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/AnnoController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/InlongClusterController.java
Labels: component/manager

#7842 [INLONG-7841][Manager] Support header style and font when exporting Excel file
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/tool/excel/ExcelTool.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/tool/excel/annotation/ExcelField.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/stream/StreamField.java
Labels: component/manager

#7845 [INLONG-7844][Manager] Support to set cluster when create table for clickhouse
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sink/ck/ClickHouseSink.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sink/ck/ClickHouseSinkDTO.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sink/ck/ClickHouseSinkRequest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sink/ck/ClickHouseTableInfo.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/sink/ck/ClickHouseSqlBuilder.java
Labels: component/manager

#7848 [INLONG-7847][Agent] Fix failure to create mysql reader
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/BinlogSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/BinlogReader.java
Labels: component/agent

#7859 [INLONG-7857][Sort] Fix duplicated chunk happens when open scan-newly-added-table in mysql-cdc
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/source/assigners/MySqlSnapshotSplitAssigner.java
Labels: component/sort

#7861 [INLONG-7843][Manager] Creating the schema of StreamSource by importing an Excel file
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/tool/excel/ExcelTool.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/stream/InlongStreamService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/stream/InlongStreamServiceImpl.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/InlongStreamController.java
Labels: component/manager

#7863 [INLONG-7825][Sort] Fix cannot output ddl statement of captured tables
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/Constants.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/source/reader/MySqlRecordEmitter.java
Labels: component/sort

#7865 [INLONG-7858][Sort] Fix Oracle CDC fetch two different db name for the same table
  inlong-sort/sort-connectors/oracle-cdc/src/main/java/org/apache/inlong/sort/cdc/oracle/source/utils/OracleConnectionUtils.java
Labels: component/sort

#7868 [INLONG-7828][Sort] Mysql CDC check the availability of binlog based on gitd firstly
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/debezium/task/context/StatefulTaskContext.java
Labels: component/sort

#7851 [INLONG-7850][Sort] Add support for extracting ddl statement and operation from origin data
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/format/AbstractDynamicSchemaFormat.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/format/CanalJsonDynamicSchemaFormat.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/format/DebeziumJsonDynamicSchemaFormat.java
Labels: component/sort

#7869 [INLONG-7867][Manager] Support data validation when importing Excel file
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/tool/excel/ExcelTool.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/tool/excel/validator/ExcelCellValidator.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/tool/excel/validator/NonEmptyCellValidator.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/util/Preconditions.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/stream/StreamFieldTypeCellValidator.java
Labels: component/manager

#7856 [INLONG-7855][Sort] Fix Sort hang up reader in snapshot phase when reducing parallelism
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/debezium/task/MySqlBinlogSplitReadTask.java
Labels: component/sort

#7872 [INLONG-7871][Dashboard] MySQL source supports filling in the database name whitelist
  inlong-dashboard/src/plugins/sources/defaults/MySQLBinlog.ts
  inlong-dashboard/src/ui/locales/cn.json
  inlong-dashboard/src/ui/locales/en.json
Labels: component/dashboard

#7832 [INLONG-7829][Sort] Add mini-batch pre aggregate by partition when ingesting data into iceberg
  inlong-sort/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/FlinkDynamicTableFactory.java
  inlong-sort/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/IcebergTableSink.java
  inlong-sort/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/FlinkSink.java
  inlong-sort/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/GroupedPartitionedDeltaWriter.java
  inlong-sort/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/GroupedPartitionedFanoutWriter.java
  inlong-sort/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/IcebergMiniBatchGroupOperator.java
  inlong-sort/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/RowDataTaskWriterFactory.java
  inlong-sort/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/multiple/IcebergMultipleStreamWriter.java
Labels: component/sort

#7864 [INLONG-6668][Sort] Reusing existing constants
  inlong-common/src/main/java/org/apache/inlong/common/constant/Constants.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/flink/enums/Constants.java
  inlong-manager/manager-plugins/src/main/java/org/apache/inlong/manager/plugin/util/FlinkConfiguration.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/configuration/Constants.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/Constants.java
Labels: component/manager, component/sort

#7870 [INLONG-7862][Sort] MongoCDC supports disabling the Changelog Normalize operator
  inlong-sort/sort-connectors/mongodb-cdc/src/main/java/org/apache/inlong/sort/cdc/mongodb/table/MongoDBTableSource.java
  inlong-sort/sort-connectors/mongodb-cdc/src/main/java/org/apache/inlong/sort/cdc/mongodb/table/MongoDBTableSourceFactory.java
Labels: component/sort

#7846 [INLONG-7660][Sort] Support DDL model for MySQL connector when running in all migrate mode
  inlong-common/pom.xml
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/ddl/Utils/ColumnUtils.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/ddl/enums/AlterType.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/ddl/enums/IndexType.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/ddl/enums/OperationType.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/ddl/enums/PositionType.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/ddl/expressions/AlterColumn.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/ddl/expressions/Column.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/ddl/expressions/Position.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/ddl/indexes/Index.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/ddl/operations/AlterOperation.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/ddl/operations/CreateTableOperation.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/ddl/operations/DropTableOperation.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/ddl/operations/Operation.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/ddl/operations/RenameTableOperation.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/ddl/operations/TruncateTableOperation.java
  inlong-sort/sort-connectors/cdc-base/src/main/java/org/apache/inlong/sort/cdc/base/debezium/table/RowDataDebeziumDeserializeSchema.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/source/reader/MySqlRecordEmitter.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/table/MySqlReadableMetadata.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/utils/MetaDataUtils.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/utils/OperationUtils.java
  inlong-sort/sort-connectors/mysql-cdc/src/test/java/org/apache/inlong/sort/cdc/TestOperation.java
  inlong-sort/sort-formats/format-json/pom.xml
  inlong-sort/sort-formats/format-json/src/main/java/org/apache/inlong/sort/formats/json/canal/CanalJson.java
  inlong-sort/sort-formats/format-json/src/main/java/org/apache/inlong/sort/formats/json/debezium/DebeziumJson.java
  inlong-sort/sort-formats/format-json/src/test/java/org/apache/inlong/sort/formats/json/canal/CanalJsonSerializationTest.java
  inlong-sort/sort-formats/format-json/src/test/java/org/apache/inlong/sort/formats/json/canal/DebeziumJsonSerializationTest.java
  licenses/inlong-sort-connectors/LICENSE
  pom.xml
Labels: component/sort

#7884 [INLONG-7883][Manager] Invalidate user session when deleting user
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/user/UserServiceImpl.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/auth/ShiroConfig.java
Labels: component/manager

#7889 [INLONG-7888][Manager] Fix the empty fields in lightweight task
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/util/FieldInfoUtils.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/util/TransformNodeUtils.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/sort/DefaultSortConfigOperator.java
Labels: component/manager

#7750 [INLONG-7554][Sort] MySQL CDC supports parsing gh-ost records
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/Constants.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/source/MySqlSourceBuilder.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/source/config/MySqlSourceConfig.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/source/config/MySqlSourceConfigFactory.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/source/reader/MySqlRecordEmitter.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/source/split/MySqlBinlogSplit.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/source/split/MySqlBinlogSplitState.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/source/split/MySqlSplitSerializer.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/source/utils/GhostUtils.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/source/utils/RecordUtils.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/table/MySqlTableInlongSourceFactory.java
  inlong-sort/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/cdc/mysql/table/MySqlTableSource.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/AllMigrateTest.java
Labels: component/sort

#7896 [INLONG-7895][Manager] Support field description when parsing field by SQL
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/StreamSinkServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/stream/InlongStreamServiceImpl.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/stream/InlongStreamTest.java
Labels: component/manager

#7899 [INLONG-7898][DataProxy] Clean up useless configuration files in the ConfigManager class
  inlong-dataproxy/bin/dataproxy-start.sh
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/ConfigManager.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/ServerMessageHandler.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/SimpleMessageHandler.java
  inlong-dataproxy/dataproxy-source/src/test/resources/dc_mapping.properties
  inlong-dataproxy/dataproxy-source/src/test/resources/transfer.properties
  inlong-dataproxy/dataproxy-source/src/test/resources/tube_switch.properties
Labels: component/dataproxy

#7897 [INLONG-7892][Manager] Fix the problem multiple times generating approval slips
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/GroupStatus.java
Labels: component/manager

#7902 [INLONG-7901][Manager] Fix streams cannot be queried by responsible person
  inlong-manager/manager-dao/src/main/resources/mappers/InlongStreamEntityMapper.xml
Labels: component/manager

#7894 [INLONG-7893][Manager] Support field description when parsing field by JSON
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/consts/InlongConstants.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/StreamSinkServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/stream/InlongStreamServiceImpl.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/stream/InlongStreamTest.java
Labels: component/manager

#7891 [INLONG-7890][Manager] Add checks for unmodifiable data_node_name and cluster_name
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/DataNodeEntity.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/InlongClusterEntity.java
  inlong-manager/manager-dao/src/main/resources/mappers/DataNodeEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/InlongClusterEntityMapper.xml
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/cluster/ClusterInfo.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/cluster/ClusterPageRequest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/cluster/ClusterRequest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/node/DataNodeInfo.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/node/DataNodePageRequest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/node/DataNodeRequest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/InlongClusterServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/node/DataNodeServiceImpl.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/cluster/InlongClusterServiceTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/impl/DataNodeServiceTest.java
  inlong-manager/manager-test/src/main/resources/h2/apache_inlong_manager.sql
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
  inlong-manager/manager-web/sql/changes-1.7.0.sql
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/StreamSinkController.java
  inlong-manager/manager-web/src/test/java/org/apache/inlong/manager/web/controller/DataNodeControllerTest.java
Labels: component/manager

#7916 [INLONG-7915][Dashboard] Clickhouse sink engine field optimization
  inlong-dashboard/src/plugins/clusters/common/ClusterDefaultInfo.ts
  inlong-dashboard/src/plugins/nodes/common/NodeDefaultInfo.ts
  inlong-dashboard/src/plugins/sinks/defaults/ClickHouse.ts
  inlong-dashboard/src/ui/components/NodeSelect/index.tsx
  inlong-dashboard/src/ui/pages/ProcessDetail/GroupConfig.tsx
Labels: component/dashboard

#7920 [INLONG-7918][Dashboard] File source cluster name is displayed as displayName
  inlong-dashboard/src/plugins/sources/defaults/File.ts
Labels: component/dashboard

#7917 [INLONG-7909][Sort] Fix Oracle CDC cannot capture ddl changes
  inlong-sort/sort-connectors/oracle-cdc/pom.xml
  inlong-sort/sort-connectors/oracle-cdc/src/main/java/io/debezium/connector/oracle/logminer/LogMinerQueryBuilder.java
  inlong-sort/sort-connectors/oracle-cdc/src/main/java/io/debezium/connector/oracle/logminer/LogMinerStreamingChangeEventSource.java
  licenses/inlong-sort-connectors/LICENSE
Labels: component/sort

#7928 [INLONG-7927][Dashboard] Optimize the display of data type
  inlong-dashboard/src/plugins/streams/common/StreamDefaultInfo.ts
Labels: component/dashboard

#7930 [INLONG-7929][Dashboard] The select box cannot be triggered when the form is not entered
  inlong-dashboard/src/plugins/sinks/defaults/ClickHouse.ts
  inlong-dashboard/src/plugins/sinks/defaults/Doris.ts
  inlong-dashboard/src/plugins/sinks/defaults/Elasticsearch.ts
  inlong-dashboard/src/plugins/sinks/defaults/Greenplum.ts
  inlong-dashboard/src/plugins/sinks/defaults/HBase.ts
  inlong-dashboard/src/plugins/sinks/defaults/Hive.ts
  inlong-dashboard/src/plugins/sinks/defaults/Hudi.ts
  inlong-dashboard/src/plugins/sinks/defaults/Iceberg.ts
  inlong-dashboard/src/plugins/sinks/defaults/Kudu.ts
  inlong-dashboard/src/plugins/sinks/defaults/MySQL.ts
  inlong-dashboard/src/plugins/sinks/defaults/Oracle.ts
  inlong-dashboard/src/plugins/sinks/defaults/PostgreSQL.ts
  inlong-dashboard/src/plugins/sinks/defaults/Redis.ts
  inlong-dashboard/src/plugins/sinks/defaults/SQLServer.ts
  inlong-dashboard/src/plugins/sinks/defaults/StarRocks.ts
  inlong-dashboard/src/plugins/sinks/defaults/TDSQLPostgreSQL.ts
  inlong-dashboard/src/ui/locales/cn.json
  inlong-dashboard/src/ui/locales/en.json
Labels: component/dashboard

#7907 [INLONG-7906][Sort] Improve logic of calculation object byte size
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/metric/SinkMetricData.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/metric/SourceMetricData.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/metric/sub/SinkTableMetricData.java
  inlong-sort/sort-connectors/base/src/main/java/org/apache/inlong/sort/base/util/CalculateObjectSizeUtils.java
  inlong-sort/sort-connectors/base/src/test/java/org/apache/inlong/sort/base/util/CalculateObjectSizeUtilsTest.java
  inlong-sort/sort-connectors/doris/src/main/java/org/apache/inlong/sort/doris/table/DorisDynamicSchemaOutputFormat.java
  inlong-sort/sort-connectors/filesystem/src/main/java/org/apache/inlong/sort/filesystem/stream/AbstractStreamingWriter.java
  inlong-sort/sort-connectors/hbase/src/main/java/org/apache/inlong/sort/hbase/sink/HBaseSinkFunction.java
  inlong-sort/sort-connectors/hive/src/main/java/org/apache/inlong/sort/hive/filesystem/AbstractStreamingWriter.java
  inlong-sort/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/multiple/DynamicSchemaHandleOperator.java
  inlong-sort/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/multiple/IcebergMultipleStreamWriter.java
  inlong-sort/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/internal/JdbcBatchingOutputFormat.java
  inlong-sort/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/internal/TableMetricStatementExecutor.java
Labels: component/sort

#7944 [INLONG-7941][Manager][Dashborad] Add param to distinguish lightweight
  inlong-dashboard/src/ui/pages/GroupDashboard/index.tsx
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/InlongGroupEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/mappers/InlongGroupEntityMapper.xml
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/group/InlongGroupPageRequest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/group/InlongGroupService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/group/InlongGroupServiceImpl.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/InlongGroupController.java
Labels: component/manager, component/dashboard

#7935 [INLONG-7934][Manager] Optimize the serializationType to support debezium json
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/mongodb/MongoDBSourceRequest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/oracle/OracleSourceRequest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/postgresql/PostgreSQLSourceRequest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/sqlserver/SQLServerSourceRequest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/AbstractSourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/kafka/KafkaSourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/pulsar/PulsarSourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/tubemq/TubeMQSourceOperator.java
Labels: component/manager

#7860 [INLONG-7789][Dashboard] Support create stream fields by statement
  inlong-dashboard/src/plugins/streams/common/StreamDefaultInfo.ts
  inlong-dashboard/src/ui/components/EditableTable/index.tsx
  inlong-dashboard/src/ui/components/FieldParseModule/index.tsx
  inlong-dashboard/src/ui/locales/cn.json
  inlong-dashboard/src/ui/locales/en.json
Labels: component/dashboard

#7942 [INLONG-7931][DataProxy] Optimize common.properties related control mechanism
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/AuthUtils.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/CommonConfigHolder.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/ConfigManager.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/DefaultManagerIpListParser.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/IManagerIpListParser.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/RemoteConfigManager.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/holder/CommonPropertiesHolder.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/loader/ClassResourceCommonPropertiesLoader.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/loader/CommonPropertiesLoader.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/consts/ConfigConstants.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/heartbeat/HeartbeatManager.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/http/HttpBaseSource.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/metrics/DataProxyMetricItem.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/metrics/DataProxyMetricItemSet.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/metrics/audit/AuditUtils.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/metrics/prometheus/PrometheusMetricListener.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/node/Application.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/common/SinkContext.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/mq/MessageQueueZoneSinkContext.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/BaseSource.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/ServerMessageHandler.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/SourceContext.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/tcp/InlongTcpChannelHandler.java
  inlong-dataproxy/dataproxy-source/src/test/java/org/apache/inlong/dataproxy/config/holder/TestCommonConfigHolder.java
Labels: component/dataproxy
