Repository apache/inlong, pull requests merged in 2024-05, with the labels that each got.

#10106 [INLONG-10105][Manager] Fix sort standalone get kafka config error
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/node/kafka/KafkaDataNodeOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/kafka/KafkaSinkOperator.java
Labels: component/manager

#10116 [INLONG-10115][Agent] Change the offset save format from long to string
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/conf/OffsetProfile.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/constant/TaskConstants.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/message/file/OffsetAckInfo.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/message/file/ProxyMessage.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/KafkaSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/LogFileSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/MongoDBSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/PulsarSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/file/AbstractSource.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/sinks/filecollect/TestSenderManager.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/sources/TestLogFileSource.java
Labels: component/agent

#10121 [INLONG-10120][CI] Update the actions/upload-artifact to V4
  .github/workflows/ci_build.yml
  .github/workflows/ci_ut.yml
  .github/workflows/ci_ut_flink13.yml
  .github/workflows/ci_ut_flink15.yml
Labels: service/ci

#10123 [INLONG-10122][Audit] Update the apache_inlong_audit.sql to apache_inlong_audit_mysql.sql
  bin/inlong-daemon
  docker/docker-compose/README.md
  inlong-audit/audit-docker/audit-docker.sh
  inlong-distribution/src/main/assemblies/release.xml
Labels: component/audit, service/docker

#10139 [INLONG-10138][CI] Bump actions/checkout@v3, actions/setup-java@v3, actions/cache@v3 to v4
  .github/workflows/ci_build.yml
  .github/workflows/ci_chart_test.yml
  .github/workflows/ci_check_format.yml
  .github/workflows/ci_check_license.yml
  .github/workflows/ci_check_pr_title.yml
  .github/workflows/ci_docker.yml
  .github/workflows/ci_ut.yml
  .github/workflows/ci_ut_flink13.yml
  .github/workflows/ci_ut_flink15.yml
  .github/workflows/codeql_analysis.yml
Labels: service/ci

#10142 [INLONG-10141][Manager] Data preview supports returning header and specific field information for inlong msg v1
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/message/PbMsgDeserializeOperator.java
Labels: component/manager

#10143 [INLONG-10130][SDK] Transform SQL support string concat function
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/ConcatFunction.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/NowFunction.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/operator/OperatorTools.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/TestTransformProcessor.java
Labels: component/sdk

#10137 [INLONG-10135][Manager] Move inlongCompressType to clustertag configuration
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/ClusterSetMapper.java
  inlong-manager/manager-dao/src/main/resources/mappers/ClusterSetMapper.xml
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/cluster/ClusterTagRequest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/cluster/ClusterTagResponse.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/cluster/InlongClusterTagExtParam.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/stream/InlongStreamBriefInfo.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/stream/InlongStreamExtParam.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/stream/InlongStreamInfo.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/stream/InlongStreamRequest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/InlongClusterServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/repository/DataProxyConfigRepository.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/repository/DataProxyConfigRepositoryV2.java
Labels: component/manager

#10134 [INLONG-10132][Audit] Clean up ElasticSearch and ClickHouse related code of audit-store
  inlong-audit/audit-docker/Dockerfile
  inlong-audit/audit-docker/audit-docker.sh
  inlong-audit/audit-service/pom.xml
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/cache/RealTimeQuery.java
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/config/OpenApiConstants.java
  inlong-audit/audit-store/src/main/java/org/apache/inlong/audit/config/ClickHouseConfig.java
  inlong-audit/audit-store/src/main/java/org/apache/inlong/audit/config/DataServerConfig.java
  inlong-audit/audit-store/src/main/java/org/apache/inlong/audit/config/ElasticsearchConfig.java
  inlong-audit/audit-store/src/main/java/org/apache/inlong/audit/config/StoreConfig.java
  inlong-audit/audit-store/src/main/java/org/apache/inlong/audit/db/DruidConfig.java
  inlong-audit/audit-store/src/main/java/org/apache/inlong/audit/db/DruidDataSourceProperties.java
  inlong-audit/audit-store/src/main/java/org/apache/inlong/audit/db/dao/AuditDataDao.java
  inlong-audit/audit-store/src/main/java/org/apache/inlong/audit/db/entities/AuditDataPo.java
  inlong-audit/audit-store/src/main/java/org/apache/inlong/audit/db/entities/ClickHouseDataPo.java
  inlong-audit/audit-store/src/main/java/org/apache/inlong/audit/db/entities/ESDataPo.java
  inlong-audit/audit-store/src/main/java/org/apache/inlong/audit/service/AuditMsgConsumerServer.java
  inlong-audit/audit-store/src/main/java/org/apache/inlong/audit/service/ClickHouseService.java
  inlong-audit/audit-store/src/main/java/org/apache/inlong/audit/service/ElasticsearchService.java
  inlong-audit/audit-store/src/main/java/org/apache/inlong/audit/service/MySqlService.java
  inlong-audit/audit-store/src/main/resources/mapper/AuditDataDao.xml
  inlong-audit/audit-store/src/test/java/org/apache/inlong/audit/service/ElasticsearchServiceTest.java
  inlong-audit/audit-store/src/test/java/org/apache/inlong/audit/service/consume/KafkaConsumeTest.java
  inlong-audit/audit-store/src/test/java/org/apache/inlong/audit/service/consume/TubeConsumeTest.java
  inlong-audit/audit-store/src/test/resources/mapper/AuditDataDao.xml
  inlong-audit/conf/application.properties
  inlong-audit/conf/mapper/AuditDataDao.xml
  inlong-audit/sql/apache_inlong_audit_clickhouse.sql
  inlong-audit/sql/apache_inlong_audit_mysql.sql
Labels: component/audit, service/docker

#10092 [INLONG-10091][Sort] Add json format for 1.18
  inlong-distribution/pom.xml
  inlong-sort/pom.xml
  inlong-sort/sort-core/pom.xml
  inlong-sort/sort-dist/pom.xml
  inlong-sort/sort-flink/base/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.18/sort-connectors/jdbc/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
  inlong-sort/sort-flink/sort-flink-v1.18/sort-connectors/pulsar/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
  inlong-sort/sort-formats/format-common/src/main/java/org/apache/inlong/sort/formats/base/TableFormatUtils.java
  inlong-sort/sort-formats/format-row/format-json-v1.18/pom.xml
  inlong-sort/sort-formats/format-row/format-json-v1.18/src/main/java/org/apache/inlong/sort/formats/json/MysqlBinLogData.java
  inlong-sort/sort-formats/format-row/format-json-v1.18/src/main/java/org/apache/inlong/sort/formats/json/canal/CanalJson.java
  inlong-sort/sort-formats/format-row/format-json-v1.18/src/main/java/org/apache/inlong/sort/formats/json/canal/CanalJsonDecodingFormat.java
  inlong-sort/sort-formats/format-row/format-json-v1.18/src/main/java/org/apache/inlong/sort/formats/json/canal/CanalJsonDeserializationSchema.java
  inlong-sort/sort-formats/format-row/format-json-v1.18/src/main/java/org/apache/inlong/sort/formats/json/canal/CanalJsonEnhancedDecodingFormat.java
  inlong-sort/sort-formats/format-row/format-json-v1.18/src/main/java/org/apache/inlong/sort/formats/json/canal/CanalJsonEnhancedDeserializationSchema.java
  inlong-sort/sort-formats/format-row/format-json-v1.18/src/main/java/org/apache/inlong/sort/formats/json/canal/CanalJsonEnhancedEncodingFormat.java
  inlong-sort/sort-formats/format-row/format-json-v1.18/src/main/java/org/apache/inlong/sort/formats/json/canal/CanalJsonEnhancedFormatFactory.java
  inlong-sort/sort-formats/format-row/format-json-v1.18/src/main/java/org/apache/inlong/sort/formats/json/canal/CanalJsonEnhancedSerializationSchema.java
  inlong-sort/sort-formats/format-row/format-json-v1.18/src/main/java/org/apache/inlong/sort/formats/json/canal/CanalJsonSerializationSchema.java
  inlong-sort/sort-formats/format-row/format-json-v1.18/src/main/java/org/apache/inlong/sort/formats/json/canal/CanalUtils.java
  inlong-sort/sort-formats/format-row/format-json-v1.18/src/main/java/org/apache/inlong/sort/formats/json/debezium/DebeziumJson.java
  inlong-sort/sort-formats/format-row/format-json-v1.18/src/main/java/org/apache/inlong/sort/formats/json/debezium/DebeziumJsonDecodingFormat.java
  inlong-sort/sort-formats/format-row/format-json-v1.18/src/main/java/org/apache/inlong/sort/formats/json/debezium/DebeziumJsonDeserializationSchema.java
  inlong-sort/sort-formats/format-row/format-json-v1.18/src/main/java/org/apache/inlong/sort/formats/json/debezium/DebeziumUtils.java
  inlong-sort/sort-formats/format-row/format-json-v1.18/src/main/java/org/apache/inlong/sort/formats/json/utils/FormatJsonUtil.java
  inlong-sort/sort-formats/format-row/format-json-v1.18/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
  inlong-sort/sort-formats/format-row/format-json-v1.18/src/test/java/org/apache/inlong/sort/formats/json/canal/CanalJsonEnhancedFormatFactoryTest.java
  inlong-sort/sort-formats/format-row/format-json-v1.18/src/test/java/org/apache/inlong/sort/formats/json/canal/CanalJsonEnhancedSerDeSchemaTest.java
  inlong-sort/sort-formats/format-row/format-json-v1.18/src/test/java/org/apache/inlong/sort/formats/json/canal/CanalJsonSerializationTest.java
  inlong-sort/sort-formats/format-row/format-json-v1.18/src/test/java/org/apache/inlong/sort/formats/json/canal/DebeziumJsonSerializationTest.java
  inlong-sort/sort-formats/format-row/format-json-v1.18/src/test/resources/canal-json-inlong-data.txt
  inlong-sort/sort-formats/format-row/format-json-v1.18/src/test/resources/log4j2-test.properties
  inlong-sort/sort-formats/format-row/pom.xml
  inlong-sort/sort-formats/pom.xml
Labels: component/sort

#10151 [INLONG-10147][Audit] Less usage costs when the Audit uses the MySQL as storage
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/service/ConfigService.java
Labels: component/audit

#10153 [INLONG-10150][Manager] Remove metrics. audit. proxy. hosts from flink-sort-plugins. properties
  docker/docker-compose/docker-compose.yml
  inlong-manager/manager-docker/Dockerfile
  inlong-manager/manager-docker/manager-docker.sh
  inlong-manager/manager-plugins/base/src/main/java/org/apache/inlong/manager/plugin/flink/FlinkService.java
  inlong-manager/manager-plugins/base/src/main/java/org/apache/inlong/manager/plugin/flink/dto/FlinkConfig.java
  inlong-manager/manager-plugins/base/src/main/java/org/apache/inlong/manager/plugin/util/FlinkUtils.java
  inlong-manager/manager-plugins/base/src/main/resources/flink-sort-plugin.properties
Labels: component/manager, service/docker

#10155 [INLONG-10154][SDK] Support to transform CSV/KV data to CSV/KV data without field list configuration
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/decode/CsvSourceDecoder.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/encode/CsvSinkEncoder.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/encode/DefaultSinkData.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/encode/KvSinkEncoder.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/encode/SinkData.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/pojo/CsvSinkInfo.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/pojo/CsvSourceInfo.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/pojo/KvSinkInfo.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/pojo/KvSourceInfo.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/TransformProcessor.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/operator/OperatorTools.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/TestTransformProcessor.java
Labels: component/sdk

#10158 [INLONG-10157][Audit] Use a custom thread pool instead of the system thread pool
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/config/ConfigConstants.java
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/config/OpenApiConstants.java
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/source/JdbcSource.java
Labels: component/audit

#10156 [INLONG-10152][Sort] Refactor MetricOption code structure.
  inlong-sort/sort-flink/base/src/main/java/org/apache/inlong/sort/base/metric/MetricOption.java
  inlong-sort/sort-flink/base/src/main/java/org/apache/inlong/sort/base/metric/SinkMetricData.java
  inlong-sort/sort-flink/base/src/main/java/org/apache/inlong/sort/base/metric/SourceMetricData.java
Labels: component/sort

#10163 [INLONG-10162][DataProxy] Upgrade golang.org/x/net to version 0.23.0.
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-golang/go.mod
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-golang/go.sum
Labels: component/sdk

#10165 [INLONG-10161][DataProxy] Upgrade google.golang.org/protobuf v1.32.0 to v1.34.1
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-golang/go.mod
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-golang/go.sum
Labels: component/sdk

#10172 [INLONG-10171][Audit] Update the standalone deploy scripts for the audit service
  bin/init-config.sh
  bin/inlong-daemon
  conf/inlong.conf
  inlong-audit/audit-docker/Dockerfile
  inlong-audit/conf/application.properties
  inlong-audit/conf/audit-service.properties
  inlong-manager/manager-web/src/main/resources/application-dev.properties
  inlong-manager/manager-web/src/main/resources/application-prod.properties
  inlong-manager/manager-web/src/main/resources/application-test.properties
Labels: component/manager, component/audit, service/docker

#10168 [INLONG-10167][TubeMQ] Upgrade google.golang.org/protobuf v1.23.0 to v1.34.1
  inlong-tubemq/tubemq-client-twins/tubemq-client-go/go.mod
  inlong-tubemq/tubemq-client-twins/tubemq-client-go/go.sum
Labels: component/tubemq

#10170 [INLONG-10169][Manager] Support configure sort cluster for kafka
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/consts/SinkType.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/ClusterType.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/cluster/sort/kafka/SortKafkaClusterInfo.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/cluster/sort/kafka/SortKafkaClusterRequest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/SortClusterOperator.java
Labels: component/manager

#10177 [INLONG-10176][Manager] Fix the problem of sort_config table creation statement error
  inlong-manager/manager-test/src/main/resources/h2/apache_inlong_manager.sql
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
  inlong-manager/manager-web/sql/changes-1.12.0.sql
Labels: component/manager

#10166 [INLONG-10160][Sort] Upgrade elasticsearch version 7.9.2 to 7.17.13
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/ESMultipleSinkTest.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/Elasticsearch7SqlParseTest.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/elasticsearch-7/src/main/java/org/apache/inlong/sort/elasticsearch7/Elasticsearch7ApiCallBridge.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/elasticsearch-7/src/main/java/org/apache/inlong/sort/elasticsearch7/MultipleRowElasticsearchSinkFunction.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/elasticsearch-7/src/main/java/org/apache/inlong/sort/elasticsearch7/RowElasticsearchSinkFunction.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/elasticsearch-7/src/main/java/org/apache/inlong/sort/elasticsearch7/table/Elasticsearch7DynamicSink.java
  licenses/inlong-sort-connectors/LICENSE
  pom.xml
Labels: component/sort

#10178 [INLONG-10124][Script] Update the scripts for standalone deployment
  bin/init-config.sh
  bin/inlong-daemon
  docker/docker-compose/docker-compose.yml
  inlong-audit/bin/service-stop.sh
Labels: component/audit, service/docker

#10182 [INLONG-10181][Manager] Remove useless exceptions for DataNodeOperator.getNodeConfig
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/node/AbstractDataNodeOperator.java
Labels: component/manager

#10185 [INLONG-10184][SDK] The header in ProxyEvent need contain both 'rtms' and 'auditVersion'.
  inlong-sdk/sdk-common/src/main/java/org/apache/inlong/sdk/commons/protocol/ProxyEvent.java
Labels: component/sdk

#10188 [INLONG-10187][Agent] Handle situations where time offset is empty
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/pojo/TaskProfileDto.java
Labels: component/agent

#10192 [INLONG-10091][Agent] Delete the useless code related to 8008 listen port
  docker/docker-compose/docker-compose.yml
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/constant/AgentConstants.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/HeartbeatManager.java
  inlong-agent/agent-docker/Dockerfile
  inlong-agent/agent-docker/README.md
  inlong-agent/conf/agent.properties
Labels: component/agent, service/docker

#10199 [INLONG-10197][Manager] Support OpenAPI for querying audit data
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/openapi/AuditController.java
Labels: component/manager

#10203 [INLONG-10200][Manager] Define module type mapping relationships
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/ModuleType.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/AgentServiceImpl.java
  inlong-manager/manager-web/src/main/resources/application-dev.properties
  inlong-manager/manager-web/src/main/resources/application-prod.properties
  inlong-manager/manager-web/src/main/resources/application-test.properties
Labels: component/manager

#10206 [INLONG-10205][Script] Add the metrics.audit.proxy.hosts for standalone deployment
  bin/init-config.sh
  inlong-audit/audit-store/src/test/resources/application-test.properties
  inlong-manager/manager-web/src/main/resources/application-dev.properties
  inlong-manager/manager-web/src/main/resources/application-prod.properties
  inlong-manager/manager-web/src/main/resources/application-test.properties
Labels: component/manager, component/audit

#10209 [INLONG-10179][DashBoard] Remove the All types In cluster management
  inlong-dashboard/src/plugins/clusters/common/ClusterDefaultInfo.ts
Labels: component/dashboard

#10207 [INLONG-10204][Manager] Kafka sink supports automatic allocation of sort standalone cluster
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/sink/kafka/KafkaResourceOperator.java
Labels: component/manager

#10202 [INLONG-10201][Audit] Renamed configuration variables for clarity
  inlong-audit/audit-common/src/main/java/org/apache/inlong/audit/file/ConfigManager.java
  inlong-audit/audit-docker/audit-docker.sh
  inlong-audit/audit-store/src/main/java/org/apache/inlong/audit/service/AuditMsgConsumerServer.java
  inlong-audit/conf/application.properties
Labels: component/audit, service/docker

#10190 [INLONG-10189][Agent] Handling SDK initialization exceptions
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/plugin/Instance.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/instance/InstanceManager.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/task/TaskManager.java
  inlong-agent/agent-core/src/test/java/org/apache/inlong/agent/core/instance/MockInstance.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/instance/CommonInstance.java
Labels: component/agent

#10211 [INLONG-10210][Agent] Add a script for environment initialization
  inlong-agent/agent-installer/assembly.xml
  inlong-agent/agent-installer/environment/init.sh
Labels: component/agent

#10098 [INLONG-10096][Manager] Support installing agents by SSH
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/InlongClusterNodeEntity.java
  inlong-manager/manager-dao/src/main/resources/mappers/InlongClusterNodeEntityMapper.xml
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/cluster/ClusterNodeRequest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/cluster/ClusterNodeResponse.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/node/AgentClusterNodeInstallOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cmd/CommandExecutor.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cmd/CommandExecutorImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cmd/CommandResult.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cmd/shell/ShellExecutor.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cmd/shell/ShellExecutorImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cmd/shell/ShellTracker.java
  inlong-manager/manager-test/src/main/resources/h2/apache_inlong_manager.sql
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
  inlong-manager/manager-web/sql/changes-1.12.0.sql
  inlong-manager/manager-web/sql/changes-1.13.0.sql
  inlong-manager/manager-web/src/main/resources/application-dev.properties
  inlong-manager/manager-web/src/main/resources/exec_cmd.exp
Labels: component/manager

#10216 [INLONG-10215][DashBoard] Add default value for file data source in data access module
  inlong-dashboard/src/plugins/sources/defaults/File.ts
Labels: component/dashboard

#10217 [INLONG-10076][Manager] Doris data node supports test connections
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/node/DataNodeServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/node/doris/DorisDataNodeOperator.java
Labels: component/manager

#10212 [INLONG-10194][Sort] Sqlserver connector support audit ID
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/sqlserver-cdc/src/main/java/org/apache/inlong/sort/sqlserver/RowDataDebeziumDeserializeSchema.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/sqlserver-cdc/src/main/java/org/apache/inlong/sort/sqlserver/SqlServerTableSource.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/sqlserver-cdc/src/main/java/org/apache/inlong/sort/sqlserver/SqlserverTableFactory.java
  licenses/inlong-sort-connectors/LICENSE
Labels: component/sort

#10219 [INLONG-10213][SDK] SortSDK support unified sort configuration
  inlong-common/src/main/java/org/apache/inlong/common/pojo/sort/dataflow/DataFlowConfig.java
  inlong-common/src/main/java/org/apache/inlong/common/pojo/sort/mq/PulsarClusterConfig.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/listener/queue/ClusterConfigListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/sort/DefaultSortConfigOperator.java
  inlong-sort-standalone/sort-standalone-common/src/main/java/org/apache/inlong/sort/standalone/config/holder/v2/SortConfigHolder.java
  inlong-sort-standalone/sort-standalone-common/src/main/java/org/apache/inlong/sort/standalone/config/loader/SortConfigQueryConsumeConfig.java
Labels: component/manager, component/sort

#10198 [INLONG-10193][Sort] Postgres connector support audit ID
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/postgres-cdc/src/main/java/org/apache/inlong/sort/postgre/PostgreSQLTableFactory.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/postgres-cdc/src/main/java/org/apache/inlong/sort/postgre/PostgreSQLTableSource.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/postgres-cdc/src/main/java/org/apache/inlong/sort/postgre/PostgresValueValidator.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/postgres-cdc/src/main/java/org/apache/inlong/sort/postgre/RowDataDebeziumDeserializeSchema.java
  licenses/inlong-sort-connectors/LICENSE
Labels: component/sort

#10222 [INLONG-10221][SDK] DataProxy SDK of cpp supports automatic installation of log4cplus components
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/CMakeLists.txt
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/build.sh
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-cpp/third_party/CMakeLists.txt
Labels: component/sdk

#10186 [INLONG-10183][Sort] MongoDB connector support audit ID
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/mongodb-cdc/src/main/java/org/apache/inlong/sort/mongodb/MongoDBConnectorDeserializationSchema.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/mongodb-cdc/src/main/java/org/apache/inlong/sort/mongodb/MongoDBTableFactory.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/mongodb-cdc/src/main/java/org/apache/inlong/sort/mongodb/MongoDBTableSource.java
  licenses/inlong-sort-connectors/LICENSE
Labels: component/sort

#10227 [INLONG-10226][Dashboard] Fix audit item search failure
  inlong-dashboard/src/ui/pages/GroupDetail/Audit/config.tsx
  inlong-dashboard/src/ui/pages/ModuleAudit/IdModule/config.tsx
  inlong-dashboard/src/ui/pages/ModuleAudit/IpModule/config.tsx
Labels: component/dashboard

#10180 [INLONG-10159][Sort] Kafka connector support audit ID
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/kafka/src/main/java/org/apache/inlong/sort/kafka/table/DynamicKafkaDeserializationSchema.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/kafka/src/main/java/org/apache/inlong/sort/kafka/table/DynamicKafkaRecordSerializationSchema.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/kafka/src/main/java/org/apache/inlong/sort/kafka/table/KafkaConnectorOptionsUtil.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/kafka/src/main/java/org/apache/inlong/sort/kafka/table/KafkaDynamicSink.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/kafka/src/main/java/org/apache/inlong/sort/kafka/table/KafkaDynamicSource.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/kafka/src/main/java/org/apache/inlong/sort/kafka/table/KafkaDynamicTableFactory.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/kafka/src/main/java/org/apache/inlong/sort/kafka/table/KafkaOptions.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/kafka/src/main/java/org/apache/inlong/sort/kafka/table/ReducingUpsertSink.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/kafka/src/main/java/org/apache/inlong/sort/kafka/table/ReducingUpsertWriter.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/kafka/src/main/java/org/apache/inlong/sort/kafka/table/UpsertKafkaDynamicTableFactory.java
  licenses/inlong-sort-connectors/LICENSE
Labels: component/sort

#10232 [INLONG-10225][Audit] Audit SDK provides the ability to automatically assign and manage Audit ID
  inlong-audit/audit-sdk/README.md
  inlong-audit/audit-sdk/src/main/java/org/apache/inlong/audit/AuditIdEnum.java
  inlong-audit/audit-sdk/src/main/java/org/apache/inlong/audit/AuditReporterImpl.java
  inlong-audit/audit-sdk/src/main/java/org/apache/inlong/audit/util/AuditManagerUtils.java
Labels: component/audit

#10237 [INLONG-10229][Sort] EsSink support unified configuration
  inlong-common/src/main/java/org/apache/inlong/common/pojo/sort/node/NodeConfig.java
  inlong-sort-standalone/sort-standalone-common/src/main/java/org/apache/inlong/sort/standalone/config/holder/v2/SortConfigHolder.java
  inlong-sort-standalone/sort-standalone-common/src/main/java/org/apache/inlong/sort/standalone/config/loader/v2/ClassResourceSortClusterConfigLoader.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/cls/ClsSinkContext.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/elasticsearch/EsIdConfig.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/elasticsearch/EsSink.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/elasticsearch/EsSinkContext.java
  inlong-sort-standalone/sort-standalone-source/src/test/java/SortClusterConfig.conf
  inlong-sort-standalone/sort-standalone-source/src/test/resources/SortClusterConfig.conf
Labels: component/sort

#10234 [INLONG-10233][Manager] Report heartbeat removal port restriction
  inlong-manager/manager-dao/src/main/resources/mappers/InlongClusterNodeEntityMapper.xml
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/heartbeat/HeartbeatManager.java
Labels: component/manager

#10236 [INLONG-10228][Sort] PulsarSink support unified configuration
  inlong-sort-standalone/sort-standalone-common/src/main/java/org/apache/inlong/sort/standalone/config/holder/v2/SortConfigHolder.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/pulsar/PulsarFederationSinkContext.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/pulsar/PulsarFederationWorker.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/pulsar/PulsarIdConfig.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/pulsar/PulsarProducerCluster.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/pulsar/PulsarProducerFederation.java
Labels: component/sort

#10246 [INLONG-10245][Manager] Support setting audit version for file collection
  inlong-common/src/main/java/org/apache/inlong/common/pojo/agent/DataConfig.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/StreamSourceEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/mappers/StreamSourceEntityMapper.xml
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/DataAddTaskRequest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/SourceRequest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/StreamSource.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/file/FileSourceDTO.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/AgentServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/StreamSourceService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/StreamSourceServiceImpl.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/StreamSourceController.java
Labels: component/manager

#10239 [INLONG-10238][Sort] MySQL connector support audit ID
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/mysql/MySqlTableSource.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/mysql/MysqlTableFactory.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/mysql/RowDataDebeziumDeserializeSchema.java
  licenses/inlong-sort-connectors/LICENSE
Labels: component/sort

#10231 [INLONG-10195][Sort] Hudi connector support audit ID
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/hudi/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/hudi/src/main/java/org/apache/inlong/sort/hudi/sink/StreamWriteFunction.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/hudi/src/main/java/org/apache/inlong/sort/hudi/sink/StreamWriteOperator.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/hudi/src/main/java/org/apache/inlong/sort/hudi/sink/append/AppendWriteFunction.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/hudi/src/main/java/org/apache/inlong/sort/hudi/sink/append/AppendWriteOperator.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/hudi/src/main/java/org/apache/inlong/sort/hudi/sink/bucket/BucketStreamWriteFunction.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/hudi/src/main/java/org/apache/inlong/sort/hudi/sink/bucket/BucketStreamWriteOperator.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/hudi/src/main/java/org/apache/inlong/sort/hudi/sink/bulk/BulkInsertWriteFunction.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/hudi/src/main/java/org/apache/inlong/sort/hudi/sink/bulk/BulkInsertWriteOperator.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/hudi/src/main/java/org/apache/inlong/sort/hudi/sink/utils/Pipelines.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/hudi/src/main/java/org/apache/inlong/sort/hudi/table/HoodieTableFactory.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/hudi/src/main/java/org/apache/inlong/sort/hudi/table/HoodieTableSink.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/hudi/src/main/java/org/apache/inlong/sort/hudi/table/sink/HudiTableInlongFactory.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/hudi/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
  licenses/inlong-sort-connectors/LICENSE
Labels: component/sort

#10248 [INLONG-10242][Audit] Audit SDK compatible with InLong Manager to manage audit items
  inlong-audit/audit-sdk/src/main/java/org/apache/inlong/audit/AuditIdEnum.java
  inlong-audit/audit-sdk/src/main/java/org/apache/inlong/audit/AuditReporterImpl.java
  inlong-audit/audit-sdk/src/main/java/org/apache/inlong/audit/entity/AuditInformation.java
  inlong-audit/audit-sdk/src/main/java/org/apache/inlong/audit/entity/AuditType.java
  inlong-audit/audit-sdk/src/main/java/org/apache/inlong/audit/entity/FlowType.java
  inlong-audit/audit-sdk/src/main/java/org/apache/inlong/audit/exceptions/AuditTypeNotExistException.java
  inlong-audit/audit-sdk/src/main/java/org/apache/inlong/audit/util/AuditManagerUtils.java
  inlong-audit/audit-sdk/src/test/java/org/apache/inlong/audit/util/AuditManagerUtilsTest.java
Labels: component/audit

#10250 [INLONG-10249][Manager] Fix the problem of duplicate data appears during data preview
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/queue/pulsar/PulsarOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/queue/pulsar/PulsarQueueResourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/queue/pulsar/QueryLatestMessagesRunnable.java
Labels: component/manager

#10251 [INLONG-9613][TubeMQ] Adjust FATAL type error return content, without carrying class name
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corerpc/utils/MixUtils.java
Labels: component/tubemq

#10253 [INLONG-10252][Docker] Fix the bug can not get the real audit address
  docker/docker-compose/docker-compose.yml
  inlong-manager/manager-docker/Dockerfile
  inlong-manager/manager-docker/manager-docker.sh
Labels: component/manager, service/docker

#10262 [INLONG-10260][Sort] Correct wrong create table statement
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/sink/starrocks/StarRocksSqlBuilder.java
Labels: component/manager

#10264 [INLONG-10263][Audit] Solve the conflict between the jdbc.url parameter of Audit Store and the container environment variable
  inlong-audit/audit-docker/audit-docker.sh
  inlong-audit/audit-store/src/main/java/org/apache/inlong/audit/config/JdbcConfig.java
  inlong-audit/conf/application.properties
Labels: component/audit, service/docker

#10255 [INLONG-10224][Sort] Unified configuration check utils
  inlong-common/src/main/java/org/apache/inlong/common/pojo/sort/SortClusterConfig.java
  inlong-common/src/main/java/org/apache/inlong/common/pojo/sort/SortConfig.java
  inlong-common/src/main/java/org/apache/inlong/common/pojo/sort/SortTaskConfig.java
  inlong-common/src/main/java/org/apache/inlong/common/pojo/sort/dataflow/DataFlowConfig.java
  inlong-common/src/main/java/org/apache/inlong/common/pojo/sort/mq/MqClusterConfig.java
  inlong-common/src/main/java/org/apache/inlong/common/util/ListUtil.java
  inlong-common/src/main/java/org/apache/inlong/common/util/SortConfigUtil.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/listener/queue/ClusterConfigListener.java
Labels: component/manager

#10267 [INLONG-10266][Manager] Fix the problem of password is overwritten when adding field information
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sink/ck/ClickHouseSinkDTO.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sink/doris/DorisSinkDTO.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sink/hive/HiveSinkDTO.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sink/postgresql/PostgreSQLSinkDTO.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sink/starrocks/StarRocksSinkDTO.java
Labels: component/manager

#10273 [INLONG-10272][Sort] Unified configuration check utils support check latest config
  inlong-common/src/main/java/org/apache/inlong/common/pojo/sort/SortClusterConfig.java
  inlong-common/src/main/java/org/apache/inlong/common/pojo/sort/SortConfig.java
  inlong-common/src/main/java/org/apache/inlong/common/pojo/sort/SortTaskConfig.java
  inlong-common/src/main/java/org/apache/inlong/common/pojo/sort/dataflow/DataFlowConfig.java
  inlong-common/src/main/java/org/apache/inlong/common/pojo/sort/dataflow/dataType/KvConfig.java
  inlong-common/src/main/java/org/apache/inlong/common/pojo/sort/mq/MqClusterConfig.java
  inlong-common/src/main/java/org/apache/inlong/common/util/SortConfigUtil.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/entity/InLongTopic.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/fetcher/tube/TubeSingleTopicFetcher.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/impl/QueryConsumeConfigImpl.java
  inlong-sort-standalone/sort-standalone-common/src/main/java/org/apache/inlong/sort/standalone/config/loader/ClassResourceQueryConsumeConfig.java
Labels: component/sort, component/sdk

#10258 [INLONG-10256][DashBoard] Modify the data source IP item of the file data source form in the data access module
  inlong-dashboard/src/core/utils/pattern.ts
  inlong-dashboard/src/plugins/sources/defaults/File.ts
  inlong-dashboard/src/ui/components/MultiSelectWithAll/index.tsx
  inlong-dashboard/src/ui/locales/cn.json
  inlong-dashboard/src/ui/locales/en.json
  inlong-dashboard/src/ui/pages/GroupDetail/DataSources/DetailModal.tsx
Labels: component/dashboard

#10269 [INLONG-10268][Agent] Get the data version from the auditVersion field
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/constant/TaskConstants.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/message/file/ProxyMessageCache.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/pojo/TaskProfileDto.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/instance/InstanceManager.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/task/OffsetManager.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/instance/CommonInstance.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sinks/filecollect/SenderManager.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/file/AbstractSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/task/AbstractTask.java
Labels: component/agent

#10276 [INLONG-10265][Manager] Fix the problem of correct wrong starrocks create table statement
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/sink/starrocks/StarRocksSqlBuilder.java
Labels: component/manager

#10282 [INLONG-10281][Agent] Real time file collection takes the current time as the data time
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/conf/InstanceProfile.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/message/file/ProxyMessageCache.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/task/OffsetManager.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/LogFileSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/file/AbstractSource.java
Labels: component/agent

#10285 [INLONG-10277][Manager] Fix the problem of migration failed when migrating multiple groups to the same tenant
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/tenant/InlongTenantServiceImpl.java
Labels: component/manager

#10293 [INLONG-10290][Manager] Prohibit groups that have not been successfully configured from obtaining dataproxy addresses
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/InlongClusterServiceImpl.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/ServiceBaseTest.java
Labels: component/manager

#10295 [INLONG-10292][SDK] Fix panic in connpool.UpdateEndpoints() of Golang…
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-golang/connpool/connpool.go
Labels: component/sdk

#10294 [INLONG-10291][SDK] Fix incorrect initializing of gnet in Golang SDK
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-golang/dataproxy/client.go
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-golang/go.mod
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-golang/go.sum
Labels: component/sdk

#10301 [INLONG-10297][Sort] Fix mysql connector cannot submit to flink cluster
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/mysql-cdc/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/mysql/MySqlTableSource.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/mysql/RowDataDebeziumDeserializeSchema.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/mysql/source/MySqlSource.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/mysql/source/MySqlSourceBuilder.java
  licenses/inlong-sort-connectors/LICENSE
Labels: component/sort

#10308 [INLONG-10306][Audit] Compatible with scenarios where the Audit Tag is empty
  inlong-audit/audit-sdk/src/main/java/org/apache/inlong/audit/AuditReporterImpl.java
  inlong-audit/audit-sdk/src/test/java/org/apache/inlong/audit/AuditReporterImplTest.java
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/config/SqlConstants.java
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/service/ApiService.java
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/source/JdbcSource.java
Labels: component/audit

#10303 [INLONG-10302][Agent] Add an interface for limiting the number of instances obtained
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/task/AbstractTask.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/task/KafkaTask.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/task/MongoDBTask.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/task/PulsarTask.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/task/file/LogFileTask.java
Labels: component/agent

#10304 [INLONG-10300][Manager] Allow unsubmitted groups to modify mq type
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/group/InlongGroupServiceImpl.java
Labels: component/manager

#10299 [INLONG-10298][Agent] Delete useless code
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/db/CommandDb.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/db/Db.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/db/RocksDbImp.java
  inlong-agent/agent-common/src/test/java/org/apache/inlong/agent/db/TestRocksDbImp.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/task/TaskManager.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/task/TestLogFileTask.java
Labels: component/agent

#10307 [INLONG-10305][Manager] Delete k8s related parameters in file collection
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/file/FileSource.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/file/FileSourceDTO.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/file/FileSourceRequest.java
Labels: component/manager

#10322 [INLONG-10319][Agent] Get audit Id from audit sdk
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/metrics/audit/AuditUtils.java
  inlong-agent/agent-common/src/test/java/org/apache/inlong/agent/metrics/TestAuditUtils.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/task/AbstractTask.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/task/KafkaTask.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/task/MongoDBTask.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/task/PulsarTask.java
  inlong-audit/audit-sdk/src/main/java/org/apache/inlong/audit/MetricIdEnum.java
Labels: component/agent, component/audit

#10316 [INLONG-10314][DashBoard] Add an operation time to the operation log table
  inlong-dashboard/src/ui/locales/cn.json
  inlong-dashboard/src/ui/locales/en.json
  inlong-dashboard/src/ui/pages/GroupDetail/OperationLog/config.tsx
Labels: component/dashboard

#10320 [INLONG-10318][Agent] Add PostgreSQL data source for Agent
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/constant/TaskConstants.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/pojo/PostgreSQLTask.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/pojo/TaskProfileDto.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/instance/PostgreSQLInstance.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/PostgreSQLSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/task/PostgreSQLTask.java
  pom.xml
Labels: component/agent

#10325 [INLONG-10324][Manager] Fix the problem of useExtendedFields in Stream incorrectly overwritten
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/stream/InlongStreamInfo.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/stream/InlongStreamRequest.java
Labels: component/manager
