Repository apache/inlong, pull requests merged in 2024-09, with the labels that each got.

#10928 [INLONG-10927][SDK] Transform supports padding of left and right strings
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/LpadFunction.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/RpadFunction.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/operator/OperatorTools.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/TestTransformStringFunctionsProcessor.java
Labels: component/sdk

#10925 [INLONG-10897][SDK] Transform support DATEDIFF function
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/DateDiffFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/TestTransformTemporalFunctionsProcessor.java
Labels: component/sdk

#10960 [INLONG-10959][SDK] Transform support IFNULL function
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/IfNullFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/TestTransformArithmeticFunctionsProcessor.java
Labels: component/sdk

#10958 [INLONG-10957][SDK] Improve some code structures
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/decode/JsonSourceData.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/decode/JsonSourceDecoder.java
Labels: component/sdk

#10937 [INLONG-10935][SDK] Transform support DAYNAME function
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/DateExtractFunction.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/operator/OperatorTools.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/TestTransformTemporalFunctionsProcessor.java
Labels: component/sdk

#10726 [INLONG-10725][CI] Add UT test workflow for flink 1.18 connectors.
  .github/workflows/ci_ut.yml
  .github/workflows/ci_ut_flink18.yml
  inlong-sort/sort-core/pom.xml
  inlong-sort/sort-dist/pom.xml
  inlong-sort/sort-end-to-end-tests/pom.xml
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.18/pom.xml
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.18/src/test/java/org/apache/inlong/sort/tests/utils/FlinkContainerTestEnv.java
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.18/src/test/java/org/apache/inlong/sort/tests/utils/FlinkContainerTestEnvJRE11.java
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.18/src/test/java/org/apache/inlong/sort/tests/utils/FlinkContainerTestEnvJRE8.java
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.18/src/test/java/org/apache/inlong/sort/tests/utils/PlaceholderResolver.java
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.18/src/test/java/org/apache/inlong/sort/tests/utils/TestUtils.java
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.18/src/test/resources/log4j2-test.properties
  inlong-sort/sort-formats/pom.xml
Labels: component/sort, service/ci

#10978 [INLONG-10977][Manager] Data preview supports escaping for KV data type
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/datatype/KvDataTypeOperator.java
Labels: component/manager

#10976 [INLONG-10975][Manager] Fix the problem of when saving the group, only the existence of the groupid under the current tenant was verified
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/group/InlongGroupServiceImpl.java
Labels: component/manager

#10943 [INLONG-10942][SDK] Add official function names for all Transform functions
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/DateExtractFunction.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/FromUnixTimeFunction.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/SubstringFunction.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/TimestampAddFunction.java
Labels: component/sdk

#10989 [INLONG-10988][Manager] Data preview filters data in tubes based on streamId
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/queue/tubemq/TubeMQOperator.java
Labels: component/manager

#10987 [INLONG-10984][SDK] Transform support RADIANS(x) function
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/RadiansFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/TestTransformArithmeticFunctionsProcessor.java
Labels: component/sdk

#10985 [INLONG-10982][SDK] Improve the test code structure
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/TestTransformProcessor.java
Labels: component/sdk

#10983 [INLONG-10979][SDK] Transform support PI() function
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/PiFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/TestTransformArithmeticFunctionsProcessor.java
Labels: component/sdk

#10972 [INLONG-10971][SDK] Transform support INSERT function
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/InsertFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/TestTransformStringFunctionsProcessor.java
Labels: component/sdk

#10996 [INLONG-10956][SDK] Transform SQL supports SHA encryption algorithm
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/Sha2Function.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/ShaFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/TestTransformArithmeticFunctionsProcessor.java
Labels: component/sdk

#10998 [INLONG-10997][Manager] Fix the problem of incorrect setting of transformSQL in dataflowconfig
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/sort/DefaultSortConfigOperator.java
Labels: component/manager

#10964 [INLONG-10963][SDK] Transform SQL support CONTAINS function.
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/ContainsFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/TestTransformStringFunctionsProcessor.java
Labels: component/sdk

#11016 [INLONG-10893][SDK] Transform SQL support FromBase64 function
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/FromBase64Function.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/TestTransformFromBase64FunctionProcessor.java
Labels: component/sdk

#10950 [INLONG-10940][SDK] Transform SQL support arithmetic functions(Including cot, tanh, cosh, asin, atan and atan2)
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/AsinFunction.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/Atan2Function.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/AtanFunction.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/CoshFunction.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/CotFunction.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/TanhFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/TestTransformArithmeticFunctionsProcessor.java
Labels: component/sdk

#11021 [INLONG-11019][SDK] Optimize the mapping strategy of TransformSQL select field list, allowing the order of select field list and sink field list to be inconsistent
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/encode/DefaultSinkData.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/pojo/TransformConfig.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/TransformProcessor.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/processor/TestCsv2CsvForErrorOrderProcessor.java
Labels: component/sdk

#11014 [INLONG-10995][SDK] Transform SQL support Chr function
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/ChrFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/TestTransformChrFunctionProcessor.java
Labels: component/sdk

#11026 [INLONG-11025][SDK] Delete the integration test class for the test cases of Transform
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/arithmetic/TestArithmeticFunctionsProcessor.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/string/TestStringFunctionsProcessor.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/temporal/TestTemporalFunctionsProcessor.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/operator/TestOperatorsProcessor.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/parser/TestParsersProcessor.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/processor/TestTransformProcessors.java
Labels: component/sdk

#11027 [INLONG-11017][SDK] Transform SQL supports RTRIM and LTRIM Functions
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/LtrimFunction.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/RtrimFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/string/TestLtrimFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/string/TestRtrimFunction.java
Labels: component/sdk

#10871 [INLONG-10867][SDK] Transform support BETWEEN AND operator
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/operator/BetweenAndOperator.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/TestBetweenAndOperator.java
Labels: component/sdk

#11054 [INLONG-11053][SDK] Transform support SPLIT_INDEX function
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/SplitIndexFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/string/TestSplitIndexFunction.java
Labels: component/sdk

#10992 [INLONG-10881][SDK] Transform SQL support concat_ws function
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/ConcatWsFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/TestTransformConcatWsFunctionProcessor.java
Labels: component/sdk

#11038 [INLONG-11034][SDK] Transform support UUID() function
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/UuidFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/string/TestUuidFunction.java
Labels: component/sdk

#11069 [INLONG-11068][Sort] Optimize kafka producer parameters
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/kafka/KafkaProducerCluster.java
Labels: component/sort

#11062 [INLONG-11057][SDK] Transform support E() function
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/EFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/arithmetic/TestEFunction.java
Labels: component/sdk

#11055 [INLONG-11050][SDK] Transform SQL supports bit_length Function
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/BitLengthFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/string/TestBitLengthFunction.java
Labels: component/sdk

#11023 [INLONG-11022][SDK] Transform SQL support ParseUrl function
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/ParseUrlFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/TestParseUrlFunctionProcessor.java
Labels: component/sdk

#11006 [INLONG-10962][SDK] Transform JSON Source Support Multi-Dimensional Array
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/decode/JsonNode.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/decode/JsonSourceData.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/decode/JsonSourceDecoder.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/processor/TestJson2CsvProcessor.java
Labels: component/sdk

#11024 [INLONG-11012][SDK] Transform SQL supports LCASE and UCASE Functions
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/LowerFunction.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/UpperFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/string/TestLcaseFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/string/TestUcaseFunction.java
Labels: component/sdk

#10993 [INLONG-10986][SDK] Transform support REGEXP_MATCHES(str, pattern) function
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/RegexpMatchesFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/string/TestRegexpMatchesFunction.java
Labels: component/sdk

#11009 [INLONG-10938][SDK] Transform SQL supports fuzzy matching of LIKE and NOT LIKE
  inlong-common/src/main/java/org/apache/inlong/common/util/StringUtil.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/FunctionTools.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/parser/LikeParser.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/parser/ParserTools.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/TestLikeParserProcessor.java
Labels: component/sdk

#11039 [INLONG-11036][SDK] Transform update ReplicateFunction
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/RepeatFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/string/TestRepeatFunction.java
Labels: component/sdk

#11061 [INLONG-10900][SDK] Transform SQL support soundex function
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/SoundexFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/string/TestSoundexFunction.java
Labels: component/sdk

#11073 [INLONG-11072][Sort] Optimize EsSink when transform processor is null
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/elasticsearch/EsChannelWorker.java
Labels: component/sort

#11075 [INLONG-11074][Sort] Transform support dummy select when the transform sql is empty
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/TransformProcessor.java
Labels: component/sdk

#11077 [INLONG-11076][Sort] Discard unretryable data when send kafka failed
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/kafka/KafkaProducerCluster.java
Labels: component/sort

#11063 [INLONG-11056][SDK] Transform support RAND_INTEGER() function
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/RandIntegerFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/arithmetic/TestRandIntegerFunction.java
Labels: component/sdk

#11040 [INLONG-11035][SDK] Transform support TRUNCATE() function
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/TruncateFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/arithmetic/TestTruncateFunction.java
Labels: component/sdk

#11041 [INLONG-11037][SDK] Transform support ENCODE() and DECODE() function
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/DecodeFunction.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/EncodeFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/string/TestDecodeFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/string/TestEncodeFunction.java
Labels: component/sdk

#11052 [INLONG-11044][SDK] Transform SQL supports string judgment functions(IS_ALPHA、IS_DECIMAL、IS_DIGIT)
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/IsAlphaFunction.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/IsDecimalFunction.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/IsDigitFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/string/TestIsAlphaFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/string/TestIsDecimalFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/string/TestIsDigitFunction.java
Labels: component/sdk

#11078 [INLONG-11064][SDK] Transform SQL supports NULLIF function
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/NullIfFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/flowcontrol/TestNullIfFunction.java
Labels: component/sdk

#10994 [INLONG-10882][SDK] Transform SQL support ASCII function
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/AsciiFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/string/TestAsciiFunction.java
Labels: component/sdk

#11088 [INLONG-11087][SDK] Fix potential null pointer exception of transform SDK
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/TransformProcessor.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/TranslateFunction.java
Labels: component/sdk

#11032 [INLONG-11008][SDK] Transform SQL support PRINTF function.
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/PrintfFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/string/TestPrintfFunction.java
Labels: component/sdk

#11090 [INLONG-11089][Manager] Optimize Sort filter function
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/util/FilterFunctionUtils.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/transformation/FilterFunction.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/transformation/function/BetweenFunction.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/transformation/function/MultiValueFilterFunction.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/transformation/function/SingleValueFilterFunction.java
Labels: component/manager, component/sort

#11094 [INLONG-11091][Manager] Manager supports in filter function configuration
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/util/FilterFunctionUtils.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/transform/TransformDefinition.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/transform/filter/FilterDefinition.java
  inlong-manager/manager-pojo/src/test/java/org/apache/inlong/manager/pojo/transform/TransformDefinitionTest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/StreamSinkServiceImpl.java
Labels: component/manager

#11096 [INLONG-11095][Manager] Fix the problem of data preview field misalignment
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/stream/QueryMessageRequest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/datatype/CsvDataTypeOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/datatype/KvDataTypeOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/queue/pulsar/PulsarOperator.java
Labels: component/manager

#11098 [INLONG-11097][SDK] Optimize logs of the transform SDK
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/decode/CsvSourceDecoder.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/encode/MapSinkEncoder.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/TransformProcessor.java
Labels: component/sdk

#11101 [INLONG-11100][Sort] The buffer queue is not released after sending messages to elasticsearch
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/channel/BufferQueueChannel.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/elasticsearch/EsChannelWorker.java
Labels: component/sort

#11093 [INLONG-11092][SDK] Fix the issue of inconsistent capitalization of Function names in FunctionalTools
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/FunctionTools.java
Labels: component/sdk

#11048 [INLONG-11018][SDK] Transform SQL supports COMPRESS and UNCOMPRESS Functions
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/CompressFunction.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/UnCompressFunction.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/factory/CompressionAlgorithmFactory.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/factory/UnCompressionAlgorithmFactory.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/handler/CompressHandler.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/handler/DeflaterCompress.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/handler/DeflaterUncompress.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/handler/GzipCompress.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/handler/GzipUncompress.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/handler/UncompressHandler.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/handler/ZipCompress.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/handler/ZipUncompress.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/string/TestCompressFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/string/TestUnCompressFunction.java
Labels: component/sdk

#11082 [INLONG-11030][SDK] Add AVRO formatted data source for Transform
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/decode/AvroNode.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/decode/AvroSourceData.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/decode/AvroSourceDecoder.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/decode/SourceDecoderFactory.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/pojo/AvroSourceInfo.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/processor/AbstractProcessorTestBase.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/processor/TestAvro2CsvProcessor.java
Labels: component/sdk

#11099 [INLONG-11071][Manager] Fix: failed to handle request on inlong_agent_system by admin
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/InlongClusterServiceImpl.java
Labels: component/manager

#11106 [INLONG-11105][SDK] Fix the empty string is converted to a "null"
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/TransformProcessor.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/TestParseUrlFunctionProcessor.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/TestTransformChrFunctionProcessor.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/TestTransformConcatWsFunctionProcessor.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/arithmetic/TestBinFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/arithmetic/TestIfNullFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/arithmetic/TestMd5Function.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/arithmetic/TestSha2Function.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/arithmetic/TestShaFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/flowcontrol/TestNullIfFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/string/TestAsciiFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/string/TestBitLengthFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/string/TestCompressFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/string/TestFromBase64Function.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/string/TestLcaseFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/string/TestLeftFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/string/TestLengthFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/string/TestLocateFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/string/TestLowerFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/string/TestLpadFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/string/TestLtrimFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/string/TestRightFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/string/TestRpadFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/string/TestRtrimFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/string/TestSpaceFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/string/TestSplitIndexFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/string/TestStrcmpFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/string/TestUcaseFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/string/TestUnCompressFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/string/TestUpperFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/temporal/TestDateDiffFunction.java
Labels: component/sdk

#11104 [INLONG-11103][Manager] Data add task supports filtering based on stream
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/file/FileDataAddTaskRequest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/file/FileSource.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/file/FileSourceDTO.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/file/FileSourceRequest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/StreamSourceService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/StreamSourceServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/file/FileSourceOperator.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/StreamSourceController.java
Labels: component/manager

#11116 [INLONG-11110][SDK] Fix incorrect usage of isLocalVisit variable in client example of dataproxy-sdk module
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/example/HttpClientExample.java
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/example/TcpClientExample.java
Labels: component/sdk

#11113 [INLONG-11112][SDK] Transform TRUNCATE() function add pgsql name
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/TruncateFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/arithmetic/TestTruncateFunction.java
Labels: component/sdk

#11120 [INLONG-11117][SDK] Transform SQL supports ISNULL functions
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/IsNullFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/flowcontrol/TestIsNullFunction.java
Labels: component/sdk

#11126 [INLONG-11125][SDK] Transform OperatorTools support parseBytes
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/Sha2Function.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/ShaFunction.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/operator/OperatorTools.java
Labels: component/sdk

#11127 [INLONG-11124][SDK] Transform fix ENCODE() and DECODE() function
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/DecodeFunction.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/EncodeFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/string/TestDecodeFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/string/TestEncodeFunction.java
Labels: component/sdk

#11128 [INLONG-11121][SDK] Transform SQL supports gcd functions
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/GcdFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/arithmetic/TestGcdFunction.java
Labels: component/sdk

#11131 [INLONG-11122][SDK] Transform SQL supports UNHEX function
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/UnHexFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/string/TestUnHexFunction.java
Labels: component/sdk

#11136 [INLONG-11020][SDK] Add BSON formatted data source for Transform
  inlong-sdk/transform-sdk/pom.xml
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/decode/BsonSourceData.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/decode/BsonSourceDecoder.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/decode/SourceDecoderFactory.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/pojo/BsonSourceInfo.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/processor/TestBson2CsvProcessor.java
  pom.xml
Labels: component/sdk

#11140 [INLONG-11139][SDK] Transform support Not Between And operator
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/operator/BetweenAndOperator.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/TestBetweenAndOperator.java
Labels: component/sdk

#11143 [INLONG-11142][Manager] Fix the problem of data add task not scheduled for cleaning
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/StreamSourceEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/mappers/StreamSourceEntityMapper.xml
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/AgentServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/file/FileSourceOperator.java
Labels: component/manager

#11146 [INLONG-11145][Agent] Optimize the logic of supplementing data
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/instance/InstanceManager.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/task/AbstractTask.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/task/file/LogFileTask.java
Labels: component/agent

#11118 [INLONG-11114][SDK] Transform support Trigonometric function in units of degrees
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/AcosdFunction.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/AsindFunction.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/Atan2dFunction.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/AtandFunction.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/CosdFunction.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/CotdFunction.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/SindFunction.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/TandFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/arithmetic/TestAcosdFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/arithmetic/TestAsindFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/arithmetic/TestAtan2dFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/arithmetic/TestAtandFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/arithmetic/TestCosdFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/arithmetic/TestCotdFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/arithmetic/TestSindFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/arithmetic/TestTandFunction.java
Labels: component/sdk

#11111 [INLONG-11109][SDK] Transform SQL supports parsing of IS
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/converter/BooleanConverter.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/operator/IsBooleanOperator.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/operator/IsNullOperator.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/arithmetic/AbstractFunctionArithmeticTestBase.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/operator/TestIsBooleanOperator.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/operator/TestIsNullOperator.java
Labels: component/sdk

#11086 [INLONG-11081][SDK] Transform SQL supports INTERVAL parse
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/parser/AdditionParser.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/parser/IntervalParser.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/parser/SubtractionParser.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/utils/DateUtil.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/parser/AbstractParserTestBase.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/parser/TestAdditionParser.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/parser/TestSubtractionParser.java
Labels: component/sdk

#11162 [INLONG-11161][SDK] Fix TransformSDK UT bug of TestAdditionParser and TestSubtractionParser
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/parser/TestAdditionParser.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/parser/TestSubtractionParser.java
Labels: component/sdk

#11158 [INLONG-11156][SDK] SortSDK support that the token configuration of pulsar cluster is null
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/manager/InlongMultiTopicManager.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/manager/InlongSingleTopicManager.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/manager/InlongTopicManager.java
Labels: component/sdk

#11151 [INLONG-11150][Manager] Fix the problem of incorrect setting of sorTaskName for sink
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/sink/AbstractStandaloneSinkResourceOperator.java
Labels: component/manager

#11141 [INLONG-11123][SDK] Transform SQL supports conv function
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/RadixConvertFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/arithmetic/testRadixConvertFunction.java
Labels: component/sdk

#11108 [INLONG-11107][SDK] Avro Source Data Support Map Type
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/decode/AvroSourceData.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/processor/AbstractProcessorTestBase.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/processor/TestAvro2CsvProcessor.java
Labels: component/sdk

#11102 [INLONG-11060][SDK] Transform support REGEXP_...() related functions
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/RegexpCountFunction.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/RegexpExtractAllFunction.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/RegexpExtractFunction.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/RegexpFunction.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/RegexpInstrFunction.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/RegexpReplaceFunction.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/RegexpSubstrFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/string/TestRegexExtractFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/string/TestRegexpCountFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/string/TestRegexpExtractAllFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/string/TestRegexpFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/string/TestRegexpInstrFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/string/TestRegexpReplaceFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/string/TestRegexpSubstrFunction.java
Labels: component/sdk

#11085 [INLONG-11005][SDK] Add YAML formatted data source for Transform
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/decode/SourceDecoderFactory.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/decode/YamlNode.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/decode/YamlSourceData.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/decode/YamlSourceDecoder.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/pojo/YamlSourceInfo.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/processor/TestYaml2CsvProcessor.java
Labels: component/sdk

#11164 [INLONG-11163][Manager] Fix the problem of adding dataaddtask failed
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/file/FileSourceOperator.java
Labels: component/manager

#11159 [INLONG-11157][Manager] Asynchronous processing agent installation
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/NodeStatus.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/InlongClusterNodeEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/mappers/InlongClusterNodeEntityMapper.xml
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/InlongClusterServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/node/AgentClusterNodeInstallOperator.java
Labels: component/manager

#11180 [INLONG-11179][Agent] Delete useless code
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/message/file/ProxyMessage.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/message/file/ProxyMessageCache.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sinks/ProxySink.java
Labels: component/agent

#11170 [INLONG-11166][SDK] Fixes Mongodb2StarRocksTest failure due to potential dependency conflicts
  inlong-sdk/transform-sdk/pom.xml
  pom.xml
Labels: component/sdk

#11177 [INLONG-11079][SDK] Transform SQL supports DATE_ADD function
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/DateAddFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/temporal/TestDateAddFunction.java
Labels: component/sdk

#11174 [INLONG-11172][SDK] Fix bug in Transform REGEXP_MATCHES() function flags
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/RegexpMatchesFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/string/TestRegexpMatchesFunction.java
Labels: component/sdk

#11173 [INLONG-11168][SDK] Transform support REGEXP_SPLIT_TO_ARRAY() function
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/RegexpSplitToArrayFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/string/TestRegexpSplitToArrayFunction.java
Labels: component/sdk

#11169 [INLONG-11167][SDK] Transform REGEXP function add usage of regexp_like
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/RegexpFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/string/TestRegexpFunction.java
Labels: component/sdk

#11189 [INLONG-11188][Sort] HTTP SortStandalone supports batch sorting capability
  inlong-sort-standalone/sort-standalone-common/src/main/java/org/apache/inlong/sort/standalone/utils/BufferQueue.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/http/DefaultEvent2HttpRequestHandler.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/http/HttpCallback.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/http/HttpChannelWorker.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/http/HttpIdConfig.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/http/HttpOutputChannel.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/http/HttpRequest.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/http/HttpSink.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/http/HttpSinkContext.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/http/HttpSinkFactory.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/http/IEvent2HttpRequestHandler.java
Labels: component/sort

#11160 [INLONG-11152][SDK] Transform SQL supports TIMESTAMPDIFF function
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/TimestampDiffFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/temporal/TestTimestampDiffFunction.java
Labels: component/sdk

#11066 [INLONG-11065][Sort] Provides a method to add openTelemetryAppender for the sort connector
  inlong-sort/sort-flink/base/pom.xml
  inlong-sort/sort-flink/base/src/main/java/org/apache/inlong/sort/base/util/OpenTelemetryLogger.java
  pom.xml
Labels: component/sort

#11191 [INLONG-11190][SDK] Optimize Transform SDK Translate Function
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/TranslateFunction.java
Labels: component/sdk

#11184 [INLONG-11147][SDK] Transform support CASE Operator
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/parser/CaseParser.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/flowcontrol/TestCaseFunction.java
Labels: component/sdk

#11182 [INLONG-11134][SDK] Add Parquet formatted data source for Transform
  inlong-sdk/transform-sdk/pom.xml
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/decode/ParquetInputByteArray.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/decode/ParquetSourceData.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/decode/ParquetSourceDecoder.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/decode/SourceDecoderFactory.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/pojo/ParquetSourceInfo.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/processor/AbstractProcessorTestBase.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/processor/TestParquetCsvProcessor.java
Labels: component/sdk

#11176 [INLONG-11175][Agent] Fix the problem of mqttsource message loss
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/MqttSource.java
Labels: component/agent

#11185 [INLONG-11183][Dashboard] Module audit page indicator items are merged with other items
  inlong-dashboard/src/ui/pages/ModuleAudit/AuditModule/config.tsx
  inlong-dashboard/src/ui/pages/ModuleAudit/AuditModule/index.tsx
  inlong-dashboard/src/ui/pages/ModuleAudit/IdModule/config.tsx
  inlong-dashboard/src/ui/pages/ModuleAudit/IdModule/index.tsx
  inlong-dashboard/src/ui/pages/ModuleAudit/IpModule/config.tsx
  inlong-dashboard/src/ui/pages/ModuleAudit/IpModule/index.tsx
  inlong-dashboard/src/ui/pages/ModuleAudit/index.tsx
Labels: component/dashboard

#11193 [INLONG-11080][SDK] Transform SQL supports DATE_SUB function
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/DateSubFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/temporal/TestDateSubFunction.java
Labels: component/sdk

#11171 [INLONG-11154][SDK] Transform SQL supports TIMESTAMP function
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/TimestampFunction.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/utils/DateUtil.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/temporal/TestTimestampFunction.java
Labels: component/sdk

#11133 [INLONG-11132][SDK] Transform SQL support parsing SIMILAR TO
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/parser/SimilarToParser.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/parser/TestSimilarToParser.java
Labels: component/sdk

#11130 [INLONG-11129][Sort] Enhanced source metric instrumentation for InLong Sort Flink Connector
  inlong-sort/sort-flink/base/src/main/java/org/apache/inlong/sort/base/Constants.java
  inlong-sort/sort-flink/base/src/main/java/org/apache/inlong/sort/base/metric/SourceExactlyMetric.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/postgres-cdc/src/main/java/org/apache/inlong/sort/postgre/DebeziumSourceFunction.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/postgres-cdc/src/main/java/org/apache/inlong/sort/postgre/PostgreSQLSource.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/postgres-cdc/src/main/java/org/apache/inlong/sort/postgre/PostgreSQLTableSource.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/postgres-cdc/src/main/java/org/apache/inlong/sort/postgre/RowDataDebeziumDeserializeSchema.java
Labels: component/sort

#11196 [INLONG-11195][Manager] It is not allowed to modify group information when ordinary users are not responsible
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/group/InlongGroupServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/StreamSinkServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/StreamSourceServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/stream/InlongStreamServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/user/UserService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/user/UserServiceImpl.java
Labels: component/manager

#11198 [INLONG-11197][Dashboard] Add delete button to cluster management and template management
  inlong-dashboard/src/ui/pages/GroupDataTemplate/index.tsx
  inlong-dashboard/src/ui/pages/TenantManagement/config.tsx
  inlong-dashboard/src/ui/pages/TenantManagement/index.tsx
Labels: component/dashboard

#11250 [INLONG-11249][CI] Fix the ci fail due to lack of disk space
  .github/workflows/ci_build.yml
  .github/workflows/ci_docker.yml
  .github/workflows/ci_ut.yml
  .github/workflows/ci_ut_flink13.yml
  .github/workflows/ci_ut_flink15.yml
  .github/workflows/ci_ut_flink18.yml
  .github/workflows/codeql_analysis.yml
Labels: service/ci
