Repository apache/inlong, pull requests merged in 2024-04, with the labels that each got.

#9908 [INLONG-9906][Agent] Add configuration comparison logic and processing of comparison results
  inlong-agent/agent-installer/src/main/java/org/apache/inlong/agent/installer/ModuleManager.java
Labels: component/agent

#9912 [INLONG-9910][Agent] Increase daily verification for process monitoring, reinstallation, or re downloading
  inlong-agent/agent-installer/src/main/java/org/apache/inlong/agent/installer/ModuleManager.java
Labels: component/agent

#9905 [INLONG-9904][Audit] SDK support checkpoint feature
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/metrics/audit/AuditUtils.java
  inlong-audit/audit-sdk/src/main/java/org/apache/inlong/audit/AuditReporterImpl.java
  inlong-audit/audit-sdk/src/main/java/org/apache/inlong/audit/send/SenderManager.java
  inlong-audit/audit-sdk/src/main/java/org/apache/inlong/audit/util/AuditDimensions.java
  inlong-audit/audit-sdk/src/main/java/org/apache/inlong/audit/util/AuditValues.java
  inlong-audit/sql/apache_inlong_audit.sql
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/metrics/audit/AuditUtils.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/metrics/audit/AuditUtils.java
  inlong-sort/sort-flink/base/src/main/java/org/apache/inlong/sort/base/metric/SinkMetricData.java
  inlong-sort/sort-flink/base/src/main/java/org/apache/inlong/sort/base/metric/SourceMetricData.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/stats/audit/AuditUtils.java
Labels: component/tubemq, component/dataproxy, component/agent, component/audit, component/sort

#9911 [INLONG-9907][Audit] Audit-service add codes of entities
  inlong-audit/audit-service/src/main/java/entities/AuditCycle.java
  inlong-audit/audit-service/src/main/java/entities/Request.java
  inlong-audit/audit-service/src/main/java/entities/SourceEntities.java
  inlong-audit/audit-service/src/main/java/entities/StartEndTime.java
  inlong-audit/audit-service/src/main/java/entities/StatData.java
Labels: component/audit

#9916 [INLONG-9909][Agent] Add unit test for installer
  inlong-agent/agent-installer/conf/installer.properties
  inlong-agent/agent-installer/pom.xml
  inlong-agent/agent-installer/src/main/java/org/apache/inlong/agent/installer/ManagerFetcher.java
  inlong-agent/agent-installer/src/main/java/org/apache/inlong/agent/installer/ModuleManager.java
  inlong-agent/agent-installer/src/test/java/installer/BaseTestsHelper.java
  inlong-agent/agent-installer/src/test/java/installer/ModuleActionTypeEnum.java
  inlong-agent/agent-installer/src/test/java/installer/TestModuleManager.java
  inlong-agent/agent-installer/src/test/resources/conf/modules.json
  inlong-agent/agent-installer/src/test/resources/log4j2.xml
Labels: component/agent

#9919 [INLONG-9918][Audit] Audit-service add codes of config
  inlong-audit/audit-service/src/main/java/channel/DataQueue.java
  inlong-audit/audit-service/src/main/java/config/ConfigConstants.java
  inlong-audit/audit-service/src/main/java/config/Configuration.java
  inlong-audit/audit-service/src/main/java/entities/SourceConfig.java
  inlong-audit/audit-service/src/main/java/source/AbstractSource.java
  inlong-audit/audit-service/src/main/java/source/SourceStat.java
Labels: component/audit

#9931 [INLONG-9930][Audit] Add pom for audit-service
  inlong-audit/audit-service/pom.xml
Labels: component/audit

#9924 [INLONG-9913][Sort] Solve end-to-end-tests-v1.13 naming problem and test case run failed.
  .github/workflows/ci_ut_flink13.yml
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.13/pom.xml
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.13/src/test/java/org/apache/inlong/sort/tests/Mysql2ClickHouseTest.java
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.13/src/test/java/org/apache/inlong/sort/tests/Mysql2KafkaTest.java
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.13/src/test/java/org/apache/inlong/sort/tests/utils/FlinkContainerTestEnv.java
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.13/src/test/java/org/apache/inlong/sort/tests/utils/MySqlContainer.java
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.13/src/test/resources/docker/mysql/my.cnf
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.13/src/test/resources/docker/mysql/setup.sql
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.13/src/test/resources/flinkSql/clickhouse_test.sql
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.13/src/test/resources/flinkSql/kafka_test.sql
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.13/src/test/resources/groupFile/kafka_test.json
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.13/src/test/resources/log4j2-test.properties
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/kafka/pom.xml
Labels: component/sort, service/ci

#9923 [INLONG-9922][Agent] Add a script to copy the configuration from the installer to the agent
  inlong-agent/bin/agent-config.sh
  inlong-agent/conf/agent.properties
Labels: component/agent

#9927 [INLONG-9926][Audit] Audit-service support HA active and backup
  inlong-audit/audit-service/src/main/java/elector/api/Selector.java
  inlong-audit/audit-service/src/main/java/elector/api/SelectorChangeListener.java
  inlong-audit/audit-service/src/main/java/elector/api/SelectorConfig.java
  inlong-audit/audit-service/src/main/java/elector/task/DBMonitorTask.java
Labels: component/audit

#9939 [INLONG-9938][Dashboard] Support Agent module and package page
  inlong-dashboard/src/configs/menus/conf.tsx
  inlong-dashboard/src/configs/routes/conf.ts
  inlong-dashboard/src/i18n.ts
  inlong-dashboard/src/ui/locales/cn.json
  inlong-dashboard/src/ui/locales/en.json
  inlong-dashboard/src/ui/pages/AgentModule/AgentModuleTag.tsx
  inlong-dashboard/src/ui/pages/AgentModule/CreateModal.tsx
  inlong-dashboard/src/ui/pages/AgentModule/config.tsx
  inlong-dashboard/src/ui/pages/AgentModule/index.tsx
  inlong-dashboard/src/ui/pages/AgentPackage/AgentPackageTag.tsx
  inlong-dashboard/src/ui/pages/AgentPackage/CreateModal.tsx
  inlong-dashboard/src/ui/pages/AgentPackage/config.tsx
  inlong-dashboard/src/ui/pages/AgentPackage/index.tsx
Labels: component/dashboard

#9937 [INLONG-9936][Manager] Support for parallel acquisition of data preview data from multiple Pulsar clusters
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/queue/pulsar/PulsarQueueResourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/queue/pulsar/QueryCountDownLatch.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/queue/pulsar/QueryLatestMessagesRunnable.java
Labels: component/manager

#9941 [INLONG-9920][Audit] Audit-service add codes of source
  inlong-audit/audit-service/src/main/java/config/SqlConstants.java
  inlong-audit/audit-service/src/main/java/entities/StatData.java
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/channel/DataQueue.java
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/config/ConfigConstants.java
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/config/Configuration.java
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/config/SqlConstants.java
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/entities/AuditCycle.java
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/entities/Request.java
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/entities/SourceConfig.java
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/entities/StartEndTime.java
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/entities/StatData.java
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/selector/ElectorChangeListenerImpl.java
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/selector/api/Selector.java
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/selector/api/SelectorChangeListener.java
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/selector/api/SelectorConfig.java
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/selector/api/SelectorFactory.java
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/selector/impl/DBDataSource.java
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/selector/impl/SelectorImpl.java
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/selector/task/DBMonitorTask.java
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/source/JdbcSource.java
  inlong-audit/audit-service/src/main/java/source/AbstractSource.java
  inlong-audit/pom.xml
Labels: component/audit

#9942 [INLONG-9921][Manager] Fix the problem of manager can't stop data sync job
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/GroupStatus.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/SimpleGroupStatus.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/StreamStatus.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/AgentServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/group/InlongGroupProcessService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/listener/group/UpdateGroupCompleteListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/listener/stream/UpdateStreamCompleteListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/listener/stream/UpdateStreamListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/stream/InlongStreamProcessService.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/core/impl/AgentServiceTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/group/InlongGroupProcessServiceTest.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/source/listener/StreamSourceListenerTest.java
Labels: component/manager

#9947 [INLONG-9946][Agent] Verify the return code, only proceed with the subsequent process if the return code is successful
  inlong-agent/agent-installer/src/main/java/org/apache/inlong/agent/installer/ManagerFetcher.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/fetcher/ManagerFetcher.java
Labels: component/agent

#9949 [INLONG-9943][Audit] Audit-service add codes of jdbc sink
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/config/ConfigConstants.java
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/config/SqlConstants.java
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/entities/SinkConfig.java
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/service/EtlService.java
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/sink/JdbcSink.java
Labels: component/audit

#9954 [INLONG-9953][Manager] Fix the problem of stop stream source failed
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/AgentServiceImpl.java
Labels: component/manager

#9951 [INLONG-9950][Dashboard] Fix audit query using incorrect end time
  inlong-dashboard/src/ui/pages/GroupDetail/Audit/index.tsx
Labels: component/dashboard

#9945 [INLONG-9944][Dashboard] Add Agent and Installer for Agent Cluster Node
  inlong-dashboard/src/ui/locales/cn.json
  inlong-dashboard/src/ui/locales/en.json
  inlong-dashboard/src/ui/pages/Clusters/NodeEditModal.tsx
Labels: component/dashboard

#9952 [INLONG-9948][Agent] Optimize the instance class to decrease the complexity of usage
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/instance/CommonInstance.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/instance/FileInstance.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/instance/KafkaInstance.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/instance/PulsarInstance.java
Labels: component/agent

#9956 [INLONG-9955][Agent] Rename Job to Task for agent
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/conf/InstanceProfile.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/constant/TaskConstants.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/db/JobProfileDb.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/pojo/BinlogTask.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/pojo/KafkaTask.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/pojo/MongoTask.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/pojo/MqttTask.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/pojo/OracleTask.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/pojo/PostgreSQLTask.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/pojo/RedisTask.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/pojo/SqlServerTask.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/pojo/TaskProfileDto.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sinks/filecollect/SenderManager.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/KafkaSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/LogFileSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/MongoDBReader.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/utils/MetaDataUtils.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/utils/PluginUtils.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/utils/RocksDBUtils.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/sinks/MockSink.java
Labels: component/agent

#9940 [INLONG-9402][Sort] Solve errors in UT test logs for sort-end-to-end-tests, but UT results show as successful
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.13/src/test/java/org/apache/inlong/sort/tests/utils/FlinkContainerTestEnv.java
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.15/src/test/java/org/apache/inlong/sort/tests/Kafka2StarRocksTest.java
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.15/src/test/java/org/apache/inlong/sort/tests/Mongodb2StarRocksTest.java
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.15/src/test/java/org/apache/inlong/sort/tests/Mysql2StarRocksTest.java
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.15/src/test/java/org/apache/inlong/sort/tests/Postgres2StarRocksTest.java
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.15/src/test/java/org/apache/inlong/sort/tests/RedisToRedisTest.java
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.15/src/test/java/org/apache/inlong/sort/tests/Sqlserver2StarRocksTest.java
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.15/src/test/java/org/apache/inlong/sort/tests/utils/FlinkContainerTestEnv.java
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.15/src/test/java/org/apache/inlong/sort/tests/utils/FlinkContainerTestEnvJRE11.java
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.15/src/test/java/org/apache/inlong/sort/tests/utils/FlinkContainerTestEnvJRE8.java
Labels: component/sort

#9958 [INLONG-9957][Audit] Audit-service add local cache for openapi
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/cache/AbstractCache.java
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/cache/DayCache.java
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/cache/HalfHourCache.java
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/cache/HourCache.java
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/cache/TenMinutesCache.java
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/config/ConfigConstants.java
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/config/SqlConstants.java
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/service/EtlService.java
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/sink/CacheSink.java
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/sink/JdbcSink.java
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/source/JdbcSource.java
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/utils/CacheUtils.java
  inlong-audit/pom.xml
Labels: component/audit

#9966 [INLONG-9965][Sort] Fix wrong node duration of SortStandalone Pulsar Sink
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/pulsar/PulsarFederationSinkContext.java
Labels: component/sort

#9967 [INLONG-9962][Manager] Data preview supports returning header and specific field information
  inlong-common/src/main/java/org/apache/inlong/common/enums/DataTypeEnum.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/holder/MetaConfigHolder.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/pojo/IdTopicConfig.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/consume/BriefMQMessage.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/datatype/CsvDataTypeOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/datatype/DataTypeOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/datatype/DataTypeOperatorFactory.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/message/InlongMsgDeserializeOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/message/RawMsgDeserializeOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/queue/kafka/KafkaOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/queue/pulsar/PulsarOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/queue/tubemq/TubeMQOperator.java
  inlong-manager/manager-service/src/test/java/org/apache/inlong/manager/service/resource/queue/kafka/KafkaOperatorTest.java
  inlong-sort-standalone/sort-standalone-common/src/main/java/org/apache/inlong/sort/standalone/config/pojo/type/DataType.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/kafka/KafkaIdConfig.java
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/pulsar/PulsarIdConfig.java
Labels: component/manager, component/dataproxy, component/sort

#9971 [INLONG-9969][Agent] Release the memory semaphore of the source only when the data is placed in the queue
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/KafkaSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/LogFileSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/PulsarSource.java
Labels: component/agent

#9959 [INLONG-9870][Manager] Pulsar DataNode support to set compression type
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/node/pulsar/PulsarDataNodeDTO.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/node/pulsar/PulsarDataNodeInfo.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/node/pulsar/PulsarDataNodeRequest.java
Labels: component/manager

#9964 [INLONG-9963][Dashboard][Agent] Add agentIp fields to Kafka and Pulsar source
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/KafkaSource.java
  inlong-dashboard/src/plugins/sources/defaults/Kafka.ts
  inlong-dashboard/src/plugins/sources/defaults/Pulsar.ts
  inlong-dashboard/src/ui/locales/en.json
Labels: component/dashboard, component/agent

#9975 [INLONG-9974][Manager] Data preview simplifies interface field information
  inlong-common/src/main/java/org/apache/inlong/common/enums/DataTypeEnum.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/consume/BriefMQMessage.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/datatype/CsvDataTypeOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/datatype/DataTypeOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/message/InlongMsgDeserializeOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/message/RawMsgDeserializeOperator.java
Labels: component/manager

#9979 [INLONG-9976][Manager] Support multiple types of audit indicator queries
  inlong-common/src/main/java/org/apache/inlong/common/enums/IndicatorType.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/AuditBaseEntity.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/AuditBaseEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/mappers/AuditBaseEntityMapper.xml
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/audit/AuditBaseResponse.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/AuditService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/AuditServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/sort/DefaultSortConfigOperator.java
  inlong-manager/manager-test/src/main/resources/h2/apache_inlong_manager.sql
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
  inlong-manager/manager-web/sql/changes-1.12.0.sql
Labels: component/manager

#9961 [INLONG-9925][Sort] Add if statement to solve continuously printing logs
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/internal/JdbcBatchingOutputFormat.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/internal/JdbcMultiBatchingOutputFormat.java
Labels: component/sort

#9973 [INLONG-9972][Sort] Pulsar connector support authentication when connecting to Pulsar cluster
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/node/provider/PulsarProvider.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/extract/PulsarExtractNode.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/node/extract/PulsarExtractNodeTest.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/PulsarSqlParserTest.java
  inlong-sort/sort-dist/pom.xml
  inlong-sort/sort-flink/base/src/main/java/org/apache/inlong/sort/base/Constants.java
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/pulsar/src/main/java/org/apache/inlong/sort/pulsar/table/PulsarDynamicTableFactory.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/pulsar/src/main/java/org/apache/inlong/sort/pulsar/table/PulsarTableSource.java
Labels: component/manager, component/sort

#9986 [INLONG-9985][Manager] Support authentication params for pulsar source
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/node/provider/PulsarProvider.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/pulsar/PulsarSource.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/pulsar/PulsarSourceDTO.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/pulsar/PulsarSourceRequest.java
Labels: component/manager

#9981 [INLONG-9980][Manager] Remove the derby.jar file from the manager project
  inlong-manager/manager-service/pom.xml
Labels: component/manager

#9988 [INLONG-9987][Agent] Fix the issue of deleting the first digit when the first digit in MD5 is 0
  inlong-agent/agent-installer/src/main/java/org/apache/inlong/agent/installer/ModuleManager.java
Labels: component/agent

#9991 [INLONG-9990][Agent] Avoid MD5 calculation functions directly returning
  inlong-agent/agent-installer/src/main/java/org/apache/inlong/agent/installer/ModuleManager.java
Labels: component/agent

#9984 [INLONG-9982][Agent] Adjusting the abstraction of source code to facilitate rapid addition of sources
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/plugin/file/Source.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/DatabaseSqlSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/KafkaSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/LogFileSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/MongoDBSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/MqttSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/OracleSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/PostgreSQLSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/PulsarSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/RedisSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/SQLServerSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/file/AbstractSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/reader/file/KubernetesMetadataProvider.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/sources/TestLogFileSource.java
Labels: component/agent

#9998 [INLONG-9997][Agent] Handling situations where the installation package md5 remains unchanged and other parameters md5 change
  inlong-agent/agent-installer/src/main/java/org/apache/inlong/agent/installer/ModuleManager.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/instance/CommonInstance.java
Labels: component/agent

#10002 [INLONG-10001][Dashboard] Fix end date time initialization error on audit page
  inlong-dashboard/src/ui/pages/GroupDetail/Audit/config.tsx
Labels: component/dashboard

#10000 [INLONG-9999][Agent] Handle scenarios where the module list is empty to prevent accidental deletion
  inlong-agent/agent-installer/src/main/java/org/apache/inlong/agent/installer/ModuleManager.java
Labels: component/agent

#10007 [INLONG-10006][Agent] Add MongoDB data source for Agent
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/pojo/MongoTask.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/pojo/TaskProfileDto.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/instance/MongoDBInstance.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/MongoDBSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/task/MongoDBTask.java
Labels: component/agent

#10016 [INLONG-10014][Audit] Add new audit SDK API for Flink Sort
  inlong-audit/audit-sdk/src/main/java/org/apache/inlong/audit/AuditReporterImpl.java
Labels: component/audit

#10015 [INLONG-9875][Sort] Remove the repeated DorisLoadNode
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/LoadNode.java
Labels: component/sort

#10013 [INLONG-10012][Agent] Adjust task encapsulation to place common logicin the base class
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/task/AbstractTask.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/task/KafkaTask.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/task/MongoDBTask.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/task/PulsarTask.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/task/file/LogFileTask.java
Labels: component/agent

#10011 [INLONG-10010][Agent] Adjust source encapsulation, keep public initialization in the base class init, and place specific source related initialization in the subclass's initSource
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/DatabaseSqlSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/KafkaSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/LogFileSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/MongoDBSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/MqttSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/OracleSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/PostgreSQLSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/PulsarSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/RedisSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/SQLServerSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/file/AbstractSource.java
Labels: component/agent

#10009 [INLONG-10008][Dashboard][Manager] Supplement fields of MongoDB data source for Dashboard
  inlong-dashboard/src/plugins/sources/defaults/Mongodb.ts
  inlong-dashboard/src/ui/locales/cn.json
  inlong-dashboard/src/ui/locales/en.json
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/mongodb/MongoDBSource.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/mongodb/MongoDBSourceDTO.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/mongodb/MongoDBSourceRequest.java
Labels: component/manager, component/dashboard

#10021 [INLONG-8962][Agent] Fix the bug: before state and after state are the same in StateCallback.call
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/state/AbstractStateWrapper.java
Labels: component/agent

#10019 [INLONG-9883][Manager] Add unit test of HeartbeatController
  inlong-manager/manager-web/src/test/java/org/apache/inlong/manager/web/WebBaseTest.java
  inlong-manager/manager-web/src/test/java/org/apache/inlong/manager/web/controller/HeartbeatControllerTest.java
Labels: component/manager

#10036 [INLONG-10024][Release] Add the 1.12.0 version option for the bug report
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: service/ci

#10037 [INLONG-10034][Manager] Support calling the audit service interface to query audit information
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/audit/AuditResponse.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/audit/AuditRunnable.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/AuditServiceImpl.java
  inlong-manager/manager-web/src/main/resources/application-dev.properties
  inlong-manager/manager-web/src/main/resources/application-prod.properties
  inlong-manager/manager-web/src/main/resources/application-test.properties
Labels: component/manager

#10038 [INLONG-10035][Agent] Report audit data using the new SDK interface
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/message/file/ProxyMessageCache.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/metrics/audit/AuditUtils.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/instance/InstanceManager.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/instance/CommonInstance.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sinks/filecollect/SenderManager.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/LogFileSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/file/AbstractSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/task/AbstractTask.java
Labels: component/agent

#10040 [INLONG-8791][TubeMQ] Add log level and log path configuration API to Tubemq-client-go
  inlong-tubemq/tubemq-client-twins/tubemq-client-go/config/config.go
  inlong-tubemq/tubemq-client-twins/tubemq-client-go/log/config.go
Labels: component/tubemq

#10050 [INLONG-10047][Agent] Fix the bug in the logic for judging the completion status of the supplementary recording task
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/task/file/LogFileTask.java
Labels: component/agent

#10052 [INLONG-10051][Github] Improve the pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: service/ci

#10058 [INLONG-10054][Sort] Add dependencies for flink 1.18
  inlong-sort/pom.xml
  inlong-sort/sort-flink/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.18/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.18/sort-flink-dependencies/pom.xml
Labels: component/sort

#10061 [INLONG-10060][Manager] Optimize audit data query related logs
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/audit/AuditResponse.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/audit/AuditRunnable.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/AuditServiceImpl.java
Labels: component/manager

#10065 [INLONG-10029][Release] Change the tag of Docker images to 1.12.0
  conf/inlong.conf
  docker/docker-compose/.env
  docker/kubernetes/README.md
  docker/kubernetes/values.yaml
  inlong-agent/agent-docker/README.md
  inlong-audit/audit-docker/README.md
  inlong-dataproxy/dataproxy-docker/README.md
  inlong-manager/manager-docker/README.md
  inlong-tubemq/tubemq-docker/tubemq-all/README.md
  inlong-tubemq/tubemq-docker/tubemq-manager/README.md
Labels: component/tubemq, component/manager, component/dataproxy, component/agent, component/audit, service/docker, service/k8s

#10062 [INLONG-10059][Agent] Fix the exception of installation package comparison
  inlong-agent/agent-installer/src/main/java/org/apache/inlong/agent/installer/ModuleManager.java
  inlong-agent/agent-installer/src/test/java/installer/TestModuleManager.java
  inlong-common/src/main/java/org/apache/inlong/common/pojo/agent/installer/ConfigResult.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/AgentServiceImpl.java
Labels: component/manager, component/agent

#10068 [INLONG-10067][DataProxy] Simplify the configuration and acquisition of the Manager address
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/CommonConfigHolder.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/ConfigHolder.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/ConfigManager.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/DefaultManagerIpListParser.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/IManagerIpListParser.java
  inlong-dataproxy/dataproxy-source/src/test/resources/common.properties
Labels: component/dataproxy

#10075 [INLONG-10074][Manager] Fix the problem of Error in querying audit information based on IP address
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/AuditEntityMapper.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/AuditServiceImpl.java
Labels: component/manager

#10077 [INLONG-10056][Manager] Support new manager plugin for flink 1.18
  inlong-manager/manager-plugins/base/pom.xml
  inlong-manager/manager-plugins/base/src/main/assembly/assembly.xml
  inlong-manager/manager-plugins/manager-plugins-flink-v1.18/pom.xml
  inlong-manager/manager-plugins/manager-plugins-flink-v1.18/src/main/java/org/apache/inlong/manager/plugin/flink/FlinkClientService.java
  inlong-manager/manager-plugins/pom.xml
Labels: component/manager

#10079 [INLONG-10066][DataProxy] Optimize the related configuration settings in the CommonConfigHolder.java file
  inlong-common/src/main/java/org/apache/inlong/common/enums/InlongCompressType.java
  inlong-dataproxy/conf/common.properties
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/CommonConfigHolder.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/common/DefaultEventHandler.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/common/EventHandler.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/mq/MessageQueueZoneSink.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/mq/MessageQueueZoneSinkContext.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/sink/mq/PackProfile.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/ServerMessageHandler.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/SourceConstants.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/utils/AddressUtils.java
  inlong-dataproxy/dataproxy-source/src/test/java/org/apache/inlong/dataproxy/config/holder/TestCommonConfigHolder.java
  inlong-dataproxy/dataproxy-source/src/test/resources/common.properties
Labels: component/dataproxy

#10083 [INLONG-10081][DataProxy] Modify the data format of metadata saved in the metadata.json file
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/ConfigManager.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/holder/MetaConfigHolder.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/pojo/CacheClusterConfig.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/pojo/CacheType.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/pojo/IdTopicConfig.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/pojo/InLongMetaConfig.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/consts/SourceConstants.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/BaseSource.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/ServerMessageFactory.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/SimpleHttpSource.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/SimpleTcpSource.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/SimpleUdpSource.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/utils/AddressUtils.java
  inlong-dataproxy/dataproxy-source/src/test/resources/metadata.json
Labels: component/dataproxy

#10084 [INLONG-10082][Dashboard] Fixed missing pulsar tenant field when updating group info
  inlong-dashboard/src/ui/pages/GroupDetail/Info/index.tsx
  inlong-dashboard/src/ui/pages/SynchronizeDetail/Info/index.tsx
Labels: component/dashboard

#10073 [INLONG-10055][Sort] Support flink-connector-jdbc based on flink 1.18
  inlong-distribution/src/main/assemblies/sort-connectors-v1.18.xml
  inlong-sort/sort-flink/sort-flink-v1.18/sort-connectors/jdbc/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.18/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/internal/GenericJdbcSinkFunction.java
  inlong-sort/sort-flink/sort-flink-v1.18/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/internal/JdbcOutputFormat.java
  inlong-sort/sort-flink/sort-flink-v1.18/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/internal/TableJdbcUpsertOutputFormat.java
  inlong-sort/sort-flink/sort-flink-v1.18/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/table/JdbcDynamicTableFactory.java
  inlong-sort/sort-flink/sort-flink-v1.18/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/table/JdbcDynamicTableSink.java
  inlong-sort/sort-flink/sort-flink-v1.18/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/table/JdbcOutputFormatBuilder.java
  inlong-sort/sort-flink/sort-flink-v1.18/sort-connectors/jdbc/src/main/resources/META-INF.services/org.apache.flink.table.factories.Factory
  inlong-sort/sort-flink/sort-flink-v1.18/sort-connectors/pom.xml
  licenses/inlong-sort-connectors/LICENSE
Labels: component/sort

#10070 [INLONG-10069][Sort] Support audit metrics for sort-connector-pulsar-1.18
  inlong-sort/sort-flink/sort-flink-v1.18/sort-connectors/pulsar/src/main/java/org/apache/inlong/sort/pulsar/table/PulsarTableFactory.java
  inlong-sort/sort-flink/sort-flink-v1.18/sort-connectors/pulsar/src/main/java/org/apache/inlong/sort/pulsar/table/PulsarTableOptionUtils.java
  inlong-sort/sort-flink/sort-flink-v1.18/sort-connectors/pulsar/src/main/java/org/apache/inlong/sort/pulsar/table/PulsarTableOptions.java
  inlong-sort/sort-flink/sort-flink-v1.18/sort-connectors/pulsar/src/main/java/org/apache/inlong/sort/pulsar/table/PulsarTableValidationUtils.java
  inlong-sort/sort-flink/sort-flink-v1.18/sort-connectors/pulsar/src/main/java/org/apache/inlong/sort/pulsar/table/source/PulsarTableDeserializationSchema.java
  inlong-sort/sort-flink/sort-flink-v1.18/sort-connectors/pulsar/src/main/java/org/apache/inlong/sort/pulsar/table/source/PulsarTableDeserializationSchemaFactory.java
  inlong-sort/sort-flink/sort-flink-v1.18/sort-connectors/pulsar/src/main/java/org/apache/inlong/sort/pulsar/table/source/PulsarTableSource.java
  licenses/inlong-sort-connectors/LICENSE
Labels: component/sort

#10087 [INLONG-10086][Dashboard] Add refresh function of module audit
  inlong-dashboard/src/ui/locales/cn.json
  inlong-dashboard/src/ui/locales/en.json
  inlong-dashboard/src/ui/pages/ModuleAudit/IdModule/config.tsx
  inlong-dashboard/src/ui/pages/ModuleAudit/IdModule/index.tsx
  inlong-dashboard/src/ui/pages/ModuleAudit/IpModule/config.tsx
Labels: component/dashboard

#10090 [INLONG-10089][Audit] Adjust the service configuration of Audit
  inlong-audit/conf/audit-proxy-kafka.conf
  inlong-audit/conf/audit-proxy-pulsar.conf
  inlong-audit/conf/audit-proxy-tubemq.conf
  inlong-audit/sql/apache_inlong_audit_clickhouse.sql
  inlong-audit/sql/apache_inlong_audit_mysql.sql
  inlong-audit/sql/apache_inlong_audit_starrocks.sql
  inlong-audit/sql/audit-store/apache_inlong_audit.sql
  inlong-audit/sql/audit-store/clickhouse-changes-1.12.0.sql
  inlong-audit/sql/audit-store/clickhouse-changes-1.9.0.sql
  inlong-audit/sql/audit-store/mysql-changes-1.12.0.sql
  inlong-audit/sql/audit-store/mysql-changes-1.9.0.sql
Labels: component/audit

#10088 [INLONG-10085][Audit] Optimize the performance of the audit-service
  inlong-audit/audit-service/pom.xml
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/cache/AbstractCache.java
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/cache/RealTimeQuery.java
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/config/ConfigConstants.java
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/config/OpenApiConstants.java
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/config/SqlConstants.java
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/entities/SinkConfig.java
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/entities/SourceConfig.java
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/entities/StatData.java
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/main/Application.java
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/selector/impl/DBDataSource.java
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/service/ApiService.java
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/service/EtlService.java
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/sink/JdbcSink.java
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/source/JdbcSource.java
Labels: component/audit

#10095 [INLONG-10094][agent] Fix the bug: the task record for data supplementation has not expired
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/db/InstanceDb.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/instance/InstanceManager.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/task/OffsetManager.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/task/TaskManager.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/sources/TestLogFileSource.java
Labels: component/agent

#10097 [INLONG-10093][SDK] Support to transform from CSV protocol to CSV/KV protocol by single SQL
  inlong-sdk/pom.xml
  inlong-sdk/transform-sdk/pom.xml
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/decode/CsvSourceData.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/decode/CsvSourceDecoder.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/decode/KvSourceData.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/decode/KvSourceDecoder.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/decode/KvUtils.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/decode/SourceData.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/decode/SourceDecoder.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/decode/SplitUtils.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/encode/CsvSinkEncoder.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/encode/DefaultSinkData.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/encode/EscapeUtils.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/encode/KvSinkEncoder.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/encode/SinkData.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/encode/SinkEncoder.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/pojo/CsvSinkInfo.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/pojo/CsvSourceInfo.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/pojo/FieldInfo.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/pojo/JsonSourceInfo.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/pojo/KvSinkInfo.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/pojo/KvSourceInfo.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/pojo/PbSourceInfo.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/pojo/ProtocolType.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/pojo/SinkInfo.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/pojo/SourceInfo.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/pojo/TransformConfig.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/TransformProcessor.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/operator/AndOperator.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/operator/EqualsToOperator.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/operator/ExpressionOperator.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/operator/GreaterThanEqualsOperator.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/operator/GreaterThanOperator.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/operator/MinorThanEqualsOperator.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/operator/MinorThanOperator.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/operator/NotEqualsToOperator.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/operator/NotOperator.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/operator/OperatorTools.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/operator/OrOperator.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/operator/ParenthesisOperator.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/parser/ColumnParser.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/parser/LongParser.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/parser/StringParser.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/parser/ValueParser.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/pojo/TestTransformConfig.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/TestTransformProcessor.java
Labels: component/sdk

#10108 [INLONG-10017][Agent] Fix the module update configuration bug
  inlong-agent/agent-installer/src/main/java/org/apache/inlong/agent/installer/ModuleManager.java
Labels: component/agent

#10112 [INLONG-10111][DataProxy] Add auditVersion field processing
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/metrics/audit/AuditUtils.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/httpMsg/HttpMessageHandler.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/v0msg/AbsV0MsgCodec.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/v0msg/CodecBinMsg.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/v0msg/CodecTextMsg.java
Labels: component/dataproxy

#10114 [INLONG-10113][Agent] Delete useless code
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/constant/AgentConstants.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/constant/CommonConstants.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/constant/FetcherConstants.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/constant/JobConstants.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/constant/KubernetesConstants.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/constant/MetadataConstants.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/constant/TaskConstants.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/pojo/FileTask.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/pojo/TaskProfileDto.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/utils/MetaDataUtils.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/utils/PluginUtils.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/utils/file/FileDataUtils.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/sinks/MockSink.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/utils/MetaDataUtilsTest.java
Labels: component/agent
