Repository apache/inlong, pull requests merged in 2024-06, with the labels that each got.

#10334 [INLONG-10332][Sort] Relocate the google.protobuf in Iceberg Connector
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/iceberg/pom.xml
Labels: component/sort

#10244 [INLONG-10223][Dashboard] Agent cluster node supports configuring ssh information
  inlong-dashboard/src/ui/locales/cn.json
  inlong-dashboard/src/ui/locales/en.json
  inlong-dashboard/src/ui/pages/Clusters/NodeEditModal.tsx
Labels: component/dashboard

#10336 [INLONG-10335][Manager] Use audit sdk to obtain audit ID
  inlong-common/src/main/java/org/apache/inlong/common/enums/IndicatorType.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/AuditBaseEntity.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/AuditBaseEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/mappers/AuditBaseEntityMapper.xml
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/audit/AuditBaseResponse.java
  inlong-manager/manager-service/pom.xml
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/AuditService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/AuditServiceImpl.java
  inlong-manager/manager-test/src/main/resources/h2/apache_inlong_manager.sql
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/AuditController.java
Labels: component/manager

#10346 [INLONG-10345][Manager] Fix the problem of error in obtaining audit id value
  inlong-common/src/main/java/org/apache/inlong/common/enums/IndicatorType.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/AuditServiceImpl.java
Labels: component/manager

#10337 [INLONG-10331][CVE] Unify and upgrade aircompressor version and update LICENSE
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/hive/pom.xml
  licenses/inlong-manager/LICENSE
  licenses/inlong-manager/NOTICE
  licenses/inlong-sort-connectors/LICENSE
  licenses/inlong-sort-standalone/LICENSE
  pom.xml
Labels: component/sort

#10327 [INLONG-10326][Manager] Support obtaining tenant information based on groupId
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/InlongGroupEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/mappers/InlongGroupEntityMapper.xml
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/group/InlongGroupService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/group/InlongGroupServiceImpl.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/InlongGroupController.java
Labels: component/manager

#10348 [INLONG-10347][Dashboard] Add Agent IP field to PostgreSQL data source
  inlong-dashboard/src/plugins/sources/defaults/PostgreSQL.ts
  inlong-dashboard/src/ui/pages/GroupDetail/DataSources/DetailModal.tsx
Labels: component/dashboard

#10352 [INLONG-10351][Manager] Fix the problem of no audit name returned when obtaining audit information
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/AuditServiceImpl.java
Labels: component/manager

#10344 [INLONG-10339][Sort] Fix PostgreSQL AuditOperator not serialized
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/postgres-cdc/src/main/java/org/apache/inlong/sort/postgre/DebeziumChangeFetcher.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/postgres-cdc/src/main/java/org/apache/inlong/sort/postgre/DebeziumDeserializationSchema.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/postgres-cdc/src/main/java/org/apache/inlong/sort/postgre/DebeziumSourceFunction.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/postgres-cdc/src/main/java/org/apache/inlong/sort/postgre/PostgreSQLSource.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/postgres-cdc/src/main/java/org/apache/inlong/sort/postgre/PostgreSQLTableSource.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/postgres-cdc/src/main/java/org/apache/inlong/sort/postgre/RowDataDebeziumDeserializeSchema.java
  licenses/inlong-sort-connectors/LICENSE
Labels: component/sort

#10343 [INLONG-10340][Sort] Fix MongoDB AuditOperator not serialized
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/mongodb-cdc/src/main/java/org/apache/inlong/sort/mongodb/DebeziumChangeFetcher.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/mongodb-cdc/src/main/java/org/apache/inlong/sort/mongodb/DebeziumDeserializationSchema.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/mongodb-cdc/src/main/java/org/apache/inlong/sort/mongodb/DebeziumSourceFunction.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/mongodb-cdc/src/main/java/org/apache/inlong/sort/mongodb/MongoDBConnectorDeserializationSchema.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/mongodb-cdc/src/main/java/org/apache/inlong/sort/mongodb/MongoDBSource.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/mongodb-cdc/src/main/java/org/apache/inlong/sort/mongodb/MongoDBTableSource.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/mongodb-cdc/src/main/java/org/apache/inlong/sort/mongodb/source/IncrementalSource.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/mongodb-cdc/src/main/java/org/apache/inlong/sort/mongodb/source/IncrementalSourceRecordEmitter.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/mongodb-cdc/src/main/java/org/apache/inlong/sort/mongodb/source/MongoDBRecordEmitter.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/mongodb-cdc/src/main/java/org/apache/inlong/sort/mongodb/source/MongoDBSource.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/mongodb-cdc/src/main/java/org/apache/inlong/sort/mongodb/source/MongoDBSourceBuilder.java
  licenses/inlong-sort-connectors/LICENSE
Labels: component/sort

#10341 [INLONG-10338][Sort] Fix Sqlserver AuditOperator not serialized
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/sqlserver-cdc/src/main/java/org/apache/inlong/sort/sqlserver/DebeziumChangeFetcher.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/sqlserver-cdc/src/main/java/org/apache/inlong/sort/sqlserver/DebeziumDeserializationSchema.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/sqlserver-cdc/src/main/java/org/apache/inlong/sort/sqlserver/DebeziumSourceFunction.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/sqlserver-cdc/src/main/java/org/apache/inlong/sort/sqlserver/RowDataDebeziumDeserializeSchema.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/sqlserver-cdc/src/main/java/org/apache/inlong/sort/sqlserver/SqlServerSource.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/sqlserver-cdc/src/main/java/org/apache/inlong/sort/sqlserver/SqlServerTableSource.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/sqlserver-cdc/src/main/java/org/apache/inlong/sort/sqlserver/SqlserverTableFactory.java
  licenses/inlong-sort-connectors/LICENSE
Labels: component/sort

#10361 [INLONG-10350][Dashboard] Fix audit item search failure
  inlong-dashboard/src/ui/pages/GroupDetail/Audit/config.tsx
  inlong-dashboard/src/ui/pages/ModuleAudit/IdModule/config.tsx
  inlong-dashboard/src/ui/pages/ModuleAudit/IpModule/config.tsx
Labels: component/dashboard

#10354 [INLONG-10353][Manager] Refactor code for building and submitting flink job
  inlong-manager/manager-plugins/base/src/main/java/org/apache/inlong/manager/plugin/listener/StartupSortListener.java
  inlong-manager/manager-plugins/base/src/main/java/org/apache/inlong/manager/plugin/listener/StartupStreamListener.java
  inlong-manager/manager-plugins/base/src/main/java/org/apache/inlong/manager/plugin/util/FlinkUtils.java
Labels: component/manager

#10364 [INLONG-10362][Manager] Simplify code for InLong group management
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/group/InlongGroupService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/group/InlongGroupServiceImpl.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/openapi/OpenInLongGroupController.java
Labels: component/manager

#10369 [INLONG-10368][Manager] Data preview supports obtaining message attribute information
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/consume/BriefMQMessage.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/message/InlongMsgDeserializeOperator.java
Labels: component/manager

#10349 [INLONG-10323][Sort] Support Kv deserialization format in sort module
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/format/Format.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/format/KvFormat.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/node/format/KvFormatTest.java
  inlong-sort/sort-dist/pom.xml
  inlong-sort/sort-formats/format-common/src/main/java/org/apache/inlong/sort/formats/base/TableFormatUtils.java
  inlong-sort/sort-formats/format-rowdata/format-rowdata-kv/src/main/java/org/apache/inlong/sort/formats/kv/KvFormatFactory.java
Labels: component/sort

#10333 [INLONG-10330][Manager] Support field template management
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/ErrorCodeEnum.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/TemplateVisibleRange.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/TemplateEntity.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/TemplateFieldEntity.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/TemplateEntityMapper.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/TemplateFieldEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/mappers/TemplateEntityMapper.xml
  inlong-manager/manager-dao/src/main/resources/mappers/TemplateFieldEntityMapper.xml
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/stream/TemplateField.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/stream/TemplateInfo.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/stream/TemplatePageRequest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/stream/TemplateRequest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/stream/TemplateService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/stream/TemplateServiceImpl.java
  inlong-manager/manager-test/src/main/resources/h2/apache_inlong_manager.sql
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
  inlong-manager/manager-web/sql/changes-1.13.0.sql
Labels: component/manager

#10371 [INLONG-10370][Manager] Support configuration of kV data format
  inlong-common/src/main/java/org/apache/inlong/common/enums/DataTypeEnum.java
  inlong-common/src/main/java/org/apache/inlong/common/util/StringUtil.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/node/base/ExtractNodeProvider.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/node/provider/KafkaProvider.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/node/provider/PulsarProvider.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/node/provider/TubeMqProvider.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/kafka/KafkaSource.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/kafka/KafkaSourceDTO.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/kafka/KafkaSourceRequest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/pulsar/PulsarSource.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/pulsar/PulsarSourceDTO.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/pulsar/PulsarSourceRequest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/tubemq/TubeMQSource.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/tubemq/TubeMQSourceDTO.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/tubemq/TubeMQSourceRequest.java
Labels: component/manager

#10374 [INLONG-10373][Manager] Manager client support template operation
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/client/TemplateClient.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/service/TemplateApi.java
Labels: component/manager

#10376 [INLONG-10375][Manager] Add field mapping strategy for CLS, StarRocks and Elasticsearch
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/fieldtype/strategy/ClsFieldTypeStrategy.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/fieldtype/strategy/ElasticsearchFieldTypeStrategy.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/fieldtype/strategy/StarRocksFieldTypeStrategy.java
  inlong-manager/manager-common/src/main/resources/cls-field-type-mapping.yaml
  inlong-manager/manager-common/src/main/resources/es-field-type-mapping.yaml
Labels: component/manager

#10380 [INLONG-10379][Audit] Add HDFS Audit items in the Audit SDK
  inlong-audit/audit-sdk/src/main/java/org/apache/inlong/audit/AuditIdEnum.java
  inlong-audit/audit-sdk/src/main/java/org/apache/inlong/audit/entity/AuditType.java
  inlong-audit/audit-sdk/src/main/java/org/apache/inlong/audit/util/AuditManagerUtils.java
Labels: component/audit

#10310 [INLONG-10284][Manager][Sort] Upgrade flink default version to 1.15
  docker/docker-compose/docker-compose.yml
  inlong-manager/manager-docker/Dockerfile
  inlong-manager/manager-docker/pom.xml
  inlong-manager/manager-plugins/base/pom.xml
  inlong-manager/manager-plugins/base/src/main/resources/flink-sort-plugin.properties
  inlong-sort/pom.xml
  inlong-sort/sort-core/pom.xml
  inlong-sort/sort-dist/pom.xml
  inlong-sort/sort-flink/base/pom.xml
  inlong-sort/sort-formats/format-row/format-json-v1.13/pom.xml
  inlong-sort/sort-formats/format-row/format-json-v1.15/pom.xml
  inlong-sort/sort-formats/format-row/format-json-v1.18/pom.xml
  inlong-sort/sort-formats/format-row/format-json-v1.18/src/main/java/org/apache/inlong/sort/formats/json/canal/CanalJsonEnhancedDeserializationSchema.java
  inlong-sort/sort-formats/format-row/format-json-v1.18/src/main/java/org/apache/inlong/sort/formats/json/canal/CanalJsonEnhancedSerializationSchema.java
  inlong-sort/sort-formats/format-row/format-json-v1.18/src/test/java/org/apache/inlong/sort/formats/json/canal/CanalJsonEnhancedSerDeSchemaTest.java
  inlong-sort/sort-formats/format-row/pom.xml
  inlong-sort/sort-formats/pom.xml
  pom.xml
Labels: component/manager, component/sort, service/docker

#10383 [INLONG-10382][Manager] Support obtaining node information through unique keys
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/DataNodeController.java
Labels: component/manager

#10389 [INLONG-10388][Manager] Provide an interface to obtain the audit proxy address
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/audit/AuditProxyResponse.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/AuditService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/AuditServiceImpl.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/AuditController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/openapi/AuditController.java
Labels: component/manager

#10385 [INLONG-10384][Agent] Add functions to the Store interface to extend new storage plugins
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/plugin/file/Task.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/store/InstanceStore.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/store/KeyValueEntity.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/store/LocalProfile.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/store/OffsetStore.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/store/RocksStoreImp.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/store/StateSearchKey.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/store/Store.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/store/TaskStore.java
  inlong-agent/agent-common/src/test/java/org/apache/inlong/agent/store/TestRocksStoreImp.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/AgentManager.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/instance/InstanceManager.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/task/OffsetManager.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/task/TaskManager.java
  inlong-agent/agent-core/src/test/java/org/apache/inlong/agent/core/instance/TestInstanceManager.java
  inlong-agent/agent-core/src/test/java/org/apache/inlong/agent/core/task/MockTask.java
  inlong-agent/agent-core/src/test/java/org/apache/inlong/agent/core/task/TestTaskManager.java
  inlong-agent/agent-installer/src/main/java/org/apache/inlong/agent/installer/Manager.java
  inlong-agent/agent-installer/src/main/java/org/apache/inlong/agent/installer/ModuleManager.java
  inlong-agent/agent-installer/src/main/java/org/apache/inlong/agent/installer/conf/InstallerConfiguration.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/LogFileSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/task/AbstractTask.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/task/CronTask.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/utils/RocksDBUtils.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/sources/TestLogFileSource.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/task/TestLogFileTask.java
Labels: component/agent

#10378 [INLONG-10377][Dashboard] Add Source Data Field Template
  inlong-dashboard/src/configs/menus/conf.tsx
  inlong-dashboard/src/configs/routes/conf.ts
  inlong-dashboard/src/i18n.ts
  inlong-dashboard/src/plugins/groups/common/GroupDataTemplateInfo.ts
  inlong-dashboard/src/plugins/streams/common/StreamDefaultInfo.ts
  inlong-dashboard/src/ui/locales/cn.json
  inlong-dashboard/src/ui/locales/en.json
  inlong-dashboard/src/ui/pages/Clusters/NodeEditModal.tsx
  inlong-dashboard/src/ui/pages/GroupDataTemplate/CreateModal.tsx
  inlong-dashboard/src/ui/pages/GroupDataTemplate/index.tsx
  inlong-dashboard/src/ui/pages/GroupDetail/DataStream/StreamItemModal.tsx
Labels: component/dashboard

#10392 [INLONG-10391][Manager] Supports configuring zk clusters and issuing zk addresses to agents
  inlong-common/src/main/java/org/apache/inlong/common/pojo/agent/AgentConfigInfo.java
  inlong-common/src/main/java/org/apache/inlong/common/pojo/agent/AgentConfigRequest.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/ClusterType.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/cluster/zk/AgentZkClusterDTO.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/cluster/zk/AgentZkClusterInfo.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/cluster/zk/AgentZkClusterRequest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/AgentZkClusterOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/AgentService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/AgentServiceImpl.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/openapi/AgentController.java
Labels: component/manager

#10397 [INLONG-10395][Manager] Add interface for schedule client and engine
  inlong-manager/manager-schedule/pom.xml
  inlong-manager/manager-schedule/src/main/java/org/apache/inlong/schedule/ScheduleEngine.java
  inlong-manager/manager-schedule/src/main/java/org/apache/inlong/schedule/ScheduleEngineClient.java
  inlong-manager/pom.xml
Labels: component/manager

#10400 [INLONG-10399][Agent] Add global configurations updater
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/constant/FetcherConstants.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/AgentManager.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/fetcher/ManagerFetcher.java
  inlong-common/src/main/java/org/apache/inlong/common/pojo/agent/AgentConfigRequest.java
Labels: component/agent

#10406 [INLONG-10405][Manager] Fix the problem of Iceberg field type mapping error
  inlong-manager/manager-common/src/main/resources/iceberg-field-type-mapping.yaml
Labels: component/manager

#10408 [INLONG-10407][Manager] Increase the interval for determining heartbeat timeout
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/heartbeat/HeartbeatManager.java
Labels: component/manager

#10393 [INLONG-10381][Sort] Kafka source connector report audit attach input time
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/extract/KafkaExtractNode.java
  inlong-sort/sort-common/src/test/java/org/apache/inlong/sort/protocol/node/extract/KafkaExtractNodeTest.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/kafka/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/kafka/src/main/java/org/apache/inlong/sort/kafka/table/DynamicKafkaDeserializationSchema.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/kafka/src/main/java/org/apache/inlong/sort/kafka/table/KafkaDynamicSource.java
Labels: component/sort

#10390 [INLONG-10261][Manager] Support installing agents by SSH key-based authentication
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/InlongClusterService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/InlongClusterServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cmd/CommandExecutor.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cmd/CommandExecutorImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cmd/shell/ShellExecutorImpl.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/InlongClusterController.java
  inlong-manager/manager-web/src/main/resources/exec_cmd.exp
  inlong-manager/manager-web/src/main/resources/ssh_key_cmd.exp
Labels: component/manager

#10412 [INLONG-10396][Manager] Support build-in schedule base on quartz
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/ScheduleEntity.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/schedule/ScheduleInfo.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/schedule/ScheduleInfoRequest.java
  inlong-manager/manager-schedule/pom.xml
  inlong-manager/manager-schedule/src/main/java/org/apache/inlong/schedule/ScheduleType.java
  inlong-manager/manager-schedule/src/main/java/org/apache/inlong/schedule/ScheduleUnit.java
  inlong-manager/manager-schedule/src/main/java/org/apache/inlong/schedule/exception/QuartzScheduleException.java
  inlong-manager/manager-schedule/src/main/java/org/apache/inlong/schedule/quartz/QuartzOfflineSyncJob.java
  inlong-manager/manager-schedule/src/main/java/org/apache/inlong/schedule/quartz/QuartzScheduleClient.java
  inlong-manager/manager-schedule/src/main/java/org/apache/inlong/schedule/quartz/QuartzScheduleEngine.java
  inlong-manager/manager-schedule/src/main/java/org/apache/inlong/schedule/quartz/QuartzSchedulerListener.java
  inlong-manager/manager-schedule/src/main/java/org/apache/inlong/schedule/util/ScheduleUtils.java
  inlong-manager/manager-schedule/src/test/java/org/apache/inlong/schedule/BaseScheduleTest.java
  inlong-manager/manager-schedule/src/test/java/org/apache/inlong/schedule/quartz/MockJob.java
  inlong-manager/manager-schedule/src/test/java/org/apache/inlong/schedule/quartz/QuartzScheduleEngineTest.java
  inlong-manager/manager-schedule/src/test/java/org/apache/inlong/schedule/util/ScheduleUtilsTest.java
  inlong-manager/manager-schedule/src/test/resources/log4j2.xml
  inlong-manager/manager-test/src/main/resources/h2/apache_inlong_manager.sql
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
  inlong-manager/manager-web/sql/changes-1.13.0.sql
  inlong-manager/pom.xml
Labels: component/manager

#10403 [INLONG-10394][DashBoard] Agent page modifies the version and sets the def…
  inlong-dashboard/src/core/utils/pattern.ts
  inlong-dashboard/src/ui/locales/cn.json
  inlong-dashboard/src/ui/locales/en.json
  inlong-dashboard/src/ui/pages/AgentModule/CreateModal.tsx
  inlong-dashboard/src/ui/pages/Clusters/NodeEditModal.tsx
Labels: component/dashboard

#10411 [INLONG-10410][Agent] Add ZK plugin to save offset info
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/constant/AgentConstants.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/constant/CommonConstants.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/store/RocksDBStoreImpl.java
  inlong-agent/agent-common/src/test/java/org/apache/inlong/agent/store/TestRocksDBStoreImpl.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/AgentManager.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/task/TaskManager.java
  inlong-agent/agent-core/src/test/java/org/apache/inlong/agent/core/instance/TestInstanceManager.java
  inlong-agent/agent-core/src/test/java/org/apache/inlong/agent/core/store/TestRocksDbKey.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/store/ZooKeeperImpl.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/utils/RocksDBUtils.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/sources/TestLogFileSource.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/store/TestStoreKey.java
Labels: component/agent

#10416 [INLONG-10415][Manager] Kafka source supports configuring wraptype
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/kafka/KafkaSource.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/kafka/KafkaSourceDTO.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/kafka/KafkaSourceRequest.java
Labels: component/manager

#10420 [INLONG-10419][Dashboard] Automatically switch tenants when opening a page with groupId
  inlong-dashboard/src/ui/components/Layout/Tenant/index.tsx
  inlong-dashboard/src/ui/pages/GroupDetail/index.tsx
Labels: component/dashboard

#10398 [INLONG-10387][Audit] Audit SDK supports obtaining Audit-Proxy capabilities through InLong Manager
  inlong-audit/audit-common/pom.xml
  inlong-audit/audit-common/src/main/java/org/apache/inlong/audit/entity/AuditComponent.java
  inlong-audit/audit-common/src/main/java/org/apache/inlong/audit/entity/AuditProxy.java
  inlong-audit/audit-common/src/main/java/org/apache/inlong/audit/entity/CommonResponse.java
  inlong-audit/audit-common/src/main/java/org/apache/inlong/audit/utils/HttpUtils.java
  inlong-audit/audit-proxy/src/main/java/org/apache/inlong/audit/heartbeat/Heartbeat.java
  inlong-audit/audit-sdk/README.md
  inlong-audit/audit-sdk/src/main/java/org/apache/inlong/audit/AuditIdEnum.java
  inlong-audit/audit-sdk/src/main/java/org/apache/inlong/audit/AuditReporterImpl.java
  inlong-audit/audit-sdk/src/main/java/org/apache/inlong/audit/entity/AuditType.java
  inlong-audit/audit-sdk/src/main/java/org/apache/inlong/audit/send/ProxyManager.java
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/cache/AuditProxyCache.java
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/service/ApiService.java
Labels: component/audit

#10418 [INLONG-10417][Dashboard] Fixed the group mode display error
  inlong-dashboard/src/i18n.ts
  inlong-dashboard/src/ui/pages/Process/Applies/config.tsx
  inlong-dashboard/src/ui/pages/Process/Approvals/config.tsx
Labels: component/dashboard

#10414 [INLONG-10413][Manager] Support for configuring built-in fields for mysql and kafka
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/node/provider/KafkaProvider.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/node/provider/MySQLBinlogProvider.java
Labels: component/manager

#10422 [INLONG-10421][Dashboard] Move template management to system management
  inlong-dashboard/src/configs/menus/conf.tsx
Labels: component/dashboard

#10424 [INLONG-10423][Manager] Modify unified configuration related classes and interfaces
  inlong-common/src/main/java/org/apache/inlong/common/constant/SinkType.java
  inlong-common/src/main/java/org/apache/inlong/common/pojo/sort/dataflow/dataType/DataTypeConfig.java
  inlong-common/src/main/java/org/apache/inlong/common/pojo/sort/dataflow/deserialization/DeserializationConfig.java
  inlong-common/src/main/java/org/apache/inlong/common/pojo/sort/dataflow/sink/SinkConfig.java
  inlong-common/src/main/java/org/apache/inlong/common/pojo/sort/mq/MqClusterConfig.java
  inlong-common/src/main/java/org/apache/inlong/common/pojo/sort/node/NodeConfig.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/consts/InlongConstants.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/consts/StreamType.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sink/cls/ClsSink.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sink/kafka/KafkaSink.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sink/kafka/KafkaSinkRequest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/node/provider/DorisProvider.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/SortServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/node/cls/ClsDataNodeOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/node/es/ElasticsearchDataNodeOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/node/kafka/KafkaDataNodeOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/node/pulsar/PulsarDataNodeOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/sort/DefaultSortConfigOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/AbstractSinkOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/StreamSinkOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/cls/ClsSinkOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/es/ElasticsearchSinkOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/kafka/KafkaSinkOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/pulsar/PulsarSinkOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/stream/InlongStreamServiceImpl.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/openapi/SortController.java
Labels: component/manager

#10426 [INLONG-10425][Manager] Fix the problem of the kafka sink defines duplicate attributes
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sink/kafka/KafkaSink.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sink/kafka/KafkaSinkRequest.java
Labels: component/manager

#10429 [INLONG-10427][SDK] The Go SDK supports authentication for Manager access
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-golang/dataproxy/client.go
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-golang/dataproxy/discoverer.go
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-golang/dataproxy/options.go
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-golang/dataproxy/options_basic.go
Labels: component/sdk

#10433 [INLONG-10432][Manager] Delete unused method getMetaConfig
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/InlongClusterService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/InlongClusterServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/repository/DataProxyConfigRepository.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/repository/DataProxyConfigRepositoryV2.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/openapi/DataProxyController.java
Labels: component/manager

#10439 [INLONG-10438][Manager] GetConfig does not throw an exception when obtaining the zk address fails
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/AgentServiceImpl.java
Labels: component/manager

#10428 [INLONG-10402][Audit] Audit Service supports the hourly Audit data one day ago
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/cache/AbstractCache.java
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/config/ConfigConstants.java
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/config/SqlConstants.java
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/entities/CacheKeyEntity.java
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/sink/JdbcSink.java
Labels: component/audit

#10442 [INLONG-10441][DataProxy] Supports obtaining Audit-Proxy through InLong Manager
  inlong-dataproxy/conf/common.properties
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/config/CommonConfigHolder.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/metrics/audit/AuditUtils.java
  inlong-dataproxy/dataproxy-source/src/test/resources/common.properties
Labels: component/dataproxy

#10447 [INLONG-10446][Agent] Adjusting audit SDK address settings
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/metrics/audit/AuditUtils.java
  inlong-agent/agent-installer/conf/installer.properties
  inlong-agent/bin/agent-config.sh
  inlong-agent/conf/agent.properties
Labels: component/agent

#10458 [INLONG-10457][SDK] Fix auth spelling errors
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-golang/dataproxy/options_basic.go
Labels: component/sdk

#10454 [INLONG-10452][Manager] Delete the method of querying audit information through MySQL
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/AuditQuerySource.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/AuditEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/mappers/AuditEntityMapper.xml
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/AuditServiceImpl.java
  inlong-manager/manager-test/src/main/resources/application-unit-test.properties
  inlong-manager/manager-web/src/main/resources/application-dev.properties
  inlong-manager/manager-web/src/main/resources/application-prod.properties
  inlong-manager/manager-web/src/main/resources/application-test.properties
Labels: component/manager

#10456 [INLONG-10455][Manager] Fix Set KafkaDataNode ack fail
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/node/kafka/KafkaDataNodeRequest.java
Labels: component/manager

#10444 [INLONG-10443][Agent] Put Rocksdb into the plugins module
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/constant/AgentConstants.java
  inlong-agent/agent-core/src/test/java/org/apache/inlong/agent/core/TestMemoryManager.java
  inlong-agent/agent-installer/conf/installer.properties
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/file/AbstractSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/store/RocksDBStoreImpl.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/utils/RocksDBUtils.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/AgentBaseTestsHelper.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/instance/MockInstance.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/instance/TestInstanceManager.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/sinks/KafkaSinkTest.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/sinks/PulsarSinkTest.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/sinks/filecollect/TestSenderManager.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/sources/TestLogFileSource.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/store/TestRocksDBStoreImpl.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/store/TestRocksDbKey.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/task/MockTask.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/task/TestLogFileTask.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/task/TestTaskManager.java
  inlong-agent/conf/agent.properties
Labels: component/agent

#10451 [INLONG-10450][Sort] Add a new version SinkMetric class to support report audit information exactly once and make No impact on other modules
  inlong-sort/sort-flink/base/src/main/java/org/apache/inlong/sort/base/metric/SinkExactlyMetric.java
Labels: component/sort

#10462 [INLONG-10461][Docker] Update the way to configure audit service info
  docker/docker-compose/docker-compose.yml
  inlong-manager/manager-docker/Dockerfile
  inlong-manager/manager-docker/manager-docker.sh
Labels: component/manager, service/docker

#10473 [INLONG-10472][Manager] Use audit SDK to obtain audit proxy URL
  bin/init-config.sh
  bin/inlong-daemon
  conf/inlong.conf
  docker/docker-compose/docker-compose.yml
  inlong-agent/agent-docker/Dockerfile
  inlong-agent/agent-docker/agent-docker.sh
  inlong-dataproxy/dataproxy-docker/Dockerfile
  inlong-dataproxy/dataproxy-docker/dataproxy-docker.sh
  inlong-manager/manager-docker/Dockerfile
  inlong-manager/manager-docker/manager-docker.sh
  inlong-manager/manager-pojo/pom.xml
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/audit/AuditProxyResponse.java
  inlong-manager/manager-service/pom.xml
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/node/AgentClusterNodeInstallOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/AuditService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/AuditServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/sort/SortFlinkConfigOperator.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/AuditController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/openapi/AuditController.java
  inlong-manager/manager-web/src/main/resources/application-dev.properties
  inlong-manager/manager-web/src/main/resources/application-prod.properties
  inlong-manager/manager-web/src/main/resources/application-test.properties
Labels: component/manager, component/dataproxy, component/agent, service/docker

#10471 [INLONG-10470][Audit] Optimize Audit Proxy configuration update retry logic
  inlong-audit/audit-common/src/main/java/org/apache/inlong/audit/utils/ThreadUtils.java
  inlong-audit/audit-sdk/src/main/java/org/apache/inlong/audit/AuditReporterImpl.java
  inlong-audit/audit-sdk/src/main/java/org/apache/inlong/audit/send/ProxyManager.java
Labels: component/audit

#10460 [INLONG-10449][Dashboard] The field template for selecting a new data
  inlong-dashboard/src/plugins/groups/common/GroupDataTemplateInfo.ts
  inlong-dashboard/src/plugins/streams/common/StreamDefaultInfo.ts
  inlong-dashboard/src/ui/components/EditableTable/index.tsx
  inlong-dashboard/src/ui/components/SelectTemplateModal/index.tsx
  inlong-dashboard/src/ui/locales/cn.json
  inlong-dashboard/src/ui/locales/en.json
  inlong-dashboard/src/ui/pages/GroupDataTemplate/CreateModal.tsx
  inlong-dashboard/src/ui/pages/GroupDetail/DataStream/StreamItemModal.tsx
Labels: component/dashboard

#10479 [INLONG-10478][Audit] Default to enable audit for the Docker and Standalone deployment
  bin/init-config.sh
  inlong-agent/agent-docker/Dockerfile
  inlong-agent/agent-docker/agent-docker.sh
  inlong-dataproxy/dataproxy-docker/Dockerfile
  inlong-dataproxy/dataproxy-docker/dataproxy-docker.sh
Labels: component/dataproxy, component/agent, service/docker

#10477 [INLONG-10476][Agent] The audit address should only be obtained from the manager
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/constant/AgentConstants.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/metrics/audit/AuditUtils.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/store/RocksDBStoreImpl.java
Labels: component/agent

#10475 [INLONG-10474][Manager] Restrict sortTaskName and sortConsumeName the same with datanodeName when migrate Inlong Group
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/tenant/InlongTenantServiceImpl.java
Labels: component/manager

#10488 [INLONG-10487][Manager] Fix the error of not return success ListenerResult
  inlong-manager/manager-plugins/base/src/main/java/org/apache/inlong/manager/plugin/listener/StartupSortListener.java
Labels: component/manager

#10485 [INLONG-10484][Manager] Refactor code in manager-service module
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/InlongClusterService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/InlongClusterServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/group/InlongGroupService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/group/InlongGroupServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/StreamSinkService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/StreamSinkServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/StreamSourceService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/StreamSourceServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/stream/InlongStreamService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/stream/InlongStreamServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/transform/StreamTransformService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/transform/StreamTransformServiceImpl.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/InlongStreamController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/StreamSinkController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/StreamSourceController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/openapi/OpenInLongClusterController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/openapi/OpenInLongGroupController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/openapi/OpenInLongStreamController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/openapi/OpenStreamSinkController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/openapi/OpenStreamSourceController.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/openapi/OpenStreamTransformController.java
Labels: component/manager

#10490 [INLONG-10489][Sort] Optimize Mongodb2StarRocksTest in workflow
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.15/src/test/java/org/apache/inlong/sort/tests/Mongodb2StarRocksTest.java
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.15/src/test/java/org/apache/inlong/sort/tests/utils/StarRocksManager.java
Labels: component/sort

#10469 [INLONG-10468][Dashboard] Audit data showing totals and variances
  inlong-dashboard/src/ui/locales/cn.json
  inlong-dashboard/src/ui/locales/en.json
  inlong-dashboard/src/ui/pages/GroupDetail/Audit/config.tsx
  inlong-dashboard/src/ui/pages/GroupDetail/Audit/index.tsx
Labels: component/dashboard

#10493 [INLONG-10492][Sort] Fix init failure of pulsar connector
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/pulsar/src/main/java/org/apache/inlong/sort/pulsar/PulsarTableFactory.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/pulsar/src/main/java/org/apache/inlong/sort/pulsar/PulsarTableOptionUtils.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/pulsar/src/main/java/org/apache/inlong/sort/pulsar/PulsarTableOptions.java
Labels: component/sort

#10453 [INLONG-10312][Sort] Iceberg sink support report audit information exactly once
  inlong-sort/sort-flink/base/src/main/java/org/apache/inlong/sort/base/metric/SinkExactlyMetric.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/IcebergStreamWriter.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/iceberg/src/main/java/org/apache/inlong/sort/iceberg/sink/IcebergStreamWriterMetrics.java
Labels: component/sort

#10496 [INLONG-10495][Manager] Fix the problem of ScanStartupSubStartOffset is set to null in pulsar extranode
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/node/provider/PulsarProvider.java
Labels: component/manager

#10499 [INLONG-10498][Manager] Template supports modifying associated tenants
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/TemplateEntityMapper.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/mapper/TenantClusterTagEntityMapper.java
  inlong-manager/manager-dao/src/main/resources/mappers/TemplateEntityMapper.xml
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/stream/TemplateServiceImpl.java
Labels: component/manager

#10509 [INLONG-10508][Sort] Fix pulsar connector flink 1.15 scan start up mode parameter cannot keep consistent with flink 1.13
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/pulsar/src/main/java/org/apache/inlong/sort/pulsar/PulsarTableOptionUtils.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/pulsar/src/main/java/org/apache/inlong/sort/pulsar/PulsarTableOptions.java
Labels: component/sort

#10503 [INLONG-10501][Dashboard] Modify component type to be more intuitive
  inlong-dashboard/src/plugins/streams/common/StreamDefaultInfo.ts
Labels: component/dashboard

#10507 [INLONG-10506][Manager] When obtaining a template, return information such as creator and modifier
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/stream/TemplateInfo.java
Labels: component/manager

#10513 [INLONG-10512][Manager] Support preview of data in kv data type
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/stream/BaseInlongStream.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/stream/InlongStreamExtParam.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/datatype/KvDataTypeOperator.java
Labels: component/manager

#10491 [INLONG-8464][Sort] Add JDBC connector on Flink 1.15
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/jdbc/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/converter/clickhouse/ClickHouseRowConverter.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/dialect/JdbcDialectFactory.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/dialect/JdbcDialectLoader.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/dialect/clickhouse/ClickHouseDialect.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/dialect/clickhouse/ClickHouseDialectFactory.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/internal/GenericJdbcSinkFunction.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/internal/JdbcOutputFormat.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/internal/TableJdbcUpsertOutputFormat.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/table/JdbcDynamicTableFactory.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/table/JdbcDynamicTableSink.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/jdbc/src/main/java/org/apache/inlong/sort/jdbc/table/JdbcOutputFormatBuilder.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/jdbc/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/jdbc/src/main/resources/META-INF/services/org.apache.inlong.sort.jdbc.dialect.JdbcDialectFactory
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/pom.xml
  licenses/inlong-sort-connectors/LICENSE
Labels: component/sort

#10517 [INLONG-10516][Manager] Add flink 1.15 jdbc connectors to manager image
  inlong-manager/manager-docker/Dockerfile
  inlong-manager/manager-docker/pom.xml
Labels: component/manager, service/docker

#10435 [INLONG-10434][Manager] Allow creating cluster nodes without setting port
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/cluster/ClusterNodeRequest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/heartbeat/HeartbeatManager.java
Labels: component/manager

#10515 [INLONG-10514][Manager] Support built-in schedule engine trigger submitting of Flink batch job
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/client/InlongGroupClient.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/service/InlongGroupApi.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/consts/InlongConstants.java
  inlong-manager/manager-plugins/base/src/main/java/org/apache/inlong/manager/plugin/offline/FlinkOfflineJobOperator.java
  inlong-manager/manager-plugins/base/src/main/java/org/apache/inlong/manager/plugin/util/FlinkUtils.java
  inlong-manager/manager-schedule/pom.xml
  inlong-manager/manager-schedule/src/main/java/org/apache/inlong/manager/schedule/quartz/QuartzOfflineSyncJob.java
  inlong-manager/manager-schedule/src/main/java/org/apache/inlong/manager/schedule/quartz/QuartzScheduleEngine.java
  inlong-manager/manager-schedule/src/main/java/org/apache/inlong/manager/schedule/quartz/QuartzSchedulerListener.java
  inlong-manager/manager-schedule/src/main/java/org/apache/inlong/manager/schedule/util/ScheduleUtils.java
  inlong-manager/manager-schedule/src/test/java/org/apache/inlong/manager/schedule/util/ScheduleUtilsTest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/listener/schedule/GroupScheduleResourceListener.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/schedule/ScheduleOperatorImpl.java
  inlong-manager/manager-web/src/test/resources/application.properties
Labels: component/manager

#10521 [INLONG-10520][Manager] Fix the problem of protocol type reported by dataproxy not correctly accepted
  docker/docker-compose/docker-compose.yml
  inlong-common/src/main/java/org/apache/inlong/common/heartbeat/HeartbeatMsg.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/heartbeat/HeartbeatManager.java
Labels: component/manager, service/docker

#10523 [INLONG-10522][SDK] SortSDK support assgin subscription
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/api/SortClientConfig.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/fetcher/kafka/KafkaMultiTopicsFetcher.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/fetcher/kafka/KafkaSingleTopicFetcher.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/fetcher/pulsar/PulsarMultiTopicsFetcher.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/fetcher/pulsar/PulsarSingleTopicFetcher.java
  inlong-sdk/sort-sdk/src/main/java/org/apache/inlong/sdk/sort/fetcher/tube/TubeSingleTopicFetcher.java
  inlong-sdk/sort-sdk/src/test/java/org/apache/inlong/sdk/sort/impl/pulsar/InLongPulsarFetcherImplTest.java
Labels: component/sdk

#10502 [INLONG-10500][Dashboard] Change the visible range to a drop-down box
  inlong-dashboard/src/plugins/groups/common/GroupDataTemplateInfo.ts
  inlong-dashboard/src/ui/locales/cn.json
  inlong-dashboard/src/ui/locales/en.json
  inlong-dashboard/src/ui/pages/GroupDataTemplate/CreateModal.tsx
  inlong-dashboard/src/ui/pages/GroupDataTemplate/index.tsx
Labels: component/dashboard

#10525 [INLONG-10524][Dashboard] Modify the time column
  inlong-dashboard/src/plugins/consumes/common/ConsumeDefaultInfo.ts
  inlong-dashboard/src/plugins/groups/common/GroupDefaultInfo.ts
  inlong-dashboard/src/plugins/sync/common/SyncDefaultInfo.ts
  inlong-dashboard/src/ui/pages/AgentModule/config.tsx
  inlong-dashboard/src/ui/pages/AgentPackage/config.tsx
  inlong-dashboard/src/ui/pages/ClusterTags/ClusterList.tsx
  inlong-dashboard/src/ui/pages/Clusters/index.tsx
  inlong-dashboard/src/ui/pages/ConsumeDashboard/config.tsx
  inlong-dashboard/src/ui/pages/ConsumeDashboard/index.tsx
  inlong-dashboard/src/ui/pages/GroupDashboard/config.tsx
  inlong-dashboard/src/ui/pages/Nodes/index.tsx
  inlong-dashboard/src/ui/pages/SynchronizeDashboard/config.tsx
  inlong-dashboard/src/ui/pages/TenantManagement/config.tsx
  inlong-dashboard/src/ui/pages/UserManagement/config.tsx
Labels: component/dashboard

#10536 [INLONG-10535][Agent] Support minute level tasks
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/constant/CycleUnitType.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/utils/DateTransUtils.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/fetcher/ManagerFetcher.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/task/file/FileScanner.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/task/file/LogFileTask.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/task/file/WatchEntity.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/utils/file/FilePathUtil.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/utils/file/NewDateUtils.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/AgentBaseTestsHelper.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/task/TestLogFileTask.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/utils/TestUtils.java
  inlong-agent/agent-plugins/src/test/resources/testScan/202309281030_1/test_1.txt
  inlong-agent/agent-plugins/src/test/resources/testScan/2023092810_1/test_1.txt
  inlong-agent/agent-plugins/src/test/resources/testScan/202309301059_1/test_1.txt
  inlong-agent/agent-plugins/src/test/resources/testScan/20241030/23/59.txt
Labels: component/agent

#10538 [INLONG-10531][SDK] Add InLong dataproxy python SDK based on C++ SDK
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-python/CMakeLists.txt
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-python/README.md
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-python/build.sh
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-python/inlong_dataproxy.cpp
Labels: component/sdk
