Repository apache/inlong, pull requests merged in 2024-02, with the labels that each got.

#9645 [INLONG-9644][CVE] Unify the Guava version to fix the CVE
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/hudi/pom.xml
Labels: component/sort

#9643 [INLONG-9642][CVE] Unify the postgresql version to fix the CVE
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/postgres-cdc/pom.xml
Labels: component/sort

#9660 [INLONG-9658][SDK] Bump up Golang SDK modules
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-golang/go.mod
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-golang/go.sum
Labels: component/sdk

#9659 [INLONG-9657][Dashboard] Support management of Doris data node
  inlong-dashboard/src/plugins/nodes/defaults/Doris.ts
  inlong-dashboard/src/plugins/nodes/defaults/index.ts
  inlong-dashboard/src/ui/locales/cn.json
  inlong-dashboard/src/ui/locales/en.json
Labels: component/dashboard

#9662 [INLONG-9648][Release] Add the 1.11.0 version option for the bug report
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: service/ci

#9631 [INLONG-9565][Sort] Support rowdata way of sort message json format
  inlong-sort/sort-formats/format-rowdata/format-rowdata-json/pom.xml
  inlong-sort/sort-formats/format-rowdata/format-rowdata-json/src/main/java/org/apache/inlong/sort/formats/json/FieldToRowDataConverters.java
  inlong-sort/sort-formats/format-rowdata/format-rowdata-json/src/main/java/org/apache/inlong/sort/formats/json/JsonFormatFactory.java
  inlong-sort/sort-formats/format-rowdata/format-rowdata-json/src/main/java/org/apache/inlong/sort/formats/json/JsonFormatOptions.java
  inlong-sort/sort-formats/format-rowdata/format-rowdata-json/src/main/java/org/apache/inlong/sort/formats/json/JsonFormatUtils.java
  inlong-sort/sort-formats/format-rowdata/format-rowdata-json/src/main/java/org/apache/inlong/sort/formats/json/JsonRowDataDeserializationSchema.java
  inlong-sort/sort-formats/format-rowdata/format-rowdata-json/src/main/java/org/apache/inlong/sort/formats/json/JsonRowDataSerializationSchema.java
  inlong-sort/sort-formats/format-rowdata/format-rowdata-json/src/main/java/org/apache/inlong/sort/formats/json/JsonRowDeserializationSchema.java
  inlong-sort/sort-formats/format-rowdata/format-rowdata-json/src/main/java/org/apache/inlong/sort/formats/json/JsonRowSerializationSchema.java
  inlong-sort/sort-formats/format-rowdata/format-rowdata-json/src/main/java/org/apache/inlong/sort/formats/json/RowDataToFieldConverters.java
  inlong-sort/sort-formats/format-rowdata/format-rowdata-json/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
  inlong-sort/sort-formats/format-rowdata/format-rowdata-json/src/test/java/org/apache/inlong/sort/formats/json/FieldToRowDataConvertersTest.java
  inlong-sort/sort-formats/format-rowdata/format-rowdata-json/src/test/java/org/apache/inlong/sort/formats/json/JsonFormatFactoryTest.java
  inlong-sort/sort-formats/format-rowdata/format-rowdata-json/src/test/java/org/apache/inlong/sort/formats/json/JsonRowDataDeserializationSchemaTest.java
  inlong-sort/sort-formats/format-rowdata/format-rowdata-json/src/test/java/org/apache/inlong/sort/formats/json/JsonRowDataSerDeTestBase.java
  inlong-sort/sort-formats/format-rowdata/format-rowdata-json/src/test/java/org/apache/inlong/sort/formats/json/JsonRowDataSerializationSchemaTest.java
  inlong-sort/sort-formats/format-rowdata/format-rowdata-json/src/test/java/org/apache/inlong/sort/formats/json/JsonRowDeserializationSchemaTest.java
  inlong-sort/sort-formats/format-rowdata/format-rowdata-json/src/test/java/org/apache/inlong/sort/formats/json/JsonRowSerializationSchemaTest.java
  inlong-sort/sort-formats/format-rowdata/format-rowdata-json/src/test/java/org/apache/inlong/sort/formats/json/RowDataToFieldConvertersTest.java
  inlong-sort/sort-formats/format-rowdata/format-rowdata-json/src/test/resources/json_source.txt
  inlong-sort/sort-formats/format-rowdata/pom.xml
Labels: component/sort

#9665 [INLONG-9663][Dashboard] Data synchronization doris sink supports append Mode
  inlong-dashboard/src/plugins/sinks/common/SinkDefaultInfo.ts
  inlong-dashboard/src/plugins/sinks/defaults/Doris.ts
  inlong-dashboard/src/ui/locales/cn.json
  inlong-dashboard/src/ui/locales/en.json
  inlong-dashboard/src/ui/pages/SynchronizeDetail/SyncSink/helper.ts
Labels: component/dashboard

#9664 [INLONG-9570][Sort] Support rowdata way of sort InLong message pb format
  inlong-sort/sort-formats/format-rowdata/format-inlongmsg-rowdata-pb/pom.xml
  inlong-sort/sort-formats/format-rowdata/format-inlongmsg-rowdata-pb/src/main/java/org/apache/inlong/sort/formats/inlongmsgpb/InLongMsgPbDecodingFormat.java
  inlong-sort/sort-formats/format-rowdata/format-inlongmsg-rowdata-pb/src/main/java/org/apache/inlong/sort/formats/inlongmsgpb/InLongMsgPbDeserializationSchema.java
  inlong-sort/sort-formats/format-rowdata/format-inlongmsg-rowdata-pb/src/main/java/org/apache/inlong/sort/formats/inlongmsgpb/InLongMsgPbFormatFactory.java
  inlong-sort/sort-formats/format-rowdata/format-inlongmsg-rowdata-pb/src/main/java/org/apache/inlong/sort/formats/inlongmsgpb/InLongMsgPbOptions.java
  inlong-sort/sort-formats/format-rowdata/format-inlongmsg-rowdata-pb/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
  inlong-sort/sort-formats/format-rowdata/pom.xml
Labels: component/sort

#9630 [INLONG-9563][Sort] Support rowdata way of sort message kv format
  inlong-sort/sort-formats/format-rowdata/format-rowdata-csv/src/test/java/org/apache/inlong/sort/formats/csv/CsvFormatFactoryTest.java
  inlong-sort/sort-formats/format-rowdata/format-rowdata-kv/pom.xml
  inlong-sort/sort-formats/format-rowdata/format-rowdata-kv/src/main/java/org/apache/inlong/sort/formats/kv/KvCommons.java
  inlong-sort/sort-formats/format-rowdata/format-rowdata-kv/src/main/java/org/apache/inlong/sort/formats/kv/KvFormatBuilder.java
  inlong-sort/sort-formats/format-rowdata/format-rowdata-kv/src/main/java/org/apache/inlong/sort/formats/kv/KvFormatFactory.java
  inlong-sort/sort-formats/format-rowdata/format-rowdata-kv/src/main/java/org/apache/inlong/sort/formats/kv/KvRowDataDeserializationSchema.java
  inlong-sort/sort-formats/format-rowdata/format-rowdata-kv/src/main/java/org/apache/inlong/sort/formats/kv/KvRowDataSerializationSchema.java
  inlong-sort/sort-formats/format-rowdata/format-rowdata-kv/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
  inlong-sort/sort-formats/format-rowdata/format-rowdata-kv/src/test/java/org/apache/inlong/sort/formats/kv/KvFormatFactoryTest.java
  inlong-sort/sort-formats/format-rowdata/format-rowdata-kv/src/test/java/org/apache/inlong/sort/formats/kv/KvRowDataDeserializationSchemaTest.java
  inlong-sort/sort-formats/format-rowdata/format-rowdata-kv/src/test/java/org/apache/inlong/sort/formats/kv/KvRowDataSerializationSchemaTest.java
  inlong-sort/sort-formats/format-rowdata/format-rowdata-kv/src/test/java/org/apache/inlong/sort/formats/kv/KvUtilsTest.java
  inlong-sort/sort-formats/format-rowdata/format-rowdata-kv/src/test/resources/log4j-test.properties
  inlong-sort/sort-formats/format-rowdata/pom.xml
Labels: component/sort

#9678 [INLONG-9652][Release] Bumped 1.11.0 branch version to 1.11.0
  inlong-sort/sort-formats/format-rowdata/format-inlongmsg-rowdata-pb/pom.xml
  inlong-sort/sort-formats/format-rowdata/format-rowdata-kv/pom.xml
Labels: component/sort

#9679 [INLONG-9651][Release] Bumped sub-modules' version to 1.12.0-SNAPSHOT and fix error in unit test
  inlong-sort/sort-formats/format-rowdata/format-inlongmsg-rowdata-pb/pom.xml
  inlong-sort/sort-formats/format-rowdata/format-rowdata-json/src/test/java/org/apache/inlong/sort/formats/json/RowDataToFieldConvertersTest.java
  inlong-sort/sort-formats/format-rowdata/format-rowdata-kv/pom.xml
Labels: component/sort

#9673 [INLONG-9671][Manager] Adding JDBC URL checks to the updateAuditSource method
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/consts/AuditSourceType.java
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/ErrorCodeEnum.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/audit/AbstractAuditSourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/audit/AuditSourceClickhouseOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/audit/AuditSourceElasticsearchOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/audit/AuditSourceMysqlOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/audit/InlongAuditSourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/audit/InlongAuditSourceOperatorFactory.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/AuditServiceImpl.java
Labels: component/manager

#9680 [INLONG-9653][Release] Change the tag of Docker images to 1.11.0
  conf/inlong.conf
  docker/docker-compose/.env
  docker/kubernetes/README.md
  docker/kubernetes/values.yaml
  inlong-agent/agent-docker/README.md
  inlong-audit/audit-docker/README.md
  inlong-dataproxy/dataproxy-docker/README.md
  inlong-manager/manager-docker/README.md
  inlong-tubemq/tubemq-docker/tubemq-all/README.md
  inlong-tubemq/tubemq-docker/tubemq-manager/README.md
Labels: component/tubemq, component/manager, component/dataproxy, component/agent, component/audit, service/docker, service/k8s

#9682 [INLONG-9652][Release] Bumped submodule 1.12.0-SNAPSHOT branch version to 1.11.0
  inlong-sort/sort-formats/format-rowdata/format-inlongmsg-rowdata-pb/pom.xml
  inlong-sort/sort-formats/format-rowdata/format-rowdata-kv/pom.xml
Labels: component/sort

#9647 [INLONG-9568][Sort] Support rowdata way of sort InLong message kv format
  inlong-sort/sort-formats/format-common/src/main/java/org/apache/inlong/sort/formats/base/TableFormatConstants.java
  inlong-sort/sort-formats/format-rowdata/format-inlongmsg-rowdata-kv/pom.xml
  inlong-sort/sort-formats/format-rowdata/format-inlongmsg-rowdata-kv/src/main/java/org/apache/inlong/sort/formats/inlongmsgkv/InLongMsgKvDecodingFormat.java
  inlong-sort/sort-formats/format-rowdata/format-inlongmsg-rowdata-kv/src/main/java/org/apache/inlong/sort/formats/inlongmsgkv/InLongMsgKvFormatDeserializer.java
  inlong-sort/sort-formats/format-rowdata/format-inlongmsg-rowdata-kv/src/main/java/org/apache/inlong/sort/formats/inlongmsgkv/InLongMsgKvFormatFactory.java
  inlong-sort/sort-formats/format-rowdata/format-inlongmsg-rowdata-kv/src/main/java/org/apache/inlong/sort/formats/inlongmsgkv/InLongMsgKvRowDataDeserializationSchema.java
  inlong-sort/sort-formats/format-rowdata/format-inlongmsg-rowdata-kv/src/main/java/org/apache/inlong/sort/formats/inlongmsgkv/InLongMsgKvUtils.java
  inlong-sort/sort-formats/format-rowdata/format-inlongmsg-rowdata-kv/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
  inlong-sort/sort-formats/format-rowdata/format-inlongmsg-rowdata-kv/src/test/java/org/apache/inlong/sort/formats/inlongmsgkv/InLongMsgKvFormatDeserializerTest.java
  inlong-sort/sort-formats/format-rowdata/format-inlongmsg-rowdata-kv/src/test/java/org/apache/inlong/sort/formats/inlongmsgkv/InLongMsgKvFormatFactoryTest.java
  inlong-sort/sort-formats/format-rowdata/format-inlongmsg-rowdata-kv/src/test/resources/log4j-test.properties
  inlong-sort/sort-formats/format-rowdata/pom.xml
Labels: component/sort

#9686 [INLONG-9683][Agent] Remove Akka dependency for it is not used
  inlong-agent/agent-core/pom.xml
  licenses/inlong-agent/LICENSE
  licenses/inlong-manager/LICENSE
  pom.xml
Labels: component/agent

#9694 [INLONG-9689][Manager] Optimize MySQL JDBC URL check
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/util/MySQLSensitiveUrlUtils.java
Labels: component/manager

#9691 [INLONG-9690][CI] Clean up more space for build
  .github/workflows/ci_build.yml
  .github/workflows/ci_docker.yml
  .github/workflows/ci_ut.yml
  .github/workflows/ci_ut_flink15.yml
  .github/workflows/codeql_analysis.yml
Labels: service/ci

#9693 [INLONG-9692][Sort] Support rowdata way of sort InLong message tlog-csv format
  inlong-sort/sort-formats/format-rowdata/format-inlongmsg-rowdata-tlogcsv/pom.xml
  inlong-sort/sort-formats/format-rowdata/format-inlongmsg-rowdata-tlogcsv/src/main/java/org/apache/inlong/sort/formats/inlongmsgtlogcsv/InLongMsgTlogCsvDeserializationSchema.java
  inlong-sort/sort-formats/format-rowdata/format-inlongmsg-rowdata-tlogcsv/src/main/java/org/apache/inlong/sort/formats/inlongmsgtlogcsv/InLongMsgTlogCsvFormatDeserializer.java
  inlong-sort/sort-formats/format-rowdata/format-inlongmsg-rowdata-tlogcsv/src/main/java/org/apache/inlong/sort/formats/inlongmsgtlogcsv/InLongMsgTlogCsvFormatFactory.java
  inlong-sort/sort-formats/format-rowdata/format-inlongmsg-rowdata-tlogcsv/src/main/java/org/apache/inlong/sort/formats/inlongmsgtlogcsv/InLongMsgTlogCsvUtils.java
  inlong-sort/sort-formats/format-rowdata/format-inlongmsg-rowdata-tlogcsv/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
  inlong-sort/sort-formats/format-rowdata/format-inlongmsg-rowdata-tlogcsv/src/test/java/org/apache/inlong/sort/formats/inlongmsgtlogcsv/InLongMsgTlogCsvFormatDeserializerTest.java
  inlong-sort/sort-formats/format-rowdata/format-inlongmsg-rowdata-tlogcsv/src/test/java/org/apache/inlong/sort/formats/inlongmsgtlogcsv/InLongMsgTlogCsvFormatFactoryTest.java
  inlong-sort/sort-formats/format-rowdata/format-inlongmsg-rowdata-tlogcsv/src/test/resources/log4j-test.properties
  inlong-sort/sort-formats/format-rowdata/pom.xml
Labels: component/sort

#9697 [INLONG-9695][Sort] Fix kafka extract node option config building error when use upsert-kafka connector
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/extract/KafkaExtractNode.java
  inlong-sort/sort-core/src/test/java/org/apache/inlong/sort/parser/KafkaSqlParseTest.java
Labels: component/sort

#9707 [INLONG-9706][Manager] Supports jdbc verification under multiple hosts
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/consts/InlongConstants.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/util/MySQLSensitiveUrlUtils.java
Labels: component/manager

#9703 [INLONG-9702][Agent] Change the data transmission interval to depend on local file configuration
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sinks/AbstractSink.java
Labels: component/agent

#9701 [INLONG-9700][Agent] Optimize the message ack logic to reduce semaphore competition
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sinks/ProxySink.java
Labels: component/agent

#9709 [INLONG-9708][Dashboard] Module audit query date optimization
  inlong-dashboard/src/ui/pages/ModuleAudit/IdModule/index.tsx
  inlong-dashboard/src/ui/pages/ModuleAudit/IpModule/index.tsx
Labels: component/dashboard

#9711 [INLONG-9710][Agent] Improve the accuracy of instance heartbeat auditing
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/instance/FileInstance.java
Labels: component/agent

#9719 [INLONG-9718][Manager] Transform supports function type fields
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/util/FilterFunctionUtils.java
Labels: component/manager

#9717 [INLONG-9716][Agent] Delete useless code when storing tasks
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/db/TaskProfileDb.java
Labels: component/agent

#9722 [INLONG-9721][Agent] Add a common cycle parameter to the task configuration
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/constant/TaskConstants.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/pojo/TaskProfileDto.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/task/file/LogFileTask.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/task/TestLogFileTask.java
Labels: component/agent

#9724 [INLONG-9723][Dashboard] Module audit id query item optimization
  inlong-dashboard/src/plugins/sinks/common/sourceFields.ts
  inlong-dashboard/src/plugins/streams/common/StreamDefaultInfo.ts
  inlong-dashboard/src/ui/pages/GroupDetail/Audit/config.tsx
  inlong-dashboard/src/ui/pages/ModuleAudit/IdModule/config.tsx
  inlong-dashboard/src/ui/pages/ModuleAudit/IpModule/config.tsx
Labels: component/dashboard

#9728 [INLONG-9727][Manager] Support configuring the timezone for agent collection addresses to streamSource
  inlong-common/src/main/java/org/apache/inlong/common/pojo/agent/DataConfig.java
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/StreamSourceEntity.java
  inlong-manager/manager-dao/src/main/resources/mappers/StreamSourceEntityMapper.xml
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/SourceRequest.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/StreamSource.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/AgentServiceImpl.java
  inlong-manager/manager-test/src/main/resources/h2/apache_inlong_manager.sql
  inlong-manager/manager-web/sql/apache_inlong_manager.sql
  inlong-manager/manager-web/sql/changes-1.12.0.sql
Labels: component/manager

#9731 [INLONG-9729][Dashboard] Data access sink field mapping supports underscores
  inlong-dashboard/src/plugins/sinks/defaults/ClickHouse.ts
  inlong-dashboard/src/plugins/sinks/defaults/Cls.ts
  inlong-dashboard/src/plugins/sinks/defaults/Doris.ts
  inlong-dashboard/src/plugins/sinks/defaults/Elasticsearch.ts
  inlong-dashboard/src/plugins/sinks/defaults/Greenplum.ts
  inlong-dashboard/src/plugins/sinks/defaults/HBase.ts
  inlong-dashboard/src/plugins/sinks/defaults/Hive.ts
  inlong-dashboard/src/plugins/sinks/defaults/MySQL.ts
  inlong-dashboard/src/plugins/sinks/defaults/Oracle.ts
  inlong-dashboard/src/plugins/sinks/defaults/PostgreSQL.ts
  inlong-dashboard/src/plugins/sinks/defaults/Redis.ts
  inlong-dashboard/src/plugins/sinks/defaults/SQLServer.ts
  inlong-dashboard/src/plugins/sinks/defaults/StarRocks.ts
  inlong-dashboard/src/plugins/sinks/defaults/TDSQLPostgreSQL.ts
  inlong-dashboard/src/plugins/sources/defaults/File.ts
  inlong-dashboard/src/ui/locales/cn.json
  inlong-dashboard/src/ui/locales/en.json
Labels: component/dashboard

#9734 [INLONG-9733][Manager] Support querying audit data at the minute level
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/core/impl/AuditServiceImpl.java
Labels: component/manager

#9732 [INLONG-9696][Manager] Manager client support delete inlong tenant and role
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/client/InlongTenantClient.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/client/InlongTenantRoleClient.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/service/InlongTenantApi.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/service/InlongTenantRoleApi.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/InlongTenantController.java
Labels: component/manager

#9737 [INLONG-9736][Agent] Make time zone a common parameter
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/conf/TaskProfile.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/constant/CommonConstants.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/constant/FetcherConstants.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/constant/TaskConstants.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/pojo/FileTask.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/pojo/TaskProfileDto.java
  inlong-agent/agent-core/src/test/java/org/apache/inlong/agent/core/AgentBaseTestsHelper.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/fetcher/ManagerFetcher.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/task/file/LogFileTask.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/AgentBaseTestsHelper.java
Labels: component/agent

#9738 [INLONG-9715][Sort] Update protobuf-java version in sort module
  inlong-sort/sort-formats/format-common/pom.xml
  inlong-sort/sort-formats/format-row/format-inlongmsg-binlog/pom.xml
  inlong-sort/sort-formats/format-rowdata/format-inlongmsg-rowdata-binlog/pom.xml
Labels: component/sort

#9740 [INLONG-9739][Sort] onParsingBodyFailure function in FailureHandler class need add 'head' paramete to generate failure metric
  inlong-sort/sort-formats/format-common/src/main/java/org/apache/inlong/sort/formats/inlongmsg/FailureHandler.java
  inlong-sort/sort-formats/format-common/src/main/java/org/apache/inlong/sort/formats/inlongmsg/IgnoreFailureHandler.java
  inlong-sort/sort-formats/format-common/src/main/java/org/apache/inlong/sort/formats/inlongmsg/NoOpFailureHandler.java
  inlong-sort/sort-formats/format-row/format-inlongmsg-base/src/main/java/org/apache/inlong/sort/formats/inlongmsg/AbstractInLongMsgFormatDeserializer.java
  inlong-sort/sort-formats/format-row/format-inlongmsg-csv/src/test/java/org/apache/inlong/sort/formats/inlongmsgcsv/InLongMsgCsvFormatDeserializerTest.java
  inlong-sort/sort-formats/format-row/format-inlongmsg-kv/src/test/java/org/apache/inlong/sort/formats/inlongmsgkv/InLongMsgKvFormatDeserializerTest.java
  inlong-sort/sort-formats/format-row/format-inlongmsg-tlogcsv/src/test/java/org/apache/inlong/sort/formats/inlongmsgtlogcsv/InLongMsgTlogCsvFormatDeserializerTest.java
  inlong-sort/sort-formats/format-row/format-inlongmsg-tlogkv/src/test/java/org/apache/inlong/sort/formats/inlongmsgtlogkv/InLongMsgTlogKvFormatDeserializerTest.java
  inlong-sort/sort-formats/format-rowdata/format-inlongmsg-rowdata-base/src/main/java/org/apache/inlong/sort/formats/inlongmsg/AbstractInLongMsgFormatDeserializer.java
  inlong-sort/sort-formats/format-rowdata/format-inlongmsg-rowdata-csv/src/test/java/org/apache/inlong/sort/formats/inlongmsgcsv/InLongMsgCsvFormatDeserializerTest.java
  inlong-sort/sort-formats/format-rowdata/format-inlongmsg-rowdata-kv/src/test/java/org/apache/inlong/sort/formats/inlongmsgkv/InLongMsgKvFormatDeserializerTest.java
  inlong-sort/sort-formats/format-rowdata/format-inlongmsg-rowdata-tlogcsv/src/test/java/org/apache/inlong/sort/formats/inlongmsgtlogcsv/InLongMsgTlogCsvFormatDeserializerTest.java
Labels: component/sort

#9748 [INLONG-9747][Dashboard] Module audit ID query data display optimization
  inlong-dashboard/src/ui/pages/ModuleAudit/IdModule/index.tsx
Labels: component/dashboard

#9754 [INLONG-9752][Manager] Operation logs support querying based on successful or unsuccessful calls
  inlong-manager/manager-dao/src/main/resources/mappers/OperationLogEntityMapper.xml
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/operationLog/OperationLogRequest.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/AuditController.java
Labels: component/manager
