Repository apache/inlong, pull requests merged in 2024-10, with the labels that each got.

#11284 [INLONG-11262][SDK] Transform SQL supports "erf" and "erfc" function
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/ErfFunction.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/ErfcFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/arithmetic/TestErfFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/arithmetic/TestErfcFunction.java
Labels: component/sdk

#11281 [INLONG-11261][SDK] Transform SQL supports "cbrt" function
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/CbrtFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/arithmetic/TestCbrtFunction.java
Labels: component/sdk

#11278 [INLONG-11260][SDK] Transform SQL supports "num_nonnulls" and "num_nulls" function
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/NumNonNullsFunction.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/NumNullsFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/arithmetic/TestNumNonNullsFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/arithmetic/TestNumNullsFunction.java
Labels: component/sdk

#11277 [INLONG-11243][SDK] Enhance the functionality of the substring function in Transform SQL
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/SubstringFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/string/TestSubstringFunction.java
Labels: component/sdk

#11276 [INLONG-11242][SDK] Transform support MAP() function
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/MapFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/string/TestMapFunction.java
Labels: component/sdk

#11274 [INLONG-11241][SDK] Transform support ARRAY() function
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/ArrayFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/string/TestArrayFunction.java
Labels: component/sdk

#11273 [INLONG-11225][SDK] Transform support JSON_ARRAY() function
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/JsonArraysFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/string/TestJsonArraysFunction.java
Labels: component/sdk

#11272 [INLONG-11226][SDK] Transform support parse IS DISTINCT FROM
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/operator/DistinctOperator.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/operator/TestDistinctOperator.java
Labels: component/sdk

#11271 [INLONG-11238][SDK] Transform SQL supports FORMAT function
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/FormatFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/string/TestFormatFunction.java
Labels: component/sdk

#11270 [INLONG-11224][SDK] Transform support JSON_QUERY() function
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/JsonQueryFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/string/TestJsonQueryFunction.java
Labels: component/sdk

#11269 [INLONG-11223][SDK] Transform support JSON_VALUE() function
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/JsonValueFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/string/TestJsonValueFunction.java
Labels: component/sdk

#11258 [INLONG-11239][SDK] Transform SQL supports INSTR function
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/LocateFunction.java
Labels: component/sdk

#11257 [INLONG-11236][SDK] Transform SQL supports FIND_IN_SET function
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/FindInSetFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/TestFindInSetFunction.java
Labels: component/sdk

#11256 [INLONG-11221][SDK] Transform support JSON_EXISTS() function
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/JsonExistsFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/string/TestJsonExistsFunction.java
Labels: component/sdk

#11255 [INLONG-11220][SDK] Transform support GREATEST() and LEAST() function
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/GreatestFunction.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/LeastFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/arithmetic/AbstractFunctionArithmeticTestBase.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/arithmetic/TestGreatestFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/arithmetic/TestLeastFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/operator/TestIsBooleanOperator.java
Labels: component/sdk

#11254 [INLONG-11219][SDK] Transform support COALESCE() function
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/CoalesceFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/string/TestCoalesceFunction.java
Labels: component/sdk

#11251 [INLONG-11218][SDK] Transform support CONVERT_TZ() function
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/ConvertTzFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/temporal/TestConvertTzFunction.java
Labels: component/sdk

#11244 [INLONG-11217][SDK] Transform support JSON_QUOTE() and JSON_UNQUOTE() function
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/JsonQuoteFunction.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/JsonUnQuoteFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/string/TestJsonQuoteFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/string/TestJsonUnQuoteFunction.java
Labels: component/sdk

#11231 [INLONG-11209][SDK] Transform TRIM() function add usage of BTRIM()
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/TrimFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/string/TestTrimFunction.java
Labels: component/sdk

#11232 [INLONG-11216][SDK] Transform support STR_TO_MAP() function
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/StrToMapFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/string/TestStrToMapFunction.java
Labels: component/sdk

#11155 [INLONG-11153][Manager] Fix the problem of HTTP sink does not automatically allocate sort cluster
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/consts/SinkType.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/sink/http/HttpResourceOperator.java
Labels: component/manager

#11215 [INLONG-11214][SDK] Modify the problem of incomplete division in DivisionParser
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/parser/DivisionParser.java
Labels: component/sdk

#11084 [INLONG-10287][Agent] Update the Redis Source
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/constant/TaskConstants.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/pojo/RedisTask.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/pojo/TaskProfileDto.java
  inlong-agent/agent-plugins/pom.xml
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/instance/RedisInstance.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/RedisSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/task/RedisTask.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/sources/TestRedisSource.java
Labels: component/agent

#11285 [INLONG-11263][SDK] Transform SQL supports "lcm" function
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/LcmFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/arithmetic/TestLcmFunction.java
Labels: component/sdk

#11287 [INLONG-11204][Dashboard] Agent node hidden port number
  inlong-dashboard/src/ui/pages/Clusters/NodeEditModal.tsx
Labels: component/dashboard

#11308 [INLONG-11307][Manager] Fix the problem of unable to obtain extparams from multiple data sources
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/AbstractSourceOperator.java
Labels: component/manager

#11001 [INLONG-11000][SDK] Add XML formatted data source for Transform
  inlong-sdk/transform-sdk/pom.xml
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/decode/SourceDecoderFactory.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/decode/XmlNode.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/decode/XmlSourceData.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/decode/XmlSourceDecoder.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/pojo/XmlSourceInfo.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/processor/TestXml2CsvProcessor.java
Labels: component/sdk

#11144 [INLONG-10464][SDK] InlongSDK support retry sending when failed
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/ConfigConstants.java
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/DefaultMessageSender.java
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/ProxyClientConfig.java
Labels: component/sdk

#11200 [INLONG-11192][SDK] Transform SQL supports TIMEDIFF function
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/TimeDiffFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/temporal/TestTimeDiffFunction.java
Labels: component/sdk

#11203 [INLONG-11202][SDK] Optimize the code related to the date type in Transform
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/DateAddFunction.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/DateDiffFunction.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/DateSubFunction.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/TimestampAddFunction.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/TimestampDiffFunction.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/parser/AdditionParser.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/parser/IntervalParser.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/parser/SubtractionParser.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/pojo/IntervalInfo.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/utils/DateUtil.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/temporal/TestTimestampAddFunction.java
Labels: component/sdk

#11253 [INLONG-11235][SDK] Transform SQL supports SUBSTRING_INDEX function
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/SubstringIndexFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/string/TestSubstringIndexFunction.java
Labels: component/sdk

#11289 [INLONG-11264][SDK] Transform SQL supports functions related to scale
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/MinScaleFunction.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/ScaleFunction.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/TrimScaleFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/arithmetic/TestMinScaleFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/arithmetic/TestScaleFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/arithmetic/TestTrimScaleFunction.java
Labels: component/sdk

#11211 [INLONG-11210][Dashboard] Version management removes related interface calls and adds default values
  inlong-dashboard/src/ui/pages/AgentModule/CreateModal.tsx
Labels: component/dashboard

#11206 [INLONG-11201][Sort] Enhanced sink metric instrumentation for Flink StarRocks Connector
  .github/workflows/ci_ut.yml
  inlong-sort/sort-flink/base/src/main/java/org/apache/inlong/sort/base/Constants.java
  inlong-sort/sort-flink/base/src/main/java/org/apache/inlong/sort/base/metric/SinkExactlyMetric.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/starrocks/src/main/java/org/apache/inlong/sort/starrocks/table/sink/table/StarRocksDynamicSinkFunctionV2.java
Labels: component/sort, service/ci

#11309 [INLONG-11306][Agent] Modify the naming of variables in the redis source
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/constant/TaskConstants.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/pojo/RedisTask.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/pojo/TaskProfileDto.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/RedisSource.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/sources/TestRedisSource.java
Labels: component/agent

#11268 [INLONG-11266][Sort] Add end-to-end test case for sort-connector-pulsar-v1.15
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.15/pom.xml
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.15/src/test/java/org/apache/inlong/sort/tests/Pulsar2StarRocksTest.java
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.15/src/test/resources/flinkSql/pulsar_test.sql
  pom.xml
Labels: component/sort

#11312 [INLONG-11286][Audit] Optimize the statistics of daily Audit data
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/config/ConfigConstants.java
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/config/SqlConstants.java
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/entities/PartitionEntity.java
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/entities/SourceConfig.java
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/main/Application.java
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/service/EtlService.java
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/service/PartitionManager.java
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/sink/AuditSink.java
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/sink/CacheSink.java
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/sink/JdbcSink.java
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/source/JdbcSource.java
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/utils/JdbcUtils.java
  inlong-audit/sql/apache_inlong_audit_mysql.sql
Labels: component/audit

#11299 [INLONG-11298][Agent] Fix bug for pulsar source with empty data process and specified time consumption
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/constant/CommonConstants.java
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/message/file/ProxyMessageCache.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/instance/InstanceManager.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/PulsarSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/file/AbstractSource.java
Labels: component/agent

#11314 [INLONG-11313][Manager] Dataproxy cluster add maximum packet length configuration
  inlong-common/src/main/java/org/apache/inlong/common/pojo/dataproxy/DataProxyNodeInfo.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/cluster/dataproxy/DataProxyClusterDTO.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/cluster/dataproxy/DataProxyClusterInfo.java
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/cluster/dataproxy/DataProxyClusterRequest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/InlongClusterServiceImpl.java
Labels: component/manager

#11316 [INLONG-11315][Audit] Resolve the conflict between the Audit SDK and other components' Protobuf versions
  inlong-audit/audit-common/pom.xml
Labels: component/audit

#11311 [INLONG-11178][Dashboard] Added http sink and http node
  inlong-dashboard/src/plugins/clusters/defaults/SortHttp.ts
  inlong-dashboard/src/plugins/clusters/defaults/index.ts
  inlong-dashboard/src/plugins/nodes/defaults/Http.ts
  inlong-dashboard/src/plugins/nodes/defaults/index.ts
  inlong-dashboard/src/plugins/sinks/defaults/Http.ts
  inlong-dashboard/src/plugins/sinks/defaults/index.ts
  inlong-dashboard/src/ui/locales/cn.json
  inlong-dashboard/src/ui/locales/en.json
  inlong-dashboard/src/ui/pages/Clusters/CreateModal.tsx
Labels: component/dashboard

#11234 [INLONG-11233][SDK] Transform SQL supports mid function
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/SubstringFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/string/TestSubstringFunction.java
Labels: component/sdk

#11280 [INLONG-11252][SDK] Transform support PB sink data
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/encode/PbSinkEncoder.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/encode/SinkEncoderFactory.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/pojo/PbSinkInfo.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/pojo/SinkInfo.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/processor/TestAny2PbProcessor.java
Labels: component/sdk

#11317 [INLONG-11283][SDK]Transform enhance Map-related Collection Functions
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/MapEntriesFunction.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/MapFromArraysFunction.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/MapKeysFunction.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/MapUnionFunction.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/MapValueFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/string/TestMapEntriesFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/string/TestMapFromArraysFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/string/TestMapKeysFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/string/TestMapUnionFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/string/TestMapValuesFunction.java
Labels: component/sdk

#11310 [INLONG-11300][SDK] Transform SQL supports "JSON_ARRAY_APPEND" function
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/JsonArrayAppendFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/string/TestJsonArrayAppendFunction.java
Labels: component/sdk

#11322 [INLONG-11321][CI] Fix workflow failure when removing unnecessary packages
  .github/workflows/ci_build.yml
  .github/workflows/ci_ut.yml
  .github/workflows/ci_ut_flink13.yml
  .github/workflows/ci_ut_flink15.yml
  .github/workflows/ci_ut_flink18.yml
  .github/workflows/codeql_analysis.yml
Labels: service/ci

#11319 [INLONG-11301][SDK] Transform SQL supports "JSON_ARRAY_INSERT" function
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/JsonArrayInsertFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/string/TestJsonArrayInsertFunction.java
Labels: component/sdk

#11329 [INLONG-11291][Release] Add the 2.0.0 version option for the bug report
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: service/ci

#11318 [INLONG-11029][SDK] Transform SQL support StartsWith & EndsWith functions
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/EndsWithFunction.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/StartsWithFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/string/TestEndsWithFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/string/TestStartsWithFunction.java
Labels: component/sdk

#11328 [INLONG-11327][Agent] No longer retrieve extend class from task configuration
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/constant/TaskConstants.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/DatabaseSqlSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/KafkaSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/LogFileSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/MongoDBSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/MqttSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/OracleSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/PostgreSQLSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/PulsarSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/RedisSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/SQLServerSource.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/file/AbstractSource.java
Labels: component/agent

#11331 [INLONG-11330][Audit] Audit SDK supports custom setting of local IP
  inlong-audit/audit-sdk/src/main/java/org/apache/inlong/audit/AuditReporterImpl.java
  inlong-audit/audit-sdk/src/main/java/org/apache/inlong/audit/util/Config.java
Labels: component/audit

#11248 [INLONG-11229][SDK] Transform Support ELT Function
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/EltFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/string/TestEltFunction.java
Labels: component/sdk

#11332 [INLONG-11321][CI] Fix the docker ci workflow failure when removing unnecessary packages
  .github/workflows/ci_docker.yml
Labels: service/ci

#11324 [INLONG-11323][Manager] Modify the parameters of the data add tasks for file collection
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/source/DataAddTaskRequest.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/AbstractSourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/StreamSourceService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/StreamSourceServiceImpl.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/StreamSourceController.java
Labels: component/manager

#11334 [INLONG-11333][Agent] Retrieve IP from configuration file during audit reporting
  inlong-agent/agent-common/src/main/java/org/apache/inlong/agent/metrics/audit/AuditUtils.java
  inlong-agent/agent-common/src/test/java/org/apache/inlong/agent/AgentBaseTestsHelper.java
  inlong-agent/agent-core/src/test/java/org/apache/inlong/agent/core/AgentBaseTestsHelper.java
  inlong-agent/agent-installer/src/test/java/installer/BaseTestsHelper.java
  inlong-agent/agent-plugins/src/test/java/org/apache/inlong/agent/plugin/AgentBaseTestsHelper.java
Labels: component/agent

#10892 [INLONG-10883][SDK] Transform SQL support InitCap function
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/InitCapFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/string/TestInitCapFunction.java
Labels: component/sdk

#11288 [INLONG-11282][SDK] Transform enhance Array-related Collection Functions
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/collection/ArrayAppendFunction.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/collection/ArrayConcatFunction.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/collection/ArrayContainsFunction.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/collection/ArrayDistinctFunction.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/collection/ArrayExceptFunction.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/collection/ArrayIntersectFunction.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/collection/ArrayJoinFunction.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/collection/ArrayMaxFunction.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/collection/ArrayMinFunction.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/collection/ArrayPositionFunction.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/collection/ArrayPrependFunction.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/collection/ArrayRemoveFunction.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/collection/ArrayReverseFunction.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/collection/ArraySliceFunction.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/collection/ArraySortFunction.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/collection/ArrayUnionFunction.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/collection/CardinalityFunction.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/collection/ElementFunction.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/json/JsonArrayInsertFunction.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/string/EltFunction.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/string/EndsWithFunction.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/string/StartsWithFunction.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/operator/OperatorTools.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/collection/TestArrayAppendFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/collection/TestArrayConcatFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/collection/TestArrayContainsFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/collection/TestArrayDistinctFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/collection/TestArrayExceptFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/collection/TestArrayIntersectFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/collection/TestArrayJoinFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/collection/TestArrayMaxFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/collection/TestArrayMinFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/collection/TestArrayPositionFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/collection/TestArrayPrependFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/collection/TestArrayRemoveFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/collection/TestArrayReverseFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/collection/TestArraySliceFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/collection/TestArraySortFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/collection/TestArrayUnionFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/collection/TestCardinalityFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/collection/TestElementFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/json/TestJsonArrayInsertFunction.java
Labels: component/sdk

#11336 [INLONG-11335][Manager] Move maxPacketLength to the DataProxyNodeResponse
  inlong-common/src/main/java/org/apache/inlong/common/pojo/dataproxy/DataProxyNodeInfo.java
  inlong-common/src/main/java/org/apache/inlong/common/pojo/dataproxy/DataProxyNodeResponse.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/InlongClusterServiceImpl.java
Labels: component/manager

#11031 [INLONG-11028][SDK] Transform SQL support UrlEncode & UrlDecode functions
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/string/UrlDecodeFunction.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/string/UrlEncodeFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/string/TestUrlDecodeFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/string/TestUrlEncodeFunction.java
Labels: component/sdk

#11119 [INLONG-10463][SDK] Optimization of ultra-long field processing in InlongSDK
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/ConfigConstants.java
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/DefaultMessageSender.java
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/config/ProxyConfigEntry.java
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/config/ProxyConfigManager.java
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/utils/ProxyUtils.java
Labels: component/sdk

#11212 [INLONG-11199][Sort] Integrate Grafana Loki for connectors
  docker/docker-compose/docker-compose.yml
  docker/docker-compose/log-system/loki.yaml
  docker/docker-compose/log-system/otel-config.yaml
  inlong-sort/sort-flink/base/src/main/java/org/apache/inlong/sort/base/util/OpenTelemetryLogger.java
Labels: component/sort, service/docker

#11326 [INLONG-11325][SDK] DataProxy SDK supports elegant metadata updates
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/network/ClientMgr.java
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/network/Sender.java
Labels: component/sdk

#11353 [INLONG-11296][Release] Change the tag of Docker images to 2.0.0
  conf/inlong.conf
  docker/docker-compose/.env
  docker/kubernetes/README.md
  docker/kubernetes/values.yaml
  inlong-agent/agent-docker/README.md
  inlong-audit/audit-docker/README.md
  inlong-dataproxy/dataproxy-docker/README.md
  inlong-manager/manager-docker/README.md
  inlong-tubemq/tubemq-docker/tubemq-all/README.md
  inlong-tubemq/tubemq-docker/tubemq-manager/README.md
Labels: component/tubemq, component/manager, component/dataproxy, component/agent, component/audit, service/docker, service/k8s

#11341 [INLONG-11340][Sort] Add new source metrics for sort-connector-pulsar-v1.15
  inlong-sort/sort-flink/base/src/main/java/org/apache/inlong/sort/base/metric/SourceExactlyMetric.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/pulsar/src/main/java/org/apache/inlong/sort/pulsar/source/reader/PulsarOrderedSourceReader.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/pulsar/src/main/java/org/apache/inlong/sort/pulsar/source/reader/PulsarUnorderedSourceReader.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/pulsar/src/main/java/org/apache/inlong/sort/pulsar/table/PulsarTableDeserializationSchema.java
Labels: component/sort

#11359 [INLONG-11320][Audit] Add a metric monitoring system for the Audit Proxy itself
  inlong-audit/audit-common/src/main/java/org/apache/inlong/audit/file/ConfigManager.java
  inlong-audit/audit-common/src/main/java/org/apache/inlong/audit/metric/AbstractMetric.java
  inlong-audit/audit-proxy/src/main/java/org/apache/inlong/audit/config/ConfigConstants.java
  inlong-audit/audit-proxy/src/main/java/org/apache/inlong/audit/metric/MetricDimension.java
  inlong-audit/audit-proxy/src/main/java/org/apache/inlong/audit/metric/MetricItem.java
  inlong-audit/audit-proxy/src/main/java/org/apache/inlong/audit/metric/MetricsManager.java
  inlong-audit/audit-proxy/src/main/java/org/apache/inlong/audit/metric/prometheus/ProxyPrometheusMetric.java
  inlong-audit/audit-proxy/src/main/java/org/apache/inlong/audit/node/Application.java
  inlong-audit/audit-proxy/src/main/java/org/apache/inlong/audit/sink/KafkaSink.java
  inlong-audit/audit-proxy/src/main/java/org/apache/inlong/audit/sink/PulsarSink.java
  inlong-audit/audit-proxy/src/main/java/org/apache/inlong/audit/sink/TubeSink.java
  inlong-audit/audit-proxy/src/main/java/org/apache/inlong/audit/source/ServerMessageHandler.java
  inlong-audit/conf/application.properties
Labels: component/audit

#11343 [INLONG-11302][SDK] Transform SQL supports "JSON_INSERT" function
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/json/JsonInsertFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/json/TestJsonInsertFunction.java
Labels: component/sdk

#11345 [INLONG-11304][SDK] Transform SQL supports "JSON_REPLACE" function
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/json/JsonReplaceFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/json/TestJsonReplaceFunction.java
Labels: component/sdk

#11346 [INLONG-11305][SDK] Transform SQL supports "JSON_SET" function
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/json/JsonSetFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/json/TestJsonSetFunction.java
Labels: component/sdk

#11344 [INLONG-11303][SDK] Transform SQL supports "JSON_REMOVE" function
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/json/JsonArrayAppendFunction.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/json/JsonArrayInsertFunction.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/json/JsonRemoveFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/json/TestJsonArrayAppendFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/json/TestJsonArrayInsertFunction.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/function/json/TestJsonRemoveFunction.java
Labels: component/sdk

#11358 [INLONG-11357][Sort] Add new source metrics for sort-connector-sqlserver-cdc-v1.15
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/sqlserver-cdc/src/main/java/org/apache/inlong/sort/sqlserver/DebeziumSourceFunction.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/sqlserver-cdc/src/main/java/org/apache/inlong/sort/sqlserver/RowDataDebeziumDeserializeSchema.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/sqlserver-cdc/src/main/java/org/apache/inlong/sort/sqlserver/SqlServerSource.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/sqlserver-cdc/src/main/java/org/apache/inlong/sort/sqlserver/SqlServerTableSource.java
Labels: component/sort

#11362 [INLONG-11361][Manager] Support querying heartbeat information based on IP address
  inlong-manager/manager-dao/src/main/resources/mappers/ComponentHeartbeatEntityMapper.xml
Labels: component/manager

#11356 [INLONG-11355][Sort] Add new source metrics for sort-connector-mongodb-cdc-v1.15
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/mongodb-cdc/src/main/java/org/apache/inlong/sort/mongodb/DebeziumSourceFunction.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/mongodb-cdc/src/main/java/org/apache/inlong/sort/mongodb/MongoDBConnectorDeserializationSchema.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/mongodb-cdc/src/main/java/org/apache/inlong/sort/mongodb/MongoDBSource.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/mongodb-cdc/src/main/java/org/apache/inlong/sort/mongodb/MongoDBTableSource.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/mongodb-cdc/src/main/java/org/apache/inlong/sort/mongodb/source/MongoDBSourceBuilder.java
Labels: component/sort

#11367 [INLONG-11366][Manager] Fix the problem of data preview error handling line delimiter
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/datatype/CsvDataTypeOperator.java
Labels: component/manager

#11371 [INLONG-11368][Manager] Issue a StreamSource based on the stream status
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/group/GroupCheckService.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/AbstractSourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/StreamSourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/source/StreamSourceServiceImpl.java
Labels: component/manager

#11374 [INLONG-11372][SDK] Fix LocalTimeFunctionTest may fail in some situation
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/function/temporal/LocalTimeFunction.java
Labels: component/sdk

#11370 [INLONG-11369][Sort] KV split has error when there is a escape char without before & and = in text
  inlong-sort/sort-formats/format-common/src/main/java/org/apache/inlong/sort/formats/util/StringUtils.java
  inlong-sort/sort-formats/format-common/src/test/java/org/apache/inlong/sort/formats/common/StringUtilsTest.java
  inlong-sort/sort-formats/format-row/format-kv/src/test/java/org/apache/inlong/sort/formats/kv/KvUtilsTest.java
Labels: component/sort

#11354 [INLONG-11352][SDK] Add dirty data collection sdk
  inlong-sdk/dirty-data-sdk/README.md
  inlong-sdk/dirty-data-sdk/pom.xml
  inlong-sdk/dirty-data-sdk/src/main/java/org/apache/inlong/sdk/dirtydata/Constants.java
  inlong-sdk/dirty-data-sdk/src/main/java/org/apache/inlong/sdk/dirtydata/DirtyData.java
  inlong-sdk/dirty-data-sdk/src/main/java/org/apache/inlong/sdk/dirtydata/DirtyDataCollector.java
  inlong-sdk/dirty-data-sdk/src/main/java/org/apache/inlong/sdk/dirtydata/DirtyOptions.java
  inlong-sdk/dirty-data-sdk/src/main/java/org/apache/inlong/sdk/dirtydata/DirtySink.java
  inlong-sdk/dirty-data-sdk/src/main/java/org/apache/inlong/sdk/dirtydata/PatternReplaceUtils.java
  inlong-sdk/dirty-data-sdk/src/main/java/org/apache/inlong/sdk/dirtydata/sink/Configure.java
  inlong-sdk/dirty-data-sdk/src/main/java/org/apache/inlong/sdk/dirtydata/sink/InlongSdkDirtySink.java
  inlong-sdk/dirty-data-sdk/src/main/java/org/apache/inlong/sdk/dirtydata/sink/InlongSdkOptions.java
  inlong-sdk/dirty-data-sdk/src/main/java/org/apache/inlong/sdk/dirtydata/sink/LabelUtils.java
  inlong-sdk/pom.xml
Labels: component/sdk

#11376 [INLONG-11375][Manager] Add a restriction that an IP can only belong to one cluster
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/InlongClusterServiceImpl.java
Labels: component/manager

#11378 [INLONG-11377][Manager] Add verification for oceanusBase URL
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/sink/oceanbase/OceanBaseJdbcUtils.java
Labels: component/manager

#11383 [INLONG-11382][SDK] Optimize all columns select of Transform SDK
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/decode/AvroSourceDecoder.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/decode/BsonSourceDecoder.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/decode/CsvSourceDecoder.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/decode/JsonSourceDecoder.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/decode/KvSourceDecoder.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/decode/ParquetSourceDecoder.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/decode/PbSourceDecoder.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/decode/SourceDecoder.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/decode/XmlSourceDecoder.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/decode/YamlSourceDecoder.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/encode/CsvSinkEncoder.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/encode/KvSinkEncoder.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/encode/MapSinkEncoder.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/encode/ParquetSinkEncoder.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/encode/PbSinkEncoder.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/encode/SinkEncoder.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/pojo/FieldInfo.java
  inlong-sdk/transform-sdk/src/main/java/org/apache/inlong/sdk/transform/process/TransformProcessor.java
  inlong-sdk/transform-sdk/src/test/java/org/apache/inlong/sdk/transform/process/processor/TestCsv2StarProcessor.java
Labels: component/sdk

#11385 [INLONG-11384][DataProxy] Adjust the message body check logic for MsgType=5
  inlong-common/src/main/java/org/apache/inlong/common/enums/DataProxyErrCode.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/consts/StatConstants.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/v0msg/CodecTextMsg.java
Labels: component/dataproxy

#11380 [INLONG-11379][Dashboard] Redis sink Properties saving problem
  inlong-dashboard/src/plugins/sinks/defaults/Redis.ts
  inlong-dashboard/src/ui/pages/GroupDetail/DataStorage/DetailModal.tsx
Labels: component/dashboard

#11388 [INLONG-11387][Manager] Support multi-threaded processing agent installation
  inlong-manager/manager-dao/src/main/resources/mappers/InlongClusterNodeEntityMapper.xml
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/InlongClusterServiceImpl.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/heartbeat/HeartbeatManager.java
Labels: component/manager

#11394 [INLONG-11393][Audit] Optimize indicator statistics key for Audit Service
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/service/entities/AuditCycle.java
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/service/metric/MetricsManager.java
Labels: component/audit

#11390 [INLONG-11389][Manager] Installation log display operation time
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/node/AgentClusterNodeInstallOperator.java
Labels: component/manager

#11395 [INLONG-11386][TubeMQ] Use local files to save consumer group offset information
  docker/kubernetes/templates/tubemq-broker-ini-configmap.yaml
  inlong-tubemq/conf/broker.ini
  inlong-tubemq/tubemq-core/src/main/java/org/apache/inlong/tubemq/corebase/TBaseConstants.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/BrokerConfig.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/BrokerServiceServer.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/TubeBroker.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/metadata/BrokerMetadataManager.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/metadata/MetadataManager.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/msgstore/MessageStoreManager.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/msgstore/StoreService.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/offset/DefaultOffsetManager.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/offset/OffsetCsmItem.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/offset/OffsetCsmRecord.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/offset/OffsetHistoryInfo.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/offset/OffsetRecordService.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/offset/OffsetService.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/offset/OffsetStorage.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/offset/OffsetStorageInfo.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/offset/offsetfile/FileOffsetStorage.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/offset/offsetfile/GroupOffsetStgInfo.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/offset/offsetfile/OffsetStgInfo.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/offset/offsetfile/PartStgInfo.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/offset/offsetstorage/ZkOffsetStorage.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/offset/topicpub/OffsetPubItem.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/offset/topicpub/TopicPubInfo.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/stats/BrokerSrvStatsHolder.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/broker/web/BrokerAdminServlet.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/common/TServerConstants.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/common/fielddef/WebFieldDef.java
  inlong-tubemq/tubemq-server/src/main/java/org/apache/inlong/tubemq/server/common/fileconfig/AbstractFileConfig.java
  inlong-tubemq/tubemq-server/src/test/java/org/apache/inlong/tubemq/server/broker/metadata/BrokerMetadataManagerTest.java
Labels: component/tubemq, service/k8s

#11392 [INLONG-11391][Manager] Add openAPI for adding data add tasks
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/inner/client/InlongGroupClient.java
  inlong-manager/manager-client/src/main/java/org/apache/inlong/manager/client/api/service/InlongGroupApi.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/openapi/OpenStreamSourceController.java
Labels: component/manager

#11399 [INLONG-11396][Audit] Add monitoring of pulsar producer creation failure for Audit Proxy
  inlong-audit/audit-proxy/src/main/java/org/apache/inlong/audit/sink/pulsar/PulsarClientService.java
Labels: component/audit

#11398 [INLONG-11397][Manager] Support copy modules.json when installer reinstall
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/node/AgentClusterNodeInstallOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cmd/CommandExecutor.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cmd/CommandExecutorImpl.java
  inlong-manager/manager-web/src/main/resources/application-dev.properties
Labels: component/manager

#11403 [INLONG-11402][Manager] Download the installer to a temporary directory
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cluster/node/AgentClusterNodeInstallOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cmd/CommandExecutor.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/cmd/CommandExecutorImpl.java
Labels: component/manager

#11405 [INLONG-11404][Audit] Optimize the Audit item in the dashboard display
  inlong-audit/audit-sdk/src/main/java/org/apache/inlong/audit/util/AuditManagerUtils.java
Labels: component/audit

#11408 [INLONG-11407][Sort] Remove generated code for InLongBinlog
  inlong-sort/sort-formats/format-common/pom.xml
  inlong-sort/sort-formats/format-common/src/main/java/org/apache/inlong/sort/formats/binlog/InLongBinlog.java
Labels: component/sort

#11409 [INLONG-11406][Audit] Provides an interface for asynchronously flushing Audit data
  inlong-audit/audit-common/src/main/java/org/apache/inlong/audit/utils/NamedThreadFactory.java
  inlong-audit/audit-sdk/src/main/java/org/apache/inlong/audit/AuditReporterImpl.java
  inlong-audit/audit-sdk/src/main/java/org/apache/inlong/audit/send/ProxyManager.java
  inlong-audit/audit-sdk/src/main/java/org/apache/inlong/audit/send/SenderManager.java
Labels: component/audit

#11411 [INLONG-11410][DataProxy] Fixed the bug of excessive packet length when Go SDK receives DataProxy response
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/consts/StatConstants.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/ServerMessageHandler.java
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/v0msg/CodecTextMsg.java
Labels: component/dataproxy

#11418 [INLONG-11415][Manager] Support querying cluster node operation records
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/enums/OperationTarget.java
  inlong-manager/manager-dao/src/main/resources/mappers/OperationLogEntityMapper.xml
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/operationLog/OperationLogRequest.java
  inlong-manager/manager-web/src/main/java/org/apache/inlong/manager/web/controller/InlongClusterController.java
Labels: component/manager

#11427 [INLONG-11426][SDK] Optimize dirty data sdk
  inlong-sdk/dirty-data-sdk/src/main/java/org/apache/inlong/sdk/dirtydata/Constants.java
  inlong-sdk/dirty-data-sdk/src/main/java/org/apache/inlong/sdk/dirtydata/DirtyData.java
  inlong-sdk/dirty-data-sdk/src/main/java/org/apache/inlong/sdk/dirtydata/DirtyDataCollector.java
  inlong-sdk/dirty-data-sdk/src/main/java/org/apache/inlong/sdk/dirtydata/DirtyMessageWrapper.java
  inlong-sdk/dirty-data-sdk/src/main/java/org/apache/inlong/sdk/dirtydata/DirtyOptions.java
  inlong-sdk/dirty-data-sdk/src/main/java/org/apache/inlong/sdk/dirtydata/DirtySink.java
  inlong-sdk/dirty-data-sdk/src/main/java/org/apache/inlong/sdk/dirtydata/InlongSdkDirtySink.java
  inlong-sdk/dirty-data-sdk/src/main/java/org/apache/inlong/sdk/dirtydata/PatternReplaceUtils.java
  inlong-sdk/dirty-data-sdk/src/main/java/org/apache/inlong/sdk/dirtydata/sink/Configure.java
  inlong-sdk/dirty-data-sdk/src/main/java/org/apache/inlong/sdk/dirtydata/sink/InlongSdkDirtySink.java
  inlong-sdk/dirty-data-sdk/src/main/java/org/apache/inlong/sdk/dirtydata/sink/InlongSdkOptions.java
  inlong-sdk/dirty-data-sdk/src/main/java/org/apache/inlong/sdk/dirtydata/sink/LabelUtils.java
Labels: component/sdk

#11424 [INLONG-11416][Dashboard] Data synchronization corrects the display problem of uncommitted data
  inlong-dashboard/src/plugins/sync/common/SyncDefaultInfo.ts
  inlong-dashboard/src/ui/pages/SynchronizeDetail/Info/index.tsx
Labels: component/dashboard

#11414 [INLONG-11412][Agent] Do not report Agent status and file metrics
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/AgentStatusManager.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/FileStaticManager.java
  inlong-agent/agent-core/src/main/java/org/apache/inlong/agent/core/HeartbeatManager.java
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sources/LogFileSource.java
Labels: component/agent

#11428 [INLONG-11425][Dashboard] Data synchronization corrects the display problem of uncommitted data
  inlong-dashboard/src/ui/pages/GroupDetail/DataStream/PreviewModal.tsx
Labels: component/dashboard

#11430 [INLONG-11429][Dashboard] Modify password to support uppercase letters
  inlong-dashboard/src/ui/components/Layout/NavWidget/PasswordModal.tsx
  inlong-dashboard/src/ui/locales/cn.json
  inlong-dashboard/src/ui/locales/en.json
Labels: component/dashboard

#11435 [INLONG-11434][DataProxy] The message body of msgType=5 is incorrect
  inlong-dataproxy/dataproxy-source/src/main/java/org/apache/inlong/dataproxy/source/v0msg/CodecTextMsg.java
Labels: component/dataproxy

#11432 [INLONG-11431][Dashboard] Add copy approval link to my application page
  inlong-dashboard/src/ui/locales/cn.json
  inlong-dashboard/src/ui/locales/en.json
  inlong-dashboard/src/ui/pages/Process/Applies/config.tsx
Labels: component/dashboard

#11437 [INLONG-11187][Dashboard] Agent batch upgrade
  inlong-dashboard/src/ui/locales/cn.json
  inlong-dashboard/src/ui/locales/en.json
  inlong-dashboard/src/ui/pages/Clusters/AgentBatchUpdateModal.tsx
  inlong-dashboard/src/ui/pages/Clusters/HeartBeatModal.tsx
  inlong-dashboard/src/ui/pages/Clusters/NodeEditModal.tsx
  inlong-dashboard/src/ui/pages/Clusters/NodeManage.tsx
  inlong-dashboard/src/ui/pages/Clusters/OperationLogModal.tsx
  inlong-dashboard/src/ui/pages/Clusters/config.tsx
  inlong-dashboard/src/ui/pages/Clusters/index.tsx
  inlong-dashboard/src/ui/pages/Clusters/status.tsx
Labels: component/dashboard

#11443 [INLONG-11442][Audit] Optimize the exception log of Audit SDK
  inlong-audit/audit-sdk/src/main/java/org/apache/inlong/audit/send/SenderManager.java
Labels: component/audit

#11440 [INLONG-11439][CI] Support parallel build
  .github/workflows/ci_build.yml
  .github/workflows/ci_ut.yml
  .github/workflows/ci_ut_flink13.yml
  .github/workflows/ci_ut_flink15.yml
  .github/workflows/ci_ut_flink18.yml
  .github/workflows/codeql_analysis.yml
  inlong-audit/audit-service/pom.xml
  inlong-audit/audit-store/pom.xml
  inlong-sdk/dataproxy-sdk/pom.xml
  inlong-sort/pom.xml
  inlong-sort/sort-dist/pom.xml
  inlong-sort/sort-flink/base/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/doris/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/elasticsearch-6/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/elasticsearch-7/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/filesystem/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/hbase/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/hive/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/hudi/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/iceberg/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/jdbc/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/kafka/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/kudu/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/mongodb-cdc/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/mysql-cdc/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/oracle-cdc/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/postgres-cdc/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/pulsar/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/redis/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/sqlserver-cdc/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/starrocks/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.13/sort-connectors/tubemq/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/elasticsearch-base/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/hbase/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/hudi/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/iceberg/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/jdbc/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/kafka/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/mongodb-cdc/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/mysql-cdc/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/postgres-cdc/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/pulsar/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/redis/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/sqlserver-cdc/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/starrocks/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/tubemq/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.18/sort-connectors/elasticsearch-base/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.18/sort-connectors/elasticsearch6/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.18/sort-connectors/elasticsearch7/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.18/sort-connectors/jdbc/pom.xml
  inlong-sort/sort-flink/sort-flink-v1.18/sort-connectors/pulsar/pom.xml
Labels: component/audit, component/sort, component/sdk, service/ci
