Repository apache/inlong, pull requests merged in 2025-05, with the labels that each got.

#11856 [INLONG-11855][Audit] Audit supports Audit reconciliation at the granularity of inlong group
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/service/cache/DayCache.java
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/service/cache/RealTimeQuery.java
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/service/config/AuditColumn.java
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/service/config/SqlConstants.java
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/service/entities/StatData.java
  inlong-audit/audit-service/src/main/java/org/apache/inlong/audit/service/utils/AuditUtils.java
Labels: component/audit

#11854 [INLONG-11846][Release] Add the 2.2.0 version option for the bug report
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: service/ci

#11862 [INLONG-11861][CI] Compile dataproxy-sdk fail when there is no .git dictionary in the base path
  .licenserc.yaml
  inlong-sdk/dataproxy-sdk/pom.xml
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/utils/ProxyUtils.java
  inlong-sdk/dataproxy-sdk/src/main/resources/sdk.version
  pom.xml
Labels: component/sdk

#11864 [INLONG-11863][SDK] Enhance Event Attribute Validation and Decoding Logic in SDK
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/BaseMsgSenderFactory.java
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/common/EventInfo.java
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/metric/MetaSyncInfo.java
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/metric/MetricDataHolder.java
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/metric/TimeCostInfo.java
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/network/tcp/TcpClientMgr.java
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/network/tcp/codec/DecodeObject.java
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/network/tcp/codec/EncodeObject.java
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/sender/tcp/TcpEventInfo.java
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/utils/ProxyUtils.java
  inlong-sdk/dataproxy-sdk/src/test/java/org/apache/inlong/sdk/dataproxy/ProxyUtilsTest.java
Labels: component/sdk

#11866 [INLONG-11865][SDK] Optimize the acquisition of local valid IP addresses
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-golang/util/ip.go
Labels: component/sdk

#11870 [INLONG-11869][SDK]Obtain a valid ip during initialization
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-golang/dataproxy/options.go
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-golang/util/id.go
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-golang/util/ip.go
Labels: component/sdk

#11872 [INLONG-11871][SDK] Fix init crashes when no IP available
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-golang/util/id.go
Labels: component/sdk
