Repository apache/inlong, pull requests merged in 2025-03, with the labels that each got.

#11791 [INLONG-11790][Manager] CLS uses topic id as the unique key
  inlong-manager/manager-common/src/main/java/org/apache/inlong/manager/common/consts/SourceType.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/sink/cls/ClsOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/sink/cls/ClsResourceOperator.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/cls/ClsSinkOperator.java
Labels: component/manager

#11793 [INLONG-11792][Manager] Support group followers to add sinks
  inlong-manager/manager-dao/src/main/java/org/apache/inlong/manager/dao/entity/InlongGroupEntity.java
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/sink/StreamSinkServiceImpl.java
Labels: component/manager

#11795 [INLONG-11794][Manager] Pulsar source supports setting scan.startup.mode to null
  inlong-manager/manager-pojo/src/main/java/org/apache/inlong/manager/pojo/sort/node/provider/PulsarProvider.java
  inlong-sort/sort-common/src/main/java/org/apache/inlong/sort/protocol/node/extract/PulsarExtractNode.java
Labels: component/manager, component/sort

#11800 [INLONG-11787][SDK] Dataproxy Python SDK lacks mutex header file
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-python/inlong_dataproxy.cpp
Labels: component/sdk

#11801 [INLONG-11799][Dashboard] The page will not refresh after the access groupId is switched
  inlong-dashboard/src/ui/pages/GroupDetail/index.tsx
Labels: component/dashboard

#11804 [INLONG-11803][Sort] Solve the NPE problem when parsing InLongMsg
  inlong-sort/sort-formats/format-rowdata/format-inlongmsg-rowdata-base/src/main/java/org/apache/inlong/sort/formats/inlongmsg/AbstractInLongMsgFormatDeserializer.java
Labels: component/sort

#11806 [INLONG-11805][Sort] Restored Checkpoint Id as part of Tube Connector Session Key
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/tubemq/src/main/java/org/apache/inlong/sort/tubemq/FlinkTubeMQConsumer.java
Labels: component/sort

#11810 [INLONG-11809][SDK] Adjust the default value of separateEventByLF to false
  inlong-sdk/dataproxy-sdk/src/main/java/org/apache/inlong/sdk/dataproxy/sender/tcp/TcpMsgSenderConfig.java
Labels: component/sdk

#11808 [INLONG-11807][Sort] Support exactly metric report in mysql-cdc case
  inlong-sort/sort-flink/base/src/main/java/org/apache/inlong/sort/base/metric/CdcExactlyMetric.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/mysql-cdc/src/main/java/org/apache/inlong/sort/mysql/RowDataDebeziumDeserializeSchema.java
Labels: component/sort

#11814 [INLONG-11813][Agent] Add Dataproxy SDK debug log
  inlong-agent/conf/log4j2.xml
Labels: component/agent
