Repository apache/inlong, pull requests merged in 2025-09, with the labels that each got.

#11975 [INLONG-11974][Sort] Upgrade pulsar sdk version to 4.0.3
  inlong-sort/sort-end-to-end-tests/sort-end-to-end-tests-v1.15/src/test/java/org/apache/inlong/sort/tests/Pulsar2StarRocksTest.java
  inlong-sort/sort-flink/sort-flink-v1.15/sort-connectors/pulsar/pom.xml
Labels: component/sort

#11985 [INLONG-11984][Manager] Fix the problem of Hive table creation statement error
  inlong-manager/manager-service/src/main/java/org/apache/inlong/manager/service/resource/sink/hive/SqlBuilder.java
Labels: component/manager

#11992 [INLONG-11998][Audit] ​​Add the function of fetching Audit Data and Alert Policies from Manager for audit tool
  .idea/icon.png
  inlong-audit/audit-tool/pom.xml
  inlong-audit/audit-tool/src/main/java/org/apache/inlong/audit/tool/AuditToolMain.java
  inlong-audit/audit-tool/src/main/java/org/apache/inlong/audit/tool/DTO/AuditAlertCondition.java
  inlong-audit/audit-tool/src/main/java/org/apache/inlong/audit/tool/DTO/AuditAlertRule.java
  inlong-audit/audit-tool/src/main/java/org/apache/inlong/audit/tool/config/AppConfig.java
  inlong-audit/audit-tool/src/main/java/org/apache/inlong/audit/tool/config/ConfigConstants.java
  inlong-audit/audit-tool/src/main/java/org/apache/inlong/audit/tool/manager/AuditAlertRuleManager.java
  inlong-audit/audit-tool/src/main/java/org/apache/inlong/audit/tool/response/Response.java
  inlong-audit/audit-tool/src/main/java/org/apache/inlong/audit/tool/util/AuditAlertRulePageRequest.java
  inlong-audit/audit-tool/src/main/java/org/apache/inlong/audit/tool/util/HttpUtil.java
  inlong-audit/audit-tool/src/main/java/org/apache/inlong/audit/tool/util/PageRequest.java
  inlong-audit/audit-tool/src/main/java/org/apache/inlong/audit/tool/util/PageResult.java
  inlong-audit/audit-tool/src/main/resources/application.properties
  inlong-audit/audit-tool/src/test/java/org/apache/inlong/tool/AuditAlertRuleManager/AuditAlertRuleManagerTest.java
  inlong-audit/pom.xml
Labels: component/audit

#12001 [INLONG-12000][Audit]Implement API for obtaining audit data in Audit Tool
  inlong-audit/audit-tool/src/main/java/org/apache/inlong/audit/tool/dto/AuditAlertCondition.java
  inlong-audit/audit-tool/src/main/java/org/apache/inlong/audit/tool/dto/AuditAlertRule.java
  inlong-audit/audit-tool/src/main/java/org/apache/inlong/audit/tool/entity/AuditMetric.java
  inlong-audit/audit-tool/src/main/java/org/apache/inlong/audit/tool/mapper/AuditMapper.java
  inlong-audit/audit-tool/src/main/java/org/apache/inlong/audit/tool/metric/AuditMetric.java
  inlong-audit/audit-tool/src/main/java/org/apache/inlong/audit/tool/reporter/MetricReporter.java
  inlong-audit/audit-tool/src/main/java/org/apache/inlong/audit/tool/reporter/PrometheusReporter.java
  inlong-audit/audit-tool/src/main/java/org/apache/inlong/audit/tool/service/AuditMetricService.java
  inlong-audit/audit-tool/src/main/java/org/apache/inlong/audit/tool/util/AuditSQLUtil.java
  inlong-audit/audit-tool/src/main/resources/application.properties
  inlong-audit/audit-tool/src/test/java/org/apache/inlong/tool/AuditAlertRuleManager/AuditAlertRuleManagerTest.java
  inlong-audit/audit-tool/src/test/java/org/apache/inlong/tool/service/AuditMetricServiceTest.java
Labels: component/audit

#12002 [INLONG-11999][Audit] Add alert evaluation and periodic audit check task
  inlong-audit/audit-tool/src/main/java/org/apache/inlong/audit/tool/AuditToolMain.java
  inlong-audit/audit-tool/src/main/java/org/apache/inlong/audit/tool/evaluator/AlertEvaluator.java
  inlong-audit/audit-tool/src/main/java/org/apache/inlong/audit/tool/reporter/OpenTelemetryReporter.java
  inlong-audit/audit-tool/src/main/java/org/apache/inlong/audit/tool/task/AuditCheckTask.java
  inlong-audit/audit-tool/src/test/java/org/apache/inlong/tool/evaluator/AlertEvaluatorTest.java
  inlong-audit/audit-tool/src/test/java/org/apache/inlong/tool/service/AuditMetricServiceTest.java
  inlong-audit/audit-tool/src/test/java/org/apache/inlong/tool/task/AuditCheckTaskTest.java
Labels: component/audit

#11996 [INLONG-11995][Agent] The Agent supports parallel creation of Sender connections to the DataProxy, improving creation efficiency
  inlong-agent/agent-plugins/src/main/java/org/apache/inlong/agent/plugin/sinks/dataproxy/Sender.java
Labels: component/agent

#12008 [INLONG-12007][Sort] SortPulsar supports topic concatenation
  inlong-sort-standalone/sort-standalone-source/src/main/java/org/apache/inlong/sort/standalone/sink/pulsar/PulsarIdConfig.java
Labels: component/sort

#12011 [INLONG-12010][SDK] Fix the problem of truncated string data containing Chinese characters when reporting using Dataproxy Python SDK
  inlong-sdk/dataproxy-sdk-twins/dataproxy-sdk-python/inlong_dataproxy.cpp
Labels: component/sdk
